Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @osrd-project/front-maintainers, @osrd-project/editoast-maintainers, @eckter, @osrd-project/core-maintainers, @osrd-project/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @osrd-project/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @osrd-project/editoast-maintainers
/editoast/openapi.yaml
/chartos                                                 @osrd-project/editoast-maintainers
/python                                                  @osrd-project/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @osrd-project/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @osrd-project/physics
*Integration*.java                                       @osrd-project/physics

front: rollingstockeditor: isolate search filters from rollingstockmodal to use it in rollingstockeditor
  front/public/locales/en/rollingStockEditor.json
  front/public/locales/fr/rollingStockEditor.json
  front/src/applications/rollingStockEditor/components/RollingStockEditorButtons.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorForm.tsx
  front/src/applications/rollingStockEditor/consts.ts
  front/src/applications/rollingStockEditor/json/RollingStockBaseOpenapiSchema.json
  front/src/applications/rollingStockEditor/views/RollingStockEditor.tsx
  front/src/common/RollingStockSelector/RollingStockModal.tsx
  front/src/common/RollingStockSelector/SearchRollingStock.tsx
  front/src/common/RollingStockSelector/__tests__/RollingStockModal.spec.ts
  front/src/styles/scss/applications/rollingStockEditor/_rollingStockForm.scss
Owners: @osrd-project/front-maintainers

front: adapt position and time for scheduledPoints
  front/src/applications/operationalStudies/components/ImportTrainSchedule/generateTrainSchedulesPayload.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/generateTrainSchedulesPayload.tsx
Owners: @osrd-project/front-maintainers

front: newAllowances: fixes on logic & cosmetic behaviours
  front/public/locales/fr/operationalStudies/allowances.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/Allowances.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesActions.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/consts.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/helpers.ts
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
  front/src/styles/scss/_overrideBootstrapSNCF.scss
  front/src/styles/scss/applications/operationalStudies/components/_Allowances.scss
Owners: @osrd-project/front-maintainers

front: manageTrainSchedule: full size map, floating itinerary
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Vias.tsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/styles/scss/applications/operationalStudies/_managetrainschedule.scss
  front/src/styles/scss/common/components/_pathfinding.scss
Owners: @osrd-project/front-maintainers

front: safeWord: add feature with filtering animals
  front/public/locales/en/home/navbar.json
  front/public/locales/fr/operationalStudies/home.json
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/applications/operationalStudies/components/Project/PictureUploader.tsx
  front/src/assets/pictures/misc/cat.svg
  front/src/assets/pictures/misc/cheese.svg
  front/src/assets/pictures/misc/dog.svg
  front/src/assets/pictures/misc/ghibli.svg
  front/src/assets/pictures/misc/meat.svg
  front/src/assets/pictures/misc/panda.svg
  front/src/assets/pictures/misc/redpanda.svg
  front/src/assets/pictures/misc/sncf.svg
  front/src/assets/pictures/misc/teddybear.svg
  front/src/assets/pictures/misc/tiger.svg
  front/src/assets/pictures/misc/train.svg
  front/src/common/BootstrapSNCF/ModalSNCF/style.scss
  front/src/common/BootstrapSNCF/NavBarSNCF.tsx
  front/src/common/UserSettings.tsx
  front/src/reducers/main.ts
  front/src/styles/scss/applications/operationalStudies/components/_AddAndEditProjectModal.scss
  front/src/styles/scss/applications/operationalStudies/components/_AddAndEditScenarioModal.scss
Owners: @osrd-project/front-maintainers

front: motriceRelated: release informations party
  front/package.json
  front/public/pictures/minimotrices/motrice_0.png
  front/public/pictures/minimotrices/motrice_1.png
  front/public/pictures/minimotrices/motrice_10.png
  front/public/pictures/minimotrices/motrice_11.png
  front/public/pictures/minimotrices/motrice_12.png
  front/public/pictures/minimotrices/motrice_13.png
  front/public/pictures/minimotrices/motrice_14.png
  front/public/pictures/minimotrices/motrice_15.png
  front/public/pictures/minimotrices/motrice_16.png
  front/public/pictures/minimotrices/motrice_17.png
  front/public/pictures/minimotrices/motrice_18.png
  front/public/pictures/minimotrices/motrice_19.png
  front/public/pictures/minimotrices/motrice_2.png
  front/public/pictures/minimotrices/motrice_20.png
  front/public/pictures/minimotrices/motrice_21.png
  front/public/pictures/minimotrices/motrice_22.png
  front/public/pictures/minimotrices/motrice_3.png
  front/public/pictures/minimotrices/motrice_4.png
  front/public/pictures/minimotrices/motrice_5.png
  front/public/pictures/minimotrices/motrice_6.png
  front/public/pictures/minimotrices/motrice_7.png
  front/public/pictures/minimotrices/motrice_8.png
  front/public/pictures/minimotrices/motrice_9.png
  front/src/common/MotriceRelated/motriceParty.tsx
  front/src/common/ReleaseInformations/ReleaseInformations.tsx
  front/yarn.lock
Owners: @osrd-project/front-maintainers

front: safeWord: transparent adding & displaying
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
Owners: @osrd-project/front-maintainers

front: kill the rabbit
  front/public/locales/en/home.json
  front/public/locales/en/home/navbar.json
  front/public/locales/fr/home/navbar.json
  front/public/pictures/minimotrices/motrice_22.png
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/applications/stdcm/views/StdcmRequestModal.jsx
  front/src/assets/pictures/KLCW_nc_standard.png
  front/src/assets/pictures/rabbit.svg
  front/src/common/Map/utils.ts
  front/src/common/MotriceRelated/motriceParty.tsx
Owners: @osrd-project/front-maintainers

front: fix pagesize for project, study, scenario
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/applications/operationalStudies/views/Study.tsx
  front/src/common/ScenarioExplorer/ScenarioExplorerModal.tsx
Owners: @osrd-project/front-maintainers

front: newAllowances: fixes on logic & cosmetic behaviours
  front/public/locales/fr/operationalStudies/allowances.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/Allowances.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesActions.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/consts.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/helpers.ts
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
  front/src/styles/scss/_overrideBootstrapSNCF.scss
  front/src/styles/scss/applications/operationalStudies/components/_Allowances.scss
Owners: @osrd-project/front-maintainers

front: newAllowances: fixes on logic & cosmetic behaviours
  front/public/locales/fr/operationalStudies/allowances.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/Allowances.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesActions.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/consts.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/helpers.ts
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
  front/src/styles/scss/_overrideBootstrapSNCF.scss
  front/src/styles/scss/applications/operationalStudies/components/_Allowances.scss
Owners: @osrd-project/front-maintainers

front: project creation tested
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
  front/src/common/BootstrapSNCF/ChipsSNCF.tsx
  front/tests/assets/operationStudies/project.json
  front/tests/assets/operationStudies/scenario.json
  front/tests/assets/operationStudies/study.json
  front/tests/pages/project-page-model.tsx
  front/tests/project-creation.spec.ts
  front/tests/scenario-creation.spec.ts
  front/tests/study-creation.spec.ts
  tests/tests/test_e2e.py
Owners: @osrd-project/front-maintainers, @eckter

front: study creation tested
  front/src/applications/operationalStudies/views/Study.tsx
  front/tests/pages/study-page-model.tsx
  front/tests/study-creation.spec.ts
Owners: @osrd-project/front-maintainers

front: scenario creation workflow tested
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/tests/scenario-creation.spec.ts
Owners: @osrd-project/front-maintainers

editoast: osm-to-railjson: be more tollerant when parsing speeds
  editoast/src/converters/utils.rs
Owners: @osrd-project/editoast-maintainers

editoast: osm-to-railjson: require railway=rail instead of filtering many invalid tags
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/converters/osm_to_railjson.rs
Owners: @osrd-project/editoast-maintainers

editoast: osm-to-railjson: reject operational points without parts
  editoast/src/converters/utils.rs
Owners: @osrd-project/editoast-maintainers

editoast: osm-to-railjson: better handling of very close nodes for angle computation
  editoast/src/converters/utils.rs
Owners: @osrd-project/editoast-maintainers

editoast: osm-to-railjson: better handling of very close nodes for angle computation
  editoast/src/converters/utils.rs
Owners: @osrd-project/editoast-maintainers

editoast: osm-to-railjson: require railway=rail instead of filtering many invalid tags
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/converters/osm_to_railjson.rs
Owners: @osrd-project/editoast-maintainers

editoast: osm-to-railjson: be more tollerant when parsing speeds
  editoast/src/converters/utils.rs
Owners: @osrd-project/editoast-maintainers

editoast: osm-to-railjson: reject operational points without parts
  editoast/src/converters/utils.rs
Owners: @osrd-project/editoast-maintainers

editoast: fix train schedule endpoints
  editoast/src/views/train_schedule/mod.rs
Owners: @osrd-project/editoast-maintainers

editoast: fix train schedule endpoints
  editoast/src/views/train_schedule/mod.rs
Owners: @osrd-project/editoast-maintainers

api: adapt path model
  python/api/osrd_infra/migrations/0037_pathmodel_length.py
  python/api/osrd_infra/models/path.py
  python/api/osrd_infra/views/pathfinding.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
  python/osrd_schemas/osrd_schemas/path.py
Owners: @osrd-project/editoast-maintainers

editoast: adapt path schema
  editoast/openapi.yaml
  editoast/src/core/pathfinding.rs
  editoast/src/fixtures.rs
  editoast/src/models/pathfinding.rs
  editoast/src/schema/mod.rs
  editoast/src/tables.rs
  editoast/src/tests/small_infra/pathfinding_core_response.json
  editoast/src/tests/small_infra/pathfinding_fixture_payload.json
  editoast/src/views/pathfinding/mod.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/editoast-maintainers

core: require infra to be load for simulation
  core/src/main/java/fr/sncf/osrd/api/SignalProjectionEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/StandaloneSimulationEndpoint.java
Owners: @osrd-project/core-maintainers

front: move infra loader style in scenario
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
  front/src/styles/scss/common/components/_pathfinding.scss
Owners: @osrd-project/front-maintainers

front: block stdcm when infra is loading
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
Owners: @osrd-project/front-maintainers

front: block simulations results
  front/public/locales/en/operationalStudies/scenario.json
  front/public/locales/en/simulation.json
  front/public/locales/fr/operationalStudies/scenario.json
  front/public/locales/fr/simulation.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SubmitConfAddTrainSchedule.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SubmitConfUpdateTrainSchedules.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/submitConfUpdateTrainSchedules.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/trainsDurationsIntervals.ts
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
  front/src/applications/operationalStudies/components/Scenario/TimetableManageTrainSchedule.tsx
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/applications/operationalStudies/components/Scenario/getTimetable.jsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/__tests__/ChartHelpers.spec.ts
  front/src/applications/operationalStudies/components/SimulationResults/simulationResultsHelpers.jsx
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/common/Pathfinding/Pathfinding.tsx
  front/src/reducers/osrdsimulation/actions.ts
  front/src/reducers/osrdsimulation/index.ts
  front/src/reducers/osrdsimulation/simulation.js
  front/src/reducers/osrdsimulation/types.ts
Owners: @osrd-project/front-maintainers

editoast: add information to simulation results
  editoast/openapi.yaml
  editoast/src/models/mod.rs
  editoast/src/models/scenario.rs
  editoast/src/models/timetable.rs
  editoast/src/models/train_schedule.rs
  editoast/src/views/timetable.rs
  editoast/src/views/train_schedule/mod.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/editoast-maintainers

tests: adapt timetable tests
  tests/tests/test_timetable.py
Owners: @eckter

fixup! tests: adapt timetable tests
  tests/tests/test_timetable.py
Owners: @eckter

front: importationWithTimes: front is ready
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleModal.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/generateTrainSchedulesPayload.jsx
Owners: @osrd-project/front-maintainers

tests: adapt integration tests
  tests/tests/path.py
  tests/tests/test_pathfinding.py
Owners: @eckter

front: new pathfinding schema: adaptation done
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/Allowances.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Destination.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Origin.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/ModalSuggeredVias.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/setPointIti.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/common/Pathfinding/Pathfinding.tsx
Owners: @osrd-project/front-maintainers

core: adapt path schema
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingResultConverter.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/PathWaypointResult.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/PathfindingResult.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingTest.java
Owners: @osrd-project/core-maintainers

front: fix pagesize for project, study, scenario
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/applications/operationalStudies/views/Study.tsx
  front/src/common/ScenarioExplorer/ScenarioExplorerModal.tsx
Owners: @osrd-project/front-maintainers

front: fix pagesize for project, study, scenario
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/applications/operationalStudies/views/Study.tsx
  front/src/common/ScenarioExplorer/ScenarioExplorerModal.tsx
Owners: @osrd-project/front-maintainers

front: driverTrainSchedul: simple refacto & base OR eco switch
  front/public/locales/en/operationalStudies/drivertrainschedule.json
  front/public/locales/fr/operationalStudies/drivertrainschedule.json
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainSchedule.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleContent.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleHeader.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleHelpers.ts
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleStop.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleStopList.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleTypes.tsx
Owners: @osrd-project/front-maintainers
