Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics

wip Here the SoC should change with time - but problem with accounting for recharge power
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
  core/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

tests: `west_to_south_east_path` fixture and pathfinding test improvements
  .github/workflows/integration_tests.yml
  tests/README.md
  tests/assets/west_to_south_east_parking.png
  tests/conftest.py
  tests/poetry.lock
  tests/pyproject.toml
  tests/tests/__init__.py
  tests/tests/path.py
  tests/tests/test_pathfinding.py
  tests/tests/test_rolling_stock.py
  tests/tests/test_timetable.py
  tests/tests/utils/timetable.py
Owners: @flomonster, @multun, @eckter

e2e: fix intercept
  .github/workflows/integration_tests.yml
  front/tests/playwright-data-test.json
  front/tests/stdcm-page.spec.ts
Owners: @flomonster, @multun, @DGEXSolutions/front-maintainers

editor: fixes issue #3577
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/components/EntitySumUp.tsx
  front/src/applications/editor/components/InfraErrors/InfraErrorsModal.tsx
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/pointEdition/tool-factory.ts
  front/src/applications/editor/tools/routeEdition/components.tsx
  front/src/applications/editor/tools/routeEdition/components/EditRouteMetadata.tsx
  front/src/applications/editor/tools/routeEdition/components/EditRoutePath.tsx
  front/src/applications/editor/tools/routeEdition/components/Endpoints.tsx
  front/src/applications/editor/tools/routeEdition/components/WayPointInput.tsx
  front/src/applications/editor/tools/routeEdition/utils.ts
  front/src/applications/editor/tools/selection/components.tsx
  front/src/applications/editor/tools/selection/tool.tsx
  front/src/applications/editor/tools/switchEdition/components.tsx
  front/src/applications/editor/tools/switchEdition/tool.ts
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/applications/editor/tools/types.ts
  front/src/common/Map/Layers/GeoJSONs.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: cleanup redis-utils module
  editoast/src/map/redis_utils.rs
Owners: @DGEXSolutions/editoast-maintainers

editor: fixes issue #3577
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/components/EntitySumUp.tsx
  front/src/applications/editor/components/InfraErrors/InfraErrorsModal.tsx
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/pointEdition/tool-factory.ts
  front/src/applications/editor/tools/routeEdition/components.tsx
  front/src/applications/editor/tools/routeEdition/components/EditRouteMetadata.tsx
  front/src/applications/editor/tools/routeEdition/components/EditRoutePath.tsx
  front/src/applications/editor/tools/routeEdition/components/Endpoints.tsx
  front/src/applications/editor/tools/routeEdition/components/WayPointInput.tsx
  front/src/applications/editor/tools/routeEdition/utils.ts
  front/src/applications/editor/tools/selection/components.tsx
  front/src/applications/editor/tools/selection/tool.tsx
  front/src/applications/editor/tools/switchEdition/components.tsx
  front/src/applications/editor/tools/switchEdition/tool.ts
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/applications/editor/tools/types.ts
  front/src/common/Map/Layers/GeoJSONs.tsx
Owners: @DGEXSolutions/front-maintainers

editor: fixes issue #3577
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/components/EntitySumUp.tsx
  front/src/applications/editor/components/InfraErrors/InfraErrorsModal.tsx
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/pointEdition/tool-factory.ts
  front/src/applications/editor/tools/routeEdition/components.tsx
  front/src/applications/editor/tools/routeEdition/components/EditRouteMetadata.tsx
  front/src/applications/editor/tools/routeEdition/components/EditRoutePath.tsx
  front/src/applications/editor/tools/routeEdition/components/Endpoints.tsx
  front/src/applications/editor/tools/routeEdition/components/WayPointInput.tsx
  front/src/applications/editor/tools/routeEdition/utils.ts
  front/src/applications/editor/tools/selection/components.tsx
  front/src/applications/editor/tools/selection/tool.tsx
  front/src/applications/editor/tools/switchEdition/components.tsx
  front/src/applications/editor/tools/switchEdition/tool.ts
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/applications/editor/tools/types.ts
  front/src/common/Map/Layers/GeoJSONs.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: add a version to the redis cache
  editoast/src/client/mod.rs
  editoast/src/map/layer_cache.rs
  editoast/src/views/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add a version to the redis cache
  editoast/src/client/mod.rs
  editoast/src/map/layer_cache.rs
  editoast/src/views/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add a version to the redis cache
  editoast/src/client/mod.rs
  editoast/src/map/layer_cache.rs
  editoast/src/views/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: cleanup redis-utils module
  editoast/src/map/redis_utils.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: cleanup redis-utils module
  editoast/src/map/redis_utils.rs
Owners: @DGEXSolutions/editoast-maintainers

front: clean GEV (#3572)
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/enableInteractivity.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/SpaceTimeChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/prepareData.ts
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/sampleData.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/withOSRDData.jsx
  front/src/applications/operationalStudies/components/SimulationResults/simulationResultsConsts.ts
Owners: @DGEXSolutions/front-maintainers

front: clean GEV (#3572)
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/enableInteractivity.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/SpaceTimeChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/prepareData.ts
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/sampleData.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/withOSRDData.jsx
  front/src/applications/operationalStudies/components/SimulationResults/simulationResultsConsts.ts
Owners: @DGEXSolutions/front-maintainers

Make running-time calculation causal (#3467)
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/EnvelopeCursor.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/ConstrainedEnvelopePartBuilder.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/constraints/EnvelopeConstraint.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/constraints/EnvelopePartConstraint.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/constraints/EnvelopePartConstraintType.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/constraints/PositionConstraint.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/constraints/SpeedConstraint.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPath.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/PhysicsPath.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/overlays/EnvelopeMaintain.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/pipelines/MaxEffortEnvelope.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope/ConstraintBuilderTest.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope/EnvelopeShape.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/FlatPath.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

Make running-time calculation causal (#3467)
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/EnvelopeCursor.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/ConstrainedEnvelopePartBuilder.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/constraints/EnvelopeConstraint.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/constraints/EnvelopePartConstraint.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/constraints/EnvelopePartConstraintType.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/constraints/PositionConstraint.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/constraints/SpeedConstraint.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPath.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/PhysicsPath.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/overlays/EnvelopeMaintain.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/pipelines/MaxEffortEnvelope.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope/ConstraintBuilderTest.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope/EnvelopeShape.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/FlatPath.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

front: fix-bug: GEV chart is correctly scaled at initialization
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/withOSRDData.jsx
Owners: @DGEXSolutions/front-maintainers

core: allow parallel routes
  core/src/main/java/fr/sncf/osrd/infra/implementation/reservation/ReservationInfraBuilder.java
Owners: @DGEXSolutions/core-maintainers

osrd-railjson: implement toString for LineString / Point
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/geom/LineString.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/geom/Point.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSInfra.java
  core/osrd-railjson/src/test/java/fr/sncf/osrd/utils/geom/LineStringTest.java
  core/osrd-railjson/src/test/java/fr/sncf/osrd/utils/geom/PointTest.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/PathfindingResult.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMResponse.java
Owners: @DGEXSolutions/core-maintainers

core: build in parallel
  core/gradle.properties
Owners: @DGEXSolutions/core-maintainers

core: allow parallel routes
  core/src/main/java/fr/sncf/osrd/infra/implementation/reservation/ReservationInfraBuilder.java
Owners: @DGEXSolutions/core-maintainers

core: allow parallel routes
  core/src/main/java/fr/sncf/osrd/infra/implementation/reservation/ReservationInfraBuilder.java
Owners: @DGEXSolutions/core-maintainers

osrd-railjson: implement toString for LineString / Point
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/geom/LineString.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/geom/Point.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSInfra.java
  core/osrd-railjson/src/test/java/fr/sncf/osrd/utils/geom/LineStringTest.java
  core/osrd-railjson/src/test/java/fr/sncf/osrd/utils/geom/PointTest.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/PathfindingResult.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMResponse.java
Owners: @DGEXSolutions/core-maintainers

osrd-railjson: implement toString for LineString / Point
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/geom/LineString.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/geom/Point.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSInfra.java
  core/osrd-railjson/src/test/java/fr/sncf/osrd/utils/geom/LineStringTest.java
  core/osrd-railjson/src/test/java/fr/sncf/osrd/utils/geom/PointTest.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/PathfindingResult.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMResponse.java
Owners: @DGEXSolutions/core-maintainers

core: build in parallel
  core/gradle.properties
Owners: @DGEXSolutions/core-maintainers

core: build in parallel
  core/gradle.properties
Owners: @DGEXSolutions/core-maintainers

front: linter: decrease warnings number
  front/package.json
  front/src/applications/editor/tools/routeEdition/utils.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/AddTrainSchedule.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/ModalPathJSONDetail.jsx
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/Study.jsx
  front/src/common/Map/Layers/Signals.tsx
  front/src/common/Map/Settings/MapSettingsSpeedLimits.jsx
  front/src/common/ScenarioExplorator/ScenarioExplorator.tsx
  front/vite.config.ts
Owners: @DGEXSolutions/front-maintainers

front: linter: decrease warnings number
  front/package.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/AddTrainSchedule.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/ModalPathJSONDetail.jsx
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/Study.jsx
  front/src/common/Map/Layers/Signals.tsx
  front/src/common/Map/Settings/MapSettingsSpeedLimits.jsx
  front/src/common/ScenarioExplorator/ScenarioExplorator.tsx
  front/vite.config.ts
Owners: @DGEXSolutions/front-maintainers

front: linter: decrease warnings number
  front/package.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/AddTrainSchedule.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/ModalPathJSONDetail.jsx
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/Study.jsx
  front/src/common/Map/Layers/Signals.tsx
  front/src/common/Map/Settings/MapSettingsSpeedLimits.jsx
  front/src/common/ScenarioExplorator/ScenarioExplorator.tsx
  front/vite.config.ts
Owners: @DGEXSolutions/front-maintainers

multun's review
  CONTRIBUTING.md
Owners: none

tests: Make tests fixtures atomic and add timetable test (#3548)
  front/tests/playwright-data-test.json
  front/tests/stdcm-page.spec.ts
  tests/README.md
  tests/assets/small_infra.png
  tests/assets/west_to_south_east_parking.png
  tests/conftest.py
  tests/poetry.lock
  tests/pyproject.toml
  tests/tests/__init__.py
  tests/tests/infra.py
  tests/tests/path.py
  tests/tests/test_api_root.py
  tests/tests/test_infra.py
  tests/tests/test_pathfinding.py
  tests/tests/test_regressions.py
  tests/tests/test_rolling_stock.py
  tests/tests/test_scenario.py
  tests/tests/test_stdcm.py
  tests/tests/test_timetable.py
  tests/tests/test_with_fuzzer.py
  tests/tests/utils/timetable.py
Owners: @DGEXSolutions/front-maintainers, @eckter

tests: Make tests fixtures atomic and add timetable test (#3548)
  front/tests/playwright-data-test.json
  front/tests/stdcm-page.spec.ts
  tests/README.md
  tests/assets/small_infra.png
  tests/assets/west_to_south_east_parking.png
  tests/conftest.py
  tests/poetry.lock
  tests/pyproject.toml
  tests/tests/__init__.py
  tests/tests/infra.py
  tests/tests/path.py
  tests/tests/test_api_root.py
  tests/tests/test_infra.py
  tests/tests/test_pathfinding.py
  tests/tests/test_regressions.py
  tests/tests/test_rolling_stock.py
  tests/tests/test_scenario.py
  tests/tests/test_stdcm.py
  tests/tests/test_timetable.py
  tests/tests/test_with_fuzzer.py
  tests/tests/utils/timetable.py
Owners: @DGEXSolutions/front-maintainers, @eckter

front: reset GEV graph each time the selected train changes (#3578)
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/withOSRDData.jsx
Owners: @DGEXSolutions/front-maintainers

front: reset GEV graph each time the selected train changes (#3578)
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/withOSRDData.jsx
Owners: @DGEXSolutions/front-maintainers

front: fix-bug: GEV - redraw chart when we resize it
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
Owners: @DGEXSolutions/front-maintainers

front: GEV - refacto height management
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
Owners: @DGEXSolutions/front-maintainers

front: tests: add comments of requests interceptions
  front/tests/operational-studies.spec.ts
  front/tests/stdcm-page.spec.ts
Owners: @DGEXSolutions/front-maintainers

front: Upgrade tests to click navigation and remove vite overlay conditionnally
  front/tests/home-page-model.tsx
  front/tests/home-page.spec.tsx
  front/tests/operational-studies.spec.ts
  front/tests/stdcm-page.spec.ts
Owners: @DGEXSolutions/front-maintainers

front: tests: add more catch routes
  front/tests/assets/operationStudies/scenario.json
  front/tests/assets/operationStudies/study.json
  front/tests/operational-studies.spec.ts
Owners: @DGEXSolutions/front-maintainers

front: remove useless code after rebase
  front/tests/stdcm-page.spec.ts
Owners: @DGEXSolutions/front-maintainers
