Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics

front: fix modal close on route change
  front/src/common/BootstrapSNCF/ModalSNCF/ModalProvider.jsx
Owners: @DGEXSolutions/front-maintainers

front: fix modal close on route change
  front/src/common/BootstrapSNCF/ModalSNCF/ModalProvider.jsx
Owners: @DGEXSolutions/front-maintainers

front: fix history update behaviour on map move (#3415)
  front/src/applications/referenceMap/Map.tsx
  front/src/reducers/map/index.ts
Owners: @DGEXSolutions/front-maintainers

front: fix history update behaviour on map move (#3415)
  front/src/applications/referenceMap/Map.tsx
  front/src/reducers/map/index.ts
Owners: @DGEXSolutions/front-maintainers

front: map: create constante CUSTOM_ATTRIBUTION and use it in map.
  front/src/applications/editor/Map.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/Map.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Map.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
  front/src/applications/referenceMap/Map.tsx
  front/src/common/Map/const.ts
Owners: @DGEXSolutions/front-maintainers

front: map: create constante CUSTOM_ATTRIBUTION and use it in map.
  front/src/applications/editor/Map.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/Map.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Map.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
  front/src/applications/referenceMap/Map.tsx
  front/src/common/Map/const.ts
Owners: @DGEXSolutions/front-maintainers

Fix comments 2
  editoast/src/infra.rs
  editoast/src/schema/rolling_stock.rs
  editoast/src/views/rolling_stocks.rs
Owners: @DGEXSolutions/editoast-maintainers

front: fix: Énergie consommée typo
  front/public/locales/fr/drivertrainschedule.json
Owners: @DGEXSolutions/front-maintainers

front: fix: Énergie consommée typo
  front/public/locales/fr/drivertrainschedule.json
Owners: @DGEXSolutions/front-maintainers

front: fix: Énergie consommée typo
  front/public/locales/fr/drivertrainschedule.json
Owners: @DGEXSolutions/front-maintainers

api: Split TrainSchedule input and output (#3388)
  python/api/osrd_infra/admin.py
  python/api/osrd_infra/migrations/0013_simulationoutput_trainschedule_and_more.py
  python/api/osrd_infra/models/__init__.py
  python/api/osrd_infra/models/simulation_output.py
  python/api/osrd_infra/models/train_schedule.py
  python/api/osrd_infra/serializers.py
  python/api/osrd_infra/tests/test_stdcm.py
  python/api/osrd_infra/views/stdcm.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
  python/api/osrd_infra/views/train_schedule/train_schedule.py
  tests/tests/get_and_update_schedule_result.py
  tests/tests/get_schedule_result.py
  tests/tests/run_simulation.py
  tests/tests/stdcm/empty_timetable.py
  tests/tests/stdcm/utils.py
  tests/tests/utils/schedule.py
Owners: @DGEXSolutions/editoast-maintainers, @eckter

api: Split TrainSchedule input and output (#3388)
  python/api/osrd_infra/admin.py
  python/api/osrd_infra/migrations/0013_simulationoutput_trainschedule_and_more.py
  python/api/osrd_infra/models/__init__.py
  python/api/osrd_infra/models/simulation_output.py
  python/api/osrd_infra/models/train_schedule.py
  python/api/osrd_infra/serializers.py
  python/api/osrd_infra/tests/test_stdcm.py
  python/api/osrd_infra/views/stdcm.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
  python/api/osrd_infra/views/train_schedule/train_schedule.py
  tests/tests/get_and_update_schedule_result.py
  tests/tests/get_schedule_result.py
  tests/tests/run_simulation.py
  tests/tests/stdcm/empty_timetable.py
  tests/tests/stdcm/utils.py
  tests/tests/utils/schedule.py
Owners: @DGEXSolutions/editoast-maintainers, @eckter

editoast: enhancement insert document
  editoast/src/documents.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: enhancement insert document
  editoast/src/documents.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add documents delete endpoint
  editoast/openapi.yaml
  editoast/src/documents.rs
  editoast/src/views/documents.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add post document
  editoast/openapi.yaml
  editoast/src/documents.rs
  editoast/src/views/documents.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add post document
  editoast/openapi.yaml
  editoast/src/documents.rs
  editoast/src/views/documents.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add post document
  editoast/openapi.yaml
  editoast/src/documents.rs
  editoast/src/views/documents.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add documents delete endpoint
  editoast/openapi.yaml
  editoast/src/documents.rs
  editoast/src/views/documents.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add documents delete endpoint
  editoast/openapi.yaml
  editoast/src/documents.rs
  editoast/src/views/documents.rs
Owners: @DGEXSolutions/editoast-maintainers

front: GEV: edit resetChartToggle() to redraw train then reset rotate
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
Owners: @DGEXSolutions/front-maintainers

ci: Fix `osrd_schema.yml` github file
  .github/workflows/osrd_schema.yml
Owners: @flomonster, @multun

ci: correctly name file
  .github/workflows/osrd_schemas.yml
Owners: @flomonster, @multun

osrd_schemas: Line is too long and fix exclude
  python/osrd_schemas/osrd_schemas/rolling_stock.py
  python/osrd_schemas/pyproject.toml
Owners: @DGEXSolutions/editoast-maintainers

correct checkstyle
  core/envelope-sim/src/main/java/fr/sncf/osrd/DriverBehaviour.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/DriverBehaviour.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/Envelope.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/MRSPEnvelopeBuilder.java
  core/src/main/java/fr/sncf/osrd/api/StandaloneSimulationEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/cli/StandaloneSimulationCommand.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/MRSP.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMEdgeBuilder.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMSimulations.java
  core/src/test/java/fr/sncf/osrd/DriverBehaviourTest.java
  core/src/test/java/fr/sncf/osrd/envelope_sim_infra/MRSPTest.java
  core/src/test/java/fr/sncf/osrd/infra/InfraHelpers.java
  core/src/test/java/fr/sncf/osrd/stdcm/BacktrackingTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/DepartureTimeShiftTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/EngineeringAllowanceTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMHelpers.java
Owners: @DGEXSolutions/core-maintainers

front: SimulationResults: edit allowances div to look button-like with background, bold-weight and cursor pointer
  front/src/applications/operationalStudies/views/SimulationResults.tsx
Owners: @DGEXSolutions/front-maintainers

fix comments
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/MRSP.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
Owners: @DGEXSolutions/core-maintainers

fix checkStyle
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/MRSP.java
Owners: @DGEXSolutions/core-maintainers

the comments again
  core/envelope-sim/src/main/java/fr/sncf/osrd/DriverBehaviour.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/Envelope.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
Owners: @DGEXSolutions/core-maintainers

editoast: Print message when OOM happens
  .github/workflows/editoast.yml
  editoast/Cargo.lock
  editoast/Dockerfile
  editoast/src/main.rs
Owners: @flomonster, @multun, @DGEXSolutions/editoast-maintainers

osrd_schemas: Line is too long and fix exclude
  python/osrd_schemas/osrd_schemas/rolling_stock.py
  python/osrd_schemas/pyproject.toml
Owners: @DGEXSolutions/editoast-maintainers

ci: correctly name file
  .github/workflows/osrd_schemas.yml
Owners: @flomonster, @multun

ci: Fix `osrd_schema.yml` github file
  .github/workflows/osrd_schema.yml
Owners: @flomonster, @multun

ci: correctly name file
  .github/workflows/osrd_schemas.yml
Owners: @flomonster, @multun

osrd_schemas: Line is too long and fix exclude
  python/osrd_schemas/osrd_schemas/rolling_stock.py
  python/osrd_schemas/pyproject.toml
Owners: @DGEXSolutions/editoast-maintainers

ci: Fix `osrd_schema.yml` github file
  .github/workflows/osrd_schema.yml
Owners: @flomonster, @multun

Fix comments
  editoast/src/schema/rolling_stock.rs
  editoast/src/views/rolling_stocks.rs
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

Fix comments
  editoast/src/schema/rolling_stock.rs
  editoast/src/views/rolling_stocks.rs
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

editoast: add endpoint to retrieve a rolling stock
  editoast/openapi.yaml
  editoast/src/infra.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/rolling_stock.rs
  editoast/src/tables.rs
  editoast/src/tests/example_rolling_stock.json
  editoast/src/views/electrical_profiles.rs
  editoast/src/views/mod.rs
  editoast/src/views/rolling_stocks.rs
Owners: @DGEXSolutions/editoast-maintainers

Fix comments 2
  editoast/src/infra.rs
  editoast/src/schema/rolling_stock.rs
  editoast/src/views/rolling_stocks.rs
Owners: @DGEXSolutions/editoast-maintainers
