Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @osrd-project/front-maintainers, @osrd-project/editoast-maintainers, @eckter, @osrd-project/core-maintainers, @osrd-project/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @osrd-project/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @osrd-project/editoast-maintainers
/editoast/openapi.yaml
/chartos                                                 @osrd-project/editoast-maintainers
/python                                                  @osrd-project/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @osrd-project/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @osrd-project/physics
*Integration*.java                                       @osrd-project/physics

api: fix example rolling stock
  python/api/static/example_rolling_stock.json
Owners: @osrd-project/editoast-maintainers

api: fix example rolling stock
  python/api/static/example_rolling_stock.json
Owners: @osrd-project/editoast-maintainers

{api, editoast}: projection: compare floats using an ε of 1 mm
  editoast/src/views/train_schedule/projection.rs
  python/api/osrd_infra/views/projection.py
Owners: @osrd-project/editoast-maintainers

{api, editoast}: projection: compare floats using an ε of 1 mm
  editoast/src/views/train_schedule/projection.rs
  python/api/osrd_infra/views/projection.py
Owners: @osrd-project/editoast-maintainers

{api, editoast}: projection: compare floats using an ε of 1 mm
  editoast/src/views/train_schedule/projection.rs
  python/api/osrd_infra/views/projection.py
Owners: @osrd-project/editoast-maintainers

editoast: return 404 on object update unknown id
  editoast/src/schema/operation/delete.rs
  editoast/src/schema/operation/mod.rs
  editoast/src/schema/operation/update.rs
  front/src/applications/editor/tools/selection/tool.tsx
Owners: @osrd-project/editoast-maintainers, @osrd-project/front-maintainers

editoast: return 404 on object update unknown id
  editoast/src/schema/operation/delete.rs
  editoast/src/schema/operation/mod.rs
  editoast/src/schema/operation/update.rs
  front/src/applications/editor/tools/selection/tool.tsx
Owners: @osrd-project/editoast-maintainers, @osrd-project/front-maintainers

front: fix editor's track_edition_state
  front/src/applications/editor/tools/selection/tool.tsx
Owners: @osrd-project/front-maintainers

front: fix editor's track_edition_state
  front/src/applications/editor/tools/selection/tool.tsx
Owners: @osrd-project/front-maintainers

editoast: fix openapi missing trailing slash
  editoast/openapi.yaml
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
Owners: none

editoast: fix openapi missing trailing slash
  editoast/openapi.yaml
  front/src/common/api/osrdEditoastApi.ts
Owners: none

editoast: fix openapi missing trailing slash
  editoast/openapi.yaml
  front/src/common/api/osrdEditoastApi.ts
Owners: none

editoast: fix openapi missing trailing slash
  editoast/openapi.yaml
  front/src/common/api/osrdEditoastApi.ts
Owners: none

front: InputGroupSNCF: typescript & correct parents
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/EmptyLine.tsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/StandardAllowanceDefault.tsx
  front/src/common/BootstrapSNCF/InputGroupSNCF.jsx
  front/src/common/BootstrapSNCF/InputGroupSNCF.tsx
Owners: @osrd-project/front-maintainers

front: OptionsSNCF to tsx
  front/src/common/BootstrapSNCF/OptionsSNCF.jsx
  front/src/common/BootstrapSNCF/OptionsSNCF.tsx
Owners: @osrd-project/front-maintainers

front: switchSNCF: typescript
  front/src/common/BootstrapSNCF/SwitchSNCF/SwitchSNCF.jsx
  front/src/common/BootstrapSNCF/SwitchSNCF/SwitchSNCF.scss
  front/src/common/BootstrapSNCF/SwitchSNCF/SwitchSNCF.tsx
Owners: @osrd-project/front-maintainers

front: newAllowances: first step, add lines & cosmetics
  front/public/locales/fr/operationalStudies/allowances.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/Allowances.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/EngineeringAddLine.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/StandardAddLine.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/common/BootstrapSNCF/InputGroupSNCF.tsx
  front/src/styles/scss/applications/_operationalStudies.scss
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
  front/src/styles/scss/applications/operationalStudies/components/_Allowances.scss
Owners: @osrd-project/front-maintainers

front: tabs: add fullheight property to Tabs
  front/src/common/Tabs.tsx
  front/src/styles/scss/_body.scss
  front/src/styles/scss/common/components/_tabs.scss
Owners: @osrd-project/front-maintainers

front: inputSNCF: add appendOption with group & sm
  front/src/common/BootstrapSNCF/InputGroupSNCF.scss
  front/src/common/BootstrapSNCF/InputSNCF.tsx
Owners: @osrd-project/front-maintainers

editoast: conflicts: fix the n+1 query problem
  editoast/src/views/timetable.rs
Owners: @osrd-project/editoast-maintainers

front: create add-train-page-model and use in test
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Destination.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Origin.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Vias.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/index.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Map.tsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.jsx
  front/src/common/SpeedLimitByTagSelector/SpeedLimitByTagSelector.tsx
  front/tests/assets/operationStudies/test_variables.ts
  front/tests/operational-studies.spec.ts
  front/tests/scenario-page-model.ts
Owners: @osrd-project/front-maintainers

editoast: fix the train_schedule allowances schema
  editoast/src/models/train_schedule.rs
Owners: @osrd-project/editoast-maintainers

front: rollingstockeditor: create RollingStockEditorFormMetadata; add schema for metadata; add button in RollingStockEditor to add a rolling stock
  front/public/locales/fr/rollingStockEditor.json
  front/src/applications/rollingStockEditor/components/RollingStockEditorCard.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorForm.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorFormMetadata.tsx
  front/src/applications/rollingStockEditor/json/RollingStockMetadataOpenApiSchema.json
  front/src/applications/rollingStockEditor/views/RollingStockEditor.tsx
  front/src/styles/scss/applications/rollingStockEditor/_rollingStockForm.scss
Owners: @osrd-project/front-maintainers

front: create add-train-page-model and use in test
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Destination.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Origin.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Vias.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/index.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Map.tsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.jsx
  front/src/common/SpeedLimitByTagSelector/SpeedLimitByTagSelector.tsx
  front/tests/assets/operationStudies/test_variables.ts
  front/tests/operational-studies.spec.ts
  front/tests/scenario-page-model.ts
Owners: @osrd-project/front-maintainers

front: create add-train-page-model and use in test
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Destination.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Origin.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Vias.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/index.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Map.tsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.jsx
  front/src/common/SpeedLimitByTagSelector/SpeedLimitByTagSelector.tsx
  front/tests/assets/operationStudies/test_variables.ts
  front/tests/operational-studies.spec.ts
  front/tests/scenario-page-model.ts
Owners: @osrd-project/front-maintainers

front: fixup for inputgroupSNCF
  front/src/common/BootstrapSNCF/InputGroupSNCF.tsx
Owners: @osrd-project/front-maintainers

front: add tests for infra loader
  front/src/common/Pathfinding/Pathfinding.tsx
  front/src/common/Pathfinding/__tests__/Pathfinding.spec.ts
Owners: @osrd-project/front-maintainers

editoast:osm-to-railjson extract nodes a bit earlier to avoid extra nesting
  editoast/src/converters/utils.rs
Owners: @osrd-project/editoast-maintainers

editoast:osm-to-railjson do not create signals where track end
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
  editoast/src/tests/signal_at_end_of_line.osm.pbf
Owners: @osrd-project/editoast-maintainers

editoast:osm-to-railjson do not create signals where track end
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
  editoast/src/tests/signal_at_end_of_line.osm.pbf
Owners: @osrd-project/editoast-maintainers

editoast:osm-to-railjson extract nodes a bit earlier to avoid extra nesting
  editoast/src/converters/utils.rs
Owners: @osrd-project/editoast-maintainers

core: kt-infra: rename track id to name
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/PathTests.kt
Owners: @osrd-project/core-maintainers

rename "operational point" to "operational point part"
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/PathProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapterTest.kt
Owners: @osrd-project/core-maintainers

Update core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/PathProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/PathProperties.kt
Owners: @osrd-project/core-maintainers

fix array list toString
  core/kt-fast-collections-generator/src/main/kotlin/collections/ArrayList.kt
  core/kt-fast-collections/build.gradle
Owners: @osrd-project/core-maintainers

remove `WithOffset`
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/Path.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/PathImpl.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/PathTests.kt
Owners: @osrd-project/core-maintainers

moved path to new class
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/Path.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/PathProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/PathImpl.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/Projections.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/PathTests.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapterTest.kt
Owners: @osrd-project/core-maintainers

core: kt-infra: add path projection tools
  core/kt-fast-collections-generator/src/main/kotlin/collections/ArrayList.kt
  core/kt-fast-collections/build.gradle
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/PathProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/Projections.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeMap.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeMapImpl.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/indexing/DirStaticIdx.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/units/Distance.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/units/DistanceRangeMap.kt
  core/kt-osrd-utils/src/test/kotlin/fr/sncf/osrd/utils/TestDistanceRangeMap.kt
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSOperationalPoint.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSOperationalPointPart.java
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapterTest.kt
Owners: @osrd-project/core-maintainers

add `distanceRangeMapOf`
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/PathImpl.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeMap.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeMapImpl.kt
  core/kt-osrd-utils/src/test/kotlin/fr/sncf/osrd/utils/TestDistanceRangeMap.kt
Owners: @osrd-project/core-maintainers

core: kt-infra: move directed chunk getter to extension function
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/PathTests.kt
Owners: @osrd-project/core-maintainers
