Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

front: power_restrictions: add selector
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerNotchSelector.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.jsx
  front/src/reducers/osrdconf/selectors.ts
Owners: @DGEXSolutions/front-maintainers

front: correct dependencies and resize func event listener assignement
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
Owners: @DGEXSolutions/front-maintainers

front : display powerNotch keys
  front/public/locales/fr/rollingstock.json
  front/src/common/RollingStockSelector/RollingStockCardDetail.jsx
Owners: @DGEXSolutions/front-maintainers

front: rollingstock_card: power_restrictions minor fix
  front/public/locales/fr/rollingstock.json
  front/src/common/RollingStockSelector/RollingStockCardDetail.jsx
Owners: @DGEXSolutions/front-maintainers

front: rollingstock_card: power_restrictions minor fix
  front/public/locales/fr/rollingstock.json
  front/src/common/RollingStockSelector/RollingStockCardDetail.jsx
Owners: @DGEXSolutions/front-maintainers

front : display powerNotch keys
  front/public/locales/fr/rollingstock.json
  front/src/common/RollingStockSelector/RollingStockCardDetail.jsx
Owners: @DGEXSolutions/front-maintainers

front: GEV - fix bug when resize the chart (#3616)
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
Owners: @DGEXSolutions/front-maintainers

front: GEV - fix bug when resize the chart (#3616)
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
Owners: @DGEXSolutions/front-maintainers

editoast: migrate scenario model
  editoast/src/models/mod.rs
  editoast/src/models/scenario.rs
  editoast/src/models/timetable.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tables.rs
  editoast/src/views/mod.rs
  editoast/src/views/scenario.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add post scenario endpoint
  editoast/openapi.yaml
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/tables.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

core: mareco: rework accelerating slope detection
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/allowances/mareco_impl/AcceleratingSlopeCoast.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_utils/DistanceAverage.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/AllowanceTests.java
Owners: @DGEXSolutions/core-maintainers

core: mareco: rework accelerating slope detection
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/allowances/mareco_impl/AcceleratingSlopeCoast.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_utils/DistanceAverage.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/AllowanceTests.java
Owners: @DGEXSolutions/core-maintainers

core: mareco: add small tolerance to coast end position
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/allowances/mareco_impl/CoastingGenerator.java
Owners: @DGEXSolutions/core-maintainers

core: mareco: add small tolerance to coast end position
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/allowances/mareco_impl/CoastingGenerator.java
Owners: @DGEXSolutions/core-maintainers

front: fix up rollingstock crash with powerprofiles
  front/src/common/RollingStockSelector/RollingStockCardDetail.jsx
Owners: @DGEXSolutions/front-maintainers

front: fix-bug: stdcm - resize graph container when resize the graph
  front/src/applications/stdcm/views/OSRDStdcmResults.jsx
Owners: @DGEXSolutions/front-maintainers

front: GET: edit rotate condition for y attr()
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/enableInteractivity.jsx
Owners: @DGEXSolutions/front-maintainers

front: GET: edit rotate condition for y attr()
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/enableInteractivity.jsx
Owners: @DGEXSolutions/front-maintainers

front: Fix commentsPR
  front/src/common/Map/Search/MapSearchStation.jsx
Owners: @DGEXSolutions/front-maintainers

up to date qualesi sim
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
  core/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

front: fix up rollingstock crash with powerprofiles (#3634)
  front/src/common/RollingStockSelector/RollingStockCardDetail.jsx
Owners: @DGEXSolutions/front-maintainers

front: fix up rollingstock crash with powerprofiles (#3634)
  front/src/common/RollingStockSelector/RollingStockCardDetail.jsx
Owners: @DGEXSolutions/front-maintainers

front: refacto search station
  front/src/common/Map/Search/MapSearchStation.jsx
Owners: @DGEXSolutions/front-maintainers

front: refacto search station
  front/src/common/Map/Search/MapSearchStation.jsx
Owners: @DGEXSolutions/front-maintainers

editoast: Migrate timetable endpoints to editoast
  editoast/openapi.yaml
  editoast/src/models/mod.rs
  editoast/src/models/timetable.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tables.rs
  editoast/src/views/mod.rs
  editoast/src/views/timetable.rs
  editoast/src/views/train_schedule.rs
  front/src/applications/operationalStudies/components/SimulationResults/simulationResultsConsts.ts
  front/src/applications/stdcm/views/StdcmRequestModal.jsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/reducers/osrdsimulation/simulation.js
  python/api/openapi.yaml
  tests/tests/test_timetable.py
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers, @eckter

front: fix error when no project, study or scenario ID with navigation return
  front/src/applications/operationalStudies/views/Project.jsx
  front/src/applications/operationalStudies/views/Scenario.jsx
  front/src/applications/operationalStudies/views/Study.jsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: add electricalProfiles checkbox
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ElectricalProfiles.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/TrainSettings.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/assets/pictures/components/electricalProfiles.svg
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdconf/selectors.ts
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: rename & passing AddOrEditTrainSchedule to TSX
  front/src/applications/operationalStudies/components/ManageTrainSchedule/AddOrEditTrainSchedule.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/AddOrEditTrainSchedule.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/AddOrEditTrainSchedule/formatConf.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/AddOrEditTrainSchedule/trainNameHelper.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/AddTrainLabels.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances.tsx
  front/src/applications/operationalStudies/components/Scenario/Timetable.jsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.jsx
  front/src/reducers/osrdsimulation/simulation.js
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: correct conflicts from rebase
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/submitConf.ts
  front/src/applications/operationalStudies/consts.ts
  front/src/reducers/osrdconf/index.ts
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: rename & passing AddOrEditTrainSchedule to TSX
  front/src/applications/operationalStudies/components/ManageTrainSchedule/AddOrEditTrainSchedule.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/AddOrEditTrainSchedule.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/AddOrEditTrainSchedule/formatConf.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/AddOrEditTrainSchedule/trainNameHelper.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/AddTrainLabels.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances.tsx
  front/src/applications/operationalStudies/components/Scenario/Timetable.jsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.jsx
  front/src/reducers/osrdsimulation/simulation.js
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: add electricalProfiles checkbox
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ElectricalProfiles.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/TrainSettings.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/assets/pictures/components/electricalProfiles.svg
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdconf/selectors.ts
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: itinerary gets typescript
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Origin.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Vias.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/index.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/ModalSuggeredVias.jsx
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/common/Pathfinding/Pathfinding.tsx
  front/src/reducers/osrdconf/index.ts
  front/src/utils/pathfinding.ts
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: remove ugly getOSRDconf
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/TrainSettings.tsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: locales corrections
  front/public/locales/fr/operationalStudies/scenario.json
  front/public/locales/fr/simulation.json
  front/src/applications/operationalStudies/components/Scenario/Timetable.jsx
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: minor code fixes
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/submitConf.ts
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: rename type to mapTrackSourcesType more clear
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/ModalSuggeredVias.tsx
  front/src/common/Pathfinding/Pathfinding.tsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: itinerary gets typescript
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Origin.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Vias.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/index.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/ModalSuggeredVias.jsx
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/common/Pathfinding/Pathfinding.tsx
  front/src/reducers/osrdconf/index.ts
  front/src/utils/pathfinding.ts
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: light refacto & ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/AddOrEditTrainSchedule.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/TrainSettings.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/submitConf.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/trainNameHelper.js
  front/src/applications/operationalStudies/components/Scenario/Timetable.jsx
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdconf/selectors.ts
  front/src/reducers/osrdsimulation/simulation.js
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: light refacto & ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/AddOrEditTrainSchedule.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/TrainSettings.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/submitConf.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/trainNameHelper.js
  front/src/applications/operationalStudies/components/Scenario/Timetable.jsx
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdconf/selectors.ts
  front/src/reducers/osrdsimulation/simulation.js
Owners: @DGEXSolutions/front-maintainers

front: remove fullscreen button by default, typescripting mapbuttons
  front/src/applications/customget/views/CustomGET.jsx
  front/src/applications/editor/Editor.tsx
  front/src/applications/referenceMap/Map.tsx
  front/src/common/Map/Buttons/MapButtons.tsx
  front/src/common/Map/const.ts
Owners: @DGEXSolutions/front-maintainers

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics
