Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @osrd-project/front-maintainers, @osrd-project/editoast-maintainers, @eckter, @osrd-project/core-maintainers, @osrd-project/physics

core: store dead_sections as rangemap and not rangeset
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/electrification/Electrification.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/electrification/Neutral.java
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/ElectrificationConstraints.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/DeadSection.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/TrackEdge.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/directed/TrackRangeView.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/SwitchBranchImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/TrackSectionImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/UndirectedInfraBuilder.java
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingElectrificationTest.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/constraints/ElectrificationConstraintsTest.java
Owners: @osrd-project/core-maintainers

core: first sim of dead_sections + add to sim result
  core/openapi.yaml
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/EnvelopeTrainPath.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ElectrificationConditionsRange.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ElectrificationRange.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/PowerRestrictionRange.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/StandaloneSimResult.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
Owners: @osrd-project/core-maintainers, @osrd-project/editoast-maintainers

editoast + api: add dead_sections_on_path to sim results
  editoast/openapi.yaml
  editoast/src/core/simulation.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tables.rs
  editoast/src/views/train_schedule/mod.rs
  editoast/src/views/train_schedule/simulation_report.rs
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/openapi.yaml
  python/api/osrd_infra/migrations/0038_update_simulationoutput.py
  python/api/osrd_infra/models/simulation_output.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
Owners: @osrd-project/editoast-maintainers

front: bpcc displayed in gev chart
  editoast/openapi.yaml
  front/public/locales/en/simulation.json
  front/public/locales/fr/simulation.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/__tests__/ChartHelpers.spec.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawElectricalProfile.jsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawPowerRestriction.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/prepareData.ts
  front/src/applications/operationalStudies/consts.ts
  front/src/common/api/osrdEditoastApi.ts
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdconf/selectors.ts
  front/src/reducers/osrdsimulation/index.ts
  front/src/reducers/osrdsimulation/types.ts
  front/tests/assets/operationStudies/train.json
  front/tests/assets/operationStudies/trainExample.ts
Owners: @osrd-project/front-maintainers

front: project, study, scenario: pagesize to 1000 (missing)
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/applications/operationalStudies/views/Study.tsx
Owners: @osrd-project/front-maintainers

front: allowances: remove capacity_speed_limit not needed
  editoast/openapi.yaml
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/consts.ts
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/front-maintainers

front: scenario & traindriverschedule css fixes
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
  front/src/styles/scss/applications/operationalStudies/_simulationresults.scss
  front/src/styles/scss/applications/operationalStudies/components/_driverTrainSchedule.scss
Owners: @osrd-project/front-maintainers

editoast + api: add dead_sections_on_path to sim results
  editoast/openapi.yaml
  editoast/src/core/simulation.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tables.rs
  editoast/src/views/train_schedule/mod.rs
  editoast/src/views/train_schedule/simulation_report.rs
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/openapi.yaml
  python/api/osrd_infra/migrations/0038_update_simulationoutput.py
  python/api/osrd_infra/models/simulation_output.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
Owners: @osrd-project/editoast-maintainers

front: bpcc displayed in gev chart
  editoast/openapi.yaml
  front/public/locales/en/simulation.json
  front/public/locales/fr/simulation.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/__tests__/ChartHelpers.spec.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawElectricalProfile.jsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawPowerRestriction.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/prepareData.ts
  front/src/applications/operationalStudies/consts.ts
  front/src/common/api/osrdEditoastApi.ts
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdconf/selectors.ts
  front/src/reducers/osrdsimulation/index.ts
  front/src/reducers/osrdsimulation/types.ts
  front/tests/assets/operationStudies/train.json
  front/tests/assets/operationStudies/trainExample.ts
Owners: @osrd-project/front-maintainers

core: store dead_sections as rangemap and not rangeset
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/electrification/Electrification.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/electrification/Neutral.java
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/ElectrificationConstraints.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/DeadSection.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/TrackEdge.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/directed/TrackRangeView.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/SwitchBranchImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/TrackSectionImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/UndirectedInfraBuilder.java
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingElectrificationTest.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/constraints/ElectrificationConstraintsTest.java
Owners: @osrd-project/core-maintainers

core: store dead_sections as rangemap and not rangeset
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/electrification/Electrification.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/electrification/Neutral.java
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/ElectrificationConstraints.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/DeadSection.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/TrackEdge.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/directed/TrackRangeView.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/SwitchBranchImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/TrackSectionImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/UndirectedInfraBuilder.java
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingElectrificationTest.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/constraints/ElectrificationConstraintsTest.java
Owners: @osrd-project/core-maintainers

front: bpcc displayed in gev chart
  editoast/openapi.yaml
  front/public/locales/en/simulation.json
  front/public/locales/fr/simulation.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/__tests__/ChartHelpers.spec.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawElectricalProfile.jsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawPowerRestriction.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/prepareData.ts
  front/src/applications/operationalStudies/consts.ts
  front/src/common/api/osrdEditoastApi.ts
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdconf/selectors.ts
  front/src/reducers/osrdsimulation/index.ts
  front/src/reducers/osrdsimulation/types.ts
  front/tests/assets/operationStudies/train.json
  front/tests/assets/operationStudies/trainExample.ts
Owners: @osrd-project/front-maintainers

core: first sim of dead_sections + add to sim result
  core/openapi.yaml
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/EnvelopeTrainPath.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ElectrificationConditionsRange.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ElectrificationRange.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/PowerRestrictionRange.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/StandaloneSimResult.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
Owners: @osrd-project/core-maintainers, @osrd-project/editoast-maintainers

core: first sim of dead_sections + add to sim result
  core/openapi.yaml
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/EnvelopeTrainPath.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ElectrificationConditionsRange.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ElectrificationRange.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/PowerRestrictionRange.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/StandaloneSimResult.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
Owners: @osrd-project/core-maintainers, @osrd-project/editoast-maintainers

editoast + api: add dead_sections_on_path to sim results
  editoast/openapi.yaml
  editoast/src/core/simulation.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tables.rs
  editoast/src/views/train_schedule/mod.rs
  editoast/src/views/train_schedule/simulation_report.rs
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/openapi.yaml
  python/api/osrd_infra/migrations/0038_update_simulationoutput.py
  python/api/osrd_infra/models/simulation_output.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
Owners: @osrd-project/editoast-maintainers

front: fix the selection of waypoints on the map for the pathfinding
  front/src/common/Pathfinding/Pathfinding.tsx
Owners: @osrd-project/front-maintainers

core: fix nullPointerException on an infra withoutdetectors (#4504)
  core/src/main/java/fr/sncf/osrd/infra/implementation/reservation/DetectionSectionBuilder.java
  core/src/test/java/fr/sncf/osrd/infra/reservation/DetectionSectionBuilderTests.java
  python/railjson_generator/railjson_generator/scripts/examples/circle_infra.py
Owners: @osrd-project/core-maintainers, @osrd-project/editoast-maintainers

core: fix nullPointerException on an infra withoutdetectors (#4504)
  core/src/main/java/fr/sncf/osrd/infra/implementation/reservation/DetectionSectionBuilder.java
  core/src/test/java/fr/sncf/osrd/infra/reservation/DetectionSectionBuilderTests.java
  python/railjson_generator/railjson_generator/scripts/examples/circle_infra.py
Owners: @osrd-project/core-maintainers, @osrd-project/editoast-maintainers

front: scenario & traindriverschedule css fixes
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
  front/src/styles/scss/applications/operationalStudies/_simulationresults.scss
  front/src/styles/scss/applications/operationalStudies/components/_driverTrainSchedule.scss
Owners: @osrd-project/front-maintainers

front: allowances: remove capacity_speed_limit not needed
  editoast/openapi.yaml
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/consts.ts
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/front-maintainers

front: scenario & traindriverschedule css fixes
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
  front/src/styles/scss/applications/operationalStudies/_simulationresults.scss
  front/src/styles/scss/applications/operationalStudies/components/_driverTrainSchedule.scss
Owners: @osrd-project/front-maintainers

front: project, study, scenario: pagesize to 1000 (missing)
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/applications/operationalStudies/views/Study.tsx
Owners: @osrd-project/front-maintainers

front: project, study, scenario: pagesize to 1000 (missing)
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/applications/operationalStudies/views/Study.tsx
Owners: @osrd-project/front-maintainers

front: allowances: remove capacity_speed_limit not needed
  editoast/openapi.yaml
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/consts.ts
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/front-maintainers

front: fix the selection of waypoints on the map for the pathfinding
  front/src/common/Pathfinding/Pathfinding.tsx
Owners: @osrd-project/front-maintainers

front: fix the selection of waypoints on the map for the pathfinding
  front/src/common/Pathfinding/Pathfinding.tsx
Owners: @osrd-project/front-maintainers

front: rip the rabbit
  front/src/applications/stdcm/views/StdcmRequestModal.jsx
Owners: @osrd-project/front-maintainers

editoast: fix imported timetable get endpoint
  editoast/src/models/timetable.rs
  tests/tests/test_timetable.py
Owners: @osrd-project/editoast-maintainers, @eckter

editoast: fix lpv panels duplicated
  editoast/src/views/layers/mvt_utils.rs
Owners: @osrd-project/editoast-maintainers

editoast: fix imported timetable get endpoint
  editoast/src/models/timetable.rs
  tests/tests/test_timetable.py
Owners: @osrd-project/editoast-maintainers, @eckter

editoast: fix imported timetable get endpoint
  editoast/src/models/timetable.rs
  tests/tests/test_timetable.py
Owners: @osrd-project/editoast-maintainers, @eckter

front: only fetch simulation results if train_schedule_summaries is not empty
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleModal.jsx
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
Owners: @osrd-project/front-maintainers

editoast: fix lpv panels duplicated
  editoast/src/views/layers/mvt_utils.rs
Owners: @osrd-project/editoast-maintainers

editoast: fix lpv panels duplicated
  editoast/src/views/layers/mvt_utils.rs
Owners: @osrd-project/editoast-maintainers

front: refacto test study-creation
  front/tests/002-project-creation.spec.ts
  front/tests/003-study-creation.spec.ts
  front/tests/pages/project-page-model.tsx
  front/tests/pages/study-page-model.tsx
Owners: @osrd-project/front-maintainers

front: refacto test scenario-creation
  front/tests/002-project-creation.spec.ts
  front/tests/003-study-creation.spec.ts
  front/tests/004-scenario-creation.spec.ts
  front/tests/005-operational-studies.spec.ts
  front/tests/assets/operationStudies/scenario.json
  front/tests/assets/operationStudies/test_variables.ts
  front/tests/common-page-model.ts
  front/tests/pages/common-page-model.ts
  front/tests/pages/project-page-model.tsx
  front/tests/pages/scenario-page-model.ts
  front/tests/pages/study-page-model.tsx
  front/tests/rollingstock-modal-model.ts
  front/tests/scenario-page-model.ts
Owners: @osrd-project/front-maintainers

front: add test delete project
  front/tests/002-project-creation.spec.ts
  front/tests/003-study-creation.spec.ts
  front/tests/004-scenario-creation.spec.ts
  front/tests/005-operational-studies.spec.ts
  front/tests/006-stdcm-page.spec.ts
  front/tests/007-project-delete.spec.ts
  front/tests/pages/project-page-model.ts
  front/tests/pages/scenario-page-model.ts
  front/tests/pages/study-page-model.ts
Owners: @osrd-project/front-maintainers

front: refacto test project-creation
  front/tests/002-project-creation.spec.ts
  front/tests/004-scenario-creation.spec.ts
  front/tests/pages/project-page-model.tsx
Owners: @osrd-project/front-maintainers

front: add test delete project
  front/tests/002-project-creation.spec.ts
  front/tests/003-study-creation.spec.ts
  front/tests/004-scenario-creation.spec.ts
  front/tests/005-operational-studies.spec.ts
  front/tests/006-stdcm-page.spec.ts
  front/tests/007-project-delete.spec.ts
  front/tests/pages/project-page-model.ts
  front/tests/pages/scenario-page-model.ts
  front/tests/pages/study-page-model.ts
Owners: @osrd-project/front-maintainers

front: operationnal studies creation workflow tested
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/applications/operationalStudies/views/Study.tsx
  front/src/common/BootstrapSNCF/ChipsSNCF.tsx
  front/tests/0-project-creation.spec.ts
  front/tests/1-study-creation.spec.ts
  front/tests/2-scenario-creation.spec.ts
  front/tests/assets/operationStudies/project.json
  front/tests/assets/operationStudies/scenario.json
  front/tests/assets/operationStudies/study.json
  front/tests/pages/project-page-model.tsx
  front/tests/pages/study-page-model.tsx
Owners: @osrd-project/front-maintainers

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @osrd-project/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @osrd-project/editoast-maintainers
/editoast/openapi.yaml
/chartos                                                 @osrd-project/editoast-maintainers
/python                                                  @osrd-project/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @osrd-project/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @osrd-project/physics
*Integration*.java                                       @osrd-project/physics
