Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DGEXSolutions/osrd-backend-maintainers, @flomonster, @multun, @bgiuliana, @eckter, @DGEXSolutions/osrd-physics, @pguenezan, @theophanevie

interactive: generate tst
  src/main/java/fr/sncf/osrd/infra_state/regulator/TrainSuccessionTable.java
  src/main/java/fr/sncf/osrd/interactive/InteractiveSimulation.java
  src/main/java/fr/sncf/osrd/interactive/ServerMessage.java
  src/main/java/fr/sncf/osrd/interactive/SessionState.java
  src/main/java/fr/sncf/osrd/interactive/client_messages/ClientMessage.java
  src/main/java/fr/sncf/osrd/interactive/client_messages/GetTrainDelaysMessage.java
  src/main/java/fr/sncf/osrd/interactive/client_messages/GetTrainSuccessionTablesMessage.java
  src/python_interactive_client/osrd_interactive.py
  src/python_interactive_client/test.py
Owners: @flomonster, @bgiuliana, @DGEXSolutions/osrd-backend-maintainers, @multun

bootstrap: adapted inputs
  src/common/BootstrapSNCF/InputGroupSNCF.js
  src/common/BootstrapSNCF/InputSNCF.js
Owners: none

margins: first try with back
  public/locales/fr/margins.json
  src/applications/osrd/views/OSRDSimulation/Margins.js
Owners: none

interactive: generate tst
  src/main/java/fr/sncf/osrd/infra_state/regulator/TrainSuccessionTable.java
  src/main/java/fr/sncf/osrd/interactive/InteractiveSimulation.java
  src/main/java/fr/sncf/osrd/interactive/ServerMessage.java
  src/main/java/fr/sncf/osrd/interactive/SessionState.java
  src/main/java/fr/sncf/osrd/interactive/client_messages/ClientMessage.java
  src/main/java/fr/sncf/osrd/interactive/client_messages/GetTrainDelaysMessage.java
  src/main/java/fr/sncf/osrd/interactive/client_messages/GetTrainSuccessionTablesMessage.java
  src/python_interactive_client/osrd_interactive.py
  src/python_interactive_client/test.py
Owners: @flomonster, @bgiuliana, @DGEXSolutions/osrd-backend-maintainers, @multun

interactive: generate tst
  src/main/java/fr/sncf/osrd/infra_state/regulator/TrainSuccessionTable.java
  src/main/java/fr/sncf/osrd/interactive/InteractiveSimulation.java
  src/main/java/fr/sncf/osrd/interactive/ServerMessage.java
  src/main/java/fr/sncf/osrd/interactive/SessionState.java
  src/main/java/fr/sncf/osrd/interactive/client_messages/ClientMessage.java
  src/main/java/fr/sncf/osrd/interactive/client_messages/GetTrainDelaysMessage.java
  src/main/java/fr/sncf/osrd/interactive/client_messages/GetTrainSuccessionTablesMessage.java
  src/python_interactive_client/osrd_interactive.py
  src/python_interactive_client/test.py
Owners: @flomonster, @bgiuliana, @DGEXSolutions/osrd-backend-maintainers, @multun

interactive: add update tst
  src/main/java/fr/sncf/osrd/interactive/InteractiveSimulation.java
  src/main/java/fr/sncf/osrd/interactive/ServerMessage.java
  src/main/java/fr/sncf/osrd/interactive/client_messages/ClientMessage.java
  src/main/java/fr/sncf/osrd/interactive/client_messages/UpdateTrainSuccessionTablesMessage.java
Owners: @flomonster, @multun, @DGEXSolutions/osrd-backend-maintainers

interactive: add update tst
  src/main/java/fr/sncf/osrd/interactive/InteractiveSimulation.java
  src/main/java/fr/sncf/osrd/interactive/ServerMessage.java
  src/main/java/fr/sncf/osrd/interactive/client_messages/ClientMessage.java
  src/main/java/fr/sncf/osrd/interactive/client_messages/UpdateTrainSuccessionTablesMessage.java
Owners: @flomonster, @multun, @DGEXSolutions/osrd-backend-maintainers

interactive: add update tst
  src/main/java/fr/sncf/osrd/interactive/InteractiveSimulation.java
  src/main/java/fr/sncf/osrd/interactive/ServerMessage.java
  src/main/java/fr/sncf/osrd/interactive/client_messages/ClientMessage.java
  src/main/java/fr/sncf/osrd/interactive/client_messages/UpdateTrainSuccessionTablesMessage.java
Owners: @flomonster, @multun, @DGEXSolutions/osrd-backend-maintainers

interactive: add update tst example
  src/python_interactive_client/osrd_interactive.py
  src/python_interactive_client/test.py
Owners: @flomonster, @multun

train: add exception if the train reach a red signal
  src/main/java/fr/sncf/osrd/train/Train.java
  src/test/java/fr/sncf/osrd/simulation/TrainReactionTest.java
  src/test/java/fr/sncf/osrd/train/ReservationsTests.java
Owners: @eckter, @multun, @DGEXSolutions/osrd-backend-maintainers

train: add exception if the train reach a red signal
  src/main/java/fr/sncf/osrd/train/Train.java
  src/test/java/fr/sncf/osrd/simulation/TrainReactionTest.java
  src/test/java/fr/sncf/osrd/train/ReservationsTests.java
Owners: @eckter, @multun, @DGEXSolutions/osrd-backend-maintainers

rjs: add parameters in schedules to specify previous train
  src/main/java/fr/sncf/osrd/railjson/parser/RJSSimulationParser.java
  src/main/java/fr/sncf/osrd/railjson/parser/RJSTrainScheduleParser.java
  src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSTrainSchedule.java
  src/main/java/fr/sncf/osrd/train/TrainSchedule.java
  src/main/java/fr/sncf/osrd/train/events/TrainCreatedEvent.java
Owners: @DGEXSolutions/osrd-backend-maintainers, @eckter, @multun

trains: schedule the creation of the next train
  src/main/java/fr/sncf/osrd/railjson/parser/RJSTrainScheduleParser.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/SpeedControllerGenerator.java
  src/main/java/fr/sncf/osrd/train/Train.java
Owners: @DGEXSolutions/osrd-backend-maintainers, @eckter, @multun

trains: tests: add tests for train succession
  src/main/java/fr/sncf/osrd/railjson/parser/RJSTrainScheduleParser.java
  src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSTrainSchedule.java
  src/test/java/fr/sncf/osrd/train/DisappearTrainTest.java
  src/test/java/fr/sncf/osrd/train/ReservationsTests.java
  src/test/java/fr/sncf/osrd/train/TrainSuccessionTests.java
Owners: @DGEXSolutions/osrd-backend-maintainers

interactive: add update tst example
  src/python_interactive_client/osrd_interactive.py
  src/python_interactive_client/test.py
Owners: @flomonster, @multun

interactive: add update tst example
  src/python_interactive_client/osrd_interactive.py
  src/python_interactive_client/test.py
Owners: @flomonster, @multun

virtual-points: check if contains in path before adding it as action point
  src/main/java/fr/sncf/osrd/railjson/parser/RJSTrainScheduleParser.java
  src/main/java/fr/sncf/osrd/train/TrainPath.java
Owners: @DGEXSolutions/osrd-backend-maintainers, @eckter, @multun

trains: tests: add tests for train succession
  src/main/java/fr/sncf/osrd/railjson/parser/RJSTrainScheduleParser.java
  src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSTrainSchedule.java
  src/test/java/fr/sncf/osrd/train/DisappearTrainTest.java
  src/test/java/fr/sncf/osrd/train/ReservationsTests.java
  src/test/java/fr/sncf/osrd/train/TrainSuccessionTests.java
Owners: @DGEXSolutions/osrd-backend-maintainers

rjs: add parameters in schedules to specify previous train
  src/main/java/fr/sncf/osrd/railjson/parser/RJSSimulationParser.java
  src/main/java/fr/sncf/osrd/railjson/parser/RJSTrainScheduleParser.java
  src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSTrainSchedule.java
  src/main/java/fr/sncf/osrd/train/TrainSchedule.java
  src/main/java/fr/sncf/osrd/train/events/TrainCreatedEvent.java
Owners: @DGEXSolutions/osrd-backend-maintainers, @eckter, @multun

rjs: add parameters in schedules to specify previous train
  src/main/java/fr/sncf/osrd/railjson/parser/RJSSimulationParser.java
  src/main/java/fr/sncf/osrd/railjson/parser/RJSTrainScheduleParser.java
  src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSTrainSchedule.java
  src/main/java/fr/sncf/osrd/train/TrainSchedule.java
  src/main/java/fr/sncf/osrd/train/events/TrainCreatedEvent.java
Owners: @DGEXSolutions/osrd-backend-maintainers, @eckter, @multun

trains: schedule the creation of the next train
  src/main/java/fr/sncf/osrd/railjson/parser/RJSTrainScheduleParser.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/SpeedControllerGenerator.java
  src/main/java/fr/sncf/osrd/train/Train.java
Owners: @DGEXSolutions/osrd-backend-maintainers, @eckter, @multun

trains: tests: add tests for train succession
  src/main/java/fr/sncf/osrd/railjson/parser/RJSTrainScheduleParser.java
  src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSTrainSchedule.java
  src/test/java/fr/sncf/osrd/train/DisappearTrainTest.java
  src/test/java/fr/sncf/osrd/train/ReservationsTests.java
  src/test/java/fr/sncf/osrd/train/TrainSuccessionTests.java
Owners: @DGEXSolutions/osrd-backend-maintainers

trains: schedule the creation of the next train
  src/main/java/fr/sncf/osrd/railjson/parser/RJSTrainScheduleParser.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/SpeedControllerGenerator.java
  src/main/java/fr/sncf/osrd/train/Train.java
Owners: @DGEXSolutions/osrd-backend-maintainers, @eckter, @multun

virtual-points: check if contains in path before adding it as action point
  src/main/java/fr/sncf/osrd/railjson/parser/RJSTrainScheduleParser.java
  src/main/java/fr/sncf/osrd/train/TrainPath.java
Owners: @DGEXSolutions/osrd-backend-maintainers, @eckter, @multun

virtual-points: check if contains in path before adding it as action point
  src/main/java/fr/sncf/osrd/railjson/parser/RJSTrainScheduleParser.java
  src/main/java/fr/sncf/osrd/train/TrainPath.java
Owners: @DGEXSolutions/osrd-backend-maintainers, @eckter, @multun

infra: add caching to railjson
  config/settings.py
  config/test.py
  osrd_infra/views/infra.py
  osrd_infra/views/railjson.py
Owners: @multun

infra: fix style
  osrd_infra/views/infra.py
  osrd_infra/views/railjson.py
Owners: none

infra: remove debug print
  osrd_infra/views/infra.py
Owners: none

config: increase cache timeout
  config/settings.py
Owners: @multun

train_schedule: add partial response if margin sim failed
  openapi.yaml
  osrd_infra/views/convert_simulation_log.py
  osrd_infra/views/simulation_log.py
Owners: none

rk4: implement rk4 in nextStepFromControllers
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
Owners: @DGEXSolutions/osrd-physics

tests: adapt physics test to use location trackers
  src/test/java/fr/sncf/osrd/train/TrainPhysics.java
Owners: @DGEXSolutions/osrd-physics

rk4: implement rk4 in all integrator methods
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
Owners: @DGEXSolutions/osrd-physics

rk4: progress on debug
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
  src/main/java/fr/sncf/osrd/train/TrainState.java
Owners: @DGEXSolutions/osrd-physics, @eckter, @multun, @DGEXSolutions/osrd-backend-maintainers

rk4: factorize the different steps
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
Owners: @DGEXSolutions/osrd-physics

rk4: change the way steps are calculated in TrainState to fix some bugs
  src/main/java/fr/sncf/osrd/speedcontroller/generators/ConstructionAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/SpeedControllerGenerator.java
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
  src/main/java/fr/sncf/osrd/train/TrainState.java
  src/test/java/fr/sncf/osrd/Helpers.java
  src/test/java/fr/sncf/osrd/speedcontroller/MarginTests.java
Owners: @eckter, @DGEXSolutions/osrd-backend-maintainers, @DGEXSolutions/osrd-physics, @multun

rk4: replace meanTrainGrade by currentLocation in TrainPhysicsIntegrator
  src/main/java/fr/sncf/osrd/speedcontroller/generators/MarecoAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
  src/main/java/fr/sncf/osrd/train/TrainState.java
Owners: @eckter, @DGEXSolutions/osrd-backend-maintainers, @DGEXSolutions/osrd-physics, @multun

rk4: correct checkstyle
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
  src/test/java/fr/sncf/osrd/train/TrainPhysics.java
Owners: @DGEXSolutions/osrd-physics

rk4: corrections from PR
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
  src/test/java/fr/sncf/osrd/Helpers.java
  src/test/java/fr/sncf/osrd/speedcontroller/MarginTests.java
Owners: @DGEXSolutions/osrd-physics

rk4: getting rid of 3 methods type nextStepFromXXXXX in TrainPhysicsIntegrator
  src/main/java/fr/sncf/osrd/speedcontroller/generators/ConstructionAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/MarecoAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/SpeedControllerGenerator.java
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
  src/main/java/fr/sncf/osrd/train/TrainState.java
Owners: @eckter, @DGEXSolutions/osrd-backend-maintainers, @DGEXSolutions/osrd-physics, @multun

.github/CODEOWNERS:

CODEOWNERS        @DGEXSolutions/osrd-backend-maintainers

/specifications   @flomonster @DGEXSolutions/osrd-backend-maintainers

# java stuff
/src/main/java/fr/sncf/osrd                         @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/api                     @flomonster @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/cbtc                    @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/cli                     @multun @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/config                  @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/infra                   @multun @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/infra_state             @multun @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/infra_state/regulator   @flomonster @bgiuliana @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/interactive             @flomonster @multun @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/railjson                @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/railml                  @flomonster @multun @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/simulation              @multun @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/speedcontroller         @eckter @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/train                   @eckter @multun @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/utils                   @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/DebugViewer.java        @DGEXSolutions/osrd-backend-maintainers
*Physics*.java                                      @DGEXSolutions/osrd-physics
*Integrator*.java                                   @DGEXSolutions/osrd-physics
*Integration*.java                                  @DGEXSolutions/osrd-physics

# Python Interactive Client
/src/python_interactive_client                @flomonster @multun

# buildsystem stuff
/*.gradle         @multun
/gradle           @multun
/config           @multun
/README.md        @multun
/.gitlab-ci.yml   @pguenezan @theophanevie @multun
/Dockerfile       @pguenezan @theophanevie @multun
/chart            @pguenezan @theophanevie
/chart/templates/apidefinition.yaml  @flomonster
