Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics

editoast: api: fix study date type and fix electrical_profile patch field
  editoast/src/models/study.rs
  editoast/src/tables.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
  python/api/osrd_infra/migrations/0022_alter_study_actual_end_date_and_more.py
  python/api/osrd_infra/models/study.py
  tests/conftest.py
  tests/tests/test_scenario.py
  tests/tests/test_stdcm.py
  tests/tests/utils/timetable.py
Owners: @DGEXSolutions/editoast-maintainers, @eckter

front: editor - refacto editoastToEditorEntity and railjson type
  front/src/applications/editor/data/utils.ts
  front/src/applications/editor/tools/routeEdition/components/EditRoutePath.tsx
  front/src/applications/editor/tools/routeEdition/utils.test.ts
Owners: @DGEXSolutions/front-maintainers

front: update osrd_conf_schedule power_restriction ranges
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
Owners: @DGEXSolutions/front-maintainers

front: editor - load editor schema by using rtk query
  front/src/applications/editor/data/api.ts
  front/src/reducers/editor.ts
Owners: @DGEXSolutions/front-maintainers

front: no unused var
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/withOSRDData.jsx
Owners: @DGEXSolutions/front-maintainers

front: migrate saveEditor & getSwitchTypes by using RTK
  editoast/openapi.yaml
  front/src/applications/editor/data/api.ts
  front/src/applications/editor/data/utils.ts
  front/src/applications/editor/tools/routeEdition/components/EditRoutePath.tsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/reducers/editor.ts
  front/src/reducers/osrdconf/index.ts
  front/src/types/railjson.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

front: change default allowance settings in stdcm
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/drawTrain.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/withOSRDData.jsx
  front/src/applications/stdcm/views/StdcmRequestModal.jsx
Owners: @DGEXSolutions/front-maintainers

front: add suffix _id to scenario's timetable, infra, electrical_profil_set
  front/src/applications/operationalStudies/components/Scenario/AddOrEditScenarioModal.tsx
  front/src/applications/operationalStudies/components/operationalStudiesTypes.ts
  front/src/applications/operationalStudies/views/Scenario.jsx
  front/src/common/ScenarioExplorator/ScenarioExplorator.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorModalScenarioMiniCard.tsx
Owners: @DGEXSolutions/front-maintainers

ci: use `setup-python` poetry cache (#3783)
  .github/workflows/api.yml
  .github/workflows/integration_tests.yml
  .github/workflows/osrd_schemas.yml
  .github/workflows/railjson_generator.yml
Owners: @flomonster, @multun

front: remove unused
  front/src/applications/editor/data/api.ts
  front/src/types/railjson.ts
Owners: @DGEXSolutions/front-maintainers

editoast: front: uses editoast endpoints instead of api endpoints for study and scenario
  editoast/src/models/study.rs
  editoast/src/views/study.rs
  front/src/applications/operationalStudies/components/Scenario/AddOrEditScenarioModal.tsx
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
  front/src/applications/operationalStudies/components/Study/StateStep.tsx
  front/src/applications/operationalStudies/views/Project.jsx
  front/src/applications/operationalStudies/views/Scenario.jsx
  front/src/applications/operationalStudies/views/Study.jsx
  front/src/common/ScenarioExplorator/ScenarioExplorator.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorModal.tsx
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

core: fix envelope discontinuity when computing accelerations
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/pipelines/MaxEffortEnvelope.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/MaxEffortEnvelopeTest.java
Owners: @DGEXSolutions/core-maintainers

editoast: speedup retrieve railjson endpoint
  editoast/src/views/infra/railjson.rs
  editoast/src/views/infra/sql/get_infra_no_ext.sql
  editoast/src/views/infra/sql/get_infra_with_ext.sql
Owners: @DGEXSolutions/editoast-maintainers

front: tests: make e2e tests work when running on a dirty env (#3782)
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/applications/operationalStudies/components/Project/StudyCard.tsx
  front/src/applications/operationalStudies/components/Study/ScenarioCard.tsx
  front/tests/operational-studies.spec.ts
  front/tests/stdcm-page.spec.ts
  tests/conftest.py
  tests/tests/test_e2e.py
  tests/tests/test_scenario.py
  tests/tests/utils/timetable.py
Owners: @DGEXSolutions/front-maintainers, @eckter

editoast: front: adapt payload to create and update scenario
  editoast/openapi.yaml
  editoast/src/views/scenario.rs
  front/src/applications/operationalStudies/components/Scenario/AddOrEditScenarioModal.tsx
  front/src/common/api/osrdEditoastApi.ts
  tests/fuzzer/fuzzer.py
  tests/tests/test_scenario.py
  tests/tests/test_timetable.py
  tests/tests/utils/timetable.py
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers, @eckter

editoast: disable idle db connections
  editoast/src/main.rs
Owners: @DGEXSolutions/editoast-maintainers

core: fix zone occupancy computation on train with stops
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/EnvelopeTimeInterpolate.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/EnvelopeStopWrapper.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
Owners: @DGEXSolutions/core-maintainers

[front] Body at 100vh to fix #3753
  front/src/styles/main.css
  front/src/styles/scss/_body.scss
Owners: @DGEXSolutions/front-maintainers

editoast: move light_rolling_stock to /models - move LightRollingStockModel to /models - create LightRollingStock schema - add tests
  editoast/openapi.yaml
  editoast/src/models/mod.rs
  editoast/src/models/rolling_stock/light_rolling_stock.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/models/rolling_stock_models/mod.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/rolling_stock/light_rolling_stock.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/schema/rolling_stock_livery.rs
  editoast/src/schema/rolling_stock_schema/mod.rs
  editoast/src/schema/rolling_stock_schema/rolling_stock.rs
  editoast/src/tests/example_rolling_stock.json
  editoast/src/views/light_rolling_stocks.rs
  editoast/src/views/rolling_stocks.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

front: fix bug 3796 (#3798)
  front/src/applications/operationalStudies/views/Scenario.jsx
Owners: @DGEXSolutions/front-maintainers

editoast: add DELETE /pathfinding/{id}
  editoast/Cargo.toml
  editoast/diesel.toml
  editoast/src/models/mod.rs
  editoast/src/models/pathfinding.rs
  editoast/src/views/pathfinding.rs
Owners: @DGEXSolutions/editoast-maintainers

Fix integration tests
  front/src/common/ScenarioExplorator/ScenarioExplorator.tsx
  tests/conftest.py
  tests/tests/test_scenario.py
  tests/tests/utils/timetable.py
Owners: @DGEXSolutions/front-maintainers, @eckter

core: make the zone after a train path be clear
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
Owners: @DGEXSolutions/core-maintainers

stdcm: edges don't go further than the stop
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/EnvelopePart.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/pipelines/MaxSpeedEnvelope.java
  core/src/main/java/fr/sncf/osrd/infra_state/implementation/TrainPathBuilder.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/DelayManager.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMEdgeBuilder.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMSimulations.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMStandardAllowance.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMUtils.java
  core/src/test/java/fr/sncf/osrd/stdcm/BacktrackingTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/DepartureTimeShiftTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/EngineeringAllowanceTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMHelpers.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMPathfindingTests.java
Owners: @DGEXSolutions/core-maintainers

editoast: add osrd_infra_pathmodel and GET /pathfinding/{id}
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/diesel.toml
  editoast/src/models/mod.rs
  editoast/src/models/pathfinding.rs
  editoast/src/schema/track_section.rs
  editoast/src/tables.rs
  editoast/src/views/mod.rs
  editoast/src/views/pathfinding.rs
Owners: @DGEXSolutions/editoast-maintainers

editor: restores X button on disabled ConfirmModal
  front/src/common/BootstrapSNCF/ModalSNCF/ConfirmModal.tsx
Owners: @DGEXSolutions/front-maintainers

front: no-shadow: error
  front/.eslintrc
Owners: @DGEXSolutions/front-maintainers

editoast : adapt infra model (create)
  editoast/Cargo.toml
  editoast/src/generated_data/mod.rs
  editoast/src/infra_cache/mod.rs
  editoast/src/main.rs
  editoast/src/models/infra.rs
  editoast/src/models/scenario.rs
  editoast/src/schema/buffer_stop.rs
  editoast/src/schema/catenary.rs
  editoast/src/schema/detector.rs
  editoast/src/schema/operation/create.rs
  editoast/src/schema/operation/delete.rs
  editoast/src/schema/operation/update.rs
  editoast/src/schema/operational_point.rs
  editoast/src/schema/railjson.rs
  editoast/src/schema/route.rs
  editoast/src/schema/signal.rs
  editoast/src/schema/speed_section.rs
  editoast/src/schema/switch.rs
  editoast/src/schema/switch_type.rs
  editoast/src/schema/track_section.rs
  editoast/src/schema/track_section_link.rs
  editoast/src/tables.rs
  editoast/src/views/infra/attached.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/errors.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/objects.rs
  editoast/src/views/infra/railjson.rs
Owners: @DGEXSolutions/editoast-maintainers

[front] Fix #3751 - Adding style for DropdownSNCF
  front/src/common/BootstrapSNCF/DropdownSNCF.tsx
  front/src/styles/scss/_overrideBootstrapSNCF.scss
Owners: @DGEXSolutions/front-maintainers

editoast: front: sort projects, studies and scenarios
  editoast/openapi.yaml
  editoast/src/models/mod.rs
  editoast/src/models/projects.rs
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/views/projects.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
  front/src/applications/operationalStudies/Home.jsx
  front/src/applications/operationalStudies/views/Project.jsx
  front/src/applications/operationalStudies/views/Study.jsx
  front/src/common/ScenarioExplorator/ScenarioExploratorModal.tsx
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

editoast: add TrackSectionModel & geos usage for geometry operations
  .github/workflows/editoast.yml
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/Dockerfile
  editoast/README.md
  editoast/src/infra_cache/mod.rs
  editoast/src/map/bounding_box.rs
  editoast/src/models/infra_objects/mod.rs
  editoast/src/models/infra_objects/track_section.rs
  editoast/src/models/mod.rs
  editoast/src/models/pathfinding.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/track_section.rs
  editoast/src/tables.rs
  editoast/src/views/pathfinding.rs
Owners: @flomonster, @multun, @DGEXSolutions/editoast-maintainers

[front] fix #1567
  front/src/applications/editor/components/LinearMetadata/dataviz.tsx
Owners: @DGEXSolutions/front-maintainers

[front] refacto modal #3493
  front/src/applications/editor/tools/routeEdition/components/EditRouteMetadata.tsx
  front/src/applications/editor/tools/selection/tool.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ConfirmModal.tsx
Owners: @DGEXSolutions/front-maintainers

[front] dropdown and arrow #3750
  front/src/common/BootstrapSNCF/DropdownSNCF.tsx
  front/src/styles/scss/_overrideBootstrapSNCF.scss
Owners: @DGEXSolutions/front-maintainers

editoast: move RS livery to ./models/rolling_stock - move file - implement Model trait for rollingStockLivery - clean tests
  editoast/src/models/mod.rs
  editoast/src/models/rolling_stock/light_rolling_stock.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/models/rolling_stock/rolling_stock_livery.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/rolling_stock/light_rolling_stock.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/schema/rolling_stock/rolling_stock_livery.rs
  editoast/src/schema/rolling_stock_image.rs
  editoast/src/schema/rolling_stock_livery.rs
  editoast/src/views/rolling_stocks.rs
Owners: @DGEXSolutions/editoast-maintainers

[front] Remove commented code
  front/src/applications/editor/components/InfraErrors/InfraError.tsx
Owners: @DGEXSolutions/front-maintainers

railjson_generator: disable route creation between two buffer stops
  python/railjson_generator/railjson_generator/utils/routes_generator.py
Owners: @DGEXSolutions/editoast-maintainers

core: bump gradle and fix to java 17 (lts)
  .github/workflows/core.yml
  core/Dockerfile
  core/gradle/wrapper/gradle-wrapper.jar
  core/gradle/wrapper/gradle-wrapper.properties
  core/gradlew
  core/gradlew.bat
Owners: @flomonster, @multun, @DGEXSolutions/core-maintainers

editor: fine tunes overlay related to #1567
  front/src/applications/editor/components/LinearMetadata/dataviz.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: fix memory consumption retrieving railjson
  editoast/src/main.rs
  editoast/src/views/infra/railjson.rs
Owners: @DGEXSolutions/editoast-maintainers
