Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

front pass to flex if condensed
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SpeedLimitByTagSelector.jsx
  front/src/styles/scss/applications/operationalStudies/_managetrainschedule.scss
Owners: @DGEXSolutions/front-maintainers

editoast: bump dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
Owners: @DGEXSolutions/editoast-maintainers

editoast: bump dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
Owners: @DGEXSolutions/editoast-maintainers

front: STDCM: set RollingstockSelector in one line
  front/src/common/RollingStockSelector/RollingStockSelector.jsx
Owners: @DGEXSolutions/front-maintainers

front: fix notification above all & map add train too big
  front/src/common/Notifications.scss
  front/src/styles/scss/applications/operationalStudies/_managetrainschedule.scss
Owners: @DGEXSolutions/front-maintainers

front: power restrictions: handle no data
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
Owners: @DGEXSolutions/front-maintainers

front: power restrictions: update reducers
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdconf/selectors.ts
Owners: @DGEXSolutions/front-maintainers

front: power restrictions: add selector
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/assets/pictures/components/electricity.svg
Owners: @DGEXSolutions/front-maintainers

front: power restrictions: finishing selector
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/public/locales/fr/rollingstock.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/assets/pictures/components/electricity.svg
  front/src/assets/pictures/components/power_restrictions.svg
  front/src/reducers/osrdconf/index.ts
Owners: @DGEXSolutions/front-maintainers

front: power restrictions: connecting front to api
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/common/Notifications.scss
  front/src/common/api/osrdMiddlewareApi.ts
  front/src/reducers/osrdconf/index.ts
Owners: @DGEXSolutions/front-maintainers

python: update middleWare api
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

front: map popup: make it zoomable
  front/src/styles/scss/common/map/_popup.scss
Owners: @DGEXSolutions/front-maintainers

api: remove route_{begin,end}_occupancy
  front/src/applications/customget/components/convertData.jsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/applications/stdcm/fakeSimulation.jsx
  front/src/common/api/osrdMiddlewareApi.ts
  front/src/reducers/osrdsimulation/types.ts
  front/tests/assets/operationStudies/train.json
  python/api/openapi.yaml
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
  tests/tests/utils/stdcm.py
Owners: @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter

core: migrate standalone sim to the new signaling simulator
  core/build.gradle
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/InterlockingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadedSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/RawSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/BlockInfraImpl.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBALtoBAL.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBAPRtoBAL.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultOccupancyTiming.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultTrain.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/SignalUpdate.java
  core/src/main/java/fr/sncf/osrd/utils/CSVExporters.java
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
  core/src/test/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractorTests.java
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers

Revert "front: block state: display on simulation's map"
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap/RenderBlockState.tsx
  front/src/config/layerOrder.ts
Owners: @DGEXSolutions/front-maintainers

core: add mock tvm signaling
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/tvm/BALtoTVM.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/tvm/TVM.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/tvm/TVMtoBAL.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/tvm/TVMtoTVM.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
Owners: @DGEXSolutions/core-maintainers

core: split the signal simulation out of the standalone sim endpoint
  core/src/main/java/fr/sncf/osrd/api/SignalProjectionEndpoint.java
  core/src/main/java/fr/sncf/osrd/cli/ApiServerCommand.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultTrain.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/SignalUpdate.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractorTests.java
  python/api/osrd_infra/tests/test_stdcm.py
  python/api/osrd_infra/utils.py
  python/api/osrd_infra/views/stdcm.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
  python/api/osrd_infra/views/train_schedule/train_schedule.py
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers

api: remove route_{begin,end}_occupancy
  front/src/applications/customget/components/convertData.jsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/applications/stdcm/fakeSimulation.jsx
  front/src/common/api/osrdMiddlewareApi.ts
  front/src/reducers/osrdsimulation/types.ts
  front/tests/assets/operationStudies/train.json
  python/api/openapi.yaml
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
  tests/tests/utils/stdcm.py
Owners: @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter

core: add mock tvm signaling
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/tvm/BALtoTVM.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/tvm/TVM.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/tvm/TVMtoBAL.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/tvm/TVMtoTVM.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
Owners: @DGEXSolutions/core-maintainers

core: migrate standalone sim to the new signaling simulator
  core/build.gradle
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/InterlockingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadedSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/RawSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/BlockInfraImpl.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBALtoBAL.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBAPRtoBAL.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultOccupancyTiming.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultTrain.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/SignalUpdate.java
  core/src/main/java/fr/sncf/osrd/utils/CSVExporters.java
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
  core/src/test/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractorTests.java
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers

core: load kotlin infra when we load infras
  core/src/main/java/fr/sncf/osrd/api/FullInfra.java
  core/src/main/java/fr/sncf/osrd/api/InfraManager.java
  core/src/main/java/fr/sncf/osrd/api/SignalingSimulator.kt
  core/src/main/java/fr/sncf/osrd/api/StandaloneSimulationEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/cli/StandaloneSimulationCommand.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/test/java/fr/sncf/osrd/Helpers.java
  core/src/test/java/fr/sncf/osrd/stdcm/FullSTDCMTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMHelpers.java
Owners: @DGEXSolutions/core-maintainers

Revert "front: block state: display on simulation's map"
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap/RenderBlockState.tsx
  front/src/config/layerOrder.ts
Owners: @DGEXSolutions/front-maintainers

cord: update openapi.yml
  core/openapi.yaml
Owners: @DGEXSolutions/core-maintainers

cord: update openapi.yml
  core/openapi.yaml
Owners: @DGEXSolutions/core-maintainers

core: split the signal simulation out of the standalone sim endpoint
  core/src/main/java/fr/sncf/osrd/api/SignalProjectionEndpoint.java
  core/src/main/java/fr/sncf/osrd/cli/ApiServerCommand.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultTrain.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/SignalUpdate.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractorTests.java
  python/api/osrd_infra/tests/test_stdcm.py
  python/api/osrd_infra/utils.py
  python/api/osrd_infra/views/stdcm.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
  python/api/osrd_infra/views/train_schedule/train_schedule.py
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers

core: load kotlin infra when we load infras
  core/src/main/java/fr/sncf/osrd/api/FullInfra.java
  core/src/main/java/fr/sncf/osrd/api/InfraManager.java
  core/src/main/java/fr/sncf/osrd/api/SignalingSimulator.kt
  core/src/main/java/fr/sncf/osrd/api/StandaloneSimulationEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/cli/StandaloneSimulationCommand.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/test/java/fr/sncf/osrd/Helpers.java
  core/src/test/java/fr/sncf/osrd/stdcm/FullSTDCMTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMHelpers.java
Owners: @DGEXSolutions/core-maintainers

front: power restrictions: finishing selector
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/public/locales/fr/rollingstock.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/assets/pictures/components/electricity.svg
  front/src/assets/pictures/components/power_restrictions.svg
  front/src/reducers/osrdconf/index.ts
Owners: @DGEXSolutions/front-maintainers

front: power restrictions: connecting front to api
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/common/Notifications.scss
  front/src/common/api/osrdMiddlewareApi.ts
  front/src/reducers/osrdconf/index.ts
Owners: @DGEXSolutions/front-maintainers

front: power restrictions: connecting front to api
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/common/Notifications.scss
  front/src/common/api/osrdMiddlewareApi.ts
  front/src/reducers/osrdconf/index.ts
Owners: @DGEXSolutions/front-maintainers

python: update middleWare api
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

front: power restrictions: update reducers
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdconf/selectors.ts
Owners: @DGEXSolutions/front-maintainers

front: power restrictions: add selector
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/assets/pictures/components/electricity.svg
Owners: @DGEXSolutions/front-maintainers

front: power restrictions: update reducers
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdconf/selectors.ts
Owners: @DGEXSolutions/front-maintainers

python: update middleWare api
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

front: power restrictions: add selector
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/assets/pictures/components/electricity.svg
Owners: @DGEXSolutions/front-maintainers

front: power restrictions: handle no data
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
Owners: @DGEXSolutions/front-maintainers

front: power restrictions: finishing selector
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/public/locales/fr/rollingstock.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/assets/pictures/components/electricity.svg
  front/src/assets/pictures/components/power_restrictions.svg
  front/src/reducers/osrdconf/index.ts
Owners: @DGEXSolutions/front-maintainers

front: power restrictions: handle no data
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
Owners: @DGEXSolutions/front-maintainers

call stdcm viws with condensed
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
Owners: @DGEXSolutions/front-maintainers

front: fix notification above all & map add train too big
  front/src/styles/scss/applications/operationalStudies/_managetrainschedule.scss
Owners: @DGEXSolutions/front-maintainers

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics
