Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics

editoast: use cargo sparse index protocol
  .cargo/config.toml
Owners: none

editoast: add non-json response support to CoreClient
  editoast/src/core/mocking.rs
  editoast/src/core/mod.rs
  editoast/src/core/pathfinding.rs
Owners: @DGEXSolutions/editoast-maintainers

front: editor: remove dependencies cycles
  editoast/src/core/infra_loading.rs
  editoast/src/core/mod.rs
  editoast/src/views/infra/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast:osm-to-railjson fix switch port and group names
  editoast/src/converters/utils.rs
Owners: @DGEXSolutions/editoast-maintainers

railjson: update deadSection properties (railjson 3.3.1) (#4194)
  editoast/src/models/infra.rs
  editoast/src/tests/small_infra/small_infra.json
  python/api/osrd_infra/migrations/0031_railjson_3_3_1.py
  python/osrd_schemas/osrd_schemas/infra.py
  python/railjson_generator/railjson_generator/schema/infra/dead_section.py
  python/railjson_generator/railjson_generator/schema/infra/infra.py
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
Owners: @DGEXSolutions/editoast-maintainers

core: add allowance documentation
  core/openapi.yaml
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSAllowance.java
Owners: @DGEXSolutions/core-maintainers

editoast:osm-to-railjson fix (and test) signal ports
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
  editoast/src/tests/switches.osm.pbf
Owners: @DGEXSolutions/editoast-maintainers

core: add allowance documentation
  core/openapi.yaml
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSAllowance.java
Owners: @DGEXSolutions/core-maintainers

editoast:osm-to-railjson reject more non relevant rails
  editoast/src/converters/osm_to_railjson.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast:osm-to-railjson reject more non relevant rails
  editoast/src/converters/osm_to_railjson.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: fix infra update
  editoast/src/models/infra.rs
  editoast/src/schema/railjson.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/pathfinding/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: use cargo sparse index protocol
  .cargo/config.toml
Owners: none

editoast:osm-to-railjson parse main signals as BAL
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/signal.rs
  editoast/src/tests/signals.osm.pbf
Owners: @DGEXSolutions/editoast-maintainers

editoast: fix osrd_search_operationalpoint.uic type
  editoast/search.yml
  python/api/osrd_infra/migrations/0030_search_op_fix_uic_type.py
Owners: @DGEXSolutions/editoast-maintainers

front: allowances: fix display of labels in stdcm; rename stdcm variables as condensed or isCondensed in InputSNCF and InputGroupSNCF
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/StandardAllowanceDefault.tsx
  front/src/applications/stdcm/components/STDCMAllowances.tsx
  front/src/common/BootstrapSNCF/InputGroupSNCF.jsx
  front/src/common/BootstrapSNCF/InputSNCF.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: get infra state from core
  core/src/main/java/fr/sncf/osrd/api/InfraCacheStatusEndpoint.java
  editoast/src/core/infra_state.rs
  editoast/src/core/mod.rs
  editoast/src/views/infra/mod.rs
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers

front: remove unexpected-any errors on linter warnings/ lower thresome (#4109)
  front/.eslintrc
  front/package.json
  front/src/applications/editor/components/LinearMetadata/data.test.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/MarecoMultiRange.jsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/withOSRDStdcmParams.tsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap/TrainHoverPosition.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/stdcm/formatStcmConf.ts
  front/src/common/types.ts
  front/src/reducers/index.ts
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdsimulation/index.ts
  front/src/utils/timeManipulation.ts
Owners: @DGEXSolutions/front-maintainers

editoast: inject OP names in pf response & slope/curve graph forwarding
  editoast/src/core/pathfinding.rs
  editoast/src/fixtures.rs
  editoast/src/models/infra_objects/mod.rs
  editoast/src/models/infra_objects/operational_point.rs
  editoast/src/schema/operational_point.rs
  editoast/src/tests/small_infra/pathfinding_core_response.json
  editoast/src/tests/small_infra/pathfinding_fixture_payload.json
  editoast/src/views/pathfinding/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

front: refacto: Use RTK in AddOrEditScenario
  editoast/openapi.yaml
  front/public/locales/en/operationalStudies/scenario.json
  front/public/locales/fr/operationalStudies/scenario.json
  front/src/applications/operationalStudies/components/Scenario/AddOrEditScenarioModal.tsx
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

editoast: fix URL typo in README (#4103)
  front/README.md
Owners: @DGEXSolutions/front-maintainers

editoast: change output format of the mock conflict endpoint
  editoast/src/views/timetable.rs
Owners: @DGEXSolutions/editoast-maintainers

Update README.md: add link to osrd.fr
  README.md
Owners: none

tests: setup video recording
  .github/workflows/integration_tests.yml
  front/playwright.config.ts
  front/tests/home-page.spec.tsx
  front/tests/operational-studies.spec.ts
  front/tests/stdcm-page.spec.ts
Owners: @flomonster, @multun, @DGEXSolutions/front-maintainers

tests: setup video recording
  .github/workflows/integration_tests.yml
  front/playwright.config.ts
  front/tests/home-page.spec.tsx
  front/tests/operational-studies.spec.ts
  front/tests/stdcm-page.spec.ts
Owners: @flomonster, @multun, @DGEXSolutions/front-maintainers

tests: setup video recording
  .github/workflows/integration_tests.yml
  front/playwright.config.ts
  front/tests/home-page.spec.tsx
  front/tests/operational-studies.spec.ts
  front/tests/stdcm-page.spec.ts
Owners: @flomonster, @multun, @DGEXSolutions/front-maintainers

docker: add OSRD_BACKEND_URL env to editoast
  docker-compose.yml
Owners: none

docker: add OSRD_BACKEND_URL env to editoast
  docker-compose.yml
Owners: none

docker: add OSRD_BACKEND_URL env to editoast
  docker-compose.yml
Owners: none

core: refactor cli simulation
  core/README.md
  core/src/main/java/fr/sncf/osrd/api/ElectricalProfileSetManager.java
  core/src/main/java/fr/sncf/osrd/api/FullInfra.java
  core/src/main/java/fr/sncf/osrd/api/StandaloneSimulationEndpoint.java
  core/src/main/java/fr/sncf/osrd/cli/StandaloneSimulationCommand.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSRollingStockParser.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultPosition.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultTrain.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/StandaloneSimResult.java
  core/src/test/java/fr/sncf/osrd/Helpers.java
  core/src/test/java/fr/sncf/osrd/api/ElectricalProfileSetManagerTest.java
  core/src/test/java/fr/sncf/osrd/cli/StandaloneSimulationCommandTest.java
Owners: @DGEXSolutions/core-maintainers

core + railjson-generator: remove rjssimulation class
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/RJSSimulation.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSStandaloneTrainSchedule.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSTrainSchedule.java
  core/src/main/java/fr/sncf/osrd/cli/StandaloneSimulationCommand.java
  core/src/test/java/fr/sncf/osrd/api/PathfindingTest.java
  core/src/test/java/fr/sncf/osrd/external_generated_inputs/ElectricalProfileMappingTest.java
  python/railjson_generator/railjson_generator/schema/location.py
  python/railjson_generator/railjson_generator/schema/simulation/simulation.py
  python/railjson_generator/railjson_generator/schema/simulation/train_schedule.py
  python/railjson_generator/railjson_generator/scripts/examples/example_script.py
  python/railjson_generator/railjson_generator/scripts/examples/generated.py
  python/railjson_generator/railjson_generator/scripts/examples/one_line.py
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
  python/railjson_generator/railjson_generator/scripts/examples/three_trains.py
  python/railjson_generator/railjson_generator/scripts/examples/tiny_infra.py
  python/railjson_generator/railjson_generator/simulation_builder.py
  python/railjson_generator/railjson_generator/utils/pathfinding.py
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers

core: unify rjsroutepath and routepathresult classes
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSRoutePath.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSDirectionalTrackRange.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSTrainPath.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/GeomUtils.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingResultConverter.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/DirTrackRange.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/PathfindingResult.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/RoutePathResult.java
  core/src/main/java/fr/sncf/osrd/infra_state/implementation/TrainPathBuilder.java
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  core/src/test/java/fr/sncf/osrd/infra_state/TrainPathTests.java
Owners: @DGEXSolutions/core-maintainers

core + railjson-generator: remove rjssimulation class
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/RJSSimulation.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSStandaloneTrainSchedule.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSTrainSchedule.java
  core/src/main/java/fr/sncf/osrd/cli/StandaloneSimulationCommand.java
  core/src/test/java/fr/sncf/osrd/api/PathfindingTest.java
  core/src/test/java/fr/sncf/osrd/external_generated_inputs/ElectricalProfileMappingTest.java
  python/railjson_generator/railjson_generator/schema/location.py
  python/railjson_generator/railjson_generator/schema/simulation/simulation.py
  python/railjson_generator/railjson_generator/schema/simulation/train_schedule.py
  python/railjson_generator/railjson_generator/scripts/examples/example_script.py
  python/railjson_generator/railjson_generator/scripts/examples/generated.py
  python/railjson_generator/railjson_generator/scripts/examples/one_line.py
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
  python/railjson_generator/railjson_generator/scripts/examples/three_trains.py
  python/railjson_generator/railjson_generator/scripts/examples/tiny_infra.py
  python/railjson_generator/railjson_generator/simulation_builder.py
  python/railjson_generator/railjson_generator/utils/pathfinding.py
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers

core: refactor cli simulation
  core/README.md
  core/src/main/java/fr/sncf/osrd/api/ElectricalProfileSetManager.java
  core/src/main/java/fr/sncf/osrd/api/FullInfra.java
  core/src/main/java/fr/sncf/osrd/api/StandaloneSimulationEndpoint.java
  core/src/main/java/fr/sncf/osrd/cli/StandaloneSimulationCommand.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSRollingStockParser.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultPosition.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultTrain.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/StandaloneSimResult.java
  core/src/test/java/fr/sncf/osrd/Helpers.java
  core/src/test/java/fr/sncf/osrd/api/ElectricalProfileSetManagerTest.java
  core/src/test/java/fr/sncf/osrd/cli/StandaloneSimulationCommandTest.java
Owners: @DGEXSolutions/core-maintainers

core + railjson-generator: remove rjssimulation class
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/RJSSimulation.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSStandaloneTrainSchedule.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSTrainSchedule.java
  core/src/main/java/fr/sncf/osrd/cli/StandaloneSimulationCommand.java
  core/src/test/java/fr/sncf/osrd/api/PathfindingTest.java
  core/src/test/java/fr/sncf/osrd/external_generated_inputs/ElectricalProfileMappingTest.java
  python/railjson_generator/railjson_generator/schema/location.py
  python/railjson_generator/railjson_generator/schema/simulation/simulation.py
  python/railjson_generator/railjson_generator/schema/simulation/train_schedule.py
  python/railjson_generator/railjson_generator/scripts/examples/example_script.py
  python/railjson_generator/railjson_generator/scripts/examples/generated.py
  python/railjson_generator/railjson_generator/scripts/examples/one_line.py
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
  python/railjson_generator/railjson_generator/scripts/examples/three_trains.py
  python/railjson_generator/railjson_generator/scripts/examples/tiny_infra.py
  python/railjson_generator/railjson_generator/simulation_builder.py
  python/railjson_generator/railjson_generator/utils/pathfinding.py
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers

core: unify rjsroutepath and routepathresult classes
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSRoutePath.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSDirectionalTrackRange.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSTrainPath.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/GeomUtils.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingResultConverter.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/DirTrackRange.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/PathfindingResult.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/RoutePathResult.java
  core/src/main/java/fr/sncf/osrd/infra_state/implementation/TrainPathBuilder.java
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  core/src/test/java/fr/sncf/osrd/infra_state/TrainPathTests.java
Owners: @DGEXSolutions/core-maintainers

core: refactor cli simulation
  core/README.md
  core/src/main/java/fr/sncf/osrd/api/ElectricalProfileSetManager.java
  core/src/main/java/fr/sncf/osrd/api/FullInfra.java
  core/src/main/java/fr/sncf/osrd/api/StandaloneSimulationEndpoint.java
  core/src/main/java/fr/sncf/osrd/cli/StandaloneSimulationCommand.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSRollingStockParser.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultPosition.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultTrain.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/StandaloneSimResult.java
  core/src/test/java/fr/sncf/osrd/Helpers.java
  core/src/test/java/fr/sncf/osrd/api/ElectricalProfileSetManagerTest.java
  core/src/test/java/fr/sncf/osrd/cli/StandaloneSimulationCommandTest.java
Owners: @DGEXSolutions/core-maintainers

core: unify rjsroutepath and routepathresult classes
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSRoutePath.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSDirectionalTrackRange.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSTrainPath.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/GeomUtils.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingResultConverter.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/DirTrackRange.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/PathfindingResult.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/RoutePathResult.java
  core/src/main/java/fr/sncf/osrd/infra_state/implementation/TrainPathBuilder.java
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  core/src/test/java/fr/sncf/osrd/infra_state/TrainPathTests.java
Owners: @DGEXSolutions/core-maintainers

editoast: add dead section schema and update railjson import
  editoast/src/generated_data/error/mod.rs
  editoast/src/generated_data/error/speed_sections.rs
  editoast/src/generated_data/error/sql/dead_sections_insert_errors.sql
  editoast/src/infra_cache/mod.rs
  editoast/src/main.rs
  editoast/src/map/bounding_box.rs
  editoast/src/models/infra.rs
  editoast/src/schema/dead_section.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/operation/create.rs
  editoast/src/schema/railjson.rs
  editoast/src/tables.rs
  editoast/src/tests/small_infra/small_infra.json
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/layers/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add dead section schema and update railjson import
  editoast/src/generated_data/error/mod.rs
  editoast/src/generated_data/error/speed_sections.rs
  editoast/src/generated_data/error/sql/dead_sections_insert_errors.sql
  editoast/src/infra_cache/mod.rs
  editoast/src/main.rs
  editoast/src/map/bounding_box.rs
  editoast/src/models/infra.rs
  editoast/src/schema/dead_section.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/operation/create.rs
  editoast/src/schema/railjson.rs
  editoast/src/tables.rs
  editoast/src/tests/small_infra/small_infra.json
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/layers/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add dead section schema and update railjson import
  editoast/src/generated_data/error/mod.rs
  editoast/src/generated_data/error/speed_sections.rs
  editoast/src/generated_data/error/sql/dead_sections_insert_errors.sql
  editoast/src/infra_cache/mod.rs
  editoast/src/main.rs
  editoast/src/map/bounding_box.rs
  editoast/src/models/infra.rs
  editoast/src/schema/dead_section.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/operation/create.rs
  editoast/src/schema/railjson.rs
  editoast/src/tables.rs
  editoast/src/tests/small_infra/small_infra.json
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/layers/mod.rs
Owners: @DGEXSolutions/editoast-maintainers
