Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

editoast: adapt infra to new model (retrieve and delete)
  editoast/src/generated_data/mod.rs
  editoast/src/infra_cache/mod.rs
  editoast/src/main.rs
  editoast/src/models/infra.rs
  editoast/src/models/mod.rs
  editoast/src/models/scenario.rs
  editoast/src/schema/buffer_stop.rs
  editoast/src/schema/catenary.rs
  editoast/src/schema/detector.rs
  editoast/src/schema/operation/create.rs
  editoast/src/schema/operation/delete.rs
  editoast/src/schema/operation/update.rs
  editoast/src/schema/operational_point.rs
  editoast/src/schema/railjson.rs
  editoast/src/schema/route.rs
  editoast/src/schema/signal.rs
  editoast/src/schema/speed_section.rs
  editoast/src/schema/switch.rs
  editoast/src/schema/switch_type.rs
  editoast/src/schema/track_section.rs
  editoast/src/schema/track_section_link.rs
  editoast/src/views/infra/attached.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/errors.rs
  editoast/src/views/infra/lines.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/objects.rs
  editoast/src/views/infra/pathfinding.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/infra/routes.rs
  editoast/src/views/mod.rs
  editoast/src/views/scenario.rs
Owners: @DGEXSolutions/editoast-maintainers

core: adapt request to retrieve a railjson
  core/src/main/java/fr/sncf/osrd/api/InfraManager.java
  editoast/src/views/infra/railjson.rs
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers

editoast: add update and list model for infra
  editoast/Cargo.toml
  editoast/openapi.yaml
  editoast/src/main.rs
  editoast/src/models/infra.rs
  editoast/src/models/mod.rs
  editoast/src/models/projects.rs
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/views/infra/attached.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/pathfinding.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/projects.rs
  editoast/src/views/scenario.rs
  front/src/common/InfraSelector/InfraSelectorModal.tsx
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

editoast: adapt get railjson endpoint
  editoast/openapi.yaml
  editoast/src/views/infra/railjson.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

front: typescripting: ChipsSNCF
  front/.eslintrc
  front/src/common/BootstrapSNCF/ChipsSNCF.jsx
  front/src/common/BootstrapSNCF/ChipsSNCF.tsx
Owners: @DGEXSolutions/front-maintainers

core: lower infra download memory usage
  core/src/main/java/fr/sncf/osrd/api/InfraManager.java
Owners: @DGEXSolutions/core-maintainers

editoast: move tempfile to dev-dependency
  editoast/Cargo.toml
Owners: @DGEXSolutions/editoast-maintainers

front: repair detectors layer
  front/src/common/Map/Layers/Detectors.tsx
Owners: @DGEXSolutions/front-maintainers

[front] #1567 - avoid blink effect on tooltip
  front/src/applications/editor/components/LinearMetadata/dataviz.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: bump dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
Owners: @DGEXSolutions/editoast-maintainers

Adn/condensed speed limit (#3769)
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SpeedLimitByTagSelector.jsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.jsx
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.scss
  front/src/common/SpeedLimitByTagSelector/SpeedLimitByTagSelector.scss
  front/src/common/SpeedLimitByTagSelector/SpeedLimitByTagSelector.tsx
  front/src/stories/SpeedLimitByTag.stories.tsx
  front/src/styles/main.css
  front/src/styles/main.css.map
Owners: @DGEXSolutions/front-maintainers

editoast: update rolling_stock_livery model to replace RS images by document
  editoast/openapi.yaml
  editoast/src/fixtures.rs
  editoast/src/models/documents.rs
  editoast/src/models/mod.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/models/rolling_stock/rolling_stock_image.rs
  editoast/src/models/rolling_stock/rolling_stock_livery.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/rolling_stock_image.rs
  editoast/src/views/rolling_stocks.rs
  python/api/osrd_infra/migrations/0023_alter_rollingstocklivery_compound_image_and_more.py
Owners: @DGEXSolutions/editoast-maintainers

front: map search: Search into signals
  front/public/locales/en/map-search.json
  front/public/locales/fr/map-search.json
  front/src/common/BootstrapSNCF/InputSNCF.tsx
  front/src/common/BootstrapSNCF/MultiSelectSNCF.tsx
  front/src/common/Map/Map.scss
  front/src/common/Map/MapKey.scss
  front/src/common/Map/Search/MapSearch.jsx
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/common/Map/Search/MapSearchSignal.jsx
  front/src/common/Map/Search/MapSearchSignal.tsx
  front/src/common/Map/Search/MapSearchStation.jsx
  front/src/common/Map/Search/SignalCard.tsx
  front/src/common/Map/Search/searchTypes.ts
  front/src/common/Map/const.ts
  front/src/common/Map/utils.ts
  front/src/reducers/map/index.ts
Owners: @DGEXSolutions/front-maintainers

api: update rolling_stock_image and rolling_stock_livery models to use document
  python/api/osrd_infra/migrations/0020_alter_rollingstocklivery_compound_image_and_more.py
  python/api/osrd_infra/migrations/__init__.py
  python/api/osrd_infra/models/rolling_stock.py
  python/api/osrd_infra/serializers.py
  python/api/osrd_infra/views/rolling_stock.py
Owners: @DGEXSolutions/editoast-maintainers

editoast: bump dependencies
  editoast/Cargo.lock
Owners: @DGEXSolutions/editoast-maintainers

editoast: bump dependencies
  editoast/Cargo.lock
Owners: @DGEXSolutions/editoast-maintainers

front: refacto home and projectcard in tsx
  editoast/openapi.yaml
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/applications/operationalStudies/components/Project/PictureUploader.tsx
  front/src/applications/operationalStudies/components/Project/StudyCard.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

front: rsiolate fro DisplayItineary
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Destination.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Origin.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Vias.tsx
Owners: @DGEXSolutions/front-maintainers

front: isolate ModalSuggeredVias
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/ModalSuggeredVias.tsx
Owners: @DGEXSolutions/front-maintainers

front: refacto to isolate displayVias index
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/index.tsx
Owners: @DGEXSolutions/front-maintainers

front; correct tsx on modalSuggerdVias
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/ModalSuggeredVias.tsx
Owners: @DGEXSolutions/front-maintainers

front: naming Hoc func
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Destination.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Origin.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Vias.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/index.tsx
Owners: @DGEXSolutions/front-maintainers

ci: Update gh action to use node-18
  .github/workflows/front.yml
  .github/workflows/integration_tests.yml
Owners: @flomonster, @multun

front: update DockerFile to use node-18
  front/Dockerfile
  front/Dockerfile.storybook
Owners: @DGEXSolutions/front-maintainers

front: update @vitest/coverage-c8
  front/package.json
  front/yarn.lock
Owners: @DGEXSolutions/front-maintainers

ci: Update gh action to use node-18
  .github/workflows/front.yml
  .github/workflows/integration_tests.yml
Owners: @flomonster, @multun

front: Update to react18
  front/package.json
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/components/EntitySumUp.tsx
  front/src/applications/editor/components/InfraErrors/InfraErrorsList.tsx
  front/src/applications/editor/components/LinearMetadata/tooltip.tsx
  front/src/applications/editor/tools/selection/tool.tsx
  front/src/applications/referenceMap/Map.tsx
  front/src/index.tsx
  front/yarn.lock
Owners: @DGEXSolutions/front-maintainers

front: update DockerFile to use node-18
  front/Dockerfile
  front/Dockerfile.storybook
Owners: @DGEXSolutions/front-maintainers

front: Update to react18
  front/package.json
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/components/EntitySumUp.tsx
  front/src/applications/editor/components/InfraErrors/InfraErrorsList.tsx
  front/src/applications/editor/components/LinearMetadata/tooltip.tsx
  front/src/applications/editor/tools/selection/tool.tsx
  front/src/applications/referenceMap/Map.tsx
  front/src/index.tsx
  front/yarn.lock
Owners: @DGEXSolutions/front-maintainers

front: update @vitest/coverage-c8
  front/package.json
  front/yarn.lock
Owners: @DGEXSolutions/front-maintainers

core: fetch and cache the infrastructure version
  core/src/main/java/fr/sncf/osrd/api/InfraManager.java
  core/src/test/java/fr/sncf/osrd/api/ApiTest.java
  editoast/src/views/infra/railjson.rs
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers

front: electric profile: correcting french traduction
  front/public/locales/fr/simulation.json
Owners: @DGEXSolutions/front-maintainers

core: update sim to use power restrictions
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPath.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPathTest.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPathBuilder.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/SimpleRollingStock.java
  core/openapi.yaml
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSPowerRestrictionRange.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSStandaloneTrainSchedule.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSRollingStockParser.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSStandaloneTrainScheduleParser.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultModeAndProfilePoint.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/EnvelopeSimContextBuilder.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMSimulations.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMStandardAllowance.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
  core/src/main/java/fr/sncf/osrd/train/StandaloneTrainSchedule.java
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractorTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMHelpers.java
  core/src/test/java/fr/sncf/osrd/train/TestRollingStock.java
  core/src/test/java/fr/sncf/osrd/train/TestTrains.java
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers

core + api: add power restrictions used along path in sim result
  core/openapi.yaml
  core/src/main/java/fr/sncf/osrd/api/StandaloneSimulationEndpoint.java
  core/src/main/java/fr/sncf/osrd/external_generated_inputs/ElectricalProfileMapping.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ElectrificationConditionsRange.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultModeAndProfilePoint.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/StandaloneSimResult.java
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  core/src/test/java/fr/sncf/osrd/external_generated_inputs/ElectricalProfileMappingTest.java
  python/api/openapi.yaml
  python/api/osrd_infra/migrations/0024_rename_modes_and_profiles_simulationoutput_electrification_conditions.py
  python/api/osrd_infra/models/simulation_output.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers

front: rename modes_and_profiles to electrification_conditions
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/prepareData.ts
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/sampleData.jsx
  front/src/applications/operationalStudies/consts.ts
  front/src/common/api/osrdMiddlewareApi.ts
  front/src/reducers/osrdsimulation/types.ts
  front/tests/assets/operationStudies/train.json
Owners: @DGEXSolutions/front-maintainers

front: i18n for editor's forms
  front/package.json
  front/public/locales/fr/translation.json
  front/src/applications/editor/components/EditorForm.tsx
  front/src/applications/editor/components/LinearMetadata/FormBeginEndWidget.tsx
  front/src/applications/editor/components/LinearMetadata/FormComponent.tsx
  front/src/applications/editor/components/LinearMetadata/FormLineStringLength.tsx
  front/src/applications/editor/components/LinearMetadata/data.ts
  front/src/applications/editor/data/utils.ts
  front/src/applications/editor/tools/switchEdition/components.tsx
  front/yarn.lock
Owners: @DGEXSolutions/front-maintainers

front: i18n for editor's forms on common names
  front/public/locales/fr/translation.json
  front/src/applications/editor/components/EditorForm.tsx
Owners: @DGEXSolutions/front-maintainers

front: editor - i18n separate file/namespace
  front/public/locales/fr/editor.json
  front/public/locales/fr/translation.json
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/components/EditorForm.tsx
  front/src/applications/editor/components/EntitySumUp.tsx
  front/src/applications/editor/components/InfraErrors/InfraError.tsx
  front/src/applications/editor/components/InfraErrors/InfraErrorsList.tsx
  front/src/applications/editor/components/InfraErrors/InfraErrorsModal.tsx
  front/src/applications/editor/components/InfraSelectionModal.tsx
  front/src/applications/editor/components/LayersModal.tsx
  front/src/applications/editor/components/LinearMetadata/FormComponent.tsx
  front/src/applications/editor/components/LinearMetadata/FormLineStringLength.tsx
  front/src/applications/editor/components/LinearMetadata/HelpModal.tsx
  front/src/applications/editor/data/utils.ts
  front/src/applications/editor/nav.tsx
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/routeEdition/components.tsx
  front/src/applications/editor/tools/routeEdition/components/EditRouteMetadata.tsx
  front/src/applications/editor/tools/routeEdition/components/EditRoutePath.tsx
  front/src/applications/editor/tools/routeEdition/components/Endpoints.tsx
  front/src/applications/editor/tools/routeEdition/components/WayPointInput.tsx
  front/src/applications/editor/tools/selection/components.tsx
  front/src/applications/editor/tools/switchEdition/components.tsx
  front/src/applications/editor/tools/switchEdition/utils.ts
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/yarn.lock
Owners: @DGEXSolutions/front-maintainers

api: fix search tables lack of primary key
  python/api/osrd_infra/migrations/0024_search_fix_pk.py
  python/api/osrd_infra/migrations/__init__.py
Owners: @DGEXSolutions/editoast-maintainers

api: fix search tables lack of primary key
  python/api/osrd_infra/migrations/0024_search_fix_pk.py
  python/api/osrd_infra/migrations/__init__.py
Owners: @DGEXSolutions/editoast-maintainers

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics
