Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics

Fix integration tests
  front/src/common/ScenarioExplorator/ScenarioExplorator.tsx
  tests/conftest.py
  tests/tests/test_scenario.py
  tests/tests/utils/timetable.py
Owners: @DGEXSolutions/front-maintainers, @eckter

editoast: add osrd_infra_pathmodel and GET /pathfinding/{id}
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/diesel.toml
  editoast/src/models/mod.rs
  editoast/src/models/pathfinding.rs
  editoast/src/schema/track_section.rs
  editoast/src/tables.rs
  editoast/src/views/mod.rs
  editoast/src/views/pathfinding.rs
Owners: @DGEXSolutions/editoast-maintainers

front: update osrd_conf_schedule power_restriction ranges
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
Owners: @DGEXSolutions/front-maintainers

front: migrate saveEditor & getSwitchTypes by using RTK
  editoast/openapi.yaml
  front/src/applications/editor/data/api.ts
  front/src/applications/editor/data/utils.ts
  front/src/applications/editor/tools/routeEdition/components/EditRoutePath.tsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/reducers/editor.ts
  front/src/reducers/osrdconf/index.ts
  front/src/types/railjson.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

front: remove unused
  front/src/applications/editor/data/api.ts
  front/src/types/railjson.ts
Owners: @DGEXSolutions/front-maintainers

front: editor - refacto editoastToEditorEntity and railjson type
  front/src/applications/editor/data/utils.ts
  front/src/applications/editor/tools/routeEdition/components/EditRoutePath.tsx
  front/src/applications/editor/tools/routeEdition/utils.test.ts
Owners: @DGEXSolutions/front-maintainers

front: update osrd_conf_schedule power_restriction ranges
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
Owners: @DGEXSolutions/front-maintainers

front: update osrd_conf_schedule power_restriction ranges
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
Owners: @DGEXSolutions/front-maintainers

front: remove unused
  front/src/applications/editor/data/api.ts
  front/src/types/railjson.ts
Owners: @DGEXSolutions/front-maintainers

front: editor - refacto editoastToEditorEntity and railjson type
  front/src/applications/editor/data/utils.ts
  front/src/applications/editor/tools/routeEdition/components/EditRoutePath.tsx
  front/src/applications/editor/tools/routeEdition/utils.test.ts
Owners: @DGEXSolutions/front-maintainers

front: migrate saveEditor & getSwitchTypes by using RTK
  editoast/openapi.yaml
  front/src/applications/editor/data/api.ts
  front/src/applications/editor/data/utils.ts
  front/src/applications/editor/tools/routeEdition/components/EditRoutePath.tsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/reducers/editor.ts
  front/src/reducers/osrdconf/index.ts
  front/src/types/railjson.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

front: migrate saveEditor & getSwitchTypes by using RTK
  editoast/openapi.yaml
  front/src/applications/editor/data/api.ts
  front/src/applications/editor/data/utils.ts
  front/src/applications/editor/tools/routeEdition/components/EditRoutePath.tsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/reducers/editor.ts
  front/src/reducers/osrdconf/index.ts
  front/src/types/railjson.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

front: editor - refacto editoastToEditorEntity and railjson type
  front/src/applications/editor/data/utils.ts
  front/src/applications/editor/tools/routeEdition/components/EditRoutePath.tsx
  front/src/applications/editor/tools/routeEdition/utils.test.ts
Owners: @DGEXSolutions/front-maintainers

front: editor - load editor schema by using rtk query
  front/src/applications/editor/data/api.ts
  front/src/reducers/editor.ts
Owners: @DGEXSolutions/front-maintainers

front: remove unused
  front/src/applications/editor/data/api.ts
  front/src/types/railjson.ts
Owners: @DGEXSolutions/front-maintainers

front: editor - load editor schema by using rtk query
  front/src/applications/editor/data/api.ts
  front/src/reducers/editor.ts
Owners: @DGEXSolutions/front-maintainers

front: using types generated by rtk
  editoast/openapi.yaml
  front/src/applications/editor/components/EditorForm.tsx
  front/src/applications/editor/data/api.ts
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/switchEdition/components.tsx
  front/src/applications/editor/tools/switchEdition/utils.ts
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/types/editor.ts
  front/src/types/geospatial.ts
  front/src/types/index.ts
  front/src/types/railjson.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

front: using types generated by rtk
  editoast/openapi.yaml
  front/src/applications/editor/components/EditorForm.tsx
  front/src/applications/editor/data/api.ts
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/switchEdition/components.tsx
  front/src/applications/editor/tools/switchEdition/utils.ts
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/types/editor.ts
  front/src/types/geospatial.ts
  front/src/types/index.ts
  front/src/types/railjson.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

ci: use `setup-python` poetry cache
  .github/workflows/api.yml
  .github/workflows/integration_tests.yml
  .github/workflows/osrd_schemas.yml
  .github/workflows/railjson_generator.yml
Owners: @flomonster, @multun

front: no unused var
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/withOSRDData.jsx
Owners: @DGEXSolutions/front-maintainers

front: use new HOC on sppedTimeChart on stdcm
  front/src/applications/stdcm/views/OSRDStdcmResults.tsx
Owners: @DGEXSolutions/front-maintainers

front: change default allowance settings in stdcm
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/drawTrain.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/withOSRDData.jsx
  front/src/applications/stdcm/views/StdcmRequestModal.jsx
Owners: @DGEXSolutions/front-maintainers

front: no unused var
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/withOSRDData.jsx
Owners: @DGEXSolutions/front-maintainers

front: use new HOC on sppedTimeChart on stdcm
  front/src/applications/stdcm/views/OSRDStdcmResults.tsx
Owners: @DGEXSolutions/front-maintainers

front: change default allowance settings in stdcm
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/drawTrain.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/withOSRDData.jsx
  front/src/applications/stdcm/views/StdcmRequestModal.jsx
Owners: @DGEXSolutions/front-maintainers

ci: use `setup-python` poetry cache (#3783)
  .github/workflows/api.yml
  .github/workflows/integration_tests.yml
  .github/workflows/osrd_schemas.yml
  .github/workflows/railjson_generator.yml
Owners: @flomonster, @multun

ci: use `setup-python` poetry cache (#3783)
  .github/workflows/api.yml
  .github/workflows/integration_tests.yml
  .github/workflows/osrd_schemas.yml
  .github/workflows/railjson_generator.yml
Owners: @flomonster, @multun

front: use RTK query in SpeedLimitByTagSelector
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SpeedLimitByTagSelector.tsx
Owners: @DGEXSolutions/front-maintainers

front: remove useless dep
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SpeedLimitByTagSelector.tsx
Owners: @DGEXSolutions/front-maintainers

front: warning in stories
  front/src/stories/SpeedLimitByTag.stories.tsx
Owners: @DGEXSolutions/front-maintainers

editoast : add suffix _id
  editoast/openapi.yaml
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

editoast: front: adapt payload to create and update scenario
  editoast/openapi.yaml
  editoast/src/views/scenario.rs
  front/src/applications/operationalStudies/components/Scenario/AddOrEditScenarioModal.tsx
  front/src/common/api/osrdEditoastApi.ts
  tests/fuzzer/fuzzer.py
  tests/tests/test_scenario.py
  tests/tests/test_timetable.py
  tests/tests/utils/timetable.py
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers, @eckter

editoast: front: adapt payload to create and update scenario
  editoast/openapi.yaml
  editoast/src/views/scenario.rs
  front/src/applications/operationalStudies/components/Scenario/AddOrEditScenarioModal.tsx
  front/src/common/api/osrdEditoastApi.ts
  tests/fuzzer/fuzzer.py
  tests/tests/test_scenario.py
  tests/tests/test_timetable.py
  tests/tests/utils/timetable.py
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers, @eckter

editoast: front: uses editoast endpoints instead of api endpoints for study and scenario
  editoast/src/models/study.rs
  editoast/src/views/study.rs
  front/src/applications/operationalStudies/components/Scenario/AddOrEditScenarioModal.tsx
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
  front/src/applications/operationalStudies/components/Study/StateStep.tsx
  front/src/applications/operationalStudies/views/Project.jsx
  front/src/applications/operationalStudies/views/Scenario.jsx
  front/src/applications/operationalStudies/views/Study.jsx
  front/src/common/ScenarioExplorator/ScenarioExplorator.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorModal.tsx
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

editoast : add suffix _id
  editoast/openapi.yaml
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

Fix integration tests
  front/src/common/ScenarioExplorator/ScenarioExplorator.tsx
  tests/conftest.py
  tests/tests/test_scenario.py
  tests/tests/utils/timetable.py
Owners: @DGEXSolutions/front-maintainers, @eckter

Fix integration tests
  front/src/common/ScenarioExplorator/ScenarioExplorator.tsx
  tests/conftest.py
  tests/tests/test_scenario.py
  tests/tests/utils/timetable.py
Owners: @DGEXSolutions/front-maintainers, @eckter

editoast: api: fix study date type and fix electrical_profile patch field
  editoast/src/models/study.rs
  editoast/src/tables.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
  python/api/osrd_infra/migrations/0022_alter_study_actual_end_date_and_more.py
  python/api/osrd_infra/models/study.py
  tests/conftest.py
  tests/tests/test_scenario.py
  tests/tests/test_stdcm.py
  tests/tests/utils/timetable.py
Owners: @DGEXSolutions/editoast-maintainers, @eckter

front: add suffix _id to scenario's timetable, infra, electrical_profil_set
  front/src/applications/operationalStudies/components/Scenario/AddOrEditScenarioModal.tsx
  front/src/applications/operationalStudies/components/operationalStudiesTypes.ts
  front/src/applications/operationalStudies/views/Scenario.jsx
  front/src/common/ScenarioExplorator/ScenarioExplorator.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorModalScenarioMiniCard.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: front: uses editoast endpoints instead of api endpoints for study and scenario
  editoast/src/models/study.rs
  editoast/src/views/study.rs
  front/src/applications/operationalStudies/components/Scenario/AddOrEditScenarioModal.tsx
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
  front/src/applications/operationalStudies/components/Study/StateStep.tsx
  front/src/applications/operationalStudies/views/Project.jsx
  front/src/applications/operationalStudies/views/Scenario.jsx
  front/src/applications/operationalStudies/views/Study.jsx
  front/src/common/ScenarioExplorator/ScenarioExplorator.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorModal.tsx
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers
