Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

core: add curve & slope chart plotting in pathfinding result
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingResultConverter.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/CurveChartPointResult.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/PathfindingResult.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/SlopeChartPointResult.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/TrackEdge.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/directed/TrackRangeView.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/SwitchBranchImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/TrackSectionImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/UndirectedInfraBuilder.java
  core/src/test/java/fr/sncf/osrd/api/PathfindingTest.java
  core/src/test/java/fr/sncf/osrd/infra/InfraHelpers.java
  core/src/test/java/fr/sncf/osrd/infra_state/TrainPathTests.java
  python/api/osrd_infra/views/pathfinding.py
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers

editoast: add errors and warnings part 1 for catenary
  editoast/src/generated_data/error/catenaries.rs
  editoast/src/generated_data/error/mod.rs
  editoast/src/generated_data/error/sql/catenaries_insert_errors.sql
  editoast/src/infra_cache/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add errors and warnings part 1 for catenary
  editoast/src/generated_data/error/catenaries.rs
  editoast/src/generated_data/error/mod.rs
  editoast/src/generated_data/error/sql/catenaries_insert_errors.sql
  editoast/src/infra_cache/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add errors and warnings part 1 for catenary
  editoast/src/generated_data/error/catenaries.rs
  editoast/src/generated_data/error/mod.rs
  editoast/src/generated_data/error/sql/catenaries_insert_errors.sql
  editoast/src/infra_cache/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

railjson: add examples of DeadSection
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
Owners: @DGEXSolutions/editoast-maintainers

api: railjson: osrd_schema: editoast: bump railjson_version to 3.3.0
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSInfra.java
  editoast/src/models/infra.rs
  editoast/src/tests/small_infra/small_infra.json
  python/api/osrd_infra/migrations/0028_deadsectionmodel.py
  python/api/osrd_infra/migrations/0029_railjson_3_2_2.py
  python/osrd_schemas/osrd_schemas/infra.py
  python/railjson_generator/railjson_generator/schema/infra/infra.py
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers

fix integration tests
  python/api/openapi.yaml
  python/osrd_schemas/osrd_schemas/infra.py
  python/railjson_generator/railjson_generator/schema/infra/dead_section.py
  python/railjson_generator/railjson_generator/schema/infra/infra.py
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
  tests/poetry.lock
Owners: @DGEXSolutions/editoast-maintainers, @eckter

api: railjson: fixes
  python/api/osrd_infra/migrations/0028_deadsectionmodel.py
  python/railjson_generator/railjson_generator/schema/infra/dead_section.py
  python/railjson_generator/railjson_generator/schema/infra/infra.py
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
Owners: @DGEXSolutions/editoast-maintainers

api: add DeadSectionModel
  python/api/osrd_infra/migrations/0027_deadsectionmodel.py
  python/api/osrd_infra/models/infra.py
Owners: @DGEXSolutions/editoast-maintainers

fix formatter
  python/osrd_schemas/osrd_schemas/infra.py
Owners: @DGEXSolutions/editoast-maintainers

railjson: add DeadSection
  python/railjson_generator/README.md
  python/railjson_generator/railjson_generator/infra_builder.py
  python/railjson_generator/railjson_generator/schema/infra/dead_section.py
  python/railjson_generator/railjson_generator/schema/infra/infra.py
Owners: @DGEXSolutions/editoast-maintainers

osrd_schema: railjson: rename push_pull_track_ranges into backside_pantograph_track_ranges
  python/osrd_schemas/osrd_schemas/infra.py
  python/railjson_generator/railjson_generator/schema/infra/dead_section.py
Owners: @DGEXSolutions/editoast-maintainers

osrd_schema: add DeadZone
  python/osrd_schemas/osrd_schemas/infra.py
Owners: @DGEXSolutions/editoast-maintainers

railjson: osrd_schema: railjson 3.3.0 (add DeadSection data model) (#4144)
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSInfra.java
  editoast/src/models/infra.rs
  editoast/src/tests/small_infra/small_infra.json
  python/api/openapi.yaml
  python/api/osrd_infra/migrations/0029_railjson_3_2_2.py
  python/api/osrd_infra/models/infra.py
  python/osrd_schemas/osrd_schemas/infra.py
  python/railjson_generator/README.md
  python/railjson_generator/railjson_generator/infra_builder.py
  python/railjson_generator/railjson_generator/schema/infra/dead_section.py
  python/railjson_generator/railjson_generator/schema/infra/infra.py
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
  tests/poetry.lock
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers, @eckter

railjson: osrd_schema: railjson 3.3.0 (add DeadSection data model) (#4144)
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSInfra.java
  editoast/src/models/infra.rs
  editoast/src/tests/small_infra/small_infra.json
  python/api/openapi.yaml
  python/api/osrd_infra/migrations/0029_railjson_3_2_2.py
  python/api/osrd_infra/models/infra.py
  python/osrd_schemas/osrd_schemas/infra.py
  python/railjson_generator/README.md
  python/railjson_generator/railjson_generator/infra_builder.py
  python/railjson_generator/railjson_generator/schema/infra/dead_section.py
  python/railjson_generator/railjson_generator/schema/infra/infra.py
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
  tests/poetry.lock
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers, @eckter

front: RollingStockModal to tsx
  front/src/common/RollingStockSelector/RollingStockModal.tsx
  front/src/common/RollingStockSelector/__tests__/RollingStockModal.spec.ts
Owners: @DGEXSolutions/front-maintainers

front: better scrolling behavior in rolling stocks
  front/src/common/RollingStockSelector/RollingStockCard.jsx
  front/src/common/RollingStockSelector/RollingStockModal.tsx
  front/src/common/RollingStockSelector/__tests__/RollingStockModal.spec.ts
Owners: @DGEXSolutions/front-maintainers

front: fix react ref type
  front/src/common/RollingStockSelector/RollingStockModal.tsx
  front/src/common/RollingStockSelector/RollingStockSelector.tsx
Owners: @DGEXSolutions/front-maintainers

front: refactor search function
  front/src/common/RollingStockSelector/RollingStockModal.jsx
  front/src/common/RollingStockSelector/__tests__/RollingStockModal.spec.ts
Owners: @DGEXSolutions/front-maintainers

front: display message when rolling stock list is empty
  front/src/common/RollingStockSelector/RollingStockModal.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: reorganize RollingStock openapi type to fix front type
  editoast/openapi.yaml
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

front: leave rolling stock list sorted as received
  front/src/common/RollingStockSelector/RollingStockModal.tsx
Owners: @DGEXSolutions/front-maintainers

front: better scrolling behavior in rolling stocks
  front/src/common/RollingStockSelector/RollingStockCard.jsx
  front/src/common/RollingStockSelector/RollingStockModal.tsx
  front/src/common/RollingStockSelector/__tests__/RollingStockModal.spec.ts
Owners: @DGEXSolutions/front-maintainers

front: display message when rolling stock list is empty
  front/src/common/RollingStockSelector/RollingStockModal.tsx
Owners: @DGEXSolutions/front-maintainers

front: leave rolling stock list sorted as received
  front/src/common/RollingStockSelector/RollingStockModal.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: reorganize RollingStock openapi type to fix front type
  editoast/openapi.yaml
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

front: display message when rolling stock list is empty
  front/src/common/RollingStockSelector/RollingStockModal.tsx
Owners: @DGEXSolutions/front-maintainers

front: leave rolling stock list sorted as received
  front/src/common/RollingStockSelector/RollingStockModal.tsx
Owners: @DGEXSolutions/front-maintainers

front: fix react ref type
  front/src/common/RollingStockSelector/RollingStockModal.tsx
  front/src/common/RollingStockSelector/RollingStockSelector.tsx
Owners: @DGEXSolutions/front-maintainers

front: RollingStockModal to tsx
  front/src/common/RollingStockSelector/RollingStockModal.tsx
  front/src/common/RollingStockSelector/__tests__/RollingStockModal.spec.ts
Owners: @DGEXSolutions/front-maintainers

front: fix react ref type
  front/src/common/RollingStockSelector/RollingStockModal.tsx
  front/src/common/RollingStockSelector/RollingStockSelector.tsx
Owners: @DGEXSolutions/front-maintainers

front: RollingStockModal to tsx
  front/src/common/RollingStockSelector/RollingStockModal.tsx
  front/src/common/RollingStockSelector/__tests__/RollingStockModal.spec.ts
Owners: @DGEXSolutions/front-maintainers

front: refactor search function
  front/src/common/RollingStockSelector/RollingStockModal.jsx
  front/src/common/RollingStockSelector/__tests__/RollingStockModal.spec.ts
Owners: @DGEXSolutions/front-maintainers

front: refactor search function
  front/src/common/RollingStockSelector/RollingStockModal.jsx
  front/src/common/RollingStockSelector/__tests__/RollingStockModal.spec.ts
Owners: @DGEXSolutions/front-maintainers

front: better scrolling behavior in rolling stocks
  front/src/common/RollingStockSelector/RollingStockCard.jsx
  front/src/common/RollingStockSelector/RollingStockModal.tsx
  front/src/common/RollingStockSelector/__tests__/RollingStockModal.spec.ts
Owners: @DGEXSolutions/front-maintainers

editoast: reorganize RollingStock openapi type to fix front type
  editoast/openapi.yaml
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

editoast:osm-to-railjson reject more non relevant rails
  editoast/src/converters/osm_to_railjson.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast:osm-to-railjson fix switch port and group names
  editoast/src/converters/utils.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast:osm-to-railjson parse main signals as BAL
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/signal.rs
  editoast/src/tests/signals.osm.pbf
Owners: @DGEXSolutions/editoast-maintainers

editoast:osm-to-railjson generate a detector for each signal
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
Owners: @DGEXSolutions/editoast-maintainers

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics
