Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics

editoast:search: simplify compound types parsing in search.yml
  editoast/search.yml
  editoast/src/views/search/config.rs
  editoast/src/views/search/mod.rs
  editoast/src/views/search/typing.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: simplify compound types parsing in search.yml
  editoast/search.yml
  editoast/src/views/search/config.rs
  editoast/src/views/search/mod.rs
  editoast/src/views/search/typing.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: add support of arrays in the query language
  editoast/search.yml
  editoast/src/views/search/config.rs
  editoast/src/views/search/context.rs
  editoast/src/views/search/dsl.rs
  editoast/src/views/search/mod.rs
  editoast/src/views/search/process.rs
  editoast/src/views/search/sqlquery.rs
  editoast/src/views/search/typing.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: remove arg bind_pos in sqlquery
  editoast/src/views/search/mod.rs
  editoast/src/views/search/sqlquery.rs
Owners: @DGEXSolutions/editoast-maintainers

api:search: add signal search table migration
  editoast/src/views/search/context.rs
  editoast/src/views/search/mod.rs
  editoast/src/views/search/process.rs
  python/api/osrd_infra/migrations/0020_search_signals.py
  python/api/osrd_infra/migrations/__init__.py
  python/api/osrd_infra/models/searchtables.py
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: add geographic info to signal search response
  editoast/search.yml
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: simplification of type specs in search.yml
  editoast/search.yml
  editoast/src/views/search/config.rs
  editoast/src/views/search/mod.rs
  editoast/src/views/search/sqlquery.rs
  python/api/osrd_infra/migrations/0020_search_signals.py
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: add support of arrays in the query language
  editoast/search.yml
  editoast/src/views/search/config.rs
  editoast/src/views/search/context.rs
  editoast/src/views/search/dsl.rs
  editoast/src/views/search/mod.rs
  editoast/src/views/search/process.rs
  editoast/src/views/search/sqlquery.rs
  editoast/src/views/search/typing.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add get endpoint for scenario
  editoast/openapi.yaml
  editoast/src/models/mod.rs
  editoast/src/models/scenario.rs
  editoast/src/models/train_schedule.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

editoast: add get endpoint for scenario
  editoast/openapi.yaml
  editoast/src/models/mod.rs
  editoast/src/models/scenario.rs
  editoast/src/models/train_schedule.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

front: GET - fix coordinated cursors
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/SpaceTimeChart.jsx
Owners: @DGEXSolutions/front-maintainers

core: add signaling system block checking
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/SignalDriver.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/SignalingSimulator.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/BlockBuilder.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/MockSigSystemManager.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/SigSystemManagerImpl.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/SignalingSimulatorImpl.kt
  core/kt-osrd-signaling/src/test/kotlin/fr/sncf/osrd/signaling/BlockBuilderTest.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadedSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/RawSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/BlockInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/BlockInfraImpl.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bal/BAL.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bal/BALtoBAL.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bal/BALtoBAPR.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bapr/BAPR.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bapr/BAPRtoBAL.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bapr/BAPRtoBAPR.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBALtoBAL.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBAPRtoBAL.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/SignalLoadingTest.kt
Owners: @DGEXSolutions/core-maintainers

Add `CONTRIBUTING.md`
  CONTRIBUTING.md
Owners: none

Add `CONTRIBUTING.md`
  CONTRIBUTING.md
Owners: none

core: add signaling system block checking
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/SignalDriver.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/SignalingSimulator.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/BlockBuilder.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/MockSigSystemManager.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/SigSystemManagerImpl.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/SignalingSimulatorImpl.kt
  core/kt-osrd-signaling/src/test/kotlin/fr/sncf/osrd/signaling/BlockBuilderTest.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadedSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/RawSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/BlockInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/BlockInfraImpl.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bal/BAL.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bal/BALtoBAL.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bal/BALtoBAPR.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bapr/BAPR.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bapr/BAPRtoBAL.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bapr/BAPRtoBAPR.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBALtoBAL.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBAPRtoBAL.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/SignalLoadingTest.kt
Owners: @DGEXSolutions/core-maintainers

core: add signaling system block checking
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/SignalDriver.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/SignalingSimulator.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/BlockBuilder.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/MockSigSystemManager.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/SigSystemManagerImpl.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/SignalingSimulatorImpl.kt
  core/kt-osrd-signaling/src/test/kotlin/fr/sncf/osrd/signaling/BlockBuilderTest.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadedSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/RawSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/BlockInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/BlockInfraImpl.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bal/BAL.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bal/BALtoBAL.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bal/BALtoBAPR.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bapr/BAPR.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bapr/BAPRtoBAL.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bapr/BAPRtoBAPR.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBALtoBAL.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBAPRtoBAL.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/SignalLoadingTest.kt
Owners: @DGEXSolutions/core-maintainers

editoast : add update endpoint for scenario
  editoast/openapi.yaml
  editoast/src/models/scenario.rs
  editoast/src/views/scenario.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

core: fix blocks with no zonepath
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/BlockBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/BlockInfraBuilder.kt
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
Owners: @DGEXSolutions/core-maintainers

front: i18n: use infrastructures count for plurals
  front/public/locales/en/infraManagement.json
  front/public/locales/fr/infraManagement.json
  front/src/common/InfraSelector/InfraSelectorModalBodyEdition.jsx
  front/src/common/InfraSelector/InfraSelectorModalBodyStandard.jsx
Owners: @DGEXSolutions/front-maintainers

editoast : add update endpoint for scenario
  editoast/openapi.yaml
  editoast/src/models/scenario.rs
  editoast/src/views/scenario.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

front: get advance on Origin and Vias
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Origin.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Vias.tsx
Owners: @DGEXSolutions/front-maintainers

core: fix blocks with no zonepath
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/BlockBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/BlockInfraBuilder.kt
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
Owners: @DGEXSolutions/core-maintainers

core: fix blocks with no zonepath
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/BlockBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/BlockInfraBuilder.kt
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
Owners: @DGEXSolutions/core-maintainers

core: make signal drivers more resilient
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bal/BALtoBAL.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bal/BALtoBAPR.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bapr/BAPRtoBAL.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bapr/BAPRtoBAPR.kt
Owners: @DGEXSolutions/core-maintainers

core: make signal drivers more resilient
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bal/BALtoBAL.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bal/BALtoBAPR.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bapr/BAPRtoBAL.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bapr/BAPRtoBAPR.kt
Owners: @DGEXSolutions/core-maintainers

core: make signal drivers more resilient
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bal/BALtoBAL.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bal/BALtoBAPR.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bapr/BAPRtoBAL.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bapr/BAPRtoBAPR.kt
Owners: @DGEXSolutions/core-maintainers

front: i18n: add menu entry & modal to change language
  front/package.json
  front/public/locales/de/home/home.json
  front/public/locales/de/home/navbar.json
  front/public/locales/en-US/translation.json
  front/public/locales/en/home/navbar.json
  front/public/locales/es/home/home.json
  front/public/locales/es/home/navbar.json
  front/public/locales/fr/home.json
  front/public/locales/it/home/home.json
  front/public/locales/it/home/navbar.json
  front/public/locales/jp/home/home.json
  front/public/locales/jp/home/navbar.json
  front/public/locales/ru/home/home.json
  front/public/locales/ru/home/navbar.json
  front/public/locales/uk/home/home.json
  front/public/locales/uk/home/navbar.json
  front/src/common/BootstrapSNCF/NavBarSNCF.jsx
  front/src/common/ChangeLanguageModal.tsx
  front/src/i18n.js
  front/src/styles/scss/_home.scss
  front/src/utils/strings.ts
  front/yarn.lock
Owners: @DGEXSolutions/front-maintainers

front: split some locales files
  front/public/locales/en/home/home.json
  front/public/locales/en/home/navbar.json
  front/public/locales/en/translation.json
  front/public/locales/fr/home/home.json
  front/public/locales/fr/home/navbar.json
  front/public/locales/fr/translation.json
  front/src/applications/customget/Home.jsx
  front/src/applications/referenceMap/Home.tsx
  front/src/applications/stdcm/Home.jsx
  front/src/common/BootstrapSNCF/DropdownSNCF.tsx
  front/src/common/ReleaseInformations/LicenseAttributions.tsx
  front/src/common/ReleaseInformations/ReleaseInformations.tsx
  front/src/main/home.jsx
  front/tests/home-page-model.tsx
Owners: @DGEXSolutions/front-maintainers

editoast : add update endpoint for scenario
  editoast/openapi.yaml
  editoast/src/models/scenario.rs
  editoast/src/views/scenario.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

editoast: add post scenario endpoint
  editoast/openapi.yaml
  editoast/src/main.rs
  editoast/src/models/mod.rs
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/models/timetable.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tables.rs
  editoast/src/views/mod.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
  editoast/src/views/timetable.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

editoast: add get endpoint for scenario
  editoast/openapi.yaml
  editoast/src/models/mod.rs
  editoast/src/models/scenario.rs
  editoast/src/models/train_schedule.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

editoast : add update endpoint for scenario
  editoast/openapi.yaml
  editoast/src/models/scenario.rs
  editoast/src/views/scenario.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

editoast: migrate scenario model
  editoast/src/models/mod.rs
  editoast/src/models/scenario.rs
  editoast/src/models/timetable.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tables.rs
  editoast/src/views/mod.rs
  editoast/src/views/scenario.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast : add delete endpoint for scenario
  editoast/openapi.yaml
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/models/timetable.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/mod.rs
  editoast/src/views/projects.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

editoast : add delete endpoint for scenario
  editoast/openapi.yaml
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/models/timetable.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/mod.rs
  editoast/src/views/projects.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

editoast: add get endpoint for scenario
  editoast/openapi.yaml
  editoast/src/models/mod.rs
  editoast/src/models/scenario.rs
  editoast/src/models/train_schedule.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

editoast: migrate scenario model
  editoast/src/models/mod.rs
  editoast/src/models/scenario.rs
  editoast/src/models/timetable.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tables.rs
  editoast/src/views/mod.rs
  editoast/src/views/scenario.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add post scenario endpoint
  editoast/openapi.yaml
  editoast/src/main.rs
  editoast/src/models/mod.rs
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/models/timetable.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tables.rs
  editoast/src/views/mod.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
  editoast/src/views/timetable.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

front: i18n: add menu entry & modal to change language
  front/package.json
  front/public/locales/de/home/home.json
  front/public/locales/de/home/navbar.json
  front/public/locales/en-US/translation.json
  front/public/locales/en/home/navbar.json
  front/public/locales/es/home/home.json
  front/public/locales/es/home/navbar.json
  front/public/locales/fr/home.json
  front/public/locales/it/home/home.json
  front/public/locales/it/home/navbar.json
  front/public/locales/jp/home/home.json
  front/public/locales/jp/home/navbar.json
  front/public/locales/ru/home/home.json
  front/public/locales/ru/home/navbar.json
  front/public/locales/uk/home/home.json
  front/public/locales/uk/home/navbar.json
  front/src/common/BootstrapSNCF/NavBarSNCF.jsx
  front/src/common/ChangeLanguageModal.tsx
  front/src/i18n.js
  front/src/styles/scss/_home.scss
  front/src/utils/strings.ts
  front/yarn.lock
Owners: @DGEXSolutions/front-maintainers

front: split some locales files
  front/public/locales/en/home/home.json
  front/public/locales/en/home/navbar.json
  front/public/locales/en/translation.json
  front/public/locales/fr/home/home.json
  front/public/locales/fr/home/navbar.json
  front/public/locales/fr/translation.json
  front/src/applications/customget/Home.jsx
  front/src/applications/referenceMap/Home.tsx
  front/src/applications/stdcm/Home.jsx
  front/src/common/BootstrapSNCF/DropdownSNCF.tsx
  front/src/common/ReleaseInformations/LicenseAttributions.tsx
  front/src/common/ReleaseInformations/ReleaseInformations.tsx
  front/src/main/home.jsx
  front/tests/home-page-model.tsx
Owners: @DGEXSolutions/front-maintainers
