Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @osrd-project/front-maintainers, @osrd-project/editoast-maintainers, @eckter, @osrd-project/core-maintainers, @osrd-project/physics

core: standalone_sim: factor out pathSignals
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
Owners: @osrd-project/core-maintainers

core: sim-infra: move block recovery code to a separate file
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadedSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/utils/BlockRecovery.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
Owners: @osrd-project/core-maintainers

core: kt-osrd-utils: fix display of negative distances
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/units/Distance.kt
Owners: @osrd-project/core-maintainers

core: sim-infra: move block recovery code to a separate file
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadedSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/utils/BlockRecovery.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
Owners: @osrd-project/core-maintainers

core: standalone_sim: factor out pathSignals
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
Owners: @osrd-project/core-maintainers

core: standalone_sim: fix initial spacing requirements
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/java/fr/sncf/osrd/train/StandaloneTrainSchedule.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/ConflictDetectionTest.java
Owners: @osrd-project/core-maintainers

core: standalone_sim: fix initial spacing requirements
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/java/fr/sncf/osrd/train/StandaloneTrainSchedule.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/ConflictDetectionTest.java
Owners: @osrd-project/core-maintainers

api: editoast: add rollingstock_version and rename railjson_version field
  editoast/src/models/rolling_stock/light_rolling_stock.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/schema/rolling_stock/light_rolling_stock.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/tables.rs
  editoast/src/views/rolling_stocks/mod.rs
  python/api/osrd_infra/migrations/0039_rename_version_rollingstock_railjson_version_and_more.py
  python/api/osrd_infra/models/rolling_stock.py
Owners: @osrd-project/editoast-maintainers

editoast: fix tests
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSRollingStockParser.java
  core/src/test/java/fr/sncf/osrd/railjson/parser/TestRJSRollingStockParser.java
  editoast/openapi.yaml
  editoast/src/models/rolling_stock/light_rolling_stock.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/schema/rolling_stock/light_rolling_stock.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/tables.rs
  editoast/src/tests/example_rolling_stock_1.json
  editoast/src/tests/example_rolling_stock_2_energy_sources.json
  editoast/src/tests/example_rolling_stock_3.json
  editoast/src/views/rolling_stocks/mod.rs
  front/src/applications/rollingStockEditor/components/RollingStockEditorForm.tsx
  front/src/applications/rollingStockEditor/consts.ts
  front/src/common/api/osrdEditoastApi.ts
  front/tests/assets/example_rolling_stock_1500.json
  python/api/osrd_infra/migrations/0039_rename_version_rollingstock_railjson_version_and_more.py
  python/api/osrd_infra/models/rolling_stock.py
  python/osrd_schemas/osrd_schemas/rolling_stock.py
  python/railjson_generator/railjson_generator/examples/rolling_stocks/electric_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/fast_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/fast_rolling_stock_high_gamma.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/short_fast_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/short_slow_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/slow_rolling_stock.json
Owners: @osrd-project/core-maintainers, @osrd-project/editoast-maintainers, @osrd-project/front-maintainers

actions: disable storybook build
  .github/workflows/docker-build-push.yml
Owners: @flomonster, @multun

front: fix simulation error when removing last train
  front/src/applications/operationalStudies/components/Scenario/getTimetable.jsx
Owners: @osrd-project/front-maintainers

api: editoast: add rollingstock_version and rename railjson_version field
  editoast/src/models/rolling_stock/light_rolling_stock.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/schema/rolling_stock/light_rolling_stock.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/tables.rs
  editoast/src/views/rolling_stocks/mod.rs
  python/api/osrd_infra/migrations/0039_rename_version_rollingstock_railjson_version_and_more.py
  python/api/osrd_infra/models/rolling_stock.py
Owners: @osrd-project/editoast-maintainers

editoast: fix tests
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSRollingStockParser.java
  core/src/test/java/fr/sncf/osrd/railjson/parser/TestRJSRollingStockParser.java
  editoast/openapi.yaml
  editoast/src/models/rolling_stock/light_rolling_stock.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/schema/rolling_stock/light_rolling_stock.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/tables.rs
  editoast/src/tests/example_rolling_stock_1.json
  editoast/src/tests/example_rolling_stock_2_energy_sources.json
  editoast/src/tests/example_rolling_stock_3.json
  editoast/src/views/rolling_stocks/mod.rs
  front/src/applications/rollingStockEditor/components/RollingStockEditorForm.tsx
  front/src/applications/rollingStockEditor/consts.ts
  front/src/common/api/osrdEditoastApi.ts
  front/tests/assets/example_rolling_stock_1500.json
  python/api/osrd_infra/migrations/0039_rename_version_rollingstock_railjson_version_and_more.py
  python/api/osrd_infra/models/rolling_stock.py
  python/osrd_schemas/osrd_schemas/rolling_stock.py
  python/railjson_generator/railjson_generator/examples/rolling_stocks/electric_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/fast_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/fast_rolling_stock_high_gamma.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/short_fast_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/short_slow_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/slow_rolling_stock.json
Owners: @osrd-project/core-maintainers, @osrd-project/editoast-maintainers, @osrd-project/front-maintainers

actions: remove path filtering for required workflows
  .github/workflows/api.yml
  .github/workflows/core.yml
  .github/workflows/editoast.yml
  .github/workflows/front.yml
  .github/workflows/osrd_schemas.yml
  .github/workflows/railjson_generator.yml
Owners: @flomonster, @multun

actions: fix editoast linter job name
  .github/workflows/editoast.yml
Owners: @flomonster, @multun

front: fix simulation error when removing last train
  front/src/applications/operationalStudies/components/Scenario/getTimetable.jsx
Owners: @osrd-project/front-maintainers

editoast: add /openapi/v1 endpoint
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/client/mod.rs
  editoast/src/main.rs
  editoast/src/views/mod.rs
  editoast/src/views/openapi.rs
Owners: @osrd-project/editoast-maintainers

ci:editoast: add job checking openapi sync
  .github/workflows/editoast.yml
  editoast/README.md
  editoast/openapi.json
Owners: @flomonster, @multun, @osrd-project/editoast-maintainers

front: update editoast rtk generation to use the generated OpenApi
  front/src/common/api/osrdEditoastApi.ts
  front/src/config/openapi-editoast-config.ts
Owners: @osrd-project/front-maintainers

front: import - generate autocomplete pathfindings from steps
  editoast/openapi.yaml
  front/public/locales/en/operationalStudies/importTrainSchedule.json
  front/public/locales/fr/operationalStudies/importTrainSchedule.json
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleConfig.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleModal.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleStationSelector.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleTrainDetail.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleTrainsList.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/consts.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/generatePathfindingPayload.jsx
  front/src/applications/operationalStudies/types.ts
  front/src/applications/operationalStudies/views/ImportTrainSchedule.tsx
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/common/Spacer.tsx
  front/src/common/api/graouApi.ts
  front/src/common/api/osrdEditoastApi.ts
  front/src/utils/array.ts
Owners: @osrd-project/front-maintainers

front: import - generate autocomplete pathfindings from steps
  editoast/openapi.yaml
  front/public/locales/en/operationalStudies/importTrainSchedule.json
  front/public/locales/fr/operationalStudies/importTrainSchedule.json
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleConfig.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleModal.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleStationSelector.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleTrainDetail.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleTrainsList.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/consts.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/generatePathfindingPayload.jsx
  front/src/applications/operationalStudies/types.ts
  front/src/applications/operationalStudies/views/ImportTrainSchedule.tsx
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/common/Spacer.tsx
  front/src/common/api/graouApi.ts
  front/src/common/api/osrdEditoastApi.ts
  front/src/utils/array.ts
Owners: @osrd-project/front-maintainers

editoast: Add ROOT_PATH support
  editoast/src/client/mod.rs
  editoast/src/main.rs
Owners: @osrd-project/editoast-maintainers

editoast: Add ROOT_PATH support
  editoast/src/client/mod.rs
  editoast/src/main.rs
Owners: @osrd-project/editoast-maintainers

front: test pathfinding infra_france
  front/tests/map-model.ts
  front/tests/operational-studies.spec.ts
Owners: @osrd-project/front-maintainers

front: test pathfinding done for small_infra
  front/tests/map-model.ts
  front/tests/operational-studies.spec.ts
Owners: @osrd-project/front-maintainers

front: test pathfinding add timeout for map
  front/tests/operational-studies.spec.ts
Owners: @osrd-project/front-maintainers

front: test-e2e: pathfinding-local.spec: Create test pathfinding electrification error in a local environment
  front/tests/map-model.ts
  front/tests/operational-studies.spec.ts
  front/tests/pathfinding-local.spec.ts
Owners: @osrd-project/front-maintainers

front: test pathfinding add timeout for map
  front/tests/operational-studies.spec.ts
Owners: @osrd-project/front-maintainers

front: test-e2e: Add test pathfinding missing origin/destination error
  front/tests/004-scenario-creation.spec.ts
  front/tests/007-pathfinding.spec.ts
  front/tests/assets/operationStudies/test_variables.ts
  front/tests/map-model.ts
  front/tests/operational-studies.spec.ts
  front/tests/pages/scenario-page-model.ts
  front/tests/pathfinding-local.spec.ts
Owners: @osrd-project/front-maintainers

front: fix simulation error when removing last train
  front/src/common/RollingStockSelector/RollingStockModal.tsx
  front/src/common/RollingStockSelector/SearchRollingStock.tsx
Owners: @osrd-project/front-maintainers

front: test e2e: add allowances
  front/public/locales/fr/allowances.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesActions.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesListItem.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesStandardSettings.tsx
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/stdcm/components/OldAllowances/StandardAllowanceDefault.tsx
  front/src/common/BootstrapSNCF/InputGroupSNCF.tsx
  front/tests/001-home-page.spec.ts
  front/tests/004-scenario-creation.spec.ts
  front/tests/006-stdcm-page.spec.ts
  front/tests/007-pathfinding.spec.ts
  front/tests/008-allowances.spec.ts
  front/tests/009-project-delete.spec.ts
  front/tests/pages/map-model.ts
  front/tests/pages/scenario-page-model.ts
Owners: @osrd-project/front-maintainers

actions: properly cache docker layers
  .github/workflows/docker-build-push-template.yml
  .github/workflows/editoast.yml
  .github/workflows/integration_tests.yml
Owners: @flomonster, @multun

front: fix scenario train details update
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SubmitConfUpdateTrainSchedules.tsx
Owners: @osrd-project/front-maintainers

editoast: remove useless cargo sparse index config
  .cargo/config.toml
Owners: none

editoast: remove .cargo/config.toml
  .cargo/config.toml
Owners: none

editoast: remove .cargo/config.toml
  .cargo/config.toml
Owners: none

actions: use the same docker cache scope everywhere
  .github/workflows/docker-build-push-template.yml
  .github/workflows/docker-build-push.yml
Owners: @flomonster, @multun

editoast: add /openapi/v1 endpoint
  .github/workflows/editoast.yml
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/README.md
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  editoast/src/client/mod.rs
  editoast/src/main.rs
  editoast/src/views/mod.rs
  editoast/src/views/openapi.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @flomonster, @multun, @osrd-project/editoast-maintainers

Use release build when generating openapi
  .github/workflows/editoast.yml
Owners: @flomonster, @multun

front: fix scenario train details update
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SubmitConfUpdateTrainSchedules.tsx
Owners: @osrd-project/front-maintainers

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @osrd-project/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @osrd-project/editoast-maintainers
/editoast/openapi.yaml
/chartos                                                 @osrd-project/editoast-maintainers
/python                                                  @osrd-project/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @osrd-project/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @osrd-project/physics
*Integration*.java                                       @osrd-project/physics
