Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

front: Fix comments
  front/src/common/Map/Search/MapSearchLine.tsx
Owners: @DGEXSolutions/front-maintainers

front: SimulationResultMap: use searchContext to display search line
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
Owners: @DGEXSolutions/front-maintainers

front: resolve bug search line
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/common/Map/Search/MapSearchStation.jsx
  front/src/common/Map/Search/SearchContext.tsx
Owners: @DGEXSolutions/front-maintainers

front: SimulationResultMap: use searchContext to display search line
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
Owners: @DGEXSolutions/front-maintainers

front: remove searchContext
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Map.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
  front/src/applications/referenceMap/Map.tsx
  front/src/common/Map/Search/MapSearch.jsx
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/common/Map/Search/MapSearchStation.jsx
  front/src/common/Map/Search/SearchContext.tsx
  front/src/main/app.jsx
Owners: @DGEXSolutions/front-maintainers

front: const.ts: create type searchPayloadType and SEARCH_URLh. MapSearchStation: refacto and use new const SEARCH_URL. Create MapSearchLine.
  front/public/locales/fr/map-search.json
  front/src/common/Map/Search/MapSearch.jsx
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/common/Map/Search/MapSearchStation.jsx
  front/src/common/Map/const.ts
Owners: @DGEXSolutions/front-maintainers

front: MapSearchLine: use rtk
  front/src/common/Map/Search/MapSearchLine.tsx
Owners: @DGEXSolutions/front-maintainers

front: LineCard: standarize LineCard css with StationCard.
  front/src/applications/referenceMap/Map.tsx
  front/src/common/Map/Search/LineCard.tsx
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/common/Map/Search/MapSearchStation.jsx
  front/src/common/Map/Search/SearchResultItem.tsx
  front/src/common/StationCard.tsx
Owners: @DGEXSolutions/front-maintainers

front: create SearchResultItem and use in MapSearchLine and MapSearchStation
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/common/Map/Search/MapSearchStation.jsx
  front/src/common/Map/Search/SearchResultItem.tsx
Owners: @DGEXSolutions/front-maintainers

front: MapSearchLine: use RTK
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Map.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap/RenderItinerary.tsx
  front/src/applications/referenceMap/Map.tsx
  front/src/common/Map/Layers/LineSearchLayer.tsx
  front/src/common/Map/Search/LineCard.tsx
  front/src/common/Map/Search/MapSearch.jsx
  front/src/common/Map/Search/MapSearchLine.tsx
Owners: @DGEXSolutions/front-maintainers

front: SimulationResultMap, Map: Use search context
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
  front/src/applications/referenceMap/Map.tsx
  front/src/common/Map/Search/MapSearchLine.tsx
Owners: @DGEXSolutions/front-maintainers

front: MapSearchLine: connect front with back and display result
  front/src/common/Map/Search/MapSearchLine.tsx
Owners: @DGEXSolutions/front-maintainers

front: create new layer to display result of line search
  front/src/applications/referenceMap/Map.tsx
  front/src/common/Map/Layers/LineSearchLayer.tsx
  front/src/config/layerOrder.ts
Owners: @DGEXSolutions/front-maintainers

front: resolve bug search line
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/common/Map/Search/MapSearchStation.jsx
  front/src/common/Map/Search/SearchContext.tsx
Owners: @DGEXSolutions/front-maintainers

front: LineCard: standarize LineCard css with StationCard.
  front/src/applications/referenceMap/Map.tsx
  front/src/common/Map/Search/LineCard.tsx
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/common/Map/Search/MapSearchStation.jsx
  front/src/common/Map/Search/SearchResultItem.tsx
  front/src/common/StationCard.tsx
Owners: @DGEXSolutions/front-maintainers

front: remove searchContext
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Map.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
  front/src/applications/referenceMap/Map.tsx
  front/src/common/Map/Search/MapSearch.jsx
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/common/Map/Search/MapSearchStation.jsx
  front/src/common/Map/Search/SearchContext.tsx
  front/src/main/app.jsx
Owners: @DGEXSolutions/front-maintainers

front: Map: use SearchContext to display search line. RenderItinenary: refacto to use it for the line serach. MapSearch: remove tabs signal box and signal. MapSearchLine: add logic for resize map
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Map.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap/RenderItinerary.tsx
  front/src/common/Map/Search/MapSearch.jsx
  front/src/common/Map/Search/MapSearchLine.tsx
Owners: @DGEXSolutions/front-maintainers

Refacto : use editoast endpoint to get track bbox
  front/src/common/Map/Search/LineCard.tsx
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/common/Map/Search/searchTypes.ts
Owners: @DGEXSolutions/front-maintainers

front: LineSearchLayer: add lineSearchCode. HeaderPopUp: add action in props. MapSearch: create button a function to reset search. And add lineSearchCode in store
  front/public/locales/fr/map-search.json
  front/src/common/Map/HeaderPopUp.tsx
  front/src/common/Map/Layers/LineSearchLayer.tsx
  front/src/common/Map/Search/MapSearch.jsx
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/reducers/map/index.ts
  python/api/osrd_infra/migrations/0014_osrd_search_track.py
Owners: @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers

front: SimulationResultMap, Map: Use search context
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
  front/src/applications/referenceMap/Map.tsx
  front/src/common/Map/Search/MapSearchLine.tsx
Owners: @DGEXSolutions/front-maintainers

front: Map: use SearchContext to display search line. RenderItinenary: refacto to use it for the line serach. MapSearch: remove tabs signal box and signal. MapSearchLine: add logic for resize map
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Map.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap/RenderItinerary.tsx
  front/src/common/Map/Search/MapSearch.jsx
  front/src/common/Map/Search/MapSearchLine.tsx
Owners: @DGEXSolutions/front-maintainers

front: SearchContext: create serach context. RenderItynerary: refacto to use it for search line
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap/RenderItinerary.tsx
  front/src/common/Map/Search/SearchContext.tsx
  front/src/main/app.jsx
Owners: @DGEXSolutions/front-maintainers

front: const.ts: create type searchPayloadType and SEARCH_URLh. MapSearchStation: refacto and use new const SEARCH_URL. Create MapSearchLine.
  front/public/locales/fr/map-search.json
  front/src/common/Map/Search/MapSearch.jsx
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/common/Map/Search/MapSearchStation.jsx
  front/src/common/Map/const.ts
Owners: @DGEXSolutions/front-maintainers

front: Fix comments
  front/src/common/Map/Search/MapSearchLine.tsx
Owners: @DGEXSolutions/front-maintainers

search: search into tracks directly instead of tracksections
  python/api/osrd_infra/migrations/0014_osrd_search_track.py
Owners: @DGEXSolutions/editoast-maintainers

front: create SearchResultItem and use in MapSearchLine and MapSearchStation
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/common/Map/Search/MapSearchStation.jsx
  front/src/common/Map/Search/SearchResultItem.tsx
Owners: @DGEXSolutions/front-maintainers

front: LineSearchLayer: add lineSearchCode. HeaderPopUp: add action in props. MapSearch: create button a function to reset search. And add lineSearchCode in store
  front/public/locales/fr/map-search.json
  front/src/common/Map/HeaderPopUp.tsx
  front/src/common/Map/Layers/LineSearchLayer.tsx
  front/src/common/Map/Search/MapSearch.jsx
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/reducers/map/index.ts
  python/api/osrd_infra/migrations/0014_osrd_search_track.py
Owners: @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers

Refacto : use editoast endpoint to get track bbox
  front/src/common/Map/Search/LineCard.tsx
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/common/Map/Search/searchTypes.ts
Owners: @DGEXSolutions/front-maintainers

front: MapSearchLine: connect front with back and display result
  front/src/common/Map/Search/MapSearchLine.tsx
Owners: @DGEXSolutions/front-maintainers

front: SearchContext: create serach context. RenderItynerary: refacto to use it for search line
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap/RenderItinerary.tsx
  front/src/common/Map/Search/SearchContext.tsx
  front/src/main/app.jsx
Owners: @DGEXSolutions/front-maintainers

front: create new layer to display result of line search
  front/src/applications/referenceMap/Map.tsx
  front/src/common/Map/Layers/LineSearchLayer.tsx
  front/src/config/layerOrder.ts
Owners: @DGEXSolutions/front-maintainers

search: search into tracks directly instead of tracksections
  python/api/osrd_infra/migrations/0014_osrd_search_track.py
Owners: @DGEXSolutions/editoast-maintainers

front: MapSearchLine: use RTK
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Map.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap/RenderItinerary.tsx
  front/src/applications/referenceMap/Map.tsx
  front/src/common/Map/Layers/LineSearchLayer.tsx
  front/src/common/Map/Search/LineCard.tsx
  front/src/common/Map/Search/MapSearch.jsx
  front/src/common/Map/Search/MapSearchLine.tsx
Owners: @DGEXSolutions/front-maintainers

front: MapSearchLine: use rtk
  front/src/common/Map/Search/MapSearchLine.tsx
Owners: @DGEXSolutions/front-maintainers

front: clean GEV
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/enableInteractivity.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/SpaceTimeChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/prepareData.ts
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/sampleData.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/withOSRDData.jsx
  front/src/applications/operationalStudies/components/SimulationResults/simulationResultsConsts.ts
Owners: @DGEXSolutions/front-maintainers

editoast: fix openapi duplicate endpoint
  editoast/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

editoast: fix openapi trailing slash
  editoast/openapi.yaml
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

editoast: fix openapi duplicate endpoint
  editoast/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

editoast: fix openapi trailing slash
  editoast/openapi.yaml
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

Fix
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/enableInteractivity.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
Owners: @DGEXSolutions/front-maintainers

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics
