Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics

front: updateTrain: refacto vias & typescript
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Destination.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Origin.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayVias.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/ModalSuggeredVias.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderItineraryMarkers.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderPopup.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/stdcm/formatStcmConf.ts
  front/src/common/Pathfinding/Pathfinding.tsx
  front/src/utils/pathfinding.ts
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: minor code fixes
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/submitConf.ts
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: train settings with store
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/TrainSettings.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: refacto vias & typescript
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Destination.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Origin.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayVias.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/ModalSuggeredVias.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderItineraryMarkers.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderPopup.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/stdcm/formatStcmConf.ts
  front/src/common/Pathfinding/Pathfinding.tsx
  front/src/utils/pathfinding.ts
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: rename type to mapTrackSourcesType more clear
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/ModalSuggeredVias.tsx
  front/src/common/Pathfinding/Pathfinding.tsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: change files names
  front/src/applications/operationalStudies/components/ManageTrainSchedule/AddOrEditTrainSchedule.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/TrainLabels.jsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: correct conflicts from rebase
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/submitConf.ts
  front/src/applications/operationalStudies/consts.ts
  front/src/reducers/osrdconf/index.ts
Owners: @DGEXSolutions/front-maintainers

front: remove fullscreen button by default, typescripting mapbuttons
  front/src/applications/customget/views/CustomGET.jsx
  front/src/applications/editor/Editor.tsx
  front/src/applications/referenceMap/Map.tsx
  front/src/common/Map/Buttons/MapButtons.tsx
  front/src/common/Map/const.ts
Owners: @DGEXSolutions/front-maintainers

front: change vite port to 3000 & remove useless file to pass build
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances.tsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: remove ugly getOSRDconf
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/TrainSettings.tsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: change files names
  front/src/applications/operationalStudies/components/ManageTrainSchedule/AddOrEditTrainSchedule.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/TrainLabels.jsx
Owners: @DGEXSolutions/front-maintainers

front: change vite port to 3000 & remove useless file to pass build
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances.tsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: locales corrections
  front/public/locales/fr/operationalStudies/scenario.json
  front/public/locales/fr/simulation.json
  front/src/applications/operationalStudies/components/Scenario/Timetable.jsx
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
Owners: @DGEXSolutions/front-maintainers

front: fix error when no project, study or scenario ID with navigation return
  front/src/applications/operationalStudies/views/Project.jsx
  front/src/applications/operationalStudies/views/Scenario.jsx
  front/src/applications/operationalStudies/views/Study.jsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: train settings with store
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/TrainSettings.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
Owners: @DGEXSolutions/front-maintainers

api: remove unused /train_schedule/{id}/result/
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/openapi.yaml
  python/api/osrd_infra/views/train_schedule/train_schedule.py
Owners: @DGEXSolutions/editoast-maintainers

front: restore default ecoBlocks allowance settings in stdcm
  front/src/applications/stdcm/views/StdcmRequestModal.jsx
Owners: @DGEXSolutions/front-maintainers

editoast: add model update trait
  editoast/editoast_derive/src/model.rs
  editoast/src/models/mod.rs
  editoast/src/models/projects.rs
  editoast/src/models/study.rs
  editoast/src/views/study.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add model update trait
  editoast/editoast_derive/src/model.rs
  editoast/src/models/mod.rs
  editoast/src/models/projects.rs
  editoast/src/models/study.rs
  editoast/src/views/study.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add model update trait
  editoast/editoast_derive/src/model.rs
  editoast/src/models/mod.rs
  editoast/src/models/projects.rs
  editoast/src/models/study.rs
  editoast/src/views/study.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: bump dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/editoast_derive/Cargo.lock
  editoast/editoast_derive/Cargo.toml
Owners: @DGEXSolutions/editoast-maintainers

front: bugfix on chips & zindex on simulationResult
  front/src/common/BootstrapSNCF/ChipsSNCF.jsx
  front/src/styles/scss/applications/operationalStudies/_simulationresults.scss
Owners: @DGEXSolutions/front-maintainers

editoast: bump dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/editoast_derive/Cargo.lock
  editoast/editoast_derive/Cargo.toml
Owners: @DGEXSolutions/editoast-maintainers

editoast: bump dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/editoast_derive/Cargo.lock
  editoast/editoast_derive/Cargo.toml
Owners: @DGEXSolutions/editoast-maintainers

front: bugfix on chips & zindex on simulationResult
  front/src/common/BootstrapSNCF/ChipsSNCF.jsx
  front/src/styles/scss/applications/operationalStudies/_simulationresults.scss
Owners: @DGEXSolutions/front-maintainers

front: bugfix on chips & zindex on simulationResult
  front/src/common/BootstrapSNCF/ChipsSNCF.jsx
  front/src/styles/scss/applications/operationalStudies/_simulationresults.scss
Owners: @DGEXSolutions/front-maintainers

front: bugfix on chipsncf & trainlabel (use new selectors)
  front/src/applications/operationalStudies/components/ManageTrainSchedule/TrainLabels.jsx
  front/src/common/BootstrapSNCF/ChipsSNCF.jsx
Owners: @DGEXSolutions/front-maintainers

front: change default allowance settings in stdcm
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/drawTrain.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/withOSRDData.jsx
  front/src/applications/stdcm/views/OSRDStdcmResults.jsx
  front/src/applications/stdcm/views/StdcmRequestModal.jsx
Owners: @DGEXSolutions/front-maintainers

front: no unused var
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/withOSRDData.jsx
Owners: @DGEXSolutions/front-maintainers

front: simulation: map's buttons replaced
  front/src/common/Map/Map.scss
Owners: @DGEXSolutions/front-maintainers

front: simulation: map's buttons replaced (#3613)
  front/src/common/Map/Map.scss
Owners: @DGEXSolutions/front-maintainers

front: simulation: map's buttons replaced (#3613)
  front/src/common/Map/Map.scss
Owners: @DGEXSolutions/front-maintainers

core: envelope: add check for case where train can't start
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/pipelines/MaxEffortEnvelope.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/MaxEffortEnvelopeTest.java
Owners: @DGEXSolutions/core-maintainers

core: envelope: add check for case where train can't start
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/pipelines/MaxEffortEnvelope.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/MaxEffortEnvelopeTest.java
Owners: @DGEXSolutions/core-maintainers

transifex and dependency management
  CONTRIBUTING.md
Owners: none

editoast: Migrate timetable endpoints to editoast
  editoast/openapi.yaml
  editoast/src/models/mod.rs
  editoast/src/models/timetable.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tables.rs
  editoast/src/views/mod.rs
  editoast/src/views/timetable.rs
  editoast/src/views/train_schedule.rs
  front/src/applications/operationalStudies/components/SimulationResults/simulationResultsConsts.ts
  front/src/applications/stdcm/views/StdcmRequestModal.jsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/reducers/osrdsimulation/simulation.js
  python/api/openapi.yaml
  tests/tests/test_timetable.py
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers, @eckter

editoast: Migrate timetable endpoints to editoast
  editoast/openapi.yaml
  editoast/src/models/mod.rs
  editoast/src/models/timetable.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tables.rs
  editoast/src/views/mod.rs
  editoast/src/views/timetable.rs
  editoast/src/views/train_schedule.rs
  front/src/applications/operationalStudies/components/SimulationResults/simulationResultsConsts.ts
  front/src/applications/stdcm/views/StdcmRequestModal.jsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/reducers/osrdsimulation/simulation.js
  python/api/openapi.yaml
  tests/tests/test_timetable.py
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers, @eckter

editoast: migrate scenario model
  editoast/src/models/mod.rs
  editoast/src/models/scenario.rs
  editoast/src/models/timetable.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tables.rs
  editoast/src/views/mod.rs
  editoast/src/views/scenario.rs
Owners: @DGEXSolutions/editoast-maintainers

front: bug: scenario.scss: change z-index in .scenario-managetrainschedule from 2 to 5
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Owners: @DGEXSolutions/front-maintainers

front: bug: scenario.scss: change z-index in .scenario-managetrainschedule from 2 to 5
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Owners: @DGEXSolutions/front-maintainers
