Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics

re-organize the code
  python/osrd_schemas/osrd_schemas/rolling_stock.py
Owners: @DGEXSolutions/editoast-maintainers

re-organize classes creation
  python/osrd_schemas/osrd_schemas/rolling_stock.py
Owners: @DGEXSolutions/editoast-maintainers

update rs model in database
  python/api/osrd_infra/migrations/0023_rollingstock_energy_sources.py
  python/api/osrd_infra/models/rolling_stock.py
  python/osrd_schemas/osrd_schemas/rolling_stock.py
Owners: @DGEXSolutions/editoast-maintainers

update modifications to core implementation
  python/osrd_schemas/osrd_schemas/rolling_stock.py
Owners: @DGEXSolutions/editoast-maintainers

api: update rolling_stock.py schema generation file to account for qualesi's rolling stocks's parameter
  python/osrd_schemas/osrd_schemas/rolling_stock.py
Owners: @DGEXSolutions/editoast-maintainers

fix rolling stock
  tests/tests/test_rolling_stock.py
Owners: @eckter

linter
  python/api/osrd_infra/models/rolling_stock.py
Owners: @DGEXSolutions/editoast-maintainers

update models to enable different types of energy sources
  editoast/src/schema/rolling_stock/mod.rs
  python/osrd_schemas/osrd_schemas/rolling_stock.py
Owners: @DGEXSolutions/editoast-maintainers

update openampi.yaml and inline variables in rollingstock/mod.rs
  editoast/src/schema/rolling_stock/mod.rs
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

Update python/api/openapi.yaml
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

fix readMe and rename example rollingstock"
  editoast/README.md
  editoast/src/fixtures.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/tests/example_rolling_stock_2_energy_sources.json
Owners: @DGEXSolutions/editoast-maintainers

api: osrd_schemas version
  python/api/osrd_infra/models/rolling_stock.py
  python/api/poetry.lock
  tests/poetry.lock
Owners: @DGEXSolutions/editoast-maintainers, @eckter

fix osrd_schema and editoast
  editoast/src/models/rolling_stock/light_rolling_stock.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/schema/rolling_stock/light_rolling_stock.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/tables.rs
  editoast/src/tests/example_rolling_stock.json
  editoast/src/views/rolling_stocks.rs
  python/api/osrd_infra/migrations/0024_rollingstock_energy_sources.py
Owners: @DGEXSolutions/editoast-maintainers

Fix migrations
  python/api/osrd_infra/migrations/0027_merge_20230418_1333.py
  python/api/osrd_infra/migrations/0027_rollingstock_energy_sources.py
Owners: @DGEXSolutions/editoast-maintainers

update rolling_stock files
  python/railjson_generator/railjson_generator/examples/rolling_stocks/fast_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/fast_rolling_stock_high_gamma.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/short_fast_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/short_slow_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/slow_rolling_stock.json
Owners: @DGEXSolutions/editoast-maintainers

Update python/osrd_schemas/osrd_schemas/rolling_stock.py
  python/osrd_schemas/osrd_schemas/rolling_stock.py
Owners: @DGEXSolutions/editoast-maintainers

Update editoast/src/models/rolling_stock/mod.rs
  editoast/src/models/rolling_stock/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

api: update osrd_schemas dependencies
  python/api/poetry.lock
  python/osrd_schemas/pyproject.toml
  python/railjson_generator/poetry.lock
Owners: @DGEXSolutions/editoast-maintainers

Fixes + lint
  editoast/README.md
  editoast/src/models/rolling_stock/light_rolling_stock.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/schema/rolling_stock/light_rolling_stock.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/tables.rs
  editoast/src/views/rolling_stocks.rs
  python/api/osrd_infra/migrations/0027_rollingstock_energy_sources.py
  python/api/osrd_infra/models/rolling_stock.py
  python/osrd_schemas/osrd_schemas/rolling_stock.py
Owners: @DGEXSolutions/editoast-maintainers

api: update openApi.yaml and rename some properties
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/openapi.yaml
  python/api/osrd_infra/migrations/0023_rollingstock_energy_sources.py
  python/api/osrd_infra/models/rolling_stock.py
  python/osrd_schemas/osrd_schemas/rolling_stock.py
  tests/tests/test_rolling_stock.py
Owners: @DGEXSolutions/editoast-maintainers, @eckter

editoast: fix test update rolling stock
  editoast/openapi.yaml
  editoast/src/fixtures.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/tests/example_rolling_stock_1.json
  editoast/src/tests/example_rolling_stock_2.json
  editoast/src/tests/example_rolling_stock_3.json
  editoast/src/views/rolling_stocks.rs
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/openapi.yaml
  python/osrd_schemas/osrd_schemas/rolling_stock.py
  python/railjson_generator/railjson_generator/examples/rolling_stocks/fast_rolling_stock.json
  scripts/generate-infra.sh
  tests/tests/__init__.py
Owners: @DGEXSolutions/editoast-maintainers, @eckter

remove pointless inputs
  editoast/src/schema/rolling_stock/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

osrd_schemas migration
  python/api/osrd_infra/migrations/0027_merge_20230418_1333.py
Owners: @DGEXSolutions/editoast-maintainers

Update editoast/src/schema/rolling_stock/mod.rs
  editoast/src/schema/rolling_stock/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

update rs schema of editoast
  editoast/openapi.yaml
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/tables.rs
  python/osrd_schemas/osrd_schemas/rolling_stock.py
Owners: @DGEXSolutions/editoast-maintainers

api: fix rebase conflicts
  python/api/osrd_infra/migrations/0028_rollingstock_energy_sources.py
Owners: @DGEXSolutions/editoast-maintainers

api: osrd_schemas: update rolling stock json schema for qualesi parameters (#3811)
  editoast/README.md
  editoast/openapi.yaml
  editoast/src/fixtures.rs
  editoast/src/models/rolling_stock/light_rolling_stock.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/schema/rolling_stock/light_rolling_stock.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/tables.rs
  editoast/src/tests/example_rolling_stock_1.json
  editoast/src/tests/example_rolling_stock_2.json
  editoast/src/tests/example_rolling_stock_2_energy_sources.json
  editoast/src/tests/example_rolling_stock_3.json
  editoast/src/views/rolling_stocks.rs
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/openapi.yaml
  python/api/osrd_infra/migrations/0028_rollingstock_energy_sources.py
  python/api/osrd_infra/models/rolling_stock.py
  python/api/poetry.lock
  python/osrd_schemas/osrd_schemas/rolling_stock.py
  python/osrd_schemas/pyproject.toml
  python/railjson_generator/poetry.lock
  python/railjson_generator/railjson_generator/examples/rolling_stocks/fast_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/fast_rolling_stock_high_gamma.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/short_fast_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/short_slow_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/slow_rolling_stock.json
  scripts/generate-infra.sh
  tests/poetry.lock
  tests/tests/__init__.py
Owners: @DGEXSolutions/editoast-maintainers, @eckter

api: osrd_schemas: update rolling stock json schema for qualesi parameters (#3811)
  editoast/README.md
  editoast/openapi.yaml
  editoast/src/fixtures.rs
  editoast/src/models/rolling_stock/light_rolling_stock.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/schema/rolling_stock/light_rolling_stock.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/tables.rs
  editoast/src/tests/example_rolling_stock_1.json
  editoast/src/tests/example_rolling_stock_2.json
  editoast/src/tests/example_rolling_stock_2_energy_sources.json
  editoast/src/tests/example_rolling_stock_3.json
  editoast/src/views/rolling_stocks.rs
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/openapi.yaml
  python/api/osrd_infra/migrations/0028_rollingstock_energy_sources.py
  python/api/osrd_infra/models/rolling_stock.py
  python/api/poetry.lock
  python/osrd_schemas/osrd_schemas/rolling_stock.py
  python/osrd_schemas/pyproject.toml
  python/railjson_generator/poetry.lock
  python/railjson_generator/railjson_generator/examples/rolling_stocks/fast_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/fast_rolling_stock_high_gamma.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/short_fast_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/short_slow_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/slow_rolling_stock.json
  scripts/generate-infra.sh
  tests/poetry.lock
  tests/tests/__init__.py
Owners: @DGEXSolutions/editoast-maintainers, @eckter

front: STDCM: condense allowances component (#4112)
  front/public/locales/fr/allowances.json
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/StandardAllowanceDefault.jsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/StandardAllowanceDefault.tsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/allowancesConsts.tsx
  front/src/applications/stdcm/components/STDCMAllowances.tsx
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/common/BootstrapSNCF/InputGroupSNCF.jsx
  front/src/common/BootstrapSNCF/InputSNCF.tsx
  front/src/styles/scss/applications/_stdcm.scss
Owners: @DGEXSolutions/front-maintainers

front: STDCM: condense allowances component (#4112)
  front/public/locales/fr/allowances.json
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/StandardAllowanceDefault.jsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/StandardAllowanceDefault.tsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/allowancesConsts.tsx
  front/src/applications/stdcm/components/STDCMAllowances.tsx
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/common/BootstrapSNCF/InputGroupSNCF.jsx
  front/src/common/BootstrapSNCF/InputSNCF.tsx
  front/src/styles/scss/applications/_stdcm.scss
Owners: @DGEXSolutions/front-maintainers

add pathWithCatenaries dispatch and selector; edit OsrdConfState interface with pathWithCatenaries; add RTK query and dipatch in ManageTrainSchedule.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdconf/selectors.ts
Owners: @DGEXSolutions/front-maintainers

front: get and store data for power restriction selector (#4135)
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdconf/selectors.ts
Owners: @DGEXSolutions/front-maintainers

front: get and store data for power restriction selector (#4135)
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdconf/selectors.ts
Owners: @DGEXSolutions/front-maintainers

all unexpected any removed
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/prepareData.ts
  front/src/applications/stdcm/formatStcmConf.ts
  front/src/reducers/index.ts
Owners: @DGEXSolutions/front-maintainers

front: double import correction error
  front/src/reducers/osrdconf/index.ts
Owners: @DGEXSolutions/front-maintainers

/// Returns the set of voltages for a given infra
  editoast/openapi.yaml
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/sql/get_voltages_with_rolling_stocks_modes.sql
  editoast/src/views/infra/sql/get_voltages_without_rolling_stocks_modes.sql
  editoast/src/views/rolling_stocks.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

/// Returns the set of voltages for a given infra
  editoast/openapi.yaml
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/sql/get_voltages_with_rolling_stocks_modes.sql
  editoast/src/views/infra/sql/get_voltages_without_rolling_stocks_modes.sql
  editoast/src/views/rolling_stocks.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

/// Returns the set of voltages for a given infra
  editoast/openapi.yaml
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/sql/get_voltages_with_rolling_stocks_modes.sql
  editoast/src/views/infra/sql/get_voltages_without_rolling_stocks_modes.sql
  editoast/src/views/rolling_stocks.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

core: add curve & slope chart plotting in pathfinding result
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingResultConverter.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/CurveChartPointResult.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/PathfindingResult.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/SlopeChartPointResult.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/TrackEdge.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/directed/TrackRangeView.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/SwitchBranchImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/TrackSectionImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/UndirectedInfraBuilder.java
  core/src/test/java/fr/sncf/osrd/api/PathfindingTest.java
  core/src/test/java/fr/sncf/osrd/infra/InfraHelpers.java
  core/src/test/java/fr/sncf/osrd/infra_state/TrainPathTests.java
  python/api/osrd_infra/views/pathfinding.py
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers

core: add curve & slope chart plotting in pathfinding result
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingResultConverter.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/CurveChartPointResult.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/PathfindingResult.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/SlopeChartPointResult.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/TrackEdge.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/directed/TrackRangeView.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/SwitchBranchImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/TrackSectionImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/UndirectedInfraBuilder.java
  core/src/test/java/fr/sncf/osrd/api/PathfindingTest.java
  core/src/test/java/fr/sncf/osrd/infra/InfraHelpers.java
  core/src/test/java/fr/sncf/osrd/infra_state/TrainPathTests.java
  python/api/osrd_infra/views/pathfinding.py
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers
