Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics

front: fix notification above all & map add train too big
  front/src/styles/scss/applications/operationalStudies/_managetrainschedule.scss
Owners: @DGEXSolutions/front-maintainers

front: STDCM: set RollingstockSelector in one line (#3742)
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/common/RollingStockSelector/RollingStockSelector.jsx
Owners: @DGEXSolutions/front-maintainers

front: STDCM: set RollingstockSelector in one line (#3742)
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/common/RollingStockSelector/RollingStockSelector.jsx
Owners: @DGEXSolutions/front-maintainers

front; correct tsx on modalSuggerdVias
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/ModalSuggeredVias.tsx
Owners: @DGEXSolutions/front-maintainers

front: removeUseless map symbol
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: `ntest` to `rtest`
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/fixtures.rs
  editoast/src/generated_data/error/buffer_stops.rs
  editoast/src/generated_data/error/track_sections.rs
  editoast/src/main.rs
  editoast/src/models/mod.rs
  editoast/src/models/rolling_stock_models/rolling_stock.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/rolling_stock_image.rs
  editoast/src/schema/rolling_stock_livery.rs
  editoast/src/schema/rolling_stock_schema/rolling_stock.rs
  editoast/src/views/light_rolling_stocks.rs
  editoast/src/views/rolling_stocks.rs
Owners: @DGEXSolutions/editoast-maintainers

core: fix envelope discontinuity when computing accelerations
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/pipelines/MaxEffortEnvelope.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/MaxEffortEnvelopeTest.java
Owners: @DGEXSolutions/core-maintainers

front: tsx go!
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SpeedLimitByTagSelecto.tsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
Owners: @DGEXSolutions/front-maintainers

tests: Make e2e test use the backend
  .github/workflows/integration_tests.yml
  front/playwright.config.ts
  front/src/common/RollingStockSelector/RollingStockCard.jsx
  front/tests/assets/common/rollingStock.json
  front/tests/assets/operationStudies/project.json
  front/tests/assets/operationStudies/scenario.json
  front/tests/assets/operationStudies/study.json
  front/tests/assets/operationStudies/timetable.json
  front/tests/operational-studies.spec.ts
  front/tests/stdcm-page.spec.ts
  tests/conftest.py
  tests/tests/test_e2e.py
  tests/tests/test_scenario.py
  tests/tests/test_simulation.py
  tests/tests/test_stdcm.py
  tests/tests/test_timetable.py
  tests/tests/test_with_fuzzer.py
  tests/tests/utils/timetable.py
Owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @eckter

editoast: `ntest` to `rtest`
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/fixtures.rs
  editoast/src/generated_data/error/buffer_stops.rs
  editoast/src/generated_data/error/track_sections.rs
  editoast/src/main.rs
  editoast/src/models/mod.rs
  editoast/src/models/rolling_stock_models/rolling_stock.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/rolling_stock_image.rs
  editoast/src/schema/rolling_stock_livery.rs
  editoast/src/schema/rolling_stock_schema/rolling_stock.rs
  editoast/src/views/light_rolling_stocks.rs
  editoast/src/views/rolling_stocks.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: `ntest` to `rtest`
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/fixtures.rs
  editoast/src/generated_data/error/buffer_stops.rs
  editoast/src/generated_data/error/track_sections.rs
  editoast/src/main.rs
  editoast/src/models/mod.rs
  editoast/src/models/rolling_stock_models/rolling_stock.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/rolling_stock_image.rs
  editoast/src/schema/rolling_stock_livery.rs
  editoast/src/schema/rolling_stock_schema/rolling_stock.rs
  editoast/src/views/light_rolling_stocks.rs
  editoast/src/views/rolling_stocks.rs
Owners: @DGEXSolutions/editoast-maintainers

front: removeUseless map symbol
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
Owners: @DGEXSolutions/front-maintainers

front: removeUseless map symbol
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
Owners: @DGEXSolutions/front-maintainers

do not merge: break style rules
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/pipelines/MaxEffortEnvelope.java
Owners: @DGEXSolutions/core-maintainers

front: STDCM: fix map height without effect in operational studies
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/styles/scss/applications/_stdcm.scss
  front/src/styles/scss/applications/operationalStudies/_managetrainschedule.scss
  front/src/styles/styles.scss
Owners: @DGEXSolutions/front-maintainers

front: remve warnings from DisplayMissingInfo
  front/package.json
  front/src/common/DisplayMissingInfo/DisplayMissingInfo.scss
  front/src/common/DisplayMissingInfo/DisplayMissingInfo.tsx
  front/src/stories/DisplayMissingInfo.stories.tsx
  front/vite.config.ts
Owners: @DGEXSolutions/front-maintainers

front: STDCM: fix map height without effect in operational studies
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/styles/scss/applications/_stdcm.scss
  front/src/styles/scss/applications/operationalStudies/_managetrainschedule.scss
  front/src/styles/styles.scss
Owners: @DGEXSolutions/front-maintainers

front: STDCM: fix map height without effect in operational studies
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/styles/scss/applications/_stdcm.scss
  front/src/styles/scss/applications/operationalStudies/_managetrainschedule.scss
  front/src/styles/styles.scss
Owners: @DGEXSolutions/front-maintainers

editoast: fix openapi for the clone infra endpoint
  editoast/openapi.yaml
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

tests: Make e2e tests call the backend (#3672)
  .github/workflows/integration_tests.yml
  front/playwright.config.ts
  front/src/common/RollingStockSelector/RollingStockCard.jsx
  front/tests/assets/common/rollingStock.json
  front/tests/assets/operationStudies/project.json
  front/tests/assets/operationStudies/scenario.json
  front/tests/assets/operationStudies/study.json
  front/tests/assets/operationStudies/timetable.json
  front/tests/operational-studies.spec.ts
  front/tests/stdcm-page.spec.ts
  tests/conftest.py
  tests/tests/test_e2e.py
  tests/tests/test_scenario.py
  tests/tests/test_simulation.py
  tests/tests/test_stdcm.py
  tests/tests/test_timetable.py
  tests/tests/test_with_fuzzer.py
  tests/tests/utils/timetable.py
Owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @eckter

tests: Make e2e tests call the backend (#3672)
  .github/workflows/integration_tests.yml
  front/playwright.config.ts
  front/src/common/RollingStockSelector/RollingStockCard.jsx
  front/tests/assets/common/rollingStock.json
  front/tests/assets/operationStudies/project.json
  front/tests/assets/operationStudies/scenario.json
  front/tests/assets/operationStudies/study.json
  front/tests/assets/operationStudies/timetable.json
  front/tests/operational-studies.spec.ts
  front/tests/stdcm-page.spec.ts
  tests/conftest.py
  tests/tests/test_e2e.py
  tests/tests/test_scenario.py
  tests/tests/test_simulation.py
  tests/tests/test_stdcm.py
  tests/tests/test_timetable.py
  tests/tests/test_with_fuzzer.py
  tests/tests/utils/timetable.py
Owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @eckter

front: releaseinformations: remove releaseInformations.scss; change .informations to .informations-modal; create _relaseInformations.scss in /styles
  front/src/common/BootstrapSNCF/NavBarSNCF.jsx
  front/src/common/ReleaseInformations/LicenseAttributions.tsx
  front/src/common/ReleaseInformations/ReleaseInformations.scss
  front/src/common/ReleaseInformations/ReleaseInformations.tsx
  front/src/styles/scss/common/_components.scss
  front/src/styles/scss/common/components/_releaseInformations.scss
Owners: @DGEXSolutions/front-maintainers

front: releaseinformations: light refacto, add links
  front/public/locales/fr/home/navbar.json
  front/src/common/ReleaseInformations/LicenseAttributions.tsx
  front/src/common/ReleaseInformations/ReleaseInformations.tsx
  front/src/common/ReleaseInformations/json/licenses.json
  front/src/styles/scss/common/components/_releaseInformations.scss
Owners: @DGEXSolutions/front-maintainers

front: refacto on SpeedLimitTagSelector + story
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SpeedLimitByTagSelector.tsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/stories/SpeedLimitByTag.stories.tsx
  front/src/styles/main.css
Owners: @DGEXSolutions/front-maintainers

editoast: fix openapi for the clone infra endpoint
  editoast/openapi.yaml
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

editoast: fix openapi for the clone infra endpoint
  editoast/openapi.yaml
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

front pass to flex if condensed
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SpeedLimitByTagSelector.jsx
  front/src/styles/scss/applications/operationalStudies/_managetrainschedule.scss
Owners: @DGEXSolutions/front-maintainers

front: tsx go!
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SpeedLimitByTagSelecto.tsx
Owners: @DGEXSolutions/front-maintainers

front: refacto on SpeedLimitTagSelector + story
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SpeedLimitByTagSelector.tsx
  front/src/stories/SpeedLimitByTag.stories.tsx
  front/src/styles/main.css
Owners: @DGEXSolutions/front-maintainers

front: completedArgs
  front/src/stories/SpeedLimitByTag.stories.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: fix missing buffer stop warnings
  editoast/openapi.yaml
  editoast/src/generated_data/error/buffer_stops.rs
  editoast/src/schema/errors.rs
  front/src/applications/editor/components/InfraErrors/types.ts
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

editoast: add buffer stop odd location warning
  editoast/openapi.yaml
  editoast/src/generated_data/error/buffer_stops.rs
  editoast/src/schema/errors.rs
  editoast/src/schema/mod.rs
  front/src/applications/editor/components/InfraErrors/types.ts
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

editoast: fix duplicate rolling stock schema
  editoast/src/schema/rolling_stock.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: migrate POST /rolling_stock and implement model for rolling_stock (#3639)
  editoast/openapi.yaml
  editoast/src/models/mod.rs
  editoast/src/models/rolling_stock_models/mod.rs
  editoast/src/models/rolling_stock_models/rolling_stock.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/rolling_stock.rs
  editoast/src/schema/rolling_stock_image.rs
  editoast/src/schema/rolling_stock_livery.rs
  editoast/src/schema/rolling_stock_schema/mod.rs
  editoast/src/schema/rolling_stock_schema/rolling_stock.rs
  editoast/src/tables.rs
  editoast/src/views/light_rolling_stocks.rs
  editoast/src/views/rolling_stocks.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

tests: Remove `setup_dummy_db` (#3690)
  python/api/osrd_infra/management/commands/setup_dummy_db.py
  tests/conftest.py
  tests/tests/test_scenario.py
  tests/tests/test_simulation.py
  tests/tests/test_stdcm.py
  tests/tests/test_train_schedule.py
  tests/tests/utils/simulation.py
  tests/tests/utils/stdcm.py
Owners: @DGEXSolutions/editoast-maintainers, @eckter

core: adapt generator for railjson 3.2.0
  core/examples/generated/README.md
  core/examples/generated/example_script.py
  core/examples/generated/lib/railjson_generator/__init__.py
  core/examples/generated/lib/railjson_generator/infra_builder.py
  core/examples/generated/lib/railjson_generator/schema/infra/infra.py
  core/examples/generated/lib/railjson_generator/schema/infra/track_section.py
  core/examples/generated/lib/railjson_generator/schema/infra/waypoint.py
  core/examples/generated/lib/railjson_generator/utils/pathfinding.py
  core/examples/generated/lib/railjson_generator/utils/routes_generator.py
  core/examples/generated/scripts/tiny_infra.py
Owners: @DGEXSolutions/core-maintainers

editoast: add list trait for model
  editoast/src/models/mod.rs
  editoast/src/models/projects.rs
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/schema/rolling_stock.rs
  editoast/src/schema/rolling_stock_schema/rolling_stock.rs
  editoast/src/views/infra/errors.rs
  editoast/src/views/pagination.rs
  editoast/src/views/projects.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
Owners: @DGEXSolutions/editoast-maintainers

schemas: replace applicable directions to direction for buffer stops
  .github/workflows/api.yml
  .github/workflows/integration_tests.yml
  editoast/src/infra.rs
  editoast/src/schema/buffer_stop.rs
  python/api/osrd_infra/migrations/0021_railjson_3_2_0.py
  python/osrd_schemas/osrd_schemas/infra.py
Owners: @flomonster, @multun, @DGEXSolutions/editoast-maintainers

core: add mock tvm signaling
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/tvm/BALtoTVM.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/tvm/TVM.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/tvm/TVMtoBAL.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/tvm/TVMtoTVM.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
Owners: @DGEXSolutions/core-maintainers

editoast: bump dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
Owners: @DGEXSolutions/editoast-maintainers
