Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

editoast: fix infra update
  editoast/src/models/infra.rs
  editoast/src/schema/railjson.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/pathfinding/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: fix infra update
  editoast/src/models/infra.rs
  editoast/src/schema/railjson.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/pathfinding/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

front: timeString managt
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
  front/src/common/types.ts
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdsimulation/index.ts
  front/src/utils/timeManipulation.ts
Owners: @DGEXSolutions/front-maintainers

front: fix rollingStock modal
  front/src/common/RollingStockSelector/RollingStockModal.tsx
Owners: @DGEXSolutions/front-maintainers

front: fix rollingStock modal (#4200)
  front/src/common/RollingStockSelector/RollingStockModal.tsx
Owners: @DGEXSolutions/front-maintainers

front: change french translation of track-sections in the editor
  front/public/locales/fr/translation.json
Owners: @DGEXSolutions/front-maintainers

front: change french translation of track-sections in the editor
  front/public/locales/fr/translation.json
Owners: @DGEXSolutions/front-maintainers

front: allowances: fix display of labels in stdcm; rename stdcm variables as condensed or isCondensed in InputSNCF and InputGroupSNCF
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/StandardAllowanceDefault.tsx
  front/src/applications/stdcm/components/STDCMAllowances.tsx
  front/src/common/BootstrapSNCF/InputGroupSNCF.jsx
  front/src/common/BootstrapSNCF/InputSNCF.tsx
Owners: @DGEXSolutions/front-maintainers

front: removed useless typeings, add no-implicit any error rule
  front/.eslintrc
  front/package.json
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap/TrainHoverPosition.tsx
  front/src/common/Map/Layers/Signals.tsx
  front/src/reducers/osrdsimulation/index.ts
  front/src/utils/timeManipulation.ts
Owners: @DGEXSolutions/front-maintainers

front: better catch undefined func vars
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
Owners: @DGEXSolutions/front-maintainers

front: allowances: fix display of labels in stdcm; rename stdcm variables as condensed or isCondensed in InputSNCF and InputGroupSNCF
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/StandardAllowanceDefault.tsx
  front/src/applications/stdcm/components/STDCMAllowances.tsx
  front/src/common/BootstrapSNCF/InputGroupSNCF.jsx
  front/src/common/BootstrapSNCF/InputSNCF.tsx
Owners: @DGEXSolutions/front-maintainers

editoast:readme: fix URL typo
  front/README.md
Owners: @DGEXSolutions/front-maintainers

editoast: fix URL typo in README (#4103)
  front/README.md
Owners: @DGEXSolutions/front-maintainers

front: simplify ts decl
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
  front/src/reducers/osrdconf/index.ts
Owners: @DGEXSolutions/front-maintainers

front: fix open data train import
  front/public/locales/fr/operationalStudies/importTrainSchedule.json
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleConfig.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleHelpers.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleModal.jsx
Owners: @DGEXSolutions/front-maintainers

front: fix open data train import (#4185)
  front/public/locales/fr/operationalStudies/importTrainSchedule.json
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleConfig.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleHelpers.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleModal.jsx
Owners: @DGEXSolutions/front-maintainers

front: test on some undefined new objects
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/applications/stdcm/formatStcmConf.ts
  front/src/reducers/osrdconf/index.ts
Owners: @DGEXSolutions/front-maintainers

editoast:osm-to-railjson parse main signals as BAL
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/signal.rs
  editoast/src/tests/signals.osm.pbf
Owners: @DGEXSolutions/editoast-maintainers

editoast:osm-to-railjson fix switch port and group names
  editoast/src/converters/utils.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast:osm-to-railjson generate a detector for each signal
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast:osm-to-railjson fix (and test) signal ports
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
  editoast/src/tests/switches.osm.pbf
Owners: @DGEXSolutions/editoast-maintainers

editoast:osm-to-railjson reject more non relevant rails
  editoast/src/converters/osm_to_railjson.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: fix osrd_search_operationalpoint.uic type
  editoast/search.yml
  python/api/osrd_infra/migrations/0030_search_op_fix_uic_type.py
Owners: @DGEXSolutions/editoast-maintainers

editoast: fix osrd_search_operationalpoint.uic type
  editoast/search.yml
  python/api/osrd_infra/migrations/0030_search_op_fix_uic_type.py
Owners: @DGEXSolutions/editoast-maintainers

editoast: use cargo sparse index protocol
  .cargo/config.toml
Owners: none

editoast: use cargo sparse index protocol
  .cargo/config.toml
Owners: none

editoast: inject OP names in pf response & slope/curve graph forwarding
  editoast/src/core/pathfinding.rs
  editoast/src/fixtures.rs
  editoast/src/models/infra_objects/mod.rs
  editoast/src/models/infra_objects/operational_point.rs
  editoast/src/schema/operational_point.rs
  editoast/src/tests/small_infra/pathfinding_core_response.json
  editoast/src/tests/small_infra/pathfinding_fixture_payload.json
  editoast/src/views/pathfinding/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: inject OP names in pf response & slope/curve graph forwarding
  editoast/src/core/pathfinding.rs
  editoast/src/fixtures.rs
  editoast/src/models/infra_objects/mod.rs
  editoast/src/models/infra_objects/operational_point.rs
  editoast/src/schema/operational_point.rs
  editoast/src/tests/small_infra/pathfinding_core_response.json
  editoast/src/tests/small_infra/pathfinding_fixture_payload.json
  editoast/src/views/pathfinding/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

front: editor: remove dependencies cycles
  editoast/src/core/infra_loading.rs
  editoast/src/core/mod.rs
  editoast/src/views/infra/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: core: adapt infraLoadEndpoint to return ()
  core/openapi.yaml
  core/src/main/java/fr/sncf/osrd/api/InfraLoadEndpoint.java
  core/src/test/java/fr/sncf/osrd/api/InfraLoadingTest.java
  core/src/test/java/fr/sncf/osrd/api/PathfindingTest.java
  editoast/openapi.yaml
  editoast/src/core/infra_loading.rs
  editoast/src/views/infra/mod.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers

editoast: add infra_load function
  editoast/openapi.yaml
  editoast/src/views/infra/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add non-json response support to CoreClient
  editoast/src/core/mocking.rs
  editoast/src/core/mod.rs
  editoast/src/core/pathfinding.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add infra_load function
  editoast/openapi.yaml
  editoast/src/views/infra/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

front: editor: remove dependencies cycles
  editoast/src/core/infra_loading.rs
  editoast/src/core/mod.rs
  editoast/src/views/infra/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: core: adapt infraLoadEndpoint to return ()
  core/openapi.yaml
  core/src/main/java/fr/sncf/osrd/api/InfraLoadEndpoint.java
  core/src/test/java/fr/sncf/osrd/api/InfraLoadingTest.java
  core/src/test/java/fr/sncf/osrd/api/PathfindingTest.java
  editoast/openapi.yaml
  editoast/src/core/infra_loading.rs
  editoast/src/views/infra/mod.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers

editoast: add non-json response support to CoreClient
  editoast/src/core/mocking.rs
  editoast/src/core/mod.rs
  editoast/src/core/pathfinding.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: get infra state from core
  core/src/main/java/fr/sncf/osrd/api/InfraCacheStatusEndpoint.java
  editoast/src/core/infra_state.rs
  editoast/src/core/mod.rs
  editoast/src/views/infra/mod.rs
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers

editoast: get infra state from core
  core/src/main/java/fr/sncf/osrd/api/InfraCacheStatusEndpoint.java
  editoast/src/core/infra_state.rs
  editoast/src/core/mod.rs
  editoast/src/views/infra/mod.rs
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers

railjson: update deadSection properties (railjson 3.3.1)
  editoast/src/models/infra.rs
  editoast/src/tests/small_infra/small_infra.json
  python/api/osrd_infra/migrations/0030_alter_infra_railjson_version.py
  python/osrd_schemas/osrd_schemas/infra.py
  python/railjson_generator/railjson_generator/schema/infra/dead_section.py
  python/railjson_generator/railjson_generator/schema/infra/infra.py
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
Owners: @DGEXSolutions/editoast-maintainers

fix tests
  python/api/osrd_infra/migrations/0031_railjson_3_3_1.py
  python/railjson_generator/railjson_generator/schema/infra/dead_section.py
Owners: @DGEXSolutions/editoast-maintainers

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics
