Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

front: bug: scenario.scss: change z-index in .scenario-managetrainschedule from 2 to 5
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Owners: @DGEXSolutions/front-maintainers

editoast: add post scenario endpoint
  editoast/openapi.yaml
  editoast/src/main.rs
  editoast/src/models/mod.rs
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/models/timetable.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tables.rs
  editoast/src/views/mod.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
  editoast/src/views/timetable.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

api:search: add signal search table migration
  editoast/src/views/search/context.rs
  editoast/src/views/search/mod.rs
  editoast/src/views/search/process.rs
  python/api/osrd_infra/migrations/0020_search_signals.py
  python/api/osrd_infra/migrations/__init__.py
  python/api/osrd_infra/models/searchtables.py
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: add signal search criteria logical_types
  editoast/search.yml
  python/api/osrd_infra/migrations/0020_search_signals.py
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: remove error variant InContext
  editoast/src/error.rs
  editoast/src/views/search/context.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: simplify compound types parsing in search.yml
  editoast/search.yml
  editoast/src/views/search/config.rs
  editoast/src/views/search/mod.rs
  editoast/src/views/search/typing.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: fix string binding order
  editoast/src/views/search/mod.rs
  editoast/src/views/search/sqlquery.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: add support of arrays in the query language
  editoast/search.yml
  editoast/src/views/search/config.rs
  editoast/src/views/search/context.rs
  editoast/src/views/search/dsl.rs
  editoast/src/views/search/mod.rs
  editoast/src/views/search/process.rs
  editoast/src/views/search/sqlquery.rs
  editoast/src/views/search/typing.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: add geographic info to signal search response
  editoast/search.yml
Owners: @DGEXSolutions/editoast-maintainers

core: add signal sight distance to the kotlin infra
  core/kt-osrd-signaling/src/test/kotlin/fr/sncf/osrd/signaling/BlockBuilderTest.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/RawSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBALtoBAL.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBAPRtoBAL.kt
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
Owners: @DGEXSolutions/core-maintainers

core: generate zone identifiers
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/InterlockingInfra.kt
Owners: @DGEXSolutions/core-maintainers

core: add objects name to the kotlin infra
  core/kt-osrd-signaling/src/test/kotlin/fr/sncf/osrd/signaling/BlockBuilderTest.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/InterlockingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/RawSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/kt-osrd-sim-interlocking/src/test/kotlin/fr/sncf/osrd/sim/TestLocation.kt
  core/kt-osrd-sim-interlocking/src/test/kotlin/fr/sncf/osrd/sim/TestReservation.kt
  core/kt-osrd-sim-interlocking/src/test/kotlin/fr/sncf/osrd/sim/TestRouting.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBALtoBAL.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBAPRtoBAL.kt
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
Owners: @DGEXSolutions/core-maintainers

core: add signal sight distance to the kotlin infra
  core/kt-osrd-signaling/src/test/kotlin/fr/sncf/osrd/signaling/BlockBuilderTest.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/RawSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBALtoBAL.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBAPRtoBAL.kt
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
Owners: @DGEXSolutions/core-maintainers

core: add signal sight distance to the kotlin infra
  core/kt-osrd-signaling/src/test/kotlin/fr/sncf/osrd/signaling/BlockBuilderTest.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/RawSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBALtoBAL.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBAPRtoBAL.kt
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
Owners: @DGEXSolutions/core-maintainers

core: generate zone identifiers
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/InterlockingInfra.kt
Owners: @DGEXSolutions/core-maintainers

core: add objects name to the kotlin infra
  core/kt-osrd-signaling/src/test/kotlin/fr/sncf/osrd/signaling/BlockBuilderTest.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/InterlockingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/RawSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/kt-osrd-sim-interlocking/src/test/kotlin/fr/sncf/osrd/sim/TestLocation.kt
  core/kt-osrd-sim-interlocking/src/test/kotlin/fr/sncf/osrd/sim/TestReservation.kt
  core/kt-osrd-sim-interlocking/src/test/kotlin/fr/sncf/osrd/sim/TestRouting.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBALtoBAL.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBAPRtoBAL.kt
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
Owners: @DGEXSolutions/core-maintainers

core: add objects name to the kotlin infra
  core/kt-osrd-signaling/src/test/kotlin/fr/sncf/osrd/signaling/BlockBuilderTest.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/InterlockingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/RawSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/kt-osrd-sim-interlocking/src/test/kotlin/fr/sncf/osrd/sim/TestLocation.kt
  core/kt-osrd-sim-interlocking/src/test/kotlin/fr/sncf/osrd/sim/TestReservation.kt
  core/kt-osrd-sim-interlocking/src/test/kotlin/fr/sncf/osrd/sim/TestRouting.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBALtoBAL.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBAPRtoBAL.kt
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
Owners: @DGEXSolutions/core-maintainers

core: generate zone identifiers
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/InterlockingInfra.kt
Owners: @DGEXSolutions/core-maintainers

core: improve kotlin fast collections
  core/kt-fast-collections-generator/src/main/kotlin/collections/ArrayList.kt
  core/kt-fast-collections-generator/src/main/kotlin/collections/ArraySortedSet.kt
  core/kt-fast-collections-generator/src/main/kotlin/collections/Interfaces.kt
Owners: @DGEXSolutions/core-maintainers

core: improve kotlin fast collections
  core/kt-fast-collections-generator/src/main/kotlin/collections/ArrayList.kt
  core/kt-fast-collections-generator/src/main/kotlin/collections/ArraySortedSet.kt
  core/kt-fast-collections-generator/src/main/kotlin/collections/Interfaces.kt
Owners: @DGEXSolutions/core-maintainers

core: improve kotlin fast collections
  core/kt-fast-collections-generator/src/main/kotlin/collections/ArrayList.kt
  core/kt-fast-collections-generator/src/main/kotlin/collections/ArraySortedSet.kt
  core/kt-fast-collections-generator/src/main/kotlin/collections/Interfaces.kt
Owners: @DGEXSolutions/core-maintainers

core: fix the signal position in the adapter
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
Owners: @DGEXSolutions/core-maintainers

core: fix the signal position in the adapter
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
Owners: @DGEXSolutions/core-maintainers

core: fix the signal position in the adapter
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
Owners: @DGEXSolutions/core-maintainers

front: fix-bug: stdcm - resize graph container when resize the graph
  front/src/applications/stdcm/views/OSRDStdcmResults.jsx
Owners: @DGEXSolutions/front-maintainers

front: fix-bug: stdcm - resize graph container when resize the graph
  front/src/applications/stdcm/views/OSRDStdcmResults.jsx
Owners: @DGEXSolutions/front-maintainers

editoast : add delete endpoint for scenario
  editoast/openapi.yaml
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/models/timetable.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/mod.rs
  editoast/src/views/projects.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: simplification of type specs in search.yml
  editoast/search.yml
  editoast/src/views/search/config.rs
  editoast/src/views/search/mod.rs
  editoast/src/views/search/sqlquery.rs
  python/api/osrd_infra/migrations/0020_search_signals.py
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: remove arg bind_pos in sqlquery
  editoast/src/views/search/mod.rs
  editoast/src/views/search/sqlquery.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast : add delete endpoint for scenario
  editoast/openapi.yaml
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/models/timetable.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/mod.rs
  editoast/src/views/projects.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: remove arg bind_pos in sqlquery
  editoast/src/views/search/mod.rs
  editoast/src/views/search/sqlquery.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: remove error variant InContext
  editoast/src/error.rs
  editoast/src/views/search/context.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: simplification of type specs in search.yml
  editoast/search.yml
  editoast/src/views/search/config.rs
  editoast/src/views/search/mod.rs
  editoast/src/views/search/sqlquery.rs
  python/api/osrd_infra/migrations/0020_search_signals.py
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: add signal search criteria logical_types
  editoast/search.yml
  python/api/osrd_infra/migrations/0020_search_signals.py
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: add signal search criteria logical_types
  editoast/search.yml
  python/api/osrd_infra/migrations/0020_search_signals.py
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: remove error variant InContext
  editoast/src/error.rs
  editoast/src/views/search/context.rs
Owners: @DGEXSolutions/editoast-maintainers

api:search: add signal search table migration
  editoast/src/views/search/context.rs
  editoast/src/views/search/mod.rs
  editoast/src/views/search/process.rs
  python/api/osrd_infra/migrations/0020_search_signals.py
  python/api/osrd_infra/migrations/__init__.py
  python/api/osrd_infra/models/searchtables.py
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: fix string binding order
  editoast/src/views/search/mod.rs
  editoast/src/views/search/sqlquery.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: add geographic info to signal search response
  editoast/search.yml
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: fix string binding order
  editoast/src/views/search/mod.rs
  editoast/src/views/search/sqlquery.rs
Owners: @DGEXSolutions/editoast-maintainers

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics
