Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/config/openapi-editoast-config.ts
/front/src/config/openapi-middleware-config.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics

editor: improves transition between tools
  front/src/applications/editor/Map.tsx
  front/src/common/Map/Layers/GeoJSONs.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: s/InvalidationZone/Zone
  editoast/openapi.yaml
  editoast/src/map/bounding_box.rs
  editoast/src/map/mod.rs
  editoast/src/map/redis_utils.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/lines.rs
Owners: @DGEXSolutions/editoast-maintainers

search: search into tracks directly instead of tracksections
  editoast/openapi.yaml
  editoast/search.yml
  editoast/src/infra_cache/mod.rs
  editoast/src/map/bounding_box.rs
  editoast/src/schema/track_section.rs
  editoast/src/views/infra/lines.rs
  editoast/src/views/infra/mod.rs
  python/api/osrd_infra/migrations/0010_osrdtracksection.py
  python/api/osrd_infra/migrations/0016_osrd_search_track.py
  python/api/osrd_infra/models/searchtables.py
Owners: @DGEXSolutions/editoast-maintainers

front: update osrdEditoastApi.ts
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/front-maintainers

api:misc: allow GDAL settings to be provided by env variables
  editoast/src/infra_cache/mod.rs
  python/api/config/settings.py
Owners: @DGEXSolutions/editoast-maintainers

enabler for causal simulation: create MaintainEnvelopePartBuilder to compute steady speed envelope parts
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/MaintainEnvelopePartBuilder.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/constraints/EnvelopeConstraint.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/constraints/EnvelopePartConstraintType.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/constraints/SpeedConstraint.java
Owners: @DGEXSolutions/core-maintainers

add new class EnvelopeMaintain to compute constant speed parts, and update integrator
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/src/main/java/fr/sncf/osrd/envelope_sim/overlays/EnvelopeMaintain.java
Owners: @DGEXSolutions/physics, @DGEXSolutions/core-maintainers

wip make sim causal
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/EnvelopeCursor.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/EnvelopePoint.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/pipelines/MaxEffortEnvelope.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
Owners: @DGEXSolutions/core-maintainers

update MaxEffortProfile to make simulation causal
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/MaintainEnvelopePartBuilder.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/constraints/SpeedConstraint.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/pipelines/MaxEffortEnvelope.java
Owners: @DGEXSolutions/core-maintainers

quick fixes
  .idea/.gitignore
  .idea/misc.xml
  .idea/modules.xml
  .idea/osrd.iml
  .idea/vcs.xml
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/constraints/EnvelopeConstraint.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/pipelines/MaxEffortEnvelope.java
Owners: @DGEXSolutions/core-maintainers

quick fixes after cerry picking
  .idea/checkstyle-idea.xml
  .idea/libraries/junit_jupiter.xml
  .idea/modules.xml
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/MaintainEnvelopePartBuilder.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/constraints/EnvelopeConstraint.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/overlays/EnvelopeMaintain.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/pipelines/MaxEffortEnvelope.java
Owners: @DGEXSolutions/core-maintainers

update EnvelopeCursor to allow progressive scanning with different predicates
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/EnvelopeCursor.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/pipelines/MaxEffortEnvelope.java
Owners: @DGEXSolutions/core-maintainers

Fix tests
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/EnvelopeCursor.java
Owners: @DGEXSolutions/core-maintainers

remove dead code form previous commits
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/EnvelopePoint.java
Owners: @DGEXSolutions/core-maintainers

Remove idea files
  .idea/.gitignore
  .idea/checkstyle-idea.xml
  .idea/libraries/junit_jupiter.xml
  .idea/misc.xml
  .idea/osrd.iml
  .idea/vcs.xml
Owners: none

editoast: openapi fix missing trailing slash
  editoast/openapi.yaml
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

editor: improves transition between tools
  front/src/applications/editor/Map.tsx
  front/src/common/Map/Layers/GeoJSONs.tsx
Owners: @DGEXSolutions/front-maintainers

editor: improves transition between tools
  front/src/applications/editor/Map.tsx
  front/src/common/Map/Layers/GeoJSONs.tsx
Owners: @DGEXSolutions/front-maintainers
