Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

stdcm: edges don't go further than the stop
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/EnvelopePart.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/pipelines/MaxSpeedEnvelope.java
  core/src/main/java/fr/sncf/osrd/infra_state/implementation/TrainPathBuilder.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/DelayManager.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMEdgeBuilder.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMSimulations.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMStandardAllowance.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMUtils.java
  core/src/test/java/fr/sncf/osrd/stdcm/BacktrackingTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/DepartureTimeShiftTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/EngineeringAllowanceTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMHelpers.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMPathfindingTests.java
Owners: @DGEXSolutions/core-maintainers

stdcm: edges don't go further than the stop
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/EnvelopePart.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/pipelines/MaxSpeedEnvelope.java
  core/src/main/java/fr/sncf/osrd/infra_state/implementation/TrainPathBuilder.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/DelayManager.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMEdgeBuilder.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMSimulations.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMStandardAllowance.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMUtils.java
  core/src/test/java/fr/sncf/osrd/stdcm/BacktrackingTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/DepartureTimeShiftTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/EngineeringAllowanceTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMHelpers.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMPathfindingTests.java
Owners: @DGEXSolutions/core-maintainers

[front] Body at 100vh to fix #3753
  front/src/styles/main.css
  front/src/styles/scss/_body.scss
Owners: @DGEXSolutions/front-maintainers

front: fix display select and search with only signal name
  front/public/locales/fr/map-search.json
  front/src/common/BootstrapSNCF/MultiSelectSNCF.tsx
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/common/Map/Search/MapSearchSignal.tsx
  front/src/common/Map/Search/SignalCard.tsx
  front/src/common/Map/const.ts
Owners: @DGEXSolutions/front-maintainers

front: fix bug 3796 - replace scenario.infra by scenario.infra_id in Scenario.jsx
  front/src/applications/operationalStudies/views/Scenario.jsx
Owners: @DGEXSolutions/front-maintainers

editoast: move light_rolling_stock to /models - move LightRollingStockModel to /models - create LightRollingStock schema - add tests
  editoast/openapi.yaml
  editoast/src/models/mod.rs
  editoast/src/models/rolling_stock/light_rolling_stock.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/models/rolling_stock_models/mod.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/rolling_stock/light_rolling_stock.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/schema/rolling_stock_livery.rs
  editoast/src/schema/rolling_stock_schema/mod.rs
  editoast/src/schema/rolling_stock_schema/rolling_stock.rs
  editoast/src/tests/example_rolling_stock.json
  editoast/src/views/light_rolling_stocks.rs
  editoast/src/views/rolling_stocks.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

front: ok for css and leare isolation
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SpeedLimitByTagSelector.tsx
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.jsx
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.scss
  front/src/stories/SpeedLimitByTag.stories.tsx
  front/src/styles/main.css
  front/src/styles/main.css.map
  front/src/styles/scss/applications/operationalStudies/_managetrainschedule.scss
Owners: @DGEXSolutions/front-maintainers

[front] Fix #3751 - Adding style for DropdownSNCF
  front/src/common/BootstrapSNCF/DropdownSNCF.tsx
  front/src/styles/scss/_overrideBootstrapSNCF.scss
Owners: @DGEXSolutions/front-maintainers

front: fix bug 3796 (#3798)
  front/src/applications/operationalStudies/views/Scenario.jsx
Owners: @DGEXSolutions/front-maintainers

front: fix bug 3796 (#3798)
  front/src/applications/operationalStudies/views/Scenario.jsx
Owners: @DGEXSolutions/front-maintainers

core: fix zone occupancy computation on train with stops
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/EnvelopeTimeInterpolate.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/EnvelopeStopWrapper.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
Owners: @DGEXSolutions/core-maintainers

editoast: move light_rolling_stock to /models - move LightRollingStockModel to /models - create LightRollingStock schema - add tests
  editoast/openapi.yaml
  editoast/src/models/mod.rs
  editoast/src/models/rolling_stock/light_rolling_stock.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/models/rolling_stock_models/mod.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/rolling_stock/light_rolling_stock.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/schema/rolling_stock_livery.rs
  editoast/src/schema/rolling_stock_schema/mod.rs
  editoast/src/schema/rolling_stock_schema/rolling_stock.rs
  editoast/src/tests/example_rolling_stock.json
  editoast/src/views/light_rolling_stocks.rs
  editoast/src/views/rolling_stocks.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

editoast: move light_rolling_stock to /models - move LightRollingStockModel to /models - create LightRollingStock schema - add tests
  editoast/openapi.yaml
  editoast/src/models/mod.rs
  editoast/src/models/rolling_stock/light_rolling_stock.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/models/rolling_stock_models/mod.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/rolling_stock/light_rolling_stock.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/schema/rolling_stock_livery.rs
  editoast/src/schema/rolling_stock_schema/mod.rs
  editoast/src/schema/rolling_stock_schema/rolling_stock.rs
  editoast/src/tests/example_rolling_stock.json
  editoast/src/views/light_rolling_stocks.rs
  editoast/src/views/rolling_stocks.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

front: tests: make e2e tests work when running on a dirty env (#3782)
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/applications/operationalStudies/components/Project/StudyCard.tsx
  front/src/applications/operationalStudies/components/Study/ScenarioCard.tsx
  front/tests/operational-studies.spec.ts
  front/tests/stdcm-page.spec.ts
  tests/conftest.py
  tests/tests/test_e2e.py
  tests/tests/test_scenario.py
  tests/tests/utils/timetable.py
Owners: @DGEXSolutions/front-maintainers, @eckter

front: tests: make e2e tests work when running on a dirty env (#3782)
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/applications/operationalStudies/components/Project/StudyCard.tsx
  front/src/applications/operationalStudies/components/Study/ScenarioCard.tsx
  front/tests/operational-studies.spec.ts
  front/tests/stdcm-page.spec.ts
  tests/conftest.py
  tests/tests/test_e2e.py
  tests/tests/test_scenario.py
  tests/tests/utils/timetable.py
Owners: @DGEXSolutions/front-maintainers, @eckter

core: fix zone occupancy computation on train with stops
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/EnvelopeTimeInterpolate.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/EnvelopeStopWrapper.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
Owners: @DGEXSolutions/core-maintainers

core: fix zone occupancy computation on train with stops
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/EnvelopeTimeInterpolate.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/EnvelopeStopWrapper.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
Owners: @DGEXSolutions/core-maintainers

core: make the zone after a train path be clear
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
Owners: @DGEXSolutions/core-maintainers

editoast: move RS livery to ./models/rolling_stock - move file - implement Model trait for rollingStockLivery - clean tests
  editoast/src/models/mod.rs
  editoast/src/models/rolling_stock/light_rolling_stock.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/models/rolling_stock/rolling_stock_livery.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/rolling_stock/light_rolling_stock.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/schema/rolling_stock/rolling_stock_livery.rs
  editoast/src/schema/rolling_stock_image.rs
  editoast/src/schema/rolling_stock_livery.rs
  editoast/src/views/rolling_stocks.rs
Owners: @DGEXSolutions/editoast-maintainers

fix a few things
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPath.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_utils/CurveUtils.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope/EnvelopePartTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_utils/CurveUtilsTests.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/FlatPath.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
  core/src/test/java/fr/sncf/osrd/train/TestRollingStock.java
  core/src/test/java/fr/sncf/osrd/train/TestTrains.java
Owners: @DGEXSolutions/core-maintainers

add BatteryTests
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/Battery.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/power/BatteryTests.java
Owners: @DGEXSolutions/core-maintainers

core: make the zone after a train path be clear
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
Owners: @DGEXSolutions/core-maintainers

core: make the zone after a train path be clear
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
Owners: @DGEXSolutions/core-maintainers

front: try to smallify allowances in stdcm
  front/public/locales/fr/allowances.json
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/StandardAllowanceDefault.jsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/withOSRDStdcmParams.tsx
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/common/BootstrapSNCF/InputGroupSNCF.jsx
Owners: @DGEXSolutions/front-maintainers

editoast: disable idle db connections
  editoast/src/main.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: speedup retrieve railjson endpoint
  editoast/src/views/infra/railjson.rs
  editoast/src/views/infra/sql/get_infra_no_ext.sql
  editoast/src/views/infra/sql/get_infra_with_ext.sql
Owners: @DGEXSolutions/editoast-maintainers

[front] Body at 100vh to fix #3753
  front/src/styles/main.css
  front/src/styles/scss/_body.scss
Owners: @DGEXSolutions/front-maintainers

[front] Body at 100vh to fix #3753
  front/src/styles/main.css
  front/src/styles/scss/_body.scss
Owners: @DGEXSolutions/front-maintainers

editoast: speedup retrieve railjson endpoint
  editoast/src/views/infra/railjson.rs
  editoast/src/views/infra/sql/get_infra_no_ext.sql
  editoast/src/views/infra/sql/get_infra_with_ext.sql
Owners: @DGEXSolutions/editoast-maintainers

editoast: speedup retrieve railjson endpoint
  editoast/src/views/infra/railjson.rs
  editoast/src/views/infra/sql/get_infra_no_ext.sql
  editoast/src/views/infra/sql/get_infra_with_ext.sql
Owners: @DGEXSolutions/editoast-maintainers

editoast: disable idle db connections
  editoast/src/main.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: disable idle db connections
  editoast/src/main.rs
Owners: @DGEXSolutions/editoast-maintainers

front: repair detectors layer
  front/src/common/Map/Layers/Detectors.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: move RS livery to ./models/rolling_stock - move file - implement Model trait for rollingStockLivery - clean tests
  editoast/src/models/mod.rs
  editoast/src/models/rolling_stock/light_rolling_stock.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/models/rolling_stock/rolling_stock_livery.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/rolling_stock/light_rolling_stock.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/schema/rolling_stock/rolling_stock_livery.rs
  editoast/src/schema/rolling_stock_image.rs
  editoast/src/schema/rolling_stock_livery.rs
  editoast/src/views/rolling_stocks.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: move RS livery to ./models/rolling_stock - move file - implement Model trait for rollingStockLivery - clean tests
  editoast/src/models/mod.rs
  editoast/src/models/rolling_stock/light_rolling_stock.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/models/rolling_stock/rolling_stock_livery.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/rolling_stock/light_rolling_stock.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/schema/rolling_stock/rolling_stock_livery.rs
  editoast/src/schema/rolling_stock_image.rs
  editoast/src/schema/rolling_stock_livery.rs
  editoast/src/views/rolling_stocks.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: front: sort projects, studies and scenarios
  editoast/openapi.yaml
  editoast/src/models/mod.rs
  editoast/src/models/projects.rs
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/views/projects.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
  front/src/applications/operationalStudies/Home.jsx
  front/src/applications/operationalStudies/views/Project.jsx
  front/src/applications/operationalStudies/views/Study.jsx
  front/src/common/ScenarioExplorator/ScenarioExploratorModal.tsx
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

editoast: front: sort projects, studies and scenarios
  editoast/openapi.yaml
  editoast/src/models/mod.rs
  editoast/src/models/projects.rs
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/views/projects.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
  front/src/applications/operationalStudies/Home.jsx
  front/src/applications/operationalStudies/views/Project.jsx
  front/src/applications/operationalStudies/views/Study.jsx
  front/src/common/ScenarioExplorator/ScenarioExploratorModal.tsx
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

editoast: front: sort projects, studies and scenarios
  editoast/openapi.yaml
  editoast/src/models/mod.rs
  editoast/src/models/projects.rs
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/views/projects.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
  front/src/applications/operationalStudies/Home.jsx
  front/src/applications/operationalStudies/views/Project.jsx
  front/src/applications/operationalStudies/views/Study.jsx
  front/src/common/ScenarioExplorator/ScenarioExploratorModal.tsx
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

front: move SpeedLimitByTagSelector in common
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/common/SpeedLimitByTagSelector/SpeedLimitByTagSelector.scss
  front/src/common/SpeedLimitByTagSelector/SpeedLimitByTagSelector.tsx
  front/src/stories/SpeedLimitByTag.stories.tsx
  front/src/styles/main.css
  front/src/styles/main.css.map
  front/src/styles/scss/applications/operationalStudies/_managetrainschedule.scss
Owners: @DGEXSolutions/front-maintainers

front: repair detectors layer
  front/src/common/Map/Layers/Detectors.tsx
Owners: @DGEXSolutions/front-maintainers

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics
