Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

add SpeedDependantPowerTests tests
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/power/SpeedDependantPowerTests.java
Owners: @DGEXSolutions/core-maintainers

front: MultiselectSNCF: add group separtor
  front/public/locales/fr/map-search.json
  front/src/common/BootstrapSNCF/InputSNCF.tsx
  front/src/common/BootstrapSNCF/MultiSelectSNCF.tsx
  front/src/common/Map/MapKey.scss
  front/src/common/Map/Search/MapSearchSignal.tsx
  front/src/common/Map/Search/SignalCard.tsx
  front/src/common/Map/const.ts
Owners: @DGEXSolutions/front-maintainers

Adn/condensed speed limit (#3769)
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SpeedLimitByTagSelector.jsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.jsx
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.scss
  front/src/common/SpeedLimitByTagSelector/SpeedLimitByTagSelector.scss
  front/src/common/SpeedLimitByTagSelector/SpeedLimitByTagSelector.tsx
  front/src/stories/SpeedLimitByTag.stories.tsx
  front/src/styles/main.css
  front/src/styles/main.css.map
Owners: @DGEXSolutions/front-maintainers

Adn/condensed speed limit (#3769)
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SpeedLimitByTagSelector.jsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.jsx
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.scss
  front/src/common/SpeedLimitByTagSelector/SpeedLimitByTagSelector.scss
  front/src/common/SpeedLimitByTagSelector/SpeedLimitByTagSelector.tsx
  front/src/stories/SpeedLimitByTag.stories.tsx
  front/src/styles/main.css
  front/src/styles/main.css.map
Owners: @DGEXSolutions/front-maintainers

editoast: bump dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
Owners: @DGEXSolutions/editoast-maintainers

editoast: bump dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
Owners: @DGEXSolutions/editoast-maintainers

api: update rolling_stock_image and rolling_stock_livery models to use document
  python/api/osrd_infra/migrations/0020_alter_rollingstocklivery_compound_image_and_more.py
  python/api/osrd_infra/migrations/__init__.py
  python/api/osrd_infra/models/rolling_stock.py
  python/api/osrd_infra/serializers.py
  python/api/osrd_infra/views/rolling_stock.py
Owners: @DGEXSolutions/editoast-maintainers

editoast: update rolling_stock_livery model to replace RS images by document
  editoast/openapi.yaml
  editoast/src/fixtures.rs
  editoast/src/models/documents.rs
  editoast/src/models/mod.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/models/rolling_stock/rolling_stock_image.rs
  editoast/src/models/rolling_stock/rolling_stock_livery.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/rolling_stock_image.rs
  editoast/src/views/rolling_stocks.rs
  python/api/osrd_infra/migrations/0023_alter_rollingstocklivery_compound_image_and_more.py
Owners: @DGEXSolutions/editoast-maintainers

editoast: update rolling_stock_livery model to replace RS images by document
  editoast/openapi.yaml
  editoast/src/fixtures.rs
  editoast/src/models/documents.rs
  editoast/src/models/mod.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/models/rolling_stock/rolling_stock_image.rs
  editoast/src/models/rolling_stock/rolling_stock_livery.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/rolling_stock_image.rs
  editoast/src/views/rolling_stocks.rs
  python/api/osrd_infra/migrations/0023_alter_rollingstocklivery_compound_image_and_more.py
Owners: @DGEXSolutions/editoast-maintainers

api: update rolling_stock_image and rolling_stock_livery models to use document
  python/api/osrd_infra/migrations/0020_alter_rollingstocklivery_compound_image_and_more.py
  python/api/osrd_infra/migrations/__init__.py
  python/api/osrd_infra/models/rolling_stock.py
  python/api/osrd_infra/serializers.py
  python/api/osrd_infra/views/rolling_stock.py
Owners: @DGEXSolutions/editoast-maintainers

front: map search: Search into signals
  front/public/locales/en/map-search.json
  front/public/locales/fr/map-search.json
  front/src/common/BootstrapSNCF/InputSNCF.tsx
  front/src/common/BootstrapSNCF/MultiSelectSNCF.tsx
  front/src/common/Map/Map.scss
  front/src/common/Map/MapKey.scss
  front/src/common/Map/Search/MapSearch.jsx
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/common/Map/Search/MapSearchSignal.jsx
  front/src/common/Map/Search/MapSearchSignal.tsx
  front/src/common/Map/Search/MapSearchStation.jsx
  front/src/common/Map/Search/SignalCard.tsx
  front/src/common/Map/Search/searchTypes.ts
  front/src/common/Map/const.ts
  front/src/common/Map/utils.ts
  front/src/reducers/map/index.ts
Owners: @DGEXSolutions/front-maintainers

front: map search: Search into signals
  front/public/locales/en/map-search.json
  front/public/locales/fr/map-search.json
  front/src/common/BootstrapSNCF/InputSNCF.tsx
  front/src/common/BootstrapSNCF/MultiSelectSNCF.tsx
  front/src/common/Map/Map.scss
  front/src/common/Map/MapKey.scss
  front/src/common/Map/Search/MapSearch.jsx
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/common/Map/Search/MapSearchSignal.jsx
  front/src/common/Map/Search/MapSearchSignal.tsx
  front/src/common/Map/Search/MapSearchStation.jsx
  front/src/common/Map/Search/SignalCard.tsx
  front/src/common/Map/Search/searchTypes.ts
  front/src/common/Map/const.ts
  front/src/common/Map/utils.ts
  front/src/reducers/map/index.ts
Owners: @DGEXSolutions/front-maintainers

editoast: bump dependencies
  editoast/Cargo.lock
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: remove error variant InContext
  editoast/src/error.rs
  editoast/src/views/search/context.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: add support of arrays in the query language
  editoast/search.yml
  editoast/src/views/search/config.rs
  editoast/src/views/search/context.rs
  editoast/src/views/search/dsl.rs
  editoast/src/views/search/mod.rs
  editoast/src/views/search/process.rs
  editoast/src/views/search/sqlquery.rs
  editoast/src/views/search/typing.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: remove arg bind_pos in sqlquery
  editoast/src/views/search/mod.rs
  editoast/src/views/search/sqlquery.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: simplification of type specs in search.yml
  editoast/search.yml
  editoast/src/views/search/config.rs
  editoast/src/views/search/mod.rs
  editoast/src/views/search/sqlquery.rs
  python/api/osrd_infra/migrations/0020_search_signals.py
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: add geographic info to signal search response
  editoast/search.yml
Owners: @DGEXSolutions/editoast-maintainers

editoast: add post scenario endpoint
  editoast/openapi.yaml
  editoast/src/main.rs
  editoast/src/models/mod.rs
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/models/timetable.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tables.rs
  editoast/src/views/mod.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
  editoast/src/views/timetable.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

api:search: add signal search table migration
  editoast/src/views/search/context.rs
  editoast/src/views/search/mod.rs
  editoast/src/views/search/process.rs
  python/api/osrd_infra/migrations/0020_search_signals.py
  python/api/osrd_infra/migrations/__init__.py
  python/api/osrd_infra/models/searchtables.py
Owners: @DGEXSolutions/editoast-maintainers

editoast : add update endpoint for scenario
  editoast/openapi.yaml
  editoast/src/models/scenario.rs
  editoast/src/views/scenario.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: fix string binding order
  editoast/src/views/search/mod.rs
  editoast/src/views/search/sqlquery.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: migrate scenario model
  editoast/src/models/mod.rs
  editoast/src/models/scenario.rs
  editoast/src/models/timetable.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tables.rs
  editoast/src/views/mod.rs
  editoast/src/views/scenario.rs
Owners: @DGEXSolutions/editoast-maintainers

core: fix blocks with no zonepath
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/BlockBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/BlockInfraBuilder.kt
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
Owners: @DGEXSolutions/core-maintainers

core: make signal drivers more resilient
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bal/BALtoBAL.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bal/BALtoBAPR.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bapr/BAPRtoBAL.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bapr/BAPRtoBAPR.kt
Owners: @DGEXSolutions/core-maintainers

editoast : add delete endpoint for scenario
  editoast/openapi.yaml
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/models/timetable.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/mod.rs
  editoast/src/views/projects.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

editoast: add get endpoint for scenario
  editoast/openapi.yaml
  editoast/src/models/mod.rs
  editoast/src/models/scenario.rs
  editoast/src/models/train_schedule.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: add signal search criteria logical_types
  editoast/search.yml
  python/api/osrd_infra/migrations/0020_search_signals.py
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: simplify compound types parsing in search.yml
  editoast/search.yml
  editoast/src/views/search/config.rs
  editoast/src/views/search/mod.rs
  editoast/src/views/search/typing.rs
Owners: @DGEXSolutions/editoast-maintainers

core: add signaling system block checking
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/SignalDriver.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/SignalingSimulator.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/BlockBuilder.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/MockSigSystemManager.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/SigSystemManagerImpl.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/SignalingSimulatorImpl.kt
  core/kt-osrd-signaling/src/test/kotlin/fr/sncf/osrd/signaling/BlockBuilderTest.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadedSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/RawSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/BlockInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/BlockInfraImpl.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bal/BAL.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bal/BALtoBAL.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bal/BALtoBAPR.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bapr/BAPR.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bapr/BAPRtoBAL.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bapr/BAPRtoBAPR.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBALtoBAL.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBAPRtoBAL.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/SignalLoadingTest.kt
Owners: @DGEXSolutions/core-maintainers

Add `CONTRIBUTING.md`
  CONTRIBUTING.md
Owners: none

front: i18n: use infrastructures count for plurals
  front/public/locales/en/infraManagement.json
  front/public/locales/fr/infraManagement.json
  front/src/common/InfraSelector/InfraSelectorModalBodyEdition.jsx
  front/src/common/InfraSelector/InfraSelectorModalBodyStandard.jsx
Owners: @DGEXSolutions/front-maintainers

front: i18n: add menu entry & modal to change language
  front/package.json
  front/public/locales/de/home/home.json
  front/public/locales/de/home/navbar.json
  front/public/locales/en-US/translation.json
  front/public/locales/en/home/navbar.json
  front/public/locales/es/home/home.json
  front/public/locales/es/home/navbar.json
  front/public/locales/fr/home.json
  front/public/locales/it/home/home.json
  front/public/locales/it/home/navbar.json
  front/public/locales/jp/home/home.json
  front/public/locales/jp/home/navbar.json
  front/public/locales/ru/home/home.json
  front/public/locales/ru/home/navbar.json
  front/public/locales/uk/home/home.json
  front/public/locales/uk/home/navbar.json
  front/src/common/BootstrapSNCF/NavBarSNCF.jsx
  front/src/common/ChangeLanguageModal.tsx
  front/src/i18n.js
  front/src/styles/scss/_home.scss
  front/src/utils/strings.ts
  front/yarn.lock
Owners: @DGEXSolutions/front-maintainers

front: fix warnings & ts
  front/package.json
  front/src/applications/customget/components/SpaceTimeChart/drawTrain.jsx
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/__tests__/ChartHelpers.spec.ts
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/prepareData.ts
  front/src/common/Map/Layers/TracksSchematic.tsx
  front/src/common/Pathfinding/Pathfinding.tsx
  front/src/config/config.ts
  front/src/reducers/osrdsimulation/actions.ts
  front/src/reducers/osrdsimulation/index.ts
  front/src/reducers/osrdsimulation/types.ts
  front/src/reducers/profile.js
  front/src/utils/__tests__/strings.spec.ts
  front/src/utils/strings.ts
  front/src/vite-env.d.ts
  front/tests/assets/operationStudies/train.json
  front/vite.config.ts
Owners: @DGEXSolutions/front-maintainers

front: refacto offset function
  front/src/applications/customget/components/SpaceTimeChart/drawTrain.jsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/drawTrain.jsx
  front/src/reducers/osrdsimulation/index.ts
Owners: @DGEXSolutions/front-maintainers

editoast: add cargo chef docker image
  editoast/Dockerfile
Owners: @DGEXSolutions/editoast-maintainers

front: bugfix on chipsncf & trainlabel (use new selectors)
  front/src/applications/operationalStudies/components/ManageTrainSchedule/TrainLabels.jsx
  front/src/common/BootstrapSNCF/ChipsSNCF.jsx
Owners: @DGEXSolutions/front-maintainers

front: split some locales files
  front/public/locales/en/home/home.json
  front/public/locales/en/home/navbar.json
  front/public/locales/en/translation.json
  front/public/locales/fr/home/home.json
  front/public/locales/fr/home/navbar.json
  front/public/locales/fr/translation.json
  front/src/applications/customget/Home.jsx
  front/src/applications/referenceMap/Home.tsx
  front/src/applications/stdcm/Home.jsx
  front/src/common/BootstrapSNCF/DropdownSNCF.tsx
  front/src/common/ReleaseInformations/LicenseAttributions.tsx
  front/src/common/ReleaseInformations/ReleaseInformations.tsx
  front/src/main/home.jsx
  front/tests/home-page-model.tsx
Owners: @DGEXSolutions/front-maintainers

core: Remove `python_interactive_client/`
  core/src/python_interactive_client/osrd_interactive.py
  core/src/python_interactive_client/test.py
Owners: @DGEXSolutions/core-maintainers

front: fix-bug: display rolling stock images
  front/src/common/RollingStockSelector/RollingStock2Img.jsx
  front/src/common/RollingStockSelector/RollingStock2Img.tsx
Owners: @DGEXSolutions/front-maintainers

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics
