Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DGEXSolutions/osrd-backend-maintainers, @DGEXSolutions/osrd-front-maintainers, @flomonster, @multun, @eckter, @Tguisnet, @DGEXSolutions/osrd-physics

core: bump dependencies
  core/build.gradle
Owners: @DGEXSolutions/osrd-backend-maintainers

core: bump dependencies
  core/build.gradle
Owners: @DGEXSolutions/osrd-backend-maintainers

api: fix openapi file
  api/openapi.yaml
Owners: @flomonster, @multun, @eckter

core: fix timing of signaling events after a stop
  core/src/main/java/fr/sncf/osrd/envelope/Envelope.java
  core/src/main/java/fr/sncf/osrd/envelope/EnvelopeStopWrapper.java
  core/src/main/java/fr/sncf/osrd/envelope/EnvelopeTimeInterpolate.java
  core/src/main/java/fr/sncf/osrd/infra_state/implementation/standalone/StandaloneSignalingSimulation.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractorTests.java
Owners: @DGEXSolutions/osrd-backend-maintainers

core: fix timing of signaling events after a stop
  core/src/main/java/fr/sncf/osrd/envelope/Envelope.java
  core/src/main/java/fr/sncf/osrd/envelope/EnvelopeStopWrapper.java
  core/src/main/java/fr/sncf/osrd/envelope/EnvelopeTimeInterpolate.java
  core/src/main/java/fr/sncf/osrd/infra_state/implementation/standalone/StandaloneSignalingSimulation.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractorTests.java
Owners: @DGEXSolutions/osrd-backend-maintainers

api: fix openapi file
  api/openapi.yaml
Owners: @flomonster, @multun, @eckter

api: fix openapi file
  api/openapi.yaml
Owners: @flomonster, @multun, @eckter

editoast: bump dependencies
  editoast/Cargo.lock
Owners: @Tguisnet, @flomonster

editoast: bump dependencies
  editoast/Cargo.lock
Owners: @Tguisnet, @flomonster

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @DGEXSolutions/osrd-backend-maintainers

# --- FRONT ---
/front                                                   @DGEXSolutions/osrd-front-maintainers

# --- API ---
/api                                                     @flomonster @multun @eckter

# --- EDITOAST ---
/editoast                                                @Tguisnet @flomonster

# --- CHARTOS ---
/chartos                                                 @flomonster @multun

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/osrd-backend-maintainers
*Physics*.java                                           @DGEXSolutions/osrd-physics
*Integration*.java                                       @DGEXSolutions/osrd-physics

# Python Interactive Client
/core/src/python_interactive_client                      @flomonster @multun
