Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @osrd-project/front-maintainers, @osrd-project/editoast-maintainers, @eckter, @osrd-project/core-maintainers, @osrd-project/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @osrd-project/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @osrd-project/editoast-maintainers
/editoast/openapi.yaml
/chartos                                                 @osrd-project/editoast-maintainers
/python                                                  @osrd-project/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @osrd-project/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @osrd-project/physics
*Integration*.java                                       @osrd-project/physics

front: use a smaller placeholder rolling stock image
  front/src/assets/pictures/blue_train.svg.REMOVED.git-id
  front/src/assets/pictures/placeholder_rolling_stock.svg
  front/src/common/RollingStockSelector/RollingStock2Img.tsx
Owners: @osrd-project/front-maintainers

front: keep the rabbit alive
  front/src/applications/stdcm/views/StdcmRequestModal.jsx
  front/src/assets/pictures/rabbit.png
  front/src/assets/pictures/rabbit.svg
Owners: @osrd-project/front-maintainers

front: keep the rabbit alive
  front/src/applications/stdcm/views/StdcmRequestModal.jsx
  front/src/assets/pictures/rabbit.png
  front/src/assets/pictures/rabbit.svg
Owners: @osrd-project/front-maintainers

actions: disable storybook build
  .github/workflows/docker-build-push.yml
Owners: @flomonster, @multun

front: test pathfinding done for small_infra
  front/tests/map-model.ts
Owners: @osrd-project/front-maintainers

front: test pathfinding infra_france
  front/tests/map-model.ts
Owners: @osrd-project/front-maintainers

front: test-e2e: pathfinding-local.spec: Create test pathfinding electrification error in a local environment
  front/tests/005-operational-studies.spec.ts
  front/tests/006-stdcm-page.spec.ts
  front/tests/007-pathfinding-local.spec.ts
  front/tests/008-project-delete.spec.ts
  front/tests/map-model.ts
  front/tests/pages/rollingstock-modal-model.ts
  front/tests/pages/scenario-page-model.ts
  front/tests/pages/stdcm-page-model.ts
Owners: @osrd-project/front-maintainers

front: test-E2E: modify the test to run on the IC
  front/tests/007-pathfinding-local.spec.ts
  front/tests/assets/example_rolling_stock_1500.json
  front/tests/assets/operationStudies/test_variables.ts
  tests/conftest.py
  tests/tests/__init__.py
  tests/tests/test_e2e.py
Owners: @osrd-project/front-maintainers, @eckter

tests: adapt rolling stock creation fixture
  tests/conftest.py
  tests/tests/__init__.py
  tests/tests/test_e2e.py
Owners: @eckter

core: migrate pathfinding postprocessing to new infra
  core/kt-fast-collections-generator/src/main/kotlin/collections/ArrayList.kt
  core/kt-fast-collections-generator/src/main/kotlin/collections/Interfaces.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/InterlockingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadedSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/Path.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/DebugViewers.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/PathImpl.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeMap.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/indexing/DirStaticIdx.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/units/Distance.kt
  core/src/main/java/fr/sncf/osrd/api/pathfinding/GeomUtils.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/LegacyPathfindingResultConverter.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingResultConverter.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/PathWaypointResult.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/PathfindingResult.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/cli/StandaloneSimulationCommand.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingResultConverterTest.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingTest.java
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapterTest.kt
Owners: @osrd-project/core-maintainers

front: fix signal edition
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/types/editor.ts
Owners: @osrd-project/front-maintainers

front: fix signal edition
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/types/editor.ts
Owners: @osrd-project/front-maintainers

tests: adapt rolling stock creation fixture
  front/index.html
  front/tests/007-pathfinding.spec.ts
  front/tests/assets/operationStudies/test_variables.ts
  tests/conftest.py
  tests/tests/test_e2e.py
Owners: @osrd-project/front-maintainers, @eckter

front : set a limit for lpv panels position
  front/src/applications/editor/tools/rangeEdition/speedSection/LpvPanelCard.tsx
Owners: @osrd-project/front-maintainers

front: fix stdcm test
  front/tests/006-stdcm-page.spec.ts
  front/tests/pages/stdcm-page-model.ts
Owners: @osrd-project/front-maintainers

editoast: use core's conflict detection endpoint
  editoast/src/core/conflicts.rs
  editoast/src/core/mod.rs
  editoast/src/models/mod.rs
  editoast/src/views/timetable.rs
Owners: @osrd-project/editoast-maintainers

core: add conflict detection endpoint
  core/build.gradle
  core/libs.versions.toml
  core/src/main/java/fr/sncf/osrd/api/ConflictDetectionEndpoint.java
  core/src/main/java/fr/sncf/osrd/cli/ApiServerCommand.java
  core/src/main/java/fr/sncf/osrd/conflicts/Conflicts.kt
Owners: @osrd-project/core-maintainers

core: add conflict detection endpoint
  core/build.gradle
  core/libs.versions.toml
  core/src/main/java/fr/sncf/osrd/api/ConflictDetectionEndpoint.java
  core/src/main/java/fr/sncf/osrd/cli/ApiServerCommand.java
  core/src/main/java/fr/sncf/osrd/conflicts/Conflicts.kt
Owners: @osrd-project/core-maintainers

editoast: use core's conflict detection endpoint
  editoast/src/core/conflicts.rs
  editoast/src/core/mod.rs
  editoast/src/models/mod.rs
  editoast/src/views/timetable.rs
Owners: @osrd-project/editoast-maintainers

core: generate requirements for all zones after a signal
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
Owners: @osrd-project/core-maintainers

editoast: speed up layer generation
  editoast/src/generated_data/sql/generate_backside_pantograph_dead_section_layer.sql
  editoast/src/generated_data/sql/generate_buffer_stop_layer.sql
  editoast/src/generated_data/sql/generate_catenary_layer.sql
  editoast/src/generated_data/sql/generate_dead_section_layer.sql
  editoast/src/generated_data/sql/generate_detector_layer.sql
  editoast/src/generated_data/sql/generate_lpv_panel_layer.sql
  editoast/src/generated_data/sql/generate_operational_point_layer.sql
  editoast/src/generated_data/sql/generate_speed_section_layer.sql
  editoast/src/generated_data/sql/generate_switch_layer.sql
  editoast/src/generated_data/sql/generate_track_section_link_layer.sql
  editoast/src/generated_data/sql/insert_catenary_layer.sql
  editoast/src/generated_data/sql/insert_lpv_panel_layer.sql
  editoast/src/generated_data/sql/insert_operational_point_layer.sql
  editoast/src/generated_data/sql/insert_speed_section_layer.sql
  editoast/src/generated_data/sql/insert_update_buffer_stop_layer.sql
  editoast/src/generated_data/sql/insert_update_detector_layer.sql
  editoast/src/generated_data/sql/insert_update_switch_layer.sql
  editoast/src/generated_data/sql/insert_update_track_section_link_layer.sql
Owners: @osrd-project/editoast-maintainers

api: fix warning in project model
  python/api/osrd_infra/migrations/0015_alter_project_budget_alter_project_funders_and_more.py
  python/api/osrd_infra/models/study.py
Owners: @osrd-project/editoast-maintainers

core: fix the block offset of entry signals
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/BlockBuilder.kt
Owners: @osrd-project/core-maintainers

core: fix the block offset of entry signals
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/BlockBuilder.kt
Owners: @osrd-project/core-maintainers

core: migrate pathfinding postprocessing to new infra
  core/kt-fast-collections-generator/src/main/kotlin/collections/ArrayList.kt
  core/kt-fast-collections-generator/src/main/kotlin/collections/Interfaces.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/InterlockingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadedSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/Path.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/DebugViewers.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/PathImpl.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeMap.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/indexing/DirStaticIdx.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/units/Distance.kt
  core/src/main/java/fr/sncf/osrd/api/pathfinding/GeomUtils.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/LegacyPathfindingResultConverter.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingResultConverter.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/PathWaypointResult.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/PathfindingResult.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/cli/StandaloneSimulationCommand.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingResultConverterTest.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingTest.java
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapterTest.kt
Owners: @osrd-project/core-maintainers

api: fix warning in project model
  python/api/osrd_infra/migrations/0015_alter_project_budget_alter_project_funders_and_more.py
  python/api/osrd_infra/models/study.py
Owners: @osrd-project/editoast-maintainers

editoast: speed up layer generation
  editoast/src/generated_data/sql/generate_backside_pantograph_dead_section_layer.sql
  editoast/src/generated_data/sql/generate_buffer_stop_layer.sql
  editoast/src/generated_data/sql/generate_catenary_layer.sql
  editoast/src/generated_data/sql/generate_dead_section_layer.sql
  editoast/src/generated_data/sql/generate_detector_layer.sql
  editoast/src/generated_data/sql/generate_lpv_panel_layer.sql
  editoast/src/generated_data/sql/generate_operational_point_layer.sql
  editoast/src/generated_data/sql/generate_speed_section_layer.sql
  editoast/src/generated_data/sql/generate_switch_layer.sql
  editoast/src/generated_data/sql/generate_track_section_link_layer.sql
  editoast/src/generated_data/sql/insert_catenary_layer.sql
  editoast/src/generated_data/sql/insert_lpv_panel_layer.sql
  editoast/src/generated_data/sql/insert_operational_point_layer.sql
  editoast/src/generated_data/sql/insert_speed_section_layer.sql
  editoast/src/generated_data/sql/insert_update_buffer_stop_layer.sql
  editoast/src/generated_data/sql/insert_update_detector_layer.sql
  editoast/src/generated_data/sql/insert_update_switch_layer.sql
  editoast/src/generated_data/sql/insert_update_track_section_link_layer.sql
Owners: @osrd-project/editoast-maintainers

front: test-E2E: modify the test to run on the IC
  front/tests/007-pathfinding-local.spec.ts
  front/tests/assets/example_rolling_stock_1500.json
  front/tests/assets/operationStudies/test_variables.ts
  tests/conftest.py
  tests/tests/__init__.py
  tests/tests/test_e2e.py
Owners: @osrd-project/front-maintainers, @eckter

front: fix stdcm test
  front/tests/006-stdcm-page.spec.ts
  front/tests/pages/stdcm-page-model.ts
Owners: @osrd-project/front-maintainers

front: test pathfinding done for small_infra
  front/tests/map-model.ts
Owners: @osrd-project/front-maintainers

front: test-e2e: pathfinding-local.spec: Create test pathfinding electrification error in a local environment
  front/tests/005-operational-studies.spec.ts
  front/tests/006-stdcm-page.spec.ts
  front/tests/007-pathfinding-local.spec.ts
  front/tests/008-project-delete.spec.ts
  front/tests/map-model.ts
  front/tests/pages/rollingstock-modal-model.ts
  front/tests/pages/scenario-page-model.ts
  front/tests/pages/stdcm-page-model.ts
Owners: @osrd-project/front-maintainers

tests: adapt rolling stock creation fixture
  tests/conftest.py
  tests/tests/__init__.py
  tests/tests/test_e2e.py
Owners: @eckter

front: test pathfinding infra_france
  front/tests/map-model.ts
Owners: @osrd-project/front-maintainers

tests: adapt rolling stock creation fixture
  front/index.html
  front/tests/007-pathfinding.spec.ts
  front/tests/assets/operationStudies/test_variables.ts
  tests/conftest.py
  tests/tests/test_e2e.py
Owners: @osrd-project/front-maintainers, @eckter

core: Add PathfindingBlocksEndpoint based on PathfindingRoutesEndpoint
  core/build.gradle
  core/kt-fast-collections-generator/src/main/kotlin/collections/ArraySortedSet.kt
  core/kt-fast-collections-generator/src/main/kotlin/collections/Interfaces.kt
  core/kt-osrd-sim-infra/build.gradle
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadedSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/BlockInfraImpl.kt
  core/libs.versions.toml
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingBlocksEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingResultConverter.java
  core/src/main/java/fr/sncf/osrd/utils/KtToJavaConverter.java
  core/src/test/java/fr/sncf/osrd/Helpers.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingBlocksEndpointTest.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingResultConverterTest.java
Owners: @osrd-project/core-maintainers

front : set a limit for lpv panels position
  front/src/applications/editor/tools/rangeEdition/speedSection/LpvPanelCard.tsx
Owners: @osrd-project/front-maintainers

core: Add PathfindingBlocksEndpoint based on PathfindingRoutesEndpoint
  core/build.gradle
  core/kt-fast-collections-generator/src/main/kotlin/collections/ArraySortedSet.kt
  core/kt-fast-collections-generator/src/main/kotlin/collections/Interfaces.kt
  core/kt-osrd-sim-infra/build.gradle
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadedSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/BlockInfraImpl.kt
  core/libs.versions.toml
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingBlocksEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingResultConverter.java
  core/src/main/java/fr/sncf/osrd/utils/KtToJavaConverter.java
  core/src/test/java/fr/sncf/osrd/Helpers.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingBlocksEndpointTest.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingResultConverterTest.java
Owners: @osrd-project/core-maintainers

actions: fix jobs naming
  .github/workflows/api.yml
  .github/workflows/core.yml
  .github/workflows/docker-build-push-template.yml
  .github/workflows/editoast.yml
  .github/workflows/front.yml
  .github/workflows/integration_tests.yml
  .github/workflows/osrd_schemas.yml
  .github/workflows/railjson_generator.yml
Owners: @flomonster, @multun

actions: fix jobs naming
  .github/workflows/api.yml
  .github/workflows/core.yml
  .github/workflows/docker-build-push-template.yml
  .github/workflows/editoast.yml
  .github/workflows/front.yml
  .github/workflows/integration_tests.yml
  .github/workflows/osrd_schemas.yml
  .github/workflows/railjson_generator.yml
Owners: @flomonster, @multun

core: kt-osrd-utils: fix display of negative distances
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/units/Distance.kt
Owners: @osrd-project/core-maintainers
