Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @osrd-project/front-maintainers, @osrd-project/editoast-maintainers, @eckter, @osrd-project/core-maintainers, @osrd-project/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @osrd-project/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @osrd-project/editoast-maintainers
/editoast/openapi.yaml
/chartos                                                 @osrd-project/editoast-maintainers
/python                                                  @osrd-project/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @osrd-project/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @osrd-project/physics
*Integration*.java                                       @osrd-project/physics

front: migrate lock unlock infra with rtk
  front/src/common/InfraSelector/Consts.jsx
  front/src/common/InfraSelector/InfraSelectorEditionActionsBar.tsx
  front/src/common/InfraSelector/InfraSelectorEditionActionsBarDelete.jsx
  front/src/common/InfraSelector/consts.ts
Owners: @osrd-project/front-maintainers

front: fix max infras in the list
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  front/src/common/InfraSelector/InfraSelectorModal.tsx
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/editoast-maintainers, @osrd-project/front-maintainers

front: refacto delete infra component to tsx and rtk
  front/public/locales/fr/infraManagement.json
  front/src/common/InfraSelector/InfraSelectorEditionActionsBar.tsx
  front/src/common/InfraSelector/InfraSelectorEditionActionsBarDelete.tsx
  front/src/common/InfraSelector/InfraSelectorEditionItem.jsx
  front/src/common/InfraSelector/InfraSelectorModal.tsx
  front/src/common/InfraSelector/InfraSelectorModalBodyEdition.tsx
  front/src/common/InfraSelector/consts.ts
Owners: @osrd-project/front-maintainers

front: refacto infra item selection in tsx
  front/src/common/InfraSelector/InfraSelectorEditionItem.tsx
  front/src/common/InfraSelector/InfraSelectorModalBodyEdition.tsx
Owners: @osrd-project/front-maintainers

front: migrate rename infra with rtk
  front/src/common/InfraSelector/InfraSelectorEditionActionsBar.tsx
Owners: @osrd-project/front-maintainers

front: fix max infras in the list
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  front/src/common/InfraSelector/InfraSelectorModal.tsx
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/editoast-maintainers, @osrd-project/front-maintainers

front: refacto infra item selection in tsx
  front/src/common/InfraSelector/InfraSelectorEditionItem.tsx
  front/src/common/InfraSelector/InfraSelectorModalBodyEdition.tsx
Owners: @osrd-project/front-maintainers

front: migrate lock unlock infra with rtk
  front/src/common/InfraSelector/Consts.jsx
  front/src/common/InfraSelector/InfraSelectorEditionActionsBar.tsx
  front/src/common/InfraSelector/InfraSelectorEditionActionsBarDelete.jsx
  front/src/common/InfraSelector/consts.ts
Owners: @osrd-project/front-maintainers

front: refacto infras list component in tsx
  front/src/common/InfraSelector/InfraSelectorModalBodyStandard.tsx
Owners: @osrd-project/front-maintainers

front: refacto clone infra workflow
  front/src/common/InfraSelector/InfraSelectorEditionActionsBar.tsx
  front/src/common/InfraSelector/InfraSelectorEditionActionsBarDelete.jsx
  front/src/common/InfraSelector/InfraSelectorEditionItem.jsx
  front/src/common/InfraSelector/InfraSelectorModal.tsx
  front/src/common/InfraSelector/InfraSelectorModalBodyEdition.tsx
Owners: @osrd-project/front-maintainers

front: migrate export railjson with rtk
  front/src/common/InfraSelector/InfraSelectorEditionActionsBar.tsx
Owners: @osrd-project/front-maintainers

front: refacto delete infra component to tsx and rtk
  front/public/locales/fr/infraManagement.json
  front/src/common/InfraSelector/InfraSelectorEditionActionsBar.tsx
  front/src/common/InfraSelector/InfraSelectorEditionActionsBarDelete.tsx
  front/src/common/InfraSelector/InfraSelectorEditionItem.jsx
  front/src/common/InfraSelector/InfraSelectorModal.tsx
  front/src/common/InfraSelector/InfraSelectorModalBodyEdition.tsx
  front/src/common/InfraSelector/consts.ts
Owners: @osrd-project/front-maintainers

editoast: migrate /stdcm endpoint
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  editoast/src/core/mod.rs
  editoast/src/core/pathfinding.rs
  editoast/src/core/simulation.rs
  editoast/src/core/stdcm.rs
  editoast/src/models/mod.rs
  editoast/src/models/pathfinding.rs
  editoast/src/models/simulation_output/mod.rs
  editoast/src/models/simulation_output/sql/output_simulation_from_timetable.sql
  editoast/src/models/timetable.rs
  editoast/src/models/train_schedule.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/tests/small_infra/stdcm/test_1/project_signal_response.json
  editoast/src/tests/small_infra/stdcm/test_1/stdcm_core_payload.json
  editoast/src/tests/small_infra/stdcm/test_1/stdcm_core_response.json
  editoast/src/tests/small_infra/stdcm/test_1/stdcm_post_expected_response.json
  editoast/src/tests/small_infra/stdcm/test_1/stdcm_post_payload.json
  editoast/src/tests/train_schedule.json
  editoast/src/views/mod.rs
  editoast/src/views/pathfinding/mod.rs
  editoast/src/views/rolling_stocks/mod.rs
  editoast/src/views/stdcm/mod.rs
  editoast/src/views/train_schedule/mod.rs
  editoast/src/views/train_schedule/projection.rs
  editoast/src/views/train_schedule/simulation_report.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/editoast-maintainers

osrd-schemas: fix infra version type hint
  python/osrd_schemas/osrd_schemas/infra.py
Owners: @osrd-project/editoast-maintainers

osrd_schemas: fix train_schedule.dict
  python/osrd_schemas/osrd_schemas/train_schedule.py
  python/osrd_schemas/pyproject.toml
Owners: @osrd-project/editoast-maintainers

fixup! railjson_generator: add a method to put allowances on train_schedules
  python/railjson_generator/railjson_generator/schema/simulation/train_schedule.py
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
Owners: @osrd-project/editoast-maintainers

railjson_generator: add a method to put allowances on train_schedules
  python/railjson_generator/poetry.lock
  python/railjson_generator/railjson_generator/schema/simulation/train_schedule.py
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
Owners: @osrd-project/editoast-maintainers

railjson-generator: remove TST
  python/railjson_generator/README.md
  python/railjson_generator/railjson_generator/schema/simulation/simulation.py
  python/railjson_generator/railjson_generator/schema/simulation/train_succession_table.py
  python/railjson_generator/railjson_generator/scripts/examples/example_script.py
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
  python/railjson_generator/railjson_generator/scripts/examples/three_trains.py
  python/railjson_generator/railjson_generator/simulation_builder.py
Owners: @osrd-project/editoast-maintainers

core: migrate GraphAdapter
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/InterlockingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadedSignalingInfra.kt
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
  core/src/main/java/fr/sncf/osrd/utils/graph/GraphAdapter.java
  core/src/main/java/fr/sncf/osrd/utils/graph/LegacyGraphAdapter.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMHelpers.java
  core/src/test/java/fr/sncf/osrd/utils/graph/AStarTests.java
  core/src/test/java/fr/sncf/osrd/utils/graph/PathfindingTests.java
Owners: @osrd-project/core-maintainers

core: migrate GraphAdapter
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/InterlockingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadedSignalingInfra.kt
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
  core/src/main/java/fr/sncf/osrd/utils/graph/GraphAdapter.java
  core/src/main/java/fr/sncf/osrd/utils/graph/LegacyGraphAdapter.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMHelpers.java
  core/src/test/java/fr/sncf/osrd/utils/graph/AStarTests.java
  core/src/test/java/fr/sncf/osrd/utils/graph/PathfindingTests.java
Owners: @osrd-project/core-maintainers

tests: create a new scenario with 3 trains for STDCM
  tests/conftest.py
  tests/tests/test_e2e.py
  tests/tests/utils/timetable.py
Owners: @eckter

front: intervals editor, display form when interval type is number
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/common/IntervalsEditor/IntervalsEditorMarginForm.tsx
Owners: @osrd-project/front-maintainers

front: intervals editor, new segments have a unit by default (interval type number with unit)
  front/src/common/IntervalsDataViz/data.ts
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/common/IntervalsEditor/utils.ts
  front/src/stories/IntervalsEditor.stories.tsx
Owners: @osrd-project/front-maintainers

front: intervals editor, modify remove behaviour and use the emptyValue
  front/src/common/IntervalsDataViz/data.ts
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/common/IntervalsEditor/utils.ts
  front/src/stories/IntervalsEditor.stories.tsx
Owners: @osrd-project/front-maintainers

fix Paul's and Uriel's comments
  front/src/common/BootstrapSNCF/FormSNCF/DebouncedNumberInputSNCF.tsx
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/common/IntervalsEditor/IntervalsEditorCommonForm.tsx
Owners: @osrd-project/front-maintainers

core: automatically detect linked detectors
  core/src/main/java/fr/sncf/osrd/infra/implementation/signaling/modules/bal3/BAL3.java
Owners: @osrd-project/core-maintainers

core: automatically detect linked detectors
  core/src/main/java/fr/sncf/osrd/infra/implementation/signaling/modules/bal3/BAL3.java
Owners: @osrd-project/core-maintainers

editoast: fix train schedule get endpoints
  editoast/src/views/rolling_stocks/mod.rs
  editoast/src/views/train_schedule/mod.rs
  editoast/src/views/train_schedule/simulation_report.rs
  tests/tests/test_train_schedule.py
Owners: @osrd-project/editoast-maintainers, @eckter

railjson_generator: update documentation for SimulationBuilder.__init__
  python/railjson_generator/README.md
Owners: @osrd-project/editoast-maintainers

railjson_generator: complete the removal of signal_on_ports
  python/railjson_generator/README.md
  python/railjson_generator/railjson_generator/infra_builder.py
Owners: @osrd-project/editoast-maintainers

actions: trigger core tests on generator changes
  .github/workflows/core.yml
Owners: @flomonster, @multun

railjson_generator: deprecate unidirectional track links
  python/railjson_generator/README.md
  python/railjson_generator/railjson_generator/schema/infra/link.py
  python/railjson_generator/railjson_generator/scripts/examples/circle_infra.py
  python/railjson_generator/railjson_generator/scripts/examples/one_line.py
  python/railjson_generator/railjson_generator/scripts/examples/tiny_infra.py
Owners: @osrd-project/editoast-maintainers

railjson_generator: don't add links on switches
  python/railjson_generator/railjson_generator/infra_builder.py
  python/railjson_generator/railjson_generator/schema/infra/track_section.py
Owners: @osrd-project/editoast-maintainers

editoast: fix train schedule get endpoints
  editoast/src/views/rolling_stocks/mod.rs
  editoast/src/views/train_schedule/mod.rs
  editoast/src/views/train_schedule/simulation_report.rs
  tests/tests/test_train_schedule.py
Owners: @osrd-project/editoast-maintainers, @eckter

core: spacing requirements: gracefuly handle faulty signaling
  core/build.gradle
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
Owners: @osrd-project/core-maintainers

railjson_generator: bump to 0.2.0
  python/railjson_generator/pyproject.toml
  tests/poetry.lock
Owners: @osrd-project/editoast-maintainers, @eckter

core: spacing requirements: gracefuly handle faulty signaling
  core/build.gradle
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
Owners: @osrd-project/core-maintainers

railjson_generator: update documentation for SimulationBuilder.__init__
  python/railjson_generator/README.md
Owners: @osrd-project/editoast-maintainers

railjson_generator: don't add links on switches
  python/railjson_generator/railjson_generator/infra_builder.py
  python/railjson_generator/railjson_generator/schema/infra/track_section.py
Owners: @osrd-project/editoast-maintainers

railjson_generator: complete the removal of signal_on_ports
  python/railjson_generator/README.md
  python/railjson_generator/railjson_generator/infra_builder.py
Owners: @osrd-project/editoast-maintainers
