Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @osrd-project/front-maintainers, @osrd-project/editoast-maintainers, @eckter, @osrd-project/core-maintainers, @osrd-project/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @osrd-project/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @osrd-project/editoast-maintainers
/editoast/openapi.yaml
/chartos                                                 @osrd-project/editoast-maintainers
/python                                                  @osrd-project/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @osrd-project/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @osrd-project/physics
*Integration*.java                                       @osrd-project/physics

front: renable storybook build
  .github/workflows/front.yml
  front/.storybook/main.js
Owners: @flomonster, @multun, @osrd-project/front-maintainers

renable minification
  front/.storybook/main.js
Owners: @osrd-project/front-maintainers

front: renable storybook build
  .github/workflows/front.yml
  front/.storybook/main.js
Owners: @flomonster, @multun, @osrd-project/front-maintainers

renable minification
  front/.storybook/main.js
Owners: @osrd-project/front-maintainers

editoast: fix lpv panel deletion
  editoast/src/generated_data/sql/generate_lpv_panel_layer.sql
  editoast/src/generated_data/sql/insert_lpv_panel_layer.sql
Owners: @osrd-project/editoast-maintainers

editoast: fix lpv panel deletion
  editoast/src/generated_data/sql/generate_lpv_panel_layer.sql
  editoast/src/generated_data/sql/insert_lpv_panel_layer.sql
Owners: @osrd-project/editoast-maintainers

editoast: fix lpv panel deletion
  editoast/src/generated_data/sql/generate_lpv_panel_layer.sql
  editoast/src/generated_data/sql/insert_lpv_panel_layer.sql
Owners: @osrd-project/editoast-maintainers

front: safeWord: better selectors and persist
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/applications/operationalStudies/components/Project/PictureUploader.tsx
  front/src/common/UserSettings.tsx
  front/src/reducers/index.ts
Owners: @osrd-project/front-maintainers

front: safeWord: better selectors and persist
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/applications/operationalStudies/components/Project/PictureUploader.tsx
  front/src/common/UserSettings.tsx
  front/src/reducers/index.ts
Owners: @osrd-project/front-maintainers

front: safeWord: better selectors and persist
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/applications/operationalStudies/components/Project/PictureUploader.tsx
  front/src/common/UserSettings.tsx
  front/src/reducers/index.ts
Owners: @osrd-project/front-maintainers

front: safeWord: add feature with filtering animals
  front/public/locales/en/home/navbar.json
  front/public/locales/fr/operationalStudies/home.json
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/applications/operationalStudies/components/Project/PictureUploader.tsx
  front/src/assets/pictures/misc/cat.svg
  front/src/assets/pictures/misc/cheese.svg
  front/src/assets/pictures/misc/dog.svg
  front/src/assets/pictures/misc/ghibli.svg
  front/src/assets/pictures/misc/meat.svg
  front/src/assets/pictures/misc/panda.svg
  front/src/assets/pictures/misc/redpanda.svg
  front/src/assets/pictures/misc/sncf.svg
  front/src/assets/pictures/misc/teddybear.svg
  front/src/assets/pictures/misc/tiger.svg
  front/src/assets/pictures/misc/train.svg
  front/src/common/BootstrapSNCF/ModalSNCF/style.scss
  front/src/common/BootstrapSNCF/NavBarSNCF.tsx
  front/src/common/UserSettings.tsx
  front/src/reducers/main.ts
  front/src/styles/scss/applications/operationalStudies/components/_AddAndEditProjectModal.scss
  front/src/styles/scss/applications/operationalStudies/components/_AddAndEditScenarioModal.scss
Owners: @osrd-project/front-maintainers

front: manageTrainSchedule: full size map, floating itinerary
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Vias.tsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/styles/scss/applications/operationalStudies/_managetrainschedule.scss
  front/src/styles/scss/common/components/_pathfinding.scss
Owners: @osrd-project/front-maintainers

front: kill the rabbit
  front/public/locales/en/home.json
  front/public/locales/en/home/navbar.json
  front/public/locales/fr/home/navbar.json
  front/public/pictures/minimotrices/motrice_22.png
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/applications/stdcm/views/StdcmRequestModal.jsx
  front/src/assets/pictures/KLCW_nc_standard.png
  front/src/assets/pictures/rabbit.svg
  front/src/common/Map/utils.ts
  front/src/common/MotriceRelated/motriceParty.tsx
Owners: @osrd-project/front-maintainers

front: motriceRelated: release informations party
  front/package.json
  front/public/pictures/minimotrices/motrice_0.png
  front/public/pictures/minimotrices/motrice_1.png
  front/public/pictures/minimotrices/motrice_10.png
  front/public/pictures/minimotrices/motrice_11.png
  front/public/pictures/minimotrices/motrice_12.png
  front/public/pictures/minimotrices/motrice_13.png
  front/public/pictures/minimotrices/motrice_14.png
  front/public/pictures/minimotrices/motrice_15.png
  front/public/pictures/minimotrices/motrice_16.png
  front/public/pictures/minimotrices/motrice_17.png
  front/public/pictures/minimotrices/motrice_18.png
  front/public/pictures/minimotrices/motrice_19.png
  front/public/pictures/minimotrices/motrice_2.png
  front/public/pictures/minimotrices/motrice_20.png
  front/public/pictures/minimotrices/motrice_21.png
  front/public/pictures/minimotrices/motrice_3.png
  front/public/pictures/minimotrices/motrice_4.png
  front/public/pictures/minimotrices/motrice_5.png
  front/public/pictures/minimotrices/motrice_6.png
  front/public/pictures/minimotrices/motrice_7.png
  front/public/pictures/minimotrices/motrice_8.png
  front/public/pictures/minimotrices/motrice_9.png
  front/src/common/MotriceRelated/motriceParty.tsx
  front/src/common/ReleaseInformations/ReleaseInformations.tsx
  front/yarn.lock
Owners: @osrd-project/front-maintainers

front: safeWord: transparent adding & displaying
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
Owners: @osrd-project/front-maintainers

front: kill the rabbit
  front/public/locales/en/home.json
  front/public/locales/en/home/navbar.json
  front/public/locales/fr/home/navbar.json
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/applications/stdcm/views/StdcmRequestModal.jsx
  front/src/assets/pictures/KLCW_nc_standard.png
  front/src/assets/pictures/rabbit.svg
  front/src/common/Map/utils.ts
  front/src/common/MotriceRelated/motriceParty.tsx
Owners: @osrd-project/front-maintainers

front: safeWord: transparent adding & displaying
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
Owners: @osrd-project/front-maintainers

front: safeWord: add feature with filtering animals
  front/public/locales/en/home/navbar.json
  front/public/locales/fr/operationalStudies/home.json
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/applications/operationalStudies/components/Project/PictureUploader.tsx
  front/src/assets/pictures/misc/cat.svg
  front/src/assets/pictures/misc/cheese.svg
  front/src/assets/pictures/misc/dog.svg
  front/src/assets/pictures/misc/ghibli.svg
  front/src/assets/pictures/misc/meat.svg
  front/src/assets/pictures/misc/panda.svg
  front/src/assets/pictures/misc/redpanda.svg
  front/src/assets/pictures/misc/sncf.svg
  front/src/assets/pictures/misc/teddybear.svg
  front/src/assets/pictures/misc/tiger.svg
  front/src/assets/pictures/misc/train.svg
  front/src/common/BootstrapSNCF/ModalSNCF/style.scss
  front/src/common/BootstrapSNCF/NavBarSNCF.tsx
  front/src/common/UserSettings.tsx
  front/src/reducers/main.ts
  front/src/styles/scss/applications/operationalStudies/components/_AddAndEditProjectModal.scss
  front/src/styles/scss/applications/operationalStudies/components/_AddAndEditScenarioModal.scss
Owners: @osrd-project/front-maintainers

front: motriceRelated: release informations party
  front/package.json
  front/public/pictures/minimotrices/motrice_0.png
  front/public/pictures/minimotrices/motrice_1.png
  front/public/pictures/minimotrices/motrice_10.png
  front/public/pictures/minimotrices/motrice_11.png
  front/public/pictures/minimotrices/motrice_12.png
  front/public/pictures/minimotrices/motrice_13.png
  front/public/pictures/minimotrices/motrice_14.png
  front/public/pictures/minimotrices/motrice_15.png
  front/public/pictures/minimotrices/motrice_16.png
  front/public/pictures/minimotrices/motrice_17.png
  front/public/pictures/minimotrices/motrice_18.png
  front/public/pictures/minimotrices/motrice_19.png
  front/public/pictures/minimotrices/motrice_2.png
  front/public/pictures/minimotrices/motrice_20.png
  front/public/pictures/minimotrices/motrice_21.png
  front/public/pictures/minimotrices/motrice_22.png
  front/public/pictures/minimotrices/motrice_3.png
  front/public/pictures/minimotrices/motrice_4.png
  front/public/pictures/minimotrices/motrice_5.png
  front/public/pictures/minimotrices/motrice_6.png
  front/public/pictures/minimotrices/motrice_7.png
  front/public/pictures/minimotrices/motrice_8.png
  front/public/pictures/minimotrices/motrice_9.png
  front/src/common/MotriceRelated/motriceParty.tsx
  front/src/common/ReleaseInformations/ReleaseInformations.tsx
  front/yarn.lock
Owners: @osrd-project/front-maintainers

front: manageTrainSchedule: full size map, floating itinerary
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Vias.tsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/styles/scss/applications/operationalStudies/_managetrainschedule.scss
  front/src/styles/scss/common/components/_pathfinding.scss
Owners: @osrd-project/front-maintainers

front: driverTrainSchedul: simple refacto & base OR eco switch
  front/public/locales/en/operationalStudies/drivertrainschedule.json
  front/public/locales/fr/operationalStudies/drivertrainschedule.json
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainSchedule.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleContent.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleHeader.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleHelpers.ts
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleStop.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleStopList.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleTypes.tsx
Owners: @osrd-project/front-maintainers

front: driverTrainSchedul: simple refacto & base OR eco switch
  front/public/locales/en/operationalStudies/drivertrainschedule.json
  front/public/locales/fr/operationalStudies/drivertrainschedule.json
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainSchedule.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleContent.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleHeader.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleHelpers.ts
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleStop.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleStopList.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleTypes.tsx
Owners: @osrd-project/front-maintainers

actions: disable built storybook
  .github/workflows/front.yml
Owners: @flomonster, @multun

actions: disable built storybook
  .github/workflows/front.yml
Owners: @flomonster, @multun

api: adapt path model
  python/api/osrd_infra/migrations/0037_pathmodel_length.py
  python/api/osrd_infra/models/path.py
  python/api/osrd_infra/views/pathfinding.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
  python/osrd_schemas/osrd_schemas/path.py
Owners: @osrd-project/editoast-maintainers

core: adapt path schema
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingResultConverter.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/PathWaypointResult.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/PathfindingResult.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingTest.java
Owners: @osrd-project/core-maintainers

core: rename scheduled point position to path_offset
  core/openapi.yaml
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSSchedulePoint.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSStandaloneTrainScheduleParser.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/java/fr/sncf/osrd/train/ScheduledPoint.java
  editoast/openapi.yaml
  editoast/src/models/train_schedule.rs
  front/src/applications/operationalStudies/components/ImportTrainSchedule/generateTrainSchedulesPayload.jsx
  front/src/common/api/osrdEditoastApi.ts
  python/osrd_schemas/osrd_schemas/train_schedule.py
Owners: @osrd-project/core-maintainers, @osrd-project/editoast-maintainers, @osrd-project/front-maintainers

front: new pathfinding schema: adaptation done
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/Allowances.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Destination.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Origin.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/ModalSuggeredVias.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/setPointIti.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/common/Pathfinding/Pathfinding.tsx
Owners: @osrd-project/front-maintainers

editoast: adapt path schema
  editoast/openapi.yaml
  editoast/src/core/pathfinding.rs
  editoast/src/fixtures.rs
  editoast/src/models/pathfinding.rs
  editoast/src/schema/mod.rs
  editoast/src/tables.rs
  editoast/src/tests/small_infra/pathfinding_core_response.json
  editoast/src/tests/small_infra/pathfinding_fixture_payload.json
  editoast/src/views/pathfinding/mod.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/editoast-maintainers

front: importationWithTimes: front is ready
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleModal.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/generateTrainSchedulesPayload.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesModalOP.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/ModalSuggeredVias.tsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/front-maintainers

tests: adapt integration tests
  tests/tests/path.py
  tests/tests/test_pathfinding.py
Owners: @eckter

front: new path schema: fix on size & baseOrEco
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainSchedule.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleHeader.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleStopList.tsx
  front/src/styles/scss/applications/operationalStudies/_simulationresults.scss
Owners: @osrd-project/front-maintainers

front: new path schema: fix on size & baseOrEco
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainSchedule.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleHeader.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleStopList.tsx
  front/src/styles/scss/applications/operationalStudies/_simulationresults.scss
Owners: @osrd-project/front-maintainers

tests: adapt integration tests
  tests/tests/path.py
  tests/tests/test_pathfinding.py
Owners: @eckter

front: importationWithTimes: front is ready
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleModal.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/generateTrainSchedulesPayload.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesModalOP.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/ModalSuggeredVias.tsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/front-maintainers

front: new pathfinding schema: adaptation done
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/Allowances.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Destination.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Origin.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/ModalSuggeredVias.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/setPointIti.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/common/Pathfinding/Pathfinding.tsx
Owners: @osrd-project/front-maintainers

core: adapt path schema
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingResultConverter.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/PathWaypointResult.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/PathfindingResult.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingTest.java
Owners: @osrd-project/core-maintainers

editoast: adapt path schema
  editoast/openapi.yaml
  editoast/src/core/pathfinding.rs
  editoast/src/fixtures.rs
  editoast/src/models/pathfinding.rs
  editoast/src/schema/mod.rs
  editoast/src/tables.rs
  editoast/src/tests/small_infra/pathfinding_core_response.json
  editoast/src/tests/small_infra/pathfinding_fixture_payload.json
  editoast/src/views/pathfinding/mod.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/editoast-maintainers

api: adapt path model
  python/api/osrd_infra/migrations/0037_pathmodel_length.py
  python/api/osrd_infra/models/path.py
  python/api/osrd_infra/views/pathfinding.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
  python/osrd_schemas/osrd_schemas/path.py
Owners: @osrd-project/editoast-maintainers

front: new pathfinding schema: adaptation done
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/Allowances.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Destination.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Origin.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/ModalSuggeredVias.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/setPointIti.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/common/Pathfinding/Pathfinding.tsx
Owners: @osrd-project/front-maintainers
