Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @osrd-project/front-maintainers, @osrd-project/editoast-maintainers, @eckter, @osrd-project/core-maintainers, @osrd-project/physics

editoast + api + core: add dosctrings about neutral sections
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSNeutralSection.java
  editoast/src/schema/neutral_section.rs
  front/src/reducers/osrdconf/infra_schema.json
  python/api/osrd_infra/models/infra.py
  python/osrd_schemas/osrd_schemas/infra.py
  python/railjson_generator/railjson_generator/schema/infra/neutral_section.py
Owners: @osrd-project/core-maintainers, @osrd-project/editoast-maintainers, @osrd-project/front-maintainers

all: bump railjson version to 3.4.0
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSInfra.java
  editoast/src/models/infra.rs
  editoast/src/tests/small_infra/small_infra.json
  front/src/reducers/osrdconf/infra_schema.json
  python/api/osrd_infra/migrations/0045_railjson_3_4_0.py
  python/api/poetry.lock
  python/osrd_schemas/osrd_schemas/infra.py
  python/osrd_schemas/pyproject.toml
  python/railjson_generator/poetry.lock
  python/railjson_generator/railjson_generator/schema/infra/infra.py
Owners: @osrd-project/core-maintainers, @osrd-project/editoast-maintainers, @osrd-project/front-maintainers

front: rename cut_off to switch_off
  front/public/locales/en/map-key.json
  front/public/locales/fr/map-key.json
  front/src/common/Map/Consts/colors.ts
  front/src/common/Map/Layers/NeutralSections.tsx
  front/src/common/Map/MapKey.tsx
Owners: @osrd-project/front-maintainers

editoast: add utoipa annotations for GET /version
  editoast/openapi.yaml
  editoast/src/views/mod.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/editoast-maintainers

editoast: clippy fixes
  editoast/src/generated_data/error/catenaries.rs
  editoast/src/generated_data/error/speed_sections.rs
  editoast/src/models/timetable.rs
  editoast/src/schema/railjson.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/pathfinding/catenaries.rs
  editoast/src/views/pathfinding/mod.rs
  editoast/src/views/timetable.rs
Owners: @osrd-project/editoast-maintainers

editoast: add utoipa annotations for GET /version
  editoast/openapi.yaml
  editoast/src/views/mod.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/editoast-maintainers

front: intervals editor - add merge tool
  front/public/locales/en/common/common.json
  front/public/locales/fr/common/common.json
  front/src/common/IntervalsDataViz/style.scss
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/common/IntervalsEditor/IntervalsEditorToolButtons.tsx
  front/src/common/IntervalsEditor/types.ts
Owners: @osrd-project/front-maintainers

core + editoast + api + schemas: remove backside pantograph ranges from dead sections
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSDeadSection.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/UndirectedInfraBuilder.java
  editoast/map_layers.yml
  editoast/src/generated_data/dead_section.rs
  editoast/src/generated_data/mod.rs
  editoast/src/generated_data/sql/generate_backside_pantograph_dead_section_layer.sql
  editoast/src/schema/dead_section.rs
  editoast/src/tests/small_infra/small_infra.json
  front/src/reducers/osrdconf/infra_schema.json
  python/api/osrd_infra/migrations/0042_remove_backside_pantograph_track_ranges.py
  python/api/osrd_infra/models/generated.py
  python/api/poetry.lock
  python/osrd_schemas/osrd_schemas/infra.py
  python/osrd_schemas/pyproject.toml
  python/railjson_generator/poetry.lock
  python/railjson_generator/railjson_generator/schema/infra/dead_section.py
Owners: @osrd-project/core-maintainers, @osrd-project/editoast-maintainers, @osrd-project/front-maintainers

editoast + api + core: add dosctrings about neutral sections
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSNeutralSection.java
  editoast/src/schema/neutral_section.rs
  front/src/reducers/osrdconf/infra_schema.json
  python/api/osrd_infra/models/infra.py
  python/osrd_schemas/osrd_schemas/infra.py
  python/railjson_generator/railjson_generator/schema/infra/neutral_section.py
Owners: @osrd-project/core-maintainers, @osrd-project/editoast-maintainers, @osrd-project/front-maintainers

front + core + editoast + api + schemas: rename neutral_section.is_drop_pantograph to lower_pantograph
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/electrification/Neutral.java
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/openapi.yaml
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSNeutralSection.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/EnvelopeTrainPath.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/NeutralSection.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/UndirectedInfraBuilder.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ElectrificationRange.java
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
  editoast/src/schema/neutral_section.rs
  editoast/src/tests/small_infra/small_infra.json
  front/public/locales/en/map-key.json
  front/public/locales/fr/map-key.json
  front/src/common/Map/Consts/colors.ts
  front/src/common/Map/Layers/NeutralSections.tsx
  front/src/common/Map/MapKey.tsx
  front/src/reducers/osrdconf/infra_schema.json
  python/api/osrd_infra/migrations/0044_rename_is_pantograph_drop_zone_to_lower_pantograph.py
  python/api/poetry.lock
  python/osrd_schemas/osrd_schemas/infra.py
  python/osrd_schemas/pyproject.toml
  python/railjson_generator/poetry.lock
  python/railjson_generator/railjson_generator/schema/infra/neutral_section.py
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
Owners: @osrd-project/core-maintainers, @osrd-project/editoast-maintainers, @osrd-project/front-maintainers

front: rename cut_off to switch_off
  front/public/locales/en/map-key.json
  front/public/locales/fr/map-key.json
  front/src/common/Map/Consts/colors.ts
  front/src/common/Map/Layers/NeutralSections.tsx
  front/src/common/Map/MapKey.tsx
Owners: @osrd-project/front-maintainers

all: bump railjson version to 3.4.0
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSInfra.java
  editoast/src/models/infra.rs
  editoast/src/tests/small_infra/small_infra.json
  front/src/reducers/osrdconf/infra_schema.json
  python/api/osrd_infra/migrations/0045_railjson_3_4_0.py
  python/api/poetry.lock
  python/osrd_schemas/osrd_schemas/infra.py
  python/osrd_schemas/pyproject.toml
  python/railjson_generator/poetry.lock
  python/railjson_generator/railjson_generator/schema/infra/infra.py
Owners: @osrd-project/core-maintainers, @osrd-project/editoast-maintainers, @osrd-project/front-maintainers

actions: update apt before install gdal
  .github/workflows/api.yml
Owners: @flomonster, @multun

actions: update apt before install gdal
  .github/workflows/api.yml
Owners: @flomonster, @multun

editoast: bump dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
Owners: @osrd-project/editoast-maintainers

editoast: clippy fixes
  editoast/src/generated_data/error/catenaries.rs
  editoast/src/generated_data/error/speed_sections.rs
  editoast/src/models/timetable.rs
  editoast/src/schema/railjson.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/pathfinding/catenaries.rs
  editoast/src/views/pathfinding/mod.rs
  editoast/src/views/timetable.rs
Owners: @osrd-project/editoast-maintainers

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @osrd-project/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @osrd-project/editoast-maintainers
/editoast/openapi.yaml
/chartos                                                 @osrd-project/editoast-maintainers
/python                                                  @osrd-project/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @osrd-project/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @osrd-project/physics
*Integration*.java                                       @osrd-project/physics
