Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

scripts: fix loading of example rolling stock
  scripts/generate-infra.sh
Owners: none

Revert "api: Split `TrainSchedule` input and output"
  python/api/osrd_infra/admin.py
  python/api/osrd_infra/migrations/0012_power_restrictions.py
  python/api/osrd_infra/migrations/0012_simulationoutput_trainschedule_and_more.py
  python/api/osrd_infra/models/__init__.py
  python/api/osrd_infra/models/simulation_output.py
  python/api/osrd_infra/models/train_schedule.py
  python/api/osrd_infra/serializers.py
  python/api/osrd_infra/tests/test_stdcm.py
  python/api/osrd_infra/views/stdcm.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
  python/api/osrd_infra/views/train_schedule/train_schedule.py
  tests/tests/stdcm/empty_timetable.py
Owners: @DGEXSolutions/editoast-maintainers, @eckter

Revert "api: Split `TrainSchedule` input and output"
  python/api/osrd_infra/admin.py
  python/api/osrd_infra/migrations/0012_power_restrictions.py
  python/api/osrd_infra/migrations/0012_simulationoutput_trainschedule_and_more.py
  python/api/osrd_infra/models/__init__.py
  python/api/osrd_infra/models/simulation_output.py
  python/api/osrd_infra/models/train_schedule.py
  python/api/osrd_infra/serializers.py
  python/api/osrd_infra/tests/test_stdcm.py
  python/api/osrd_infra/views/stdcm.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
  python/api/osrd_infra/views/train_schedule/train_schedule.py
  tests/tests/stdcm/empty_timetable.py
Owners: @DGEXSolutions/editoast-maintainers, @eckter

Revert "api: Split `TrainSchedule` input and output"
  python/api/osrd_infra/admin.py
  python/api/osrd_infra/migrations/0012_power_restrictions.py
  python/api/osrd_infra/migrations/0012_simulationoutput_trainschedule_and_more.py
  python/api/osrd_infra/models/__init__.py
  python/api/osrd_infra/models/simulation_output.py
  python/api/osrd_infra/models/train_schedule.py
  python/api/osrd_infra/serializers.py
  python/api/osrd_infra/tests/test_stdcm.py
  python/api/osrd_infra/views/stdcm.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
  python/api/osrd_infra/views/train_schedule/train_schedule.py
  tests/tests/stdcm/empty_timetable.py
Owners: @DGEXSolutions/editoast-maintainers, @eckter

front: linter - enforce no-unused-var rule
  front/package.json
  front/src/applications/editor/components/InfraErrors/InfraErrorsList.tsx
  front/src/applications/editor/tools/routeEdition/tool.ts
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/MarecoMultiRange.jsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawArea.jsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleContent.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpaceCurvesSlopes.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/applications/stdcm/formatStcmConf.ts
  front/src/common/BootstrapSNCF/ModalSNCF/ModalProvider.jsx
  front/src/common/BootstrapSNCF/SearchSNCF.jsx
  front/src/common/InfraSelector/InfraSelectorEditionActionsBar.jsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/stories/SpeedSpaceChart.stories.tsx
  front/src/utils/__tests__/geometry.test.ts
  front/vite.config.ts
Owners: @DGEXSolutions/front-maintainers

front: linter - enforce no-unused-var rule
  front/package.json
  front/src/applications/editor/components/InfraErrors/InfraErrorsList.tsx
  front/src/applications/editor/tools/routeEdition/tool.ts
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/MarecoMultiRange.jsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawArea.jsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleContent.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpaceCurvesSlopes.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/stdcm/formatStcmConf.ts
  front/src/common/BootstrapSNCF/ModalSNCF/ModalProvider.jsx
  front/src/common/BootstrapSNCF/SearchSNCF.jsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/stories/SpeedSpaceChart.stories.tsx
  front/src/utils/__tests__/geometry.test.ts
  front/vite.config.ts
Owners: @DGEXSolutions/front-maintainers

front: linter - enforce no-unused-var rule
  front/package.json
  front/src/applications/editor/components/InfraErrors/InfraErrorsList.tsx
  front/src/applications/editor/tools/routeEdition/tool.ts
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/MarecoMultiRange.jsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawArea.jsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleContent.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpaceCurvesSlopes.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/stdcm/formatStcmConf.ts
  front/src/common/BootstrapSNCF/ModalSNCF/ModalProvider.jsx
  front/src/common/BootstrapSNCF/SearchSNCF.jsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/stories/SpeedSpaceChart.stories.tsx
  front/src/utils/__tests__/geometry.test.ts
  front/vite.config.ts
Owners: @DGEXSolutions/front-maintainers

api: fix format of a migration
  python/api/osrd_infra/migrations/0012_power_restrictions.py
Owners: @DGEXSolutions/editoast-maintainers

actions: fix invalid api workflow
  .github/workflows/api.yml
Owners: @flomonster, @multun

actions: fix invalid api workflow
  .github/workflows/api.yml
Owners: @flomonster, @multun

api: fix format of a migration
  python/api/osrd_infra/migrations/0012_power_restrictions.py
Owners: @DGEXSolutions/editoast-maintainers

api: fix format of a migration
  python/api/osrd_infra/migrations/0012_power_restrictions.py
Owners: @DGEXSolutions/editoast-maintainers

actions: fix invalid api workflow
  .github/workflows/api.yml
Owners: @flomonster, @multun

editoast: fix pathfinding to create routes
  editoast/src/views/infra/pathfinding.rs
Owners: @DGEXSolutions/editoast-maintainers

front: timeTable: mask train modify button
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
Owners: @DGEXSolutions/front-maintainers

front: timeTable: mask train modify button
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
Owners: @DGEXSolutions/front-maintainers

front: timeTable: mask train modify button
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
Owners: @DGEXSolutions/front-maintainers

api: Split `TrainSchedule` input and output
  python/api/osrd_infra/admin.py
  python/api/osrd_infra/migrations/0012_simulationoutput_trainschedule_and_more.py
  python/api/osrd_infra/models/__init__.py
  python/api/osrd_infra/models/simulation_output.py
  python/api/osrd_infra/models/train_schedule.py
  python/api/osrd_infra/serializers.py
  python/api/osrd_infra/tests/test_stdcm.py
  python/api/osrd_infra/views/stdcm.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
  python/api/osrd_infra/views/train_schedule/train_schedule.py
  tests/tests/stdcm/empty_timetable.py
Owners: @DGEXSolutions/editoast-maintainers, @eckter

api: Fix `SimulationOutput` updates and migrations
  python/api/osrd_infra/migrations/0013_simulationoutput_trainschedule_and_more.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
  python/api/osrd_infra/views/train_schedule/train_schedule.py
Owners: @DGEXSolutions/editoast-maintainers

editoast: fix documentation
  editoast/src/views/electrical_profiles.rs
Owners: @DGEXSolutions/editoast-maintainers

test: add update simulation test
  python/api/osrd_infra/views/train_schedule/train_schedule.py
  tests/tests/get_and_update_schedule_result.py
  tests/tests/get_schedule_result.py
  tests/tests/run_simulation.py
  tests/tests/stdcm/utils.py
  tests/tests/utils/schedule.py
Owners: @DGEXSolutions/editoast-maintainers, @eckter

editoast: simplify editoast errors context
  editoast/editoast_derive/src/error.rs
  editoast/editoast_derive/src/lib.rs
  editoast/src/documents.rs
  editoast/src/error.rs
  editoast/src/infra.rs
  editoast/src/views/electrical_profiles.rs
  editoast/src/views/infra/attached.rs
  editoast/src/views/search/context.rs
  editoast/src/views/search/typing.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: fix documentation
  editoast/src/views/electrical_profiles.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: fix documentation
  editoast/src/views/electrical_profiles.rs
Owners: @DGEXSolutions/editoast-maintainers

api: bring back fixe
  python/api/osrd_infra/views/train_schedule/train_schedule.py
Owners: @DGEXSolutions/editoast-maintainers

front: nav: change icon for infra. InfraSelectionModal: modify infraURL.
  front/src/applications/editor/components/InfraSelectionModal.tsx
  front/src/applications/editor/nav.ts
  front/src/common/InfraSelector/InfraSelector.jsx
  front/src/common/InfraSelector/InfraSelectorModal.tsx
Owners: @DGEXSolutions/front-maintainers

front: map: create constante CUSTOM_ATTRIBUTION and use it in map.
  front/src/applications/editor/Map.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/Map.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Map.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
  front/src/applications/referenceMap/Map.tsx
  front/src/common/Map/const.ts
Owners: @DGEXSolutions/front-maintainers

front: fix modal close on route change
  front/src/common/BootstrapSNCF/ModalSNCF/ModalProvider.jsx
Owners: @DGEXSolutions/front-maintainers

front: clean GEV
  front/.eslintrc
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/withOSRDData.jsx
Owners: @DGEXSolutions/front-maintainers

editoast: fix pathfinding to create routes
  editoast/src/views/infra/pathfinding.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: fix pathfinding to create routes
  editoast/src/views/infra/pathfinding.rs
Owners: @DGEXSolutions/editoast-maintainers

front: fix history update behaviour on map move
  front/src/applications/referenceMap/Map.tsx
  front/src/reducers/map/index.ts
Owners: @DGEXSolutions/front-maintainers

editoast: simplify editoast errors context
  editoast/editoast_derive/src/error.rs
  editoast/editoast_derive/src/lib.rs
  editoast/src/documents.rs
  editoast/src/error.rs
  editoast/src/infra.rs
  editoast/src/views/electrical_profiles.rs
  editoast/src/views/infra/attached.rs
  editoast/src/views/search/context.rs
  editoast/src/views/search/typing.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: simplify editoast errors context
  editoast/editoast_derive/src/error.rs
  editoast/editoast_derive/src/lib.rs
  editoast/src/documents.rs
  editoast/src/error.rs
  editoast/src/infra.rs
  editoast/src/views/electrical_profiles.rs
  editoast/src/views/infra/attached.rs
  editoast/src/views/search/context.rs
  editoast/src/views/search/typing.rs
Owners: @DGEXSolutions/editoast-maintainers

front: clean GEV 2 (reorder parameters)
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/enableInteractivity.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/SpaceTimeChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/prepareData.ts
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/sampleData.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/withOSRDData.jsx
  front/src/applications/operationalStudies/components/SimulationResults/simulationResultsConsts.ts
Owners: @DGEXSolutions/front-maintainers

front: nav: change icon for infra. InfraSelectionModal: modify infraURL.
  front/src/applications/editor/components/InfraSelectionModal.tsx
  front/src/applications/editor/nav.ts
  front/src/common/InfraSelector/InfraSelector.jsx
  front/src/common/InfraSelector/InfraSelectorModal.tsx
Owners: @DGEXSolutions/front-maintainers

front: nav: change icon for infra. InfraSelectionModal: modify infraURL.
  front/src/applications/editor/components/InfraSelectionModal.tsx
  front/src/applications/editor/nav.ts
  front/src/common/InfraSelector/InfraSelector.jsx
  front/src/common/InfraSelector/InfraSelectorModal.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: add endpoint to retrieve a rolling stock
  editoast/openapi.yaml
  editoast/src/infra.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/rolling_stock.rs
  editoast/src/tables.rs
  editoast/src/tests/example_rolling_stock.json
  editoast/src/views/electrical_profiles.rs
  editoast/src/views/mod.rs
  editoast/src/views/rolling_stocks.rs
Owners: @DGEXSolutions/editoast-maintainers

Fix comments
  editoast/src/schema/rolling_stock.rs
  editoast/src/views/rolling_stocks.rs
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

front: fix rolling stock selector curve behaviour
  front/src/common/RollingStockSelector/RollingStockCurves.jsx
Owners: @DGEXSolutions/front-maintainers

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics
