Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @osrd-project/front-maintainers, @osrd-project/editoast-maintainers, @eckter, @osrd-project/core-maintainers, @osrd-project/physics

remove `WithOffset`
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/Path.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/PathImpl.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/PathTests.kt
Owners: @osrd-project/core-maintainers

core: kt-infra: add path projection tools
  core/kt-fast-collections-generator/src/main/kotlin/collections/ArrayList.kt
  core/kt-fast-collections/build.gradle
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/PathProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/Projections.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeMap.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeMapImpl.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/indexing/DirStaticIdx.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/units/Distance.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/units/DistanceRangeMap.kt
  core/kt-osrd-utils/src/test/kotlin/fr/sncf/osrd/utils/TestDistanceRangeMap.kt
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSOperationalPoint.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSOperationalPointPart.java
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapterTest.kt
Owners: @osrd-project/core-maintainers

add `distanceRangeMapOf`
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/PathImpl.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeMap.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeMapImpl.kt
  core/kt-osrd-utils/src/test/kotlin/fr/sncf/osrd/utils/TestDistanceRangeMap.kt
Owners: @osrd-project/core-maintainers

core: kt-infra: add path projection tools
  core/kt-fast-collections-generator/src/main/kotlin/collections/ArrayList.kt
  core/kt-fast-collections/build.gradle
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/PathProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/Projections.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeMap.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeMapImpl.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/indexing/DirStaticIdx.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/units/Distance.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/units/DistanceRangeMap.kt
  core/kt-osrd-utils/src/test/kotlin/fr/sncf/osrd/utils/TestDistanceRangeMap.kt
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSOperationalPoint.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSOperationalPointPart.java
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapterTest.kt
Owners: @osrd-project/core-maintainers

core: kt-infra: rename track id to name
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/PathTests.kt
Owners: @osrd-project/core-maintainers

rename "operational point" to "operational point part"
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/PathProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapterTest.kt
Owners: @osrd-project/core-maintainers

rename "operational point" to "operational point part"
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/PathProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapterTest.kt
Owners: @osrd-project/core-maintainers

fix array list toString
  core/kt-fast-collections-generator/src/main/kotlin/collections/ArrayList.kt
  core/kt-fast-collections/build.gradle
Owners: @osrd-project/core-maintainers

Update core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/PathProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/PathProperties.kt
Owners: @osrd-project/core-maintainers

core: kt-infra: move directed chunk getter to extension function
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/PathTests.kt
Owners: @osrd-project/core-maintainers

fix array list toString
  core/kt-fast-collections-generator/src/main/kotlin/collections/ArrayList.kt
  core/kt-fast-collections/build.gradle
Owners: @osrd-project/core-maintainers

remove `WithOffset`
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/Path.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/PathImpl.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/PathTests.kt
Owners: @osrd-project/core-maintainers

core: kt-infra: rename track id to name
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/PathTests.kt
Owners: @osrd-project/core-maintainers

core: kt-infra: move directed chunk getter to extension function
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/PathTests.kt
Owners: @osrd-project/core-maintainers

moved path to new class
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/Path.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/PathProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/PathImpl.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/Projections.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/PathTests.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapterTest.kt
Owners: @osrd-project/core-maintainers

Update core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/PathProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/PathProperties.kt
Owners: @osrd-project/core-maintainers

add `distanceRangeMapOf`
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/PathImpl.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeMap.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeMapImpl.kt
  core/kt-osrd-utils/src/test/kotlin/fr/sncf/osrd/utils/TestDistanceRangeMap.kt
Owners: @osrd-project/core-maintainers

moved path to new class
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/Path.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/PathProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/PathImpl.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/Projections.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/PathTests.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapterTest.kt
Owners: @osrd-project/core-maintainers

core: refactor electrification conditions
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPath.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/electrification/Electrification.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/electrification/Electrified.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/electrification/NonElectrified.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_utils/RangeMapUtils.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/AllowanceTests.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/EnvelopeMaintainSpeedTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPathTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/MaxEffortEnvelopeTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_utils/RangeMapUtilsTest.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPathBuilder.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/EnvelopeTrainPath.java
  core/src/main/java/fr/sncf/osrd/external_generated_inputs/ElectricalProfileMapping.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ElectrificationConditionsRange.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/EnvelopeSimContextBuilder.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
  core/src/test/java/fr/sncf/osrd/external_generated_inputs/ElectricalProfileMappingTest.java
  core/src/test/java/fr/sncf/osrd/train/TestRollingStock.java
Owners: @osrd-project/core-maintainers, @osrd-project/physics

editoast + api + schemas: update rolling stock model
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
  editoast/openapi.yaml
  editoast/src/models/rolling_stock/light_rolling_stock.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/tables.rs
  editoast/src/tests/example_rolling_stock_1.json
  editoast/src/tests/example_rolling_stock_2_energy_sources.json
  editoast/src/tests/example_rolling_stock_3.json
  editoast/src/views/rolling_stocks.rs
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/openapi.yaml
  python/api/osrd_infra/migrations/0034_rjs_rollingstock_3_2.py
  python/api/osrd_infra/models/rolling_stock.py
  python/api/poetry.lock
  python/api/static/example_rolling_stock.json
  python/osrd_schemas/osrd_schemas/rolling_stock.py
  python/osrd_schemas/pyproject.toml
  python/railjson_generator/railjson_generator/examples/rolling_stocks/fast_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/fast_rolling_stock_high_gamma.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/short_fast_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/short_slow_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/slow_rolling_stock.json
Owners: @osrd-project/core-maintainers, @osrd-project/editoast-maintainers

front: newAllowances: wip to squash
  front/public/locales/fr/operationalStudies/allowances.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AddLine.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/Allowances.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesList.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/EngineeringAddLine.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/StandardAddLine.tsx
  front/src/styles/scss/applications/operationalStudies/components/_Allowances.scss
Owners: @osrd-project/front-maintainers

editoast: detect spacing conflicts (#4339)
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/UndirectedInfraBuilder.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultTrain.java
  editoast/src/models/train_schedule.rs
  editoast/src/views/timetable.rs
  editoast/src/views/train_schedule/mod.rs
Owners: @osrd-project/core-maintainers, @osrd-project/editoast-maintainers

editoast: detect spacing conflicts (#4339)
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/UndirectedInfraBuilder.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultTrain.java
  editoast/src/models/train_schedule.rs
  editoast/src/views/timetable.rs
  editoast/src/views/train_schedule/mod.rs
Owners: @osrd-project/core-maintainers, @osrd-project/editoast-maintainers

front: disable edition/deletion of locked rolling stocks
  editoast/src/models/rolling_stock/light_rolling_stock.rs
  editoast/src/schema/rolling_stock/light_rolling_stock.rs
  editoast/src/views/rolling_stocks.rs
  front/src/applications/rollingStockEditor/components/RollingStockEditorButtons.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorCard.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorForm.tsx
  front/src/applications/rollingStockEditor/views/RollingStockEditor.tsx
  front/src/common/RollingStockSelector/RollingStock.scss
  front/src/common/RollingStockSelector/RollingStockCard.jsx
  front/src/common/RollingStockSelector/RollingStockHelpers.jsx
  front/src/common/RollingStockSelector/RollingStockModal.tsx
  front/src/common/RollingStockSelector/RollingStockSelector.tsx
  front/src/styles/scss/applications/rollingStockEditor/_rollingStockForm.scss
  front/tests/assets/operationStudies/test_variables.ts
  front/tests/operational-studies.spec.ts
  front/tests/rollingstock-modal-model.ts
  front/tests/stdcm-page-model.ts
  front/tests/stdcm-page.spec.ts
Owners: @osrd-project/editoast-maintainers, @osrd-project/front-maintainers

front: disable edition/deletion of locked rolling stocks
  editoast/src/models/rolling_stock/light_rolling_stock.rs
  editoast/src/schema/rolling_stock/light_rolling_stock.rs
  editoast/src/views/rolling_stocks.rs
  front/src/applications/rollingStockEditor/components/RollingStockEditorButtons.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorCard.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorForm.tsx
  front/src/applications/rollingStockEditor/views/RollingStockEditor.tsx
  front/src/common/RollingStockSelector/RollingStock.scss
  front/src/common/RollingStockSelector/RollingStockCard.jsx
  front/src/common/RollingStockSelector/RollingStockHelpers.jsx
  front/src/common/RollingStockSelector/RollingStockModal.tsx
  front/src/common/RollingStockSelector/RollingStockSelector.tsx
  front/src/styles/scss/applications/rollingStockEditor/_rollingStockForm.scss
  front/tests/assets/operationStudies/test_variables.ts
  front/tests/operational-studies.spec.ts
  front/tests/rollingstock-modal-model.ts
  front/tests/stdcm-page-model.ts
  front/tests/stdcm-page.spec.ts
Owners: @osrd-project/editoast-maintainers, @osrd-project/front-maintainers

editoast: fix the train_schedule route scope
  editoast/src/views/train_schedule/mod.rs
Owners: @osrd-project/editoast-maintainers

editoast: fix the train_schedule route scope
  editoast/src/views/train_schedule/mod.rs
Owners: @osrd-project/editoast-maintainers

editoast: fix the train_schedule route scope
  editoast/src/views/train_schedule/mod.rs
Owners: @osrd-project/editoast-maintainers

front: add tests for infra loader
  front/src/common/Pathfinding/Pathfinding.tsx
  front/src/common/Pathfinding/__tests__/Pathfinding.spec.ts
Owners: @osrd-project/front-maintainers

front: add tests for infra loader
  front/src/common/Pathfinding/Pathfinding.tsx
  front/src/common/Pathfinding/__tests__/Pathfinding.spec.ts
Owners: @osrd-project/front-maintainers

front: stcdm - fix scenario explorator hidding scenarios
  front/src/common/ScenarioExplorer/ScenarioExplorerModal.tsx
Owners: @osrd-project/front-maintainers

front: stcdm - fix scenario explorator hidding scenarios
  front/src/common/ScenarioExplorer/ScenarioExplorerModal.tsx
Owners: @osrd-project/front-maintainers

front: stcdm - fix scenario explorator hidding scenarios
  front/src/common/ScenarioExplorer/ScenarioExplorerModal.tsx
Owners: @osrd-project/front-maintainers

core: refactor electrification conditions
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPath.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/electrification/Electrification.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/electrification/Electrified.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/electrification/NonElectrified.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_utils/RangeMapUtils.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/AllowanceTests.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/EnvelopeMaintainSpeedTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPathTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/MaxEffortEnvelopeTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_utils/RangeMapUtilsTest.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPathBuilder.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/EnvelopeTrainPath.java
  core/src/main/java/fr/sncf/osrd/external_generated_inputs/ElectricalProfileMapping.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ElectrificationConditionsRange.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/EnvelopeSimContextBuilder.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
  core/src/test/java/fr/sncf/osrd/external_generated_inputs/ElectricalProfileMappingTest.java
  core/src/test/java/fr/sncf/osrd/train/TestRollingStock.java
Owners: @osrd-project/core-maintainers, @osrd-project/physics

core: refactor electrification conditions
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPath.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/electrification/Electrification.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/electrification/Electrified.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/electrification/NonElectrified.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_utils/RangeMapUtils.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/AllowanceTests.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/EnvelopeMaintainSpeedTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPathTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/MaxEffortEnvelopeTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_utils/RangeMapUtilsTest.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPathBuilder.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/EnvelopeTrainPath.java
  core/src/main/java/fr/sncf/osrd/external_generated_inputs/ElectricalProfileMapping.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ElectrificationConditionsRange.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/EnvelopeSimContextBuilder.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
  core/src/test/java/fr/sncf/osrd/external_generated_inputs/ElectricalProfileMappingTest.java
  core/src/test/java/fr/sncf/osrd/train/TestRollingStock.java
Owners: @osrd-project/core-maintainers, @osrd-project/physics

front: add project.json english translation
  front/public/locales/en/operationalStudies/project.json
Owners: @osrd-project/front-maintainers

WIP : Linear not showing after first refacto
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/common/charts/ChartManager.tsx
  front/src/common/charts/components/LinearChart/DataTypeDisplay/DrawBPCC.jsx
  front/src/common/charts/components/LinearChart/Linearchart.tsx
Owners: @osrd-project/front-maintainers

editoast: fix minor typo in track_section.rs
  editoast/src/schema/track_section.rs
Owners: @osrd-project/editoast-maintainers

editoast:osm-to-railjson generate routes
  editoast/src/converters/generate_routes.rs
Owners: @osrd-project/editoast-maintainers

editoast:osm-to-railjson reject very narrow lines (600mm)
  editoast/src/converters/osm_to_railjson.rs
Owners: @osrd-project/editoast-maintainers

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @osrd-project/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @osrd-project/editoast-maintainers
/editoast/openapi.yaml
/chartos                                                 @osrd-project/editoast-maintainers
/python                                                  @osrd-project/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @osrd-project/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @osrd-project/physics
*Integration*.java                                       @osrd-project/physics
