Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

front: repair detectors layer
  front/src/common/Map/Layers/Detectors.tsx
Owners: @DGEXSolutions/front-maintainers

front: adapt stdcmReq building to new API
  front/src/applications/stdcm/formatStcmConf.ts
  front/src/common/Pathfinding/Pathfinding.tsx
Owners: @DGEXSolutions/front-maintainers

front: typescripting: ChipsSNCF
  front/.eslintrc
  front/src/common/BootstrapSNCF/ChipsSNCF.jsx
  front/src/common/BootstrapSNCF/ChipsSNCF.tsx
Owners: @DGEXSolutions/front-maintainers

front: no-shadow: error
  front/.eslintrc
Owners: @DGEXSolutions/front-maintainers

front: no-shadow: error
  front/.eslintrc
Owners: @DGEXSolutions/front-maintainers

front: typescripting: ChipsSNCF
  front/.eslintrc
  front/src/common/BootstrapSNCF/ChipsSNCF.jsx
  front/src/common/BootstrapSNCF/ChipsSNCF.tsx
Owners: @DGEXSolutions/front-maintainers

front: no-shadow: error
  front/.eslintrc
Owners: @DGEXSolutions/front-maintainers

front: typescripting: ChipsSNCF
  front/.eslintrc
  front/src/common/BootstrapSNCF/ChipsSNCF.jsx
  front/src/common/BootstrapSNCF/ChipsSNCF.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: fix memory consumption retrieving railjson
  editoast/src/main.rs
  editoast/src/views/infra/railjson.rs
Owners: @DGEXSolutions/editoast-maintainers

core: bump gradle and fix to java 17 (lts)
  .github/workflows/core.yml
  core/Dockerfile
  core/gradle/wrapper/gradle-wrapper.jar
  core/gradle/wrapper/gradle-wrapper.properties
  core/gradlew
  core/gradlew.bat
Owners: @flomonster, @multun, @DGEXSolutions/core-maintainers

core: bump gradle and fix to java 17 (lts)
  .github/workflows/core.yml
  core/Dockerfile
  core/gradle/wrapper/gradle-wrapper.jar
  core/gradle/wrapper/gradle-wrapper.properties
  core/gradlew
  core/gradlew.bat
Owners: @flomonster, @multun, @DGEXSolutions/core-maintainers

core: bump gradle and fix to java 17 (lts)
  .github/workflows/core.yml
  core/Dockerfile
  core/gradle/wrapper/gradle-wrapper.jar
  core/gradle/wrapper/gradle-wrapper.properties
  core/gradlew
  core/gradlew.bat
Owners: @flomonster, @multun, @DGEXSolutions/core-maintainers

editoast: fix memory consumption retrieving railjson
  editoast/src/main.rs
  editoast/src/views/infra/railjson.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: fix memory consumption retrieving railjson
  editoast/src/main.rs
  editoast/src/views/infra/railjson.rs
Owners: @DGEXSolutions/editoast-maintainers

core: lower infra download memory usage
  core/src/main/java/fr/sncf/osrd/api/InfraManager.java
Owners: @DGEXSolutions/core-maintainers

front: Update to react18
  front/package.json
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/components/EntitySumUp.tsx
  front/src/applications/editor/components/InfraErrors/InfraErrorsList.tsx
  front/src/applications/editor/components/LinearMetadata/tooltip.tsx
  front/src/applications/editor/tools/selection/tool.tsx
  front/src/applications/referenceMap/Map.tsx
  front/src/index.tsx
  front/yarn.lock
Owners: @DGEXSolutions/front-maintainers

front: update DockerFile to use node-18
  front/Dockerfile
  front/Dockerfile.storybook
Owners: @DGEXSolutions/front-maintainers

api: update rolling_stock_image and rolling_stock_livery models to use document
  python/api/osrd_infra/migrations/0020_alter_rollingstocklivery_compound_image_and_more.py
  python/api/osrd_infra/migrations/__init__.py
  python/api/osrd_infra/models/rolling_stock.py
  python/api/osrd_infra/serializers.py
  python/api/osrd_infra/views/rolling_stock.py
Owners: @DGEXSolutions/editoast-maintainers

editoast: update rolling_stock_livery model to replace RS images by document
  editoast/openapi.yaml
  editoast/src/fixtures.rs
  editoast/src/models/documents.rs
  editoast/src/models/mod.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/models/rolling_stock/rolling_stock_image.rs
  editoast/src/models/rolling_stock/rolling_stock_livery.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/rolling_stock_image.rs
  editoast/src/views/rolling_stocks.rs
  python/api/osrd_infra/migrations/0023_alter_rollingstocklivery_compound_image_and_more.py
Owners: @DGEXSolutions/editoast-maintainers

ci: Update gh action to use node-18
  .github/workflows/front.yml
  .github/workflows/integration_tests.yml
Owners: @flomonster, @multun

add json parameters
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSEnergySource.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSEnergySources.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSEnergyStorage.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRefillLaw.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSSpeedDependantPower.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSRollingStockParser.java
Owners: @DGEXSolutions/core-maintainers

front: update @vitest/coverage-c8
  front/package.json
  front/yarn.lock
Owners: @DGEXSolutions/front-maintainers

front: naming Hoc func
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Destination.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Origin.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Vias.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/index.tsx
Owners: @DGEXSolutions/front-maintainers

[front] fix #1567
  front/src/applications/editor/components/LinearMetadata/dataviz.tsx
Owners: @DGEXSolutions/front-maintainers

[front] #1567 - avoid blink effect on tooltip
  front/src/applications/editor/components/LinearMetadata/dataviz.tsx
Owners: @DGEXSolutions/front-maintainers

editor: fine tunes overlay related to #1567
  front/src/applications/editor/components/LinearMetadata/dataviz.tsx
Owners: @DGEXSolutions/front-maintainers

[front] Fix #3751 - Adding style for DropdownSNCF
  front/src/common/BootstrapSNCF/DropdownSNCF.tsx
  front/src/styles/scss/_overrideBootstrapSNCF.scss
Owners: @DGEXSolutions/front-maintainers

[front] Fix #3751 - Adding style for DropdownSNCF
  front/src/common/BootstrapSNCF/DropdownSNCF.tsx
  front/src/styles/scss/_overrideBootstrapSNCF.scss
Owners: @DGEXSolutions/front-maintainers

[front] Remove commented code
  front/src/applications/editor/components/InfraErrors/InfraError.tsx
Owners: @DGEXSolutions/front-maintainers

[front] dropdown and arrow #3750
  front/src/common/BootstrapSNCF/DropdownSNCF.tsx
  front/src/styles/scss/_overrideBootstrapSNCF.scss
Owners: @DGEXSolutions/front-maintainers

[front] refacto modal #3493
  front/src/applications/editor/tools/routeEdition/components/EditRouteMetadata.tsx
  front/src/applications/editor/tools/selection/tool.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ConfirmModal.tsx
Owners: @DGEXSolutions/front-maintainers

editor: restores X button on disabled ConfirmModal
  front/src/common/BootstrapSNCF/ModalSNCF/ConfirmModal.tsx
Owners: @DGEXSolutions/front-maintainers

[front] Remove commented code
  front/src/applications/editor/components/InfraErrors/InfraError.tsx
Owners: @DGEXSolutions/front-maintainers

[front] Remove commented code
  front/src/applications/editor/components/InfraErrors/InfraError.tsx
Owners: @DGEXSolutions/front-maintainers

[front] dropdown and arrow #3750
  front/src/common/BootstrapSNCF/DropdownSNCF.tsx
  front/src/styles/scss/_overrideBootstrapSNCF.scss
Owners: @DGEXSolutions/front-maintainers

[front] dropdown and arrow #3750
  front/src/common/BootstrapSNCF/DropdownSNCF.tsx
  front/src/styles/scss/_overrideBootstrapSNCF.scss
Owners: @DGEXSolutions/front-maintainers

[front] #1567 - avoid blink effect on tooltip
  front/src/applications/editor/components/LinearMetadata/dataviz.tsx
Owners: @DGEXSolutions/front-maintainers

[front] #1567 - avoid blink effect on tooltip
  front/src/applications/editor/components/LinearMetadata/dataviz.tsx
Owners: @DGEXSolutions/front-maintainers

editor: fine tunes overlay related to #1567
  front/src/applications/editor/components/LinearMetadata/dataviz.tsx
Owners: @DGEXSolutions/front-maintainers

[front] fix #1567
  front/src/applications/editor/components/LinearMetadata/dataviz.tsx
Owners: @DGEXSolutions/front-maintainers

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics
