Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics

front: migrate modal to typescript
  front/src/common/BootstrapSNCF/ModalSNCF/ModalBodySNCF.jsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalBodySNCF.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalFooterSNCF.jsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalFooterSNCF.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalHeaderSNCF.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalProvider.jsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalProvider.tsx
Owners: @DGEXSolutions/front-maintainers

front: create useModal hook
  front/src/applications/customget/Home.jsx
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/components/InfraErrors/InfraErrorsModal.tsx
  front/src/applications/editor/components/InfraSelectionModal.tsx
  front/src/applications/editor/components/LayersModal.tsx
  front/src/applications/editor/components/LinearMetadata/FormComponent.tsx
  front/src/applications/editor/components/LinearMetadata/HelpModal.tsx
  front/src/applications/operationalStudies/components/Home/ProjectCardEmpty.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleTrainsList.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Vias.tsx
  front/src/applications/operationalStudies/components/Project/StudyCardEmpty.tsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/Allowances.jsx
  front/src/applications/operationalStudies/components/Study/ScenarioCardEmpty.tsx
  front/src/applications/operationalStudies/views/Project.jsx
  front/src/applications/operationalStudies/views/Scenario.jsx
  front/src/applications/operationalStudies/views/Study.jsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalProvider.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/index.ts
  front/src/common/BootstrapSNCF/ModalSNCF/useModal.tsx
  front/src/common/BootstrapSNCF/NavBarSNCF.jsx
  front/src/common/InfraSelector/InfraSelector.jsx
  front/src/common/Map/Buttons/ButtonMapInfras.jsx
  front/src/common/Pathfinding/Pathfinding.tsx
  front/src/common/RollingStockSelector/RollingStockSelector.jsx
  front/src/common/ScenarioExplorator/ScenarioExplorator.tsx
Owners: @DGEXSolutions/front-maintainers

front: using RTK for get infra on reference map
  front/src/applications/referenceMap/Home.jsx
  front/src/applications/referenceMap/Home.tsx
  front/src/common/api/emptyApi.ts
Owners: @DGEXSolutions/front-maintainers

front: test assertion with jest
  front/src/applications/editor/components/LinearMetadata/data.test.ts
Owners: @DGEXSolutions/front-maintainers

editor: using application modal system
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/Home.tsx
  front/src/applications/editor/components/ConfirmModal.tsx
  front/src/applications/editor/components/InfraErrors/InfraErrorsList.tsx
  front/src/applications/editor/components/InfraErrors/InfraErrorsModal.tsx
  front/src/applications/editor/components/InfraSelectionModal.tsx
  front/src/applications/editor/components/LayersModal.tsx
  front/src/applications/editor/components/LinearMetadata/FormComponent.tsx
  front/src/applications/editor/components/LinearMetadata/HelpModal.tsx
  front/src/applications/editor/components/Modal.tsx
  front/src/applications/editor/nav.tsx
  front/src/applications/editor/tools/routeEdition/components/EditRouteMetadata.tsx
  front/src/applications/editor/tools/selection/tool.tsx
  front/src/applications/editor/tools/types.ts
  front/src/common/BootstrapSNCF/ModalSNCF/ConfirmModal.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/Modal.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalBodySNCF.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalFooterSNCF.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalHeaderSNCF.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalProvider.tsx
  front/src/main/app.jsx
Owners: @DGEXSolutions/front-maintainers

front: add browser env to eslint
  front/.eslintrc
Owners: @DGEXSolutions/front-maintainers

front: migrate modal to typescript
  front/src/common/BootstrapSNCF/ModalSNCF/ModalBodySNCF.jsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalBodySNCF.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalFooterSNCF.jsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalFooterSNCF.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalHeaderSNCF.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalProvider.jsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalProvider.tsx
Owners: @DGEXSolutions/front-maintainers

editor: using application modal system
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/Home.tsx
  front/src/applications/editor/components/ConfirmModal.tsx
  front/src/applications/editor/components/InfraErrors/InfraErrorsList.tsx
  front/src/applications/editor/components/InfraErrors/InfraErrorsModal.tsx
  front/src/applications/editor/components/InfraSelectionModal.tsx
  front/src/applications/editor/components/LayersModal.tsx
  front/src/applications/editor/components/LinearMetadata/FormComponent.tsx
  front/src/applications/editor/components/LinearMetadata/HelpModal.tsx
  front/src/applications/editor/components/Modal.tsx
  front/src/applications/editor/nav.tsx
  front/src/applications/editor/tools/routeEdition/components/EditRouteMetadata.tsx
  front/src/applications/editor/tools/selection/tool.tsx
  front/src/applications/editor/tools/types.ts
  front/src/common/BootstrapSNCF/ModalSNCF/ConfirmModal.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/Modal.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalBodySNCF.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalFooterSNCF.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalHeaderSNCF.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalProvider.tsx
  front/src/main/app.jsx
Owners: @DGEXSolutions/front-maintainers

front: create useModal hook
  front/src/applications/customget/Home.jsx
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/components/InfraErrors/InfraErrorsModal.tsx
  front/src/applications/editor/components/InfraSelectionModal.tsx
  front/src/applications/editor/components/LayersModal.tsx
  front/src/applications/editor/components/LinearMetadata/FormComponent.tsx
  front/src/applications/editor/components/LinearMetadata/HelpModal.tsx
  front/src/applications/operationalStudies/components/Home/ProjectCardEmpty.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleTrainsList.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Vias.tsx
  front/src/applications/operationalStudies/components/Project/StudyCardEmpty.tsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/Allowances.jsx
  front/src/applications/operationalStudies/components/Study/ScenarioCardEmpty.tsx
  front/src/applications/operationalStudies/views/Project.jsx
  front/src/applications/operationalStudies/views/Scenario.jsx
  front/src/applications/operationalStudies/views/Study.jsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalProvider.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/index.ts
  front/src/common/BootstrapSNCF/ModalSNCF/useModal.tsx
  front/src/common/BootstrapSNCF/NavBarSNCF.jsx
  front/src/common/InfraSelector/InfraSelector.jsx
  front/src/common/Map/Buttons/ButtonMapInfras.jsx
  front/src/common/Pathfinding/Pathfinding.tsx
  front/src/common/RollingStockSelector/RollingStockSelector.jsx
  front/src/common/ScenarioExplorator/ScenarioExplorator.tsx
Owners: @DGEXSolutions/front-maintainers

front: using RTK for get infra on reference map
  front/src/applications/referenceMap/Home.jsx
  front/src/applications/referenceMap/Home.tsx
  front/src/common/api/emptyApi.ts
Owners: @DGEXSolutions/front-maintainers

front: test assertion with jest
  front/src/applications/editor/components/LinearMetadata/data.test.ts
Owners: @DGEXSolutions/front-maintainers

front: add browser env to eslint
  front/.eslintrc
Owners: @DGEXSolutions/front-maintainers

front: adapt for new projects endpoints
  front/src/applications/operationalStudies/Home.jsx
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/applications/operationalStudies/components/Project/PictureUploader.tsx
  front/src/applications/operationalStudies/components/Scenario/AddOrEditScenarioModal.tsx
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
  front/src/applications/operationalStudies/components/Study/StateStep.tsx
  front/src/applications/operationalStudies/components/operationalStudiesConsts.jsx
  front/src/applications/operationalStudies/components/operationalStudiesTypes.ts
  front/src/applications/operationalStudies/views/Project.jsx
  front/src/applications/operationalStudies/views/Scenario.jsx
  front/src/applications/operationalStudies/views/Study.jsx
  front/src/common/DisplayMissingInfo/withOSRDStdcmMissingInfo.tsx
  front/src/common/Map/Selected.jsx
  front/src/common/ScenarioExplorator/ScenarioExplorator.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorModal.tsx
  front/src/common/consts.ts
  front/src/reducers/osrdsimulation/index.ts
  front/src/stories/SpeedSpaceChart.stories.tsx
Owners: @DGEXSolutions/front-maintainers

front: use no break spaces constants
  front/src/utils/__tests__/numbers.spec.ts
  front/src/utils/strings.ts
Owners: @DGEXSolutions/front-maintainers

front: use no break spaces constants
  front/src/utils/__tests__/numbers.spec.ts
  front/src/utils/strings.ts
Owners: @DGEXSolutions/front-maintainers

front: abide by the spread operator rule
  front/src/applications/editor/components/LinearMetadata/data.ts
Owners: @DGEXSolutions/front-maintainers

update MaxEffortProfile to make simulation causal
  core/src/main/java/fr/sncf/osrd/envelope/part/MaintainEnvelopePartBuilder.java
  core/src/main/java/fr/sncf/osrd/envelope/part/constraints/SpeedConstraint.java
  core/src/main/java/fr/sncf/osrd/envelope_sim/pipelines/MaxEffortEnvelope.java
Owners: @DGEXSolutions/core-maintainers

front: tests: fix RTK config and add integration test
  front/src/config/openapi-middleware-config.ts
  tests/tests/test_rtk_sync.py
Owners: @DGEXSolutions/front-maintainers, @eckter

front: fix rtk generated files
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
Owners: @DGEXSolutions/front-maintainers

front: replace empty arrow function by lodah noop to avoid linter warning
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/Allowances.jsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/MarecoMultiRange.jsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/withOSRDStdcmParams.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/SpaceTimeChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceSettings/SpeedSpaceSettings.jsx
  front/src/applications/operationalStudies/components/SimulationResults/TimeLine/TimeLine.jsx
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/common/BootstrapSNCF/ListGroupSNCF/ListGroupItem.jsx
  front/src/common/BootstrapSNCF/MastNavItemSNCF.jsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalProvider.tsx
  front/src/common/BootstrapSNCF/SearchSNCF.jsx
  front/src/reducers/osrdsimulation/index.ts
  front/src/reducers/osrdsimulation/simulation.js
  front/src/stories/SpeedSpaceChart.stories.tsx
Owners: @DGEXSolutions/front-maintainers

front: fix prefer-object-spread warnings (#3461)
  front/src/applications/editor/components/LinearMetadata/data.ts
Owners: @DGEXSolutions/front-maintainers

front: fix prefer-object-spread warnings (#3461)
  front/src/applications/editor/components/LinearMetadata/data.ts
Owners: @DGEXSolutions/front-maintainers

Yoh/fix switch train indicator in get (#3428)
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/enableInteractivity.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/SpaceTimeChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/drawTrain.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/withOSRDData.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/sampleData.jsx
  front/src/applications/stdcm/formatStcmConf.ts
  front/src/common/Map/Selected.jsx
  front/src/reducers/osrdsimulation/index.ts
  front/src/utils/timeManipulation.ts
Owners: @DGEXSolutions/front-maintainers

Yoh/fix switch train indicator in get (#3428)
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/enableInteractivity.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/SpaceTimeChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/drawTrain.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/withOSRDData.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/sampleData.jsx
  front/src/applications/stdcm/formatStcmConf.ts
  front/src/common/Map/Selected.jsx
  front/src/reducers/osrdsimulation/index.ts
  front/src/utils/timeManipulation.ts
Owners: @DGEXSolutions/front-maintainers

front: tests: fix RTK config and add integration test (#3462)
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
  front/src/config/openapi-middleware-config.ts
  tests/tests/test_rtk_sync.py
Owners: @DGEXSolutions/front-maintainers, @eckter

front: tests: fix RTK config and add integration test (#3462)
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
  front/src/config/openapi-middleware-config.ts
  tests/tests/test_rtk_sync.py
Owners: @DGEXSolutions/front-maintainers, @eckter

editoast : bump dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/views/layers/mvt_utils.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast : bump dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/views/layers/mvt_utils.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast : bump dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/views/layers/mvt_utils.rs
Owners: @DGEXSolutions/editoast-maintainers

front: replace empty arrow function by lodah noop to avoid linter warning
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/Allowances.jsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/MarecoMultiRange.jsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/withOSRDStdcmParams.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/SpaceTimeChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceSettings/SpeedSpaceSettings.jsx
  front/src/applications/operationalStudies/components/SimulationResults/TimeLine/TimeLine.jsx
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/common/BootstrapSNCF/ListGroupSNCF/ListGroupItem.jsx
  front/src/common/BootstrapSNCF/MastNavItemSNCF.jsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalProvider.tsx
  front/src/common/BootstrapSNCF/SearchSNCF.jsx
  front/src/reducers/osrdsimulation/index.ts
  front/src/reducers/osrdsimulation/simulation.js
  front/src/stories/SpeedSpaceChart.stories.tsx
Owners: @DGEXSolutions/front-maintainers

front: replace empty arrow function by lodah noop to avoid linter warning
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/Allowances.jsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/MarecoMultiRange.jsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/withOSRDStdcmParams.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/SpaceTimeChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceSettings/SpeedSpaceSettings.jsx
  front/src/applications/operationalStudies/components/SimulationResults/TimeLine/TimeLine.jsx
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/common/BootstrapSNCF/ListGroupSNCF/ListGroupItem.jsx
  front/src/common/BootstrapSNCF/MastNavItemSNCF.jsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalProvider.tsx
  front/src/common/BootstrapSNCF/SearchSNCF.jsx
  front/src/reducers/osrdsimulation/index.ts
  front/src/reducers/osrdsimulation/simulation.js
  front/src/stories/SpeedSpaceChart.stories.tsx
Owners: @DGEXSolutions/front-maintainers

Front: fix missing allowances (simulation)
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/Allowances.jsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/StandardAllowanceDefault.jsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/withOSRDData.tsx
Owners: @DGEXSolutions/front-maintainers

front: merges TetherDropdown into DropdownSNCF
  front/src/applications/editor/components/InfraErrors/InfraError.tsx
  front/src/common/BootstrapSNCF/DropdownSNCF.jsx
  front/src/common/BootstrapSNCF/DropdownSNCF.tsx
Owners: @DGEXSolutions/front-maintainers

front: merges TetherDropdown into DropdownSNCF
  front/src/applications/editor/components/InfraErrors/InfraError.tsx
  front/src/common/BootstrapSNCF/DropdownSNCF.jsx
  front/src/common/BootstrapSNCF/DropdownSNCF.tsx
Owners: @DGEXSolutions/front-maintainers

front: merges TetherDropdown into DropdownSNCF
  front/src/applications/editor/components/InfraErrors/InfraError.tsx
  front/src/common/BootstrapSNCF/DropdownSNCF.jsx
  front/src/common/BootstrapSNCF/DropdownSNCF.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: properly clip tile geometry
  editoast/src/views/layers/mod.rs
  editoast/src/views/layers/mvt_utils.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: properly clip tile geometry
  editoast/src/views/layers/mod.rs
  editoast/src/views/layers/mvt_utils.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: properly clip tile geometry
  editoast/src/views/layers/mod.rs
  editoast/src/views/layers/mvt_utils.rs
Owners: @DGEXSolutions/editoast-maintainers

tests: Improve fixtures typing #TidyFridy
  tests/conftest.py
  tests/tests/scenario.py
  tests/tests/test_pathfinding.py
  tests/tests/test_rtk_sync.py
  tests/tests/test_simulation.py
  tests/tests/test_stdcm.py
  tests/tests/test_timetable.py
  tests/tests/test_train_schedule.py
Owners: @eckter

tests: Improve fixtures typing #TidyFridy (#3478)
  tests/conftest.py
  tests/tests/scenario.py
  tests/tests/test_pathfinding.py
  tests/tests/test_rtk_sync.py
  tests/tests/test_simulation.py
  tests/tests/test_stdcm.py
  tests/tests/test_timetable.py
  tests/tests/test_train_schedule.py
Owners: @eckter
