Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @osrd-project/front-maintainers, @osrd-project/editoast-maintainers, @eckter, @osrd-project/core-maintainers, @osrd-project/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @osrd-project/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @osrd-project/editoast-maintainers
/editoast/openapi.yaml
/chartos                                                 @osrd-project/editoast-maintainers
/python                                                  @osrd-project/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @osrd-project/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @osrd-project/physics
*Integration*.java                                       @osrd-project/physics

editoast:osm-to-railjson generate routes
  editoast/src/converters/generate_routes.rs
  editoast/src/converters/mod.rs
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
  editoast/src/tests/routes.osm.pbf
Owners: @osrd-project/editoast-maintainers

editoast: osm-to-railjson: add buffer_stops when two tracks end together without a switch
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
Owners: @osrd-project/editoast-maintainers

editoast:osm-to-railjson reject yard/service tracks
  editoast/src/converters/osm_to_railjson.rs
Owners: @osrd-project/editoast-maintainers

editoast:osm-to-railjson for detectors use the direction of the signal (not default)
  editoast/src/converters/generate_routes.rs
  editoast/src/converters/utils.rs
Owners: @osrd-project/editoast-maintainers

editoast:osm-to-railjson for detectors use the direction of the signal (not default)
  editoast/src/converters/generate_routes.rs
Owners: @osrd-project/editoast-maintainers

editoast: osm-to-railjson: be more restrictive about what we accept
  editoast/src/converters/osm_to_railjson.rs
Owners: @osrd-project/editoast-maintainers

editoast: fix minor typo in track_section.rs
  editoast/src/schema/track_section.rs
Owners: @osrd-project/editoast-maintainers

editoast: fix minor typo in track_section.rs
  editoast/src/schema/track_section.rs
Owners: @osrd-project/editoast-maintainers

editoast:osm-to-railjson for detectors use the direction of the signal (not default)
  editoast/src/converters/generate_routes.rs
  editoast/src/converters/utils.rs
Owners: @osrd-project/editoast-maintainers

editoast:osm-to-railjson for detectors use the direction of the signal (not default)
  editoast/src/converters/generate_routes.rs
Owners: @osrd-project/editoast-maintainers

editoast:osm-to-railjson reject yard/service tracks
  editoast/src/converters/osm_to_railjson.rs
Owners: @osrd-project/editoast-maintainers

editoast: osm-to-railjson: be more restrictive about what we accept
  editoast/src/converters/osm_to_railjson.rs
Owners: @osrd-project/editoast-maintainers

editoast:osm-to-railjson generate routes
  editoast/src/converters/generate_routes.rs
  editoast/src/converters/mod.rs
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
  editoast/src/tests/routes.osm.pbf
Owners: @osrd-project/editoast-maintainers

editoast:osm-to-railjson reject yard/service tracks
  editoast/src/converters/osm_to_railjson.rs
Owners: @osrd-project/editoast-maintainers

editoast: osm-to-railjson: add buffer_stops when two tracks end together without a switch
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
Owners: @osrd-project/editoast-maintainers

editoast:osm-to-railjson generate routes
  editoast/src/converters/generate_routes.rs
Owners: @osrd-project/editoast-maintainers

editoast: osm-to-railjson: be more restrictive about what we accept
  editoast/src/converters/osm_to_railjson.rs
Owners: @osrd-project/editoast-maintainers

editoast: osm-to-railjson: add buffer_stops when two tracks end together without a switch
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
Owners: @osrd-project/editoast-maintainers

editoast:osm-to-railjson generate routes
  editoast/src/converters/generate_routes.rs
Owners: @osrd-project/editoast-maintainers

editoast:osm-to-railjson generate routes
  editoast/src/converters/generate_routes.rs
  editoast/src/converters/mod.rs
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
  editoast/src/tests/routes.osm.pbf
Owners: @osrd-project/editoast-maintainers

editoast:osm-to-railjson reject very narrow lines (600mm)
  editoast/src/converters/osm_to_railjson.rs
Owners: @osrd-project/editoast-maintainers

editoast:osm-to-railjson for detectors use the direction of the signal (not default)
  editoast/src/converters/generate_routes.rs
Owners: @osrd-project/editoast-maintainers

editoast:osm-to-railjson for detectors use the direction of the signal (not default)
  editoast/src/converters/generate_routes.rs
  editoast/src/converters/utils.rs
Owners: @osrd-project/editoast-maintainers

editoast:osm-to-railjson reject very narrow lines (600mm)
  editoast/src/converters/osm_to_railjson.rs
Owners: @osrd-project/editoast-maintainers

editoast: osm-to-railjson: read max speed
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
  editoast/src/tests/minimal_rail.osm.pbf
Owners: @osrd-project/editoast-maintainers

editoast: osm-to-railjson: read max speed
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
  editoast/src/tests/minimal_rail.osm.pbf
Owners: @osrd-project/editoast-maintainers

editoast: osm-to-railjson: read max speed
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
  editoast/src/tests/minimal_rail.osm.pbf
Owners: @osrd-project/editoast-maintainers

front: migrate speedSpaceSettings to ts
  front/package.json
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceSettings/SpeedSpaceSettings.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceSettings/SpeedSpaceSettings.tsx
  front/src/reducers/osrdsimulation/index.ts
  front/src/reducers/osrdsimulation/types.ts
  front/vite.config.ts
Owners: @osrd-project/front-maintainers

front: migrate speedSpaceSettings to ts
  front/package.json
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceSettings/SpeedSpaceSettings.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceSettings/SpeedSpaceSettings.tsx
  front/src/reducers/osrdsimulation/index.ts
  front/src/reducers/osrdsimulation/types.ts
  front/vite.config.ts
Owners: @osrd-project/front-maintainers

editoast: osm-to-railjson: read catenaries
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
  editoast/src/tests/minimal_rail.osm.pbf
Owners: @osrd-project/editoast-maintainers

editoast: allow comparing NonBlankStrings with &str
  editoast/src/schema/utils/non_blank_string.rs
Owners: @osrd-project/editoast-maintainers

front: fix project translation json file
  front/public/locales/fr/operationalStudies/project.json
Owners: @osrd-project/front-maintainers

front: fix project translation json file
  front/public/locales/fr/operationalStudies/project.json
Owners: @osrd-project/front-maintainers

front: fix project translation json file
  front/public/locales/fr/operationalStudies/project.json
Owners: @osrd-project/front-maintainers

front: editor: change objects position in track-edition tool
  front/src/applications/editor/tools/trackEdition/components.tsx
Owners: @osrd-project/front-maintainers

front: editor: change objects position in track-edition tool
  front/src/applications/editor/tools/trackEdition/components.tsx
Owners: @osrd-project/front-maintainers

front: editor: change objects position in track-edition tool
  front/src/applications/editor/tools/trackEdition/components.tsx
Owners: @osrd-project/front-maintainers

editoast: add TrainSchedule id
  editoast/openapi.yaml
Owners: none

front: generate types
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
Owners: none

front: drop API routes wip
  editoast/openapi.yaml
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainSchedule.tsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/openapi.yaml
Owners: @osrd-project/front-maintainers, @osrd-project/editoast-maintainers
