Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

core: stdcm: fix possible track discontinuity
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMPostProcessing.java
  tests/tests/regression_tests_data/stdcm_track_discontinuity.json
Owners: @DGEXSolutions/core-maintainers, @eckter

core: stdcm: fix zero time delta in stop too close from start
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMSimulations.java
  tests/tests/regression_tests_data/stdcm_zero_time_delta.json
Owners: @DGEXSolutions/core-maintainers, @eckter

core: stdcm: fix delay computation in edge case
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMEdgeBuilder.java
Owners: @DGEXSolutions/core-maintainers

stdcm: update endpoints and apis to allow several waypoints
  core/openapi.yaml
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMRequest.java
  core/src/test/java/fr/sncf/osrd/api/STDCMEndpointTest.java
  python/api/openapi.yaml
  python/api/osrd_infra/serializers.py
  python/api/osrd_infra/views/stdcm.py
  tests/fuzzer/fuzzer.py
  tests/tests/test_stdcm.py
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers, @eckter

front: ne embedded steps
  front/src/applications/stdcm/formatStcmConf.ts
Owners: @DGEXSolutions/front-maintainers

front: rollingStock as string in stdcm
  front/src/applications/stdcm/formatStcmConf.ts
Owners: @DGEXSolutions/front-maintainers

front: update generated types
  front/src/common/api/osrdMiddlewareApi.ts
Owners: none

tests: fuzzer: update fuzzer for stdcm steps
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMStandardAllowance.java
  core/src/main/java/fr/sncf/osrd/stdcm/preprocessing/implementation/RouteAvailabilityLegacyAdapter.java
  core/src/main/java/fr/sncf/osrd/stdcm/preprocessing/interfaces/RouteAvailabilityInterface.java
  tests/fuzzer/fuzzer.py
Owners: @DGEXSolutions/core-maintainers, @eckter

core: stdcm: fix occasional envelope discontinuity
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMEdge.java
  tests/tests/regression_tests_data/stdcm_envelope_discontinuity.json
Owners: @DGEXSolutions/core-maintainers, @eckter

core: stdcm: adapt interface to allow more than two steps
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMRequest.java
  core/src/main/java/fr/sncf/osrd/stdcm/STDCMStep.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMGraph.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMUtils.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMPathfindingBuilder.java
Owners: @DGEXSolutions/core-maintainers

core: stdcm: apply review comments
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMPostProcessing.java
  core/src/main/java/fr/sncf/osrd/utils/graph/Pathfinding.java
  core/src/main/java/fr/sncf/osrd/utils/graph/functional_interfaces/TotalCostUntilEdgeLocation.java
Owners: @DGEXSolutions/core-maintainers

core: fix rebase
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/test/java/fr/sncf/osrd/stdcm/StopTests.java
Owners: @DGEXSolutions/core-maintainers

modif home.json -> 'Editeur (en construction)'
  front/public/locales/fr/home/home.json
Owners: @DGEXSolutions/front-maintainers

front: version control and purge system
  front/src/Store.ts
  front/src/main/app.jsx
  front/src/reducers/index.ts
  front/src/reducers/main.ts
Owners: @DGEXSolutions/front-maintainers

front: remove dead code
  front/src/Store.ts
Owners: @DGEXSolutions/front-maintainers

Update front/public/locales/fr/stdcm.json
  front/public/locales/fr/stdcm.json
Owners: @DGEXSolutions/front-maintainers

Update front/src/styles/scss/applications/_stdcm.scss
  front/src/styles/scss/applications/_stdcm.scss
Owners: @DGEXSolutions/front-maintainers

front:ensure right section is not there if stdcm fail
  front/public/locales/fr/stdcm.json
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/styles/scss/applications/_stdcm.scss
Owners: @DGEXSolutions/front-maintainers

front: rollingStock as string in stdcm
  front/src/applications/stdcm/formatStcmConf.ts
Owners: @DGEXSolutions/front-maintainers

core: fix rebase
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/test/java/fr/sncf/osrd/stdcm/StopTests.java
Owners: @DGEXSolutions/core-maintainers

core: stdcm: fix delay computation in edge case
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMEdgeBuilder.java
Owners: @DGEXSolutions/core-maintainers

core: fix rebase
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/test/java/fr/sncf/osrd/stdcm/StopTests.java
Owners: @DGEXSolutions/core-maintainers

front: rollingStock as string in stdcm
  front/src/applications/stdcm/formatStcmConf.ts
Owners: @DGEXSolutions/front-maintainers

front: update generated types
  front/src/common/api/osrdMiddlewareApi.ts
Owners: none

core: stdcm: handle intermediate stops (with static stop duration)
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/stdcm/STDCMResult.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/AllowanceManager.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/BacktrackingManager.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/DelayManager.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMEdge.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMEdgeBuilder.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMGraph.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMNode.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMPostProcessing.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMSimulations.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMStandardAllowance.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMUtils.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMHelpers.java
  core/src/test/java/fr/sncf/osrd/stdcm/StandardAllowanceTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/StopTests.java
  python/api/osrd_infra/views/stdcm.py
  tests/tests/test_stdcm.py
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers, @eckter

stdcm: update endpoints and apis to allow several waypoints
  core/openapi.yaml
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMRequest.java
  core/src/test/java/fr/sncf/osrd/api/STDCMEndpointTest.java
  python/api/openapi.yaml
  python/api/osrd_infra/serializers.py
  python/api/osrd_infra/views/stdcm.py
  tests/fuzzer/fuzzer.py
  tests/tests/test_stdcm.py
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers, @eckter

core: stdcm: fix possible track discontinuity
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMPostProcessing.java
  tests/tests/regression_tests_data/stdcm_track_discontinuity.json
Owners: @DGEXSolutions/core-maintainers, @eckter

core: stdcm: fix occasional envelope discontinuity
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMEdge.java
  tests/tests/regression_tests_data/stdcm_envelope_discontinuity.json
Owners: @DGEXSolutions/core-maintainers, @eckter

core: stdcm: adapt interface to allow more than two steps
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMRequest.java
  core/src/main/java/fr/sncf/osrd/stdcm/STDCMStep.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMGraph.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMUtils.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMPathfindingBuilder.java
Owners: @DGEXSolutions/core-maintainers

front: ne embedded steps
  front/src/applications/stdcm/formatStcmConf.ts
Owners: @DGEXSolutions/front-maintainers

stdcm: update endpoints and apis to allow several waypoints
  core/openapi.yaml
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMRequest.java
  core/src/test/java/fr/sncf/osrd/api/STDCMEndpointTest.java
  python/api/openapi.yaml
  python/api/osrd_infra/serializers.py
  python/api/osrd_infra/views/stdcm.py
  tests/fuzzer/fuzzer.py
  tests/tests/test_stdcm.py
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers, @eckter

tests: fuzzer: update fuzzer for stdcm steps
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMStandardAllowance.java
  core/src/main/java/fr/sncf/osrd/stdcm/preprocessing/implementation/RouteAvailabilityLegacyAdapter.java
  core/src/main/java/fr/sncf/osrd/stdcm/preprocessing/interfaces/RouteAvailabilityInterface.java
  tests/fuzzer/fuzzer.py
Owners: @DGEXSolutions/core-maintainers, @eckter

core: stdcm: fix occasional envelope discontinuity
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMEdge.java
  tests/tests/regression_tests_data/stdcm_envelope_discontinuity.json
Owners: @DGEXSolutions/core-maintainers, @eckter

core: stdcm: adapt interface to allow more than two steps
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMRequest.java
  core/src/main/java/fr/sncf/osrd/stdcm/STDCMStep.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMGraph.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMUtils.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMPathfindingBuilder.java
Owners: @DGEXSolutions/core-maintainers

core: stdcm: fix zero time delta in stop too close from start
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMSimulations.java
  tests/tests/regression_tests_data/stdcm_zero_time_delta.json
Owners: @DGEXSolutions/core-maintainers, @eckter

front: adapt stdcmReq building to new API
  front/src/applications/stdcm/formatStcmConf.ts
  front/src/common/Pathfinding/Pathfinding.tsx
Owners: @DGEXSolutions/front-maintainers

core: stdcm: apply review comments
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMPostProcessing.java
  core/src/main/java/fr/sncf/osrd/utils/graph/Pathfinding.java
  core/src/main/java/fr/sncf/osrd/utils/graph/functional_interfaces/TotalCostUntilEdgeLocation.java
Owners: @DGEXSolutions/core-maintainers

core: stdcm: handle intermediate stops (with static stop duration)
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/stdcm/STDCMResult.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/AllowanceManager.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/BacktrackingManager.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/DelayManager.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMEdge.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMEdgeBuilder.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMGraph.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMNode.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMPostProcessing.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMSimulations.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMStandardAllowance.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMUtils.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMHelpers.java
  core/src/test/java/fr/sncf/osrd/stdcm/StandardAllowanceTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/StopTests.java
  python/api/osrd_infra/views/stdcm.py
  tests/tests/test_stdcm.py
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers, @eckter

core: stdcm: fix possible track discontinuity
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMPostProcessing.java
  tests/tests/regression_tests_data/stdcm_track_discontinuity.json
Owners: @DGEXSolutions/core-maintainers, @eckter

front: ne embedded steps
  front/src/applications/stdcm/formatStcmConf.ts
Owners: @DGEXSolutions/front-maintainers

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics
