Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

api: Fix build-push-template
  .github/workflows/docker-build-push.yml
Owners: @flomonster, @multun

api: Fix build-push-template
  .github/workflows/docker-build-push.yml
Owners: @flomonster, @multun

api: Fix build-push-template
  .github/workflows/docker-build-push.yml
Owners: @flomonster, @multun

front: SpaceTimeChart: add chart to useffect dependency array calling traceVerticalLine
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/SpaceTimeChart.jsx
Owners: @DGEXSolutions/front-maintainers

front: SpaceTimeChart: add chart to useffect dependency array calling traceVerticalLine
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/SpaceTimeChart.jsx
Owners: @DGEXSolutions/front-maintainers

front: remove useless requests in Scenario page
  front/src/applications/operationalStudies/views/Scenario.jsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
Owners: @DGEXSolutions/front-maintainers

front: fix typo on the editor
  front/public/locales/fr/translation.json
Owners: @DGEXSolutions/front-maintainers

api: Split `TrainSchedule` input and output
  python/api/osrd_infra/admin.py
  python/api/osrd_infra/migrations/0012_simulationoutput_trainschedule_and_more.py
  python/api/osrd_infra/models/__init__.py
  python/api/osrd_infra/models/simulation_output.py
  python/api/osrd_infra/models/train_schedule.py
  python/api/osrd_infra/serializers.py
  python/api/osrd_infra/tests/test_stdcm.py
  python/api/osrd_infra/views/stdcm.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
  python/api/osrd_infra/views/train_schedule/train_schedule.py
  tests/tests/stdcm/empty_timetable.py
Owners: @DGEXSolutions/editoast-maintainers, @eckter

front: fix typo on the editor
  front/public/locales/fr/translation.json
Owners: @DGEXSolutions/front-maintainers

front: fix typo on the editor
  front/public/locales/fr/translation.json
Owners: @DGEXSolutions/front-maintainers

front: pathFinding: add label for path points & cosmetics improvements
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderItineraryMarkers.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderPopup.tsx
  front/src/assets/pictures/destination.svg
  front/src/assets/pictures/destination_old.svg
  front/src/styles/main.css
  front/src/styles/scss/applications/operationalStudies/_managetrainschedule.scss
  front/src/styles/scss/common/map/_popup.scss
Owners: @DGEXSolutions/front-maintainers

front: correct bug on popup & add track & line details
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderPopup.tsx
  front/src/styles/scss/common/map/_popup.scss
Owners: @DGEXSolutions/front-maintainers

front: change & refacto map popup
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/PopupInfosCustomContent.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/PopupInfosCustomTitle.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderPopup.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderPopup.tsx
  front/src/common/Map/Popup/Popup.css
  front/src/common/Map/Popup/PopupInfos.jsx
  front/src/styles/scss/common/_common.scss
  front/src/styles/scss/common/map/_popup.scss
  front/src/styles/styles.scss
Owners: @DGEXSolutions/front-maintainers

front: add eof for scss and justify Mathieu's work
  front/src/styles/scss/common/map/_popup.scss
Owners: @DGEXSolutions/front-maintainers

front: change & refacto map popup
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/PopupInfosCustomContent.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/PopupInfosCustomTitle.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderPopup.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderPopup.tsx
  front/src/common/Map/Popup/Popup.css
  front/src/common/Map/Popup/PopupInfos.jsx
  front/src/styles/scss/common/_common.scss
  front/src/styles/scss/common/map/_popup.scss
  front/src/styles/styles.scss
Owners: @DGEXSolutions/front-maintainers

front: add eof for scss and justify Mathieu's work
  front/src/styles/scss/common/map/_popup.scss
Owners: @DGEXSolutions/front-maintainers

front: pathFinding: add label for path points & cosmetics improvements
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderItineraryMarkers.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderPopup.tsx
  front/src/assets/pictures/destination.svg
  front/src/assets/pictures/destination_old.svg
  front/src/styles/main.css
  front/src/styles/scss/applications/operationalStudies/_managetrainschedule.scss
  front/src/styles/scss/common/map/_popup.scss
Owners: @DGEXSolutions/front-maintainers

front: pathFinding: add label for path points & cosmetics improvements
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderItineraryMarkers.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderPopup.tsx
  front/src/assets/pictures/destination.svg
  front/src/assets/pictures/destination_old.svg
  front/src/styles/main.css
  front/src/styles/scss/applications/operationalStudies/_managetrainschedule.scss
  front/src/styles/scss/common/map/_popup.scss
Owners: @DGEXSolutions/front-maintainers

front: correct bug on popup & add track & line details
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderPopup.tsx
  front/src/styles/scss/common/map/_popup.scss
Owners: @DGEXSolutions/front-maintainers

front: add eof for scss and justify Mathieu's work
  front/src/styles/scss/common/map/_popup.scss
Owners: @DGEXSolutions/front-maintainers

front: change & refacto map popup
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/PopupInfosCustomContent.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/PopupInfosCustomTitle.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderPopup.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderPopup.tsx
  front/src/common/Map/Popup/Popup.css
  front/src/common/Map/Popup/PopupInfos.jsx
  front/src/styles/scss/common/_common.scss
  front/src/styles/scss/common/map/_popup.scss
  front/src/styles/styles.scss
Owners: @DGEXSolutions/front-maintainers

front: correct bug on popup & add track & line details
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderPopup.tsx
  front/src/styles/scss/common/map/_popup.scss
Owners: @DGEXSolutions/front-maintainers

front: remove useless requests in Scenario page
  front/src/applications/operationalStudies/views/Scenario.jsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
Owners: @DGEXSolutions/front-maintainers

front: remove useless requests in Scenario page
  front/src/applications/operationalStudies/views/Scenario.jsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
Owners: @DGEXSolutions/front-maintainers

front: add deep vias check
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/Itinerary.tsx
  front/src/common/Pathfinding/Pathfinding.tsx
Owners: @DGEXSolutions/front-maintainers

front: fix-bug: set default standard allowance type to percentage instead of time (#3331)
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/allowancesConsts.jsx
  front/src/applications/stdcm/formatStcmConf.ts
Owners: @DGEXSolutions/front-maintainers

front: fix-bug: set default standard allowance type to percentage instead of time (#3331)
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/allowancesConsts.jsx
  front/src/applications/stdcm/formatStcmConf.ts
Owners: @DGEXSolutions/front-maintainers

api: Split `TrainSchedule` input and output
  python/api/osrd_infra/admin.py
  python/api/osrd_infra/migrations/0012_simulationoutput_trainschedule_and_more.py
  python/api/osrd_infra/models/__init__.py
  python/api/osrd_infra/models/simulation_output.py
  python/api/osrd_infra/models/train_schedule.py
  python/api/osrd_infra/serializers.py
  python/api/osrd_infra/tests/test_stdcm.py
  python/api/osrd_infra/views/stdcm.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
  python/api/osrd_infra/views/train_schedule/train_schedule.py
  tests/tests/stdcm/empty_timetable.py
Owners: @DGEXSolutions/editoast-maintainers, @eckter

api: Split `TrainSchedule` input and output
  python/api/osrd_infra/admin.py
  python/api/osrd_infra/migrations/0012_simulationoutput_trainschedule_and_more.py
  python/api/osrd_infra/models/__init__.py
  python/api/osrd_infra/models/simulation_output.py
  python/api/osrd_infra/models/train_schedule.py
  python/api/osrd_infra/serializers.py
  python/api/osrd_infra/tests/test_stdcm.py
  python/api/osrd_infra/views/stdcm.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
  python/api/osrd_infra/views/train_schedule/train_schedule.py
  tests/tests/stdcm/empty_timetable.py
Owners: @DGEXSolutions/editoast-maintainers, @eckter

editoast:search: add function =i
  editoast/src/views/search/process.rs
Owners: @DGEXSolutions/editoast-maintainers

core: railjson: add power restrictions to rolling stocks
  core/examples/rolling_stocks/fast_rolling_stock.json
  core/examples/rolling_stocks/fast_rolling_stock_high_gamma.json
  core/examples/rolling_stocks/short_fast_rolling_stock.json
  core/examples/rolling_stocks/short_slow_rolling_stock.json
  core/examples/rolling_stocks/slow_rolling_stock.json
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSEffortCurves.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
  core/src/main/java/fr/sncf/osrd/api/StandaloneSimulationEndpoint.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSRollingStockParser.java
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  core/src/test/java/fr/sncf/osrd/railjson/parser/TestRJSRollingStockParser.java
Owners: @DGEXSolutions/core-maintainers

api: add rolling stock power restrictions
  python/api/openapi.yaml
  python/api/osrd_infra/migrations/0013_power_restrictions.py
  python/api/osrd_infra/migrations/__init__.py
  python/api/osrd_infra/models/rolling_stock.py
  python/api/osrd_infra/models/train_schedule.py
  python/api/static/example_rolling_stock.json
  python/osrd_schemas/osrd_schemas/rolling_stock.py
  python/osrd_schemas/osrd_schemas/train_schedule.py
Owners: @DGEXSolutions/editoast-maintainers

api: add rolling stock power restrictions
  python/api/openapi.yaml
  python/api/osrd_infra/migrations/0013_power_restrictions.py
  python/api/osrd_infra/migrations/__init__.py
  python/api/osrd_infra/models/rolling_stock.py
  python/api/osrd_infra/models/train_schedule.py
  python/api/static/example_rolling_stock.json
  python/osrd_schemas/osrd_schemas/rolling_stock.py
  python/osrd_schemas/osrd_schemas/train_schedule.py
Owners: @DGEXSolutions/editoast-maintainers

api: add rolling stock power restrictions
  python/api/openapi.yaml
  python/api/osrd_infra/migrations/0013_power_restrictions.py
  python/api/osrd_infra/migrations/__init__.py
  python/api/osrd_infra/models/rolling_stock.py
  python/api/osrd_infra/models/train_schedule.py
  python/api/static/example_rolling_stock.json
  python/osrd_schemas/osrd_schemas/rolling_stock.py
  python/osrd_schemas/osrd_schemas/train_schedule.py
Owners: @DGEXSolutions/editoast-maintainers

core: railjson: add power restrictions to rolling stocks
  core/examples/rolling_stocks/fast_rolling_stock.json
  core/examples/rolling_stocks/fast_rolling_stock_high_gamma.json
  core/examples/rolling_stocks/short_fast_rolling_stock.json
  core/examples/rolling_stocks/short_slow_rolling_stock.json
  core/examples/rolling_stocks/slow_rolling_stock.json
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSEffortCurves.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
  core/src/main/java/fr/sncf/osrd/api/StandaloneSimulationEndpoint.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSRollingStockParser.java
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  core/src/test/java/fr/sncf/osrd/railjson/parser/TestRJSRollingStockParser.java
Owners: @DGEXSolutions/core-maintainers

core: railjson: add power restrictions to rolling stocks
  core/examples/rolling_stocks/fast_rolling_stock.json
  core/examples/rolling_stocks/fast_rolling_stock_high_gamma.json
  core/examples/rolling_stocks/short_fast_rolling_stock.json
  core/examples/rolling_stocks/short_slow_rolling_stock.json
  core/examples/rolling_stocks/slow_rolling_stock.json
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSEffortCurves.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
  core/src/main/java/fr/sncf/osrd/api/StandaloneSimulationEndpoint.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSRollingStockParser.java
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  core/src/test/java/fr/sncf/osrd/railjson/parser/TestRJSRollingStockParser.java
Owners: @DGEXSolutions/core-maintainers

editoast: improve pagination module
  editoast/src/views/infra/errors.rs
  editoast/src/views/pagination.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: improve pagination module
  editoast/src/views/infra/errors.rs
  editoast/src/views/pagination.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: improve pagination module
  editoast/src/views/infra/errors.rs
  editoast/src/views/pagination.rs
Owners: @DGEXSolutions/editoast-maintainers

scripts: fix loading of example rolling stock
  scripts/generate-infra.sh
Owners: none

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics
