Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DGEXSolutions/osrd-backend-maintainers, @nicolaswurtz, @flomonster, @multun, @bgiuliana, @eckter, @DGEXSolutions/osrd-physics

core: position tracker: move cache to a private static field
  core/src/main/java/fr/sncf/osrd/train/TrainPath.java
  core/src/main/java/fr/sncf/osrd/train/TrainPositionTracker.java
  core/src/test/java/fr/sncf/osrd/TestConfig.java
  core/src/test/java/fr/sncf/osrd/train/TrainPhysics.java
Owners: @eckter, @multun, @DGEXSolutions/osrd-backend-maintainers, @DGEXSolutions/osrd-physics

core: cache train position trackers
  core/src/main/java/fr/sncf/osrd/speedcontroller/generators/SpeedControllerGenerator.java
  core/src/main/java/fr/sncf/osrd/train/Train.java
  core/src/main/java/fr/sncf/osrd/train/TrainPath.java
  core/src/main/java/fr/sncf/osrd/train/TrainPositionTracker.java
  core/src/main/java/fr/sncf/osrd/train/TrainSchedule.java
  core/src/test/java/fr/sncf/osrd/infra_state/RouteStateTest.java
  core/src/test/java/fr/sncf/osrd/train/TrainLocationTrackerTests.java
  core/src/test/java/fr/sncf/osrd/train/TrainPhysics.java
Owners: @eckter, @DGEXSolutions/osrd-backend-maintainers, @multun, @DGEXSolutions/osrd-physics

core: cache train position trackers
  core/src/main/java/fr/sncf/osrd/speedcontroller/generators/SpeedControllerGenerator.java
  core/src/main/java/fr/sncf/osrd/train/Train.java
  core/src/main/java/fr/sncf/osrd/train/TrainPath.java
  core/src/main/java/fr/sncf/osrd/train/TrainPositionTracker.java
  core/src/main/java/fr/sncf/osrd/train/TrainSchedule.java
  core/src/test/java/fr/sncf/osrd/infra_state/RouteStateTest.java
  core/src/test/java/fr/sncf/osrd/train/TrainLocationTrackerTests.java
  core/src/test/java/fr/sncf/osrd/train/TrainPhysics.java
Owners: @eckter, @DGEXSolutions/osrd-backend-maintainers, @multun, @DGEXSolutions/osrd-physics

core: infras: one_line: make some edges stop to start
  core/examples/one_line/gen.py
  core/src/main/java/fr/sncf/osrd/train/TrainPositionTracker.java
Owners: @eckter, @multun, @DGEXSolutions/osrd-backend-maintainers

core: tests: train location tracker: add tests
  core/src/test/java/fr/sncf/osrd/train/TrainLocationTrackerTests.java
Owners: none

core: position tracker rework
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSTrainScheduleParser.java
  core/src/main/java/fr/sncf/osrd/speedcontroller/SpeedInstructions.java
  core/src/main/java/fr/sncf/osrd/speedcontroller/generators/ConstructionAllowanceGenerator.java
  core/src/main/java/fr/sncf/osrd/speedcontroller/generators/DichotomyControllerGenerator.java
  core/src/main/java/fr/sncf/osrd/speedcontroller/generators/LinearAllowanceGenerator.java
  core/src/main/java/fr/sncf/osrd/speedcontroller/generators/MarecoAllowanceGenerator.java
  core/src/main/java/fr/sncf/osrd/speedcontroller/generators/MaxSpeedGenerator.java
  core/src/main/java/fr/sncf/osrd/speedcontroller/generators/SpeedControllerGenerator.java
  core/src/main/java/fr/sncf/osrd/train/ActivateRoute.java
  core/src/main/java/fr/sncf/osrd/train/TrackSectionRange.java
  core/src/main/java/fr/sncf/osrd/train/Train.java
  core/src/main/java/fr/sncf/osrd/train/TrainPath.java
  core/src/main/java/fr/sncf/osrd/train/TrainPositionTracker.java
  core/src/main/java/fr/sncf/osrd/train/TrainSchedule.java
  core/src/main/java/fr/sncf/osrd/utils/Range.java
  core/src/test/java/fr/sncf/osrd/infra_state/RouteStateTest.java
  core/src/test/java/fr/sncf/osrd/train/DisappearTrainTest.java
  core/src/test/java/fr/sncf/osrd/train/NonConstantDecTest.java
  core/src/test/java/fr/sncf/osrd/train/StaticSpeedLimitTest.java
  core/src/test/java/fr/sncf/osrd/train/TrainPhysics.java
Owners: @DGEXSolutions/osrd-backend-maintainers, @eckter, @multun, @DGEXSolutions/osrd-physics

core: position tracker rework
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSTrainScheduleParser.java
  core/src/main/java/fr/sncf/osrd/speedcontroller/SpeedInstructions.java
  core/src/main/java/fr/sncf/osrd/speedcontroller/generators/ConstructionAllowanceGenerator.java
  core/src/main/java/fr/sncf/osrd/speedcontroller/generators/DichotomyControllerGenerator.java
  core/src/main/java/fr/sncf/osrd/speedcontroller/generators/LinearAllowanceGenerator.java
  core/src/main/java/fr/sncf/osrd/speedcontroller/generators/MarecoAllowanceGenerator.java
  core/src/main/java/fr/sncf/osrd/speedcontroller/generators/MaxSpeedGenerator.java
  core/src/main/java/fr/sncf/osrd/speedcontroller/generators/SpeedControllerGenerator.java
  core/src/main/java/fr/sncf/osrd/train/ActivateRoute.java
  core/src/main/java/fr/sncf/osrd/train/TrackSectionRange.java
  core/src/main/java/fr/sncf/osrd/train/Train.java
  core/src/main/java/fr/sncf/osrd/train/TrainPath.java
  core/src/main/java/fr/sncf/osrd/train/TrainPositionTracker.java
  core/src/main/java/fr/sncf/osrd/train/TrainSchedule.java
  core/src/main/java/fr/sncf/osrd/utils/Range.java
  core/src/test/java/fr/sncf/osrd/infra_state/RouteStateTest.java
  core/src/test/java/fr/sncf/osrd/train/DisappearTrainTest.java
  core/src/test/java/fr/sncf/osrd/train/NonConstantDecTest.java
  core/src/test/java/fr/sncf/osrd/train/StaticSpeedLimitTest.java
  core/src/test/java/fr/sncf/osrd/train/TrainPhysics.java
Owners: @DGEXSolutions/osrd-backend-maintainers, @eckter, @multun, @DGEXSolutions/osrd-physics

core: position tracker: move cache to a private static field
  core/src/main/java/fr/sncf/osrd/train/TrainPath.java
  core/src/main/java/fr/sncf/osrd/train/TrainPositionTracker.java
  core/src/test/java/fr/sncf/osrd/TestConfig.java
  core/src/test/java/fr/sncf/osrd/train/TrainPhysics.java
Owners: @eckter, @multun, @DGEXSolutions/osrd-backend-maintainers, @DGEXSolutions/osrd-physics

core: position tracker: move cache to a private static field
  core/src/main/java/fr/sncf/osrd/train/TrainPath.java
  core/src/main/java/fr/sncf/osrd/train/TrainPositionTracker.java
  core/src/test/java/fr/sncf/osrd/TestConfig.java
  core/src/test/java/fr/sncf/osrd/train/TrainPhysics.java
Owners: @eckter, @multun, @DGEXSolutions/osrd-backend-maintainers, @DGEXSolutions/osrd-physics

core: tests: train location tracker: add tests
  core/src/test/java/fr/sncf/osrd/train/TrainLocationTrackerTests.java
Owners: none

core: infras: one_line: make some edges stop to start
  core/examples/one_line/gen.py
  core/src/main/java/fr/sncf/osrd/train/TrainPositionTracker.java
Owners: @eckter, @multun, @DGEXSolutions/osrd-backend-maintainers

core: construction_mareco: change ConstructionAllowanceGenerator from DichotomyControllerGenerator to MarecoAllowanceGenerator and start modifying it
  core/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSAllowance.java
  core/src/main/java/fr/sncf/osrd/speedcontroller/generators/ConstructionAllowanceGenerator.java
  core/src/main/java/fr/sncf/osrd/speedcontroller/generators/DichotomyControllerGenerator.java
  core/src/main/java/fr/sncf/osrd/speedcontroller/generators/LinearAllowanceGenerator.java
  core/src/main/java/fr/sncf/osrd/speedcontroller/generators/MarecoAllowanceGenerator.java
  core/src/test/java/fr/sncf/osrd/Helpers.java
  core/src/test/java/fr/sncf/osrd/speedcontroller/AllowanceTestsOnAllInfras.java
  core/src/test/java/fr/sncf/osrd/speedcontroller/MarginTests.java
  core/src/test/java/fr/sncf/osrd/train/StopTests.java
Owners: @DGEXSolutions/osrd-backend-maintainers, @eckter

core: construction_mareco: add SimulationError when the margin asked by the user is too high & apply construction margin on longer segments
  core/src/main/java/fr/sncf/osrd/speedcontroller/SpeedInstructions.java
  core/src/main/java/fr/sncf/osrd/speedcontroller/generators/ConstructionAllowanceGenerator.java
  core/src/main/java/fr/sncf/osrd/speedcontroller/generators/DichotomyControllerGenerator.java
  core/src/main/java/fr/sncf/osrd/speedcontroller/generators/LinearAllowanceGenerator.java
  core/src/main/java/fr/sncf/osrd/speedcontroller/generators/MarecoAllowanceGenerator.java
  core/src/main/java/fr/sncf/osrd/speedcontroller/generators/SpeedControllerGenerator.java
  core/src/test/java/fr/sncf/osrd/Helpers.java
  core/src/test/java/fr/sncf/osrd/speedcontroller/AllowanceTestsOnAllInfras.java
  core/src/test/java/fr/sncf/osrd/speedcontroller/MarginTests.java
  core/src/test/java/fr/sncf/osrd/train/StopTests.java
Owners: @eckter, @DGEXSolutions/osrd-backend-maintainers

actions: add trigger on pull_request
  .github/workflows/api.yml
  .github/workflows/core.yml
  .github/workflows/front.yml
Owners: none

actions: fix failure reporting
  .github/workflows/core.yml
Owners: none

core: construction_mareco: modify small changes requested in PR
  core/src/main/java/fr/sncf/osrd/speedcontroller/generators/ConstructionAllowanceGenerator.java
  core/src/main/java/fr/sncf/osrd/speedcontroller/generators/DichotomyControllerGenerator.java
  core/src/main/java/fr/sncf/osrd/speedcontroller/generators/LinearAllowanceGenerator.java
Owners: @eckter, @DGEXSolutions/osrd-backend-maintainers

.github/CODEOWNERS:

CODEOWNERS   @DGEXSolutions/osrd-backend-maintainers
/front       @nicolaswurtz


/core/specifications   @flomonster @DGEXSolutions/osrd-backend-maintainers

# java stuff
/core/src/main/java/fr/sncf/osrd                         @DGEXSolutions/osrd-backend-maintainers
/core/src/main/java/fr/sncf/osrd/api                     @flomonster @DGEXSolutions/osrd-backend-maintainers
/core/src/main/java/fr/sncf/osrd/cbtc                    @DGEXSolutions/osrd-backend-maintainers
/core/src/main/java/fr/sncf/osrd/cli                     @multun @DGEXSolutions/osrd-backend-maintainers
/core/src/main/java/fr/sncf/osrd/config                  @DGEXSolutions/osrd-backend-maintainers
/core/src/main/java/fr/sncf/osrd/infra                   @multun @DGEXSolutions/osrd-backend-maintainers
/core/src/main/java/fr/sncf/osrd/infra_state             @multun @DGEXSolutions/osrd-backend-maintainers
/core/src/main/java/fr/sncf/osrd/infra_state/regulator   @flomonster @bgiuliana @DGEXSolutions/osrd-backend-maintainers
/core/src/main/java/fr/sncf/osrd/interactive             @flomonster @multun @DGEXSolutions/osrd-backend-maintainers
/core/src/main/java/fr/sncf/osrd/railjson                @DGEXSolutions/osrd-backend-maintainers
/core/src/main/java/fr/sncf/osrd/railml                  @flomonster @multun @DGEXSolutions/osrd-backend-maintainers
/core/src/main/java/fr/sncf/osrd/simulation              @multun @DGEXSolutions/osrd-backend-maintainers
/core/src/main/java/fr/sncf/osrd/speedcontroller         @eckter @DGEXSolutions/osrd-backend-maintainers
/core/src/main/java/fr/sncf/osrd/train                   @eckter @multun @DGEXSolutions/osrd-backend-maintainers
/core/src/main/java/fr/sncf/osrd/utils                   @DGEXSolutions/osrd-backend-maintainers
/core/src/main/java/fr/sncf/osrd/DebugViewer.java        @DGEXSolutions/osrd-backend-maintainers
*Physics*.java                                           @DGEXSolutions/osrd-physics
*Integrator*.java                                        @DGEXSolutions/osrd-physics
*Integration*.java                                       @DGEXSolutions/osrd-physics

# Python Interactive Client
/core/src/python_interactive_client                      @flomonster @multun

# buildsystem stuff
/core/*.gradle         @multun
/core/gradle           @multun
/core/config           @multun
/core/README.md        @DGEXSolutions/osrd-backend-maintainers
/core/Dockerfile       @DGEXSolutions/osrd-backend-maintainers
