Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @osrd-project/front-maintainers, @osrd-project/editoast-maintainers, @eckter, @osrd-project/core-maintainers, @osrd-project/physics

front: newAllowances: first step, add lines & cosmetics
  front/public/locales/fr/operationalStudies/allowances.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/Allowances.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/EngineeringAddLine.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/StandardAddLine.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/styles/scss/applications/_operationalStudies.scss
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
  front/src/styles/scss/applications/operationalStudies/components/_Allowances.scss
Owners: @osrd-project/front-maintainers

front: tabs: add fullheight property to Tabs
  front/src/common/Tabs.tsx
  front/src/styles/scss/_body.scss
  front/src/styles/scss/common/components/_tabs.scss
Owners: @osrd-project/front-maintainers

front: InputGroupSNCF: add typeValue, isInvalid, min, max
  front/src/common/BootstrapSNCF/InputGroupSNCF.tsx
Owners: @osrd-project/front-maintainers

front: inputSNCF: add appendOption with group & sm
  front/src/common/BootstrapSNCF/InputGroupSNCF.scss
  front/src/common/BootstrapSNCF/InputSNCF.tsx
Owners: @osrd-project/front-maintainers

front: tabs: add rolling stock pictrure & name
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/styles/scss/applications/operationalStudies/_managetrainschedule.scss
  front/src/styles/scss/common/components/_tabs.scss
Owners: @osrd-project/front-maintainers

front: OptionsSNCF to tsx
  front/src/common/BootstrapSNCF/OptionsSNCF.jsx
  front/src/common/BootstrapSNCF/OptionsSNCF.tsx
Owners: @osrd-project/front-maintainers

front: newAllowances: third step, manage allowances complete
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/Allowances.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesActions.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesList.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesListItem.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesStandardSettings.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/Helpers.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/helpers.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/types.ts
  front/src/common/BootstrapSNCF/OptionsSNCF.scss
  front/src/styles/scss/applications/operationalStudies/components/_Allowances.scss
Owners: @osrd-project/front-maintainers

front: move old allowances to stdcm, to be rewritten very shortly
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/applications/stdcm/components/OldAllowances/Allowance.tsx
  front/src/applications/stdcm/components/OldAllowances/Allowances.tsx
  front/src/applications/stdcm/components/OldAllowances/EmptyLine.tsx
  front/src/applications/stdcm/components/OldAllowances/OPModal.jsx
  front/src/applications/stdcm/components/OldAllowances/StandardAllowanceDefault.tsx
  front/src/applications/stdcm/components/OldAllowances/allowancesConsts.tsx
  front/src/applications/stdcm/components/OldAllowances/withOSRDData.tsx
  front/src/applications/stdcm/components/OldAllowances/withOSRDStdcmParams.tsx
  front/src/applications/stdcm/components/STDCMAllowances.tsx
  front/src/applications/stdcm/formatStcmConf.ts
Owners: @osrd-project/front-maintainers

front: switchSNCF: typescript
  front/src/common/BootstrapSNCF/SwitchSNCF/SwitchSNCF.jsx
  front/src/common/BootstrapSNCF/SwitchSNCF/SwitchSNCF.scss
  front/src/common/BootstrapSNCF/SwitchSNCF/SwitchSNCF.tsx
Owners: @osrd-project/front-maintainers

front: newAllowances: translation corrections and cosmetic corrections
  front/public/locales/fr/operationalStudies/allowances.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/Allowances.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesActions.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesList.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
Owners: @osrd-project/front-maintainers

front: newAllowances: third step, manage allowances complete
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/Allowances.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesActions.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesList.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesListItem.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesStandardSettings.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/Helpers.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/helpers.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/types.ts
  front/src/common/BootstrapSNCF/OptionsSNCF.scss
  front/src/styles/scss/applications/operationalStudies/components/_Allowances.scss
Owners: @osrd-project/front-maintainers

front: tabs: add fullheight property to Tabs
  front/src/common/Tabs.tsx
  front/src/styles/scss/_body.scss
  front/src/styles/scss/common/components/_tabs.scss
Owners: @osrd-project/front-maintainers

front: add pathlength to tabs
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
Owners: @osrd-project/front-maintainers

front: newAllowances: linear view
  front/public/locales/fr/operationalStudies/allowances.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/Allowances.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesActions.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesLinearView.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesStandardSettings.tsx
  front/src/styles/scss/applications/operationalStudies/components/_Allowances.scss
Owners: @osrd-project/front-maintainers

front: switchSNCF: typescript
  front/src/common/BootstrapSNCF/SwitchSNCF/SwitchSNCF.jsx
  front/src/common/BootstrapSNCF/SwitchSNCF/SwitchSNCF.scss
  front/src/common/BootstrapSNCF/SwitchSNCF/SwitchSNCF.tsx
Owners: @osrd-project/front-maintainers

front: OptionsSNCF to tsx
  front/src/common/BootstrapSNCF/OptionsSNCF.jsx
  front/src/common/BootstrapSNCF/OptionsSNCF.tsx
Owners: @osrd-project/front-maintainers

front: newAllowances: add working connexion to trainschedule submission (and update)
  front/public/locales/en/operationalStudies/manageTrainSchedule.json
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/Allowances.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesActions.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesLinearView.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesList.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/consts.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SubmitConfAddTrainSchedule.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/styles/scss/applications/operationalStudies/components/_Allowances.scss
Owners: @osrd-project/front-maintainers

front: InputGroupSNCF: typescript & correct parents
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/EmptyLine.tsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/StandardAllowanceDefault.tsx
  front/src/common/BootstrapSNCF/InputGroupSNCF.jsx
  front/src/common/BootstrapSNCF/InputGroupSNCF.tsx
Owners: @osrd-project/front-maintainers

front: newAllowances: add working connexion to trainschedule submission (and update)
  front/public/locales/en/operationalStudies/manageTrainSchedule.json
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/Allowances.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesActions.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesLinearView.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesList.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/consts.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SubmitConfAddTrainSchedule.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/styles/scss/applications/operationalStudies/components/_Allowances.scss
Owners: @osrd-project/front-maintainers

front: newAllowances: first step, add lines & cosmetics
  front/public/locales/fr/operationalStudies/allowances.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/Allowances.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/EngineeringAddLine.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/StandardAddLine.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/styles/scss/applications/_operationalStudies.scss
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
  front/src/styles/scss/applications/operationalStudies/components/_Allowances.scss
Owners: @osrd-project/front-maintainers

front: newAllowances: linear view
  front/public/locales/fr/operationalStudies/allowances.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/Allowances.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesActions.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesLinearView.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesStandardSettings.tsx
  front/src/styles/scss/applications/operationalStudies/components/_Allowances.scss
Owners: @osrd-project/front-maintainers

front: newAllowances: second step, working inputs & design
  front/public/locales/fr/operationalStudies/allowances.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/Allowances.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesActions.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesList.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesStandardSettings.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/EngineeringAddLine.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/Helpers.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/StandardAddLine.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/consts.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/types.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
  front/src/styles/scss/applications/operationalStudies/components/_Allowances.scss
  front/src/styles/scss/common/components/_tabs.scss
Owners: @osrd-project/front-maintainers

front: InputGroupSNCF: typescript & correct parents
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/EmptyLine.tsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/StandardAllowanceDefault.tsx
  front/src/common/BootstrapSNCF/InputGroupSNCF.jsx
  front/src/common/BootstrapSNCF/InputGroupSNCF.tsx
Owners: @osrd-project/front-maintainers

front: newAllowances: translation corrections and cosmetic corrections
  front/public/locales/fr/operationalStudies/allowances.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/Allowances.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesActions.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesList.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
Owners: @osrd-project/front-maintainers

front: InputGroupSNCF: add typeValue, isInvalid, min, max
  front/src/common/BootstrapSNCF/InputGroupSNCF.tsx
Owners: @osrd-project/front-maintainers

front: test pathfinding add timeout for map
  front/tests/assets/operationStudies/test_variables.ts
  front/tests/operational-studies.spec.ts
  front/tests/scenario-page-model.ts
Owners: @osrd-project/front-maintainers

front: test pathfinding add timeout for map
  front/tests/operational-studies.spec.ts
Owners: @osrd-project/front-maintainers

front: test pathfinding done for small_infra
  front/src/common/Pathfinding/Pathfinding.tsx
  front/tests/assets/operationStudies/test_variables.ts
  front/tests/map-model.ts
  front/tests/operational-studies.spec.ts
  front/tests/scenario-page-model.ts
Owners: @osrd-project/front-maintainers

front: test pathfinding infra_france
  front/tests/assets/operationStudies/test_variables.ts
  front/tests/home-page-model.ts
  front/tests/home-page.spec.ts
  front/tests/map-model.ts
  front/tests/operational-studies.spec.ts
Owners: @osrd-project/front-maintainers

front: test-e2e: pathfinding-local.spec: Create test pathfinding electrification error in a local environment
  front/tests/operational-studies.spec.ts
  front/tests/pathfinding-local.spec.ts
  front/tests/scenario-page-model.ts
Owners: @osrd-project/front-maintainers

editoast: osm-to-railjson: require railway=rail instead of filtering many invalid tags
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/converters/osm_to_railjson.rs
Owners: @osrd-project/editoast-maintainers

editoast: osm-to-railjson: reject operational points without parts
  editoast/src/converters/utils.rs
Owners: @osrd-project/editoast-maintainers

editoast: osm-to-railjson: be more tollerant when parsing speeds
  editoast/src/converters/utils.rs
Owners: @osrd-project/editoast-maintainers

editoast: osm-to-railjson: better handling of very close nodes for angle computation
  editoast/src/converters/utils.rs
Owners: @osrd-project/editoast-maintainers

front: gain space in addEditProject modal
  front/src/styles/scss/applications/operationalStudies/components/_AddAndEditProjectModal.scss
Owners: @osrd-project/front-maintainers

front: studies: mass selection for projects
  front/public/locales/en/operationalStudies/study.json
  front/public/locales/fr/operationalStudies/home.json
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/applications/operationalStudies/components/Home/ProjectSelectionToolbar.tsx
  front/src/styles/scss/applications/operationalStudies/_home.scss
  tests/pytestdebug.log
Owners: @osrd-project/front-maintainers, @eckter

front: projects: add modal to confirm project deletion
  front/public/locales/fr/operationalStudies/home.json
  front/src/applications/operationalStudies/components/Home/DeleteProjectsModal.tsx
  front/src/applications/operationalStudies/components/Home/ProjectSelectionToolbar.tsx
Owners: @osrd-project/front-maintainers

front: adjust breakpoints on project, studies, scenarios
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/applications/operationalStudies/views/Study.tsx
  tests/pytestdebug.log
Owners: @osrd-project/front-maintainers, @eckter

front: mass selection: corrections after review
  front/public/locales/en/operationalStudies/home.json
  front/public/locales/en/operationalStudies/project.json
  front/public/locales/en/operationalStudies/study.json
  front/public/locales/fr/operationalStudies/project.json
  front/public/locales/fr/operationalStudies/study.json
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/components/Project/StudyCard.tsx
  front/src/applications/operationalStudies/components/Study/ScenarioCard.tsx
Owners: @osrd-project/front-maintainers

front: adjust breakpoints on project, studies, scenarios
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/applications/operationalStudies/views/Study.tsx
  tests/pytestdebug.log
Owners: @osrd-project/front-maintainers, @eckter

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @osrd-project/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @osrd-project/editoast-maintainers
/editoast/openapi.yaml
/chartos                                                 @osrd-project/editoast-maintainers
/python                                                  @osrd-project/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @osrd-project/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @osrd-project/physics
*Integration*.java                                       @osrd-project/physics
