Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @osrd-project/front-maintainers, @osrd-project/editoast-maintainers, @eckter, @osrd-project/core-maintainers, @osrd-project/physics

core: rename scheduled point position to path_offset
  core/openapi.yaml
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSSchedulePoint.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSStandaloneTrainScheduleParser.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/java/fr/sncf/osrd/train/ScheduledPoint.java
  editoast/openapi.yaml
  editoast/src/models/train_schedule.rs
  front/src/applications/operationalStudies/components/ImportTrainSchedule/generateTrainSchedulesPayload.jsx
  front/src/common/api/osrdEditoastApi.ts
  python/osrd_schemas/osrd_schemas/train_schedule.py
Owners: @osrd-project/core-maintainers, @osrd-project/editoast-maintainers, @osrd-project/front-maintainers

tests: adapt integration tests
  tests/tests/path.py
  tests/tests/test_pathfinding.py
Owners: @eckter

front: new path schema: fix on size & baseOrEco
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainSchedule.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleHeader.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleStopList.tsx
  front/src/styles/scss/applications/operationalStudies/_simulationresults.scss
Owners: @osrd-project/front-maintainers

front: importationWithTimes: front is ready
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleModal.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/generateTrainSchedulesPayload.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesModalOP.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/ModalSuggeredVias.tsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/front-maintainers

core: rename scheduled point position to path_offset
  core/openapi.yaml
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSSchedulePoint.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSStandaloneTrainScheduleParser.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/java/fr/sncf/osrd/train/ScheduledPoint.java
  editoast/openapi.yaml
  editoast/src/models/train_schedule.rs
  front/src/applications/operationalStudies/components/ImportTrainSchedule/generateTrainSchedulesPayload.jsx
  front/src/common/api/osrdEditoastApi.ts
  python/osrd_schemas/osrd_schemas/train_schedule.py
Owners: @osrd-project/core-maintainers, @osrd-project/editoast-maintainers, @osrd-project/front-maintainers

editoast: adapt path schema
  editoast/openapi.yaml
  editoast/src/core/pathfinding.rs
  editoast/src/fixtures.rs
  editoast/src/models/pathfinding.rs
  editoast/src/schema/mod.rs
  editoast/src/tables.rs
  editoast/src/tests/small_infra/pathfinding_core_response.json
  editoast/src/tests/small_infra/pathfinding_fixture_payload.json
  editoast/src/views/pathfinding/mod.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/editoast-maintainers

api: adapt path model
  python/api/osrd_infra/migrations/0037_pathmodel_length.py
  python/api/osrd_infra/models/path.py
  python/api/osrd_infra/views/pathfinding.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
  python/osrd_schemas/osrd_schemas/path.py
Owners: @osrd-project/editoast-maintainers

core: adapt path schema
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingResultConverter.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/PathWaypointResult.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/PathfindingResult.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingTest.java
Owners: @osrd-project/core-maintainers

tests: fix expected result of pathfinding test
  tests/tests/test_pathfinding.py
Owners: @eckter

tests: fix expected result of pathfinding test
  tests/tests/test_pathfinding.py
Owners: @eckter

tests: fix expected result of pathfinding test
  tests/tests/test_pathfinding.py
Owners: @eckter

front: block stdcm when infra is loading
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
Owners: @osrd-project/front-maintainers

front: move infra loader style in scenario
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
  front/src/styles/scss/common/components/_pathfinding.scss
Owners: @osrd-project/front-maintainers

core: require infra to be load for simulation
  core/src/main/java/fr/sncf/osrd/api/SignalProjectionEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/StandaloneSimulationEndpoint.java
Owners: @osrd-project/core-maintainers

editoast: add information to simulation results
  editoast/openapi.yaml
  editoast/src/models/mod.rs
  editoast/src/models/scenario.rs
  editoast/src/models/timetable.rs
  editoast/src/models/train_schedule.rs
  editoast/src/views/timetable.rs
  editoast/src/views/train_schedule/mod.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/editoast-maintainers

front: block simulations results
  front/public/locales/en/operationalStudies/scenario.json
  front/public/locales/en/simulation.json
  front/public/locales/fr/operationalStudies/scenario.json
  front/public/locales/fr/simulation.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SubmitConfAddTrainSchedule.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SubmitConfUpdateTrainSchedules.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/submitConfUpdateTrainSchedules.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/trainsDurationsIntervals.ts
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
  front/src/applications/operationalStudies/components/Scenario/TimetableManageTrainSchedule.tsx
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/applications/operationalStudies/components/Scenario/getTimetable.jsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/__tests__/ChartHelpers.spec.ts
  front/src/applications/operationalStudies/components/SimulationResults/simulationResultsHelpers.jsx
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/common/Pathfinding/Pathfinding.tsx
  front/src/reducers/osrdsimulation/actions.ts
  front/src/reducers/osrdsimulation/index.ts
  front/src/reducers/osrdsimulation/simulation.js
  front/src/reducers/osrdsimulation/types.ts
Owners: @osrd-project/front-maintainers

tests: adapt timetable tests
  tests/tests/test_timetable.py
Owners: @eckter

front: refacto test project-creation
  front/tests/002-project-creation.spec.ts
  front/tests/004-scenario-creation.spec.ts
  front/tests/pages/project-page-model.tsx
Owners: @osrd-project/front-maintainers

front: refacto test study-creation
  front/tests/002-project-creation.spec.ts
  front/tests/003-study-creation.spec.ts
  front/tests/pages/project-page-model.tsx
  front/tests/pages/study-page-model.tsx
Owners: @osrd-project/front-maintainers

front: operationnal studies creation workflow tested
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/applications/operationalStudies/views/Study.tsx
  front/src/common/BootstrapSNCF/ChipsSNCF.tsx
  front/tests/0-project-creation.spec.ts
  front/tests/1-study-creation.spec.ts
  front/tests/2-scenario-creation.spec.ts
  front/tests/assets/operationStudies/project.json
  front/tests/assets/operationStudies/scenario.json
  front/tests/assets/operationStudies/study.json
  front/tests/pages/project-page-model.tsx
  front/tests/pages/study-page-model.tsx
Owners: @osrd-project/front-maintainers

front: rename file for tests workflow
  front/playwright.config.ts
  front/tests/001-home-page.spec.ts
  front/tests/002-project-creation.spec.ts
  front/tests/003-study-creation.spec.ts
  front/tests/004-scenario-creation.spec.ts
  front/tests/005-operational-studies.spec.ts
  front/tests/006-stdcm-page.spec.ts
  front/tests/pages/project-page-model.tsx
  front/tests/pages/study-page-model.tsx
Owners: @osrd-project/front-maintainers

front: rollingstockeditor: Add curves edition in RollingStock editor
  front/package.json
  front/public/locales/en/rollingStockEditor.json
  front/public/locales/en/rollingstock.json
  front/public/locales/en/translation.json
  front/public/locales/fr/home/home.json
  front/public/locales/fr/rollingStockEditor.json
  front/public/locales/fr/rollingstock.json
  front/public/locales/fr/translation.json
  front/src/applications/rollingStockEditor/components/RollingStockEditorButtons.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorCard.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorCurves.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorForm.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorFormModal.tsx
  front/src/applications/rollingStockEditor/consts.ts
  front/src/applications/rollingStockEditor/json/RollingStockBaseOpenapiSchema.json
  front/src/applications/rollingStockEditor/views/RollingStockEditor.tsx
  front/src/assets/defaultRSImages/blue_train.png
  front/src/common/RollingStockSelector/RollingStock2Img.tsx
  front/src/common/RollingStockSelector/RollingStockCardDetail.tsx
  front/src/common/RollingStockSelector/RollingStockCurves.jsx
  front/src/common/RollingStockSelector/RollingStockCurves.tsx
  front/src/common/RollingStockSelector/SearchRollingStock.tsx
  front/src/styles/scss/applications/rollingStockEditor/_rollingStockForm.scss
  front/src/utils/strings.ts
  front/yarn.lock
Owners: @osrd-project/front-maintainers

core: fix nullPointerException on an infra withoutdetectors
  core/src/main/java/fr/sncf/osrd/infra/implementation/reservation/DetectionSectionBuilder.java
  core/src/test/java/fr/sncf/osrd/infra/reservation/DetectionSectionBuilderTests.java
  python/railjson_generator/railjson_generator/scripts/examples/circle_infra.py
Owners: @osrd-project/core-maintainers, @osrd-project/editoast-maintainers

front: block simulations results
  front/public/locales/en/operationalStudies/scenario.json
  front/public/locales/en/simulation.json
  front/public/locales/fr/operationalStudies/scenario.json
  front/public/locales/fr/simulation.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SubmitConfAddTrainSchedule.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SubmitConfUpdateTrainSchedules.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/submitConfUpdateTrainSchedules.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/trainsDurationsIntervals.ts
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
  front/src/applications/operationalStudies/components/Scenario/TimetableManageTrainSchedule.tsx
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/applications/operationalStudies/components/Scenario/getTimetable.jsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/__tests__/ChartHelpers.spec.ts
  front/src/applications/operationalStudies/components/SimulationResults/simulationResultsHelpers.jsx
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/common/Pathfinding/Pathfinding.tsx
  front/src/reducers/osrdsimulation/actions.ts
  front/src/reducers/osrdsimulation/index.ts
  front/src/reducers/osrdsimulation/simulation.js
  front/src/reducers/osrdsimulation/types.ts
Owners: @osrd-project/front-maintainers

editoast: add information to simulation results
  editoast/openapi.yaml
  editoast/src/models/mod.rs
  editoast/src/models/scenario.rs
  editoast/src/models/timetable.rs
  editoast/src/models/train_schedule.rs
  editoast/src/views/timetable.rs
  editoast/src/views/train_schedule/mod.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/editoast-maintainers

front: move infra loader style in scenario
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
  front/src/styles/scss/common/components/_pathfinding.scss
Owners: @osrd-project/front-maintainers

editoast: add information to simulation results
  editoast/openapi.yaml
  editoast/src/models/mod.rs
  editoast/src/models/scenario.rs
  editoast/src/models/timetable.rs
  editoast/src/models/train_schedule.rs
  editoast/src/views/timetable.rs
  editoast/src/views/train_schedule/mod.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/editoast-maintainers

tests: adapt timetable tests
  tests/tests/test_timetable.py
Owners: @eckter

front: block stdcm when infra is loading
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
Owners: @osrd-project/front-maintainers

core: require infra to be load for simulation
  core/src/main/java/fr/sncf/osrd/api/SignalProjectionEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/StandaloneSimulationEndpoint.java
Owners: @osrd-project/core-maintainers

front: block simulations results
  front/public/locales/en/operationalStudies/scenario.json
  front/public/locales/en/simulation.json
  front/public/locales/fr/operationalStudies/scenario.json
  front/public/locales/fr/simulation.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SubmitConfAddTrainSchedule.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SubmitConfUpdateTrainSchedules.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/submitConfUpdateTrainSchedules.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/trainsDurationsIntervals.ts
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
  front/src/applications/operationalStudies/components/Scenario/TimetableManageTrainSchedule.tsx
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/applications/operationalStudies/components/Scenario/getTimetable.jsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/__tests__/ChartHelpers.spec.ts
  front/src/applications/operationalStudies/components/SimulationResults/simulationResultsHelpers.jsx
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/common/Pathfinding/Pathfinding.tsx
  front/src/reducers/osrdsimulation/actions.ts
  front/src/reducers/osrdsimulation/index.ts
  front/src/reducers/osrdsimulation/simulation.js
  front/src/reducers/osrdsimulation/types.ts
Owners: @osrd-project/front-maintainers

front: move infra loader style in scenario
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
  front/src/styles/scss/common/components/_pathfinding.scss
Owners: @osrd-project/front-maintainers

front: block stdcm when infra is loading
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
Owners: @osrd-project/front-maintainers

core: require infra to be load for simulation
  core/src/main/java/fr/sncf/osrd/api/SignalProjectionEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/StandaloneSimulationEndpoint.java
Owners: @osrd-project/core-maintainers

tests: adapt timetable tests
  tests/tests/test_timetable.py
Owners: @eckter

core: fix nullPointerException on an infra withoutdetectors
  core/src/main/java/fr/sncf/osrd/infra/implementation/reservation/DetectionSectionBuilder.java
  python/railjson_generator/railjson_generator/scripts/examples/circle_infra.py
Owners: @osrd-project/core-maintainers, @osrd-project/editoast-maintainers

front: rollingstockeditor: Add curves edition in RollingStock editor
  front/package.json
  front/public/locales/en/rollingStockEditor.json
  front/public/locales/en/rollingstock.json
  front/public/locales/en/translation.json
  front/public/locales/fr/home/home.json
  front/public/locales/fr/rollingStockEditor.json
  front/public/locales/fr/rollingstock.json
  front/public/locales/fr/translation.json
  front/src/applications/rollingStockEditor/components/RollingStockEditorButtons.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorCard.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorCurves.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorForm.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorFormModal.tsx
  front/src/applications/rollingStockEditor/consts.ts
  front/src/applications/rollingStockEditor/json/RollingStockBaseOpenapiSchema.json
  front/src/applications/rollingStockEditor/views/RollingStockEditor.tsx
  front/src/assets/defaultRSImages/blue_train.png
  front/src/common/RollingStockSelector/RollingStock2Img.tsx
  front/src/common/RollingStockSelector/RollingStockCardDetail.tsx
  front/src/common/RollingStockSelector/RollingStockCurves.jsx
  front/src/common/RollingStockSelector/RollingStockCurves.tsx
  front/src/common/RollingStockSelector/SearchRollingStock.tsx
  front/src/styles/scss/applications/rollingStockEditor/_rollingStockForm.scss
  front/src/utils/strings.ts
  front/yarn.lock
Owners: @osrd-project/front-maintainers

front: rollingstockeditor: Add curves edition in RollingStock editor
  front/package.json
  front/public/locales/en/rollingStockEditor.json
  front/public/locales/en/rollingstock.json
  front/public/locales/en/translation.json
  front/public/locales/fr/home/home.json
  front/public/locales/fr/rollingStockEditor.json
  front/public/locales/fr/rollingstock.json
  front/public/locales/fr/translation.json
  front/src/applications/rollingStockEditor/components/RollingStockEditorButtons.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorCard.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorCurves.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorForm.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorFormModal.tsx
  front/src/applications/rollingStockEditor/consts.ts
  front/src/applications/rollingStockEditor/json/RollingStockBaseOpenapiSchema.json
  front/src/applications/rollingStockEditor/views/RollingStockEditor.tsx
  front/src/assets/defaultRSImages/blue_train.png
  front/src/assets/pictures/blue_train.svg.REMOVED.git-id
  front/src/common/RollingStockSelector/RollingStock2Img.tsx
  front/src/common/RollingStockSelector/RollingStockCardDetail.tsx
  front/src/common/RollingStockSelector/RollingStockCurves.jsx
  front/src/common/RollingStockSelector/RollingStockCurves.tsx
  front/src/common/RollingStockSelector/SearchRollingStock.tsx
  front/src/styles/scss/applications/rollingStockEditor/_rollingStockForm.scss
  front/src/utils/strings.ts
  front/yarn.lock
Owners: @osrd-project/front-maintainers

front: refacto test scenario-creation
  front/tests/002-project-creation.spec.ts
  front/tests/003-study-creation.spec.ts
  front/tests/004-scenario-creation.spec.ts
  front/tests/005-operational-studies.spec.ts
  front/tests/assets/operationStudies/scenario.json
  front/tests/assets/operationStudies/test_variables.ts
  front/tests/common-page-model.ts
  front/tests/pages/common-page-model.ts
  front/tests/pages/project-page-model.tsx
  front/tests/pages/scenario-page-model.ts
  front/tests/pages/study-page-model.tsx
  front/tests/rollingstock-modal-model.ts
  front/tests/scenario-page-model.ts
Owners: @osrd-project/front-maintainers

front: add test delete project
  front/tests/002-project-creation.spec.ts
  front/tests/003-study-creation.spec.ts
  front/tests/004-scenario-creation.spec.ts
  front/tests/005-operational-studies.spec.ts
  front/tests/006-stdcm-page.spec.ts
  front/tests/007-project-delete.spec.ts
  front/tests/pages/project-page-model.ts
  front/tests/pages/scenario-page-model.ts
  front/tests/pages/study-page-model.ts
Owners: @osrd-project/front-maintainers

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @osrd-project/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @osrd-project/editoast-maintainers
/editoast/openapi.yaml
/chartos                                                 @osrd-project/editoast-maintainers
/python                                                  @osrd-project/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @osrd-project/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @osrd-project/physics
*Integration*.java                                       @osrd-project/physics
