Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics

api: fix search tables lack of primary key
  python/api/osrd_infra/migrations/0024_search_fix_pk.py
  python/api/osrd_infra/migrations/__init__.py
Owners: @DGEXSolutions/editoast-maintainers

editoast: bump geos to 8.2.0
  .github/workflows/editoast.yml
  editoast/Cargo.lock
  editoast/Cargo.toml
Owners: @flomonster, @multun, @DGEXSolutions/editoast-maintainers

front: refacto study in tsx and all connected components
  editoast/openapi.yaml
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/applications/operationalStudies/components/Project/PictureUploader.tsx
  front/src/applications/operationalStudies/components/Project/StudyCard.tsx
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
  front/src/applications/operationalStudies/components/Study/ScenarioCard.tsx
  front/src/applications/operationalStudies/components/Study/StateStep.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/applications/operationalStudies/views/Study.tsx
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

editoast: bump geos to 8.2.0
  .github/workflows/editoast.yml
  editoast/Cargo.lock
  editoast/Cargo.toml
Owners: @flomonster, @multun, @DGEXSolutions/editoast-maintainers

editoast: bump geos to 8.2.0
  .github/workflows/editoast.yml
  editoast/Cargo.lock
  editoast/Cargo.toml
Owners: @flomonster, @multun, @DGEXSolutions/editoast-maintainers

core: optimizes the memory consumption of an infra
  core/src/main/java/fr/sncf/osrd/infra/implementation/reservation/ReservationInfraBuilder.java
  core/src/test/java/fr/sncf/osrd/infra/reservation/ReservationInfraTests.java
Owners: @DGEXSolutions/core-maintainers

front: MapSearch: migrate from js to ts
  front/src/common/Map/Search/MapSearch.tsx
Owners: @DGEXSolutions/front-maintainers

core + api: add power restrictions used along path in sim result
  core/openapi.yaml
  core/src/main/java/fr/sncf/osrd/api/StandaloneSimulationEndpoint.java
  core/src/main/java/fr/sncf/osrd/external_generated_inputs/ElectricalProfileMapping.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ElectrificationConditionsRange.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultModeAndProfilePoint.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/StandaloneSimResult.java
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  core/src/test/java/fr/sncf/osrd/external_generated_inputs/ElectricalProfileMappingTest.java
  python/api/openapi.yaml
  python/api/osrd_infra/migrations/0024_rename_modes_and_profiles_simulationoutput_electrification_conditions.py
  python/api/osrd_infra/models/simulation_output.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers

front: rename modes_and_profiles to electrification_conditions
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/prepareData.ts
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/sampleData.jsx
  front/src/applications/operationalStudies/consts.ts
  front/src/common/api/osrdMiddlewareApi.ts
  front/src/reducers/osrdsimulation/types.ts
  front/tests/assets/operationStudies/train.json
Owners: @DGEXSolutions/front-maintainers

front: rename modes_and_profiles to electrification_conditions
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/prepareData.ts
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/sampleData.jsx
  front/src/applications/operationalStudies/consts.ts
  front/src/common/api/osrdMiddlewareApi.ts
  front/src/reducers/osrdsimulation/types.ts
  front/tests/assets/operationStudies/train.json
Owners: @DGEXSolutions/front-maintainers

core: update sim to use power restrictions
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPath.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPathTest.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPathBuilder.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/SimpleRollingStock.java
  core/openapi.yaml
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSPowerRestrictionRange.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSStandaloneTrainSchedule.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSRollingStockParser.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSStandaloneTrainScheduleParser.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultModeAndProfilePoint.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/EnvelopeSimContextBuilder.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMSimulations.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMStandardAllowance.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
  core/src/main/java/fr/sncf/osrd/train/StandaloneTrainSchedule.java
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractorTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMHelpers.java
  core/src/test/java/fr/sncf/osrd/train/TestRollingStock.java
  core/src/test/java/fr/sncf/osrd/train/TestTrains.java
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers

core + api: add power restrictions used along path in sim result
  core/openapi.yaml
  core/src/main/java/fr/sncf/osrd/api/StandaloneSimulationEndpoint.java
  core/src/main/java/fr/sncf/osrd/external_generated_inputs/ElectricalProfileMapping.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ElectrificationConditionsRange.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultModeAndProfilePoint.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/StandaloneSimResult.java
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  core/src/test/java/fr/sncf/osrd/external_generated_inputs/ElectricalProfileMappingTest.java
  python/api/openapi.yaml
  python/api/osrd_infra/migrations/0024_rename_modes_and_profiles_simulationoutput_electrification_conditions.py
  python/api/osrd_infra/models/simulation_output.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers

core: update sim to use power restrictions
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPath.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPathTest.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPathBuilder.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/SimpleRollingStock.java
  core/openapi.yaml
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSPowerRestrictionRange.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSStandaloneTrainSchedule.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSRollingStockParser.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSStandaloneTrainScheduleParser.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultModeAndProfilePoint.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/EnvelopeSimContextBuilder.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMSimulations.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMStandardAllowance.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
  core/src/main/java/fr/sncf/osrd/train/StandaloneTrainSchedule.java
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractorTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMHelpers.java
  core/src/test/java/fr/sncf/osrd/train/TestRollingStock.java
  core/src/test/java/fr/sncf/osrd/train/TestTrains.java
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers

core: optimizes the memory consumption of an infra
  core/src/main/java/fr/sncf/osrd/infra/implementation/reservation/ReservationInfraBuilder.java
  core/src/test/java/fr/sncf/osrd/infra/reservation/ReservationInfraTests.java
Owners: @DGEXSolutions/core-maintainers

core: optimizes the memory consumption of an infra
  core/src/main/java/fr/sncf/osrd/infra/implementation/reservation/ReservationInfraBuilder.java
  core/src/test/java/fr/sncf/osrd/infra/reservation/ReservationInfraTests.java
Owners: @DGEXSolutions/core-maintainers

front: electric profile: correcting french traduction
  front/public/locales/fr/simulation.json
Owners: @DGEXSolutions/front-maintainers

front: electric profile: correcting french traduction
  front/public/locales/fr/simulation.json
Owners: @DGEXSolutions/front-maintainers

front: MapSearch: migrate from js to ts
  front/src/common/Map/Search/MapSearch.tsx
Owners: @DGEXSolutions/front-maintainers

front: MapSearch: migrate from js to ts
  front/src/common/Map/Search/MapSearch.tsx
Owners: @DGEXSolutions/front-maintainers

api: fix migrations order
  python/api/osrd_infra/migrations/0025_rename_modes_and_profiles_simulationoutput_electrification_conditions.py
Owners: @DGEXSolutions/editoast-maintainers

api: fix migrations order
  python/api/osrd_infra/migrations/0025_rename_modes_and_profiles_simulationoutput_electrification_conditions.py
Owners: @DGEXSolutions/editoast-maintainers

api: fix migrations order
  python/api/osrd_infra/migrations/0025_rename_modes_and_profiles_simulationoutput_electrification_conditions.py
Owners: @DGEXSolutions/editoast-maintainers

front: updateTrain: refacto UI in progress
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/TrainAddingSettings.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/submitConf.ts
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: change text with edit or add
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/Scenario/TimetableManageTrainSchedule.tsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/operationalStudies/views/Scenario.tsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: isolate adjustconf for store
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: repair tests
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/__tests__/ChartHelpers.spec.ts
  front/src/reducers/__tests__/osrdconf.spec.ts
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: complete all fields is ok
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: button does nothing and it's ok
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: switch edit/add works
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/applications/operationalStudies/components/Study/StateStep.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/operationalStudies/views/Scenario.jsx
  front/src/reducers/osrdsimulation/types.ts
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: add livery to timetable
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/assets/pictures/components/noElectricalProfiles.svg
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdsimulation/types.ts
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Owners: @DGEXSolutions/front-maintainers

front: convert originSpeed to initialSpeed, create departureTime
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Origin.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
  front/src/applications/operationalStudies/components/Scenario/TimetableManageTrainSchedule.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdconf/selectors.ts
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: pathFinding more clever, running only when necessary
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayVias.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/setPointIti.ts
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/common/RollingStockSelector/RollingStockCardButtons.jsx
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdconf/selectors.ts
Owners: @DGEXSolutions/front-maintainers

front: permit update from selectSNCF when changing selectedValue
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.jsx
Owners: @DGEXSolutions/front-maintainers

front: Timetable: repair liveries
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/common/RollingStockSelector/RollingStock2Img.tsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: it's aliiiiiive
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/submitConfAddTrainSchedules.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/submitConfUpdateTrainSchedules.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
Owners: @DGEXSolutions/front-maintainers

front: simplify UI of itinerary component
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Destination.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Origin.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Vias.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/index.tsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: bugfixes around pathfinding
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayVias.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/ModalSuggeredVias.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/openapi.yaml
Owners: @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers

front: updateTrain: bugfix on updatetrain when trainaddsettings wrong
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/submitConfUpdateTrainSchedules.ts
Owners: @DGEXSolutions/front-maintainers

front: pathFinding: update PointOnMap type & delete source propertie for ZoomFeaturePoint
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Destination.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Origin.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Vias.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/index.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayVias.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderItineraryMarkers.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/setPointIti.jsx
  front/src/applications/operationalStudies/consts.ts
  front/src/reducers/map/index.ts
Owners: @DGEXSolutions/front-maintainers

front: repair invalid inputsncf mode
  front/src/common/BootstrapSNCF/InputSNCF.tsx
Owners: @DGEXSolutions/front-maintainers
