Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics

front: split some locales files
  front/public/locales/en/home/home.json
  front/public/locales/en/home/navbar.json
  front/public/locales/en/translation.json
  front/public/locales/fr/home/home.json
  front/public/locales/fr/home/navbar.json
  front/public/locales/fr/translation.json
  front/src/applications/customget/Home.jsx
  front/src/applications/referenceMap/Home.tsx
  front/src/applications/stdcm/Home.jsx
  front/src/common/BootstrapSNCF/DropdownSNCF.tsx
  front/src/common/ReleaseInformations/LicenseAttributions.tsx
  front/src/common/ReleaseInformations/ReleaseInformations.tsx
  front/src/main/home.jsx
  front/tests/home-page-model.tsx
Owners: @DGEXSolutions/front-maintainers

front: i18n: add menu entry & modal to change language
  front/package.json
  front/public/locales/de/home/home.json
  front/public/locales/de/home/navbar.json
  front/public/locales/en-US/translation.json
  front/public/locales/en/home/navbar.json
  front/public/locales/es/home/home.json
  front/public/locales/es/home/navbar.json
  front/public/locales/fr/home.json
  front/public/locales/it/home/home.json
  front/public/locales/it/home/navbar.json
  front/public/locales/jp/home/home.json
  front/public/locales/jp/home/navbar.json
  front/public/locales/ru/home/home.json
  front/public/locales/ru/home/navbar.json
  front/public/locales/uk/home/home.json
  front/public/locales/uk/home/navbar.json
  front/src/common/BootstrapSNCF/NavBarSNCF.jsx
  front/src/common/ChangeLanguageModal.tsx
  front/src/i18n.js
  front/src/styles/scss/_home.scss
  front/src/utils/strings.ts
  front/yarn.lock
Owners: @DGEXSolutions/front-maintainers

front: i18n: use infrastructures count for plurals
  front/public/locales/en/infraManagement.json
  front/public/locales/fr/infraManagement.json
  front/src/common/InfraSelector/InfraSelectorModalBodyEdition.jsx
  front/src/common/InfraSelector/InfraSelectorModalBodyStandard.jsx
Owners: @DGEXSolutions/front-maintainers

front: i18n: use infrastructures count for plurals
  front/public/locales/en/infraManagement.json
  front/public/locales/fr/infraManagement.json
  front/src/common/InfraSelector/InfraSelectorModalBodyEdition.jsx
  front/src/common/InfraSelector/InfraSelectorModalBodyStandard.jsx
Owners: @DGEXSolutions/front-maintainers

front: bugfix on chipsncf & trainlabel (use new selectors)
  front/src/applications/operationalStudies/components/ManageTrainSchedule/TrainLabels.jsx
  front/src/common/BootstrapSNCF/ChipsSNCF.jsx
Owners: @DGEXSolutions/front-maintainers

front: bugfix on chipsncf & trainlabel (use new selectors)
  front/src/applications/operationalStudies/components/ManageTrainSchedule/TrainLabels.jsx
  front/src/common/BootstrapSNCF/ChipsSNCF.jsx
Owners: @DGEXSolutions/front-maintainers

editoast: add cargo chef docker image
  editoast/Dockerfile
Owners: @DGEXSolutions/editoast-maintainers

front: fix warnings & ts
  front/package.json
  front/src/applications/customget/components/SpaceTimeChart/drawTrain.jsx
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/__tests__/ChartHelpers.spec.ts
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/prepareData.ts
  front/src/common/Map/Layers/TracksSchematic.tsx
  front/src/common/Pathfinding/Pathfinding.tsx
  front/src/config/config.ts
  front/src/reducers/osrdsimulation/actions.ts
  front/src/reducers/osrdsimulation/index.ts
  front/src/reducers/osrdsimulation/types.ts
  front/src/reducers/profile.js
  front/src/utils/__tests__/strings.spec.ts
  front/src/utils/strings.ts
  front/src/vite-env.d.ts
  front/tests/assets/operationStudies/train.json
  front/vite.config.ts
Owners: @DGEXSolutions/front-maintainers

front: refacto offset function
  front/src/applications/customget/components/SpaceTimeChart/drawTrain.jsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/drawTrain.jsx
  front/src/reducers/osrdsimulation/index.ts
Owners: @DGEXSolutions/front-maintainers

front: fix warnings & ts
  front/package.json
  front/src/applications/customget/components/SpaceTimeChart/drawTrain.jsx
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/__tests__/ChartHelpers.spec.ts
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/prepareData.ts
  front/src/common/Map/Layers/TracksSchematic.tsx
  front/src/common/Pathfinding/Pathfinding.tsx
  front/src/config/config.ts
  front/src/reducers/osrdsimulation/actions.ts
  front/src/reducers/osrdsimulation/index.ts
  front/src/reducers/osrdsimulation/types.ts
  front/src/reducers/profile.js
  front/src/utils/__tests__/strings.spec.ts
  front/src/utils/strings.ts
  front/src/vite-env.d.ts
  front/tests/assets/operationStudies/train.json
  front/vite.config.ts
Owners: @DGEXSolutions/front-maintainers

front: fix warnings & ts
  front/package.json
  front/src/applications/customget/components/SpaceTimeChart/drawTrain.jsx
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/__tests__/ChartHelpers.spec.ts
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/prepareData.ts
  front/src/common/Map/Layers/TracksSchematic.tsx
  front/src/common/Pathfinding/Pathfinding.tsx
  front/src/config/config.ts
  front/src/reducers/osrdsimulation/actions.ts
  front/src/reducers/osrdsimulation/index.ts
  front/src/reducers/osrdsimulation/types.ts
  front/src/reducers/profile.js
  front/src/utils/__tests__/strings.spec.ts
  front/src/utils/strings.ts
  front/src/vite-env.d.ts
  front/tests/assets/operationStudies/train.json
  front/vite.config.ts
Owners: @DGEXSolutions/front-maintainers

front: refacto offset function
  front/src/applications/customget/components/SpaceTimeChart/drawTrain.jsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/drawTrain.jsx
  front/src/reducers/osrdsimulation/index.ts
Owners: @DGEXSolutions/front-maintainers

front: refacto offset function
  front/src/applications/customget/components/SpaceTimeChart/drawTrain.jsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/drawTrain.jsx
  front/src/reducers/osrdsimulation/index.ts
Owners: @DGEXSolutions/front-maintainers

front: fix coordinates crash
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderItineraryMarkers.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: add cargo chef docker image
  editoast/Dockerfile
Owners: @DGEXSolutions/editoast-maintainers

editoast: add cargo chef docker image
  editoast/Dockerfile
Owners: @DGEXSolutions/editoast-maintainers

tests: Remove `setup_dummy_db`
  python/api/osrd_infra/management/commands/setup_dummy_db.py
  tests/conftest.py
  tests/tests/test_scenario.py
  tests/tests/test_simulation.py
  tests/tests/test_stdcm.py
  tests/tests/test_train_schedule.py
  tests/tests/utils/simulation.py
  tests/tests/utils/stdcm.py
Owners: @DGEXSolutions/editoast-maintainers, @eckter

front: fix graph hovering crash
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap/RenderBlockState.tsx
Owners: @DGEXSolutions/front-maintainers

front: GET - fix coordinated cursors
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/SpaceTimeChart.jsx
Owners: @DGEXSolutions/front-maintainers

front: GET - fix coordinated cursors
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/SpaceTimeChart.jsx
Owners: @DGEXSolutions/front-maintainers

editoast: migrate POST /rolling_stock and implement model for rolling_stock
  editoast/openapi.yaml
  editoast/src/models/mod.rs
  editoast/src/models/rolling_stock.rs
  editoast/src/schema/rolling_stock.rs
  editoast/src/schema/rolling_stock_image.rs
  editoast/src/schema/rolling_stock_livery.rs
  editoast/src/tables.rs
  editoast/src/views/light_rolling_stocks.rs
  editoast/src/views/rolling_stocks.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

add documentation to openApi.yaml
  editoast/openapi.yaml
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

fix Thibault's comments
  editoast/src/models/mod.rs
  editoast/src/models/rolling_stock.rs
  editoast/src/schema/rolling_stock.rs
  editoast/src/schema/rolling_stock_image.rs
  editoast/src/schema/rolling_stock_livery.rs
  editoast/src/views/light_rolling_stocks.rs
  editoast/src/views/rolling_stocks.rs
Owners: @DGEXSolutions/editoast-maintainers

front: clean GEV
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/withOSRDData.jsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/applications/stdcm/views/OSRDStdcmResults.jsx
  front/src/stories/SpeedSpaceChart.stories.tsx
Owners: @DGEXSolutions/front-maintainers

front: rsiolate fro DisplayItineary
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Destination.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Origin.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Vias.tsx
Owners: @DGEXSolutions/front-maintainers

core: Remove `python_interactive_client/`
  core/src/python_interactive_client/osrd_interactive.py
  core/src/python_interactive_client/test.py
Owners: @DGEXSolutions/core-maintainers

front: isolate ModalSuggeredVias
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/ModalSuggeredVias.tsx
Owners: @DGEXSolutions/front-maintainers

core: Remove `python_interactive_client/`
  core/src/python_interactive_client/osrd_interactive.py
  core/src/python_interactive_client/test.py
Owners: @DGEXSolutions/core-maintainers

core: Remove `python_interactive_client/`
  core/src/python_interactive_client/osrd_interactive.py
  core/src/python_interactive_client/test.py
Owners: @DGEXSolutions/core-maintainers

front: clean GEV
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/withOSRDData.jsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/applications/stdcm/views/OSRDStdcmResults.jsx
  front/src/stories/SpeedSpaceChart.stories.tsx
Owners: @DGEXSolutions/front-maintainers

front: clean GEV
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/withOSRDData.jsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/applications/stdcm/views/OSRDStdcmResults.jsx
  front/src/stories/SpeedSpaceChart.stories.tsx
Owners: @DGEXSolutions/front-maintainers

front: fix graph hovering crash
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap/RenderBlockState.tsx
Owners: @DGEXSolutions/front-maintainers

front: fix graph hovering crash
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap/RenderBlockState.tsx
Owners: @DGEXSolutions/front-maintainers

front: fix coordinates crash
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderItineraryMarkers.tsx
Owners: @DGEXSolutions/front-maintainers

front: fix coordinates crash
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderItineraryMarkers.tsx
Owners: @DGEXSolutions/front-maintainers

front: fix-bug: display rolling stock images
  front/src/common/RollingStockSelector/RollingStock2Img.jsx
  front/src/common/RollingStockSelector/RollingStock2Img.tsx
Owners: @DGEXSolutions/front-maintainers

front: fix-bug: display rolling stock images
  front/src/common/RollingStockSelector/RollingStock2Img.jsx
  front/src/common/RollingStockSelector/RollingStock2Img.tsx
Owners: @DGEXSolutions/front-maintainers

front: fix-bug: display rolling stock images
  front/src/common/RollingStockSelector/RollingStock2Img.jsx
  front/src/common/RollingStockSelector/RollingStock2Img.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: bump dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/editoast_derive/Cargo.lock
  editoast/editoast_derive/Cargo.toml
Owners: @DGEXSolutions/editoast-maintainers

front: bugfix on chips & zindex on simulationResult
  front/src/common/BootstrapSNCF/ChipsSNCF.jsx
  front/src/styles/scss/applications/operationalStudies/_simulationresults.scss
Owners: @DGEXSolutions/front-maintainers
