Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @osrd-project/front-maintainers, @osrd-project/editoast-maintainers, @eckter, @osrd-project/core-maintainers, @osrd-project/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @osrd-project/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @osrd-project/editoast-maintainers
/editoast/openapi.yaml
/chartos                                                 @osrd-project/editoast-maintainers
/python                                                  @osrd-project/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @osrd-project/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @osrd-project/physics
*Integration*.java                                       @osrd-project/physics

front: restore safeguard and add option to display values
  front/src/applications/editor/components/LinearMetadata/data.ts
  front/src/applications/editor/components/LinearMetadata/dataviz.tsx
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/stories/IntervalsEditor.stories.tsx
Owners: @osrd-project/front-maintainers

front ed lock
  front/yarn.lock
Owners: @osrd-project/front-maintainers

front: move elements
  front/src/applications/editor/components/LinearMetadata/style.scss
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/stories/IntervalsEditor.stories.tsx
  front/src/stories/storybook.css
  front/src/stories/storybook.css.map
  front/src/styles/scss/common/components/_intervalsEditor.scss
Owners: @osrd-project/front-maintainers

front: move elements
  front/src/applications/editor/components/LinearMetadata/style.scss
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/stories/IntervalsEditor.stories.tsx
  front/src/stories/storybook.css
  front/src/stories/storybook.css.map
  front/src/styles/scss/common/components/_intervalsEditor.scss
Owners: @osrd-project/front-maintainers

front: remove dblclick for interval edtor
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
Owners: @osrd-project/front-maintainers

front: drafted intervalsEditor
  front/src/applications/editor/components/LinearMetadata/FormComponent.tsx
  front/src/applications/editor/components/LinearMetadata/dataviz.tsx
  front/src/applications/editor/components/LinearMetadata/style.scss
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/stories/IntervalsEditor.stories.tsx
Owners: @osrd-project/front-maintainers

front: correct behave on differnt context for interval selector
  front/src/applications/editor/components/LinearMetadata/data.ts
  front/src/applications/editor/components/LinearMetadata/dataviz.tsx
  front/src/applications/editor/components/LinearMetadata/style.scss
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/stories/IntervalsEditor.stories.tsx
  front/src/stories/storybook.css
  front/src/stories/storybook.css.map
  front/src/styles/scss/common/components/_intervalsEditor.scss
Owners: @osrd-project/front-maintainers

front: ending the 0.5
  front/package.json
  front/src/applications/editor/components/LinearMetadata/dataviz.tsx
  front/src/applications/editor/components/LinearMetadata/style.scss
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/stories/IntervalsEditor.stories.tsx
  front/src/stories/storybook.css
  front/src/stories/storybook.css.map
  front/src/styles/scss/common/components/_intervalsEditor.scss
Owners: @osrd-project/front-maintainers

front: Intervals Editor, tools Icon Setup
  front/src/applications/editor/components/LinearMetadata/style.scss
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/stories/IntervalsEditor.stories.tsx
Owners: @osrd-project/front-maintainers

front: drafted intervalsEditor
  front/src/applications/editor/components/LinearMetadata/FormComponent.tsx
  front/src/applications/editor/components/LinearMetadata/dataviz.tsx
  front/src/applications/editor/components/LinearMetadata/style.scss
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/stories/IntervalsEditor.stories.tsx
Owners: @osrd-project/front-maintainers

editoast: docker-compose: stop providing ROCKET_PROFILE
  docker-compose-host.yml
  docker-compose.yml
Owners: none

front: rollingstockeditor: create RollingStockEditorFormMetadata; add schema for metadata; add button in RollingStockEditor to add a rolling stock
  front/public/locales/fr/rollingStockEditor.json
  front/src/applications/rollingStockEditor/components/RollingStockEditorButtons.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorCard.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorForm.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorFormModal.tsx
  front/src/applications/rollingStockEditor/consts.ts
  front/src/applications/rollingStockEditor/json/RollingStockBaseOpenapiSchema.json
  front/src/applications/rollingStockEditor/views/RollingStockEditor.tsx
  front/src/assets/defaultRSImages/blue_train.png
  front/src/common/BootstrapSNCF/InputSNCF.tsx
  front/src/common/RollingStockSelector/RollingStock2Img.tsx
  front/src/common/RollingStockSelector/RollingStockCard.jsx
  front/src/common/RollingStockSelector/RollingStockHelpers.jsx
  front/src/common/RollingStockSelector/RollingStockModal.tsx
  front/src/styles/scss/applications/rollingStockEditor/_rollingStockForm.scss
  front/src/styles/scss/common/_components.scss
  front/src/styles/scss/common/components/_rollingStock.scss
Owners: @osrd-project/front-maintainers

editoast: docker-compose: stop providing ROCKET_PROFILE
  docker-compose-host.yml
  docker-compose.yml
Owners: none

editoast: docker-compose: stop providing ROCKET_PROFILE
  docker-compose-host.yml
  docker-compose.yml
Owners: none

editoast: use fixtures in tests where possible
  .github/workflows/editoast.yml
  editoast/README.md
  editoast/src/fixtures.rs
  editoast/src/models/projects.rs
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tests/train_schedule.json
  editoast/src/views/documents.rs
  editoast/src/views/electrical_profiles.rs
  editoast/src/views/infra/attached.rs
  editoast/src/views/infra/errors.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/objects.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/projects.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
Owners: @flomonster, @multun, @osrd-project/editoast-maintainers

front: rollingstockeditor: create RollingStockEditorFormMetadata; add schema for metadata; add button in RollingStockEditor to add a rolling stock
  front/public/locales/fr/rollingStockEditor.json
  front/src/applications/rollingStockEditor/components/RollingStockEditorButtons.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorCard.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorForm.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorFormModal.tsx
  front/src/applications/rollingStockEditor/consts.ts
  front/src/applications/rollingStockEditor/json/RollingStockBaseOpenapiSchema.json
  front/src/applications/rollingStockEditor/views/RollingStockEditor.tsx
  front/src/assets/defaultRSImages/blue_train.png
  front/src/common/BootstrapSNCF/InputSNCF.tsx
  front/src/common/RollingStockSelector/RollingStock2Img.tsx
  front/src/common/RollingStockSelector/RollingStockCard.jsx
  front/src/common/RollingStockSelector/RollingStockHelpers.jsx
  front/src/common/RollingStockSelector/RollingStockModal.tsx
  front/src/styles/scss/applications/rollingStockEditor/_rollingStockForm.scss
  front/src/styles/scss/common/_components.scss
  front/src/styles/scss/common/components/_rollingStock.scss
Owners: @osrd-project/front-maintainers

front: rollingstockeditor: create RollingStockEditorFormMetadata; add schema for metadata; add button in RollingStockEditor to add a rolling stock
  front/public/locales/fr/rollingStockEditor.json
  front/src/applications/rollingStockEditor/components/RollingStockEditorButtons.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorCard.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorForm.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorFormModal.tsx
  front/src/applications/rollingStockEditor/consts.ts
  front/src/applications/rollingStockEditor/json/RollingStockBaseOpenapiSchema.json
  front/src/applications/rollingStockEditor/views/RollingStockEditor.tsx
  front/src/assets/defaultRSImages/blue_train.png
  front/src/common/BootstrapSNCF/InputSNCF.tsx
  front/src/common/RollingStockSelector/RollingStock2Img.tsx
  front/src/common/RollingStockSelector/RollingStockCard.jsx
  front/src/common/RollingStockSelector/RollingStockHelpers.jsx
  front/src/common/RollingStockSelector/RollingStockModal.tsx
  front/src/styles/scss/applications/rollingStockEditor/_rollingStockForm.scss
  front/src/styles/scss/common/_components.scss
  front/src/styles/scss/common/components/_rollingStock.scss
Owners: @osrd-project/front-maintainers

editoast: use fixtures in tests where possible
  .github/workflows/editoast.yml
  editoast/README.md
  editoast/src/fixtures.rs
  editoast/src/models/projects.rs
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tests/train_schedule.json
  editoast/src/views/documents.rs
  editoast/src/views/electrical_profiles.rs
  editoast/src/views/infra/attached.rs
  editoast/src/views/infra/errors.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/objects.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/projects.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
Owners: @flomonster, @multun, @osrd-project/editoast-maintainers

editoast: use fixtures in tests where possible
  .github/workflows/editoast.yml
  editoast/README.md
  editoast/src/fixtures.rs
  editoast/src/models/projects.rs
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tests/train_schedule.json
  editoast/src/views/documents.rs
  editoast/src/views/electrical_profiles.rs
  editoast/src/views/infra/attached.rs
  editoast/src/views/infra/errors.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/objects.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/projects.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
Owners: @flomonster, @multun, @osrd-project/editoast-maintainers

front: fix double use of infra loader css and move it to be usable everywhere it is needed
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
  front/src/styles/scss/common/components/_pathfinding.scss
Owners: @osrd-project/front-maintainers

front: fix infra first fetch and reload trigger in pathfinding
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/common/Pathfinding/Pathfinding.tsx
Owners: @osrd-project/front-maintainers

core: get infra instead of load the infra in simulation and results
  core/src/main/java/fr/sncf/osrd/api/SignalProjectionEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/StandaloneSimulationEndpoint.java
Owners: @osrd-project/core-maintainers

front: block simulation result if infra not loaded
  editoast/openapi.yaml
  front/src/applications/operationalStudies/components/Scenario/getTimetable.jsx
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/front-maintainers

front: block stdcm if infra not loaded
  core/src/main/java/fr/sncf/osrd/api/InfraManager.java
  core/src/main/java/fr/sncf/osrd/api/SignalProjectionEndpoint.java
  front/public/locales/fr/simulation.json
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
Owners: @osrd-project/core-maintainers, @osrd-project/front-maintainers

fixup! tests: update test_timetable.py
  tests/tests/test_timetable.py
Owners: @eckter

tests: update test_timetable.py
  core/src/main/java/fr/sncf/osrd/api/InfraManager.java
  tests/tests/test_timetable.py
Owners: @osrd-project/core-maintainers, @eckter

fixup! tests: update test_timetable.py
  tests/tests/test_timetable.py
Owners: @eckter

front: fix imports after back renaming
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/trainsDurationsIntervals.ts
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
  front/src/reducers/osrdsimulation/types.ts
Owners: @osrd-project/front-maintainers

front: use new timetable endpoint
  editoast/openapi.yaml
  editoast/src/models/timetable.rs
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/trainsDurationsIntervals.ts
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/common/api/osrdEditoastApi.ts
  front/src/reducers/osrdsimulation/index.ts
  front/src/reducers/osrdsimulation/types.ts
Owners: @osrd-project/editoast-maintainers, @osrd-project/front-maintainers

fixup! editoast: add simulation result informations to get timetable
  editoast/openapi.yaml
  front/src/common/api/osrdEditoastApi.ts
Owners: none

front: refacto getTimetable - add reloadTimetable in store to help refresh timetable when necessary
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SubmitConfAddTrainSchedule.tsx
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
  front/src/applications/operationalStudies/components/Scenario/getTimetable.jsx
  front/src/applications/operationalStudies/components/SimulationResults/simulationResultsHelpers.jsx
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/reducers/osrdsimulation/actions.ts
  front/src/reducers/osrdsimulation/index.ts
  front/src/reducers/osrdsimulation/simulation.js
  front/src/reducers/osrdsimulation/types.ts
Owners: @osrd-project/front-maintainers

editoast: add simulation result informations to get timetable
  editoast/openapi.yaml
  editoast/src/models/mod.rs
  editoast/src/models/scenario.rs
  editoast/src/models/timetable.rs
  editoast/src/models/train_schedule.rs
  editoast/src/views/timetable.rs
  editoast/src/views/train_schedule/mod.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/editoast-maintainers

front: fix charthelpers tests
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/__tests__/ChartHelpers.spec.ts
Owners: @osrd-project/front-maintainers

front: fix front after back renaming
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/trainsDurationsIntervals.ts
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/applications/operationalStudies/components/Scenario/getTimetable.jsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/__tests__/ChartHelpers.spec.ts
  front/src/reducers/osrdsimulation/types.ts
Owners: @osrd-project/front-maintainers

fixup! editoast: add simulation result informations to get timetable
  editoast/openapi.yaml
  front/src/common/api/osrdEditoastApi.ts
Owners: none

front: block simulation reuslts if infra not loaded
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/trainsDurationsIntervals.ts
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/reducers/osrdsimulation/index.ts
  front/src/reducers/osrdsimulation/types.ts
Owners: @osrd-project/front-maintainers

front: fix allowances conflicts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SubmitConfAddTrainSchedule.tsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
Owners: @osrd-project/front-maintainers

front: optimise rendering
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
  front/src/applications/operationalStudies/components/Scenario/getTimetable.jsx
  front/src/applications/operationalStudies/components/SimulationResults/simulationResultsHelpers.jsx
  front/src/applications/operationalStudies/views/Scenario.tsx
Owners: @osrd-project/front-maintainers

front: rollingstockeditor: isolate search filters from rollingstockmodal to use it in rollingstockeditor
  front/public/locales/en/rollingStockEditor.json
  front/public/locales/fr/rollingStockEditor.json
  front/src/applications/rollingStockEditor/components/RollingStockEditorButtons.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorForm.tsx
  front/src/applications/rollingStockEditor/consts.ts
  front/src/applications/rollingStockEditor/json/RollingStockBaseOpenapiSchema.json
  front/src/applications/rollingStockEditor/views/RollingStockEditor.tsx
  front/src/common/RollingStockSelector/RollingStockModal.tsx
  front/src/common/RollingStockSelector/SearchRollingStock.tsx
  front/src/common/RollingStockSelector/__tests__/RollingStockModal.spec.ts
  front/src/styles/scss/applications/rollingStockEditor/_rollingStockForm.scss
Owners: @osrd-project/front-maintainers

front: rollingstockeditor: isolate search filters from rollingstockmodal to use it in rollingstockeditor
  front/public/locales/en/rollingStockEditor.json
  front/public/locales/fr/rollingStockEditor.json
  front/src/applications/rollingStockEditor/components/RollingStockEditorButtons.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorForm.tsx
  front/src/applications/rollingStockEditor/consts.ts
  front/src/applications/rollingStockEditor/json/RollingStockBaseOpenapiSchema.json
  front/src/applications/rollingStockEditor/views/RollingStockEditor.tsx
  front/src/common/RollingStockSelector/RollingStockModal.tsx
  front/src/common/RollingStockSelector/SearchRollingStock.tsx
  front/src/common/RollingStockSelector/__tests__/RollingStockModal.spec.ts
  front/src/styles/scss/applications/rollingStockEditor/_rollingStockForm.scss
Owners: @osrd-project/front-maintainers
