Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @osrd-project/front-maintainers, @osrd-project/editoast-maintainers, @eckter, @osrd-project/core-maintainers, @osrd-project/physics

front: drop api routes wip
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
Owners: @osrd-project/front-maintainers

wip
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/Allowance.tsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/Allowances.tsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/EmptyLine.tsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/StandardAllowanceDefault.tsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/allowancesConsts.tsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/withOSRDData.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/reducers/osrdconf/index.ts
Owners: @osrd-project/front-maintainers

editoast + api + schemas: update rolling stock model
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
  editoast/openapi.yaml
  editoast/src/models/rolling_stock/light_rolling_stock.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/tables.rs
  editoast/src/tests/example_rolling_stock_1.json
  editoast/src/tests/example_rolling_stock_2_energy_sources.json
  editoast/src/tests/example_rolling_stock_3.json
  editoast/src/views/rolling_stocks.rs
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/openapi.yaml
  python/api/osrd_infra/migrations/0034_rjs_rollingstock_3_2.py
  python/api/osrd_infra/models/rolling_stock.py
  python/api/poetry.lock
  python/api/static/example_rolling_stock.json
  python/osrd_schemas/osrd_schemas/rolling_stock.py
  python/osrd_schemas/pyproject.toml
  python/railjson_generator/railjson_generator/examples/rolling_stocks/fast_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/fast_rolling_stock_high_gamma.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/short_fast_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/short_slow_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/slow_rolling_stock.json
Owners: @osrd-project/core-maintainers, @osrd-project/editoast-maintainers

editoast + api + schemas: update rolling stock model
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
  editoast/openapi.yaml
  editoast/src/models/rolling_stock/light_rolling_stock.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/tables.rs
  editoast/src/tests/example_rolling_stock_1.json
  editoast/src/tests/example_rolling_stock_2_energy_sources.json
  editoast/src/tests/example_rolling_stock_3.json
  editoast/src/views/rolling_stocks.rs
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/openapi.yaml
  python/api/osrd_infra/migrations/0034_rjs_rollingstock_3_2.py
  python/api/osrd_infra/models/rolling_stock.py
  python/api/poetry.lock
  python/api/static/example_rolling_stock.json
  python/osrd_schemas/osrd_schemas/rolling_stock.py
  python/osrd_schemas/pyproject.toml
  python/railjson_generator/railjson_generator/examples/rolling_stocks/fast_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/fast_rolling_stock_high_gamma.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/short_fast_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/short_slow_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/slow_rolling_stock.json
Owners: @osrd-project/core-maintainers, @osrd-project/editoast-maintainers

front: refresh conflicts when train is moved on timetable + use train name instead of id in conflict card
  front/src/applications/operationalStudies/components/Scenario/ConflictsList.tsx
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
  front/src/applications/operationalStudies/views/Scenario.tsx
Owners: @osrd-project/front-maintainers

front: use enhanced endpoint to filter light rolling stock
  editoast/openapi.yaml
  front/src/applications/operationalStudies/views/ImportTrainSchedule.tsx
  front/src/applications/rollingStockEditor/Home.tsx
  front/src/common/RollingStockSelector/RollingStockModal.tsx
  front/src/common/api/enhancedEditoastApi.ts
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/front-maintainers

editoast: fix infra import order to cache (search) signals correctly
  editoast/src/main.rs
  editoast/src/models/infra.rs
Owners: @osrd-project/editoast-maintainers

editoast: mod.rs: edit trainschedule
  editoast/src/views/train_schedule/mod.rs
Owners: @osrd-project/editoast-maintainers

editoast: allow comparing NonBlankStrings with &str
  editoast/src/schema/utils/non_blank_string.rs
Owners: @osrd-project/editoast-maintainers

editoast: allow comparing NonBlankStrings with &str
  editoast/src/schema/utils/non_blank_string.rs
Owners: @osrd-project/editoast-maintainers

editoast: osm-to-railjson: read catenaries
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
  editoast/src/tests/minimal_rail.osm.pbf
Owners: @osrd-project/editoast-maintainers

editoast: osm-to-railjson: read catenaries
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
  editoast/src/tests/minimal_rail.osm.pbf
Owners: @osrd-project/editoast-maintainers

editoast: fix infra import order to cache (search) signals correctly
  editoast/src/main.rs
  editoast/src/models/infra.rs
Owners: @osrd-project/editoast-maintainers

editoast: fix infra import order to cache (search) signals correctly
  editoast/src/main.rs
  editoast/src/models/infra.rs
Owners: @osrd-project/editoast-maintainers

editoast: add TrainSchedule id to openApi
  editoast/openapi.yaml
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
Owners: none

editoast: osm-to-railjson: factorize getting track+position from node
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
Owners: @osrd-project/editoast-maintainers

editoast: osm-to-railjson: read operational points (stations)
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
  editoast/src/schema/mod.rs
  editoast/src/tests/station.osm.pbf
Owners: @osrd-project/editoast-maintainers

editoast: fix rtk file
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
Owners: none

front: use enhanced endpoint to filter light rolling stock
  editoast/openapi.yaml
  front/src/applications/operationalStudies/views/ImportTrainSchedule.tsx
  front/src/applications/rollingStockEditor/Home.tsx
  front/src/common/RollingStockSelector/RollingStockModal.tsx
  front/src/common/api/enhancedEditoastApi.ts
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/front-maintainers

front: use enhanced endpoint to filter light rolling stock
  editoast/openapi.yaml
  front/src/applications/operationalStudies/views/ImportTrainSchedule.tsx
  front/src/applications/rollingStockEditor/Home.tsx
  front/src/common/RollingStockSelector/RollingStockModal.tsx
  front/src/common/api/enhancedEditoastApi.ts
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/front-maintainers

front: Add graph/spreadsheet part to rs editor
  front/package.json
  front/src/applications/rollingStockEditor/components/RollingStockEditorCard.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorCurves.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorForm.tsx
  front/src/applications/rollingStockEditor/views/RollingStockEditor.tsx
  front/src/common/RollingStockSelector/RollingStockCardDetail.tsx
  front/src/common/RollingStockSelector/RollingStockCurves.tsx
  front/src/styles/scss/applications/rollingStockEditor/_rollingStockForm.scss
  front/yarn.lock
Owners: @osrd-project/front-maintainers

front: revert ImportTrainSchedule getLightRollingStockQuery pageSize query param to 1000
  front/src/applications/operationalStudies/views/ImportTrainSchedule.tsx
  front/tests/stdcm-page.spec.ts
Owners: @osrd-project/front-maintainers

Revert "front: use enhanced endpoint to filter light rolling stock"
  editoast/openapi.yaml
  front/src/applications/operationalStudies/views/ImportTrainSchedule.tsx
  front/src/applications/rollingStockEditor/Home.tsx
  front/src/common/RollingStockSelector/RollingStockModal.tsx
  front/src/common/api/enhancedEditoastApi.ts
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/front-maintainers

Revert "front: use enhanced endpoint to filter light rolling stock"
  editoast/openapi.yaml
  front/src/applications/operationalStudies/views/ImportTrainSchedule.tsx
  front/src/applications/rollingStockEditor/Home.tsx
  front/src/common/RollingStockSelector/RollingStockModal.tsx
  front/src/common/api/enhancedEditoastApi.ts
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/front-maintainers

Revert "front: use enhanced endpoint to filter light rolling stock"
  editoast/openapi.yaml
  front/src/applications/operationalStudies/views/ImportTrainSchedule.tsx
  front/src/applications/rollingStockEditor/Home.tsx
  front/src/common/RollingStockSelector/RollingStockModal.tsx
  front/src/common/api/enhancedEditoastApi.ts
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/front-maintainers

front: fix conflictslist train names
  front/src/applications/operationalStudies/components/Scenario/ConflictsList.tsx
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Owners: @osrd-project/front-maintainers

front: fix conflictslist train names
  front/src/applications/operationalStudies/components/Scenario/ConflictsList.tsx
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Owners: @osrd-project/front-maintainers

front: fix conflictslist train names
  front/src/applications/operationalStudies/components/Scenario/ConflictsList.tsx
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Owners: @osrd-project/front-maintainers

api: add scheduled points to the train schedule model
  python/api/osrd_infra/migrations/0035_trainschedule_scheduled_points.py
  python/api/osrd_infra/models/train_schedule.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
  python/api/osrd_infra/views/train_schedule/train_schedule.py
  python/api/poetry.lock
  python/osrd_schemas/osrd_schemas/train_schedule.py
  python/osrd_schemas/poetry.lock
  python/osrd_schemas/pyproject.toml
Owners: @osrd-project/editoast-maintainers

core: add tests for scheduled points
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSStandaloneTrainSchedule.java
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/StandaloneSimTests.java
Owners: @osrd-project/core-maintainers

core: add scheduled points to the simulation endpoint
  core/openapi.yaml
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSSchedulePoint.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSStandaloneTrainSchedule.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/cli/StandaloneSimulationCommand.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSStandaloneTrainScheduleParser.java
  core/src/main/java/fr/sncf/osrd/train/ScheduledPoint.java
  core/src/main/java/fr/sncf/osrd/train/StandaloneTrainSchedule.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractorTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMHelpers.java
Owners: @osrd-project/core-maintainers

editoast: adapt editoast to handle scheduled points
  editoast/openapi.yaml
  editoast/src/models/train_schedule.rs
  editoast/src/tables.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/editoast-maintainers

core: add scheduled point behavior
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
Owners: @osrd-project/core-maintainers

editoast: update delete rolling stock openApi
  editoast/openapi.yaml
  editoast/src/views/rolling_stocks/mod.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/editoast-maintainers

editoast: forcefully delete used rolling stock
  editoast/src/views/rolling_stocks/mod.rs
  tests/conftest.py
Owners: @osrd-project/editoast-maintainers, @eckter

editoast: check rolling stock usage
  editoast/src/fixtures.rs
  editoast/src/main.rs
  editoast/src/models/electrical_profile.rs
  editoast/src/models/mod.rs
  editoast/src/models/pathfinding.rs
  editoast/src/models/projects.rs
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/models/timetable.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tests/electrical_profile_set.json
  editoast/src/tests/pathmodel.json
  editoast/src/tests/train_schedule.json
  editoast/src/views/electrical_profiles.rs
  editoast/src/views/rolling_stocks.rs
  editoast/src/views/train_schedule/mod.rs
Owners: @osrd-project/editoast-maintainers

editoast: delete rolling stock only if it is not used
  editoast/src/fixtures.rs
  editoast/src/models/electrical_profile.rs
  editoast/src/models/pathfinding.rs
  editoast/src/models/projects.rs
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tests/pathmodel.json
  editoast/src/views/electrical_profiles.rs
  editoast/src/views/rolling_stocks/mod.rs
  editoast/src/views/rolling_stocks/sql/get_train_schedules_with_scenario.sql
Owners: @osrd-project/editoast-maintainers

editoast: check rolling stock usage
  editoast/src/fixtures.rs
  editoast/src/main.rs
  editoast/src/models/electrical_profile.rs
  editoast/src/models/mod.rs
  editoast/src/models/pathfinding.rs
  editoast/src/models/projects.rs
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/models/timetable.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tests/electrical_profile_set.json
  editoast/src/tests/pathmodel.json
  editoast/src/tests/train_schedule.json
  editoast/src/views/electrical_profiles.rs
  editoast/src/views/rolling_stocks.rs
  editoast/src/views/train_schedule/mod.rs
Owners: @osrd-project/editoast-maintainers

editoast: update delete rolling stock openApi
  editoast/openapi.yaml
  editoast/src/views/rolling_stocks/mod.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/editoast-maintainers

editoast: forcefully delete used rolling stock
  editoast/src/views/rolling_stocks/mod.rs
  tests/conftest.py
Owners: @osrd-project/editoast-maintainers, @eckter

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @osrd-project/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @osrd-project/editoast-maintainers
/editoast/openapi.yaml
/chartos                                                 @osrd-project/editoast-maintainers
/python                                                  @osrd-project/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @osrd-project/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @osrd-project/physics
*Integration*.java                                       @osrd-project/physics
