Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

front: tests: move assets to ./assets
  front/tests/assets/common/rollingStock.json
  front/tests/assets/operationStudies/project.json
  front/tests/assets/operationStudies/scenario.json
  front/tests/assets/operationStudies/study.json
  front/tests/operational-studies.spec.ts
  front/tests/playwright-data-test.json
  front/tests/stdcm-page.spec.ts
Owners: @DGEXSolutions/front-maintainers

front: Upgrade tests to click navigation and remove vite overlay conditionnally
  front/tests/home-page-model.tsx
  front/tests/home-page.spec.tsx
  front/tests/operational-studies.spec.ts
  front/tests/stdcm-page.spec.ts
Owners: @DGEXSolutions/front-maintainers

front: Upgrade tests to click navigation and remove vite overlay conditionnally
  front/tests/home-page-model.tsx
  front/tests/home-page.spec.tsx
  front/tests/operational-studies.spec.ts
  front/tests/stdcm-page.spec.ts
Owners: @DGEXSolutions/front-maintainers

front: tests: move assets to ./assets
  front/tests/assets/common/rollingStock.json
  front/tests/assets/operationStudies/project.json
  front/tests/assets/operationStudies/scenario.json
  front/tests/assets/operationStudies/study.json
  front/tests/operational-studies.spec.ts
  front/tests/playwright-data-test.json
  front/tests/stdcm-page.spec.ts
Owners: @DGEXSolutions/front-maintainers

front: remove useless code after rebase
  front/tests/stdcm-page.spec.ts
Owners: @DGEXSolutions/front-maintainers

front: tests: add more catch routes
  front/tests/assets/operationStudies/scenario.json
  front/tests/assets/operationStudies/study.json
  front/tests/operational-studies.spec.ts
Owners: @DGEXSolutions/front-maintainers

front: tests: add more catch routes
  front/tests/assets/operationStudies/scenario.json
  front/tests/assets/operationStudies/study.json
  front/tests/operational-studies.spec.ts
Owners: @DGEXSolutions/front-maintainers

front: tests: move assets to ./assets
  front/tests/assets/common/rollingStock.json
  front/tests/assets/operationStudies/project.json
  front/tests/assets/operationStudies/scenario.json
  front/tests/assets/operationStudies/study.json
  front/tests/operational-studies.spec.ts
  front/tests/playwright-data-test.json
  front/tests/stdcm-page.spec.ts
Owners: @DGEXSolutions/front-maintainers

front: tests: add comments of requests interceptions
  front/tests/operational-studies.spec.ts
  front/tests/stdcm-page.spec.ts
Owners: @DGEXSolutions/front-maintainers

front: remove useless code after rebase
  front/tests/stdcm-page.spec.ts
Owners: @DGEXSolutions/front-maintainers

front: tests: add comments of requests interceptions
  front/tests/operational-studies.spec.ts
  front/tests/stdcm-page.spec.ts
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: change files names
  front/src/applications/operationalStudies/components/ManageTrainSchedule/AddOrEditTrainSchedule.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/TrainLabels.jsx
Owners: @DGEXSolutions/front-maintainers

front: fix error when no project, study or scenario ID with navigation return
  front/src/applications/operationalStudies/views/Project.jsx
  front/src/applications/operationalStudies/views/Scenario.jsx
  front/src/applications/operationalStudies/views/Study.jsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: locales corrections
  front/public/locales/fr/operationalStudies/scenario.json
  front/public/locales/fr/simulation.json
  front/src/applications/operationalStudies/components/Scenario/Timetable.jsx
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: rename & passing AddOrEditTrainSchedule to TSX
  front/src/applications/operationalStudies/components/ManageTrainSchedule/AddOrEditTrainSchedule.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/AddOrEditTrainSchedule.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/AddOrEditTrainSchedule/formatConf.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/AddOrEditTrainSchedule/trainNameHelper.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/AddTrainLabels.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances.tsx
  front/src/applications/operationalStudies/components/Scenario/Timetable.jsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.jsx
  front/src/reducers/osrdsimulation/simulation.js
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: light refacto & ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/AddOrEditTrainSchedule.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/TrainSettings.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/submitConf.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/trainNameHelper.js
  front/src/applications/operationalStudies/components/Scenario/Timetable.jsx
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdconf/selectors.ts
  front/src/reducers/osrdsimulation/simulation.js
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: remove ugly getOSRDconf
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/TrainSettings.tsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: itinerary gets typescript
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Origin.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Vias.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/index.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/ModalSuggeredVias.jsx
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/common/Pathfinding/Pathfinding.tsx
  front/src/reducers/osrdconf/index.ts
  front/src/utils/pathfinding.ts
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: minor code fixes
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/submitConf.ts
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: train settings with store
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/TrainSettings.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: correct conflicts from rebase
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/submitConf.ts
  front/src/applications/operationalStudies/consts.ts
  front/src/reducers/osrdconf/index.ts
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: rename type to mapTrackSourcesType more clear
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/ModalSuggeredVias.tsx
  front/src/common/Pathfinding/Pathfinding.tsx
Owners: @DGEXSolutions/front-maintainers

front: change vite port to 3000 & remove useless file to pass build
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances.tsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: refacto vias & typescript
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Destination.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Origin.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayVias.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/ModalSuggeredVias.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderItineraryMarkers.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderPopup.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/stdcm/formatStcmConf.ts
  front/src/common/Pathfinding/Pathfinding.tsx
  front/src/utils/pathfinding.ts
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: add electricalProfiles checkbox
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ElectricalProfiles.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/TrainSettings.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/assets/pictures/components/electricalProfiles.svg
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdconf/selectors.ts
Owners: @DGEXSolutions/front-maintainers

front: remove fullscreen button by default, typescripting mapbuttons
  front/src/applications/customget/views/CustomGET.jsx
  front/src/applications/editor/Editor.tsx
  front/src/applications/referenceMap/Map.tsx
  front/src/common/Map/Buttons/MapButtons.tsx
  front/src/common/Map/const.ts
Owners: @DGEXSolutions/front-maintainers

front: map popup: make it zoomable
  front/src/styles/scss/common/map/_popup.scss
Owners: @DGEXSolutions/front-maintainers

core: mareco: rework accelerating slope detection
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/allowances/mareco_impl/AcceleratingSlopeCoast.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_utils/DistanceAverage.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/AllowanceTests.java
Owners: @DGEXSolutions/core-maintainers

core: mareco: add small tolerance to coast end position
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/allowances/mareco_impl/CoastingGenerator.java
Owners: @DGEXSolutions/core-maintainers

fix
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
Owners: @DGEXSolutions/front-maintainers

core: envelope: add check for case where train can't start
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/pipelines/MaxEffortEnvelope.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/MaxEffortEnvelopeTest.java
Owners: @DGEXSolutions/core-maintainers

front : display powerNotch keys
  front/public/locales/fr/rollingstock.json
  front/src/common/RollingStockSelector/RollingStockCardDetail.jsx
Owners: @DGEXSolutions/front-maintainers

front: GET: edit rotate condition for y attr()
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/enableInteractivity.jsx
Owners: @DGEXSolutions/front-maintainers

front: MapSearchStation: refacto search to use '=i' operator and split trigram search and name search
  front/src/common/Map/Search/MapSearchStation.jsx
Owners: @DGEXSolutions/front-maintainers

front: Fix comments
  front/src/common/Map/Search/MapSearchStation.jsx
Owners: @DGEXSolutions/front-maintainers

front: Fix comments
  front/src/common/Map/Search/MapSearchStation.jsx
Owners: @DGEXSolutions/front-maintainers

front: MapSearchStation: fix results where trigram search was still present after four letters
  front/src/common/Map/Search/MapSearchStation.jsx
Owners: @DGEXSolutions/front-maintainers

Remove useCallback
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
Owners: @DGEXSolutions/front-maintainers

codecov: java: count partials as hits
  codecov.yml
Owners: none

front: rollingstock_card: power_restrictions minor fix
  front/public/locales/fr/rollingstock.json
  front/src/common/RollingStockSelector/RollingStockCardDetail.jsx
Owners: @DGEXSolutions/front-maintainers

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics
