Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @osrd-project/front-maintainers, @osrd-project/editoast-maintainers, @eckter, @osrd-project/core-maintainers, @osrd-project/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @osrd-project/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @osrd-project/editoast-maintainers
/editoast/openapi.yaml
/chartos                                                 @osrd-project/editoast-maintainers
/python                                                  @osrd-project/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @osrd-project/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @osrd-project/physics
*Integration*.java                                       @osrd-project/physics

front: test e2e: add 10 trains
  front/src/applications/operationalStudies/components/ManageTrainSchedule/TrainAddingSettings.tsx
  front/tests/005-operational-studies.spec.ts
  front/tests/pages/scenario-page-model.ts
Owners: @osrd-project/front-maintainers

front: intervals editor - fix the create function - add typing (IntervalItem) - clean props and intervalEditor.stories - create separated components for the tools buttons and the form
  front/public/locales/en/common/common.json
  front/public/locales/fr/common/common.json
  front/src/common/IntervalsDataViz/data.ts
  front/src/common/IntervalsDataViz/dataviz.tsx
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/common/IntervalsEditor/IntervalsEditorCommonForm.tsx
  front/src/common/IntervalsEditor/IntervalsEditorMarginForm.tsx
  front/src/common/IntervalsEditor/IntervalsEditorSelectForm.tsx
  front/src/common/IntervalsEditor/IntervalsEditorToolButtons.tsx
  front/src/common/IntervalsEditor/ZoomButtons.tsx
  front/src/common/IntervalsEditor/types.ts
  front/src/stories/IntervalsEditor.stories.tsx
Owners: @osrd-project/front-maintainers

front: intervals editor - fix the create function - add typing (IntervalItem) - clean props and intervalEditor.stories - create separated components for the tools buttons and the form
  front/public/locales/en/common/common.json
  front/public/locales/fr/common/common.json
  front/src/common/IntervalsDataViz/data.ts
  front/src/common/IntervalsDataViz/dataviz.tsx
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/common/IntervalsEditor/IntervalsEditorCommonForm.tsx
  front/src/common/IntervalsEditor/IntervalsEditorMarginForm.tsx
  front/src/common/IntervalsEditor/IntervalsEditorSelectForm.tsx
  front/src/common/IntervalsEditor/IntervalsEditorToolButtons.tsx
  front/src/common/IntervalsEditor/ZoomButtons.tsx
  front/src/common/IntervalsEditor/types.ts
  front/src/stories/IntervalsEditor.stories.tsx
Owners: @osrd-project/front-maintainers

set default values in new folder /utils; add comas to error messages; refacto API requests in modal; change schema.json to TS array; clean translations
  front/public/locales/en/rollingstock.json
  front/public/locales/fr/rollingstock.json
  front/src/applications/rollingStockEditor/components/RollingStockEditorForm.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorFormModal.tsx
  front/src/applications/rollingStockEditor/consts.ts
  front/src/applications/rollingStockEditor/utils.ts
Owners: @osrd-project/front-maintainers

api: add batch delete endpoint for train schedules
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/openapi.yaml
  python/api/osrd_infra/views/train_schedule/train_schedule.py
  tests/conftest.py
  tests/tests/test_train_schedule.py
  tests/tests/utils/timetable.py
Owners: @osrd-project/editoast-maintainers, @eckter

editoast: Add batch delete endpoint for train schedules
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  editoast/src/views/train_schedule/mod.rs
  front/src/common/api/osrdEditoastApi.ts
  tests/tests/test_train_schedule.py
Owners: @osrd-project/editoast-maintainers, @eckter

core: api: handle electrical profile transient download errors
  core/osrd-reporting/src/main/java/fr/sncf/osrd/reporting/exceptions/ErrorType.java
  core/osrd-reporting/src/main/java/fr/sncf/osrd/reporting/exceptions/OSRDError.java
  core/src/main/java/fr/sncf/osrd/api/ElectricalProfileSetManager.java
  core/src/test/java/fr/sncf/osrd/api/ApiTest.java
  core/src/test/java/fr/sncf/osrd/api/ElectricalProfileSetManagerTest.java
Owners: @osrd-project/core-maintainers

editoast: fix core standalone simulation request format
  editoast/src/core/simulation.rs
  editoast/src/models/mod.rs
  editoast/src/models/train_schedule.rs
  editoast/src/views/train_schedule/mod.rs
Owners: @osrd-project/editoast-maintainers

editoast: fix core standalone simulation request format
  editoast/src/core/simulation.rs
  editoast/src/models/mod.rs
  editoast/src/models/train_schedule.rs
  editoast/src/views/train_schedule/mod.rs
Owners: @osrd-project/editoast-maintainers

front: intervals editor, add debounced number inputs in forms
  front/src/common/BootstrapSNCF/FormSNCF/DebouncedNumberInputSNCF.tsx
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/common/IntervalsEditor/IntervalsEditorCommonForm.tsx
Owners: @osrd-project/front-maintainers

front: intervals editor, empty segment can be selected
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
Owners: @osrd-project/front-maintainers

front: intervals editor, create separated components for the scales and the interval items
  front/src/common/IntervalsDataViz/IntervalItem.tsx
  front/src/common/IntervalsDataViz/Scales.tsx
  front/src/common/IntervalsDataViz/dataviz.tsx
  front/src/common/IntervalsDataViz/types.ts
  front/src/common/IntervalsDataViz/utils.ts
Owners: @osrd-project/front-maintainers

front: intervals editor, horizontal scale resizes if window is resized
  front/src/common/IntervalsDataViz/Scales.tsx
  front/src/common/IntervalsDataViz/dataviz.tsx
  front/src/common/IntervalsDataViz/style.scss
Owners: @osrd-project/front-maintainers

front: intervals editor, values are hidden if there is not enough space
  front/src/common/IntervalsDataViz/style.scss
Owners: @osrd-project/front-maintainers

front: intervals editor, fix number of digits on resize of an interval
  front/src/common/IntervalsDataViz/dataviz.tsx
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
Owners: @osrd-project/front-maintainers

front: intervals editor, allow to resize last segment
  front/src/common/IntervalsDataViz/IntervalItem.tsx
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
Owners: @osrd-project/front-maintainers

front: intervals editor, make default value compulsory
  front/src/common/IntervalsDataViz/IntervalItem.tsx
  front/src/common/IntervalsDataViz/data.ts
  front/src/common/IntervalsDataViz/dataviz.tsx
  front/src/common/IntervalsDataViz/types.ts
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/common/IntervalsEditor/IntervalsEditorMarginForm.tsx
  front/src/common/IntervalsEditor/IntervalsEditorSelectForm.tsx
  front/src/stories/IntervalsEditor.stories.tsx
Owners: @osrd-project/front-maintainers

actions: use the same docker cache scope everywhere
  .github/workflows/docker-build-push-template.yml
  .github/workflows/docker-build-push.yml
Owners: @flomonster, @multun

actions: update org references
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/workflows/docker-build-push.yml
Owners: @flomonster, @multun

core: api: handle electrical profile transient download errors
  core/osrd-reporting/src/main/java/fr/sncf/osrd/reporting/exceptions/ErrorType.java
  core/osrd-reporting/src/main/java/fr/sncf/osrd/reporting/exceptions/OSRDError.java
  core/src/main/java/fr/sncf/osrd/api/ElectricalProfileSetManager.java
  core/src/test/java/fr/sncf/osrd/api/ApiTest.java
  core/src/test/java/fr/sncf/osrd/api/ElectricalProfileSetManagerTest.java
Owners: @osrd-project/core-maintainers

core: kt-infra: migrate MRSP
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/Path.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/PathImpl.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/units/Speed.kt
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/LegacyMRSP.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/MRSP.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMSimulations.java
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
  core/src/main/kotlin/fr/sncf/osrd/utils/JavaInteroperabilityTools.kt
  core/src/test/java/fr/sncf/osrd/DriverBehaviourTest.java
  core/src/test/java/fr/sncf/osrd/envelope_sim_infra/LegacyMRSPTest.java
  core/src/test/java/fr/sncf/osrd/envelope_sim_infra/MRSPTest.java
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/PathTests.kt
Owners: @osrd-project/core-maintainers

editoast: migrate /stdcm endpoint
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  editoast/src/core/mod.rs
  editoast/src/core/pathfinding.rs
  editoast/src/core/simulation.rs
  editoast/src/core/stdcm.rs
  editoast/src/models/mod.rs
  editoast/src/models/pathfinding.rs
  editoast/src/models/simulation_output/mod.rs
  editoast/src/models/simulation_output/sql/output_simulation_from_timetable.sql
  editoast/src/models/timetable.rs
  editoast/src/models/train_schedule.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/tests/small_infra/stdcm/test_1/project_signal_response.json
  editoast/src/tests/small_infra/stdcm/test_1/stdcm_core_payload.json
  editoast/src/tests/small_infra/stdcm/test_1/stdcm_core_response.json
  editoast/src/tests/small_infra/stdcm/test_1/stdcm_post_expected_response.json
  editoast/src/tests/small_infra/stdcm/test_1/stdcm_post_payload.json
  editoast/src/tests/train_schedule.json
  editoast/src/views/mod.rs
  editoast/src/views/pathfinding/mod.rs
  editoast/src/views/rolling_stocks/mod.rs
  editoast/src/views/stdcm/mod.rs
  editoast/src/views/train_schedule/mod.rs
  editoast/src/views/train_schedule/projection.rs
  editoast/src/views/train_schedule/simulation_report.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/editoast-maintainers

core: kt-infra: migrate MRSP
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/Path.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/PathImpl.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/units/Speed.kt
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/LegacyMRSP.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/MRSP.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMSimulations.java
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
  core/src/main/kotlin/fr/sncf/osrd/utils/JavaInteroperabilityTools.kt
  core/src/test/java/fr/sncf/osrd/DriverBehaviourTest.java
  core/src/test/java/fr/sncf/osrd/envelope_sim_infra/LegacyMRSPTest.java
  core/src/test/java/fr/sncf/osrd/envelope_sim_infra/MRSPTest.java
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/PathTests.kt
Owners: @osrd-project/core-maintainers

front: intervals editor, add number interval type
  front/src/common/IntervalsDataViz/IntervalItem.tsx
  front/src/common/IntervalsDataViz/data.ts
  front/src/common/IntervalsDataViz/dataviz.tsx
  front/src/common/IntervalsDataViz/types.ts
  front/src/common/IntervalsDataViz/utils.ts
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/common/IntervalsEditor/types.ts
  front/src/stories/IntervalsEditor.stories.tsx
Owners: @osrd-project/front-maintainers

fixup! railjson_generator: add a method to put allowances on train_schedules
  python/railjson_generator/railjson_generator/schema/simulation/train_schedule.py
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
Owners: @osrd-project/editoast-maintainers

core: fix spacing requirements for the first zone after a signal
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
Owners: @osrd-project/core-maintainers

core: fix spacing requirements for the first zone after a signal
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
Owners: @osrd-project/core-maintainers

wip
  tests/tests/test_train_schedule.py
Owners: @eckter

add trainschedulebatch
  editoast/src/views/train_schedule/mod.rs
Owners: @osrd-project/editoast-maintainers

editoast: fix projection
  editoast/src/views/train_schedule/projection.rs
Owners: @osrd-project/editoast-maintainers

fix compile
  editoast/src/models/mod.rs
  editoast/src/views/train_schedule/mod.rs
Owners: @osrd-project/editoast-maintainers

editoast: fix train_schedule/<id>/result
  editoast/src/views/train_schedule/mod.rs
  editoast/src/views/train_schedule/simulation_report.rs
  tests/tests/test_train_schedule.py
Owners: @osrd-project/editoast-maintainers, @eckter

wip
  editoast/src/views/train_schedule/mod.rs
  tests/tests/test_train_schedule.py
Owners: @osrd-project/editoast-maintainers, @eckter

osrd-schemas: fix infra version type hint
  python/osrd_schemas/osrd_schemas/infra.py
Owners: @osrd-project/editoast-maintainers

front: stdcm search path modal cleaner
  front/public/locales/en/operationalStudies/manageTrainSchedule.json
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/stdcm/views/StdcmRequestModal.jsx
  front/src/assets/pictures/rabbit.png
Owners: @osrd-project/front-maintainers

front: stdcm search path modal cleaner
  front/public/locales/en/operationalStudies/manageTrainSchedule.json
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/stdcm/views/StdcmRequestModal.jsx
  front/src/assets/pictures/rabbit.png
Owners: @osrd-project/front-maintainers

front: refacto infras list component in tsx
  front/src/common/InfraSelector/InfraSelectorModalBodyStandard.tsx
Owners: @osrd-project/front-maintainers

front: refacto clone infra workflow
  front/src/common/InfraSelector/InfraSelectorEditionActionsBar.tsx
  front/src/common/InfraSelector/InfraSelectorEditionActionsBarDelete.jsx
  front/src/common/InfraSelector/InfraSelectorEditionItem.jsx
  front/src/common/InfraSelector/InfraSelectorModal.tsx
  front/src/common/InfraSelector/InfraSelectorModalBodyEdition.tsx
Owners: @osrd-project/front-maintainers

front: migrate rename infra with rtk
  front/src/common/InfraSelector/InfraSelectorEditionActionsBar.tsx
Owners: @osrd-project/front-maintainers

front: migrate export railjson with rtk
  front/src/common/InfraSelector/InfraSelectorEditionActionsBar.tsx
Owners: @osrd-project/front-maintainers
