Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @osrd-project/front-maintainers, @osrd-project/editoast-maintainers, @eckter, @osrd-project/core-maintainers, @osrd-project/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @osrd-project/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @osrd-project/editoast-maintainers
/editoast/openapi.yaml
/chartos                                                 @osrd-project/editoast-maintainers
/python                                                  @osrd-project/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @osrd-project/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @osrd-project/physics
*Integration*.java                                       @osrd-project/physics

front: add new svg for invalid rollingstock and infra
  front/public/locales/en/operationalStudies/scenario.json
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/assets/pictures/components/missing_train.svg
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Owners: @osrd-project/front-maintainers

front: display only delete icon for invalid trains
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Owners: @osrd-project/front-maintainers

front: adapt styles for stripes and messages
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/assets/pictures/components/missing_tracks.svg
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Owners: @osrd-project/front-maintainers

front: add warning message for invalid trains
  front/public/locales/fr/operationalStudies/scenario.json
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Owners: @osrd-project/front-maintainers

add health to utoipa
  editoast/src/views/mod.rs
Owners: @osrd-project/editoast-maintainers

regenerate openapi
  editoast/openapi.yaml
Owners: none

api: migrations: add delete on cascade for dead sections
  python/api/osrd_infra/migrations/0041_dead_section_cascade.py
Owners: @osrd-project/editoast-maintainers

api: migrations: add delete on cascade for dead sections
  python/api/osrd_infra/migrations/0041_dead_section_cascade.py
Owners: @osrd-project/editoast-maintainers

editoast: add wrapper around diesel_json::Json with a utoipa schema
  editoast/src/models/mod.rs
Owners: @osrd-project/editoast-maintainers

front: intervals editor, modify remove behaviour and use the emptyValue
  front/src/common/IntervalsDataViz/data.ts
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/common/IntervalsEditor/utils.ts
  front/src/stories/IntervalsEditor.stories.tsx
Owners: @osrd-project/front-maintainers

front: intervals editor, make default value compulsory
  front/src/common/IntervalsDataViz/IntervalItem.tsx
  front/src/common/IntervalsDataViz/data.ts
  front/src/common/IntervalsDataViz/dataviz.tsx
  front/src/common/IntervalsDataViz/types.ts
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/common/IntervalsEditor/IntervalsEditorMarginForm.tsx
  front/src/common/IntervalsEditor/IntervalsEditorSelectForm.tsx
  front/src/stories/IntervalsEditor.stories.tsx
Owners: @osrd-project/front-maintainers

front: intervals editor, horizontal scale resizes if window is resized
  front/src/common/IntervalsDataViz/Scales.tsx
  front/src/common/IntervalsDataViz/dataviz.tsx
  front/src/common/IntervalsDataViz/style.scss
Owners: @osrd-project/front-maintainers

fix Paul's and Uriel's comments
  front/src/common/BootstrapSNCF/FormSNCF/DebouncedNumberInputSNCF.tsx
  front/src/common/IntervalsDataViz/Scales.tsx
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/common/IntervalsEditor/IntervalsEditorCommonForm.tsx
Owners: @osrd-project/front-maintainers

front: intervals editor, display form when interval type is number
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/common/IntervalsEditor/IntervalsEditorMarginForm.tsx
Owners: @osrd-project/front-maintainers

front: intervals editor, add debounced number inputs in forms
  front/src/common/BootstrapSNCF/FormSNCF/DebouncedNumberInputSNCF.tsx
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/common/IntervalsEditor/IntervalsEditorCommonForm.tsx
Owners: @osrd-project/front-maintainers

front: intervals editor, add number interval type
  front/src/common/IntervalsDataViz/IntervalItem.tsx
  front/src/common/IntervalsDataViz/data.ts
  front/src/common/IntervalsDataViz/dataviz.tsx
  front/src/common/IntervalsDataViz/types.ts
  front/src/common/IntervalsDataViz/utils.ts
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/common/IntervalsEditor/types.ts
  front/src/stories/IntervalsEditor.stories.tsx
Owners: @osrd-project/front-maintainers

front: intervals editor, empty segment can be selected
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
Owners: @osrd-project/front-maintainers

front: intervals editor, new segments have a unit by default (interval type number with unit)
  front/src/common/IntervalsDataViz/data.ts
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/common/IntervalsEditor/utils.ts
  front/src/stories/IntervalsEditor.stories.tsx
Owners: @osrd-project/front-maintainers

front: intervals editor, create separated components for the scales and the interval items
  front/src/common/IntervalsDataViz/IntervalItem.tsx
  front/src/common/IntervalsDataViz/Scales.tsx
  front/src/common/IntervalsDataViz/dataviz.tsx
  front/src/common/IntervalsDataViz/types.ts
  front/src/common/IntervalsDataViz/utils.ts
Owners: @osrd-project/front-maintainers

front: intervals editor, values are hidden if there is not enough space
  front/src/common/IntervalsDataViz/style.scss
Owners: @osrd-project/front-maintainers

front: intervals editor, fix number of digits on resize of an interval
  front/src/common/IntervalsDataViz/dataviz.tsx
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
Owners: @osrd-project/front-maintainers

front: intervals editor, allow to resize last segment
  front/src/common/IntervalsDataViz/IntervalItem.tsx
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
Owners: @osrd-project/front-maintainers

core + editoast + api + schemas: remove backside pantograph ranges from dead sections
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSDeadSection.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/UndirectedInfraBuilder.java
  editoast/map_layers.yml
  editoast/src/generated_data/dead_section.rs
  editoast/src/generated_data/mod.rs
  editoast/src/generated_data/sql/generate_backside_pantograph_dead_section_layer.sql
  editoast/src/schema/dead_section.rs
  editoast/src/tests/small_infra/small_infra.json
  front/src/reducers/osrdconf/infra_schema.json
  python/api/osrd_infra/migrations/0042_remove_backside_pantograph_track_ranges.py
  python/api/osrd_infra/models/generated.py
  python/api/poetry.lock
  python/osrd_schemas/osrd_schemas/infra.py
  python/osrd_schemas/pyproject.toml
  python/railjson_generator/poetry.lock
  python/railjson_generator/railjson_generator/schema/infra/dead_section.py
Owners: @osrd-project/core-maintainers, @osrd-project/editoast-maintainers, @osrd-project/front-maintainers

front + core + editoast + api + schemas: rename neutral_section.is_drop_pantograph to lower_pantograph
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/electrification/Neutral.java
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/openapi.yaml
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSNeutralSection.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/EnvelopeTrainPath.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/NeutralSection.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/UndirectedInfraBuilder.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ElectrificationRange.java
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
  editoast/src/schema/neutral_section.rs
  editoast/src/tests/small_infra/small_infra.json
  front/public/locales/en/map-key.json
  front/public/locales/fr/map-key.json
  front/src/common/Map/Consts/colors.ts
  front/src/common/Map/Layers/NeutralSections.tsx
  front/src/common/Map/MapKey.tsx
  front/src/reducers/osrdconf/infra_schema.json
  python/api/osrd_infra/migrations/0044_rename_is_pantograph_drop_zone_to_lower_pantograph.py
  python/api/poetry.lock
  python/osrd_schemas/osrd_schemas/infra.py
  python/osrd_schemas/pyproject.toml
  python/railjson_generator/poetry.lock
  python/railjson_generator/railjson_generator/schema/infra/neutral_section.py
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
Owners: @osrd-project/core-maintainers, @osrd-project/editoast-maintainers, @osrd-project/front-maintainers

front: fix bug on stdcm (setup originUpperBoundTime in the store)
  front/src/reducers/__tests__/osrdconf.spec.ts
  front/src/reducers/osrdconf/index.ts
Owners: @osrd-project/front-maintainers

fix Paul's and Uriel's comments
  front/src/common/BootstrapSNCF/FormSNCF/DebouncedNumberInputSNCF.tsx
  front/src/common/IntervalsDataViz/Scales.tsx
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/common/IntervalsEditor/IntervalsEditorCommonForm.tsx
Owners: @osrd-project/front-maintainers

front: intervals editor, add number interval type
  front/src/common/IntervalsDataViz/IntervalItem.tsx
  front/src/common/IntervalsDataViz/data.ts
  front/src/common/IntervalsDataViz/dataviz.tsx
  front/src/common/IntervalsDataViz/types.ts
  front/src/common/IntervalsDataViz/utils.ts
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/common/IntervalsEditor/types.ts
  front/src/stories/IntervalsEditor.stories.tsx
Owners: @osrd-project/front-maintainers

front: intervals editor, new segments have a unit by default (interval type number with unit)
  front/src/common/IntervalsDataViz/data.ts
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/common/IntervalsEditor/utils.ts
  front/src/stories/IntervalsEditor.stories.tsx
Owners: @osrd-project/front-maintainers

front: intervals editor, fix number of digits on resize of an interval
  front/src/common/IntervalsDataViz/dataviz.tsx
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
Owners: @osrd-project/front-maintainers

front: intervals editor, add debounced number inputs in forms
  front/src/common/BootstrapSNCF/FormSNCF/DebouncedNumberInputSNCF.tsx
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/common/IntervalsEditor/IntervalsEditorCommonForm.tsx
Owners: @osrd-project/front-maintainers

front: intervals editor, display form when interval type is number
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/common/IntervalsEditor/IntervalsEditorMarginForm.tsx
Owners: @osrd-project/front-maintainers

front: intervals editor, horizontal scale resizes if window is resized
  front/src/common/IntervalsDataViz/Scales.tsx
  front/src/common/IntervalsDataViz/dataviz.tsx
  front/src/common/IntervalsDataViz/style.scss
Owners: @osrd-project/front-maintainers

front: intervals editor, modify remove behaviour and use the emptyValue
  front/src/common/IntervalsDataViz/data.ts
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/common/IntervalsEditor/utils.ts
  front/src/stories/IntervalsEditor.stories.tsx
Owners: @osrd-project/front-maintainers

front: intervals editor, make default value compulsory
  front/src/common/IntervalsDataViz/IntervalItem.tsx
  front/src/common/IntervalsDataViz/data.ts
  front/src/common/IntervalsDataViz/dataviz.tsx
  front/src/common/IntervalsDataViz/types.ts
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/common/IntervalsEditor/IntervalsEditorMarginForm.tsx
  front/src/common/IntervalsEditor/IntervalsEditorSelectForm.tsx
  front/src/stories/IntervalsEditor.stories.tsx
Owners: @osrd-project/front-maintainers

front: intervals editor, values are hidden if there is not enough space
  front/src/common/IntervalsDataViz/style.scss
Owners: @osrd-project/front-maintainers

front: intervals editor, create separated components for the scales and the interval items
  front/src/common/IntervalsDataViz/IntervalItem.tsx
  front/src/common/IntervalsDataViz/Scales.tsx
  front/src/common/IntervalsDataViz/dataviz.tsx
  front/src/common/IntervalsDataViz/types.ts
  front/src/common/IntervalsDataViz/utils.ts
Owners: @osrd-project/front-maintainers

front: intervals editor, allow to resize last segment
  front/src/common/IntervalsDataViz/IntervalItem.tsx
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
Owners: @osrd-project/front-maintainers

front: intervals editor, empty segment can be selected
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
Owners: @osrd-project/front-maintainers

add health to utoipa
  editoast/src/views/mod.rs
Owners: @osrd-project/editoast-maintainers

regenerate openapi
  editoast/openapi.yaml
Owners: none
