Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics

Revert "front: block state: display on simulation's map"
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap/RenderBlockState.tsx
  front/src/config/layerOrder.ts
Owners: @DGEXSolutions/front-maintainers

core: migrate standalone sim to the new signaling simulator
  core/build.gradle
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/InterlockingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadedSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/RawSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/BlockInfraImpl.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBALtoBAL.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBAPRtoBAL.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultOccupancyTiming.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultTrain.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/SignalUpdate.java
  core/src/main/java/fr/sncf/osrd/utils/CSVExporters.java
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
  core/src/test/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractorTests.java
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers

tests: Make e2e tests call the backend (#3672)
  .github/workflows/integration_tests.yml
  front/playwright.config.ts
  front/src/common/RollingStockSelector/RollingStockCard.jsx
  front/tests/assets/common/rollingStock.json
  front/tests/assets/operationStudies/project.json
  front/tests/assets/operationStudies/scenario.json
  front/tests/assets/operationStudies/study.json
  front/tests/assets/operationStudies/timetable.json
  front/tests/operational-studies.spec.ts
  front/tests/stdcm-page.spec.ts
  tests/conftest.py
  tests/tests/test_e2e.py
  tests/tests/test_scenario.py
  tests/tests/test_simulation.py
  tests/tests/test_stdcm.py
  tests/tests/test_timetable.py
  tests/tests/test_with_fuzzer.py
  tests/tests/utils/timetable.py
Owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @eckter

front: power restrictions: connecting front to api
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/common/Notifications.scss
  front/src/common/api/osrdMiddlewareApi.ts
  front/src/reducers/osrdconf/index.ts
Owners: @DGEXSolutions/front-maintainers

python: update middleWare api
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

cord: update openapi.yml
  core/openapi.yaml
Owners: @DGEXSolutions/core-maintainers

front: STDCM: set RollingstockSelector in one line (#3742)
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/common/RollingStockSelector/RollingStockSelector.jsx
Owners: @DGEXSolutions/front-maintainers

core: load kotlin infra when we load infras
  core/src/main/java/fr/sncf/osrd/api/FullInfra.java
  core/src/main/java/fr/sncf/osrd/api/InfraManager.java
  core/src/main/java/fr/sncf/osrd/api/SignalingSimulator.kt
  core/src/main/java/fr/sncf/osrd/api/StandaloneSimulationEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/cli/StandaloneSimulationCommand.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/test/java/fr/sncf/osrd/Helpers.java
  core/src/test/java/fr/sncf/osrd/stdcm/FullSTDCMTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMHelpers.java
Owners: @DGEXSolutions/core-maintainers

front: power restrictions: handle no data
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
Owners: @DGEXSolutions/front-maintainers

front: fix notification above all & map add train too big
  front/src/styles/scss/applications/operationalStudies/_managetrainschedule.scss
Owners: @DGEXSolutions/front-maintainers

front: power restrictions: add selector
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/assets/pictures/components/electricity.svg
Owners: @DGEXSolutions/front-maintainers

api: remove route_{begin,end}_occupancy
  front/src/applications/customget/components/convertData.jsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/applications/stdcm/fakeSimulation.jsx
  front/src/common/api/osrdMiddlewareApi.ts
  front/src/reducers/osrdsimulation/types.ts
  front/tests/assets/operationStudies/train.json
  python/api/openapi.yaml
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
  tests/tests/utils/stdcm.py
Owners: @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter

editoast: `ntest` to `rtest`
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/fixtures.rs
  editoast/src/generated_data/error/buffer_stops.rs
  editoast/src/generated_data/error/track_sections.rs
  editoast/src/main.rs
  editoast/src/models/mod.rs
  editoast/src/models/rolling_stock_models/rolling_stock.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/rolling_stock_image.rs
  editoast/src/schema/rolling_stock_livery.rs
  editoast/src/schema/rolling_stock_schema/rolling_stock.rs
  editoast/src/views/light_rolling_stocks.rs
  editoast/src/views/rolling_stocks.rs
Owners: @DGEXSolutions/editoast-maintainers

front: power restrictions: finishing selector
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/public/locales/fr/rollingstock.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/assets/pictures/components/electricity.svg
  front/src/assets/pictures/components/power_restrictions.svg
  front/src/reducers/osrdconf/index.ts
Owners: @DGEXSolutions/front-maintainers

front: removeUseless map symbol
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
Owners: @DGEXSolutions/front-maintainers

front: power restrictions: update reducers
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdconf/selectors.ts
Owners: @DGEXSolutions/front-maintainers

front: STDCM: fix map height without effect in operational studies
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/styles/scss/applications/_stdcm.scss
  front/src/styles/scss/applications/operationalStudies/_managetrainschedule.scss
  front/src/styles/styles.scss
Owners: @DGEXSolutions/front-maintainers

core: split the signal simulation out of the standalone sim endpoint
  core/src/main/java/fr/sncf/osrd/api/SignalProjectionEndpoint.java
  core/src/main/java/fr/sncf/osrd/cli/ApiServerCommand.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultTrain.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/SignalUpdate.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractorTests.java
  python/api/osrd_infra/tests/test_stdcm.py
  python/api/osrd_infra/utils.py
  python/api/osrd_infra/views/stdcm.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
  python/api/osrd_infra/views/train_schedule/train_schedule.py
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers

editoast: fix openapi for the clone infra endpoint
  editoast/openapi.yaml
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

front: change default allowance settings in stdcm
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/withOSRDData.jsx
Owners: @DGEXSolutions/front-maintainers

front; forcedEcoAgain
  front/src/applications/stdcm/views/OSRDStdcmResults.tsx
Owners: @DGEXSolutions/front-maintainers

front: remve warnings from DisplayMissingInfo
  front/package.json
  front/src/common/DisplayMissingInfo/DisplayMissingInfo.scss
  front/src/common/DisplayMissingInfo/DisplayMissingInfo.tsx
  front/src/stories/DisplayMissingInfo.stories.tsx
  front/vite.config.ts
Owners: @DGEXSolutions/front-maintainers

front: remve warnings from DisplayMissingInfo
  front/package.json
  front/src/common/DisplayMissingInfo/DisplayMissingInfo.scss
  front/src/common/DisplayMissingInfo/DisplayMissingInfo.tsx
  front/src/stories/DisplayMissingInfo.stories.tsx
  front/vite.config.ts
Owners: @DGEXSolutions/front-maintainers

front: releaseinformations: light refacto, add links
  front/public/locales/fr/home/navbar.json
  front/src/common/ReleaseInformations/LicenseAttributions.tsx
  front/src/common/ReleaseInformations/ReleaseInformations.tsx
  front/src/common/ReleaseInformations/json/licenses.json
  front/src/styles/scss/common/components/_releaseInformations.scss
Owners: @DGEXSolutions/front-maintainers

front: releaseinformations: remove releaseInformations.scss; change .informations to .informations-modal; create _relaseInformations.scss in /styles
  front/src/common/BootstrapSNCF/NavBarSNCF.jsx
  front/src/common/ReleaseInformations/LicenseAttributions.tsx
  front/src/common/ReleaseInformations/ReleaseInformations.scss
  front/src/common/ReleaseInformations/ReleaseInformations.tsx
  front/src/styles/scss/common/_components.scss
  front/src/styles/scss/common/components/_releaseInformations.scss
Owners: @DGEXSolutions/front-maintainers

front: releaseinformations: remove releaseInformations.scss; change .informations to .informations-modal; create _relaseInformations.scss in /styles
  front/src/common/BootstrapSNCF/NavBarSNCF.jsx
  front/src/common/ReleaseInformations/LicenseAttributions.tsx
  front/src/common/ReleaseInformations/ReleaseInformations.scss
  front/src/common/ReleaseInformations/ReleaseInformations.tsx
  front/src/styles/scss/common/_components.scss
  front/src/styles/scss/common/components/_releaseInformations.scss
Owners: @DGEXSolutions/front-maintainers

front: releaseinformations: light refacto, add links
  front/public/locales/fr/home/navbar.json
  front/src/common/ReleaseInformations/LicenseAttributions.tsx
  front/src/common/ReleaseInformations/ReleaseInformations.tsx
  front/src/common/ReleaseInformations/json/licenses.json
  front/src/styles/scss/common/components/_releaseInformations.scss
Owners: @DGEXSolutions/front-maintainers

front: tests: Add a `yarn e2e-tests` and display playwright outputs
  .github/workflows/integration_tests.yml
  front/package.json
Owners: @flomonster, @multun, @DGEXSolutions/front-maintainers

front: change default allowance settings in stdcm
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/drawTrain.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/withOSRDData.jsx
  front/src/applications/stdcm/views/StdcmRequestModal.jsx
Owners: @DGEXSolutions/front-maintainers

front: no unused var
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/withOSRDData.jsx
Owners: @DGEXSolutions/front-maintainers

front: use new HOC on sppedTimeChart on stdcm
  front/src/applications/stdcm/views/OSRDStdcmResults.tsx
Owners: @DGEXSolutions/front-maintainers

front: tests: Add a `yarn e2e-tests` and display playwright outputs (#3770)
  .github/workflows/integration_tests.yml
  front/package.json
Owners: @flomonster, @multun, @DGEXSolutions/front-maintainers

front: tests: Add a `yarn e2e-tests` and display playwright outputs (#3770)
  .github/workflows/integration_tests.yml
  front/package.json
Owners: @flomonster, @multun, @DGEXSolutions/front-maintainers

editoast : add suffix _id
  editoast/openapi.yaml
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

editoast: front: adapt payload to create and update scenario
  editoast/openapi.yaml
  editoast/src/views/scenario.rs
  front/src/applications/operationalStudies/components/Scenario/AddOrEditScenarioModal.tsx
  front/src/common/api/osrdEditoastApi.ts
  tests/fuzzer/fuzzer.py
  tests/tests/test_scenario.py
  tests/tests/test_timetable.py
  tests/tests/utils/timetable.py
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers, @eckter

front: add suffix _id to scenario's timetable, infra, electrical_profil_set
  front/src/applications/operationalStudies/components/Scenario/AddOrEditScenarioModal.tsx
  front/src/applications/operationalStudies/components/operationalStudiesTypes.ts
  front/src/applications/operationalStudies/views/Scenario.jsx
  front/src/common/ScenarioExplorator/ScenarioExplorator.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorModalScenarioMiniCard.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: api: fix study date type and fix electrical_profile patch field
  editoast/src/models/study.rs
  editoast/src/tables.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
  python/api/osrd_infra/migrations/0022_alter_study_actual_end_date_and_more.py
  python/api/osrd_infra/models/study.py
  tests/conftest.py
  tests/tests/test_scenario.py
  tests/tests/test_stdcm.py
  tests/tests/utils/timetable.py
Owners: @DGEXSolutions/editoast-maintainers, @eckter

editoast: front: uses editoast endpoints instead of api endpoints for study and scenario
  editoast/src/models/study.rs
  editoast/src/views/study.rs
  front/src/applications/operationalStudies/components/Scenario/AddOrEditScenarioModal.tsx
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
  front/src/applications/operationalStudies/components/Study/StateStep.tsx
  front/src/applications/operationalStudies/views/Project.jsx
  front/src/applications/operationalStudies/views/Scenario.jsx
  front/src/applications/operationalStudies/views/Study.jsx
  front/src/common/ScenarioExplorator/ScenarioExplorator.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorModal.tsx
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

front: editor - load editor schema by using rtk query
  front/src/applications/editor/data/api.ts
  front/src/reducers/editor.ts
Owners: @DGEXSolutions/front-maintainers

front: using types generated by rtk
  editoast/openapi.yaml
  front/src/applications/editor/components/EditorForm.tsx
  front/src/applications/editor/data/api.ts
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/switchEdition/components.tsx
  front/src/applications/editor/tools/switchEdition/utils.ts
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/types/editor.ts
  front/src/types/geospatial.ts
  front/src/types/index.ts
  front/src/types/railjson.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers
