Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @osrd-project/front-maintainers, @osrd-project/editoast-maintainers, @eckter, @osrd-project/core-maintainers, @osrd-project/physics

front: operationnal studies creation workflow tested
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/applications/operationalStudies/views/Study.tsx
  front/src/common/BootstrapSNCF/ChipsSNCF.tsx
  front/tests/0-project-creation.spec.ts
  front/tests/1-study-creation.spec.ts
  front/tests/2-scenario-creation.spec.ts
  front/tests/assets/operationStudies/project.json
  front/tests/assets/operationStudies/scenario.json
  front/tests/assets/operationStudies/study.json
  front/tests/pages/project-page-model.tsx
  front/tests/pages/study-page-model.tsx
Owners: @osrd-project/front-maintainers

front: refacto test study-creation
  front/tests/002-project-creation.spec.ts
  front/tests/003-study-creation.spec.ts
  front/tests/pages/project-page-model.tsx
  front/tests/pages/study-page-model.tsx
Owners: @osrd-project/front-maintainers

front: rename file for tests workflow
  front/playwright.config.ts
  front/tests/001-home-page.spec.ts
  front/tests/002-project-creation.spec.ts
  front/tests/003-study-creation.spec.ts
  front/tests/004-scenario-creation.spec.ts
  front/tests/005-operational-studies.spec.ts
  front/tests/006-stdcm-page.spec.ts
  front/tests/pages/project-page-model.tsx
  front/tests/pages/study-page-model.tsx
Owners: @osrd-project/front-maintainers

front: refacto test scenario-creation
  front/tests/002-project-creation.spec.ts
  front/tests/003-study-creation.spec.ts
  front/tests/004-scenario-creation.spec.ts
  front/tests/005-operational-studies.spec.ts
  front/tests/assets/operationStudies/scenario.json
  front/tests/assets/operationStudies/test_variables.ts
  front/tests/common-page-model.ts
  front/tests/pages/common-page-model.ts
  front/tests/pages/project-page-model.tsx
  front/tests/pages/scenario-page-model.ts
  front/tests/pages/study-page-model.tsx
  front/tests/rollingstock-modal-model.ts
  front/tests/scenario-page-model.ts
Owners: @osrd-project/front-maintainers

front: refacto test project-creation
  front/tests/002-project-creation.spec.ts
  front/tests/004-scenario-creation.spec.ts
  front/tests/pages/project-page-model.tsx
Owners: @osrd-project/front-maintainers

front: rename file for tests workflow
  front/playwright.config.ts
  front/tests/001-home-page.spec.ts
  front/tests/002-project-creation.spec.ts
  front/tests/003-study-creation.spec.ts
  front/tests/004-scenario-creation.spec.ts
  front/tests/005-operational-studies.spec.ts
  front/tests/006-stdcm-page.spec.ts
  front/tests/pages/project-page-model.tsx
  front/tests/pages/study-page-model.tsx
Owners: @osrd-project/front-maintainers

front: only fetch simulation results if train_schedule_summaries is not empty
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleModal.jsx
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
Owners: @osrd-project/front-maintainers

front: only fetch simulation results if train_schedule_summaries is not empty
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleModal.jsx
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
Owners: @osrd-project/front-maintainers

front: editor - fix speed limit by tag edition
  front/src/applications/editor/tools/rangeEdition/speedSection/SpeedSectionMetadataForm.tsx
Owners: @osrd-project/front-maintainers

front: editor - fix speed limit by tag edition
  front/src/applications/editor/tools/rangeEdition/speedSection/SpeedSectionMetadataForm.tsx
Owners: @osrd-project/front-maintainers

front: editor - fix speed limit by tag edition
  front/src/applications/editor/tools/rangeEdition/speedSection/SpeedSectionMetadataForm.tsx
Owners: @osrd-project/front-maintainers

use single request for track section search
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleConfig.tsx
Owners: @osrd-project/front-maintainers

regenerate types
  front/src/applications/operationalStudies/types.ts
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/front-maintainers

Edit pathfinding payload with track sections
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleModal.jsx
Owners: @osrd-project/front-maintainers

import: add function for importing track sections
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleConfig.tsx
Owners: @osrd-project/front-maintainers

update editoast openapi
  editoast/openapi.yaml
Owners: none

update generated editoast api
  front/src/common/api/osrdEditoastApi.ts
Owners: none

openapi: include pageSize in search params
  editoast/openapi.yaml
Owners: none

front: import - generate autocomplete pathfindings from steps
  front/public/locales/en/operationalStudies/importTrainSchedule.json
  front/public/locales/fr/operationalStudies/importTrainSchedule.json
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleConfig.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleModal.jsx
  front/src/applications/operationalStudies/views/ImportTrainSchedule.tsx
  front/src/common/Spacer.tsx
Owners: @osrd-project/front-maintainers

front: add tracks to trainSchedules from Graou
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleConfig.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleTrainDetail.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleTrainsList.tsx
  front/src/applications/operationalStudies/types.ts
  front/src/applications/operationalStudies/views/ImportTrainSchedule.tsx
  front/src/applications/operationalStudies/views/Scenario.tsx
Owners: @osrd-project/front-maintainers

fix & clean
  editoast/openapi.yaml
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleConfig.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleTrainDetail.tsx
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/front-maintainers

clean code
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleModal.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/generatePathfindingPayload.jsx
Owners: @osrd-project/front-maintainers

front: test pathfinding done for small_infra
  front/playwright.config.ts
  front/src/common/Pathfinding/Pathfinding.tsx
  front/tests/001-home-page.spec.ts
  front/tests/002-project-creation.spec.ts
  front/tests/003-study-creation.spec.ts
  front/tests/004-scenario-creation.spec.ts
  front/tests/005-operational-studies.spec.ts
  front/tests/006-stdcm-page.spec.ts
  front/tests/007-project-delete.spec.ts
  front/tests/assets/operationStudies/test_variables.ts
  front/tests/pages/home-page-model.ts
  front/tests/pages/map-model.ts
  front/tests/pages/scenario-page-model.ts
Owners: @osrd-project/front-maintainers

editoast: bump dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
Owners: @osrd-project/editoast-maintainers

fix: remove graou references
  editoast/openapi.yaml
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleConfig.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/generatePathfindingPayload.jsx
  front/src/applications/operationalStudies/types.ts
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/front-maintainers

front: refacto gettimetable in tsx
  front/src/applications/operationalStudies/components/Scenario/getSimulationResults.tsx
Owners: @osrd-project/front-maintainers

editoast: bump diesel-json and clean useless code
  editoast/Cargo.toml
  editoast/src/models/train_schedule.rs
Owners: @osrd-project/editoast-maintainers

front: test pathfinding done for small_infra
  front/playwright.config.ts
  front/src/common/Pathfinding/Pathfinding.tsx
  front/tests/001-home-page.spec.ts
  front/tests/002-project-creation.spec.ts
  front/tests/003-study-creation.spec.ts
  front/tests/004-scenario-creation.spec.ts
  front/tests/005-operational-studies.spec.ts
  front/tests/006-stdcm-page.spec.ts
  front/tests/007-project-delete.spec.ts
  front/tests/assets/operationStudies/test_variables.ts
  front/tests/pages/home-page-model.ts
  front/tests/pages/map-model.ts
  front/tests/pages/scenario-page-model.ts
Owners: @osrd-project/front-maintainers

front: test pathfinding done for small_infra
  front/playwright.config.ts
  front/src/common/Pathfinding/Pathfinding.tsx
  front/tests/001-home-page.spec.ts
  front/tests/002-project-creation.spec.ts
  front/tests/003-study-creation.spec.ts
  front/tests/004-scenario-creation.spec.ts
  front/tests/005-operational-studies.spec.ts
  front/tests/006-stdcm-page.spec.ts
  front/tests/007-project-delete.spec.ts
  front/tests/assets/operationStudies/test_variables.ts
  front/tests/pages/home-page-model.ts
  front/tests/pages/map-model.ts
  front/tests/pages/scenario-page-model.ts
Owners: @osrd-project/front-maintainers

Fix minor issues in rollingstock editor: - fix overflow behavior on rollingstock list
  front/src/applications/rollingStockEditor/components/RollingStockEditorButtons.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorCard.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorForm.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorFormModal.tsx
  front/src/applications/rollingStockEditor/views/RollingStockEditor.tsx
  front/src/common/RollingStockSelector/RollingStock2Img.tsx
  front/src/styles/scss/applications/rollingStockEditor/_rollingStockForm.scss
  front/src/styles/scss/common/components/_rollingStock.scss
Owners: @osrd-project/front-maintainers

fix valentin's comments
  front/public/locales/fr/operationalStudies/importTrainSchedule.json
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleConfig.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleStationSelector.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/consts.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/generatePathfindingPayload.jsx
  front/src/common/api/graouApi.ts
  front/src/utils/array.ts
Owners: @osrd-project/front-maintainers

Fix minor issues in rollingstock editor: - fix overflow behavior on rollingstock list
  front/src/applications/rollingStockEditor/components/RollingStockEditorButtons.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorCard.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorForm.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorFormModal.tsx
  front/src/applications/rollingStockEditor/views/RollingStockEditor.tsx
  front/src/common/RollingStockSelector/RollingStock2Img.tsx
  front/src/styles/scss/applications/rollingStockEditor/_rollingStockForm.scss
  front/src/styles/scss/common/components/_rollingStock.scss
Owners: @osrd-project/front-maintainers

Fix minor issues in rollingstock editor: - fix overflow behavior on rollingstock list
  front/src/applications/rollingStockEditor/components/RollingStockEditorButtons.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorCard.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorForm.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorFormModal.tsx
  front/src/applications/rollingStockEditor/views/RollingStockEditor.tsx
  front/src/common/RollingStockSelector/RollingStock2Img.tsx
  front/src/styles/scss/applications/rollingStockEditor/_rollingStockForm.scss
  front/src/styles/scss/common/components/_rollingStock.scss
Owners: @osrd-project/front-maintainers

editoast: bump dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
Owners: @osrd-project/editoast-maintainers

editoast: bump diesel-json and clean useless code
  editoast/Cargo.toml
  editoast/src/models/train_schedule.rs
Owners: @osrd-project/editoast-maintainers

editoast: bump diesel-json and clean useless code
  editoast/Cargo.toml
  editoast/src/models/train_schedule.rs
Owners: @osrd-project/editoast-maintainers

editoast: bump dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
Owners: @osrd-project/editoast-maintainers

front: display intineraries conflicts
  front/public/locales/en/operationalStudies/scenario.json
  front/public/locales/fr/operationalStudies/scenario.json
Owners: @osrd-project/front-maintainers

front: display intineraries conflicts
  front/public/locales/en/operationalStudies/scenario.json
  front/public/locales/fr/operationalStudies/scenario.json
Owners: @osrd-project/front-maintainers

front: use a smaller placeholder rolling stock image
  front/src/assets/pictures/placeholder_rolling_stock.svg
  front/src/common/RollingStockSelector/RollingStock2Img.tsx
Owners: @osrd-project/front-maintainers

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @osrd-project/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @osrd-project/editoast-maintainers
/editoast/openapi.yaml
/chartos                                                 @osrd-project/editoast-maintainers
/python                                                  @osrd-project/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @osrd-project/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @osrd-project/physics
*Integration*.java                                       @osrd-project/physics
