Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics

front: move signalicons folder to public
  front/public/pictures/signals/A.svg
  front/public/pictures/signals/BANDEJAUNE.svg
  front/public/pictures/signals/CARRE.svg
  front/public/pictures/signals/CV.svg
  front/public/pictures/signals/D.svg
  front/public/pictures/signals/REP_TGV.svg
  front/public/pictures/signals/S.svg
  front/src/assets/pictures/signalicons/A.svg
  front/src/assets/pictures/signalicons/BANDEJAUNE.svg
  front/src/assets/pictures/signalicons/CARRE.svg
  front/src/assets/pictures/signalicons/CV.svg
  front/src/assets/pictures/signalicons/D.svg
  front/src/assets/pictures/signalicons/REP_TGV.svg
  front/src/assets/pictures/signalicons/S.svg
  front/src/common/Map/Search/SignalCard.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: change clap attribute to arg and command
  editoast/src/client/mod.rs
  editoast/src/client/postgres_config.rs
  editoast/src/client/redis_config.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: change clap attribute to arg and command
  editoast/src/client/mod.rs
  editoast/src/client/postgres_config.rs
  editoast/src/client/redis_config.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: change clap attribute to arg and command
  editoast/src/client/mod.rs
  editoast/src/client/postgres_config.rs
  editoast/src/client/redis_config.rs
Owners: @DGEXSolutions/editoast-maintainers

front: fix issue where tags wasnt added when creating a project
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
Owners: @DGEXSolutions/front-maintainers

front: fix issue where tags wasnt added when creating a project
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
Owners: @DGEXSolutions/front-maintainers

front: fix issue where tags wasnt added when creating a project
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
Owners: @DGEXSolutions/front-maintainers

editor: fixes #3923
  front/src/applications/editor/components/LayersModal.tsx
Owners: @DGEXSolutions/front-maintainers

editor: fixes #3923
  front/src/applications/editor/components/LayersModal.tsx
Owners: @DGEXSolutions/front-maintainers

editor: fixes #3923
  front/src/applications/editor/components/LayersModal.tsx
Owners: @DGEXSolutions/front-maintainers

front: stations_search: fix yardname order
  front/src/common/Map/Search/MapSearchStation.tsx
Owners: @DGEXSolutions/front-maintainers

front: bugfix on graou importation
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleTrainsList.tsx
Owners: @DGEXSolutions/front-maintainers

front: bugfix on graou importation
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleTrainsList.tsx
Owners: @DGEXSolutions/front-maintainers

front: bugfix on graou importation
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleTrainsList.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: fix docker build
  editoast/Dockerfile
Owners: @DGEXSolutions/editoast-maintainers

editoast: fix docker build
  editoast/Dockerfile
Owners: @DGEXSolutions/editoast-maintainers

editoast: fix docker build
  editoast/Dockerfile
Owners: @DGEXSolutions/editoast-maintainers

front: remove electrical profile select when updating a scenario
  front/src/applications/operationalStudies/components/Scenario/AddOrEditScenarioModal.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: remove electrical profile set from scenario patch form
  editoast/openapi.yaml
  editoast/src/views/scenario.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

front: remove electrical profile select when updating a scenario
  front/src/applications/operationalStudies/components/Scenario/AddOrEditScenarioModal.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: remove electrical profile set from scenario patch form
  editoast/openapi.yaml
  editoast/src/views/scenario.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

front: remove electrical profile select when updating a scenario
  front/src/applications/operationalStudies/components/Scenario/AddOrEditScenarioModal.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: remove electrical profile set from scenario patch form
  editoast/openapi.yaml
  editoast/src/views/scenario.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

front: fix infra error type
  editoast/openapi.yaml
  front/public/locales/fr/translation.json
  front/src/applications/editor/components/InfraErrors/types.ts
  front/src/common/api/osrdEditoastApi.ts
  python/osrd_schemas/osrd_schemas/generated.py
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

front: fix infra error type
  editoast/openapi.yaml
  front/public/locales/fr/translation.json
  front/src/applications/editor/components/InfraErrors/types.ts
  front/src/common/api/osrdEditoastApi.ts
  python/osrd_schemas/osrd_schemas/generated.py
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

front: fix infra error type
  editoast/openapi.yaml
  front/public/locales/fr/translation.json
  front/src/applications/editor/components/InfraErrors/types.ts
  front/src/common/api/osrdEditoastApi.ts
  python/osrd_schemas/osrd_schemas/generated.py
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

poerty: allow python 3.11
  python/osrd_schemas/pyproject.toml
  python/railjson_generator/pyproject.toml
  tests/pyproject.toml
Owners: @DGEXSolutions/editoast-maintainers, @eckter

poerty: allow python 3.11
  python/osrd_schemas/pyproject.toml
  python/railjson_generator/pyproject.toml
  tests/pyproject.toml
Owners: @DGEXSolutions/editoast-maintainers, @eckter

poerty: allow python 3.11
  python/osrd_schemas/pyproject.toml
  python/railjson_generator/pyproject.toml
  tests/pyproject.toml
Owners: @DGEXSolutions/editoast-maintainers, @eckter

fix bug
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
Owners: @DGEXSolutions/front-maintainers

front: GEV: display power restriction on GEV; add power restriction setting in SpeedSpaceSettings; update simulation.json
  front/public/locales/fr/simulation.json
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceSettings/SpeedSpaceSettings.jsx
  front/src/reducers/osrdsimulation/types.ts
Owners: @DGEXSolutions/front-maintainers

front: GEV: create drawPowerRestriction.jsx, remove related component from SpeedSpaceChart.jsx; add condition in d3helpers.jsx; edit consts.ts with power restrictions data
  front/public/locales/fr/simulation.json
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawPowerRestriction.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/prepareData.ts
  front/src/applications/operationalStudies/consts.ts
Owners: @DGEXSolutions/front-maintainers

front: GEV: create drawPowerRestriction.jsx, remove related component from SpeedSpaceChart.jsx; add condition in d3helpers.jsx; edit consts.ts with power restrictions data
  front/public/locales/fr/simulation.json
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawPowerRestriction.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/prepareData.ts
  front/src/applications/operationalStudies/consts.ts
Owners: @DGEXSolutions/front-maintainers

front: GEV: display power restriction on GEV; add power restriction setting in SpeedSpaceSettings; update simulation.json
  front/public/locales/fr/simulation.json
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceSettings/SpeedSpaceSettings.jsx
  front/src/reducers/osrdsimulation/types.ts
Owners: @DGEXSolutions/front-maintainers

front: GEV: create drawPowerRestriction.jsx, remove related component from SpeedSpaceChart.jsx; add condition in d3helpers.jsx; edit consts.ts with power restrictions data
  front/public/locales/fr/simulation.json
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawPowerRestriction.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/prepareData.ts
  front/src/applications/operationalStudies/consts.ts
Owners: @DGEXSolutions/front-maintainers

front: GEV: display power restriction on GEV; add power restriction setting in SpeedSpaceSettings; update simulation.json
  front/public/locales/fr/simulation.json
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceSettings/SpeedSpaceSettings.jsx
  front/src/reducers/osrdsimulation/types.ts
Owners: @DGEXSolutions/front-maintainers

fix bug
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
Owners: @DGEXSolutions/front-maintainers

fix bug
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
Owners: @DGEXSolutions/front-maintainers

editoast: catenaries_on_path: return warnings for overlapping ranges
  editoast/openapi.yaml
  editoast/src/error.rs
  editoast/src/views/pathfinding/catenaries.rs
  editoast/src/views/pathfinding/mod.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

editoast: add get_catenaries_on_path endpoint
  editoast/openapi.yaml
  editoast/src/fixtures.rs
  editoast/src/infra_cache/mod.rs
  editoast/src/models/infra.rs
  editoast/src/models/infra_objects/catenary.rs
  editoast/src/models/infra_objects/mod.rs
  editoast/src/models/mod.rs
  editoast/src/models/pathfinding.rs
  editoast/src/schema/mod.rs
  editoast/src/views/pathfinding/catenaries.rs
  editoast/src/views/pathfinding/mod.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers
