Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics

editoast: osm_to_railjson generates point_switches
  editoast/src/converters/mod.rs
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: test parsing point switches from osm
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/tests/switches.osm.pbf
Owners: @DGEXSolutions/editoast-maintainers

editoast: osm_to_railjson generates point_switches
  editoast/src/converters/mod.rs
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: test parsing point switches from osm
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/tests/switches.osm.pbf
Owners: @DGEXSolutions/editoast-maintainers

rename docker compose files
  README.md
  docker-compose-host.yml
  docker-compose.yml
Owners: none

rename docker compose files
  README.md
  docker-compose-host.yml
  docker-compose.yml
Owners: none

tests: front: Add readme and doc for e2e tests
  front/README.md
Owners: @DGEXSolutions/front-maintainers

tests: front: Add readme and doc for e2e tests
  front/README.md
Owners: @DGEXSolutions/front-maintainers

tests: front: Add readme and doc for e2e tests
  front/README.md
Owners: @DGEXSolutions/front-maintainers

front: fix add train to scenario not working
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/reducers/osrdconf/index.ts
Owners: @DGEXSolutions/front-maintainers

front: add warning toast in reducer and add warning message for power restriction incompatibility
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/common/BootstrapSNCF/ToastSNCF.tsx
  front/src/reducers/main.ts
Owners: @DGEXSolutions/front-maintainers

front: add warning toast in reducer and add warning message for power… (#4042)
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/common/BootstrapSNCF/ToastSNCF.tsx
  front/src/reducers/main.ts
  front/src/reducers/osrdconf/index.ts
Owners: @DGEXSolutions/front-maintainers

front: add warning toast in reducer and add warning message for power… (#4042)
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/common/BootstrapSNCF/ToastSNCF.tsx
  front/src/reducers/main.ts
  front/src/reducers/osrdconf/index.ts
Owners: @DGEXSolutions/front-maintainers

front: set max memory usage for storybook dockerfile
  front/Dockerfile.storybook
Owners: @DGEXSolutions/front-maintainers

front: fix get trainScheduleResults request in StdmRequestModal
  front/src/applications/stdcm/views/StdcmRequestModal.jsx
Owners: @DGEXSolutions/front-maintainers

front: fix get trainScheduleResults request in StdmRequestModal
  front/src/applications/stdcm/views/StdcmRequestModal.jsx
Owners: @DGEXSolutions/front-maintainers

front: fix get trainScheduleResults request in StdmRequestModal
  front/src/applications/stdcm/views/StdcmRequestModal.jsx
Owners: @DGEXSolutions/front-maintainers

front: fix app crashing when power restriction undefined in train schedule
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
Owners: @DGEXSolutions/front-maintainers

front: fix app crashing when power restriction undefined in train sch… (#4107)
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
Owners: @DGEXSolutions/front-maintainers

front: fix app crashing when power restriction undefined in train sch… (#4107)
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: add core module & POST/PUT /pathfinding
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/client/mod.rs
  editoast/src/core/mod.rs
  editoast/src/core/pathfinding.rs
  editoast/src/main.rs
  editoast/src/models/pathfinding.rs
  editoast/src/schema/utils/geometry.rs
  editoast/src/schema/utils/mod.rs
  editoast/src/tests/pathfinding_core_response.json
  editoast/src/tests/pathfinding_post_payload.json
  editoast/src/views/mod.rs
  editoast/src/views/pathfinding/catenaries.rs
  editoast/src/views/pathfinding/mod.rs
  editoast/src/views/rolling_stocks.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add more /pathfinding unit tests + utils
  editoast/src/fixtures.rs
  editoast/src/models/pathfinding.rs
  editoast/src/tests/pathfinding_payload.json
  editoast/src/views/mod.rs
  editoast/src/views/pathfinding/catenaries.rs
  editoast/src/views/pathfinding/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add fixture small_infra
  editoast/src/fixtures.rs
  editoast/src/tests/small_infra/pathfinding_core_response.json
  editoast/src/tests/small_infra/pathfinding_post_payload.json
  editoast/src/tests/small_infra/small_infra.json
  editoast/src/views/mod.rs
  editoast/src/views/pathfinding/mod.rs
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
Owners: @DGEXSolutions/editoast-maintainers

editoast: improve CoreClient mocking API
  editoast/src/core/mocking.rs
  editoast/src/core/mod.rs
  editoast/src/core/pathfinding.rs
  editoast/src/main.rs
  editoast/src/views/mod.rs
  editoast/src/views/pathfinding/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

core: stdcm: convert test files to kotlin
  core/src/main/kotlin/fr/sncf/osrd/stdcm/STDCMResult.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/AllowanceManager.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/BacktrackingManager.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/DelayManager.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/EnvelopeSimContextBuilder.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdge.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdgeBuilder.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPostProcessing.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMSimulations.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMStandardAllowance.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMUtils.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/preprocessing/implementation/RouteAvailabilityLegacyAdapter.kt
  core/src/test/java/fr/sncf/osrd/stdcm/BacktrackingTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/DepartureTimeShiftTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/DummyRouteGraphBuilder.java
  core/src/test/java/fr/sncf/osrd/stdcm/EngineeringAllowanceTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/FullSTDCMTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMHelpers.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMPathfindingBuilder.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMPathfindingTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/StandardAllowanceTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/StopTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/UnavailableSpaceBuilderTests.java
  core/src/test/kotlin/fr/sncf/osrd/stdcm/BacktrackingTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/DepartureTimeShiftTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/DummyRouteGraphBuilder.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/EngineeringAllowanceTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/FullSTDCMTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMHelpers.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMPathfindingBuilder.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMPathfindingTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/StandardAllowanceTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/StopTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/UnavailableSpaceBuilderTests.kt
Owners: @DGEXSolutions/core-maintainers

rename rollingStock to rollingStockEditor
  front/src/applications/rollingStockEditor/Home.tsx
  front/src/assets/pictures/home/rollingstockeditor.svg
  front/src/main/app.jsx
  front/src/main/home.jsx
Owners: @DGEXSolutions/front-maintainers

core: stdcm: convert test files to kotlin
  core/src/main/kotlin/fr/sncf/osrd/stdcm/STDCMResult.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/AllowanceManager.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/BacktrackingManager.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/DelayManager.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/EnvelopeSimContextBuilder.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdge.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdgeBuilder.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPostProcessing.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMSimulations.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMStandardAllowance.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMUtils.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/preprocessing/implementation/RouteAvailabilityLegacyAdapter.kt
  core/src/test/java/fr/sncf/osrd/stdcm/BacktrackingTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/DepartureTimeShiftTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/DummyRouteGraphBuilder.java
  core/src/test/java/fr/sncf/osrd/stdcm/EngineeringAllowanceTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/FullSTDCMTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMHelpers.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMPathfindingBuilder.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMPathfindingTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/StandardAllowanceTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/StopTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/UnavailableSpaceBuilderTests.java
  core/src/test/kotlin/fr/sncf/osrd/stdcm/BacktrackingTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/DepartureTimeShiftTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/DummyRouteGraphBuilder.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/EngineeringAllowanceTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/FullSTDCMTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMHelpers.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMPathfindingBuilder.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMPathfindingTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/StandardAllowanceTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/StopTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/UnavailableSpaceBuilderTests.kt
Owners: @DGEXSolutions/core-maintainers

core: stdcm: convert test files to kotlin
  core/src/main/kotlin/fr/sncf/osrd/stdcm/STDCMResult.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/AllowanceManager.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/BacktrackingManager.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/DelayManager.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/EnvelopeSimContextBuilder.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdge.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdgeBuilder.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPostProcessing.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMSimulations.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMStandardAllowance.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMUtils.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/preprocessing/implementation/RouteAvailabilityLegacyAdapter.kt
  core/src/test/java/fr/sncf/osrd/stdcm/BacktrackingTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/DepartureTimeShiftTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/DummyRouteGraphBuilder.java
  core/src/test/java/fr/sncf/osrd/stdcm/EngineeringAllowanceTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/FullSTDCMTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMHelpers.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMPathfindingBuilder.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMPathfindingTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/StandardAllowanceTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/StopTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/UnavailableSpaceBuilderTests.java
  core/src/test/kotlin/fr/sncf/osrd/stdcm/BacktrackingTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/DepartureTimeShiftTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/DummyRouteGraphBuilder.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/EngineeringAllowanceTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/FullSTDCMTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMHelpers.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMPathfindingBuilder.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMPathfindingTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/StandardAllowanceTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/StopTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/UnavailableSpaceBuilderTests.kt
Owners: @DGEXSolutions/core-maintainers

fix
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/prepareData.ts
  front/src/reducers/osrdsimulation/types.ts
Owners: @DGEXSolutions/front-maintainers

front: type speedSpaceChart/prepareData
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/prepareData.ts
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/withOSRDData.jsx
Owners: @DGEXSolutions/front-maintainers

front: type speedSpaceChart/prepareData
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/prepareData.ts
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/withOSRDData.jsx
Owners: @DGEXSolutions/front-maintainers

fix
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/prepareData.ts
  front/src/reducers/osrdsimulation/types.ts
Owners: @DGEXSolutions/front-maintainers

fix
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/prepareData.ts
  front/src/reducers/osrdsimulation/types.ts
Owners: @DGEXSolutions/front-maintainers

front: type speedSpaceChart/prepareData
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/prepareData.ts
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/withOSRDData.jsx
Owners: @DGEXSolutions/front-maintainers

front: remove MarecoMultiRange and type errors in osrdconf reducers
  front/package.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/MarecoMultiRange.jsx
  front/src/reducers/osrdconf/index.ts
Owners: @DGEXSolutions/front-maintainers

Update Home.tsx
  front/src/applications/rollingStockEditor/Home.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: suggestion for core client
  editoast/src/core/http_client.rs
  editoast/src/core/mocking.rs
  editoast/src/core/mod.rs
  editoast/src/main.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: provide a dummy /timetable/{id}/conflicts endpoint
  editoast/src/views/timetable.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: provide a dummy /timetable/{id}/conflicts endpoint
  editoast/src/views/timetable.rs
Owners: @DGEXSolutions/editoast-maintainers

modif home.json -> 'Editeur (en construction)'
  front/public/locales/fr/home/home.json
Owners: @DGEXSolutions/front-maintainers
