Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @osrd-project/front-maintainers, @osrd-project/editoast-maintainers, @eckter, @osrd-project/core-maintainers, @osrd-project/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @osrd-project/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @osrd-project/editoast-maintainers
/editoast/openapi.yaml
/chartos                                                 @osrd-project/editoast-maintainers
/python                                                  @osrd-project/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @osrd-project/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @osrd-project/physics
*Integration*.java                                       @osrd-project/physics

front: mass selection: corrections after review
  front/public/locales/en/operationalStudies/home.json
  front/public/locales/en/operationalStudies/project.json
  front/public/locales/en/operationalStudies/study.json
  front/public/locales/fr/operationalStudies/project.json
  front/public/locales/fr/operationalStudies/study.json
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/components/Project/StudyCard.tsx
  front/src/applications/operationalStudies/components/Study/ScenarioCard.tsx
Owners: @osrd-project/front-maintainers

front: projects: add modal to confirm project deletion
  front/public/locales/fr/operationalStudies/home.json
  front/src/applications/operationalStudies/components/Home/DeleteProjectsModal.tsx
  front/src/applications/operationalStudies/components/Home/ProjectSelectionToolbar.tsx
Owners: @osrd-project/front-maintainers

front: adjust breakpoints on project, studies, scenarios
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/applications/operationalStudies/views/Study.tsx
  tests/pytestdebug.log
Owners: @osrd-project/front-maintainers, @eckter

front: mass selection: corrections after review
  front/public/locales/en/operationalStudies/home.json
  front/public/locales/en/operationalStudies/project.json
  front/public/locales/en/operationalStudies/study.json
  front/public/locales/fr/operationalStudies/project.json
  front/public/locales/fr/operationalStudies/study.json
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/components/Project/StudyCard.tsx
  front/src/applications/operationalStudies/components/Study/ScenarioCard.tsx
Owners: @osrd-project/front-maintainers

front: gain space in addEditProject modal
  front/src/styles/scss/applications/operationalStudies/components/_AddAndEditProjectModal.scss
Owners: @osrd-project/front-maintainers

front: studies: mass selection for projects
  front/public/locales/en/operationalStudies/study.json
  front/public/locales/fr/operationalStudies/home.json
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/applications/operationalStudies/components/Home/ProjectSelectionToolbar.tsx
  front/src/styles/scss/applications/operationalStudies/_home.scss
  tests/pytestdebug.log
Owners: @osrd-project/front-maintainers, @eckter

front: projects: add modal to confirm project deletion
  front/public/locales/fr/operationalStudies/home.json
  front/src/applications/operationalStudies/components/Home/DeleteProjectsModal.tsx
  front/src/applications/operationalStudies/components/Home/ProjectSelectionToolbar.tsx
Owners: @osrd-project/front-maintainers

front: studies: mass selection for projects
  front/public/locales/en/operationalStudies/study.json
  front/public/locales/fr/operationalStudies/home.json
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/applications/operationalStudies/components/Home/ProjectSelectionToolbar.tsx
  front/src/styles/scss/applications/operationalStudies/_home.scss
  tests/pytestdebug.log
Owners: @osrd-project/front-maintainers, @eckter

front: gain space in addEditProject modal
  front/src/styles/scss/applications/operationalStudies/components/_AddAndEditProjectModal.scss
Owners: @osrd-project/front-maintainers

examples + core: add and use a fully electric rolling stock
  core/src/test/java/fr/sncf/osrd/Helpers.java
  core/src/test/java/fr/sncf/osrd/api/STDCMEndpointTest.java
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  core/src/test/java/fr/sncf/osrd/stdcm/FullSTDCMTests.java
  python/railjson_generator/railjson_generator/examples/rolling_stocks/electric_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/fast_rolling_stock.json
Owners: @osrd-project/core-maintainers, @osrd-project/editoast-maintainers

front: warnings: finish him oh-ah oh-ah
  front/src/reducers/editor.ts
Owners: @osrd-project/front-maintainers

front: finish him oh ah set warning limit to zero
  front/package.json
Owners: @osrd-project/front-maintainers

editoast: fix train schedule endpoints
  editoast/src/views/train_schedule/mod.rs
Owners: @osrd-project/editoast-maintainers

front: warnings: finish him oh-ah oh-ah
  front/src/reducers/editor.ts
Owners: @osrd-project/front-maintainers

front: finish him oh ah set warning limit to zero
  front/package.json
Owners: @osrd-project/front-maintainers

front: finish him oh ah set warning limit to zero
  front/package.json
Owners: @osrd-project/front-maintainers

front: warnings: finish him oh-ah oh-ah
  front/src/reducers/editor.ts
Owners: @osrd-project/front-maintainers

front: newAllowances: fix bug on empty allowances on first launch
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/helpers.ts
Owners: @osrd-project/front-maintainers

examples + core: add and use a fully electric rolling stock
  core/src/test/java/fr/sncf/osrd/Helpers.java
  core/src/test/java/fr/sncf/osrd/api/STDCMEndpointTest.java
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  core/src/test/java/fr/sncf/osrd/stdcm/FullSTDCMTests.java
  python/railjson_generator/railjson_generator/examples/rolling_stocks/electric_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/fast_rolling_stock.json
Owners: @osrd-project/core-maintainers, @osrd-project/editoast-maintainers

examples + core: add and use a fully electric rolling stock
  core/src/test/java/fr/sncf/osrd/Helpers.java
  core/src/test/java/fr/sncf/osrd/api/STDCMEndpointTest.java
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  core/src/test/java/fr/sncf/osrd/stdcm/FullSTDCMTests.java
  python/railjson_generator/railjson_generator/examples/rolling_stocks/electric_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/fast_rolling_stock.json
Owners: @osrd-project/core-maintainers, @osrd-project/editoast-maintainers

editoast: allow create_livery for locked rolling_stock
  editoast/src/views/rolling_stocks/mod.rs
Owners: @osrd-project/editoast-maintainers

front: newAllowances: fix bug on empty allowances on first launch
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/helpers.ts
Owners: @osrd-project/front-maintainers

front: newAllowances: fix bug on empty allowances on first launch
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/helpers.ts
Owners: @osrd-project/front-maintainers

editoast:search: add ch OP search criteria
  editoast/openapi.yaml
  editoast/search.yml
  front/src/common/api/osrdEditoastApi.ts
  python/api/osrd_infra/migrations/0036_search_op_add_ch.py
Owners: @osrd-project/editoast-maintainers

editoast: allow create_livery for locked rolling_stock
  editoast/src/views/rolling_stocks/mod.rs
Owners: @osrd-project/editoast-maintainers

editoast: allow create_livery for locked rolling_stock
  editoast/src/views/rolling_stocks/mod.rs
Owners: @osrd-project/editoast-maintainers

editoast:search: add ch OP search criteria
  editoast/openapi.yaml
  editoast/search.yml
  front/src/common/api/osrdEditoastApi.ts
  python/api/osrd_infra/migrations/0036_search_op_add_ch.py
Owners: @osrd-project/editoast-maintainers

editoast:search: add ch OP search criteria
  editoast/openapi.yaml
  editoast/search.yml
  front/src/common/api/osrdEditoastApi.ts
  python/api/osrd_infra/migrations/0036_search_op_add_ch.py
Owners: @osrd-project/editoast-maintainers

front: renable storybook build
  .github/workflows/front.yml
  front/.storybook/main.js
Owners: @flomonster, @multun, @osrd-project/front-maintainers

renable minification
  front/.storybook/main.js
Owners: @osrd-project/front-maintainers

front: first story for IntervalsEditor
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/stories/IntervalsEditor.stories.tsx
Owners: @osrd-project/front-maintainers

front: drafted intervalsEditor
  front/src/applications/editor/components/LinearMetadata/FormComponent.tsx
  front/src/applications/editor/components/LinearMetadata/dataviz.tsx
  front/src/applications/editor/components/LinearMetadata/style.scss
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/stories/IntervalsEditor.stories.tsx
Owners: @osrd-project/front-maintainers

front: flexible graduation
  front/src/applications/editor/components/LinearMetadata/dataviz.tsx
  front/src/applications/editor/components/LinearMetadata/style.scss
Owners: @osrd-project/front-maintainers

front: scissor update
  front/src/applications/editor/components/LinearMetadata/dataviz.tsx
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/stories/IntervalsEditor.stories.tsx
Owners: @osrd-project/front-maintainers

front: Intervals Editor, tools Icon Setup
  front/src/applications/editor/components/LinearMetadata/style.scss
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/stories/IntervalsEditor.stories.tsx
Owners: @osrd-project/front-maintainers

front: cut and delete tool
  front/src/applications/editor/components/LinearMetadata/data.ts
  front/src/applications/editor/components/LinearMetadata/dataviz.tsx
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/stories/IntervalsEditor.stories.tsx
Owners: @osrd-project/front-maintainers

front: styling first form
  front/src/applications/editor/components/LinearMetadata/dataviz.tsx
  front/src/applications/editor/components/LinearMetadata/style.scss
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/styles/scss/common/_components.scss
  front/src/styles/scss/common/components/_intervalsEditor.scss
Owners: @osrd-project/front-maintainers

front: popup maj
  front/src/applications/editor/components/LinearMetadata/dataviz.tsx
  front/src/applications/editor/components/LinearMetadata/style.scss
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/common/IntervalsEditor/IntervalsEditorTooltip.tsx
  front/src/stories/IntervalsEditor.stories.tsx
Owners: @osrd-project/front-maintainers

front: move elements
  front/src/applications/editor/components/LinearMetadata/style.scss
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/stories/IntervalsEditor.stories.tsx
  front/src/stories/storybook.css
  front/src/stories/storybook.css.map
  front/src/styles/scss/common/components/_intervalsEditor.scss
Owners: @osrd-project/front-maintainers

front: ending the 0.5
  front/package.json
  front/src/applications/editor/components/LinearMetadata/dataviz.tsx
  front/src/applications/editor/components/LinearMetadata/style.scss
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/stories/IntervalsEditor.stories.tsx
  front/src/stories/storybook.css
  front/src/stories/storybook.css.map
  front/src/styles/scss/common/components/_intervalsEditor.scss
Owners: @osrd-project/front-maintainers
