Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics

front: remove useless consts
  front/src/applications/stdcm/views/StdcmRequestModal.jsx
  front/src/reducers/osrdsimulation/simulation.js
Owners: @DGEXSolutions/front-maintainers

front: updateTrainExtras: add collapsing timetable
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderItinerary.tsx
  front/src/applications/operationalStudies/components/SimulationResults/TrainDetails.tsx
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/reducers/osrdconf/index.ts
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
  front/src/styles/scss/applications/operationalStudies/_simulationresults.scss
Owners: @DGEXSolutions/front-maintainers

front: trainScheduleIDsToModify is now in ze store
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/submitConfUpdateTrainSchedules.ts
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
  front/src/applications/operationalStudies/components/Scenario/TimetableManageTrainSchedule.tsx
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdconf/selectors.ts
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Owners: @DGEXSolutions/front-maintainers

front: itinerary: adapt stdcm to new design
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Destination.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Origin.tsx
  front/src/styles/scss/common/components/_pathfinding.scss
Owners: @DGEXSolutions/front-maintainers

core: fix "end of enveloppe" routes occupancies not being computed correctly
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
Owners: @DGEXSolutions/core-maintainers

core: fix "end of enveloppe" routes occupancies not being computed correctly
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
Owners: @DGEXSolutions/core-maintainers

core: fix "end of enveloppe" routes occupancies not being computed correctly
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
Owners: @DGEXSolutions/core-maintainers

front: remove dead code
  front/src/Store.ts
Owners: @DGEXSolutions/front-maintainers

front: version control and purge system
  front/src/Store.ts
  front/src/main/app.jsx
  front/src/reducers/index.ts
  front/src/reducers/main.ts
Owners: @DGEXSolutions/front-maintainers

front: remove dead code
  front/src/Store.ts
Owners: @DGEXSolutions/front-maintainers

front: version control and purge system
  front/src/Store.ts
  front/src/main/app.jsx
  front/src/reducers/index.ts
  front/src/reducers/main.ts
Owners: @DGEXSolutions/front-maintainers

core: add infra states and allow returning InfraCacheStatus for a given infra
  core/src/main/java/fr/sncf/osrd/api/InfraCacheStatusEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/InfraManager.java
  core/src/test/java/fr/sncf/osrd/api/InfraCacheStatusTest.java
Owners: @DGEXSolutions/core-maintainers

core: add infra states and allow returning InfraCacheStatus for a given infra
  core/src/main/java/fr/sncf/osrd/api/InfraCacheStatusEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/InfraManager.java
  core/src/test/java/fr/sncf/osrd/api/InfraCacheStatusTest.java
Owners: @DGEXSolutions/core-maintainers

core: add infra states and allow returning InfraCacheStatus for a given infra
  core/src/main/java/fr/sncf/osrd/api/InfraCacheStatusEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/InfraManager.java
  core/src/test/java/fr/sncf/osrd/api/InfraCacheStatusTest.java
Owners: @DGEXSolutions/core-maintainers

editoast: bump dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
Owners: @DGEXSolutions/editoast-maintainers

editoast: provide a dummy /timetable/{id}/conflicts endpoint
  editoast/src/views/timetable.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: bump dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
Owners: @DGEXSolutions/editoast-maintainers

editoast: bump dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
Owners: @DGEXSolutions/editoast-maintainers

editoast: add delete endpoint to rollingstock api
  editoast/openapi.yaml
  editoast/src/views/rolling_stocks.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

editoast: add delete endpoint to rollingstock api
  editoast/openapi.yaml
  editoast/src/views/rolling_stocks.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

editoast: add delete endpoint to rollingstock api
  editoast/openapi.yaml
  editoast/src/views/rolling_stocks.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

commit de vendredi matin
  front/src/applications/editor/tools/speedSectionEdition/components/EditLPVSection.tsx
  front/src/applications/editor/tools/speedSectionEdition/tool.ts
  front/src/applications/editor/tools/speedSectionEdition/types.ts
  front/src/applications/editor/tools/speedSectionEdition/utils.ts
  front/src/types/editor.ts
Owners: @DGEXSolutions/front-maintainers

commit de jeudi soir
  front/public/locales/fr/translation.json
  front/src/applications/editor/tools/speedSectionEdition/components.tsx
  front/src/applications/editor/tools/speedSectionEdition/components/EditLPVSection.tsx
Owners: @DGEXSolutions/front-maintainers

commit de vendredi après-midi
  front/src/applications/editor/tools/speedSectionEdition/components.tsx
  front/src/applications/editor/tools/speedSectionEdition/components/EditLPVSection.tsx
  front/src/applications/editor/tools/speedSectionEdition/components/LpvPanelCard.tsx
  front/src/applications/editor/tools/speedSectionEdition/components/LpvPanelSubSection.tsx
  front/src/applications/editor/tools/speedSectionEdition/tool.ts
  front/src/applications/editor/tools/speedSectionEdition/types.ts
  front/src/applications/editor/tools/speedSectionEdition/utils.ts
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.jsx
  front/src/types/editor.ts
Owners: @DGEXSolutions/front-maintainers

commit de mercredi soir
  front/public/locales/fr/translation.json
  front/src/applications/editor/components/ForceRemount.tsx
  front/src/applications/editor/tools/speedSectionEdition/components.tsx
  front/src/applications/editor/tools/speedSectionEdition/components/LpvPanelCard.tsx
  front/src/applications/editor/tools/speedSectionEdition/components/LpvPanelSubSection.tsx
  front/src/applications/editor/tools/speedSectionEdition/tool.ts
  front/src/applications/editor/tools/speedSectionEdition/types.ts
  front/src/applications/editor/tools/speedSectionEdition/utils.ts
  front/src/applications/editor/tools/utils.ts
  front/src/types/editor.ts
Owners: @DGEXSolutions/front-maintainers

front: commit mercredi matin 3
  front/public/locales/fr/translation.json
  front/src/applications/editor/components/LayersModal.tsx
  front/src/applications/editor/nav.tsx
  front/src/applications/editor/tools/speedSectionEdition/components.tsx
  front/src/applications/editor/tools/speedSectionEdition/tool.ts
  front/src/applications/editor/tools/types.ts
  front/src/common/Map/Layers/GeoJSONs.tsx
  front/src/common/Map/Layers/extensions/SNCF/SNCF_LPV.tsx
  front/src/common/Map/Layers/extensions/SNCF/SNCF_LPV_PANELS.tsx
  front/src/common/Map/Layers/types.ts
  front/src/types/editor.ts
Owners: @DGEXSolutions/front-maintainers

front: travail de mercredi aprem (afficher les lpvPanels dans l'editeur)
  front/src/applications/editor/components/LayersModal.tsx
  front/src/applications/editor/tools/speedSectionEdition/components.tsx
  front/src/applications/editor/tools/speedSectionEdition/utils.ts
Owners: @DGEXSolutions/front-maintainers

commit de mercredi matin
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/components/ForceRemount.tsx
  front/src/applications/editor/tools/speedSectionEdition/components.tsx
  front/src/applications/editor/tools/speedSectionEdition/components/EditLPVSection.tsx
  front/src/applications/editor/tools/speedSectionEdition/tool.ts
  front/src/applications/editor/tools/utils.ts
Owners: @DGEXSolutions/front-maintainers

Fixes
  front/public/locales/fr/translation.json
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/tools/speedSectionEdition/components.tsx
  front/src/applications/editor/tools/speedSectionEdition/components/LpvPanelCard.tsx
  front/src/applications/editor/tools/speedSectionEdition/tool.ts
  front/src/applications/editor/tools/speedSectionEdition/utils.ts
  front/src/applications/editor/tools/utils.ts
Owners: @DGEXSolutions/front-maintainers

commit de jeudi aprem
  front/src/applications/editor/tools/speedSectionEdition/components.tsx
  front/src/applications/editor/tools/speedSectionEdition/components/EditLPVSection.tsx
  front/src/applications/editor/tools/speedSectionEdition/tool.ts
  front/src/applications/editor/tools/speedSectionEdition/types.ts
  front/src/applications/editor/tools/speedSectionEdition/utils.ts
  front/src/applications/editor/tools/types.ts
  front/src/applications/editor/tools/utils.ts
Owners: @DGEXSolutions/front-maintainers

commit de jeudi matin
  front/src/applications/editor/tools/speedSectionEdition/components.tsx
  front/src/applications/editor/tools/speedSectionEdition/tool.ts
  front/src/applications/editor/tools/speedSectionEdition/types.ts
  front/src/applications/editor/tools/speedSectionEdition/utils.ts
  front/src/common/Map/Layers/GeoJSONs.tsx
  front/src/types/editor.ts
Owners: @DGEXSolutions/front-maintainers

commit mercredi aprem
  front/public/locales/fr/translation.json
  front/src/applications/editor/tools/speedSectionEdition/components.tsx
  front/src/applications/editor/tools/speedSectionEdition/components/EditLPVSection.tsx
  front/src/applications/editor/tools/speedSectionEdition/components/LpvPanelCard.tsx
  front/src/applications/editor/tools/speedSectionEdition/components/LpvPanelSubSection.tsx
  front/src/applications/editor/tools/speedSectionEdition/tool.ts
  front/src/applications/editor/tools/speedSectionEdition/types.ts
  front/src/applications/editor/tools/speedSectionEdition/utils.ts
Owners: @DGEXSolutions/front-maintainers

front: infra-editor refacto lpv and lpv panels
  front/src/applications/editor/tools/types.ts
  front/src/common/Map/Layers/GeoJSONs.tsx
  front/src/common/Map/Layers/extensions/SNCF/SNCF_LPV.tsx
  front/src/common/Map/Layers/extensions/SNCF/SNCF_LPV_PANELS.tsx
  front/src/types/editor.ts
Owners: @DGEXSolutions/front-maintainers

fix jeudi matin
  front/src/applications/editor/tools/speedSectionEdition/components.tsx
Owners: @DGEXSolutions/front-maintainers

commit paul mardi aprem
  front/src/applications/editor/tools/speedSectionEdition/components/EditLPVSection.tsx
  front/src/applications/editor/tools/speedSectionEdition/components/LpvPanelCard.tsx
  front/src/applications/editor/tools/speedSectionEdition/components/LpvPanelSubSection.tsx
Owners: @DGEXSolutions/front-maintainers

front: editor: make LPV speedsections editable (#4040)
  front/public/locales/fr/translation.json
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/components/ForceRemount.tsx
  front/src/applications/editor/components/LayersModal.tsx
  front/src/applications/editor/nav.tsx
  front/src/applications/editor/tools/speedSectionEdition/components.tsx
  front/src/applications/editor/tools/speedSectionEdition/components/EditLPVSection.tsx
  front/src/applications/editor/tools/speedSectionEdition/components/LpvPanelCard.tsx
  front/src/applications/editor/tools/speedSectionEdition/components/LpvPanelSubSection.tsx
  front/src/applications/editor/tools/speedSectionEdition/tool.ts
  front/src/applications/editor/tools/speedSectionEdition/types.ts
  front/src/applications/editor/tools/speedSectionEdition/utils.ts
  front/src/applications/editor/tools/types.ts
  front/src/applications/editor/tools/utils.ts
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.jsx
  front/src/common/Map/Layers/GeoJSONs.tsx
  front/src/common/Map/Layers/extensions/SNCF/SNCF_LPV.tsx
  front/src/common/Map/Layers/extensions/SNCF/SNCF_LPV_PANELS.tsx
  front/src/common/Map/Layers/types.ts
  front/src/types/editor.ts
Owners: @DGEXSolutions/front-maintainers

front: editor: make LPV speedsections editable (#4040)
  front/public/locales/fr/translation.json
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/components/ForceRemount.tsx
  front/src/applications/editor/components/LayersModal.tsx
  front/src/applications/editor/nav.tsx
  front/src/applications/editor/tools/speedSectionEdition/components.tsx
  front/src/applications/editor/tools/speedSectionEdition/components/EditLPVSection.tsx
  front/src/applications/editor/tools/speedSectionEdition/components/LpvPanelCard.tsx
  front/src/applications/editor/tools/speedSectionEdition/components/LpvPanelSubSection.tsx
  front/src/applications/editor/tools/speedSectionEdition/tool.ts
  front/src/applications/editor/tools/speedSectionEdition/types.ts
  front/src/applications/editor/tools/speedSectionEdition/utils.ts
  front/src/applications/editor/tools/types.ts
  front/src/applications/editor/tools/utils.ts
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.jsx
  front/src/common/Map/Layers/GeoJSONs.tsx
  front/src/common/Map/Layers/extensions/SNCF/SNCF_LPV.tsx
  front/src/common/Map/Layers/extensions/SNCF/SNCF_LPV_PANELS.tsx
  front/src/common/Map/Layers/types.ts
  front/src/types/editor.ts
Owners: @DGEXSolutions/front-maintainers

rename docker compose files
  README.md
  docker-compose-host.yml
  docker-compose.yml
Owners: none

editoast: osm_to_railjson generates point_switches
  editoast/src/converters/mod.rs
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: test parsing point switches from osm
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/tests/switches.osm.pbf
Owners: @DGEXSolutions/editoast-maintainers
