Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

editor: fine tunes overlay related to #1567
  front/src/applications/editor/components/LinearMetadata/dataviz.tsx
Owners: @DGEXSolutions/front-maintainers

[front] fix #1567
  front/src/applications/editor/components/LinearMetadata/dataviz.tsx
Owners: @DGEXSolutions/front-maintainers

editor: restores X button on disabled ConfirmModal
  front/src/common/BootstrapSNCF/ModalSNCF/ConfirmModal.tsx
Owners: @DGEXSolutions/front-maintainers

[front] refacto modal #3493
  front/src/applications/editor/tools/routeEdition/components/EditRouteMetadata.tsx
  front/src/applications/editor/tools/selection/tool.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ConfirmModal.tsx
Owners: @DGEXSolutions/front-maintainers

editor: restores X button on disabled ConfirmModal
  front/src/common/BootstrapSNCF/ModalSNCF/ConfirmModal.tsx
Owners: @DGEXSolutions/front-maintainers

[front] refacto modal #3493
  front/src/applications/editor/tools/routeEdition/components/EditRouteMetadata.tsx
  front/src/applications/editor/tools/selection/tool.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ConfirmModal.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: move tempfile to dev-dependency
  editoast/Cargo.toml
Owners: @DGEXSolutions/editoast-maintainers

front: default data for SpeedLimitByTag Selector
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.scss
  front/src/common/SpeedLimitByTagSelector/SpeedLimitByTagSelector.scss
  front/src/common/SpeedLimitByTagSelector/SpeedLimitByTagSelector.tsx
  front/src/stories/SpeedLimitByTag.stories.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: move tempfile to dev-dependency
  editoast/Cargo.toml
Owners: @DGEXSolutions/editoast-maintainers

editoast: move tempfile to dev-dependency
  editoast/Cargo.toml
Owners: @DGEXSolutions/editoast-maintainers

add battery tests
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/Battery.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/storage/EnergyStorage.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/power/BatteryTests.java
Owners: @DGEXSolutions/core-maintainers

front: remove unused var
  front/src/stories/SpeedLimitByTag.stories.tsx
Owners: @DGEXSolutions/front-maintainers

front: Fix #3838 - modal disabled
  front/src/common/BootstrapSNCF/ModalSNCF/ConfirmModal.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalHeaderSNCF.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalProvider.tsx
Owners: @DGEXSolutions/front-maintainers

add powerpack tests
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/Battery.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/PowerPack.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/power/BatteryTests.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/power/PowerPackTests.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/SimpleRollingStock.java
Owners: @DGEXSolutions/core-maintainers

add sendEnergy() method to EnergySource
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/Battery.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/Catenary.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/EnergySource.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/PowerPack.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/storage/EnergyStorage.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/power/BatteryTests.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/power/PowerPackTests.java
Owners: @DGEXSolutions/core-maintainers

editoast: adapt get railjson endpoint
  editoast/openapi.yaml
  editoast/src/views/infra/railjson.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

add catenary tests
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/Battery.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/Catenary.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/EnergySource.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/PowerPack.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/power/BatteryTests.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/power/CatenaryTests.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/power/PowerPackTests.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
Owners: @DGEXSolutions/core-maintainers

editoast: add TrackSectionModel & geos usage for geometry operations
  .github/workflows/editoast.yml
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/Dockerfile
  editoast/README.md
  editoast/src/infra_cache/mod.rs
  editoast/src/map/bounding_box.rs
  editoast/src/models/infra_objects/mod.rs
  editoast/src/models/infra_objects/track_section.rs
  editoast/src/models/mod.rs
  editoast/src/models/pathfinding.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/track_section.rs
  editoast/src/tables.rs
  editoast/src/views/pathfinding.rs
Owners: @flomonster, @multun, @DGEXSolutions/editoast-maintainers

core: adapt request to retrieve a railjson
  core/src/main/java/fr/sncf/osrd/api/InfraManager.java
  editoast/src/views/infra/railjson.rs
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers

editoast: add TrackSectionModel & geos usage for geometry operations
  .github/workflows/editoast.yml
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/Dockerfile
  editoast/README.md
  editoast/src/infra_cache/mod.rs
  editoast/src/map/bounding_box.rs
  editoast/src/models/infra_objects/mod.rs
  editoast/src/models/infra_objects/track_section.rs
  editoast/src/models/mod.rs
  editoast/src/models/pathfinding.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/track_section.rs
  editoast/src/tables.rs
  editoast/src/views/pathfinding.rs
Owners: @flomonster, @multun, @DGEXSolutions/editoast-maintainers

editoast: add TrackSectionModel & geos usage for geometry operations
  .github/workflows/editoast.yml
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/Dockerfile
  editoast/README.md
  editoast/src/infra_cache/mod.rs
  editoast/src/map/bounding_box.rs
  editoast/src/models/infra_objects/mod.rs
  editoast/src/models/infra_objects/track_section.rs
  editoast/src/models/mod.rs
  editoast/src/models/pathfinding.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/track_section.rs
  editoast/src/tables.rs
  editoast/src/views/pathfinding.rs
Owners: @flomonster, @multun, @DGEXSolutions/editoast-maintainers

editoast: adapt infra to new model (retrieve and delete)
  editoast/src/generated_data/mod.rs
  editoast/src/infra_cache/mod.rs
  editoast/src/main.rs
  editoast/src/models/infra.rs
  editoast/src/models/mod.rs
  editoast/src/models/scenario.rs
  editoast/src/schema/buffer_stop.rs
  editoast/src/schema/catenary.rs
  editoast/src/schema/detector.rs
  editoast/src/schema/operation/create.rs
  editoast/src/schema/operation/delete.rs
  editoast/src/schema/operation/update.rs
  editoast/src/schema/operational_point.rs
  editoast/src/schema/railjson.rs
  editoast/src/schema/route.rs
  editoast/src/schema/signal.rs
  editoast/src/schema/speed_section.rs
  editoast/src/schema/switch.rs
  editoast/src/schema/switch_type.rs
  editoast/src/schema/track_section.rs
  editoast/src/schema/track_section_link.rs
  editoast/src/views/infra/attached.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/errors.rs
  editoast/src/views/infra/lines.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/objects.rs
  editoast/src/views/infra/pathfinding.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/infra/routes.rs
  editoast/src/views/mod.rs
  editoast/src/views/scenario.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast : adapt infra model (create)
  editoast/Cargo.toml
  editoast/src/generated_data/mod.rs
  editoast/src/infra_cache/mod.rs
  editoast/src/main.rs
  editoast/src/models/infra.rs
  editoast/src/models/scenario.rs
  editoast/src/schema/buffer_stop.rs
  editoast/src/schema/catenary.rs
  editoast/src/schema/detector.rs
  editoast/src/schema/operation/create.rs
  editoast/src/schema/operation/delete.rs
  editoast/src/schema/operation/update.rs
  editoast/src/schema/operational_point.rs
  editoast/src/schema/railjson.rs
  editoast/src/schema/route.rs
  editoast/src/schema/signal.rs
  editoast/src/schema/speed_section.rs
  editoast/src/schema/switch.rs
  editoast/src/schema/switch_type.rs
  editoast/src/schema/track_section.rs
  editoast/src/schema/track_section_link.rs
  editoast/src/tables.rs
  editoast/src/views/infra/attached.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/errors.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/objects.rs
  editoast/src/views/infra/railjson.rs
Owners: @DGEXSolutions/editoast-maintainers

core: adapt request to retrieve a railjson
  core/src/main/java/fr/sncf/osrd/api/InfraManager.java
  editoast/src/views/infra/railjson.rs
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers

editoast: adapt get railjson endpoint
  editoast/openapi.yaml
  editoast/src/views/infra/railjson.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

editoast: adapt get railjson endpoint
  editoast/openapi.yaml
  editoast/src/views/infra/railjson.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

core: adapt request to retrieve a railjson
  core/src/main/java/fr/sncf/osrd/api/InfraManager.java
  editoast/src/views/infra/railjson.rs
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers

railjson_generator: disable route creation between two buffer stops
  python/railjson_generator/railjson_generator/utils/routes_generator.py
Owners: @DGEXSolutions/editoast-maintainers

editoast: add update and list model for infra
  editoast/Cargo.toml
  editoast/openapi.yaml
  editoast/src/main.rs
  editoast/src/models/infra.rs
  editoast/src/models/mod.rs
  editoast/src/models/projects.rs
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/views/infra/attached.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/pathfinding.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/projects.rs
  editoast/src/views/scenario.rs
  front/src/common/InfraSelector/InfraSelectorModal.tsx
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

railjson_generator: disable route creation between two buffer stops
  python/railjson_generator/railjson_generator/utils/routes_generator.py
Owners: @DGEXSolutions/editoast-maintainers

railjson_generator: disable route creation between two buffer stops
  python/railjson_generator/railjson_generator/utils/routes_generator.py
Owners: @DGEXSolutions/editoast-maintainers

editoast: add update and list model for infra
  editoast/Cargo.toml
  editoast/openapi.yaml
  editoast/src/main.rs
  editoast/src/models/infra.rs
  editoast/src/models/mod.rs
  editoast/src/models/projects.rs
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/views/infra/attached.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/pathfinding.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/projects.rs
  editoast/src/views/scenario.rs
  front/src/common/InfraSelector/InfraSelectorModal.tsx
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

editoast: add update and list model for infra
  editoast/Cargo.toml
  editoast/openapi.yaml
  editoast/src/main.rs
  editoast/src/models/infra.rs
  editoast/src/models/mod.rs
  editoast/src/models/projects.rs
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/views/infra/attached.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/pathfinding.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/projects.rs
  editoast/src/views/scenario.rs
  front/src/common/InfraSelector/InfraSelectorModal.tsx
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

editoast : adapt infra model (create)
  editoast/Cargo.toml
  editoast/src/generated_data/mod.rs
  editoast/src/infra_cache/mod.rs
  editoast/src/main.rs
  editoast/src/models/infra.rs
  editoast/src/models/scenario.rs
  editoast/src/schema/buffer_stop.rs
  editoast/src/schema/catenary.rs
  editoast/src/schema/detector.rs
  editoast/src/schema/operation/create.rs
  editoast/src/schema/operation/delete.rs
  editoast/src/schema/operation/update.rs
  editoast/src/schema/operational_point.rs
  editoast/src/schema/railjson.rs
  editoast/src/schema/route.rs
  editoast/src/schema/signal.rs
  editoast/src/schema/speed_section.rs
  editoast/src/schema/switch.rs
  editoast/src/schema/switch_type.rs
  editoast/src/schema/track_section.rs
  editoast/src/schema/track_section_link.rs
  editoast/src/tables.rs
  editoast/src/views/infra/attached.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/errors.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/objects.rs
  editoast/src/views/infra/railjson.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast : adapt infra model (create)
  editoast/Cargo.toml
  editoast/src/generated_data/mod.rs
  editoast/src/infra_cache/mod.rs
  editoast/src/main.rs
  editoast/src/models/infra.rs
  editoast/src/models/scenario.rs
  editoast/src/schema/buffer_stop.rs
  editoast/src/schema/catenary.rs
  editoast/src/schema/detector.rs
  editoast/src/schema/operation/create.rs
  editoast/src/schema/operation/delete.rs
  editoast/src/schema/operation/update.rs
  editoast/src/schema/operational_point.rs
  editoast/src/schema/railjson.rs
  editoast/src/schema/route.rs
  editoast/src/schema/signal.rs
  editoast/src/schema/speed_section.rs
  editoast/src/schema/switch.rs
  editoast/src/schema/switch_type.rs
  editoast/src/schema/track_section.rs
  editoast/src/schema/track_section_link.rs
  editoast/src/tables.rs
  editoast/src/views/infra/attached.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/errors.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/objects.rs
  editoast/src/views/infra/railjson.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: adapt infra to new model (retrieve and delete)
  editoast/src/generated_data/mod.rs
  editoast/src/infra_cache/mod.rs
  editoast/src/main.rs
  editoast/src/models/infra.rs
  editoast/src/models/mod.rs
  editoast/src/models/scenario.rs
  editoast/src/schema/buffer_stop.rs
  editoast/src/schema/catenary.rs
  editoast/src/schema/detector.rs
  editoast/src/schema/operation/create.rs
  editoast/src/schema/operation/delete.rs
  editoast/src/schema/operation/update.rs
  editoast/src/schema/operational_point.rs
  editoast/src/schema/railjson.rs
  editoast/src/schema/route.rs
  editoast/src/schema/signal.rs
  editoast/src/schema/speed_section.rs
  editoast/src/schema/switch.rs
  editoast/src/schema/switch_type.rs
  editoast/src/schema/track_section.rs
  editoast/src/schema/track_section_link.rs
  editoast/src/views/infra/attached.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/errors.rs
  editoast/src/views/infra/lines.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/objects.rs
  editoast/src/views/infra/pathfinding.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/infra/routes.rs
  editoast/src/views/mod.rs
  editoast/src/views/scenario.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: adapt infra to new model (retrieve and delete)
  editoast/src/generated_data/mod.rs
  editoast/src/infra_cache/mod.rs
  editoast/src/main.rs
  editoast/src/models/infra.rs
  editoast/src/models/mod.rs
  editoast/src/models/scenario.rs
  editoast/src/schema/buffer_stop.rs
  editoast/src/schema/catenary.rs
  editoast/src/schema/detector.rs
  editoast/src/schema/operation/create.rs
  editoast/src/schema/operation/delete.rs
  editoast/src/schema/operation/update.rs
  editoast/src/schema/operational_point.rs
  editoast/src/schema/railjson.rs
  editoast/src/schema/route.rs
  editoast/src/schema/signal.rs
  editoast/src/schema/speed_section.rs
  editoast/src/schema/switch.rs
  editoast/src/schema/switch_type.rs
  editoast/src/schema/track_section.rs
  editoast/src/schema/track_section_link.rs
  editoast/src/views/infra/attached.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/errors.rs
  editoast/src/views/infra/lines.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/objects.rs
  editoast/src/views/infra/pathfinding.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/infra/routes.rs
  editoast/src/views/mod.rs
  editoast/src/views/scenario.rs
Owners: @DGEXSolutions/editoast-maintainers

core: lower infra download memory usage
  core/src/main/java/fr/sncf/osrd/api/InfraManager.java
Owners: @DGEXSolutions/core-maintainers

core: lower infra download memory usage
  core/src/main/java/fr/sncf/osrd/api/InfraManager.java
Owners: @DGEXSolutions/core-maintainers

editoast: bump dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
Owners: @DGEXSolutions/editoast-maintainers

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics
