Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

front: migrate MapSearchStation from js to ts
  front/src/common/Map/Search/MapSearchStation.tsx
  front/src/common/api/emptyApi.ts
Owners: @DGEXSolutions/front-maintainers

front: Fix comments
  front/src/common/Map/Search/MapSearchStation.tsx
  front/src/common/Map/utils.ts
  front/src/common/api/emptyApi.ts
  front/src/reducers/map/index.ts
Owners: @DGEXSolutions/front-maintainers

front: complete openapi for search response
  editoast/openapi.yaml
  front/src/common/Map/Search/LineCard.tsx
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/common/Map/Search/MapSearchSignal.tsx
  front/src/common/Map/Search/MapSearchStation.tsx
  front/src/common/Map/Search/SignalCard.tsx
  front/src/common/Map/Search/searchTypes.ts
  front/src/common/Map/utils.ts
  front/src/common/StationCard.tsx
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

core: fetch and cache the infrastructure version
  core/src/main/java/fr/sncf/osrd/api/InfraManager.java
  core/src/test/java/fr/sncf/osrd/api/ApiTest.java
  editoast/src/views/infra/railjson.rs
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers

core: fetch and cache the infrastructure version
  core/src/main/java/fr/sncf/osrd/api/InfraManager.java
  core/src/test/java/fr/sncf/osrd/api/ApiTest.java
  editoast/src/views/infra/railjson.rs
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers

front: Migrate MapSearchStation from js to ts
  editoast/openapi.yaml
  front/src/common/Map/Search/LineCard.tsx
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/common/Map/Search/MapSearchSignal.tsx
  front/src/common/Map/Search/MapSearchStation.tsx
  front/src/common/Map/Search/SignalCard.tsx
  front/src/common/Map/Search/searchTypes.ts
  front/src/common/Map/utils.ts
  front/src/common/StationCard.tsx
  front/src/common/api/emptyApi.ts
  front/src/common/api/osrdEditoastApi.ts
  front/src/reducers/map/index.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

front: Migrate MapSearchStation from js to ts
  editoast/openapi.yaml
  front/src/common/Map/Search/LineCard.tsx
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/common/Map/Search/MapSearchSignal.tsx
  front/src/common/Map/Search/MapSearchStation.tsx
  front/src/common/Map/Search/SignalCard.tsx
  front/src/common/Map/Search/searchTypes.ts
  front/src/common/Map/utils.ts
  front/src/common/StationCard.tsx
  front/src/common/api/emptyApi.ts
  front/src/common/api/osrdEditoastApi.ts
  front/src/reducers/map/index.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

front: MapsearchSignal: Add signal icons and logic for display on large and small screens
  front/src/assets/pictures/signalicons/A.svg
  front/src/assets/pictures/signalicons/BANDEJAUNE.svg
  front/src/assets/pictures/signalicons/CARRE.svg
  front/src/assets/pictures/signalicons/CV.svg
  front/src/assets/pictures/signalicons/D.svg
  front/src/assets/pictures/signalicons/REP_TGV.svg
  front/src/assets/pictures/signalicons/S.svg
  front/src/common/BootstrapSNCF/MultiSelectSNCF.tsx
  front/src/common/Map/Search/MapSearchSignal.tsx
  front/src/common/Map/Search/SignalCard.tsx
Owners: @DGEXSolutions/front-maintainers

front: refactorization and implementation of types for trainschedule import from json files
  front/src/applications/customget/Home.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleConfig.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleHelpers.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleModal.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleTrainDetail.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleTrainsList.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/generatePathfindingPayload.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/generateTrainSchedulesPayload.jsx
  front/src/applications/operationalStudies/types.ts
  front/src/applications/operationalStudies/views/ImportTrainSchedule.tsx
  front/src/styles/scss/applications/operationalStudies/_importtrainschedule.scss
Owners: @DGEXSolutions/front-maintainers

front: refactorization and implementation of types for trainschedule import from json files
  front/src/applications/customget/Home.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleConfig.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleHelpers.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleModal.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleTrainDetail.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleTrainsList.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/generatePathfindingPayload.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/generateTrainSchedulesPayload.jsx
  front/src/applications/operationalStudies/types.ts
  front/src/applications/operationalStudies/views/ImportTrainSchedule.tsx
  front/src/styles/scss/applications/operationalStudies/_importtrainschedule.scss
Owners: @DGEXSolutions/front-maintainers

front: refacto input file component to be more generic
  front/src/applications/customget/Home.jsx
  front/src/applications/customget/components/uploadFileModal.jsx
Owners: @DGEXSolutions/front-maintainers

front: refactorization and implementation of types for trainschedule import from json files
  front/src/applications/customget/Home.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleConfig.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleHelpers.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleModal.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleTrainDetail.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleTrainsList.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/generatePathfindingPayload.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/generateTrainSchedulesPayload.jsx
  front/src/applications/operationalStudies/types.ts
  front/src/applications/operationalStudies/views/ImportTrainSchedule.tsx
  front/src/styles/scss/applications/operationalStudies/_importtrainschedule.scss
Owners: @DGEXSolutions/front-maintainers

front: refacto input file component to be more generic
  front/src/applications/customget/Home.jsx
  front/src/applications/customget/components/uploadFileModal.jsx
Owners: @DGEXSolutions/front-maintainers

Revert "core: make the zone after a train path be clear"
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
Owners: @DGEXSolutions/core-maintainers

core: add a virtual final clear zone
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/SignalingSimulator.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/SignalingSimulatorImpl.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBALtoBAL.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBAPRtoBAL.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
Owners: @DGEXSolutions/core-maintainers

front: bugfix on dates for study
  editoast/openapi.yaml
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
  front/src/applications/operationalStudies/components/Study/DateBox.tsx
  front/src/applications/operationalStudies/views/Study.tsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

editoast: fix patch study dates fields
  editoast/src/views/study.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: adapt image payload in project
  editoast/openapi.yaml
  editoast/src/views/documents.rs
  editoast/src/views/pagination.rs
  editoast/src/views/projects.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

front: refacto + fix project image uplaoder behaviour, editoast: fix projectresult type in openapi
  editoast/openapi.yaml
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/applications/operationalStudies/components/Project/PictureUploader.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/common/api/documentApi.ts
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

front: MapsearchSignal: Add signal icons and logic for display on large and small screens
  front/src/assets/pictures/signalicons/A.svg
  front/src/assets/pictures/signalicons/BANDEJAUNE.svg
  front/src/assets/pictures/signalicons/CARRE.svg
  front/src/assets/pictures/signalicons/CV.svg
  front/src/assets/pictures/signalicons/D.svg
  front/src/assets/pictures/signalicons/REP_TGV.svg
  front/src/assets/pictures/signalicons/S.svg
  front/src/common/BootstrapSNCF/MultiSelectSNCF.tsx
  front/src/common/Map/Search/MapSearchSignal.tsx
  front/src/common/Map/Search/SignalCard.tsx
Owners: @DGEXSolutions/front-maintainers

front: MapsearchSignal: Add signal icons and logic for display on large and small screens
  front/src/assets/pictures/signalicons/A.svg
  front/src/assets/pictures/signalicons/BANDEJAUNE.svg
  front/src/assets/pictures/signalicons/CARRE.svg
  front/src/assets/pictures/signalicons/CV.svg
  front/src/assets/pictures/signalicons/D.svg
  front/src/assets/pictures/signalicons/REP_TGV.svg
  front/src/assets/pictures/signalicons/S.svg
  front/src/common/BootstrapSNCF/MultiSelectSNCF.tsx
  front/src/common/Map/Search/MapSearchSignal.tsx
  front/src/common/Map/Search/SignalCard.tsx
Owners: @DGEXSolutions/front-maintainers

front: bugfix on dates for study
  editoast/openapi.yaml
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
  front/src/applications/operationalStudies/components/Study/DateBox.tsx
  front/src/applications/operationalStudies/views/Study.tsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

editoast: fix patch study dates fields
  editoast/src/views/study.rs
Owners: @DGEXSolutions/editoast-maintainers

front: bugfix on dates for study
  editoast/openapi.yaml
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
  front/src/applications/operationalStudies/components/Study/DateBox.tsx
  front/src/applications/operationalStudies/views/Study.tsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

editoast: fix patch study dates fields
  editoast/src/views/study.rs
Owners: @DGEXSolutions/editoast-maintainers

front: refacto + fix project image uplaoder behaviour, editoast: fix projectresult type in openapi
  editoast/openapi.yaml
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/applications/operationalStudies/components/Project/PictureUploader.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/common/api/documentApi.ts
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

editoast: adapt image payload in project
  editoast/openapi.yaml
  editoast/src/views/documents.rs
  editoast/src/views/pagination.rs
  editoast/src/views/projects.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

front: search studiescount working
  editoast/openapi.yaml
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

front: use search engine to filter projects/studies/scenarios
  front/src/applications/operationalStudies/Home.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: api: fron: add search for project
  editoast/openapi.yaml
  editoast/search.yml
  editoast/src/views/search/config.rs
  editoast/src/views/search/mod.rs
  front/src/applications/operationalStudies/Home.tsx
  front/src/common/api/osrdEditoastApi.ts
  python/api/osrd_infra/migrations/0023_osrdsearchproject_alter_infra_railjson_version.py
  python/api/osrd_infra/models/searchtables.py
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

editoast: add search model for study and scenario and rename field
  editoast/openapi.yaml
  editoast/search.yml
  editoast/src/models/projects.rs
  editoast/src/models/study.rs
  editoast/src/views/projects.rs
  editoast/src/views/search/mod.rs
  editoast/src/views/study.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/osrd_infra/migrations/0023_osrdsearchproject_alter_infra_railjson_version.py
  python/api/osrd_infra/migrations/0024_osrdsearchscenario_osrdsearchstudy_and_more.py
  python/api/osrd_infra/models/searchtables.py
Owners: @DGEXSolutions/editoast-maintainers

front: add project filter with search engine and sortoptions
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/applications/operationalStudies/components/Project/StudyCard.tsx
Owners: @DGEXSolutions/front-maintainers

front: add study filter with search engine and sortoptions
  editoast/search.yml
  front/src/applications/operationalStudies/views/Project.tsx
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

front: add scenario filter with search engine and sortoptions
  editoast/search.yml
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
  front/src/applications/operationalStudies/components/Study/StateStep.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/applications/operationalStudies/views/Study.tsx
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

editoast: add search in tags
  editoast/openapi.yaml
  editoast/search.yml
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/applications/operationalStudies/components/Study/StateStep.tsx
  front/src/applications/operationalStudies/components/operationalStudiesTypes.ts
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/applications/operationalStudies/views/Study.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorModalProjectMiniCard.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorModalStudyMiniCard.tsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/osrd_infra/migrations/0023_osrdsearchproject_alter_infra_railjson_version.py
  python/api/osrd_infra/migrations/0024_osrdsearchscenario_osrdsearchstudy_and_more.py
  python/api/osrd_infra/migrations/0026_osrdsearchproject_study_scenario.py
  python/api/osrd_infra/models/searchtables.py
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

front: project fix comments
  editoast/openapi.yaml
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

Revert "core: make the zone after a train path be clear"
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
Owners: @DGEXSolutions/core-maintainers

Revert "core: make the zone after a train path be clear"
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
Owners: @DGEXSolutions/core-maintainers

core: add a virtual final clear zone
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/SignalingSimulator.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/SignalingSimulatorImpl.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBALtoBAL.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBAPRtoBAL.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
Owners: @DGEXSolutions/core-maintainers

core: add a virtual final clear zone
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/SignalingSimulator.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/SignalingSimulatorImpl.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBALtoBAL.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBAPRtoBAL.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
Owners: @DGEXSolutions/core-maintainers

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics
