Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

core: fix the offset of signals inside blocks
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/BlockBuilder.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
Owners: @DGEXSolutions/core-maintainers

front: refacto + fix project image uplaoder behaviour, editoast: fix projectresult type in openapi
  editoast/openapi.yaml
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/applications/operationalStudies/components/Project/PictureUploader.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/common/api/documentApi.ts
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

front: use search engine to filter projects/studies/scenarios
  front/src/applications/operationalStudies/Home.tsx
Owners: @DGEXSolutions/front-maintainers

front: search studiescount working
  editoast/openapi.yaml
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

editoast: adapt image payload in project
  editoast/openapi.yaml
  editoast/src/views/documents.rs
  editoast/src/views/pagination.rs
  editoast/src/views/projects.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

editoast: add search in tags
  editoast/openapi.yaml
  editoast/search.yml
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/applications/operationalStudies/components/Study/StateStep.tsx
  front/src/applications/operationalStudies/components/operationalStudiesTypes.ts
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/applications/operationalStudies/views/Study.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorModalProjectMiniCard.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorModalStudyMiniCard.tsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/osrd_infra/migrations/0023_osrdsearchproject_alter_infra_railjson_version.py
  python/api/osrd_infra/migrations/0024_osrdsearchscenario_osrdsearchstudy_and_more.py
  python/api/osrd_infra/migrations/0026_osrdsearchproject_study_scenario.py
  python/api/osrd_infra/models/searchtables.py
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

front: add scenario filter with search engine and sortoptions
  editoast/search.yml
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
  front/src/applications/operationalStudies/components/Study/StateStep.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/applications/operationalStudies/views/Study.tsx
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

front: search studiescount working
  editoast/openapi.yaml
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

front: add project filter with search engine and sortoptions
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/applications/operationalStudies/components/Project/StudyCard.tsx
Owners: @DGEXSolutions/front-maintainers

front: add project filter with search engine and sortoptions
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/applications/operationalStudies/components/Project/StudyCard.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: api: fron: add search for project
  editoast/openapi.yaml
  editoast/search.yml
  editoast/src/views/search/config.rs
  editoast/src/views/search/mod.rs
  front/src/applications/operationalStudies/Home.tsx
  front/src/common/api/osrdEditoastApi.ts
  python/api/osrd_infra/migrations/0023_osrdsearchproject_alter_infra_railjson_version.py
  python/api/osrd_infra/models/searchtables.py
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

front: use search engine to filter projects/studies/scenarios
  front/src/applications/operationalStudies/Home.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: add search model for study and scenario and rename field
  editoast/openapi.yaml
  editoast/search.yml
  editoast/src/models/projects.rs
  editoast/src/models/study.rs
  editoast/src/views/projects.rs
  editoast/src/views/search/mod.rs
  editoast/src/views/study.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/osrd_infra/migrations/0023_osrdsearchproject_alter_infra_railjson_version.py
  python/api/osrd_infra/migrations/0024_osrdsearchscenario_osrdsearchstudy_and_more.py
  python/api/osrd_infra/models/searchtables.py
Owners: @DGEXSolutions/editoast-maintainers

editoast: add search in tags
  editoast/openapi.yaml
  editoast/search.yml
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/applications/operationalStudies/components/Study/StateStep.tsx
  front/src/applications/operationalStudies/components/operationalStudiesTypes.ts
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/applications/operationalStudies/views/Study.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorModalProjectMiniCard.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorModalStudyMiniCard.tsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/osrd_infra/migrations/0023_osrdsearchproject_alter_infra_railjson_version.py
  python/api/osrd_infra/migrations/0024_osrdsearchscenario_osrdsearchstudy_and_more.py
  python/api/osrd_infra/migrations/0026_osrdsearchproject_study_scenario.py
  python/api/osrd_infra/models/searchtables.py
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

front: project fix comments
  editoast/openapi.yaml
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

front: refacto + fix project image uplaoder behaviour, editoast: fix projectresult type in openapi
  editoast/openapi.yaml
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/applications/operationalStudies/components/Project/PictureUploader.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/common/api/documentApi.ts
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

front: add scenario filter with search engine and sortoptions
  editoast/search.yml
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
  front/src/applications/operationalStudies/components/Study/StateStep.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/applications/operationalStudies/views/Study.tsx
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

editoast: add search model for study and scenario and rename field
  editoast/openapi.yaml
  editoast/search.yml
  editoast/src/models/projects.rs
  editoast/src/models/study.rs
  editoast/src/views/projects.rs
  editoast/src/views/search/mod.rs
  editoast/src/views/study.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/osrd_infra/migrations/0023_osrdsearchproject_alter_infra_railjson_version.py
  python/api/osrd_infra/migrations/0024_osrdsearchscenario_osrdsearchstudy_and_more.py
  python/api/osrd_infra/models/searchtables.py
Owners: @DGEXSolutions/editoast-maintainers

front: add study filter with search engine and sortoptions
  editoast/search.yml
  front/src/applications/operationalStudies/views/Project.tsx
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

editoast: adapt image payload in project
  editoast/openapi.yaml
  editoast/src/views/documents.rs
  editoast/src/views/pagination.rs
  editoast/src/views/projects.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

editoast: api: fron: add search for project
  editoast/openapi.yaml
  editoast/search.yml
  editoast/src/views/search/config.rs
  editoast/src/views/search/mod.rs
  front/src/applications/operationalStudies/Home.tsx
  front/src/common/api/osrdEditoastApi.ts
  python/api/osrd_infra/migrations/0023_osrdsearchproject_alter_infra_railjson_version.py
  python/api/osrd_infra/models/searchtables.py
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

front: project fix comments
  editoast/openapi.yaml
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

front: add study filter with search engine and sortoptions
  editoast/search.yml
  front/src/applications/operationalStudies/views/Project.tsx
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

core: fix the offset of signals inside blocks
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/BlockBuilder.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
Owners: @DGEXSolutions/core-maintainers

core: fix the offset of signals inside blocks
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/BlockBuilder.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
Owners: @DGEXSolutions/core-maintainers

editoast: add overlapping speed section warning
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/openapi.yaml
  editoast/src/generated_data/error/mod.rs
  editoast/src/generated_data/error/speed_sections.rs
  editoast/src/schema/errors.rs
  front/public/locales/fr/translation.json
  front/src/applications/editor/components/InfraErrors/types.ts
  front/src/common/api/osrdEditoastApi.ts
  python/osrd_schemas/osrd_schemas/generated.py
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

editor: drafts speed section metadata edition (WIP)
  front/public/locales/fr/translation.json
  front/src/applications/editor/tools/speedSectionEdition/components.tsx
  front/src/applications/editor/tools/speedSectionEdition/tool.ts
  front/src/applications/editor/tools/speedSectionEdition/types.ts
  front/src/applications/editor/tools/speedSectionEdition/utils.ts
Owners: @DGEXSolutions/front-maintainers

editor: improves speed sections edition (WIP)
  front/src/applications/editor/tools/selection/tool.tsx
  front/src/applications/editor/tools/speedSectionEdition/components.tsx
  front/src/applications/editor/tools/speedSectionEdition/types.ts
  front/src/applications/editor/tools/speedSectionEdition/utils.ts
  front/src/common/Map/Layers/GeoJSONs.tsx
  front/src/types/editor.ts
Owners: @DGEXSolutions/front-maintainers

editor: adds speed sections extremities dragging
  front/src/applications/editor/components/EntitySumUp.tsx
  front/src/applications/editor/tools/speedSectionEdition/components.tsx
  front/src/applications/editor/tools/speedSectionEdition/tool.ts
  front/src/applications/editor/tools/speedSectionEdition/types.ts
  front/src/applications/editor/tools/speedSectionEdition/utils.ts
Owners: @DGEXSolutions/front-maintainers

editor: drafts track sections list in speed section left panel
  front/public/locales/fr/translation.json
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/tools/speedSectionEdition/components.tsx
  front/src/applications/editor/tools/speedSectionEdition/types.ts
  front/src/applications/editor/tools/speedSectionEdition/utils.ts
  front/src/applications/editor/tools/types.ts
Owners: @DGEXSolutions/front-maintainers

editor: refines speed sections edition interactions
  front/public/locales/fr/translation.json
  front/src/applications/editor/tools/speedSectionEdition/components.tsx
  front/src/applications/editor/tools/speedSectionEdition/tool.ts
  front/src/applications/editor/tools/speedSectionEdition/types.ts
  front/src/applications/editor/tools/speedSectionEdition/utils.ts
Owners: @DGEXSolutions/front-maintainers

editor: show speed sections attached to edited track section
  front/public/locales/fr/translation.json
  front/src/applications/editor/data/api.ts
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/speedSectionEdition/tool.ts
  front/src/applications/editor/tools/speedSectionEdition/types.ts
  front/src/applications/editor/tools/speedSectionEdition/utils.ts
  front/src/applications/editor/tools/trackEdition/components.tsx
Owners: @DGEXSolutions/front-maintainers

editor: drafts SpeedSection edition tool
  front/public/locales/fr/translation.json
  front/src/applications/editor/components/EntitySumUp.tsx
  front/src/applications/editor/components/LayersModal.tsx
  front/src/applications/editor/tools/list.ts
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/routeEdition/components.tsx
  front/src/applications/editor/tools/selection/components.tsx
  front/src/applications/editor/tools/speedSectionEdition/components.tsx
  front/src/applications/editor/tools/speedSectionEdition/tool.ts
  front/src/applications/editor/tools/speedSectionEdition/types.ts
  front/src/applications/editor/tools/speedSectionEdition/utils.ts
  front/src/applications/editor/tools/switchEdition/components.tsx
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/applications/editor/tools/types.ts
  front/src/common/Map/Layers/GeoJSONs.tsx
  front/src/common/Map/Layers/SpeedLimits.tsx
  front/src/types/editor.ts
Owners: @DGEXSolutions/front-maintainers

editor: fixes various ESLint warnings
  front/src/applications/editor/data/api.ts
  front/src/applications/editor/tools/speedSectionEdition/components.tsx
  front/src/applications/editor/tools/speedSectionEdition/tool.ts
Owners: @DGEXSolutions/front-maintainers

editoast: add overlapping speed section warning
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/openapi.yaml
  editoast/src/generated_data/error/mod.rs
  editoast/src/generated_data/error/speed_sections.rs
  editoast/src/schema/errors.rs
  front/public/locales/fr/translation.json
  front/src/applications/editor/components/InfraErrors/types.ts
  front/src/common/api/osrdEditoastApi.ts
  python/osrd_schemas/osrd_schemas/generated.py
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

editoast: add overlapping speed section warning
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/openapi.yaml
  editoast/src/generated_data/error/mod.rs
  editoast/src/generated_data/error/speed_sections.rs
  editoast/src/schema/errors.rs
  front/public/locales/fr/translation.json
  front/src/applications/editor/components/InfraErrors/types.ts
  front/src/common/api/osrdEditoastApi.ts
  python/osrd_schemas/osrd_schemas/generated.py
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

editor: show speed sections attached to edited track section
  front/public/locales/fr/translation.json
  front/src/applications/editor/data/api.ts
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/speedSectionEdition/tool.ts
  front/src/applications/editor/tools/speedSectionEdition/types.ts
  front/src/applications/editor/tools/speedSectionEdition/utils.ts
  front/src/applications/editor/tools/trackEdition/components.tsx
Owners: @DGEXSolutions/front-maintainers

editor: fixes various ESLint warnings
  front/src/applications/editor/data/api.ts
  front/src/applications/editor/tools/speedSectionEdition/components.tsx
  front/src/applications/editor/tools/speedSectionEdition/tool.ts
Owners: @DGEXSolutions/front-maintainers

editor: drafts speed section metadata edition (WIP)
  front/public/locales/fr/translation.json
  front/src/applications/editor/tools/speedSectionEdition/components.tsx
  front/src/applications/editor/tools/speedSectionEdition/tool.ts
  front/src/applications/editor/tools/speedSectionEdition/types.ts
  front/src/applications/editor/tools/speedSectionEdition/utils.ts
Owners: @DGEXSolutions/front-maintainers

editor: drafts SpeedSection edition tool
  front/public/locales/fr/translation.json
  front/src/applications/editor/components/EntitySumUp.tsx
  front/src/applications/editor/components/LayersModal.tsx
  front/src/applications/editor/tools/list.ts
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/routeEdition/components.tsx
  front/src/applications/editor/tools/selection/components.tsx
  front/src/applications/editor/tools/speedSectionEdition/components.tsx
  front/src/applications/editor/tools/speedSectionEdition/tool.ts
  front/src/applications/editor/tools/speedSectionEdition/types.ts
  front/src/applications/editor/tools/speedSectionEdition/utils.ts
  front/src/applications/editor/tools/switchEdition/components.tsx
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/applications/editor/tools/types.ts
  front/src/common/Map/Layers/GeoJSONs.tsx
  front/src/common/Map/Layers/SpeedLimits.tsx
  front/src/types/editor.ts
Owners: @DGEXSolutions/front-maintainers

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics
