Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @openrailassociation/OSRD-DevOps, @openrailassociation/OSRD-Admins, @openrailassociation/OSRD-Front, @openrailassociation/OSRD-Editoast, @openrailassociation/OSRD-Tests, @openrailassociation/OSRD-Core, @osrd-project/devops, @openrailassociation/OSRD-Physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @openrailassociation/OSRD-DevOps
/.github/CODEOWNERS                                      @openrailassociation/OSRD-Admins

# --- NIX ---
/nix                                                     @openrailassociation/OSRD-DevOps
/flake.lock                                              @openrailassociation/OSRD-DevOps
*.nix                                                    @openrailassociation/OSRD-DevOps

# --- FRONT ---
/front                                                   @openrailassociation/OSRD-Front
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts
/front/src/reducers/osrdconf/infra_schema.json

# --- EDITOAST ---
/editoast                                                @openrailassociation/OSRD-Editoast
/editoast/openapi.yaml
/chartos                                                 @openrailassociation/OSRD-Editoast
/python                                                  @openrailassociation/OSRD-Editoast

# --- INTEGRATION TESTS  ---
/tests                                                   @openrailassociation/OSRD-Tests

# --- CORE ---
/core                                                    @openrailassociation/OSRD-Core

# --- CORE CONTROLLER ---
/core_controller                                         @osrd-project/devops

# --- CORE PHYSICS ---
/core/*Physics*.java                                     @openrailassociation/OSRD-Physics
/core/*Integration*.java                                 @openrailassociation/OSRD-Physics

# --- GATEWAY ---
/gateway                                                 @openrailassociation/OSRD-DevOps

editoast: add core rabbitmq client
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/core/mod.rs
  editoast/src/core/mq_client.rs
Owners: @openrailassociation/OSRD-Editoast

fixup! core_controller: init project and devenv
  core_controller/src/config.rs
  core_controller/src/control_loop.rs
Owners: @osrd-project/devops

wip: integrating victor's osrdyne
  core_controller/.gitignore
  core_controller/Cargo.toml
  core_controller/Dockerfile
  core_controller/src/config.rs
  core_controller/src/control_loop.rs
  core_controller/src/drivers/mq.rs
  core_controller/src/main.rs
  editoast/src/core/mq_client.rs
  osrdyne/.gitignore
  osrdyne/Cargo.lock
  osrdyne/Cargo.toml
  osrdyne/src/api.rs
  osrdyne/src/config.rs
  osrdyne/src/drivers/core_driver.rs
  osrdyne/src/drivers/docker.rs
  osrdyne/src/drivers/kubernetes.rs
  osrdyne/src/drivers/mod.rs
  osrdyne/src/key.rs
  osrdyne/src/main.rs
  osrdyne/src/management_client.rs
  osrdyne/src/pool.rs
  osrdyne/src/queue_controller.rs
  osrdyne/src/target_tracker/actor.rs
  osrdyne/src/target_tracker/client.rs
  osrdyne/src/target_tracker/mod.rs
  osrdyne/src/target_tracker/target_tracker.rs
  osrdyne/src/watch_logger.rs
Owners: @osrd-project/devops, @openrailassociation/OSRD-Editoast

start core
  core/src/main/java/fr/sncf/osrd/App.java
  core/src/main/java/fr/sncf/osrd/cli/WorkerCommand.kt
Owners: @openrailassociation/OSRD-Core

wip
  osrdyne/Cargo.lock
  osrdyne/Cargo.toml
  osrdyne/src/config.rs
  osrdyne/src/drivers/docker.rs
  osrdyne/src/drivers/kubernetes.rs
  osrdyne/src/drivers/mod.rs
  osrdyne/src/drivers/noop.rs
  osrdyne/src/drivers/worker_driver.rs
  osrdyne/src/main.rs
  osrdyne/src/pool.rs
  osrdyne/src/target_tracker/client.rs
Owners: none

wip
  osrdyne/src/pool.rs
Owners: none

wip on osrdyne
  docker-compose.yml
  docker/docker-compose.host.yml
  docker/osrdyne.toml
  osrdyne/Dockerfile
Owners: none

wip on editoast
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/core/conflicts.rs
  editoast/src/core/infra_loading.rs
  editoast/src/core/infra_state.rs
  editoast/src/core/mod.rs
  editoast/src/core/mq_client.rs
  editoast/src/core/pathfinding.rs
  editoast/src/core/simulation.rs
  editoast/src/core/stdcm.rs
  editoast/src/core/v2/conflict_detection.rs
  editoast/src/core/v2/path_properties.rs
  editoast/src/core/v2/pathfinding.rs
  editoast/src/core/v2/signal_projection.rs
  editoast/src/core/v2/simulation.rs
  editoast/src/core/v2/stdcm.rs
  editoast/src/core/version.rs
  editoast/src/views/stdcm/mod.rs
  editoast/src/views/train_schedule/simulation_report.rs
Owners: @openrailassociation/OSRD-Editoast

wip on editoast
  editoast/src/client/mod.rs
  editoast/src/core/mod.rs
  editoast/src/core/mq_client.rs
  editoast/src/main.rs
Owners: @openrailassociation/OSRD-Editoast

wip
  .vscode/settings.json
  editoast/src/core/mod.rs
  editoast/src/core/mq_client.rs
Owners: @openrailassociation/OSRD-Editoast

wip core
  core/build.gradle
  core/gradle/libs.versions.toml
  core/src/main/java/fr/sncf/osrd/cli/WorkerCommand.kt
Owners: @openrailassociation/OSRD-Core

core: more wip
  core/src/main/java/fr/sncf/osrd/cli/WorkerCommand.kt
Owners: @openrailassociation/OSRD-Core

core: stop computing track section names for blocks ids
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/BlockInfraImpl.kt
Owners: @openrailassociation/OSRD-Core

wip editoast: attach otel tracing info
  editoast/src/core/mq_client.rs
Owners: @openrailassociation/OSRD-Editoast

moar wip
  core/src/main/java/fr/sncf/osrd/cli/WorkerCommand.kt
  osrdyne/src/drivers/docker.rs
  osrdyne/src/drivers/kubernetes.rs
  osrdyne/src/pool.rs
Owners: @openrailassociation/OSRD-Core

add dockerignore to osrdyne
  osrdyne/.dockerignore
Owners: none

add back core to docker compose - in order to build it
  docker-compose.yml
Owners: none

it works, kinda
  core/src/main/java/fr/sncf/osrd/cli/WorkerCommand.kt
  docker-compose.yml
  docker/osrdyne.toml
  editoast/src/client/mod.rs
  editoast/src/core/mod.rs
  editoast/src/core/mq_client.rs
  editoast/src/main.rs
  osrdyne/src/config.rs
  osrdyne/src/drivers/docker.rs
  osrdyne/src/drivers/kubernetes.rs
  osrdyne/src/drivers/noop.rs
  osrdyne/src/drivers/worker_driver.rs
  osrdyne/src/key.rs
  osrdyne/src/main.rs
  osrdyne/src/management_client.rs
  osrdyne/src/pool.rs
Owners: @openrailassociation/OSRD-Core, @openrailassociation/OSRD-Editoast

wip
  core/src/main/java/fr/sncf/osrd/cli/WorkerCommand.kt
  docker-compose.yml
  editoast/src/core/mod.rs
Owners: @openrailassociation/OSRD-Core, @openrailassociation/OSRD-Editoast
