Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @openrailassociation/OSRD-DevOps, @openrailassociation/OSRD-Admins, @openrailassociation/OSRD-Front, @openrailassociation/OSRD-Editoast, @openrailassociation/OSRD-Tests, @openrailassociation/OSRD-Core, @openrailassociation/OSRD-Physics

editoast: harmonize comfort type
  editoast/editoast_schemas/src/rolling_stock.rs
  editoast/editoast_schemas/src/rolling_stock/effort_curves.rs
  editoast/editoast_schemas/src/train_schedule/train_schedule_base.rs
  editoast/openapi.yaml
  editoast/src/tests/example_rolling_stock_1.json
  front/src/common/api/generatedEditoastApi.ts
Owners: @openrailassociation/OSRD-Editoast

front: harmonize comfort type
  front/public/locales/en/rollingstock.json
  front/public/locales/fr/rollingstock.json
  front/src/modules/powerRestriction/helpers/__tests__/sampleData.ts
  front/src/modules/rollingStock/components/RollingStockCard/RollingStockCard.tsx
  front/src/modules/rollingStock/components/RollingStockCard/RollingStockCardButtons.tsx
  front/src/modules/rollingStock/components/RollingStockCard/RollingStockCardDetail.tsx
  front/src/modules/rollingStock/components/RollingStockCurve.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/CurveParamSelectors.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorCurves.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockInformationPanel.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/__tests__/RollingStockEditorCurves.spec.ts
  front/src/modules/rollingStock/consts.ts
  front/src/modules/rollingStock/helpers/curves.ts
  front/src/modules/rollingStock/helpers/rollingStockEditor.ts
  front/src/modules/rollingStock/helpers/utils.ts
  front/src/modules/rollingStock/types.ts
  front/src/stories/RollingStockSelector.stories.tsx
  front/tests/007-op-rollingstock-tab.spec.ts
  front/tests/assets/rollingStock/dual-mode_rolling_stock.json
Owners: @openrailassociation/OSRD-Front

ci: fix duplicate osrdyne artifact upload
  .github/workflows/build.yml
Owners: @openrailassociation/OSRD-DevOps

ci: add missing osrdyne artifact download for integration tests
  .github/workflows/build.yml
Owners: @openrailassociation/OSRD-DevOps

editoast: add roles checks to documents api
  editoast/editoast_authz/src/builtin_role.rs
  editoast/src/views/documents.rs
  editoast/src/views/electrical_profiles.rs
Owners: @openrailassociation/OSRD-Editoast

editoast: add roles to electrical profiles api
  editoast/src/views/electrical_profiles.rs
Owners: @openrailassociation/OSRD-Editoast

actions: fix make bake metadata endgroup
  .github/workflows/release.yml
Owners: @openrailassociation/OSRD-DevOps

template: fix bug report default values
  .github/ISSUE_TEMPLATE/bug_report.yaml
Owners: @openrailassociation/OSRD-DevOps

wip
  osrdyne/src/main.rs
Owners: @openrailassociation/OSRD-DevOps

wip
  osrdyne/Cargo.lock
  osrdyne/Cargo.toml
  osrdyne/src/config.rs
  osrdyne/src/main.rs
Owners: @openrailassociation/OSRD-DevOps

front: fix incorrect time in conflict cards
  front/src/utils/date.ts
Owners: @openrailassociation/OSRD-Front

actions: fix make bake metadata endgroup
  .github/workflows/release.yml
Owners: @openrailassociation/OSRD-DevOps

front: fix train run section ordering in NGE to OSRD converter
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
Owners: @openrailassociation/OSRD-Front

front: fix incorrect time in conflict cards
  front/src/utils/date.ts
Owners: @openrailassociation/OSRD-Front

wip
  osrdyne/Cargo.lock
  osrdyne/Cargo.toml
  osrdyne/src/main.rs
Owners: @openrailassociation/OSRD-DevOps

front: remove pathSteps property from TimesStopsOutput
  front/src/applications/operationalStudies/views/v2/SimulationResultsV2.tsx
  front/src/modules/timesStops/TimesStopsOutput.tsx
Owners: @openrailassociation/OSRD-Front

editoast: add roles check to /stdcm/search_environment
  editoast/editoast_authz/src/builtin_role.rs
  editoast/src/views/stdcm_search_environment.rs
Owners: @openrailassociation/OSRD-Editoast

front: enable source maps in production
  front/vite.config.mts
Owners: @openrailassociation/OSRD-Front

front: output table does not display schedule for op via
  front/src/applications/operationalStudies/views/v2/SimulationResultsV2.tsx
  front/src/modules/timesStops/TimesStopsOutput.tsx
  front/src/modules/timesStops/hooks/useOutputTableData.ts
Owners: @openrailassociation/OSRD-Front

editoast: add roles check to /stdcm/search_environment
  editoast/editoast_authz/src/builtin_role.rs
  editoast/src/views/stdcm_search_environment.rs
Owners: @openrailassociation/OSRD-Editoast

front: deactivate some eslint rules - no-await-in-loop - no-continue - no-restricted-syntax
  front/.eslintrc
  front/src/applications/editor/tools/rangeEdition/components/GroupedTrackRangeList.tsx
  front/src/applications/operationalStudies/components/MacroEditor/osrdToNge.ts
  front/src/applications/operationalStudies/utils.ts
  front/src/common/IntervalsDataViz/utils.ts
  front/src/reducers/osrdconf/operationalStudiesConf/utils.ts
  front/tests/pages/operational-studies-page-model.ts
Owners: @openrailassociation/OSRD-Front

editoast: move tables.rs into editoast_models
  editoast/Cargo.lock
  editoast/diesel.toml
  editoast/editoast_derive/src/lib.rs
  editoast/editoast_derive/src/modelv2.rs
  editoast/editoast_models/Cargo.toml
  editoast/editoast_models/src/lib.rs
  editoast/editoast_models/src/tables.rs
  editoast/src/generated_data/buffer_stop.rs
  editoast/src/generated_data/detector.rs
  editoast/src/generated_data/electrification.rs
  editoast/src/generated_data/error/mod.rs
  editoast/src/generated_data/neutral_sign.rs
  editoast/src/generated_data/operational_point.rs
  editoast/src/generated_data/psl_sign.rs
  editoast/src/generated_data/signal.rs
  editoast/src/generated_data/speed_section.rs
  editoast/src/generated_data/track_section.rs
  editoast/src/main.rs
  editoast/src/modelsv2/auth.rs
  editoast/src/modelsv2/documents.rs
  editoast/src/modelsv2/electrical_profiles.rs
  editoast/src/modelsv2/infra.rs
  editoast/src/modelsv2/infra/errors.rs
  editoast/src/modelsv2/infra_objects.rs
  editoast/src/modelsv2/light_rolling_stock.rs
  editoast/src/modelsv2/mod.rs
  editoast/src/modelsv2/projects.rs
  editoast/src/modelsv2/rolling_stock_image.rs
  editoast/src/modelsv2/rolling_stock_livery.rs
  editoast/src/modelsv2/rolling_stock_model.rs
  editoast/src/modelsv2/scenario.rs
  editoast/src/modelsv2/stdcm_search_environment.rs
  editoast/src/modelsv2/study.rs
  editoast/src/modelsv2/timetable.rs
  editoast/src/modelsv2/train_schedule.rs
  editoast/src/modelsv2/work_schedules.rs
Owners: @openrailassociation/OSRD-Editoast

front: output table does not display schedule for op via
  front/src/applications/operationalStudies/views/v2/SimulationResultsV2.tsx
  front/src/modules/timesStops/TimesStopsOutput.tsx
  front/src/modules/timesStops/hooks/useOutputTableData.ts
Owners: @openrailassociation/OSRD-Front

front: deactivate platforms layer in editor
  front/src/applications/editor/Map.tsx
Owners: @openrailassociation/OSRD-Front

front: deactivate some eslint rules - no-await-in-loop - no-continue - no-restricted-syntax
  front/.eslintrc
  front/src/applications/editor/tools/rangeEdition/components/GroupedTrackRangeList.tsx
  front/src/applications/operationalStudies/components/MacroEditor/osrdToNge.ts
  front/src/applications/operationalStudies/utils.ts
  front/src/common/IntervalsDataViz/utils.ts
  front/src/reducers/osrdconf/operationalStudiesConf/utils.ts
  front/tests/pages/operational-studies-page-model.ts
Owners: @openrailassociation/OSRD-Front

core: fix smartcast compiler bug
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingTest.kt
Owners: @openrailassociation/OSRD-Core

core: bump kotlin to 2.0.20
  core/gradle/libs.versions.toml
Owners: @openrailassociation/OSRD-Core

draft
  front/src/utils/rtk.ts
Owners: @openrailassociation/OSRD-Front

editoast: remove old pagination system
  editoast/src/views/light_rolling_stocks.rs
  editoast/src/views/pagination.rs
Owners: @openrailassociation/OSRD-Editoast

front: fix train run section ordering in NGE to OSRD converter
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
Owners: @openrailassociation/OSRD-Front

editoast: fix stdcm_search_env tests for non-empty initial table
  editoast/src/modelsv2/stdcm_search_environment.rs
  editoast/src/views/stdcm_search_environment.rs
Owners: @openrailassociation/OSRD-Editoast

editoast: improve naming of extracted variables in several handlers
  editoast/src/views/electrical_profiles.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/v2/timetable.rs
  editoast/src/views/v2/timetable/stdcm.rs
  editoast/src/views/v2/train_schedule.rs
  editoast/src/views/v2/train_schedule/projection.rs
  editoast/src/views/work_schedules.rs
Owners: @openrailassociation/OSRD-Editoast

wip: osrdyne: use cranelift
  osrdyne/.cargo/config.toml
Owners: @openrailassociation/OSRD-DevOps

front: stdcm: change map
  front/public/locales/en/stdcm.json
  front/src/applications/stdcm/hooks/useStdcm.ts
  front/src/applications/stdcm/types.ts
  front/src/applications/stdcmV2/components/StdcmResults/StdcmResults.tsx
  front/src/applications/stdcmV2/views/StdcmViewV2.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/ManageTrainScheduleMap/ItineraryMarkersV2.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Map.tsx
  front/src/styles/scss/applications/stdcmV2/_home.scss
  front/src/styles/scss/applications/stdcmV2/_results.scss
Owners: @openrailassociation/OSRD-Front

front: move NGE logic to dedicated component directory
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
  front/src/applications/operationalStudies/components/MacroEditor/osrdToNge.ts
  front/src/applications/operationalStudies/components/NGE/NGE.tsx
  front/src/applications/operationalStudies/components/NGE/types.ts
  front/src/applications/operationalStudies/views/v2/ScenarioV2.tsx
Owners: @openrailassociation/OSRD-Front

tests: harmonize comfort type
  python/osrd_schemas/osrd_schemas/rolling_stock.py
  tests/data/rolling_stocks/electric_rolling_stock.json
Owners: @openrailassociation/OSRD-Editoast, @openrailassociation/OSRD-Tests

front: deactivate platforms layer in editor
  front/src/applications/editor/Map.tsx
Owners: @openrailassociation/OSRD-Front

core: bump kotlin to 2.0.20
  core/gradle/libs.versions.toml
Owners: @openrailassociation/OSRD-Core

core: fix smartcast compiler bug
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingTest.kt
Owners: @openrailassociation/OSRD-Core

core: stdcm: quick opti step availability
  core/src/main/kotlin/fr/sncf/osrd/stdcm/preprocessing/implementation/BlockAvailability.kt
Owners: @openrailassociation/OSRD-Core

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @openrailassociation/OSRD-DevOps
/.github/CODEOWNERS                                      @openrailassociation/OSRD-Admins
/*.md                                                    @openrailassociation/OSRD-Admins
/LICENSE                                                 @openrailassociation/OSRD-Admins

# -- Docker --
/docker                                                  @openrailassociation/OSRD-DevOps
/docker-compose.yml                                      @openrailassociation/OSRD-DevOps

# --- NIX ---
/nix                                                     @openrailassociation/OSRD-DevOps
/flake.lock                                              @openrailassociation/OSRD-DevOps
*.nix                                                    @openrailassociation/OSRD-DevOps

# --- FRONT ---
/front                                                   @openrailassociation/OSRD-Front
/front/src/common/api/generatedEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts
/front/src/reducers/osrdconf/infra_schema.json

# --- EDITOAST ---
/editoast                                                @openrailassociation/OSRD-Editoast
/editoast/openapi.yaml
/chartos                                                 @openrailassociation/OSRD-Editoast
/python                                                  @openrailassociation/OSRD-Editoast

# --- INTEGRATION TESTS  ---
/tests                                                   @openrailassociation/OSRD-Tests

# --- CORE ---
/core                                                    @openrailassociation/OSRD-Core

# --- OSRDYNE ---
/osrdyne                                                 @openrailassociation/OSRD-DevOps

# --- CORE PHYSICS ---
/core/*Physics*.java                                     @openrailassociation/OSRD-Physics
/core/*Integration*.java                                 @openrailassociation/OSRD-Physics

# --- GATEWAY ---
/gateway                                                 @openrailassociation/OSRD-DevOps
