Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @osrd-project/front-maintainers, @osrd-project/editoast-maintainers, @eckter, @osrd-project/core-maintainers, @osrd-project/physics

add pageSize param to legacy openapi
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/editoast-maintainers

Use release build when generating openapi
  .github/workflows/editoast.yml
Owners: @flomonster, @multun

add pageSize param to legacy openapi
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/editoast-maintainers

editoast: add /openapi/v1 endpoint
  .github/workflows/editoast.yml
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/README.md
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  editoast/src/client/mod.rs
  editoast/src/main.rs
  editoast/src/views/mod.rs
  editoast/src/views/openapi.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @flomonster, @multun, @osrd-project/editoast-maintainers

core: kt-infra: migrate pathfinding constraints
  core/config/checkstyle/checkstyle.xml
  core/config/spotbugs/exclude.xml
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/Path.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/PathImpl.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeMapImpl.kt
  core/kt-osrd-utils/src/test/kotlin/fr/sncf/osrd/utils/TestDistanceRangeMap.kt
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/ConstraintCombiner.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/ElectrificationConstraints.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/LegacyElectrificationConstraints.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/LegacyLoadingGaugeConstraints.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/LoadingGaugeConstraints.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/PathfindingUtils.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/constraints/ElectrificationConstraintsTest.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/constraints/LegacyElectrificationConstraintsTest.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/constraints/LoadingGaugeConstraintsTest.java
Owners: @osrd-project/core-maintainers

front: test pathfinding done for small_infra
  front/tests/map-model.ts
  front/tests/operational-studies.spec.ts
Owners: @osrd-project/front-maintainers

front: test pathfinding add timeout for map
  front/tests/operational-studies.spec.ts
Owners: @osrd-project/front-maintainers

front: test pathfinding infra_france
  front/tests/map-model.ts
  front/tests/operational-studies.spec.ts
Owners: @osrd-project/front-maintainers

front: test-e2e: pathfinding-local.spec: Create test pathfinding electrification error in a local environment
  front/tests/map-model.ts
  front/tests/operational-studies.spec.ts
  front/tests/pathfinding-local.spec.ts
Owners: @osrd-project/front-maintainers

front: test pathfinding add timeout for map
  front/tests/operational-studies.spec.ts
Owners: @osrd-project/front-maintainers

front: test-e2e: Add test pathfinding missing origin/destination error
  front/tests/004-scenario-creation.spec.ts
  front/tests/007-pathfinding.spec.ts
  front/tests/assets/operationStudies/test_variables.ts
  front/tests/map-model.ts
  front/tests/operational-studies.spec.ts
  front/tests/pages/scenario-page-model.ts
  front/tests/pathfinding-local.spec.ts
Owners: @osrd-project/front-maintainers

front: fix simulation error when removing last train
  front/src/common/RollingStockSelector/RollingStockModal.tsx
  front/src/common/RollingStockSelector/SearchRollingStock.tsx
Owners: @osrd-project/front-maintainers

front: transform infra actions bar component in tsx
  front/src/common/InfraSelector/InfraSelectorEditionActionsBar.tsx
Owners: @osrd-project/front-maintainers

front: use editoast to duplicate infra
  front/src/common/InfraSelector/InfraSelectorEditionActionsBar.tsx
Owners: @osrd-project/front-maintainers

fix loading of example rolling stock
  python/api/static/example_rolling_stock.json
  scripts/generate-infra.sh
Owners: @osrd-project/editoast-maintainers

editoast: use the mold linker
  .github/workflows/editoast.yml
  editoast/Dockerfile
Owners: @flomonster, @multun, @osrd-project/editoast-maintainers

core: kt-infra: migrate pathfinding constraints
  core/config/checkstyle/checkstyle.xml
  core/config/spotbugs/exclude.xml
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/Path.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/PathImpl.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeMapImpl.kt
  core/kt-osrd-utils/src/test/kotlin/fr/sncf/osrd/utils/TestDistanceRangeMap.kt
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/ConstraintCombiner.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/ElectrificationConstraints.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/LegacyElectrificationConstraints.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/LegacyLoadingGaugeConstraints.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/LoadingGaugeConstraints.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/PathfindingUtils.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/constraints/ElectrificationConstraintsTest.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/constraints/LegacyElectrificationConstraintsTest.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/constraints/LoadingGaugeConstraintsTest.java
Owners: @osrd-project/core-maintainers

fix loading of example rolling stock
  python/api/static/example_rolling_stock.json
  scripts/generate-infra.sh
Owners: @osrd-project/editoast-maintainers

editoast: Add support for redis cluster
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/client/redis_config.rs
  editoast/src/main.rs
  editoast/src/map/mod.rs
  editoast/src/map/redis_utils.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/layers/mod.rs
  editoast/src/views/mod.rs
Owners: @osrd-project/editoast-maintainers

api: add batch delete endpoint for train schedules
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/openapi.yaml
  python/api/osrd_infra/views/train_schedule/train_schedule.py
Owners: @osrd-project/editoast-maintainers

editoast: bump rollingstock version when needed
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/views/rolling_stocks/mod.rs
Owners: @osrd-project/editoast-maintainers

editoast: bump rollingstock version when needed
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/views/rolling_stocks/mod.rs
Owners: @osrd-project/editoast-maintainers

editoast: Add support for redis cluster (#4671)
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/client/redis_config.rs
  editoast/src/main.rs
  editoast/src/map/mod.rs
  editoast/src/map/redis_utils.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/layers/mod.rs
  editoast/src/views/mod.rs
Owners: @osrd-project/editoast-maintainers

Revert "editoast: Add ROOT_PATH support"
  editoast/src/client/mod.rs
  editoast/src/main.rs
Owners: @osrd-project/editoast-maintainers

front: transform infra actions bar component in tsx
  front/src/common/InfraSelector/InfraSelectorEditionActionsBar.tsx
Owners: @osrd-project/front-maintainers

front: use editoast to duplicate infra
  front/src/common/InfraSelector/InfraSelectorEditionActionsBar.tsx
Owners: @osrd-project/front-maintainers

editoast: Add batch delete endpoint for train schedules
  editoast/openapi.yaml
  editoast/src/views/train_schedule/mod.rs
Owners: @osrd-project/editoast-maintainers

editoast: try to use openapi but / are a problem
  editoast/src/views/mod.rs
  editoast/src/views/train_schedule/mod.rs
Owners: @osrd-project/editoast-maintainers

same
  editoast/openapi_legacy.yaml
  editoast/src/views/mod.rs
Owners: @osrd-project/editoast-maintainers

editoast: Add ROOT_PATH support
  editoast/src/client/mod.rs
  editoast/src/main.rs
Owners: @osrd-project/editoast-maintainers

editoast: Add batch delete endpoint for train schedules
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  editoast/src/views/train_schedule/mod.rs
  front/src/common/api/osrdEditoastApi.ts
  tests/tests/test_train_schedule.py
Owners: @osrd-project/editoast-maintainers, @eckter

api: add batch delete endpoint for train schedules
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/openapi.yaml
  python/api/osrd_infra/views/train_schedule/train_schedule.py
  tests/conftest.py
  tests/tests/test_train_schedule.py
  tests/tests/utils/timetable.py
Owners: @osrd-project/editoast-maintainers, @eckter

core: kt-infra: migrate heuristic
  core/src/main/java/fr/sncf/osrd/api/pathfinding/LegacyRemainingDistanceEstimator.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingUtils.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/RemainingDistanceEstimator.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/ElectrificationConstraints.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/LoadingGaugeConstraints.java
  core/src/test/java/fr/sncf/osrd/Helpers.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingResultConverterTest.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/RemainingDistanceEstimatorTest.java
  core/src/test/java/fr/sncf/osrd/utils/graph/AStarTests.java
Owners: @osrd-project/core-maintainers

core: kt-infra: migrate heuristic
  core/src/main/java/fr/sncf/osrd/api/pathfinding/LegacyRemainingDistanceEstimator.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingUtils.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/RemainingDistanceEstimator.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/ElectrificationConstraints.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/LoadingGaugeConstraints.java
  core/src/test/java/fr/sncf/osrd/Helpers.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingResultConverterTest.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/RemainingDistanceEstimatorTest.java
  core/src/test/java/fr/sncf/osrd/utils/graph/AStarTests.java
Owners: @osrd-project/core-maintainers

front: test e2e: add allowances
  front/public/locales/en/allowances.json
  front/public/locales/fr/allowances.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesActions.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesListItem.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesStandardSettings.tsx
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/stdcm/components/OldAllowances/StandardAllowanceDefault.tsx
  front/src/common/BootstrapSNCF/InputGroupSNCF.tsx
  front/tests/001-home-page.spec.ts
  front/tests/004-scenario-creation.spec.ts
  front/tests/006-stdcm-page.spec.ts
  front/tests/007-pathfinding.spec.ts
  front/tests/008-allowances.spec.ts
  front/tests/009-project-delete.spec.ts
  front/tests/pages/map-model.ts
  front/tests/pages/scenario-page-model.ts
Owners: @osrd-project/front-maintainers

front: test e2e: add allowances
  front/public/locales/en/allowances.json
  front/public/locales/fr/allowances.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesActions.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesListItem.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/AllowancesStandardSettings.tsx
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/stdcm/components/OldAllowances/StandardAllowanceDefault.tsx
  front/src/common/BootstrapSNCF/InputGroupSNCF.tsx
  front/tests/001-home-page.spec.ts
  front/tests/004-scenario-creation.spec.ts
  front/tests/006-stdcm-page.spec.ts
  front/tests/007-pathfinding.spec.ts
  front/tests/008-allowances.spec.ts
  front/tests/009-project-delete.spec.ts
  front/tests/pages/map-model.ts
  front/tests/pages/scenario-page-model.ts
Owners: @osrd-project/front-maintainers

railjson-generator: remove TST
  python/railjson_generator/README.md
  python/railjson_generator/railjson_generator/schema/simulation/simulation.py
  python/railjson_generator/railjson_generator/schema/simulation/train_succession_table.py
  python/railjson_generator/railjson_generator/scripts/examples/example_script.py
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
  python/railjson_generator/railjson_generator/scripts/examples/three_trains.py
  python/railjson_generator/railjson_generator/simulation_builder.py
Owners: @osrd-project/editoast-maintainers

osrd_schemas: fix train_schedule.dict
  python/osrd_schemas/osrd_schemas/train_schedule.py
  python/osrd_schemas/pyproject.toml
Owners: @osrd-project/editoast-maintainers

railjson_generator: add a method to put allowances on train_schedules
  python/railjson_generator/poetry.lock
  python/railjson_generator/railjson_generator/schema/simulation/train_schedule.py
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
Owners: @osrd-project/editoast-maintainers

front: test e2e: add 10 trains
  front/src/applications/operationalStudies/components/ManageTrainSchedule/TrainAddingSettings.tsx
  front/tests/005-operational-studies.spec.ts
  front/tests/pages/scenario-page-model.ts
Owners: @osrd-project/front-maintainers

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @osrd-project/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @osrd-project/editoast-maintainers
/editoast/openapi.yaml
/chartos                                                 @osrd-project/editoast-maintainers
/python                                                  @osrd-project/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @osrd-project/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @osrd-project/physics
*Integration*.java                                       @osrd-project/physics
