Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

editoast:osm-to-railjson fix (and test) signal ports
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
  editoast/src/tests/switches.osm.pbf
Owners: @DGEXSolutions/editoast-maintainers

front: add "noSelection" option in composition code selector
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/common/SpeedLimitByTagSelector/SpeedLimitByTagSelector.tsx
Owners: @DGEXSolutions/front-maintainers

front: add "noSelection" option in composition code selector (#4168)
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/common/SpeedLimitByTagSelector/SpeedLimitByTagSelector.tsx
Owners: @DGEXSolutions/front-maintainers

front: add "noSelection" option in composition code selector (#4168)
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/common/SpeedLimitByTagSelector/SpeedLimitByTagSelector.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: fix infra cache graph loading
  editoast/src/infra_cache/graph.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: fix infra cache graph loading
  editoast/src/infra_cache/graph.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: fix infra cache graph loading
  editoast/src/infra_cache/graph.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: fix pathfinding inconsistent switch group result
  editoast/src/views/infra/pathfinding.rs
Owners: @DGEXSolutions/editoast-maintainers

commit mardi matin
  front/public/locales/fr/translation.json
  front/src/applications/editor/tools/rangeEdition/catenary/CatenaryInput.tsx
  front/src/applications/editor/tools/rangeEdition/catenary/CatenaryMetadataForm.tsx
  front/src/applications/editor/tools/rangeEdition/components.tsx
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.jsx
Owners: @DGEXSolutions/front-maintainers

commit mercredi matin
  front/src/applications/editor/tools/rangeEdition/catenary/CatenaryMetadataForm.tsx
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.jsx
Owners: @DGEXSolutions/front-maintainers

mardi midi
  front/src/applications/editor/tools/rangeEdition/catenary/CatenaryMetadataForm.tsx
  front/src/applications/editor/tools/rangeEdition/components.tsx
Owners: @DGEXSolutions/front-maintainers

commit mercredi aprem
  front/public/locales/fr/translation.json
  front/src/applications/editor/tools/rangeEdition/catenary/CatenaryEditionLayers.tsx
  front/src/applications/editor/tools/rangeEdition/components.tsx
  front/src/applications/editor/tools/rangeEdition/tool-factory.ts
  front/src/applications/editor/tools/rangeEdition/tools.ts
  front/src/applications/editor/tools/rangeEdition/types.ts
  front/src/applications/editor/tools/rangeEdition/utils.ts
  front/src/applications/editor/tools/selection/tool.tsx
  front/src/applications/editor/tools/switchProps.ts
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/types/editor.ts
Owners: @DGEXSolutions/front-maintainers

commit mardi aprem
  front/src/applications/editor/components/EntitySumUp.tsx
  front/src/applications/editor/tools/editorContextTypes.ts
  front/src/applications/editor/tools/rangeEdition/components.tsx
  front/src/applications/editor/tools/rangeEdition/components/EditLPVSection.tsx
  front/src/applications/editor/tools/rangeEdition/components/LpvPanelCard.tsx
  front/src/applications/editor/tools/rangeEdition/components/LpvPanelSubSection.tsx
  front/src/applications/editor/tools/rangeEdition/tool-factory.ts
  front/src/applications/editor/tools/rangeEdition/tools.ts
  front/src/applications/editor/tools/rangeEdition/types.ts
  front/src/applications/editor/tools/rangeEdition/utils.ts
  front/src/applications/editor/tools/speedSectionEdition/tool.ts
  front/src/applications/editor/tools/switchEdition/utils.ts
  front/src/applications/editor/tools/switchProps.ts
  front/src/applications/editor/tools/tools.ts
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/applications/editor/tools/utils.ts
Owners: @DGEXSolutions/front-maintainers

commit vendredi matin
  front/src/applications/editor/tools/rangeEdition/catenary/CatenaryInput.tsx
  front/src/applications/editor/tools/rangeEdition/catenary/CatenaryMetadataForm.tsx
  front/src/applications/editor/tools/rangeEdition/components.tsx
  front/src/applications/editor/tools/rangeEdition/speedSection/EditLPVSection.tsx
  front/src/applications/editor/tools/rangeEdition/speedSection/SpeedSectionMetadataForm.tsx
  front/src/common/Map/Layers/GeoJSONs.tsx
Owners: @DGEXSolutions/front-maintainers

commit lundi aprem
  front/public/locales/fr/translation.json
  front/src/applications/editor/components/EntitySumUp.tsx
  front/src/applications/editor/components/LayersModal.tsx
  front/src/applications/editor/tools/types.ts
  front/src/common/Map/Layers/Catenaries.tsx
  front/src/common/Map/Layers/GeoJSONs.tsx
  front/src/types/editor.ts
Owners: @DGEXSolutions/front-maintainers

commit lundi aprem
  front/src/applications/editor/components/InfraErrors/InfraErrorsList.tsx
  front/src/applications/editor/tools/rangeEdition/catenary/CatenaryInput.tsx
  front/src/applications/editor/tools/rangeEdition/catenary/CatenaryMetadataForm.tsx
  front/src/applications/editor/tools/rangeEdition/components.tsx
  front/src/applications/editor/tools/selection/tool.tsx
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalProvider.tsx
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.jsx
  front/src/common/Map/Consts/colors.ts
  front/src/common/Map/Layers/Catenaries.tsx
Owners: @DGEXSolutions/front-maintainers

commit mercredi matin
  front/src/applications/editor/tools/rangeEdition/components.tsx
  front/src/applications/editor/tools/rangeEdition/speedSection/EditLPVSection.tsx
  front/src/applications/editor/tools/rangeEdition/speedSection/LpvPanelCard.tsx
  front/src/applications/editor/tools/rangeEdition/speedSection/LpvPanelSubSection.tsx
  front/src/applications/editor/tools/rangeEdition/speedSection/SpeedInput.tsx
  front/src/applications/editor/tools/rangeEdition/speedSection/SpeedSectionEditionLayers.tsx
  front/src/applications/editor/tools/rangeEdition/tool-factory.ts
  front/src/applications/editor/tools/rangeEdition/tools.ts
  front/src/applications/editor/tools/rangeEdition/types.ts
  front/src/applications/editor/tools/rangeEdition/utils.ts
  front/src/applications/editor/tools/switchProps.ts
  front/src/applications/editor/tools/toolTypes.ts
  front/src/applications/editor/tools/tools.ts
  front/src/types/editor.ts
Owners: @DGEXSolutions/front-maintainers

commit vendredi aprem
  front/public/locales/fr/translation.json
  front/src/applications/editor/tools/trackEdition/components.tsx
Owners: @DGEXSolutions/front-maintainers

commit lundi aprem
  front/public/locales/fr/translation.json
  front/src/applications/editor/tools/rangeEdition/tool-factory.ts
Owners: @DGEXSolutions/front-maintainers

commit mercredi aprem
  front/public/locales/fr/translation.json
  front/src/applications/editor/tools/rangeEdition/utils.ts
  front/src/applications/editor/tools/routeEdition/components/EditRoutePath.tsx
  front/src/applications/editor/tools/routeEdition/types.ts
  front/src/applications/editor/tools/trackEdition/components.tsx
Owners: @DGEXSolutions/front-maintainers

commit mardi matin
  front/public/locales/fr/translation.json
  front/src/applications/editor/components/EntitySumUp.tsx
Owners: @DGEXSolutions/front-maintainers

commit lundi matin
  front/src/applications/editor/tools/trackEdition/components.tsx
Owners: @DGEXSolutions/front-maintainers

python: change minor versions
  python/api/poetry.lock
  python/osrd_schemas/poetry.lock
  python/osrd_schemas/pyproject.toml
  python/railjson_generator/poetry.lock
  python/railjson_generator/pyproject.toml
  tests/poetry.lock
Owners: @DGEXSolutions/editoast-maintainers, @eckter

tests: setup video recording
  .github/workflows/integration_tests.yml
  front/playwright.config.ts
  front/tests/stdcm-page.spec.ts
Owners: @flomonster, @multun, @DGEXSolutions/front-maintainers

commit mardi aprem
  front/src/applications/editor/components/EntitySumUp.tsx
  front/src/applications/editor/tools/editorContextTypes.ts
  front/src/applications/editor/tools/rangeEdition/components.tsx
  front/src/applications/editor/tools/rangeEdition/components/EditLPVSection.tsx
  front/src/applications/editor/tools/rangeEdition/components/LpvPanelCard.tsx
  front/src/applications/editor/tools/rangeEdition/components/LpvPanelSubSection.tsx
  front/src/applications/editor/tools/rangeEdition/tool-factory.ts
  front/src/applications/editor/tools/rangeEdition/tools.ts
  front/src/applications/editor/tools/rangeEdition/types.ts
  front/src/applications/editor/tools/rangeEdition/utils.ts
  front/src/applications/editor/tools/speedSectionEdition/tool.ts
  front/src/applications/editor/tools/switchEdition/utils.ts
  front/src/applications/editor/tools/switchProps.ts
  front/src/applications/editor/tools/tools.ts
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/applications/editor/tools/utils.ts
Owners: @DGEXSolutions/front-maintainers

commit lundi aprem
  front/public/locales/fr/translation.json
  front/src/applications/editor/components/EntitySumUp.tsx
  front/src/applications/editor/components/LayersModal.tsx
  front/src/applications/editor/tools/types.ts
  front/src/common/Map/Layers/Catenaries.tsx
  front/src/common/Map/Layers/GeoJSONs.tsx
  front/src/types/editor.ts
Owners: @DGEXSolutions/front-maintainers

commit vendredi aprem
  front/public/locales/fr/translation.json
  front/src/applications/editor/tools/trackEdition/components.tsx
Owners: @DGEXSolutions/front-maintainers

commit lundi aprem
  front/public/locales/fr/translation.json
  front/src/applications/editor/tools/rangeEdition/tool-factory.ts
Owners: @DGEXSolutions/front-maintainers

commit mercredi aprem
  front/public/locales/fr/translation.json
  front/src/applications/editor/tools/rangeEdition/catenary/CatenaryEditionLayers.tsx
  front/src/applications/editor/tools/rangeEdition/components.tsx
  front/src/applications/editor/tools/rangeEdition/tool-factory.ts
  front/src/applications/editor/tools/rangeEdition/tools.ts
  front/src/applications/editor/tools/rangeEdition/types.ts
  front/src/applications/editor/tools/rangeEdition/utils.ts
  front/src/applications/editor/tools/selection/tool.tsx
  front/src/applications/editor/tools/switchProps.ts
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/types/editor.ts
Owners: @DGEXSolutions/front-maintainers

commit mercredi aprem
  front/public/locales/fr/translation.json
  front/src/applications/editor/tools/rangeEdition/utils.ts
  front/src/applications/editor/tools/routeEdition/components/EditRoutePath.tsx
  front/src/applications/editor/tools/routeEdition/types.ts
  front/src/applications/editor/tools/trackEdition/components.tsx
Owners: @DGEXSolutions/front-maintainers

commit lundi aprem
  front/src/applications/editor/components/InfraErrors/InfraErrorsList.tsx
  front/src/applications/editor/tools/rangeEdition/catenary/CatenaryInput.tsx
  front/src/applications/editor/tools/rangeEdition/catenary/CatenaryMetadataForm.tsx
  front/src/applications/editor/tools/rangeEdition/components.tsx
  front/src/applications/editor/tools/selection/tool.tsx
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalProvider.tsx
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.jsx
  front/src/common/Map/Consts/colors.ts
  front/src/common/Map/Layers/Catenaries.tsx
Owners: @DGEXSolutions/front-maintainers

mardi midi
  front/src/applications/editor/tools/rangeEdition/catenary/CatenaryMetadataForm.tsx
  front/src/applications/editor/tools/rangeEdition/components.tsx
Owners: @DGEXSolutions/front-maintainers

commit mercredi matin
  front/src/applications/editor/tools/rangeEdition/catenary/CatenaryMetadataForm.tsx
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.jsx
Owners: @DGEXSolutions/front-maintainers

commit lundi matin
  front/src/applications/editor/tools/trackEdition/components.tsx
Owners: @DGEXSolutions/front-maintainers

commit mardi matin
  front/public/locales/fr/translation.json
  front/src/applications/editor/components/EntitySumUp.tsx
Owners: @DGEXSolutions/front-maintainers

commit vendredi matin
  front/src/applications/editor/tools/rangeEdition/catenary/CatenaryInput.tsx
  front/src/applications/editor/tools/rangeEdition/catenary/CatenaryMetadataForm.tsx
  front/src/applications/editor/tools/rangeEdition/components.tsx
  front/src/applications/editor/tools/rangeEdition/speedSection/EditLPVSection.tsx
  front/src/applications/editor/tools/rangeEdition/speedSection/SpeedSectionMetadataForm.tsx
  front/src/common/Map/Layers/GeoJSONs.tsx
Owners: @DGEXSolutions/front-maintainers

commit mercredi matin
  front/src/applications/editor/tools/rangeEdition/components.tsx
  front/src/applications/editor/tools/rangeEdition/speedSection/EditLPVSection.tsx
  front/src/applications/editor/tools/rangeEdition/speedSection/LpvPanelCard.tsx
  front/src/applications/editor/tools/rangeEdition/speedSection/LpvPanelSubSection.tsx
  front/src/applications/editor/tools/rangeEdition/speedSection/SpeedInput.tsx
  front/src/applications/editor/tools/rangeEdition/speedSection/SpeedSectionEditionLayers.tsx
  front/src/applications/editor/tools/rangeEdition/tool-factory.ts
  front/src/applications/editor/tools/rangeEdition/tools.ts
  front/src/applications/editor/tools/rangeEdition/types.ts
  front/src/applications/editor/tools/rangeEdition/utils.ts
  front/src/applications/editor/tools/switchProps.ts
  front/src/applications/editor/tools/toolTypes.ts
  front/src/applications/editor/tools/tools.ts
  front/src/types/editor.ts
Owners: @DGEXSolutions/front-maintainers

commit mardi matin
  front/public/locales/fr/translation.json
  front/src/applications/editor/tools/rangeEdition/catenary/CatenaryInput.tsx
  front/src/applications/editor/tools/rangeEdition/catenary/CatenaryMetadataForm.tsx
  front/src/applications/editor/tools/rangeEdition/components.tsx
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.jsx
Owners: @DGEXSolutions/front-maintainers

core: add allowance documentation
  core/openapi.yaml
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSAllowance.java
Owners: @DGEXSolutions/core-maintainers

core: add allowance documentation
  core/openapi.yaml
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSAllowance.java
Owners: @DGEXSolutions/core-maintainers

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics
