Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @openrailassociation/OSRD-DevOps, @openrailassociation/OSRD-Admins, @openrailassociation/OSRD-Front, @openrailassociation/OSRD-Editoast, @openrailassociation/OSRD-Tests, @openrailassociation/OSRD-Core, @openrailassociation/OSRD-Physics

front: removed rocket component and ensured searchByTrigramContainer is not visible in tests
  front/src/modules/pathfinding/components/Itinerary/ItineraryV2.tsx
  front/src/modules/pathfinding/components/Pathfinding/TypeAndPathV2.tsx
  front/tests/010-op-route-tab.spec.ts
  front/tests/pages/operational-studies-page-model.ts
Owners: @openrailassociation/OSRD-Front

core: stdcm: quick opti step availability
  core/src/main/kotlin/fr/sncf/osrd/stdcm/preprocessing/implementation/BlockAvailability.kt
Owners: @openrailassociation/OSRD-Core

front: removed rocket component and ensured searchByTrigramContainer is not visible in tests
  front/src/modules/pathfinding/components/Itinerary/ItineraryV2.tsx
  front/src/modules/pathfinding/components/Pathfinding/TypeAndPathV2.tsx
  front/tests/010-op-route-tab.spec.ts
  front/tests/pages/operational-studies-page-model.ts
Owners: @openrailassociation/OSRD-Front

editoast: move tables.rs into editoast_models
  editoast/Cargo.lock
  editoast/diesel.toml
  editoast/editoast_derive/src/lib.rs
  editoast/editoast_derive/src/modelv2.rs
  editoast/editoast_models/Cargo.toml
  editoast/editoast_models/src/lib.rs
  editoast/editoast_models/src/tables.rs
  editoast/src/generated_data/buffer_stop.rs
  editoast/src/generated_data/detector.rs
  editoast/src/generated_data/electrification.rs
  editoast/src/generated_data/error/mod.rs
  editoast/src/generated_data/neutral_sign.rs
  editoast/src/generated_data/operational_point.rs
  editoast/src/generated_data/psl_sign.rs
  editoast/src/generated_data/signal.rs
  editoast/src/generated_data/speed_section.rs
  editoast/src/generated_data/track_section.rs
  editoast/src/main.rs
  editoast/src/modelsv2/auth.rs
  editoast/src/modelsv2/documents.rs
  editoast/src/modelsv2/electrical_profiles.rs
  editoast/src/modelsv2/infra.rs
  editoast/src/modelsv2/infra/errors.rs
  editoast/src/modelsv2/infra_objects.rs
  editoast/src/modelsv2/light_rolling_stock.rs
  editoast/src/modelsv2/mod.rs
  editoast/src/modelsv2/projects.rs
  editoast/src/modelsv2/rolling_stock_image.rs
  editoast/src/modelsv2/rolling_stock_livery.rs
  editoast/src/modelsv2/rolling_stock_model.rs
  editoast/src/modelsv2/scenario.rs
  editoast/src/modelsv2/stdcm_search_environment.rs
  editoast/src/modelsv2/study.rs
  editoast/src/modelsv2/timetable.rs
  editoast/src/modelsv2/train_schedule.rs
  editoast/src/modelsv2/work_schedules.rs
Owners: @openrailassociation/OSRD-Editoast

core: harmonize comfort type
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/Comfort.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSEffortCurves.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSStandaloneTrainSchedule.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSRollingStockParser.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSStandaloneTrainScheduleParser.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
  core/src/main/java/fr/sncf/osrd/train/StandaloneTrainSchedule.java
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/standalone_sim/SimulationRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/stdcm/STDCMEndpointV2.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/stdcm/STDCMRequestV2.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulation.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/EnvelopeSimContextBuilder.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/PostProcessingSimulation.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMGraph.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPostProcessing.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMSimulations.kt
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/ConflictDetectionTest.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractorTests.java
  core/src/test/java/fr/sncf/osrd/train/TestRollingStock.java
  core/src/test/java/fr/sncf/osrd/train/TestTrains.java
  core/src/test/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulationTest.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/BacktrackingTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/DepartureTimeShiftTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/EngineeringAllowanceTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/FullSTDCMTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMHelpers.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMPathfindingBuilder.kt
Owners: @openrailassociation/OSRD-Core

editoast: remove old pagination system
  editoast/src/views/light_rolling_stocks.rs
  editoast/src/views/pagination.rs
Owners: @openrailassociation/OSRD-Editoast

docker: fix osrdyne releases
  docker/docker-bake.hcl
Owners: @openrailassociation/OSRD-DevOps

docker: fix osrdyne releases
  docker/docker-bake.hcl
Owners: @openrailassociation/OSRD-DevOps

editoast: remove unused fixtures
  editoast/src/fixtures.rs
  editoast/src/main.rs
Owners: @openrailassociation/OSRD-Editoast

editoast: remove last fixtures v1 occurences & delete module
  editoast/src/fixtures.rs
  editoast/src/main.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/v2/path/properties.rs
Owners: @openrailassociation/OSRD-Editoast

editoast: remove test fixtures
  editoast/src/fixtures.rs
  editoast/src/main.rs
  editoast/src/modelsv2/fixtures.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/v2/path/properties.rs
Owners: @openrailassociation/OSRD-Editoast

front: move NGE logic to dedicated component directory
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
  front/src/applications/operationalStudies/components/MacroEditor/osrdToNge.ts
  front/src/applications/operationalStudies/components/NGE/NGE.tsx
  front/src/applications/operationalStudies/components/NGE/types.ts
  front/src/applications/operationalStudies/views/v2/ScenarioV2.tsx
Owners: @openrailassociation/OSRD-Front

editoast: improve naming of extracted variables in several handlers
  editoast/src/views/electrical_profiles.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/v2/timetable.rs
  editoast/src/views/v2/timetable/stdcm.rs
  editoast/src/views/v2/train_schedule.rs
  editoast/src/views/v2/train_schedule/projection.rs
  editoast/src/views/work_schedules.rs
Owners: @openrailassociation/OSRD-Editoast

editoast: add new migration
  editoast/migrations/2024-09-02-132335_replace_mode_ac_with_air_conditioning/down.sql
  editoast/migrations/2024-09-02-132335_replace_mode_ac_with_air_conditioning/up.sql
Owners: @openrailassociation/OSRD-Editoast

front: fix missing desired arrival in output TimesStops table
  front/src/modules/timesStops/TimesStops.tsx
  front/src/modules/timesStops/helpers/utils.ts
Owners: @openrailassociation/OSRD-Front

editoast: remove last fixtures v1 occurences & delete module
  editoast/src/fixtures.rs
  editoast/src/main.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/v2/path/properties.rs
Owners: @openrailassociation/OSRD-Editoast

editoast: remove unused fixtures
  editoast/src/fixtures.rs
  editoast/src/main.rs
Owners: @openrailassociation/OSRD-Editoast

editoast: fix stdcm_search_env tests for non-empty initial table
  editoast/src/modelsv2/stdcm_search_environment.rs
  editoast/src/views/stdcm_search_environment.rs
Owners: @openrailassociation/OSRD-Editoast

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @openrailassociation/OSRD-DevOps
/.github/CODEOWNERS                                      @openrailassociation/OSRD-Admins
/*.md                                                    @openrailassociation/OSRD-Admins
/LICENSE                                                 @openrailassociation/OSRD-Admins

# -- Docker --
/docker                                                  @openrailassociation/OSRD-DevOps
/docker-compose.yml                                      @openrailassociation/OSRD-DevOps

# --- NIX ---
/nix                                                     @openrailassociation/OSRD-DevOps
/flake.lock                                              @openrailassociation/OSRD-DevOps
*.nix                                                    @openrailassociation/OSRD-DevOps

# --- FRONT ---
/front                                                   @openrailassociation/OSRD-Front
/front/src/common/api/generatedEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts
/front/src/reducers/osrdconf/infra_schema.json

# --- EDITOAST ---
/editoast                                                @openrailassociation/OSRD-Editoast
/editoast/openapi.yaml
/chartos                                                 @openrailassociation/OSRD-Editoast
/python                                                  @openrailassociation/OSRD-Editoast

# --- INTEGRATION TESTS  ---
/tests                                                   @openrailassociation/OSRD-Tests

# --- CORE ---
/core                                                    @openrailassociation/OSRD-Core

# --- OSRDYNE ---
/osrdyne                                                 @openrailassociation/OSRD-DevOps

# --- CORE PHYSICS ---
/core/*Physics*.java                                     @openrailassociation/OSRD-Physics
/core/*Integration*.java                                 @openrailassociation/OSRD-Physics

# --- GATEWAY ---
/gateway                                                 @openrailassociation/OSRD-DevOps
