Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics

tests: fuzzer: ignore "no path found" and update payload
  tests/fuzzer/fuzzer.py
Owners: @eckter

front: use editoast endpoint to import Railjson
  front/src/common/InfraSelector/InfraSelectorModalBodyEdition.jsx
Owners: @DGEXSolutions/front-maintainers

front: SelectSNCF: add condition to display label or not; replace arrow to the left as other components
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/common/BootstrapSNCF/SelectSNCF.jsx
Owners: @DGEXSolutions/front-maintainers

front: SelectSNCF: add condition to display label or not; replace arrow to the left as other components
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/common/BootstrapSNCF/SelectSNCF.jsx
Owners: @DGEXSolutions/front-maintainers

front: SelectSNCF: add condition to display label or not; replace arrow to the left as other components
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/common/BootstrapSNCF/SelectSNCF.jsx
Owners: @DGEXSolutions/front-maintainers

front: Fix input time table import
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/SpaceTimeChart.jsx
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
Owners: @DGEXSolutions/front-maintainers

front: Fix input time table import
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/SpaceTimeChart.jsx
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
Owners: @DGEXSolutions/front-maintainers

front: Fix input time table import
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/SpaceTimeChart.jsx
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
Owners: @DGEXSolutions/front-maintainers

front: Fix comments
  front/src/common/InfraSelector/InfraSelectorModal.tsx
  front/src/common/InfraSelector/InfraSelectorModalBodyEdition.tsx
Owners: @DGEXSolutions/front-maintainers

front: InfraSelectorModalBodyEdition: migrate from js to ts and use RTK
  front/src/common/InfraSelector/InfraSelectorModal.tsx
  front/src/common/InfraSelector/InfraSelectorModalBodyEdition.tsx
  front/src/common/InfraSelector/InfraSelectorModalBodyStandard.jsx
Owners: @DGEXSolutions/front-maintainers

front: Migrate InfraSelectorModalBodyEdition from js to ts
  front/src/common/InfraSelector/InfraSelectorModal.tsx
  front/src/common/InfraSelector/InfraSelectorModalBodyEdition.tsx
  front/src/common/InfraSelector/InfraSelectorModalBodyStandard.jsx
Owners: @DGEXSolutions/front-maintainers

front: Migrate InfraSelectorModalBodyEdition from js to ts
  front/src/common/InfraSelector/InfraSelectorModal.tsx
  front/src/common/InfraSelector/InfraSelectorModalBodyEdition.tsx
  front/src/common/InfraSelector/InfraSelectorModalBodyStandard.jsx
Owners: @DGEXSolutions/front-maintainers

front: api: adapt study_types and study_states endpoint
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
  front/src/applications/operationalStudies/views/Study.tsx
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/openapi.yaml
  python/api/osrd_infra/views/study.py
Owners: @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers

front: api: adapt study_types and study_states endpoint
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
  front/src/applications/operationalStudies/views/Study.tsx
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/openapi.yaml
  python/api/osrd_infra/views/study.py
Owners: @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers

front: api: adapt study_types and study_states endpoint
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
  front/src/applications/operationalStudies/views/Study.tsx
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/openapi.yaml
  python/api/osrd_infra/views/study.py
Owners: @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers

api: front: train_schedule/results replace param train_ids by timetable_id
  front/src/applications/operationalStudies/components/Scenario/getTimetable.jsx
  front/src/applications/stdcm/getStdcmTimetable.jsx
  front/src/applications/stdcm/views/StdcmRequestModal.jsx
  front/src/common/api/osrdMiddlewareApi.ts
  front/src/reducers/osrdsimulation/simulation.js
  python/api/openapi.yaml
  python/api/osrd_infra/views/train_schedule/train_schedule.py
Owners: @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers

api: front: train_schedule/results replace param train_ids by timetable_id
  front/src/applications/operationalStudies/components/Scenario/getTimetable.jsx
  front/src/applications/stdcm/getStdcmTimetable.jsx
  front/src/applications/stdcm/views/StdcmRequestModal.jsx
  front/src/common/api/osrdMiddlewareApi.ts
  front/src/reducers/osrdsimulation/simulation.js
  python/api/openapi.yaml
  python/api/osrd_infra/views/train_schedule/train_schedule.py
Owners: @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers

api: front: train_schedule/results replace param train_ids by timetable_id
  front/src/applications/operationalStudies/components/Scenario/getTimetable.jsx
  front/src/applications/stdcm/getStdcmTimetable.jsx
  front/src/applications/stdcm/views/StdcmRequestModal.jsx
  front/src/common/api/osrdMiddlewareApi.ts
  front/src/reducers/osrdsimulation/simulation.js
  python/api/openapi.yaml
  python/api/osrd_infra/views/train_schedule/train_schedule.py
Owners: @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers

front: fix route signal icons
  front/src/common/Map/Search/SignalCard.tsx
Owners: @DGEXSolutions/front-maintainers

front: fix route signal icons
  front/src/common/Map/Search/SignalCard.tsx
Owners: @DGEXSolutions/front-maintainers

front: fix route signal icons
  front/src/common/Map/Search/SignalCard.tsx
Owners: @DGEXSolutions/front-maintainers

front: fix jsx-no-useless-fragment warnings
  front/.eslintrc
  front/src/applications/editor/components/LayersModal.tsx
  front/src/applications/editor/tools/selection/components.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap/VirtualLayers.tsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ConfirmModal.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalProvider.tsx
  front/src/common/DisplayMissingInfo/DisplayMissingInfo.tsx
  front/src/common/Map/Layers/GeoJSONs.tsx
Owners: @DGEXSolutions/front-maintainers

front: fix jsx-no-useless-fragment warnings
  front/.eslintrc
  front/src/applications/editor/components/LayersModal.tsx
  front/src/applications/editor/tools/selection/components.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap/VirtualLayers.tsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ConfirmModal.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalProvider.tsx
  front/src/common/DisplayMissingInfo/DisplayMissingInfo.tsx
  front/src/common/Map/Layers/GeoJSONs.tsx
Owners: @DGEXSolutions/front-maintainers

front: fix jsx-no-useless-fragment warnings
  front/.eslintrc
  front/src/applications/editor/components/LayersModal.tsx
  front/src/applications/editor/tools/selection/components.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap/VirtualLayers.tsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ConfirmModal.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalProvider.tsx
  front/src/common/DisplayMissingInfo/DisplayMissingInfo.tsx
  front/src/common/Map/Layers/GeoJSONs.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: fix infra version bump after edit
  editoast/src/views/infra/edition.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: fix infra version bump after edit
  editoast/src/views/infra/edition.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: fix infra version bump after edit
  editoast/src/views/infra/edition.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: use jemalloc to reduce allocation fragmentation
  editoast/Dockerfile
Owners: @DGEXSolutions/editoast-maintainers

editoast: use jemalloc to reduce allocation fragmentation
  editoast/Dockerfile
Owners: @DGEXSolutions/editoast-maintainers

editoast: use jemalloc to reduce allocation fragmentation
  editoast/Dockerfile
Owners: @DGEXSolutions/editoast-maintainers

front: use reusable getDocument function
  front/public/locales/fr/operationalStudies/project.json
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorProject2Image.tsx
  front/src/common/api/documentApi.ts
  front/src/common/consts.ts
Owners: @DGEXSolutions/front-maintainers

front: use reusable getDocument function
  front/public/locales/fr/operationalStudies/project.json
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorProject2Image.tsx
  front/src/common/api/documentApi.ts
  front/src/common/consts.ts
Owners: @DGEXSolutions/front-maintainers

front: use reusable getDocument function
  front/public/locales/fr/operationalStudies/project.json
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorProject2Image.tsx
  front/src/common/api/documentApi.ts
  front/src/common/consts.ts
Owners: @DGEXSolutions/front-maintainers

front: change explorator to explorer for components/folders/files names
  front/public/locales/en/common/scenarioExplorer.json
  front/public/locales/fr/common/scenarioExplorer.json
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/common/ScenarioExplorer/ScenarioExplorer.tsx
  front/src/common/ScenarioExplorer/ScenarioExplorerModal.tsx
  front/src/common/ScenarioExplorer/ScenarioExplorerModalProjectMiniCard.tsx
  front/src/common/ScenarioExplorer/ScenarioExplorerModalScenarioMiniCard.tsx
  front/src/common/ScenarioExplorer/ScenarioExplorerModalStudyMiniCard.tsx
  front/src/common/ScenarioExplorer/ScenarioExplorerProject2Image.tsx
  front/src/common/ScenarioExplorer/ScenarioExplorerTypes.ts
Owners: @DGEXSolutions/front-maintainers

front: refacto scenario explorator wih rtk and props
  front/public/locales/en/common/scenarioExplorator.json
  front/public/locales/fr/common/scenarioExplorator.json
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/common/ScenarioExplorator/ScenarioExplorator.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorModal.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorModalStudyMiniCard.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorTypes.ts
Owners: @DGEXSolutions/front-maintainers

front: refaco scenario explorator with editoast types
  front/src/common/ScenarioExplorator/ScenarioExploratorModal.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorModalProjectMiniCard.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorTypes.ts
Owners: @DGEXSolutions/front-maintainers

front: change explorator to explorer for components/folders/files names
  front/public/locales/en/common/scenarioExplorer.json
  front/public/locales/fr/common/scenarioExplorer.json
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/common/ScenarioExplorer/ScenarioExplorer.tsx
  front/src/common/ScenarioExplorer/ScenarioExplorerModal.tsx
  front/src/common/ScenarioExplorer/ScenarioExplorerModalProjectMiniCard.tsx
  front/src/common/ScenarioExplorer/ScenarioExplorerModalScenarioMiniCard.tsx
  front/src/common/ScenarioExplorer/ScenarioExplorerModalStudyMiniCard.tsx
  front/src/common/ScenarioExplorer/ScenarioExplorerProject2Image.tsx
  front/src/common/ScenarioExplorer/ScenarioExplorerTypes.ts
Owners: @DGEXSolutions/front-maintainers

front: refaco scenario explorator with editoast types
  front/src/common/ScenarioExplorator/ScenarioExploratorModal.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorModalProjectMiniCard.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorTypes.ts
Owners: @DGEXSolutions/front-maintainers

front: refacto scenario explorator wih rtk and props
  front/public/locales/en/common/scenarioExplorator.json
  front/public/locales/fr/common/scenarioExplorator.json
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/common/ScenarioExplorator/ScenarioExplorator.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorModal.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorModalStudyMiniCard.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorTypes.ts
Owners: @DGEXSolutions/front-maintainers

front: change explorator to explorer for components/folders/files names
  front/public/locales/en/common/scenarioExplorer.json
  front/public/locales/fr/common/scenarioExplorer.json
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/common/ScenarioExplorer/ScenarioExplorer.tsx
  front/src/common/ScenarioExplorer/ScenarioExplorerModal.tsx
  front/src/common/ScenarioExplorer/ScenarioExplorerModalProjectMiniCard.tsx
  front/src/common/ScenarioExplorer/ScenarioExplorerModalScenarioMiniCard.tsx
  front/src/common/ScenarioExplorer/ScenarioExplorerModalStudyMiniCard.tsx
  front/src/common/ScenarioExplorer/ScenarioExplorerProject2Image.tsx
  front/src/common/ScenarioExplorer/ScenarioExplorerTypes.ts
Owners: @DGEXSolutions/front-maintainers
