Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics

editoast: add get_catenaries_on_path endpoint
  editoast/openapi.yaml
  editoast/src/fixtures.rs
  editoast/src/infra_cache/mod.rs
  editoast/src/models/infra.rs
  editoast/src/models/infra_objects/catenary.rs
  editoast/src/models/infra_objects/mod.rs
  editoast/src/models/mod.rs
  editoast/src/models/pathfinding.rs
  editoast/src/schema/mod.rs
  editoast/src/views/pathfinding/catenaries.rs
  editoast/src/views/pathfinding/mod.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

editoast: add get_catenaries_on_path endpoint
  editoast/openapi.yaml
  editoast/src/fixtures.rs
  editoast/src/infra_cache/mod.rs
  editoast/src/models/infra.rs
  editoast/src/models/infra_objects/catenary.rs
  editoast/src/models/infra_objects/mod.rs
  editoast/src/models/mod.rs
  editoast/src/models/pathfinding.rs
  editoast/src/schema/mod.rs
  editoast/src/views/pathfinding/catenaries.rs
  editoast/src/views/pathfinding/mod.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

editoast: catenaries_on_path: return warnings for overlapping ranges
  editoast/openapi.yaml
  editoast/src/error.rs
  editoast/src/views/pathfinding/catenaries.rs
  editoast/src/views/pathfinding/mod.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

editoast: catenaries_on_path: return warnings for overlapping ranges
  editoast/openapi.yaml
  editoast/src/error.rs
  editoast/src/views/pathfinding/catenaries.rs
  editoast/src/views/pathfinding/mod.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

update contributing link in readme
  README.md
Owners: none

update contributing link in readme
  README.md
Owners: none

update contributing link in readme
  README.md
Owners: none

editoast: migrate POST rolling_stock/{id}/livery
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/openapi.yaml
  editoast/src/models/mod.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/models/rolling_stock/rolling_stock_image.rs
  editoast/src/models/rolling_stock/rolling_stock_livery.rs
  editoast/src/tables.rs
  editoast/src/views/rolling_stocks.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

editoast: migrate POST rolling_stock/{id}/livery
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/openapi.yaml
  editoast/src/models/mod.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/models/rolling_stock/rolling_stock_image.rs
  editoast/src/models/rolling_stock/rolling_stock_livery.rs
  editoast/src/tables.rs
  editoast/src/views/rolling_stocks.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

editoast: migrate POST rolling_stock/{id}/livery
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/openapi.yaml
  editoast/src/models/mod.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/models/rolling_stock/rolling_stock_image.rs
  editoast/src/models/rolling_stock/rolling_stock_livery.rs
  editoast/src/tables.rs
  editoast/src/views/rolling_stocks.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

add Duration class in sim_infra api
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/RawSignalingInfra.kt
Owners: @DGEXSolutions/core-maintainers

Implement Duration in SignalProjection
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
Owners: @DGEXSolutions/core-maintainers

front: use RTK endpoints for light_rolling_stock
  front/public/locales/fr/rollingstock.json
  front/src/applications/operationalStudies/views/ImportTrainSchedule.tsx
  front/src/common/RollingStockSelector/RollingStockModal.jsx
Owners: @DGEXSolutions/front-maintainers

front: enableInteractivity: add condition in updateChart for ctrl + shift
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/enableInteractivity.jsx
Owners: @DGEXSolutions/front-maintainers

front: use RTK endpoints for light_rolling_stock
  front/public/locales/fr/rollingstock.json
  front/src/applications/operationalStudies/views/ImportTrainSchedule.tsx
  front/src/common/RollingStockSelector/RollingStockModal.jsx
Owners: @DGEXSolutions/front-maintainers

front: use RTK endpoints for light_rolling_stock
  front/public/locales/fr/rollingstock.json
  front/src/applications/operationalStudies/views/ImportTrainSchedule.tsx
  front/src/common/RollingStockSelector/RollingStockModal.jsx
Owners: @DGEXSolutions/front-maintainers

front: fix image deleted when updating a project even when not touching it
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
Owners: @DGEXSolutions/front-maintainers

front: fix image deleted when updating a project even when not touching it
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
Owners: @DGEXSolutions/front-maintainers

front: fix image deleted when updating a project even when not touching it
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
Owners: @DGEXSolutions/front-maintainers

front: refacto, error for linter options nested-ternary, no-shadow, prefer-template
  front/.eslintrc
  front/src/applications/editor/tools/routeEdition/components/EditRoutePath.tsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/MarecoMultiRange.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceSettings/SpeedSpaceSettings.jsx
  front/src/common/BootstrapSNCF/ChipsSNCF.tsx
Owners: @DGEXSolutions/front-maintainers

core: speed up pathfinding with intermediate steps
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/RemainingDistanceEstimator.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.java
  core/src/main/java/fr/sncf/osrd/utils/graph/Pathfinding.java
  core/src/test/java/fr/sncf/osrd/utils/graph/AStarTests.java
Owners: @DGEXSolutions/core-maintainers

core: speed up pathfinding with intermediate steps
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/RemainingDistanceEstimator.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.java
  core/src/main/java/fr/sncf/osrd/utils/graph/Pathfinding.java
  core/src/test/java/fr/sncf/osrd/utils/graph/AStarTests.java
Owners: @DGEXSolutions/core-maintainers

core: speed up pathfinding with intermediate steps
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/RemainingDistanceEstimator.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.java
  core/src/main/java/fr/sncf/osrd/utils/graph/Pathfinding.java
  core/src/test/java/fr/sncf/osrd/utils/graph/AStarTests.java
Owners: @DGEXSolutions/core-maintainers

front: fix project image not displayed in stdcm
  front/src/common/ScenarioExplorator/ScenarioExploratorProject2Image.tsx
Owners: @DGEXSolutions/front-maintainers

front: fix project image not displayed in stdcm (#3953)
  front/src/common/ScenarioExplorator/ScenarioExploratorProject2Image.tsx
Owners: @DGEXSolutions/front-maintainers

front: fix project image not displayed in stdcm (#3953)
  front/src/common/ScenarioExplorator/ScenarioExploratorProject2Image.tsx
Owners: @DGEXSolutions/front-maintainers

front: InfraSelector: migrate from js to ts
  front/src/common/InfraSelector/InfraSelector.tsx
  front/src/common/Map/Buttons/ButtonMapInfras.jsx
Owners: @DGEXSolutions/front-maintainers

front: InfraSelector: migrate from js to ts
  front/src/common/InfraSelector/InfraSelector.tsx
  front/src/common/Map/Buttons/ButtonMapInfras.jsx
Owners: @DGEXSolutions/front-maintainers

front: InfraSelector: migrate from js to ts
  front/src/common/InfraSelector/InfraSelector.tsx
  front/src/common/Map/Buttons/ButtonMapInfras.jsx
Owners: @DGEXSolutions/front-maintainers

front: driverTrainSchedule.scss: fix z-index for thead
  front/src/styles/scss/applications/operationalStudies/components/_driverTrainSchedule.scss
Owners: @DGEXSolutions/front-maintainers

front: driverTrainSchedule.scss: fix z-index for thead
  front/src/styles/scss/applications/operationalStudies/components/_driverTrainSchedule.scss
Owners: @DGEXSolutions/front-maintainers

front: driverTrainSchedule.scss: fix z-index for thead
  front/src/styles/scss/applications/operationalStudies/components/_driverTrainSchedule.scss
Owners: @DGEXSolutions/front-maintainers

core: pathfinding: merge identical points in the heuristic
  core/src/main/java/fr/sncf/osrd/api/pathfinding/RemainingDistanceEstimator.java
Owners: @DGEXSolutions/core-maintainers

core: don't require constructors to have a docstring
  core/config/checkstyle/checkstyle.xml
Owners: @DGEXSolutions/core-maintainers

core: pathfinding: merge identical points in the heuristic
  core/src/main/java/fr/sncf/osrd/api/pathfinding/RemainingDistanceEstimator.java
Owners: @DGEXSolutions/core-maintainers

core: pathfinding: merge identical points in the heuristic
  core/src/main/java/fr/sncf/osrd/api/pathfinding/RemainingDistanceEstimator.java
Owners: @DGEXSolutions/core-maintainers

core: don't require constructors to have a docstring
  core/config/checkstyle/checkstyle.xml
Owners: @DGEXSolutions/core-maintainers

core: don't require constructors to have a docstring
  core/config/checkstyle/checkstyle.xml
Owners: @DGEXSolutions/core-maintainers

tests: fuzzer: ignore "no path found" and update payload
  tests/fuzzer/fuzzer.py
Owners: @eckter

tests: fuzzer: ignore "no path found" and update payload
  tests/fuzzer/fuzzer.py
Owners: @eckter
