Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DGEXSolutions/osrd-backend-maintainers, @flomonster, @multun, @bgiuliana, @eckter, @DGEXSolutions/osrd-physics, @pguenezan, @theophanevie

.github/CODEOWNERS:

CODEOWNERS        @DGEXSolutions/osrd-backend-maintainers

/specifications   @flomonster @DGEXSolutions/osrd-backend-maintainers

# java stuff
/src/main/java/fr/sncf/osrd                         @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/api                     @flomonster @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/cbtc                    @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/cli                     @multun @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/config                  @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/infra                   @multun @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/infra_state             @multun @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/infra_state/regulator   @flomonster @bgiuliana @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/interactive             @flomonster @multun @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/railjson                @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/railml                  @flomonster @multun @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/simulation              @multun @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/speedcontroller         @eckter @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/train                   @eckter @multun @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/utils                   @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/DebugViewer.java        @DGEXSolutions/osrd-backend-maintainers
*Physics*.java                                      @DGEXSolutions/osrd-physics
*Integrator*.java                                   @DGEXSolutions/osrd-physics
*Integration*.java                                  @DGEXSolutions/osrd-physics

# Python Interactive Client
/src/python_interactive_client                @flomonster @multun

# buildsystem stuff
/*.gradle         @multun
/gradle           @multun
/config           @multun
/README.md        @multun
/.gitlab-ci.yml   @pguenezan @theophanevie @multun
/Dockerfile       @pguenezan @theophanevie @multun
/chart            @pguenezan @theophanevie
/chart/templates/apidefinition.yaml  @flomonster

rk4: refactor makeRKStep
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
Owners: @DGEXSolutions/osrd-physics

rk4: refactor makeRKStep
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
Owners: @DGEXSolutions/osrd-physics

rk4: change the do{} while() into a while() {} in binarySearch to immediately discard the case of margin = 0, and fix other bugs
  src/main/java/fr/sncf/osrd/speedcontroller/generators/DichotomyControllerGenerator.java
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
Owners: @eckter, @DGEXSolutions/osrd-backend-maintainers, @DGEXSolutions/osrd-physics

Implement Runge-Kutta 4 (#249)
  src/main/java/fr/sncf/osrd/speedcontroller/generators/ConstructionAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/DichotomyControllerGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/MarecoAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/SpeedControllerGenerator.java
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
  src/main/java/fr/sncf/osrd/train/TrainState.java
  src/test/java/fr/sncf/osrd/train/TrainPhysics.java
Owners: @eckter, @DGEXSolutions/osrd-backend-maintainers, @DGEXSolutions/osrd-physics, @multun

Implement Runge-Kutta 4 (#249)
  src/main/java/fr/sncf/osrd/speedcontroller/generators/ConstructionAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/DichotomyControllerGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/MarecoAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/SpeedControllerGenerator.java
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
  src/main/java/fr/sncf/osrd/train/TrainState.java
  src/test/java/fr/sncf/osrd/train/TrainPhysics.java
Owners: @eckter, @DGEXSolutions/osrd-backend-maintainers, @DGEXSolutions/osrd-physics, @multun

margins: fix backward simulations and edge cases
  src/main/java/fr/sncf/osrd/speedcontroller/generators/ConstructionAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/SpeedControllerGenerator.java
  src/main/java/fr/sncf/osrd/train/TrackSectionRange.java
  src/main/java/fr/sncf/osrd/train/TrainPath.java
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
  src/main/java/fr/sncf/osrd/train/TrainPositionTracker.java
  src/main/java/fr/sncf/osrd/train/TrainState.java
  src/test/java/fr/sncf/osrd/RunExamplesTest.java
  src/test/java/fr/sncf/osrd/infra_state/RouteStateTest.java
Owners: @eckter, @DGEXSolutions/osrd-backend-maintainers, @multun, @DGEXSolutions/osrd-physics

physics: fix condition for max distance delta
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
Owners: @DGEXSolutions/osrd-physics

integration: fix max distance for backward steps
  src/main/java/fr/sncf/osrd/speedcontroller/generators/ConstructionAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
Owners: @eckter, @DGEXSolutions/osrd-backend-maintainers, @DGEXSolutions/osrd-physics

mareco: filter out negative coasting positions
  src/main/java/fr/sncf/osrd/speedcontroller/generators/MarecoAllowanceGenerator.java
Owners: @eckter, @DGEXSolutions/osrd-backend-maintainers

physics: prevent coasting when speed = 0
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
Owners: @DGEXSolutions/osrd-physics

physics: reuse limit constants for epsilons
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
  src/main/java/fr/sncf/osrd/train/TrainPositionTracker.java
Owners: @DGEXSolutions/osrd-physics, @eckter, @multun, @DGEXSolutions/osrd-backend-maintainers

physics: remove isRKStep flag and cleanup
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
Owners: @DGEXSolutions/osrd-physics

physics: allowance bugfixes
  src/main/java/fr/sncf/osrd/speedcontroller/generators/ConstructionAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/SpeedControllerGenerator.java
  src/main/java/fr/sncf/osrd/train/TrainPositionTracker.java
Owners: @eckter, @DGEXSolutions/osrd-backend-maintainers, @multun

tests: physics: fix dummuy location tracker
  src/test/java/fr/sncf/osrd/train/TrainPhysics.java
Owners: @DGEXSolutions/osrd-physics

physics: prevent going backward before beginning of path
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
Owners: @DGEXSolutions/osrd-physics

dnn: Update Dockerfile
  Dockerfile
Owners: @pguenezan, @theophanevie, @multun

infra-generator: add
  examples/generator/README.md
  examples/generator/gen_example.py
  examples/generator/libgen.py
  examples/generator/railjson_generator/__init__.py
  examples/generator/railjson_generator/infra_builder.py
  examples/generator/railjson_generator/rjs_static/__init__.py
  examples/generator/railjson_generator/rjs_static/aspects.json
  examples/generator/railjson_generator/rjs_static/rolling_stocks.json
  examples/generator/railjson_generator/rjs_static/script_functions.json
  examples/generator/railjson_generator/rjs_static/signal_expr.json
  examples/generator/railjson_generator/rjs_static/switch_types.json
  examples/generator/railjson_generator/schema/__init__.py
  examples/generator/railjson_generator/schema/infra/__init__.py
  examples/generator/railjson_generator/schema/infra/direction.py
  examples/generator/railjson_generator/schema/infra/endpoint.py
  examples/generator/railjson_generator/schema/infra/infra.py
  examples/generator/railjson_generator/schema/infra/link.py
  examples/generator/railjson_generator/schema/infra/operational_point.py
  examples/generator/railjson_generator/schema/infra/route.py
  examples/generator/railjson_generator/schema/infra/signal.py
  examples/generator/railjson_generator/schema/infra/switch.py
  examples/generator/railjson_generator/schema/infra/track_section.py
  examples/generator/railjson_generator/schema/infra/tvd_section.py
  examples/generator/railjson_generator/schema/infra/waypoint.py
  examples/generator/railjson_generator/schema/location.py
  examples/generator/railjson_generator/schema/simulation/__init__.py
  examples/generator/railjson_generator/schema/simulation/simulation.py
  examples/generator/railjson_generator/schema/simulation/stop.py
  examples/generator/railjson_generator/schema/simulation/train_schedule.py
  examples/generator/railjson_generator/schema/simulation/train_succession_table.py
  examples/generator/railjson_generator/simulation_builder.py
  examples/generator/railjson_generator/utils/__init__.py
  examples/generator/railjson_generator/utils/pathfinding.py
  examples/generator/railjson_generator/utils/routes_generator.py
  examples/generator/railjson_generator/utils/tvd_sections_generator.py
  examples/generator/railjson_generator/utils/union_find.py
Owners: none

allowance: add a common dichotomy margin constant
  src/main/java/fr/sncf/osrd/speedcontroller/generators/ConstructionAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/DichotomyControllerGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/MarecoAllowanceGenerator.java
Owners: @eckter, @DGEXSolutions/osrd-backend-maintainers

infra-generator: add
  examples/generator/README.md
  examples/generator/gen_example.py
  examples/generator/libgen.py
  examples/generator/railjson_generator/__init__.py
  examples/generator/railjson_generator/infra_builder.py
  examples/generator/railjson_generator/rjs_static/__init__.py
  examples/generator/railjson_generator/rjs_static/aspects.json
  examples/generator/railjson_generator/rjs_static/rolling_stocks.json
  examples/generator/railjson_generator/rjs_static/script_functions.json
  examples/generator/railjson_generator/rjs_static/signal_expr.json
  examples/generator/railjson_generator/rjs_static/switch_types.json
  examples/generator/railjson_generator/schema/__init__.py
  examples/generator/railjson_generator/schema/infra/__init__.py
  examples/generator/railjson_generator/schema/infra/direction.py
  examples/generator/railjson_generator/schema/infra/endpoint.py
  examples/generator/railjson_generator/schema/infra/infra.py
  examples/generator/railjson_generator/schema/infra/link.py
  examples/generator/railjson_generator/schema/infra/operational_point.py
  examples/generator/railjson_generator/schema/infra/route.py
  examples/generator/railjson_generator/schema/infra/signal.py
  examples/generator/railjson_generator/schema/infra/switch.py
  examples/generator/railjson_generator/schema/infra/track_section.py
  examples/generator/railjson_generator/schema/infra/tvd_section.py
  examples/generator/railjson_generator/schema/infra/waypoint.py
  examples/generator/railjson_generator/schema/location.py
  examples/generator/railjson_generator/schema/simulation/__init__.py
  examples/generator/railjson_generator/schema/simulation/simulation.py
  examples/generator/railjson_generator/schema/simulation/stop.py
  examples/generator/railjson_generator/schema/simulation/train_schedule.py
  examples/generator/railjson_generator/schema/simulation/train_succession_table.py
  examples/generator/railjson_generator/simulation_builder.py
  examples/generator/railjson_generator/utils/__init__.py
  examples/generator/railjson_generator/utils/pathfinding.py
  examples/generator/railjson_generator/utils/routes_generator.py
  examples/generator/railjson_generator/utils/tvd_sections_generator.py
  examples/generator/railjson_generator/utils/union_find.py
Owners: none

infra-generator: add
  examples/generator/README.md
  examples/generator/gen_example.py
  examples/generator/libgen.py
  examples/generator/railjson_generator/__init__.py
  examples/generator/railjson_generator/infra_builder.py
  examples/generator/railjson_generator/rjs_static/__init__.py
  examples/generator/railjson_generator/rjs_static/aspects.json
  examples/generator/railjson_generator/rjs_static/rolling_stocks.json
  examples/generator/railjson_generator/rjs_static/script_functions.json
  examples/generator/railjson_generator/rjs_static/signal_expr.json
  examples/generator/railjson_generator/rjs_static/switch_types.json
  examples/generator/railjson_generator/schema/__init__.py
  examples/generator/railjson_generator/schema/infra/__init__.py
  examples/generator/railjson_generator/schema/infra/direction.py
  examples/generator/railjson_generator/schema/infra/endpoint.py
  examples/generator/railjson_generator/schema/infra/infra.py
  examples/generator/railjson_generator/schema/infra/link.py
  examples/generator/railjson_generator/schema/infra/operational_point.py
  examples/generator/railjson_generator/schema/infra/route.py
  examples/generator/railjson_generator/schema/infra/signal.py
  examples/generator/railjson_generator/schema/infra/switch.py
  examples/generator/railjson_generator/schema/infra/track_section.py
  examples/generator/railjson_generator/schema/infra/tvd_section.py
  examples/generator/railjson_generator/schema/infra/waypoint.py
  examples/generator/railjson_generator/schema/location.py
  examples/generator/railjson_generator/schema/simulation/__init__.py
  examples/generator/railjson_generator/schema/simulation/simulation.py
  examples/generator/railjson_generator/schema/simulation/stop.py
  examples/generator/railjson_generator/schema/simulation/train_schedule.py
  examples/generator/railjson_generator/schema/simulation/train_succession_table.py
  examples/generator/railjson_generator/simulation_builder.py
  examples/generator/railjson_generator/utils/__init__.py
  examples/generator/railjson_generator/utils/pathfinding.py
  examples/generator/railjson_generator/utils/routes_generator.py
  examples/generator/railjson_generator/utils/tvd_sections_generator.py
  examples/generator/railjson_generator/utils/union_find.py
Owners: none

margins: delete & adding ok
  public/locales/fr/margins.json
  src/applications/osrd/views/OSRDSimulation/Margins.js
  src/applications/osrd/views/OSRDSimulation/OSRDSimulation.scss
Owners: none

pathfinding: popup more small
  src/applications/osrd/components/OSRDConfMap/PopupInfosCustomContent.js
Owners: none

physics: prevent going backward before beginning of path
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
Owners: @DGEXSolutions/osrd-physics

physics: prevent coasting when speed = 0
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
Owners: @DGEXSolutions/osrd-physics

mareco: filter out negative coasting positions
  src/main/java/fr/sncf/osrd/speedcontroller/generators/MarecoAllowanceGenerator.java
Owners: @eckter, @DGEXSolutions/osrd-backend-maintainers

mareco: filter out negative coasting positions
  src/main/java/fr/sncf/osrd/speedcontroller/generators/MarecoAllowanceGenerator.java
Owners: @eckter, @DGEXSolutions/osrd-backend-maintainers

allowance: add a common dichotomy margin constant
  src/main/java/fr/sncf/osrd/speedcontroller/generators/ConstructionAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/DichotomyControllerGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/MarecoAllowanceGenerator.java
Owners: @eckter, @DGEXSolutions/osrd-backend-maintainers

margins: fix backward simulations and edge cases
  src/main/java/fr/sncf/osrd/speedcontroller/generators/ConstructionAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/SpeedControllerGenerator.java
  src/main/java/fr/sncf/osrd/train/TrackSectionRange.java
  src/main/java/fr/sncf/osrd/train/TrainPath.java
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
  src/main/java/fr/sncf/osrd/train/TrainPositionTracker.java
  src/main/java/fr/sncf/osrd/train/TrainState.java
  src/test/java/fr/sncf/osrd/RunExamplesTest.java
  src/test/java/fr/sncf/osrd/infra_state/RouteStateTest.java
Owners: @eckter, @DGEXSolutions/osrd-backend-maintainers, @multun, @DGEXSolutions/osrd-physics

physics: remove isRKStep flag and cleanup
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
Owners: @DGEXSolutions/osrd-physics

physics: reuse limit constants for epsilons
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
  src/main/java/fr/sncf/osrd/train/TrainPositionTracker.java
Owners: @DGEXSolutions/osrd-physics, @eckter, @multun, @DGEXSolutions/osrd-backend-maintainers

physics: allowance bugfixes
  src/main/java/fr/sncf/osrd/speedcontroller/generators/ConstructionAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/SpeedControllerGenerator.java
  src/main/java/fr/sncf/osrd/train/TrainPositionTracker.java
Owners: @eckter, @DGEXSolutions/osrd-backend-maintainers, @multun

physics: fix condition for max distance delta
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
Owners: @DGEXSolutions/osrd-physics

physics: remove isRKStep flag and cleanup
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
Owners: @DGEXSolutions/osrd-physics

integration: fix max distance for backward steps
  src/main/java/fr/sncf/osrd/speedcontroller/generators/ConstructionAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
Owners: @eckter, @DGEXSolutions/osrd-backend-maintainers, @DGEXSolutions/osrd-physics

tests: physics: fix dummuy location tracker
  src/test/java/fr/sncf/osrd/train/TrainPhysics.java
Owners: @DGEXSolutions/osrd-physics

physics: reuse limit constants for epsilons
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
  src/main/java/fr/sncf/osrd/train/TrainPositionTracker.java
Owners: @DGEXSolutions/osrd-physics, @eckter, @multun, @DGEXSolutions/osrd-backend-maintainers

physics: fix condition for max distance delta
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
Owners: @DGEXSolutions/osrd-physics

tests: physics: fix dummuy location tracker
  src/test/java/fr/sncf/osrd/train/TrainPhysics.java
Owners: @DGEXSolutions/osrd-physics

physics: prevent going backward before beginning of path
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
Owners: @DGEXSolutions/osrd-physics

allowance: add a common dichotomy margin constant
  src/main/java/fr/sncf/osrd/speedcontroller/generators/ConstructionAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/DichotomyControllerGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/MarecoAllowanceGenerator.java
Owners: @eckter, @DGEXSolutions/osrd-backend-maintainers
