Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics

front: refacto scenario explorator wih rtk and props
  front/public/locales/en/common/scenarioExplorator.json
  front/public/locales/fr/common/scenarioExplorator.json
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/common/ScenarioExplorator/ScenarioExplorator.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorModal.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorModalStudyMiniCard.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorTypes.ts
Owners: @DGEXSolutions/front-maintainers

front: refaco scenario explorator with editoast types
  front/src/common/ScenarioExplorator/ScenarioExploratorModal.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorModalProjectMiniCard.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorTypes.ts
Owners: @DGEXSolutions/front-maintainers

front: energy consumption is displayed even after drag&drop on GET
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/reducers/osrdsimulation/types.ts
Owners: @DGEXSolutions/front-maintainers

front: energy consumption is displayed even after drag&drop on GET
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/reducers/osrdsimulation/types.ts
Owners: @DGEXSolutions/front-maintainers

front: energy consumption is displayed even after drag&drop on GET
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/reducers/osrdsimulation/types.ts
Owners: @DGEXSolutions/front-maintainers

front: avoid multiple timetable train card re-renders
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
Owners: @DGEXSolutions/front-maintainers

front: avoid multiple timetable train card re-renders
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
Owners: @DGEXSolutions/front-maintainers

front: avoid multiple timetable train card re-renders
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
Owners: @DGEXSolutions/front-maintainers

front: migrate ButtonMapInfras
  front/src/common/Map/Buttons/ButtonMapInfras.tsx
  front/src/common/Map/Buttons/ButtonMapKey.jsx
  front/src/common/Map/Buttons/ButtonMapKey.tsx
  front/src/common/Map/Buttons/ButtonMapSearch.jsx
  front/src/common/Map/Buttons/ButtonMapSearch.tsx
  front/src/common/Map/Buttons/ButtonMapSettings.jsx
  front/src/common/Map/Buttons/ButtonMapSettings.tsx
  front/src/common/Map/Buttons/ButtonResetViewport.jsx
  front/src/common/Map/Buttons/ButtonResetViewport.tsx
Owners: @DGEXSolutions/front-maintainers

front: Migrate Maps/Buttons folder
  front/src/common/Map/Buttons/ButtonMapInfras.tsx
  front/src/common/Map/Buttons/ButtonMapKey.jsx
  front/src/common/Map/Buttons/ButtonMapKey.tsx
  front/src/common/Map/Buttons/ButtonMapSearch.jsx
  front/src/common/Map/Buttons/ButtonMapSearch.tsx
  front/src/common/Map/Buttons/ButtonMapSettings.jsx
  front/src/common/Map/Buttons/ButtonMapSettings.tsx
  front/src/common/Map/Buttons/ButtonResetViewport.jsx
  front/src/common/Map/Buttons/ButtonResetViewport.tsx
Owners: @DGEXSolutions/front-maintainers

front: Migrate Maps/Buttons folder
  front/src/common/Map/Buttons/ButtonMapInfras.tsx
  front/src/common/Map/Buttons/ButtonMapKey.jsx
  front/src/common/Map/Buttons/ButtonMapKey.tsx
  front/src/common/Map/Buttons/ButtonMapSearch.jsx
  front/src/common/Map/Buttons/ButtonMapSearch.tsx
  front/src/common/Map/Buttons/ButtonMapSettings.jsx
  front/src/common/Map/Buttons/ButtonMapSettings.tsx
  front/src/common/Map/Buttons/ButtonResetViewport.jsx
  front/src/common/Map/Buttons/ButtonResetViewport.tsx
Owners: @DGEXSolutions/front-maintainers

front: add electrification to error message and remove the no code selected message
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
Owners: @DGEXSolutions/front-maintainers

front: performance optimization
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Destination.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Origin.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/common/RollingStockSelector/RollingStockCardButtons.jsx
  front/src/reducers/osrdconf/index.ts
Owners: @DGEXSolutions/front-maintainers

front: add error message if wrong combination of power restriction and electrification
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
Owners: @DGEXSolutions/front-maintainers

Pfn/front/electrification error handler (#3935)
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Destination.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Origin.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/common/RollingStockSelector/RollingStockCardButtons.jsx
  front/src/reducers/osrdconf/index.ts
Owners: @DGEXSolutions/front-maintainers

Pfn/front/electrification error handler (#3935)
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Destination.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Origin.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/common/RollingStockSelector/RollingStockCardButtons.jsx
  front/src/reducers/osrdconf/index.ts
Owners: @DGEXSolutions/front-maintainers

refacto zoom conditions with enum object
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/enableInteractivity.jsx
Owners: @DGEXSolutions/front-maintainers

front: migrate to TS DriverTrainSchedule
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainSchedule.jsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainSchedule.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleContent.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleHelpers.tsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/reducers/osrdsimulation/types.ts
Owners: @DGEXSolutions/front-maintainers

fix comments
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleHelpers.tsx
Owners: @DGEXSolutions/front-maintainers

front: migrate DriverTrainSchedule files to ts (#3971)
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainSchedule.jsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainSchedule.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleContent.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleHelpers.tsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/reducers/osrdsimulation/types.ts
Owners: @DGEXSolutions/front-maintainers

front: migrate DriverTrainSchedule files to ts (#3971)
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainSchedule.jsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainSchedule.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleContent.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleHelpers.tsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/reducers/osrdsimulation/types.ts
Owners: @DGEXSolutions/front-maintainers

editoast: migrate endpoint PATCH rolling_stock/{id}
  editoast/openapi.yaml
  editoast/src/fixtures.rs
  editoast/src/main.rs
  editoast/src/models/projects.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/tests/example_rolling_stock_2.json
  editoast/src/tests/example_rolling_stock_3.json
  editoast/src/views/rolling_stocks.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

front: type speedSpaceChart/prepareData
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/prepareData.ts
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/withOSRDData.jsx
Owners: @DGEXSolutions/front-maintainers

front: migrate SpeedSpaceChart/withOSRDData to ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/enableInteractivity.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/SpaceTimeChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/withOSRDData.tsx
  front/src/applications/stdcm/views/OSRDStdcmResults.tsx
  front/src/reducers/osrdsimulation/selectors.ts
  front/src/reducers/osrdsimulation/types.ts
Owners: @DGEXSolutions/front-maintainers

editoast: migrate endpoint PATCH rolling_stock/{id}
  editoast/openapi.yaml
  editoast/src/fixtures.rs
  editoast/src/main.rs
  editoast/src/models/projects.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/tests/example_rolling_stock_2.json
  editoast/src/tests/example_rolling_stock_3.json
  editoast/src/views/rolling_stocks.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

editoast: migrate endpoint PATCH rolling_stock/{id}
  editoast/openapi.yaml
  editoast/src/fixtures.rs
  editoast/src/main.rs
  editoast/src/models/projects.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/tests/example_rolling_stock_2.json
  editoast/src/tests/example_rolling_stock_3.json
  editoast/src/views/rolling_stocks.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

front: remove 6 warnings
  front/package.json
  front/src/applications/editor/components/InfraErrors/types.ts
  front/src/applications/editor/tools/routeEdition/components/EditRoutePath.tsx
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/withOSRDData.jsx
  front/src/applications/stdcm/views/StdcmRequestModal.jsx
  front/src/common/BootstrapSNCF/SearchSNCF.jsx
  front/vite.config.ts
Owners: @DGEXSolutions/front-maintainers

front: fix tag impossible to edit in study
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
Owners: @DGEXSolutions/front-maintainers

front: fix tag impossible to edit in study
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
Owners: @DGEXSolutions/front-maintainers

front: fix tag impossible to edit in study
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
Owners: @DGEXSolutions/front-maintainers

core: fix checkstyle errors that weren't catch by broken CI
  core/build.gradle
  core/envelope-sim/build.gradle
  core/envelope-sim/src/main/java/fr/sncf/osrd/DriverBehaviour.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/constraints/SpeedConstraint.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPath.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/AllowanceTests.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope/EnvelopeTestUtils.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPathBuilder.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/SimpleContextBuilder.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/SimpleRollingStock.java
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/SignalingSimulatorImpl.kt
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/external_generated_inputs/RJSElectricalProfileSet.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
Owners: @DGEXSolutions/core-maintainers

core: gradle: apply code quality rules to subproject
  core/build.gradle
  core/config/spotbugs/exclude-railjson.xml
  core/envelope-sim/build.gradle
  core/osrd-railjson/build.gradle
Owners: @DGEXSolutions/core-maintainers

new card for the rolling stock editor in homepage
  front/public/locales/fr/home/home.json
  front/src/applications/rollingStock/Home.tsx
  front/src/assets/pictures/home/rolling-stock.svg
  front/src/main/app.jsx
  front/src/main/home.jsx
  front/tests/home-page-model.tsx
Owners: @DGEXSolutions/front-maintainers

new svg for the rolling stock editor
  front/public/locales/fr/home/home.json
  front/src/applications/rollingStock/Home.tsx
  front/src/assets/pictures/home/rolling-stock.svg
  front/src/assets/pictures/home/rs_editor.svg
  front/src/main/home.jsx
  front/tests/home-page-model.tsx
Owners: @DGEXSolutions/front-maintainers

core: gradle: apply code quality rules to subproject
  core/build.gradle
  core/config/spotbugs/exclude-railjson.xml
  core/envelope-sim/build.gradle
  core/osrd-railjson/build.gradle
Owners: @DGEXSolutions/core-maintainers

core: fix checkstyle errors that weren't catch by broken CI
  core/build.gradle
  core/envelope-sim/build.gradle
  core/envelope-sim/src/main/java/fr/sncf/osrd/DriverBehaviour.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/constraints/SpeedConstraint.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPath.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/AllowanceTests.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope/EnvelopeTestUtils.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPathBuilder.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/SimpleContextBuilder.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/SimpleRollingStock.java
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/SignalingSimulatorImpl.kt
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/external_generated_inputs/RJSElectricalProfileSet.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
Owners: @DGEXSolutions/core-maintainers

core: fix checkstyle errors that weren't catch by broken CI
  core/build.gradle
  core/envelope-sim/build.gradle
  core/envelope-sim/src/main/java/fr/sncf/osrd/DriverBehaviour.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/constraints/SpeedConstraint.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPath.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/AllowanceTests.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope/EnvelopeTestUtils.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPathBuilder.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/SimpleContextBuilder.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/SimpleRollingStock.java
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/SignalingSimulatorImpl.kt
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/external_generated_inputs/RJSElectricalProfileSet.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
Owners: @DGEXSolutions/core-maintainers

core: gradle: apply code quality rules to subproject
  core/build.gradle
  core/config/spotbugs/exclude-railjson.xml
  core/envelope-sim/build.gradle
  core/osrd-railjson/build.gradle
Owners: @DGEXSolutions/core-maintainers

core: stdcm: handle intermediate stops (with static stop duration)
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/stdcm/STDCMResult.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/AllowanceManager.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/BacktrackingManager.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/DelayManager.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMEdge.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMEdgeBuilder.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMGraph.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMNode.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMPostProcessing.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMSimulations.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMStandardAllowance.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMUtils.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMHelpers.java
  core/src/test/java/fr/sncf/osrd/stdcm/StandardAllowanceTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/StopTests.java
  python/api/osrd_infra/views/stdcm.py
  tests/tests/test_stdcm.py
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers, @eckter

front: adapt stdcmReq building to new API
  front/src/applications/stdcm/formatStcmConf.ts
  front/src/common/Pathfinding/Pathfinding.tsx
Owners: @DGEXSolutions/front-maintainers
