Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @osrd-project/front-maintainers, @osrd-project/editoast-maintainers, @eckter, @osrd-project/core-maintainers, @osrd-project/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @osrd-project/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @osrd-project/editoast-maintainers
/editoast/openapi.yaml
/chartos                                                 @osrd-project/editoast-maintainers
/python                                                  @osrd-project/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @osrd-project/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @osrd-project/physics
*Integration*.java                                       @osrd-project/physics

railjson_generator: deprecate unidirectional track links
  python/railjson_generator/README.md
  python/railjson_generator/railjson_generator/schema/infra/link.py
  python/railjson_generator/railjson_generator/scripts/examples/circle_infra.py
  python/railjson_generator/railjson_generator/scripts/examples/one_line.py
  python/railjson_generator/railjson_generator/scripts/examples/tiny_infra.py
Owners: @osrd-project/editoast-maintainers

actions: trigger core tests on generator changes
  .github/workflows/core.yml
Owners: @flomonster, @multun

railjson_generator: bump to 0.2.0
  python/railjson_generator/pyproject.toml
  tests/poetry.lock
Owners: @osrd-project/editoast-maintainers, @eckter

front: migrate some chartHelpers to ts (& remove keyValues arg) - drawArea - drawGuideLine - drawRect - drawText
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawArea.jsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawArea.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawGuideLines.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawPoints.jsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawRect.jsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawRect.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawText.ts
  front/src/applications/operationalStudies/components/SimulationResults/SpaceCurvesSlopes.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/drawTrain.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/prepareData.ts
Owners: @osrd-project/front-maintainers

editoast: add invalid_reasons field to get_timetable
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  editoast/src/models/rolling_stock/light_rolling_stock.rs
  editoast/src/models/timetable.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tables.rs
  editoast/src/tests/train_schedule.json
  editoast/src/views/timetable.rs
  editoast/src/views/train_schedule/mod.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/osrd_infra/migrations/0040_trainschedule_infra_version_and_more.py
  python/api/osrd_infra/models/train_schedule.py
  tests/tests/test_timetable.py
Owners: @osrd-project/editoast-maintainers, @eckter

editoast: move endpoint multiple train schedule delete
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  editoast/src/views/train_schedule/mod.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/osrd_infra/urls.py
  python/api/osrd_infra/views/train_schedule/train_schedule.py
  tests/tests/test_train_schedule.py
Owners: @osrd-project/editoast-maintainers, @eckter

editoast: add test to timetable
  editoast/src/fixtures.rs
  editoast/src/models/timetable.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tests/train_schedule.json
  editoast/src/views/timetable.rs
Owners: @osrd-project/editoast-maintainers

front: migrate some chartHelpers to ts (& remove keyValues arg) - drawArea - drawGuideLine - drawRect - drawText
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawArea.jsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawArea.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawGuideLines.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawPoints.jsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawRect.jsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawRect.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawText.ts
  front/src/applications/operationalStudies/components/SimulationResults/SpaceCurvesSlopes.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/drawTrain.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/prepareData.ts
Owners: @osrd-project/front-maintainers

api: set inra and rollingstock versions to train schedules
  python/api/osrd_infra/views/train_schedule/train_schedule.py
Owners: @osrd-project/editoast-maintainers

editoast: add test to timetable
  editoast/src/fixtures.rs
  editoast/src/models/timetable.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tests/train_schedule.json
  editoast/src/views/timetable.rs
Owners: @osrd-project/editoast-maintainers

editoast: add invalid_reasons field to get_timetable
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  editoast/src/models/rolling_stock/light_rolling_stock.rs
  editoast/src/models/timetable.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tables.rs
  editoast/src/tests/train_schedule.json
  editoast/src/views/timetable.rs
  editoast/src/views/train_schedule/mod.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/osrd_infra/migrations/0040_trainschedule_infra_version_and_more.py
  python/api/osrd_infra/models/train_schedule.py
  tests/tests/test_timetable.py
Owners: @osrd-project/editoast-maintainers, @eckter

api: set inra and rollingstock versions to train schedules
  python/api/osrd_infra/views/train_schedule/train_schedule.py
Owners: @osrd-project/editoast-maintainers

core: remove obsolete signaling engine
  core/src/main/java/fr/sncf/osrd/infra_state/implementation/SignalizationEngine.java
  core/src/main/java/fr/sncf/osrd/infra_state/implementation/standalone/StandaloneDetectionSectionState.java
  core/src/main/java/fr/sncf/osrd/infra_state/implementation/standalone/StandaloneReservationRouteState.java
  core/src/main/java/fr/sncf/osrd/infra_state/implementation/standalone/StandaloneReservationTrain.java
  core/src/main/java/fr/sncf/osrd/infra_state/implementation/standalone/StandaloneSignalingSimulation.java
  core/src/main/java/fr/sncf/osrd/infra_state/implementation/standalone/StandaloneState.java
  core/src/test/java/fr/sncf/osrd/infra_state/StandaloneSignalingSimulationTests.java
  core/src/test/java/fr/sncf/osrd/infra_state/StandaloneStateTests.java
Owners: @osrd-project/core-maintainers

core: remove obsolete signaling engine
  core/src/main/java/fr/sncf/osrd/infra_state/implementation/SignalizationEngine.java
  core/src/main/java/fr/sncf/osrd/infra_state/implementation/standalone/StandaloneDetectionSectionState.java
  core/src/main/java/fr/sncf/osrd/infra_state/implementation/standalone/StandaloneReservationRouteState.java
  core/src/main/java/fr/sncf/osrd/infra_state/implementation/standalone/StandaloneReservationTrain.java
  core/src/main/java/fr/sncf/osrd/infra_state/implementation/standalone/StandaloneSignalingSimulation.java
  core/src/main/java/fr/sncf/osrd/infra_state/implementation/standalone/StandaloneState.java
  core/src/test/java/fr/sncf/osrd/infra_state/StandaloneSignalingSimulationTests.java
  core/src/test/java/fr/sncf/osrd/infra_state/StandaloneStateTests.java
Owners: @osrd-project/core-maintainers

editoast: move endpoint multiple train schedule delete
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  editoast/src/views/train_schedule/mod.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/osrd_infra/urls.py
  python/api/osrd_infra/views/train_schedule/train_schedule.py
  tests/tests/test_train_schedule.py
Owners: @osrd-project/editoast-maintainers, @eckter

api: fix openapi for batch deleting train schedules
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/openapi.yaml
Owners: @osrd-project/editoast-maintainers

front: add red stripes over invalid trains
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Owners: @osrd-project/front-maintainers

front: add warning message for invalid trains
  front/public/locales/fr/operationalStudies/scenario.json
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Owners: @osrd-project/front-maintainers

front: display only delete icon for invalid trains
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Owners: @osrd-project/front-maintainers

front: adapt styles for stripes and messages
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/assets/pictures/components/missing_tracks.svg
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Owners: @osrd-project/front-maintainers

front: use first tick for scale
  front/src/common/IntervalsDataViz/Scales.tsx
  front/src/common/IntervalsDataViz/style.scss
  front/src/common/IntervalsDataViz/utils.ts
Owners: @osrd-project/front-maintainers

actions: print the logs after the integration tests
  .github/workflows/integration_tests.yml
Owners: @flomonster, @multun

actions: integration tests: show docker container logs
  .github/workflows/integration_tests.yml
Owners: @flomonster, @multun

core: remove extraneous log statement
  core/src/main/java/fr/sncf/osrd/api/SignalProjectionEndpoint.java
Owners: @osrd-project/core-maintainers

front: stdcm count only valid trains
  front/src/common/ScenarioExplorer/ScenarioExplorer.tsx
Owners: @osrd-project/front-maintainers

core: remove extraneous log statement
  core/src/main/java/fr/sncf/osrd/api/SignalProjectionEndpoint.java
Owners: @osrd-project/core-maintainers

front: add new svg for invalid rollingstock and infra
  front/public/locales/en/operationalStudies/scenario.json
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/assets/pictures/components/missing_train.svg
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Owners: @osrd-project/front-maintainers

core: fix spacing resource generation
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
Owners: @osrd-project/core-maintainers

front: fix bug on stdcm (setup originUpperBoundTime in the store)
  front/src/reducers/__tests__/osrdconf.spec.ts
  front/src/reducers/osrdconf/index.ts
Owners: @osrd-project/front-maintainers

front: stdcm count only valid trains
  front/src/common/ScenarioExplorer/ScenarioExplorer.tsx
Owners: @osrd-project/front-maintainers

api: fix openapi for batch deleting train schedules
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/openapi.yaml
Owners: @osrd-project/editoast-maintainers

core: fix spacing resource generation
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
Owners: @osrd-project/core-maintainers

editoast: update test small_infra
  editoast/src/tests/small_infra/small_infra.json
Owners: @osrd-project/editoast-maintainers

railjson_generator: fix route generation
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingElectrificationTest.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingTest.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/ConflictDetectionTest.java
  core/src/test/java/fr/sncf/osrd/stdcm/FullSTDCMTests.java
  core/src/test/java/fr/sncf/osrd/utils/graph/AStarTests.java
  python/railjson_generator/README.md
  python/railjson_generator/railjson_generator/infra_builder.py
  python/railjson_generator/railjson_generator/schema/infra/dead_section.py
  python/railjson_generator/railjson_generator/schema/infra/direction.py
  python/railjson_generator/railjson_generator/schema/infra/link.py
  python/railjson_generator/railjson_generator/schema/infra/route.py
  python/railjson_generator/railjson_generator/schema/infra/signal.py
  python/railjson_generator/railjson_generator/schema/infra/switch.py
  python/railjson_generator/railjson_generator/schema/infra/track_section.py
  python/railjson_generator/railjson_generator/scripts/examples/example_script.py
  python/railjson_generator/railjson_generator/scripts/examples/generated.py
  python/railjson_generator/railjson_generator/scripts/examples/one_line.py
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
  python/railjson_generator/railjson_generator/scripts/examples/three_trains.py
  python/railjson_generator/railjson_generator/scripts/examples/tiny_infra.py
  python/railjson_generator/railjson_generator/utils/pathfinding.py
  python/railjson_generator/railjson_generator/utils/routes_generator.py
Owners: @osrd-project/core-maintainers, @osrd-project/editoast-maintainers

core: kt-osrd-signaling: better logging of block builder warnings
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/BlockBuilder.kt
Owners: @osrd-project/core-maintainers

actions: print the logs after the integration tests
  .github/workflows/integration_tests.yml
Owners: @flomonster, @multun

editoast: update test small_infra
  editoast/src/tests/small_infra/small_infra.json
Owners: @osrd-project/editoast-maintainers

railjson_generator: fix route generation
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingElectrificationTest.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingTest.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/ConflictDetectionTest.java
  core/src/test/java/fr/sncf/osrd/stdcm/FullSTDCMTests.java
  core/src/test/java/fr/sncf/osrd/utils/graph/AStarTests.java
  python/railjson_generator/README.md
  python/railjson_generator/railjson_generator/infra_builder.py
  python/railjson_generator/railjson_generator/schema/infra/dead_section.py
  python/railjson_generator/railjson_generator/schema/infra/direction.py
  python/railjson_generator/railjson_generator/schema/infra/link.py
  python/railjson_generator/railjson_generator/schema/infra/route.py
  python/railjson_generator/railjson_generator/schema/infra/signal.py
  python/railjson_generator/railjson_generator/schema/infra/switch.py
  python/railjson_generator/railjson_generator/schema/infra/track_section.py
  python/railjson_generator/railjson_generator/scripts/examples/example_script.py
  python/railjson_generator/railjson_generator/scripts/examples/generated.py
  python/railjson_generator/railjson_generator/scripts/examples/one_line.py
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
  python/railjson_generator/railjson_generator/scripts/examples/three_trains.py
  python/railjson_generator/railjson_generator/scripts/examples/tiny_infra.py
  python/railjson_generator/railjson_generator/utils/pathfinding.py
  python/railjson_generator/railjson_generator/utils/routes_generator.py
Owners: @osrd-project/core-maintainers, @osrd-project/editoast-maintainers

core: kt-osrd-signaling: better logging of block builder warnings
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/BlockBuilder.kt
Owners: @osrd-project/core-maintainers

front: add red stripes over invalid trains
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Owners: @osrd-project/front-maintainers
