Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

front: repair invalid inputsncf mode
  front/src/common/BootstrapSNCF/InputSNCF.tsx
Owners: @DGEXSolutions/front-maintainers

front: permit update from selectSNCF when changing selectedValue
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.jsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: bugfixes & reducer tests correction
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
  front/src/reducers/__tests__/osrdconf.spec.ts
  front/src/utils/physics.ts
Owners: @DGEXSolutions/front-maintainers

front: repair timetable height
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: it's aliiiiiive
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/submitConfAddTrainSchedules.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/submitConfUpdateTrainSchedules.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: idToModify to array & typescripting Scenario
  editoast/openapi.yaml
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/submitConf.ts
  front/src/applications/operationalStudies/components/Scenario/AddOrEditScenarioModal.tsx
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

front: updateTrain: add error messages & error control for addtrainsettings
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/TrainAddingSettings.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Owners: @DGEXSolutions/front-maintainers

front: simplify UI of itinerary component
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Destination.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Origin.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Vias.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/index.tsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: switch edit/add works
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/applications/operationalStudies/components/Study/StateStep.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/operationalStudies/views/Scenario.jsx
  front/src/reducers/osrdsimulation/types.ts
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: change text with edit or add
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/Scenario/TimetableManageTrainSchedule.tsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/operationalStudies/views/Scenario.tsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: repair tests
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/__tests__/ChartHelpers.spec.ts
  front/src/reducers/__tests__/osrdconf.spec.ts
Owners: @DGEXSolutions/front-maintainers

front: simplify UI of itinerary component
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Destination.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Origin.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Vias.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/index.tsx
Owners: @DGEXSolutions/front-maintainers

front: Timetable: repair liveries
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/common/RollingStockSelector/RollingStock2Img.tsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: complete all fields is ok
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: refacto UI in progress
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/TrainAddingSettings.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/submitConf.ts
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
Owners: @DGEXSolutions/front-maintainers

front: convert originSpeed to initialSpeed, create departureTime
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Origin.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
  front/src/applications/operationalStudies/components/Scenario/TimetableManageTrainSchedule.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdconf/selectors.ts
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: conditionnal pathfinding
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/index.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
  front/src/applications/operationalStudies/components/Scenario/getTimetable.jsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/common/Pathfinding/Pathfinding.tsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: button does nothing and it's ok
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
Owners: @DGEXSolutions/front-maintainers

front: repair invalid inputsncf mode
  front/src/common/BootstrapSNCF/InputSNCF.tsx
Owners: @DGEXSolutions/front-maintainers

front: permit update from selectSNCF when changing selectedValue
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.jsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: bugfix on updatetrain when trainaddsettings wrong
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/submitConfUpdateTrainSchedules.ts
Owners: @DGEXSolutions/front-maintainers

front: chartHelpers tests fix
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/__tests__/ChartHelpers.spec.ts
Owners: @DGEXSolutions/front-maintainers

front: remove initialSpeed & originTime from Origin (no fort stdcm)
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Origin.tsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: bugfixes & reducer tests correction
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
  front/src/reducers/__tests__/osrdconf.spec.ts
  front/src/utils/physics.ts
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: cosmetic improvements
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayVias.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderPopup.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/TrainAddingSettings.tsx
  front/src/styles/scss/applications/operationalStudies/_managetrainschedule.scss
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: idToModify to array & typescripting Scenario
  editoast/openapi.yaml
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/submitConf.ts
  front/src/applications/operationalStudies/components/Scenario/AddOrEditScenarioModal.tsx
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

front: updateTrain: complete all fields is ok
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: isolate adjustconf for store
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: isolate adjustconf for store
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: remove trainLabel, light ui refacto
  front/src/applications/operationalStudies/components/ManageTrainSchedule/TrainLabels.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/TrainSettings.tsx
  front/src/common/BootstrapSNCF/ChipsSNCF.tsx
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdconf/selectors.ts
  front/src/styles/scss/_overrideBootstrapSNCF.scss
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: bugfixes around pathfinding
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayVias.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/ModalSuggeredVias.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/openapi.yaml
Owners: @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers

front: convert originSpeed to initialSpeed, create departureTime
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Origin.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
  front/src/applications/operationalStudies/components/Scenario/TimetableManageTrainSchedule.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdconf/selectors.ts
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: add error messages & error control for addtrainsettings
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/TrainAddingSettings.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Owners: @DGEXSolutions/front-maintainers

front: typescripting: TrainLabels
  front/src/applications/operationalStudies/components/ManageTrainSchedule/TrainLabels.tsx
Owners: @DGEXSolutions/front-maintainers

front: updateTrain: add livery to timetable
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
  front/src/applications/operationalStudies/components/Scenario/TimetableTrainCard.tsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/assets/pictures/components/noElectricalProfiles.svg
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdsimulation/types.ts
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Owners: @DGEXSolutions/front-maintainers

front: refacto input file component to be more generic
  front/src/applications/customget/Home.jsx
  front/src/applications/customget/components/uploadFileModal.jsx
Owners: @DGEXSolutions/front-maintainers

front: refacto home and projectcard in tsx
  editoast/openapi.yaml
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/applications/operationalStudies/components/Project/PictureUploader.tsx
  front/src/applications/operationalStudies/components/Project/StudyCard.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

front: refacto study in tsx and all connected components
  editoast/openapi.yaml
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/applications/operationalStudies/components/Project/PictureUploader.tsx
  front/src/applications/operationalStudies/components/Project/StudyCard.tsx
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
  front/src/applications/operationalStudies/components/Study/ScenarioCard.tsx
  front/src/applications/operationalStudies/components/Study/StateStep.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/applications/operationalStudies/views/Study.tsx
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

front: refacto study in tsx and all connected components
  editoast/openapi.yaml
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/applications/operationalStudies/components/Project/PictureUploader.tsx
  front/src/applications/operationalStudies/components/Project/StudyCard.tsx
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
  front/src/applications/operationalStudies/components/Study/ScenarioCard.tsx
  front/src/applications/operationalStudies/components/Study/StateStep.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/applications/operationalStudies/views/Study.tsx
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

front: refacto home and projectcard in tsx
  editoast/openapi.yaml
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/applications/operationalStudies/components/Project/PictureUploader.tsx
  front/src/applications/operationalStudies/components/Project/StudyCard.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics
