Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics

Fix comments 2
  editoast/src/infra.rs
  editoast/src/schema/rolling_stock.rs
  editoast/src/views/rolling_stocks.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add endpoint to retrieve a rolling stock
  editoast/openapi.yaml
  editoast/src/infra.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/rolling_stock.rs
  editoast/src/tables.rs
  editoast/src/tests/example_rolling_stock.json
  editoast/src/views/electrical_profiles.rs
  editoast/src/views/mod.rs
  editoast/src/views/rolling_stocks.rs
Owners: @DGEXSolutions/editoast-maintainers

front: SimulationResults: edit allowances div to look button-like with background, bold-weight and cursor pointer
  front/src/applications/operationalStudies/views/SimulationResults.tsx
Owners: @DGEXSolutions/front-maintainers

front: SimulationResults: edit allowances div to look button-like with background, bold-weight and cursor pointer
  front/src/applications/operationalStudies/views/SimulationResults.tsx
Owners: @DGEXSolutions/front-maintainers

editoast:search: fix breaking unwrap for unknown functions
  editoast/src/views/search/context.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: fix breaking unwrap for unknown functions
  editoast/src/views/search/context.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: add function =i
  editoast/src/views/search/process.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast:search: add function =i
  editoast/src/views/search/process.rs
Owners: @DGEXSolutions/editoast-maintainers

front: GEV: edit resetChartToggle() to redraw train then reset rotate
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
Owners: @DGEXSolutions/front-maintainers

front: GEV: edit resetChartToggle() to redraw train then reset rotate
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
Owners: @DGEXSolutions/front-maintainers

enabler for causal simulation: create MaintainEnvelopePartBuilder to compute steady speed envelope parts
  core/src/main/java/fr/sncf/osrd/envelope/part/MaintainEnvelopePartBuilder.java
  core/src/main/java/fr/sncf/osrd/envelope/part/constraints/EnvelopeConstraint.java
  core/src/main/java/fr/sncf/osrd/envelope/part/constraints/EnvelopePartConstraintType.java
  core/src/main/java/fr/sncf/osrd/envelope/part/constraints/SpeedConstraint.java
Owners: @DGEXSolutions/core-maintainers

editoast: electrical profile schema endpoint
  editoast/openapi.yaml
  editoast/src/client/mod.rs
  editoast/src/main.rs
  editoast/src/schema/electrical_profiles.rs
  editoast/src/views/electrical_profiles.rs
  editoast/src/views/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: refactor serialize pagination
  editoast/src/views/pagination.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: electrical profile schema endpoint
  editoast/openapi.yaml
  editoast/src/client/mod.rs
  editoast/src/main.rs
  editoast/src/schema/electrical_profiles.rs
  editoast/src/views/electrical_profiles.rs
  editoast/src/views/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: electrical profile schema endpoint
  editoast/openapi.yaml
  editoast/src/client/mod.rs
  editoast/src/main.rs
  editoast/src/schema/electrical_profiles.rs
  editoast/src/views/electrical_profiles.rs
  editoast/src/views/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: refactor serialize pagination
  editoast/src/views/pagination.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: refactor serialize pagination
  editoast/src/views/pagination.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add projects operations
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/projects.rs
  editoast/src/tables.rs
Owners: @DGEXSolutions/editoast-maintainers

api: adapt projects to use documents
  python/api/osrd_infra/migrations/0014_remove_project_image_project_image_id.py
  python/api/osrd_infra/models/study.py
Owners: @DGEXSolutions/editoast-maintainers

editoast: move service url to a simple env var
  editoast/src/client/mod.rs
  editoast/src/documents.rs
  editoast/src/main.rs
  editoast/src/views/documents.rs
  editoast/src/views/layers/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add project view
  editoast/openapi.yaml
  editoast/src/views/mod.rs
  editoast/src/views/pagination.rs
  editoast/src/views/projects.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: fix rolling stocks clippy warning
  editoast/src/schema/rolling_stock.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: fix rolling stocks clippy warning
  editoast/src/schema/rolling_stock.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: fix rolling stocks clippy warning
  editoast/src/schema/rolling_stock.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast : refactor electrical_profiles strcutures to restrain fields
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/schema/electrical_profiles.rs
  editoast/src/views/electrical_profiles.rs
Owners: @DGEXSolutions/editoast-maintainers

remove handleSymbol
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
Owners: @DGEXSolutions/front-maintainers

core: add missing / to railjson endpoint url
  core/src/main/java/fr/sncf/osrd/api/InfraManager.java
Owners: @DGEXSolutions/core-maintainers

editoast : refactor electrical_profiles strcutures to restrain fields
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/schema/electrical_profiles.rs
  editoast/src/views/electrical_profiles.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast : refactor electrical_profiles strcutures to restrain fields
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/schema/electrical_profiles.rs
  editoast/src/views/electrical_profiles.rs
Owners: @DGEXSolutions/editoast-maintainers

front: create useModal hook
  front/src/applications/customget/Home.jsx
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/components/InfraErrors/InfraErrorsModal.tsx
  front/src/applications/editor/components/InfraSelectionModal.tsx
  front/src/applications/editor/components/LayersModal.tsx
  front/src/applications/editor/components/LinearMetadata/FormComponent.tsx
  front/src/applications/editor/components/LinearMetadata/HelpModal.tsx
  front/src/applications/operationalStudies/components/Home/ProjectCardEmpty.tsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleTrainsList.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Vias.tsx
  front/src/applications/operationalStudies/components/Project/StudyCardEmpty.tsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/Allowances.jsx
  front/src/applications/operationalStudies/components/Study/ScenarioCardEmpty.tsx
  front/src/applications/operationalStudies/views/Project.jsx
  front/src/applications/operationalStudies/views/Scenario.jsx
  front/src/applications/operationalStudies/views/Study.jsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalProvider.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/index.ts
  front/src/common/BootstrapSNCF/ModalSNCF/useModal.tsx
  front/src/common/BootstrapSNCF/NavBarSNCF.jsx
  front/src/common/InfraSelector/InfraSelector.jsx
  front/src/common/Map/Buttons/ButtonMapInfras.jsx
  front/src/common/Pathfinding/Pathfinding.tsx
  front/src/common/RollingStockSelector/RollingStockSelector.jsx
  front/src/common/ScenarioExplorator/ScenarioExplorator.tsx
Owners: @DGEXSolutions/front-maintainers

front: add browser env to eslint
  front/.eslintrc
Owners: @DGEXSolutions/front-maintainers

front: using RTK for get infra on reference map
  front/src/applications/referenceMap/Home.jsx
  front/src/applications/referenceMap/Home.tsx
  front/src/common/api/emptyApi.ts
Owners: @DGEXSolutions/front-maintainers

editor: using application modal system
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/Home.tsx
  front/src/applications/editor/components/ConfirmModal.tsx
  front/src/applications/editor/components/InfraErrors/InfraErrorsList.tsx
  front/src/applications/editor/components/InfraErrors/InfraErrorsModal.tsx
  front/src/applications/editor/components/InfraSelectionModal.tsx
  front/src/applications/editor/components/LayersModal.tsx
  front/src/applications/editor/components/LinearMetadata/FormComponent.tsx
  front/src/applications/editor/components/LinearMetadata/HelpModal.tsx
  front/src/applications/editor/components/Modal.tsx
  front/src/applications/editor/nav.tsx
  front/src/applications/editor/tools/routeEdition/components/EditRouteMetadata.tsx
  front/src/applications/editor/tools/selection/tool.tsx
  front/src/applications/editor/tools/types.ts
  front/src/common/BootstrapSNCF/ModalSNCF/ConfirmModal.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/Modal.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalBodySNCF.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalFooterSNCF.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalHeaderSNCF.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalProvider.tsx
  front/src/main/app.jsx
Owners: @DGEXSolutions/front-maintainers

front: test assertion with jest
  front/src/applications/editor/components/LinearMetadata/data.test.ts
Owners: @DGEXSolutions/front-maintainers

front: migrate modal to typescript
  front/src/common/BootstrapSNCF/ModalSNCF/ModalBodySNCF.jsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalBodySNCF.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalFooterSNCF.jsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalFooterSNCF.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalHeaderSNCF.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalProvider.jsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalProvider.tsx
Owners: @DGEXSolutions/front-maintainers

core: add missing / to railjson endpoint url
  core/src/main/java/fr/sncf/osrd/api/InfraManager.java
Owners: @DGEXSolutions/core-maintainers

core: add missing / to railjson endpoint url
  core/src/main/java/fr/sncf/osrd/api/InfraManager.java
Owners: @DGEXSolutions/core-maintainers

add new class EnvelopeMaintain to compute constant speed parts, and update integrator
  core/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/src/main/java/fr/sncf/osrd/envelope_sim/overlays/EnvelopeMaintain.java
Owners: @DGEXSolutions/physics, @DGEXSolutions/core-maintainers

front: use no break spaces constants
  front/src/utils/__tests__/numbers.spec.ts
  front/src/utils/strings.ts
Owners: @DGEXSolutions/front-maintainers

wip make sim causal
  core/src/main/java/fr/sncf/osrd/envelope/EnvelopeCursor.java
  core/src/main/java/fr/sncf/osrd/envelope/EnvelopePoint.java
  core/src/main/java/fr/sncf/osrd/envelope_sim/pipelines/MaxEffortEnvelope.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
Owners: @DGEXSolutions/core-maintainers
