Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DGEXSolutions/osrd-backend-maintainers, @flomonster, @multun, @eckter, @DGEXSolutions/osrd-physics, @pguenezan, @theophanevie

.github/CODEOWNERS:

CODEOWNERS        @DGEXSolutions/osrd-backend-maintainers

/specifications   @flomonster

# java stuff
/src/main/java/fr/sncf/osrd/api               @flomonster
/src/main/java/fr/sncf/osrd/cbtc              @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/cli               @multun
/src/main/java/fr/sncf/osrd/config            @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/infra             @multun
/src/main/java/fr/sncf/osrd/infra_state       @multun
/src/main/java/fr/sncf/osrd/railjson          @flomonster @multun @eckter
/src/main/java/fr/sncf/osrd/railml            @flomonster @multun
/src/main/java/fr/sncf/osrd/simulation        @multun
/src/main/java/fr/sncf/osrd/speedcontroller   @eckter
/src/main/java/fr/sncf/osrd/train             @eckter @multun
/src/main/java/fr/sncf/osrd/utils             @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/DebugViewer.java  @DGEXSolutions/osrd-backend-maintainers
*Physics*.java                                @DGEXSolutions/osrd-physics
*Integrator*.java                             @DGEXSolutions/osrd-physics

# buildsystem stuff
/*.gradle         @multun
/gradle           @multun
/config           @multun
/README.md        @multun
/.gitlab-ci.yml   @pguenezan @theophanevie @multun
/Dockerfile       @pguenezan @theophanevie @multun
/chart            @pguenezan @theophanevie
/chart/templates/apidefinition.yaml  @flomonster

refactor: move RollingStock and example generator
  examples/generator/README.md
  examples/generator/libgen.py
  src/main/java/fr/sncf/osrd/config/Config.java
  src/main/java/fr/sncf/osrd/infra/SpeedSection.java
  src/main/java/fr/sncf/osrd/railjson/parser/RJSRollingStockParser.java
  src/main/java/fr/sncf/osrd/railjson/parser/RJSSimulationParser.java
  src/main/java/fr/sncf/osrd/railjson/parser/RJSTrainScheduleParser.java
  src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/ConstructionAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/MarecoAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/MaxSpeedGenerator.java
  src/main/java/fr/sncf/osrd/train/RollingStock.java
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
  src/main/java/fr/sncf/osrd/train/TrainSchedule.java
  src/test/java/fr/sncf/osrd/TestConfig.java
  src/test/java/fr/sncf/osrd/train/TestTrains.java
Owners: @DGEXSolutions/osrd-backend-maintainers, @multun, @flomonster, @eckter, @DGEXSolutions/osrd-physics

global: corrected for new format of simulation data with margins
  src/applications/osrd/components/Helpers/ChartHelpers.js
  src/applications/osrd/components/Simulation/ChartModal.js
  src/applications/osrd/components/Simulation/enableInteractivity.js
  src/applications/osrd/components/TimeLine/TimeLine.js
  src/applications/osrd/views/OSRDSimulation/Map.js
  src/applications/osrd/views/OSRDSimulation/OSRDSimulation.js
  src/applications/osrd/views/OSRDSimulation/SpaceTimeChart.js
  src/applications/osrd/views/OSRDSimulation/SpeedSpaceChart.js
  src/applications/osrd/views/OSRDSimulation/TimeTable.js
  src/applications/osrd/views/OSRDSimulation/TrainList.js
Owners: none

refactor: move RollingStock and example generator
  examples/generator/README.md
  examples/generator/libgen.py
  src/main/java/fr/sncf/osrd/config/Config.java
  src/main/java/fr/sncf/osrd/infra/SpeedSection.java
  src/main/java/fr/sncf/osrd/railjson/parser/RJSRollingStockParser.java
  src/main/java/fr/sncf/osrd/railjson/parser/RJSSimulationParser.java
  src/main/java/fr/sncf/osrd/railjson/parser/RJSTrainScheduleParser.java
  src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/ConstructionAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/MarecoAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/MaxSpeedGenerator.java
  src/main/java/fr/sncf/osrd/train/RollingStock.java
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
  src/main/java/fr/sncf/osrd/train/TrainSchedule.java
  src/test/java/fr/sncf/osrd/TestConfig.java
  src/test/java/fr/sncf/osrd/train/TestTrains.java
Owners: @DGEXSolutions/osrd-backend-maintainers, @multun, @flomonster, @eckter, @DGEXSolutions/osrd-physics

refactor: move RollingStock and example generator
  examples/generator/README.md
  examples/generator/libgen.py
  src/main/java/fr/sncf/osrd/config/Config.java
  src/main/java/fr/sncf/osrd/infra/SpeedSection.java
  src/main/java/fr/sncf/osrd/railjson/parser/RJSRollingStockParser.java
  src/main/java/fr/sncf/osrd/railjson/parser/RJSSimulationParser.java
  src/main/java/fr/sncf/osrd/railjson/parser/RJSTrainScheduleParser.java
  src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/ConstructionAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/MarecoAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/MaxSpeedGenerator.java
  src/main/java/fr/sncf/osrd/train/RollingStock.java
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
  src/main/java/fr/sncf/osrd/train/TrainSchedule.java
  src/test/java/fr/sncf/osrd/TestConfig.java
  src/test/java/fr/sncf/osrd/train/TestTrains.java
Owners: @DGEXSolutions/osrd-backend-maintainers, @multun, @flomonster, @eckter, @DGEXSolutions/osrd-physics

build: treat checkstyle warnings as fatal
  build.gradle
Owners: @multun

build: treat checkstyle warnings as fatal
  build.gradle
Owners: @multun

build: treat checkstyle warnings as fatal
  build.gradle
Owners: @multun

test
  src/main/java/fr/sncf/osrd/railjson/parser/RailJSONParser.java
Owners: @flomonster, @multun, @eckter
