Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @osrd-project/front-maintainers, @osrd-project/editoast-maintainers, @eckter, @osrd-project/core-maintainers, @osrd-project/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @osrd-project/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @osrd-project/editoast-maintainers
/editoast/openapi.yaml
/chartos                                                 @osrd-project/editoast-maintainers
/python                                                  @osrd-project/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @osrd-project/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @osrd-project/physics
*Integration*.java                                       @osrd-project/physics

editoast: check rolling stock usage
  editoast/src/fixtures.rs
  editoast/src/main.rs
  editoast/src/models/electrical_profile.rs
  editoast/src/models/mod.rs
  editoast/src/models/pathfinding.rs
  editoast/src/models/projects.rs
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/models/timetable.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tests/electrical_profile_set.json
  editoast/src/tests/pathmodel.json
  editoast/src/tests/train_schedule.json
  editoast/src/views/electrical_profiles.rs
  editoast/src/views/rolling_stocks.rs
  editoast/src/views/train_schedule/mod.rs
Owners: @osrd-project/editoast-maintainers

editoast: delete rolling stock only if it is not used
  editoast/src/fixtures.rs
  editoast/src/models/electrical_profile.rs
  editoast/src/models/pathfinding.rs
  editoast/src/models/projects.rs
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tests/pathmodel.json
  editoast/src/views/electrical_profiles.rs
  editoast/src/views/rolling_stocks/mod.rs
  editoast/src/views/rolling_stocks/sql/get_train_schedules_with_scenario.sql
Owners: @osrd-project/editoast-maintainers

editoast: forcefully delete used rolling stock
  editoast/src/views/rolling_stocks/mod.rs
  tests/conftest.py
Owners: @osrd-project/editoast-maintainers, @eckter

editoast: delete rolling stock only if it is not used
  editoast/src/fixtures.rs
  editoast/src/models/electrical_profile.rs
  editoast/src/models/pathfinding.rs
  editoast/src/models/projects.rs
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tests/pathmodel.json
  editoast/src/views/electrical_profiles.rs
  editoast/src/views/rolling_stocks/mod.rs
  editoast/src/views/rolling_stocks/sql/get_train_schedules_with_scenario.sql
Owners: @osrd-project/editoast-maintainers

editoast: update delete rolling stock openApi
  editoast/openapi.yaml
  editoast/src/views/rolling_stocks/mod.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/editoast-maintainers

core: add scheduled point behavior
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
Owners: @osrd-project/core-maintainers

core: add scheduled points to the simulation endpoint
  core/openapi.yaml
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSSchedulePoint.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSStandaloneTrainSchedule.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/cli/StandaloneSimulationCommand.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSStandaloneTrainScheduleParser.java
  core/src/main/java/fr/sncf/osrd/train/ScheduledPoint.java
  core/src/main/java/fr/sncf/osrd/train/StandaloneTrainSchedule.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractorTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMHelpers.java
Owners: @osrd-project/core-maintainers

editoast: adapt editoast to handle scheduled points
  editoast/openapi.yaml
  editoast/src/models/train_schedule.rs
  editoast/src/tables.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/editoast-maintainers

core: add scheduled point behavior
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
Owners: @osrd-project/core-maintainers

core: add tests for scheduled points
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSStandaloneTrainSchedule.java
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/StandaloneSimTests.java
Owners: @osrd-project/core-maintainers

api: add scheduled points to the train schedule model
  python/api/osrd_infra/migrations/0035_trainschedule_scheduled_points.py
  python/api/osrd_infra/models/train_schedule.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
  python/api/osrd_infra/views/train_schedule/train_schedule.py
  python/api/poetry.lock
  python/osrd_schemas/osrd_schemas/train_schedule.py
  python/osrd_schemas/poetry.lock
  python/osrd_schemas/pyproject.toml
Owners: @osrd-project/editoast-maintainers

core: add scheduled points to the simulation endpoint
  core/openapi.yaml
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSSchedulePoint.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSStandaloneTrainSchedule.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/cli/StandaloneSimulationCommand.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSStandaloneTrainScheduleParser.java
  core/src/main/java/fr/sncf/osrd/train/ScheduledPoint.java
  core/src/main/java/fr/sncf/osrd/train/StandaloneTrainSchedule.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractorTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMHelpers.java
Owners: @osrd-project/core-maintainers

editoast: adapt editoast to handle scheduled points
  editoast/openapi.yaml
  editoast/src/models/train_schedule.rs
  editoast/src/tables.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/editoast-maintainers

api: add scheduled points to the train schedule model
  python/api/osrd_infra/migrations/0035_trainschedule_scheduled_points.py
  python/api/osrd_infra/models/train_schedule.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
  python/api/osrd_infra/views/train_schedule/train_schedule.py
  python/api/poetry.lock
  python/osrd_schemas/osrd_schemas/train_schedule.py
  python/osrd_schemas/poetry.lock
  python/osrd_schemas/pyproject.toml
Owners: @osrd-project/editoast-maintainers

core: add tests for scheduled points
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSStandaloneTrainSchedule.java
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/StandaloneSimTests.java
Owners: @osrd-project/core-maintainers

editoast: osm-to-railjson: factorize getting track+position from node
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
Owners: @osrd-project/editoast-maintainers

editoast: osm-to-railjson: read operational points (stations)
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
  editoast/src/schema/mod.rs
  editoast/src/tests/station.osm.pbf
Owners: @osrd-project/editoast-maintainers

editoast: osm-to-railjson: read operational points (stations)
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
  editoast/src/schema/mod.rs
  editoast/src/tests/station.osm.pbf
Owners: @osrd-project/editoast-maintainers

editoast: osm-to-railjson: factorize getting track+position from node
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
Owners: @osrd-project/editoast-maintainers

core: kt-infra: add missing data and matching path methods
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadingGaugeConstraint.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/Path.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/PathImpl.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeMapImpl.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeSet.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeSetImpl.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/units/Speed.kt
  core/kt-osrd-utils/src/test/kotlin/fr/sncf/osrd/utils/TestDistanceRangeMap.kt
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSCatenary.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSCurve.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/LoadingGaugeConstraint.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/SpeedLimits.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/TrackEdge.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/directed/TrackRangeView.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/LoadingGaugeConstraintImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/SwitchBranchImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/TrackSectionImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/UndirectedInfraBuilder.java
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/PathTests.kt
Owners: @osrd-project/core-maintainers

core: move LineString into its own module
  core/build.gradle
  core/kt-osrd-sim-infra/build.gradle
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/Path.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/PathImpl.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/osrd-geom/build.gradle
  core/osrd-geom/src/main/java/fr/sncf/osrd/geom/LineString.java
  core/osrd-geom/src/main/java/fr/sncf/osrd/geom/Point.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/geom/Point.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/geom/RJSLineString.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSInfra.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSTrackSection.java
  core/osrd-railjson/src/test/java/fr/sncf/osrd/utils/geom/LineStringTest.java
  core/osrd-railjson/src/test/java/fr/sncf/osrd/utils/geom/PointTest.java
  core/settings.gradle
  core/src/main/java/fr/sncf/osrd/api/pathfinding/GeomUtils.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/RemainingDistanceEstimator.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/response/PathfindingResult.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMResponse.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/SwitchBranch.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/TrackEdge.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/directed/TrackRangeView.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/TrackSectionImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/UndirectedInfraBuilder.java
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/PathTests.kt
Owners: @osrd-project/core-maintainers

core: kt-infra: remove loading gauge rjs depencency
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadingGaugeConstraint.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/indexing/StaticIdx.kt
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/LoadingGaugeConstraints.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/LoadingGaugeConstraintImpl.java
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/PathTests.kt
Owners: @osrd-project/core-maintainers

front: OptionsSNCF to tsx
  front/src/common/BootstrapSNCF/OptionsSNCF.jsx
  front/src/common/BootstrapSNCF/OptionsSNCF.tsx
Owners: @osrd-project/front-maintainers

front: InputGroupSNCF: add typeValue, isInvalid, min, max
  front/src/common/BootstrapSNCF/InputGroupSNCF.tsx
Owners: @osrd-project/front-maintainers

front: newAllowances: first step, add lines & cosmetics
  front/public/locales/fr/operationalStudies/allowances.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/Allowances.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/EngineeringAddLine.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/StandardAddLine.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Allowances/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/styles/scss/applications/_operationalStudies.scss
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
  front/src/styles/scss/applications/operationalStudies/components/_Allowances.scss
Owners: @osrd-project/front-maintainers

front: switchSNCF: typescript
  front/src/common/BootstrapSNCF/SwitchSNCF/SwitchSNCF.jsx
  front/src/common/BootstrapSNCF/SwitchSNCF/SwitchSNCF.scss
  front/src/common/BootstrapSNCF/SwitchSNCF/SwitchSNCF.tsx
Owners: @osrd-project/front-maintainers

front: inputSNCF: add appendOption with group & sm
  front/src/common/BootstrapSNCF/InputGroupSNCF.scss
  front/src/common/BootstrapSNCF/InputSNCF.tsx
Owners: @osrd-project/front-maintainers

front: InputGroupSNCF: typescript & correct parents
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/EmptyLine.tsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/StandardAllowanceDefault.tsx
  front/src/common/BootstrapSNCF/InputGroupSNCF.jsx
  front/src/common/BootstrapSNCF/InputGroupSNCF.tsx
Owners: @osrd-project/front-maintainers

front: tabs: add fullheight property to Tabs
  front/src/common/Tabs.tsx
  front/src/styles/scss/_body.scss
  front/src/styles/scss/common/components/_tabs.scss
Owners: @osrd-project/front-maintainers

editoast: set scheduled points optional
  editoast/src/models/train_schedule.rs
Owners: @osrd-project/editoast-maintainers

progress
  front/src/applications/rollingStockEditor/components/RollingStockEditorCurves.tsx
  front/src/common/RollingStockSelector/RollingStockCardDetail.tsx
  front/src/styles/scss/applications/rollingStockEditor/_rollingStockForm.scss
Owners: @osrd-project/front-maintainers

editoast: set scheduled points optional
  editoast/src/models/train_schedule.rs
Owners: @osrd-project/editoast-maintainers

editoast: set scheduled points optional
  editoast/src/models/train_schedule.rs
Owners: @osrd-project/editoast-maintainers

front: use enhanced endpoint to filter light rolling stock
  editoast/openapi.yaml
  front/src/applications/operationalStudies/views/ImportTrainSchedule.tsx
  front/src/applications/rollingStockEditor/Home.tsx
  front/src/common/RollingStockSelector/RollingStockModal.tsx
  front/src/common/api/enhancedEditoastApi.ts
  front/src/common/api/osrdEditoastApi.ts
Owners: @osrd-project/front-maintainers

front: fix e2e tests: update search in RollingStockModal only if rollingStocks is not empty
  front/src/common/RollingStockSelector/RollingStockModal.tsx
Owners: @osrd-project/front-maintainers

migrate GET /projects/study_states to RTK
  editoast/openapi.yaml
  front/public/locales/fr/operationalStudies/study.json
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
  front/src/applications/operationalStudies/components/Study/StateStep.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/applications/operationalStudies/views/Study.tsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/config/openapi-editoast-config.ts
Owners: @osrd-project/front-maintainers

migrate GET /projects/study_states to RTK
  editoast/openapi.yaml
  front/public/locales/fr/operationalStudies/study.json
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
  front/src/applications/operationalStudies/components/Study/StateStep.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/applications/operationalStudies/views/Study.tsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/config/openapi-editoast-config.ts
Owners: @osrd-project/front-maintainers

migrate GET /projects/study_states to RTK
  editoast/openapi.yaml
  front/public/locales/fr/operationalStudies/study.json
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
  front/src/applications/operationalStudies/components/Study/StateStep.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/applications/operationalStudies/views/Study.tsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/config/openapi-editoast-config.ts
Owners: @osrd-project/front-maintainers

core: kt-infra: add missing data and matching path methods
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadingGaugeConstraint.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/Path.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/PathImpl.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeMapImpl.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeSet.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeSetImpl.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/units/Speed.kt
  core/kt-osrd-utils/src/test/kotlin/fr/sncf/osrd/utils/TestDistanceRangeMap.kt
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSCatenary.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSCurve.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/LoadingGaugeConstraint.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/SpeedLimits.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/TrackEdge.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/directed/TrackRangeView.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/LoadingGaugeConstraintImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/SwitchBranchImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/TrackSectionImpl.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/UndirectedInfraBuilder.java
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/PathTests.kt
Owners: @osrd-project/core-maintainers

core: kt-infra: remove loading gauge rjs depencency
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadingGaugeConstraint.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/indexing/StaticIdx.kt
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/LoadingGaugeConstraints.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/LoadingGaugeConstraintImpl.java
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/PathTests.kt
Owners: @osrd-project/core-maintainers
