Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

front: add suffix _id to scenario's timetable, infra, electrical_profil_set
  front/src/applications/operationalStudies/components/Scenario/AddOrEditScenarioModal.tsx
  front/src/applications/operationalStudies/components/operationalStudiesTypes.ts
  front/src/applications/operationalStudies/views/Scenario.jsx
  front/src/common/ScenarioExplorator/ScenarioExplorator.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorModalScenarioMiniCard.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: api: fix study date type and fix electrical_profile patch field
  editoast/src/models/study.rs
  editoast/src/tables.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
  python/api/osrd_infra/migrations/0022_alter_study_actual_end_date_and_more.py
  python/api/osrd_infra/models/study.py
  tests/conftest.py
  tests/tests/test_scenario.py
  tests/tests/test_stdcm.py
  tests/tests/utils/timetable.py
Owners: @DGEXSolutions/editoast-maintainers, @eckter

front: tests: make e2e tests work when running on a dirty env
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/applications/operationalStudies/components/Project/StudyCard.tsx
  front/src/applications/operationalStudies/components/Study/ScenarioCard.tsx
  front/tests/operational-studies.spec.ts
  front/tests/stdcm-page.spec.ts
  tests/conftest.py
  tests/tests/test_e2e.py
  tests/tests/test_scenario.py
  tests/tests/utils/timetable.py
Owners: @DGEXSolutions/front-maintainers, @eckter

stdcm: edges don't go further than the stop
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/part/EnvelopePart.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/pipelines/MaxSpeedEnvelope.java
  core/src/main/java/fr/sncf/osrd/infra_state/implementation/TrainPathBuilder.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/DelayManager.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMEdgeBuilder.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMSimulations.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMStandardAllowance.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMUtils.java
  core/src/test/java/fr/sncf/osrd/stdcm/BacktrackingTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/DepartureTimeShiftTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/EngineeringAllowanceTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMHelpers.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMPathfindingTests.java
Owners: @DGEXSolutions/core-maintainers

core: fix envelope discontinuity when computing accelerations
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/pipelines/MaxEffortEnvelope.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/MaxEffortEnvelopeTest.java
Owners: @DGEXSolutions/core-maintainers

core: fix envelope discontinuity when computing accelerations
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/pipelines/MaxEffortEnvelope.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/MaxEffortEnvelopeTest.java
Owners: @DGEXSolutions/core-maintainers

wip add explanation for power allocation step
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
Owners: @DGEXSolutions/physics

wip tractionforce is now dependent on power available
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
Owners: @DGEXSolutions/physics

wip adding QUALESI sim parameter - a little update
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
Owners: @DGEXSolutions/physics, @DGEXSolutions/core-maintainers

wip adding QUALESI sim parameter in RJSRollingStock.java to enable simulation modification
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
Owners: @DGEXSolutions/core-maintainers

wip refacto quicksave
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
Owners: @DGEXSolutions/core-maintainers

up to date qualesi sim
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
Owners: @DGEXSolutions/physics, @DGEXSolutions/core-maintainers

wip small fixes
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
Owners: @DGEXSolutions/physics

wip Here the SoC should change with time - but problem with accounting for recharge power
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
Owners: @DGEXSolutions/physics, @DGEXSolutions/core-maintainers

create new classes
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/Utils.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/EnergySource.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/EnergySourceType.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/PowerConverter.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/SpeedDependantPowerCoefficient.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/storage/EnergyStorage.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/storage/ManagementSystem.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/storage/RefillLaw.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/storage/SocDependantPowerCoefficient.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
Owners: @DGEXSolutions/core-maintainers

wip keep cleaning things
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimContext.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/PhysicsPath.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/PhysicsRollingStock.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/Battery.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/Catenary.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/EnergySourceType.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/PowerPack.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/storage/RefillLaw.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/SimpleRollingStock.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSRollingStockParser.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
  core/src/test/java/fr/sncf/osrd/train/TestTrains.java
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

convert EnergySource to an interface and create 3 energy sources
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/Battery.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/Catenary.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/EnergySource.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/PowerPack.java
Owners: @DGEXSolutions/core-maintainers

create powerpack with specific values
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/PowerPack.java
Owners: @DGEXSolutions/core-maintainers

delete PowerConverter and replace it with constant efficiency values
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/PhysicsRollingStock.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/Battery.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/Catenary.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/PowerConverter.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/storage/SocDependantPowerCoefficient.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/SimpleRollingStock.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
Owners: @DGEXSolutions/physics, @DGEXSolutions/core-maintainers

create new method updateEnergyStroages in PhysicsRollingStock
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/PhysicsRollingStock.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/SimpleRollingStock.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
Owners: @DGEXSolutions/physics, @DGEXSolutions/core-maintainers

transfer electrification to relevent methods
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/PhysicsRollingStock.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/Battery.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/Catenary.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/EnergySource.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/PowerPack.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/SimpleRollingStock.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
Owners: @DGEXSolutions/physics, @DGEXSolutions/core-maintainers

remove ManagementSystem.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/Battery.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/Catenary.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/PowerPack.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/storage/EnergyStorage.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/storage/ManagementSystem.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/storage/RefillLaw.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/storage/SocDependantPowerCoefficient.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/SimpleRollingStock.java
Owners: @DGEXSolutions/core-maintainers

improve updateEnergyStorage
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/PhysicsRollingStock.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/Battery.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/Catenary.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/EnergySource.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/PowerPack.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSRollingStockParser.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
Owners: @DGEXSolutions/physics, @DGEXSolutions/core-maintainers

remove SocDependantPowerCoefficient.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/Battery.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/Catenary.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/PowerPack.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/storage/EnergyStorage.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/storage/SocDependantPowerCoefficient.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
Owners: @DGEXSolutions/core-maintainers

remove clamp method
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/Battery.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/Catenary.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/EnergySource.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/PowerPack.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/storage/EnergyStorage.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
Owners: @DGEXSolutions/core-maintainers

implement a decent updateEnergyStorages method
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/Battery.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/Catenary.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/EnergySource.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/PowerPack.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/storage/EnergyStorage.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
Owners: @DGEXSolutions/core-maintainers

order the energySources by priority
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/Battery.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/Catenary.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/EnergySource.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/PowerPack.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/storage/EnergyStorage.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
  core/src/test/java/fr/sncf/osrd/train/TestTrains.java
Owners: @DGEXSolutions/core-maintainers

adapt parsers
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/Battery.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/Catenary.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/EnergySource.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/PowerPack.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/SpeedDependantPower.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/SpeedDependantPowerCoefficient.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_utils/CurveUtils.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSEnergySourceType.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSEnergySources.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSEnergyStorage.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRefillLaw.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSSpeedDependantPower.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSSpeedDependantPowerCoefficient.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSRollingStockParser.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
Owners: @DGEXSolutions/core-maintainers

add a bunch of RJS classes
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimContext.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/PhysicsRollingStock.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/Utils.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/Battery.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/Catenary.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/SpeedDependantPowerCoefficient.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/power/storage/EnergyStorage.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_utils/CurveUtils.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_utils/Point2d.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/SimpleRollingStock.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSEnergySources.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSEnergyStorage.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRefillLaw.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSSpeedDependantPowerCoefficient.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSRollingStockParser.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

editoast: add DELETE /pathfinding/{id}
  editoast/Cargo.toml
  editoast/diesel.toml
  editoast/src/models/mod.rs
  editoast/src/models/pathfinding.rs
  editoast/src/views/pathfinding.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add DELETE /pathfinding/{id}
  editoast/Cargo.toml
  editoast/diesel.toml
  editoast/src/models/mod.rs
  editoast/src/models/pathfinding.rs
  editoast/src/views/pathfinding.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add osrd_infra_pathmodel and GET /pathfinding/{id}
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/diesel.toml
  editoast/src/models/mod.rs
  editoast/src/models/pathfinding.rs
  editoast/src/schema/track_section.rs
  editoast/src/tables.rs
  editoast/src/views/mod.rs
  editoast/src/views/pathfinding.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add DELETE /pathfinding/{id}
  editoast/Cargo.toml
  editoast/diesel.toml
  editoast/src/models/mod.rs
  editoast/src/models/pathfinding.rs
  editoast/src/views/pathfinding.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add osrd_infra_pathmodel and GET /pathfinding/{id}
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/diesel.toml
  editoast/src/models/mod.rs
  editoast/src/models/pathfinding.rs
  editoast/src/schema/track_section.rs
  editoast/src/tables.rs
  editoast/src/views/mod.rs
  editoast/src/views/pathfinding.rs
Owners: @DGEXSolutions/editoast-maintainers

front: MapSearchSignal: change from jsx to tsx. MultiSelectSNCF: create componant.
  front/src/common/BootstrapSNCF/MultiSelectSNCF.tsx
  front/src/common/Map/Search/MapSearch.jsx
  front/src/common/Map/Search/MapSearchSignal.jsx
  front/src/common/Map/Search/MapSearchSignal.tsx
  front/src/common/Map/Search/searchTypes.ts
  front/src/reducers/map/index.ts
Owners: @DGEXSolutions/front-maintainers

front: Fix comment
  front/public/locales/fr/map-search.json
  front/src/common/BootstrapSNCF/MultiSelectSNCF.tsx
  front/src/common/Map/Search/MapSearchSignal.tsx
  front/src/common/Map/Search/MapSearchStation.jsx
  front/src/common/Map/const.ts
Owners: @DGEXSolutions/front-maintainers

front: Fix comment and and translation
  front/public/locales/en/map-search.json
  front/src/common/Map/Search/MapSearchSignal.tsx
  front/src/common/Map/Search/MapSearchStation.jsx
  front/src/common/Map/utils.ts
Owners: @DGEXSolutions/front-maintainers

front: Fix commentsPR
  front/public/locales/fr/map-search.json
  front/src/common/BootstrapSNCF/MultiSelectSNCF.tsx
  front/src/common/Map/Search/MapSearchSignal.tsx
  front/src/common/Map/utils.ts
Owners: @DGEXSolutions/front-maintainers

front: MapSearchSignal: create and use SignalCard, adapt the componant to the editoast response
  front/src/common/BootstrapSNCF/MultiSelectSNCF.tsx
  front/src/common/Map/Map.scss
  front/src/common/Map/Search/MapSearchSignal.tsx
  front/src/common/Map/Search/SignalCard.tsx
  front/src/common/Map/Search/searchTypes.ts
  front/src/common/Map/const.ts
Owners: @DGEXSolutions/front-maintainers

editoast: Add project fixture
  editoast/src/fixtures.rs
  editoast/src/models/projects.rs
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
Owners: @DGEXSolutions/editoast-maintainers

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics
