Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DGEXSolutions/osrd-backend-maintainers, @flomonster, @multun, @bgiuliana, @eckter, @DGEXSolutions/osrd-physics, @pguenezan, @theophanevie

margins: fix backward simulations and edge cases
  src/main/java/fr/sncf/osrd/speedcontroller/generators/ConstructionAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/SpeedControllerGenerator.java
  src/main/java/fr/sncf/osrd/train/TrackSectionRange.java
  src/main/java/fr/sncf/osrd/train/TrainPath.java
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
  src/main/java/fr/sncf/osrd/train/TrainPositionTracker.java
  src/main/java/fr/sncf/osrd/train/TrainState.java
  src/test/java/fr/sncf/osrd/RunExamplesTest.java
  src/test/java/fr/sncf/osrd/infra_state/RouteStateTest.java
Owners: @eckter, @DGEXSolutions/osrd-backend-maintainers, @multun, @DGEXSolutions/osrd-physics

physics: allowance bugfixes
  src/main/java/fr/sncf/osrd/speedcontroller/generators/ConstructionAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/SpeedControllerGenerator.java
  src/main/java/fr/sncf/osrd/train/TrainPositionTracker.java
Owners: @eckter, @DGEXSolutions/osrd-backend-maintainers, @multun

integration: fix max distance for backward steps
  src/main/java/fr/sncf/osrd/speedcontroller/generators/ConstructionAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
Owners: @eckter, @DGEXSolutions/osrd-backend-maintainers, @DGEXSolutions/osrd-physics

physics: prevent coasting when speed = 0
  src/main/java/fr/sncf/osrd/train/TrainPhysicsIntegrator.java
Owners: @DGEXSolutions/osrd-physics

train_schedule: fix margin api
  osrd_infra/views/simulation_log.py
Owners: none

interactive: send simulation result at the end of the sim
  src/main/java/fr/sncf/osrd/api/SimulationEndpoint.java
  src/main/java/fr/sncf/osrd/interactive/InteractiveSimulation.java
  src/main/java/fr/sncf/osrd/interactive/ServerMessage.java
  src/python_interactive_client/osrd_interactive.py
Owners: @flomonster, @DGEXSolutions/osrd-backend-maintainers, @multun

tests: add tests for reference times
  src/test/java/fr/sncf/osrd/speedcontroller/SpeedInstructionsTests.java
Owners: none

interactive: improve python library to get and use ref times
  src/python_interactive_client/osrd_interactive.py
  src/python_interactive_client/test.py
Owners: @flomonster, @multun

rjs: add a way to input reference times
  src/main/java/fr/sncf/osrd/railjson/parser/RJSTrainScheduleParser.java
  src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSTrainSchedule.java
  src/main/java/fr/sncf/osrd/speedcontroller/SpeedInstructions.java
  src/test/java/fr/sncf/osrd/train/ReservationsTests.java
Owners: @DGEXSolutions/osrd-backend-maintainers, @eckter

margins: eco added
  public/locales/fr/margins.json
  src/applications/osrd/views/OSRDSimulation/Margins.js
  src/applications/osrd/views/OSRDSimulation/SpaceTimeChart.js
Owners: none

allowances: change unit in distance allowance (s/100km -> min/100km)
  src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSAllowance.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/LinearAllowanceGenerator.java
  src/test/java/fr/sncf/osrd/speedcontroller/MarginTests.java
Owners: @DGEXSolutions/osrd-backend-maintainers, @eckter

allowances: change unit in distance allowance (s/100km -> min/100km)
  src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSAllowance.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/LinearAllowanceGenerator.java
  src/test/java/fr/sncf/osrd/speedcontroller/MarginTests.java
Owners: @DGEXSolutions/osrd-backend-maintainers, @eckter

allowances: change unit in distance allowance (s/100km -> min/100km)
  src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSAllowance.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/LinearAllowanceGenerator.java
  src/test/java/fr/sncf/osrd/speedcontroller/MarginTests.java
Owners: @DGEXSolutions/osrd-backend-maintainers, @eckter

margins: waiting sign
  public/locales/fr/margins.json
  src/applications/osrd/components/Simulation/consts.js
  src/applications/osrd/views/OSRDConfig/OSRDConfig.scss
  src/applications/osrd/views/OSRDSimulation/Margins.js
  src/applications/osrd/views/OSRDSimulation/OSRDSimulation.scss
  src/applications/osrd/views/OSRDSimulation/SpaceTimeChart.js
  src/applications/osrd/views/OSRDSimulation/SpeedSpaceChart.js
Owners: none

osrdconf: working on via
  src/applications/osrd/components/Itinerary/DisplayVias.js
  src/applications/osrd/views/OSRDConfig/Itinerary.js
  src/applications/osrd/views/OSRDSimulation/OSRDSimulation.js
Owners: none

railscript: fix reserved route primitive
  src/main/java/fr/sncf/osrd/infra/railscript/DependencyBinder.java
  src/main/java/fr/sncf/osrd/infra/railscript/RSExpr.java
  src/main/java/fr/sncf/osrd/infra/routegraph/Route.java
Owners: @multun, @DGEXSolutions/osrd-backend-maintainers

railscript: fix reserved route primitive
  src/main/java/fr/sncf/osrd/infra/railscript/DependencyBinder.java
  src/main/java/fr/sncf/osrd/infra/railscript/RSExpr.java
  src/main/java/fr/sncf/osrd/infra/routegraph/Route.java
Owners: @multun, @DGEXSolutions/osrd-backend-maintainers

railscript: fix reserved route primitive
  src/main/java/fr/sncf/osrd/infra/railscript/DependencyBinder.java
  src/main/java/fr/sncf/osrd/infra/railscript/RSExpr.java
  src/main/java/fr/sncf/osrd/infra/routegraph/Route.java
Owners: @multun, @DGEXSolutions/osrd-backend-maintainers

fix_distance_margin: fix bugs linked to a marginType DISTANCE, and add some tests
  src/main/java/fr/sncf/osrd/speedcontroller/generators/ConstructionAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/DichotomyControllerGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/LinearAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/MarecoAllowanceGenerator.java
  src/test/java/fr/sncf/osrd/speedcontroller/MarginTests.java
  src/test/java/fr/sncf/osrd/train/NonConstantDecTest.java
Owners: @eckter, @DGEXSolutions/osrd-backend-maintainers

interactive: send simulation result at the end of the sim
  src/main/java/fr/sncf/osrd/api/SimulationEndpoint.java
  src/main/java/fr/sncf/osrd/interactive/InteractiveSimulation.java
  src/main/java/fr/sncf/osrd/interactive/ServerMessage.java
  src/python_interactive_client/osrd_interactive.py
Owners: @flomonster, @DGEXSolutions/osrd-backend-maintainers, @multun

interactive: send simulation result at the end of the sim
  src/main/java/fr/sncf/osrd/api/SimulationEndpoint.java
  src/main/java/fr/sncf/osrd/interactive/InteractiveSimulation.java
  src/main/java/fr/sncf/osrd/interactive/ServerMessage.java
  src/python_interactive_client/osrd_interactive.py
Owners: @flomonster, @DGEXSolutions/osrd-backend-maintainers, @multun

interactive: improve python library to get and use ref times
  src/python_interactive_client/osrd_interactive.py
  src/python_interactive_client/test.py
Owners: @flomonster, @multun

interactive: improve python library to get and use ref times
  src/python_interactive_client/osrd_interactive.py
  src/python_interactive_client/test.py
Owners: @flomonster, @multun

tests: add tests for reference times
  src/test/java/fr/sncf/osrd/speedcontroller/SpeedInstructionsTests.java
Owners: none

rjs: add a way to input reference times
  src/main/java/fr/sncf/osrd/railjson/parser/RJSTrainScheduleParser.java
  src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSTrainSchedule.java
  src/main/java/fr/sncf/osrd/speedcontroller/SpeedInstructions.java
  src/test/java/fr/sncf/osrd/train/ReservationsTests.java
Owners: @DGEXSolutions/osrd-backend-maintainers, @eckter

tests: add tests for reference times
  src/test/java/fr/sncf/osrd/speedcontroller/SpeedInstructionsTests.java
Owners: none

rjs: add a way to input reference times
  src/main/java/fr/sncf/osrd/railjson/parser/RJSTrainScheduleParser.java
  src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSTrainSchedule.java
  src/main/java/fr/sncf/osrd/speedcontroller/SpeedInstructions.java
  src/test/java/fr/sncf/osrd/train/ReservationsTests.java
Owners: @DGEXSolutions/osrd-backend-maintainers, @eckter

fix_distance_margin: fix bugs linked to a marginType DISTANCE, and add some tests (#271)
  src/main/java/fr/sncf/osrd/speedcontroller/generators/ConstructionAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/DichotomyControllerGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/LinearAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/MarecoAllowanceGenerator.java
  src/test/java/fr/sncf/osrd/speedcontroller/MarginTests.java
  src/test/java/fr/sncf/osrd/train/NonConstantDecTest.java
Owners: @eckter, @DGEXSolutions/osrd-backend-maintainers

fix_distance_margin: fix bugs linked to a marginType DISTANCE, and add some tests (#271)
  src/main/java/fr/sncf/osrd/speedcontroller/generators/ConstructionAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/DichotomyControllerGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/LinearAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/MarecoAllowanceGenerator.java
  src/test/java/fr/sncf/osrd/speedcontroller/MarginTests.java
  src/test/java/fr/sncf/osrd/train/NonConstantDecTest.java
Owners: @eckter, @DGEXSolutions/osrd-backend-maintainers

margins: added dots on chart, functions separated on spacetimechart
  src/applications/osrd/components/Helpers/ChartHelpers.js
  src/applications/osrd/components/Simulation/SpaceTimeChart/createChart.js
  src/applications/osrd/components/Simulation/SpaceTimeChart/createTrain.js
  src/applications/osrd/components/Simulation/SpaceTimeChart/drawTrain.js
  src/applications/osrd/components/Simulation/consts.js
  src/applications/osrd/views/OSRDSimulation/Margins.js
  src/applications/osrd/views/OSRDSimulation/OSRDSimulation.scss
  src/applications/osrd/views/OSRDSimulation/SpaceTimeChart.js
  src/applications/osrd/views/OSRDSimulation/SpeedSpaceChart.js
Owners: none

test: reproduce mareco problem in unit test
  src/test/java/fr/sncf/osrd/speedcontroller/MarginTests.java
Owners: none

ech/add-mareco-test: accelerating slopes are now calculated using a mean value
  src/main/java/fr/sncf/osrd/speedcontroller/generators/DichotomyControllerGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/MarecoAllowanceGenerator.java
  src/test/java/fr/sncf/osrd/speedcontroller/MarginTests.java
Owners: @eckter, @DGEXSolutions/osrd-backend-maintainers

margins: added other block sections
  src/applications/osrd/components/Simulation/SpaceTimeChart/createTrain.js
  src/applications/osrd/views/OSRDSimulation/SpaceTimeChart.js
  src/index.tsx
  src/main/App/index.js
Owners: none

ech/add-mareco-test: fix bugs on slope under the train evaluation, fixing the new testEcoMarginShortSlopes
  src/main/java/fr/sncf/osrd/speedcontroller/generators/DichotomyControllerGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/MarecoAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/utils/DoubleRangeMap.java
  src/test/java/fr/sncf/osrd/speedcontroller/MarginTests.java
Owners: @eckter, @DGEXSolutions/osrd-backend-maintainers

Reproduce mareco problem in unit test (#266)
  src/main/java/fr/sncf/osrd/speedcontroller/generators/DichotomyControllerGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/MarecoAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/utils/DoubleRangeMap.java
  src/test/java/fr/sncf/osrd/speedcontroller/MarginTests.java
Owners: @eckter, @DGEXSolutions/osrd-backend-maintainers

Reproduce mareco problem in unit test (#266)
  src/main/java/fr/sncf/osrd/speedcontroller/generators/DichotomyControllerGenerator.java
  src/main/java/fr/sncf/osrd/speedcontroller/generators/MarecoAllowanceGenerator.java
  src/main/java/fr/sncf/osrd/utils/DoubleRangeMap.java
  src/test/java/fr/sncf/osrd/speedcontroller/MarginTests.java
Owners: @eckter, @DGEXSolutions/osrd-backend-maintainers

railjson: remove unused file
  src/main/java/fr/sncf/osrd/railjson/schema/infra/signaling/RJSSignalObservable.java
Owners: @DGEXSolutions/osrd-backend-maintainers

railjson: remove unused file
  src/main/java/fr/sncf/osrd/railjson/schema/infra/signaling/RJSSignalObservable.java
Owners: @DGEXSolutions/osrd-backend-maintainers

railjson: remove unused file
  src/main/java/fr/sncf/osrd/railjson/schema/infra/signaling/RJSSignalObservable.java
Owners: @DGEXSolutions/osrd-backend-maintainers

build: switch from jcenter to mavenCentral
  build.gradle
Owners: @multun

.github/CODEOWNERS:

CODEOWNERS        @DGEXSolutions/osrd-backend-maintainers

/specifications   @flomonster @DGEXSolutions/osrd-backend-maintainers

# java stuff
/src/main/java/fr/sncf/osrd                         @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/api                     @flomonster @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/cbtc                    @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/cli                     @multun @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/config                  @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/infra                   @multun @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/infra_state             @multun @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/infra_state/regulator   @flomonster @bgiuliana @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/interactive             @flomonster @multun @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/railjson                @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/railml                  @flomonster @multun @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/simulation              @multun @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/speedcontroller         @eckter @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/train                   @eckter @multun @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/utils                   @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/DebugViewer.java        @DGEXSolutions/osrd-backend-maintainers
*Physics*.java                                      @DGEXSolutions/osrd-physics
*Integrator*.java                                   @DGEXSolutions/osrd-physics
*Integration*.java                                  @DGEXSolutions/osrd-physics

# Python Interactive Client
/src/python_interactive_client                @flomonster @multun

# buildsystem stuff
/*.gradle         @multun
/gradle           @multun
/config           @multun
/README.md        @multun
/.gitlab-ci.yml   @pguenezan @theophanevie @multun
/Dockerfile       @pguenezan @theophanevie @multun
/chart            @pguenezan @theophanevie
/chart/templates/apidefinition.yaml  @flomonster
