Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DGEXSolutions/osrd-backend-maintainers, @flomonster, @multun, @bgiuliana, @eckter, @DGEXSolutions/osrd-physics, @pguenezan, @theophanevie

.github/CODEOWNERS:

CODEOWNERS        @DGEXSolutions/osrd-backend-maintainers

/specifications   @flomonster @DGEXSolutions/osrd-backend-maintainers

# java stuff
/src/main/java/fr/sncf/osrd                         @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/api                     @flomonster @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/cbtc                    @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/cli                     @multun @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/config                  @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/infra                   @multun @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/infra_state             @multun @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/infra_state/regulator   @flomonster @bgiuliana @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/interactive             @flomonster @multun @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/railjson                @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/railml                  @flomonster @multun @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/simulation              @multun @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/speedcontroller         @eckter @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/train                   @eckter @multun @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/utils                   @DGEXSolutions/osrd-backend-maintainers
/src/main/java/fr/sncf/osrd/DebugViewer.java        @DGEXSolutions/osrd-backend-maintainers
*Physics*.java                                      @DGEXSolutions/osrd-physics
*Integrator*.java                                   @DGEXSolutions/osrd-physics
*Integration*.java                                  @DGEXSolutions/osrd-physics

# Python Interactive Client
/src/python_interactive_client                @flomonster @multun

# buildsystem stuff
/*.gradle         @multun
/gradle           @multun
/config           @multun
/README.md        @multun
/.gitlab-ci.yml   @pguenezan @theophanevie @multun
/Dockerfile       @pguenezan @theophanevie @multun
/chart            @pguenezan @theophanevie
/chart/templates/apidefinition.yaml  @flomonster

build: switch from jcenter to mavenCentral
  build.gradle
Owners: @multun

build: switch from jcenter to mavenCentral
  build.gradle
Owners: @multun

examples: fix tests with generated infra
  build.gradle
  examples/one_line/gen.py
  examples/three_trains/gen.py
  src/test/java/fr/sncf/osrd/RunExamplesTest.java
  src/test/java/fr/sncf/osrd/infra_state/RouteStateTest.java
  src/test/java/fr/sncf/osrd/speedcontroller/MarginTests.java
  src/test/java/fr/sncf/osrd/train/ReservationsTests.java
Owners: @multun

tests: add infra generation task
  build.gradle
  examples/3trains_infra/config.json
  examples/3trains_infra/config_cbtc.json
  examples/3trains_infra/gen.py
  examples/3trains_infra/infra.json
  examples/3trains_infra/infra_cbtc.json
  examples/3trains_infra/simulation.json
  examples/3trains_infra/simulation_cbtc.json
  examples/generate.py
  examples/groenland_infra/config.json
  examples/groenland_infra/config_cbtc.json
  examples/groenland_infra/gen.py
  examples/groenland_infra/infra.json
  examples/groenland_infra/infra_cbtc.json
  examples/groenland_infra/network.ggb
  examples/groenland_infra/simulation.json
  examples/groenland_infra/simulation_cbtc.json
  examples/one_line/config.json
  examples/one_line/gen.py
  examples/one_line/generate.py
  examples/one_line/infra.json
  examples/one_line/simulation.json
  examples/switch_infra/config.json
  examples/switch_infra/config_cbtc.json
  examples/switch_infra/gen.py
  examples/switch_infra/infra.json
  examples/switch_infra/infra_cbtc.json
  examples/switch_infra/simulation.json
  examples/switch_infra/simulation_cbtc.json
  examples/three_trains/gen.py
  src/test/java/fr/sncf/osrd/RunExamplesTest.java
  src/test/java/fr/sncf/osrd/TestConfig.java
  src/test/java/fr/sncf/osrd/infra_state/RouteStateTest.java
Owners: @multun

infra: fix route signal entry
  src/main/java/fr/sncf/osrd/infra/routegraph/Route.java
Owners: @multun, @DGEXSolutions/osrd-backend-maintainers

build: guess python name depending on the platform
  build.gradle
Owners: @multun

examples: fix tests with generated infra
  build.gradle
  examples/one_line/gen.py
  examples/three_trains/gen.py
  src/test/java/fr/sncf/osrd/RunExamplesTest.java
  src/test/java/fr/sncf/osrd/infra_state/RouteStateTest.java
  src/test/java/fr/sncf/osrd/speedcontroller/MarginTests.java
  src/test/java/fr/sncf/osrd/train/ReservationsTests.java
Owners: @multun

infra: fix route signal entry
  src/main/java/fr/sncf/osrd/infra/routegraph/Route.java
Owners: @multun, @DGEXSolutions/osrd-backend-maintainers

examples: fix tests with generated infra
  build.gradle
  examples/one_line/gen.py
  examples/three_trains/gen.py
  src/test/java/fr/sncf/osrd/RunExamplesTest.java
  src/test/java/fr/sncf/osrd/infra_state/RouteStateTest.java
  src/test/java/fr/sncf/osrd/speedcontroller/MarginTests.java
  src/test/java/fr/sncf/osrd/train/ReservationsTests.java
Owners: @multun

tests: add infra generation task
  build.gradle
  examples/3trains_infra/config.json
  examples/3trains_infra/config_cbtc.json
  examples/3trains_infra/gen.py
  examples/3trains_infra/infra.json
  examples/3trains_infra/infra_cbtc.json
  examples/3trains_infra/simulation.json
  examples/3trains_infra/simulation_cbtc.json
  examples/generate.py
  examples/groenland_infra/config.json
  examples/groenland_infra/config_cbtc.json
  examples/groenland_infra/gen.py
  examples/groenland_infra/infra.json
  examples/groenland_infra/infra_cbtc.json
  examples/groenland_infra/simulation.json
  examples/groenland_infra/simulation_cbtc.json
  examples/one_line/config.json
  examples/one_line/gen.py
  examples/one_line/generate.py
  examples/one_line/infra.json
  examples/one_line/simulation.json
  examples/switch_infra/config.json
  examples/switch_infra/config_cbtc.json
  examples/switch_infra/gen.py
  examples/switch_infra/infra.json
  examples/switch_infra/infra_cbtc.json
  examples/switch_infra/simulation.json
  examples/switch_infra/simulation_cbtc.json
  examples/three_trains/gen.py
  src/test/java/fr/sncf/osrd/RunExamplesTest.java
  src/test/java/fr/sncf/osrd/TestConfig.java
  src/test/java/fr/sncf/osrd/infra_state/RouteStateTest.java
Owners: @multun

build: guess python name depending on the platform
  build.gradle
Owners: @multun

build: guess python name depending on the platform
  build.gradle
Owners: @multun

infra: fix route signal entry
  src/main/java/fr/sncf/osrd/infra/routegraph/Route.java
Owners: @multun, @DGEXSolutions/osrd-backend-maintainers

tests: add infra generation task
  build.gradle
  examples/3trains_infra/config.json
  examples/3trains_infra/config_cbtc.json
  examples/3trains_infra/gen.py
  examples/3trains_infra/infra.json
  examples/3trains_infra/infra_cbtc.json
  examples/3trains_infra/simulation.json
  examples/3trains_infra/simulation_cbtc.json
  examples/generate.py
  examples/groenland_infra/config.json
  examples/groenland_infra/config_cbtc.json
  examples/groenland_infra/gen.py
  examples/groenland_infra/infra.json
  examples/groenland_infra/infra_cbtc.json
  examples/groenland_infra/network.ggb
  examples/groenland_infra/simulation.json
  examples/groenland_infra/simulation_cbtc.json
  examples/one_line/config.json
  examples/one_line/gen.py
  examples/one_line/generate.py
  examples/one_line/infra.json
  examples/one_line/simulation.json
  examples/switch_infra/config.json
  examples/switch_infra/config_cbtc.json
  examples/switch_infra/gen.py
  examples/switch_infra/infra.json
  examples/switch_infra/infra_cbtc.json
  examples/switch_infra/simulation.json
  examples/switch_infra/simulation_cbtc.json
  examples/three_trains/gen.py
  src/test/java/fr/sncf/osrd/RunExamplesTest.java
  src/test/java/fr/sncf/osrd/TestConfig.java
  src/test/java/fr/sncf/osrd/infra_state/RouteStateTest.java
Owners: @multun

generator: add geometry coords
  examples/generator/README.md
  examples/generator/gen_example.py
  examples/generator/railjson_generator/schema/infra/endpoint.py
  examples/generator/railjson_generator/schema/infra/link.py
  examples/generator/railjson_generator/schema/infra/switch.py
  examples/generator/railjson_generator/schema/infra/track_section.py
  examples/one_line/gen.py
  examples/three_trains/gen.py
Owners: none

examples: add gitignore and generator Pipfile
  examples/.gitignore
  examples/generator/Pipfile
  examples/generator/Pipfile.lock
Owners: none

examples: add gitignore and generator Pipfile
  examples/.gitignore
  examples/generator/Pipfile
  examples/generator/Pipfile.lock
Owners: none

generator: add geometry coords
  examples/generator/README.md
  examples/generator/gen_example.py
  examples/generator/railjson_generator/schema/infra/endpoint.py
  examples/generator/railjson_generator/schema/infra/link.py
  examples/generator/railjson_generator/schema/infra/switch.py
  examples/generator/railjson_generator/schema/infra/track_section.py
  examples/one_line/gen.py
  examples/three_trains/gen.py
Owners: none

initial commit
  README.md
Owners: @multun
