Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

front: fix coordinates crash
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderItineraryMarkers.tsx
Owners: @DGEXSolutions/front-maintainers

core: adapt generator for railjson 3.2.0
  core/examples/generated/README.md
  core/examples/generated/example_script.py
  core/examples/generated/lib/railjson_generator/__init__.py
  core/examples/generated/lib/railjson_generator/infra_builder.py
  core/examples/generated/lib/railjson_generator/schema/infra/infra.py
  core/examples/generated/lib/railjson_generator/schema/infra/track_section.py
  core/examples/generated/lib/railjson_generator/schema/infra/waypoint.py
  core/examples/generated/lib/railjson_generator/utils/pathfinding.py
  core/examples/generated/lib/railjson_generator/utils/routes_generator.py
  core/examples/generated/scripts/tiny_infra.py
Owners: @DGEXSolutions/core-maintainers

editoast: fix duplicate rolling stock schema
  editoast/src/schema/rolling_stock.rs
Owners: @DGEXSolutions/editoast-maintainers

schemas: replace applicable directions to direction for buffer stops
  .github/workflows/api.yml
  .github/workflows/integration_tests.yml
  editoast/src/infra.rs
  editoast/src/schema/buffer_stop.rs
  python/api/osrd_infra/migrations/0021_railjson_3_2_0.py
  python/osrd_schemas/osrd_schemas/infra.py
Owners: @flomonster, @multun, @DGEXSolutions/editoast-maintainers

editoast: add buffer stop odd location warning
  editoast/openapi.yaml
  editoast/src/generated_data/error/buffer_stops.rs
  editoast/src/schema/errors.rs
  editoast/src/schema/mod.rs
  front/src/applications/editor/components/InfraErrors/types.ts
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

editoast: migrate POST /rolling_stock and implement model for rolling_stock (#3639)
  editoast/openapi.yaml
  editoast/src/models/mod.rs
  editoast/src/models/rolling_stock_models/mod.rs
  editoast/src/models/rolling_stock_models/rolling_stock.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/rolling_stock.rs
  editoast/src/schema/rolling_stock_image.rs
  editoast/src/schema/rolling_stock_livery.rs
  editoast/src/schema/rolling_stock_schema/mod.rs
  editoast/src/schema/rolling_stock_schema/rolling_stock.rs
  editoast/src/tables.rs
  editoast/src/views/light_rolling_stocks.rs
  editoast/src/views/rolling_stocks.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

tests: Remove `setup_dummy_db` (#3690)
  python/api/osrd_infra/management/commands/setup_dummy_db.py
  tests/conftest.py
  tests/tests/test_scenario.py
  tests/tests/test_simulation.py
  tests/tests/test_stdcm.py
  tests/tests/test_train_schedule.py
  tests/tests/utils/simulation.py
  tests/tests/utils/stdcm.py
Owners: @DGEXSolutions/editoast-maintainers, @eckter

front: clean GEV
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/withOSRDData.jsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/applications/stdcm/views/OSRDStdcmResults.jsx
  front/src/stories/SpeedSpaceChart.stories.tsx
Owners: @DGEXSolutions/front-maintainers

front: GET - fix coordinated cursors
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/SpaceTimeChart.jsx
Owners: @DGEXSolutions/front-maintainers

editoast: fix missing buffer stop warnings
  editoast/openapi.yaml
  editoast/src/generated_data/error/buffer_stops.rs
  editoast/src/schema/errors.rs
  front/src/applications/editor/components/InfraErrors/types.ts
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

front: fix graph hovering crash
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap/RenderBlockState.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: add list trait for model
  editoast/src/models/mod.rs
  editoast/src/models/projects.rs
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/schema/rolling_stock.rs
  editoast/src/schema/rolling_stock_schema/rolling_stock.rs
  editoast/src/views/infra/errors.rs
  editoast/src/views/pagination.rs
  editoast/src/views/projects.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
Owners: @DGEXSolutions/editoast-maintainers

front: power restrictions: update reducers
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdconf/selectors.ts
Owners: @DGEXSolutions/front-maintainers

core: add mock tvm signaling
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/tvm/BALtoTVM.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/tvm/TVM.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/tvm/TVMtoBAL.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/tvm/TVMtoTVM.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
Owners: @DGEXSolutions/core-maintainers

core: load kotlin infra when we load infras
  core/src/main/java/fr/sncf/osrd/api/FullInfra.java
  core/src/main/java/fr/sncf/osrd/api/InfraManager.java
  core/src/main/java/fr/sncf/osrd/api/SignalingSimulator.kt
  core/src/main/java/fr/sncf/osrd/api/StandaloneSimulationEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/cli/StandaloneSimulationCommand.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/test/java/fr/sncf/osrd/Helpers.java
  core/src/test/java/fr/sncf/osrd/stdcm/FullSTDCMTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMHelpers.java
Owners: @DGEXSolutions/core-maintainers

cord: update openapi.yml
  core/openapi.yaml
Owners: @DGEXSolutions/core-maintainers

api: remove route_{begin,end}_occupancy
  front/src/applications/customget/components/convertData.jsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/applications/stdcm/fakeSimulation.jsx
  front/src/common/api/osrdMiddlewareApi.ts
  front/src/reducers/osrdsimulation/types.ts
  front/tests/assets/operationStudies/train.json
  python/api/openapi.yaml
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
  tests/tests/utils/stdcm.py
Owners: @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter

core: split the signal simulation out of the standalone sim endpoint
  core/src/main/java/fr/sncf/osrd/api/SignalProjectionEndpoint.java
  core/src/main/java/fr/sncf/osrd/cli/ApiServerCommand.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultTrain.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/SignalUpdate.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractorTests.java
  python/api/osrd_infra/tests/test_stdcm.py
  python/api/osrd_infra/utils.py
  python/api/osrd_infra/views/stdcm.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
  python/api/osrd_infra/views/train_schedule/train_schedule.py
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers

editoast: bump dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
Owners: @DGEXSolutions/editoast-maintainers

core: migrate standalone sim to the new signaling simulator
  core/build.gradle
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/InterlockingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadedSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/RawSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/BlockInfraImpl.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBALtoBAL.kt
  core/kt-osrd-sncf-signaling/src/test/kotlin/fr/sncf/osrd/signaling/bal/TestBAPRtoBAL.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultOccupancyTiming.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ResultTrain.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/SignalUpdate.java
  core/src/main/java/fr/sncf/osrd/utils/CSVExporters.java
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
  core/src/test/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractorTests.java
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
Owners: @DGEXSolutions/core-maintainers, @DGEXSolutions/editoast-maintainers

front: power restrictions: add selector
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/assets/pictures/components/electricity.svg
Owners: @DGEXSolutions/front-maintainers

front: power restrictions: handle no data
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
Owners: @DGEXSolutions/front-maintainers

front: power restrictions: finishing selector
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/public/locales/fr/rollingstock.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/helpers/formatConf.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/assets/pictures/components/electricity.svg
  front/src/assets/pictures/components/power_restrictions.svg
  front/src/reducers/osrdconf/index.ts
Owners: @DGEXSolutions/front-maintainers

Revert "front: block state: display on simulation's map"
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap/RenderBlockState.tsx
  front/src/config/layerOrder.ts
Owners: @DGEXSolutions/front-maintainers

tests: Make e2e tests call the backend (#3672)
  .github/workflows/integration_tests.yml
  front/playwright.config.ts
  front/src/common/RollingStockSelector/RollingStockCard.jsx
  front/tests/assets/common/rollingStock.json
  front/tests/assets/operationStudies/project.json
  front/tests/assets/operationStudies/scenario.json
  front/tests/assets/operationStudies/study.json
  front/tests/assets/operationStudies/timetable.json
  front/tests/operational-studies.spec.ts
  front/tests/stdcm-page.spec.ts
  tests/conftest.py
  tests/tests/test_e2e.py
  tests/tests/test_scenario.py
  tests/tests/test_simulation.py
  tests/tests/test_stdcm.py
  tests/tests/test_timetable.py
  tests/tests/test_with_fuzzer.py
  tests/tests/utils/timetable.py
Owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @eckter

front: fix notification above all & map add train too big
  front/src/styles/scss/applications/operationalStudies/_managetrainschedule.scss
Owners: @DGEXSolutions/front-maintainers

front: releaseinformations: light refacto, add links
  front/public/locales/fr/home/navbar.json
  front/src/common/ReleaseInformations/LicenseAttributions.tsx
  front/src/common/ReleaseInformations/ReleaseInformations.tsx
  front/src/common/ReleaseInformations/json/licenses.json
  front/src/styles/scss/common/components/_releaseInformations.scss
Owners: @DGEXSolutions/front-maintainers

front: remve warnings from DisplayMissingInfo
  front/package.json
  front/src/common/DisplayMissingInfo/DisplayMissingInfo.scss
  front/src/common/DisplayMissingInfo/DisplayMissingInfo.tsx
  front/src/stories/DisplayMissingInfo.stories.tsx
  front/vite.config.ts
Owners: @DGEXSolutions/front-maintainers

front: tests: Add a `yarn e2e-tests` and display playwright outputs (#3770)
  .github/workflows/integration_tests.yml
  front/package.json
Owners: @flomonster, @multun, @DGEXSolutions/front-maintainers

front: releaseinformations: remove releaseInformations.scss; change .informations to .informations-modal; create _relaseInformations.scss in /styles
  front/src/common/BootstrapSNCF/NavBarSNCF.jsx
  front/src/common/ReleaseInformations/LicenseAttributions.tsx
  front/src/common/ReleaseInformations/ReleaseInformations.scss
  front/src/common/ReleaseInformations/ReleaseInformations.tsx
  front/src/styles/scss/common/_components.scss
  front/src/styles/scss/common/components/_releaseInformations.scss
Owners: @DGEXSolutions/front-maintainers

front: removeUseless map symbol
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
Owners: @DGEXSolutions/front-maintainers

python: update middleWare api
  python/api/openapi.yaml
Owners: @DGEXSolutions/editoast-maintainers

editoast: `ntest` to `rtest`
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/fixtures.rs
  editoast/src/generated_data/error/buffer_stops.rs
  editoast/src/generated_data/error/track_sections.rs
  editoast/src/main.rs
  editoast/src/models/mod.rs
  editoast/src/models/rolling_stock_models/rolling_stock.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/rolling_stock_image.rs
  editoast/src/schema/rolling_stock_livery.rs
  editoast/src/schema/rolling_stock_schema/rolling_stock.rs
  editoast/src/views/light_rolling_stocks.rs
  editoast/src/views/rolling_stocks.rs
Owners: @DGEXSolutions/editoast-maintainers

front: power restrictions: connecting front to api
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionSelector.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/common/Notifications.scss
  front/src/common/api/osrdMiddlewareApi.ts
  front/src/reducers/osrdconf/index.ts
Owners: @DGEXSolutions/front-maintainers

front: STDCM: set RollingstockSelector in one line (#3742)
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/common/RollingStockSelector/RollingStockSelector.jsx
Owners: @DGEXSolutions/front-maintainers

front: STDCM: fix map height without effect in operational studies
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/styles/scss/applications/_stdcm.scss
  front/src/styles/scss/applications/operationalStudies/_managetrainschedule.scss
  front/src/styles/styles.scss
Owners: @DGEXSolutions/front-maintainers

editoast: fix openapi for the clone infra endpoint
  editoast/openapi.yaml
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

editoast : add suffix _id
  editoast/openapi.yaml
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

front: use new HOC on sppedTimeChart on stdcm
  front/src/applications/stdcm/views/OSRDStdcmResults.tsx
Owners: @DGEXSolutions/front-maintainers

front: using types generated by rtk
  editoast/openapi.yaml
  front/src/applications/editor/components/EditorForm.tsx
  front/src/applications/editor/data/api.ts
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/switchEdition/components.tsx
  front/src/applications/editor/tools/switchEdition/utils.ts
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/types/editor.ts
  front/src/types/geospatial.ts
  front/src/types/index.ts
  front/src/types/railjson.ts
Owners: @DGEXSolutions/editoast-maintainers, @DGEXSolutions/front-maintainers

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics
