Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics

core: stdcm: fix zero time delta in stop too close from start
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMSimulations.java
  tests/tests/regression_tests_data/stdcm_zero_time_delta.json
Owners: @DGEXSolutions/core-maintainers, @eckter

tests: fuzzer: update fuzzer for stdcm steps
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMStandardAllowance.java
  core/src/main/java/fr/sncf/osrd/stdcm/preprocessing/implementation/RouteAvailabilityLegacyAdapter.java
  core/src/main/java/fr/sncf/osrd/stdcm/preprocessing/interfaces/RouteAvailabilityInterface.java
  tests/fuzzer/fuzzer.py
Owners: @DGEXSolutions/core-maintainers, @eckter

front: adapt stdcmReq building to new API
  front/src/applications/stdcm/formatStcmConf.ts
  front/src/common/Pathfinding/Pathfinding.tsx
Owners: @DGEXSolutions/front-maintainers

core: stdcm: apply review comments
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMPostProcessing.java
  core/src/main/java/fr/sncf/osrd/utils/graph/Pathfinding.java
  core/src/main/java/fr/sncf/osrd/utils/graph/functional_interfaces/TotalCostUntilEdgeLocation.java
Owners: @DGEXSolutions/core-maintainers

core: stdcm: fix delay computation in edge case
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMEdgeBuilder.java
Owners: @DGEXSolutions/core-maintainers

front: update generated types
  front/src/common/api/osrdMiddlewareApi.ts
Owners: none

front: RollingStockSelector: create WithRollingStockSelector.tsx; convert RollingStockSelector.jsx to tsx; add RollingStockProps interface in const.jsx and convert it to ts
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/sampleData.jsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/assets/defaultRSImages/example_rolling_stock_image_1.gif
  front/src/assets/defaultRSImages/example_rolling_stock_image_2.gif
  front/src/common/RollingStockSelector/RollingStockModal.jsx
  front/src/common/RollingStockSelector/RollingStockSelector.jsx
  front/src/common/RollingStockSelector/RollingStockSelector.tsx
  front/src/common/RollingStockSelector/WithRollingStockSelector.tsx
  front/src/common/RollingStockSelector/consts/consts.ts
  front/src/stories/RollingStockSelector.stories.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: openapi add missing trailing slash
  editoast/openapi.yaml
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

editoast: openapi add missing trailing slash
  editoast/openapi.yaml
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

editoast: openapi add missing trailing slash
  editoast/openapi.yaml
  front/src/common/api/osrdEditoastApi.ts
Owners: @DGEXSolutions/editoast-maintainers

front: fix allowance discriminated union
  front/package.json
  front/src/applications/editor/components/InfraErrors/types.ts
  front/src/common/api/osrdMiddlewareApi.ts
  front/yarn.lock
  python/api/openapi.yaml
Owners: @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers

front: refacto allowance unit symbol and value function
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/Allowance.tsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/allowancesConsts.tsx
Owners: @DGEXSolutions/front-maintainers

front: move Allowance to TS
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/Allowance.tsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/Allowances.jsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/Allowances.tsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/EmptyLine.tsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/StandardAllowanceDefault.jsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/allowancesConsts.tsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/withOSRDData.tsx
  front/yarn.lock
Owners: @DGEXSolutions/front-maintainers

front: custom eslint formatter
  front/package.json
  front/scripts/lint-formatter.js
Owners: @DGEXSolutions/front-maintainers

front: reduce warnings max
  front/package.json
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/withOSRDData.jsx
  front/vite.config.ts
Owners: @DGEXSolutions/front-maintainers

front: reduce warnings max
  front/package.json
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/withOSRDData.jsx
  front/vite.config.ts
Owners: @DGEXSolutions/front-maintainers

front: move Allowance to TS
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/Allowance.tsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/Allowances.jsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/Allowances.tsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/EmptyLine.tsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/StandardAllowanceDefault.jsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/allowancesConsts.tsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/withOSRDData.tsx
  front/yarn.lock
Owners: @DGEXSolutions/front-maintainers

front: custom eslint formatter
  front/package.json
  front/scripts/lint-formatter.js
Owners: @DGEXSolutions/front-maintainers

front: move Allowance to TS
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/Allowance.tsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/Allowances.jsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/Allowances.tsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/EmptyLine.tsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/StandardAllowanceDefault.jsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/allowancesConsts.tsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/withOSRDData.tsx
  front/yarn.lock
Owners: @DGEXSolutions/front-maintainers

front: refacto allowance unit symbol and value function
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/Allowance.tsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/allowancesConsts.tsx
Owners: @DGEXSolutions/front-maintainers

front: fix allowance discriminated union
  front/package.json
  front/src/applications/editor/components/InfraErrors/types.ts
  front/src/common/api/osrdMiddlewareApi.ts
  front/yarn.lock
  python/api/openapi.yaml
Owners: @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers

front: custom eslint formatter
  front/package.json
  front/scripts/lint-formatter.js
Owners: @DGEXSolutions/front-maintainers

front: fix allowance discriminated union
  front/package.json
  front/src/applications/editor/components/InfraErrors/types.ts
  front/src/common/api/osrdMiddlewareApi.ts
  front/yarn.lock
  python/api/openapi.yaml
Owners: @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers

front: refacto allowance unit symbol and value function
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/Allowance.tsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/allowancesConsts.tsx
Owners: @DGEXSolutions/front-maintainers

front: reduce warnings max
  front/package.json
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/withOSRDData.jsx
  front/vite.config.ts
Owners: @DGEXSolutions/front-maintainers

front: test coverage for all files
  front/vite.config.ts
Owners: @DGEXSolutions/front-maintainers

front: test coverage for all files
  front/vite.config.ts
Owners: @DGEXSolutions/front-maintainers

front: test coverage for all files
  front/vite.config.ts
Owners: @DGEXSolutions/front-maintainers

front: RollingStockSelector: create WithRollingStockSelector.tsx; convert RollingStockSelector.jsx to tsx; add RollingStockProps interface in const.jsx and convert it to ts
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/sampleData.jsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/assets/defaultRSImages/example_rolling_stock_image_1.gif
  front/src/assets/defaultRSImages/example_rolling_stock_image_2.gif
  front/src/common/RollingStockSelector/RollingStockModal.jsx
  front/src/common/RollingStockSelector/RollingStockSelector.jsx
  front/src/common/RollingStockSelector/RollingStockSelector.tsx
  front/src/common/RollingStockSelector/WithRollingStockSelector.tsx
  front/src/common/RollingStockSelector/consts/consts.ts
  front/src/stories/RollingStockSelector.stories.tsx
Owners: @DGEXSolutions/front-maintainers

front: RollingStockSelector: create WithRollingStockSelector.tsx; convert RollingStockSelector.jsx to tsx; add RollingStockProps interface in const.jsx and convert it to ts
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/sampleData.jsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/assets/defaultRSImages/example_rolling_stock_image_1.gif
  front/src/assets/defaultRSImages/example_rolling_stock_image_2.gif
  front/src/common/RollingStockSelector/RollingStockModal.jsx
  front/src/common/RollingStockSelector/RollingStockSelector.jsx
  front/src/common/RollingStockSelector/RollingStockSelector.tsx
  front/src/common/RollingStockSelector/WithRollingStockSelector.tsx
  front/src/common/RollingStockSelector/consts/consts.ts
  front/src/stories/RollingStockSelector.stories.tsx
Owners: @DGEXSolutions/front-maintainers

core: post load infra endpoint
  core/openapi.yaml
  core/src/main/java/fr/sncf/osrd/api/InfraLoadEndpoint.java
  core/src/main/java/fr/sncf/osrd/cli/ApiServerCommand.java
  core/src/test/java/fr/sncf/osrd/api/InfraLoadingTest.java
Owners: @DGEXSolutions/core-maintainers

core: post load infra endpoint
  core/openapi.yaml
  core/src/main/java/fr/sncf/osrd/api/InfraLoadEndpoint.java
  core/src/main/java/fr/sncf/osrd/cli/ApiServerCommand.java
  core/src/test/java/fr/sncf/osrd/api/InfraLoadingTest.java
Owners: @DGEXSolutions/core-maintainers

core: post load infra endpoint
  core/openapi.yaml
  core/src/main/java/fr/sncf/osrd/api/InfraLoadEndpoint.java
  core/src/main/java/fr/sncf/osrd/cli/ApiServerCommand.java
  core/src/test/java/fr/sncf/osrd/api/InfraLoadingTest.java
Owners: @DGEXSolutions/core-maintainers

editoast: generate track_sections in osm_to_railjson
  editoast/src/converters/osm_to_railjson.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add osm-to-railjson command
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/client/mod.rs
  editoast/src/converters/mod.rs
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/main.rs
  editoast/src/tests/minimal_rail.osm.pbf
Owners: @DGEXSolutions/editoast-maintainers

editoast: add osm-to-railjson command
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/client/mod.rs
  editoast/src/converters/mod.rs
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/main.rs
  editoast/src/tests/minimal_rail.osm.pbf
Owners: @DGEXSolutions/editoast-maintainers

editoast: generate track_sections in osm_to_railjson
  editoast/src/converters/osm_to_railjson.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add osm-to-railjson command
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/client/mod.rs
  editoast/src/converters/mod.rs
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/main.rs
  editoast/src/tests/minimal_rail.osm.pbf
Owners: @DGEXSolutions/editoast-maintainers

editoast: generate track_sections in osm_to_railjson
  editoast/src/converters/osm_to_railjson.rs
Owners: @DGEXSolutions/editoast-maintainers

front: add timetable & trainSchedule details collapsing facilities
  front/public/locales/fr/operationalStudies/scenario.json
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/common/BootstrapSNCF/DropdownSNCF.tsx
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Owners: @DGEXSolutions/front-maintainers
