Repository OpenRailAssociation/osrd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @flomonster, @multun, @DGEXSolutions/front-maintainers, @DGEXSolutions/editoast-maintainers, @eckter, @DGEXSolutions/core-maintainers, @DGEXSolutions/physics

.github/CODEOWNERS:

# --- CI - CODEOWNERS - Dependabot - Template ---
/.github                                                 @flomonster @multun

# --- FRONT ---
/front                                                   @DGEXSolutions/front-maintainers
/front/src/common/api/osrdEditoastApi.ts
/front/src/common/api/osrdMiddlewareApi.ts

# --- EDITOAST ---
/editoast                                                @DGEXSolutions/editoast-maintainers
/chartos                                                 @DGEXSolutions/editoast-maintainers
/python                                                  @DGEXSolutions/editoast-maintainers

# --- INTEGRATION TESTS  ---
/tests                                                   @eckter

# --- CORE ---
/core                                                    @DGEXSolutions/core-maintainers

# --- CORE PHYSICS ---
*Physics*.java                                           @DGEXSolutions/physics
*Integration*.java                                       @DGEXSolutions/physics

Update Home.tsx
  front/src/applications/rollingStockEditor/Home.tsx
Owners: @DGEXSolutions/front-maintainers

rename rollingStock to rollingStockEditor
  front/src/applications/rollingStockEditor/Home.tsx
  front/src/assets/pictures/home/rollingstockeditor.svg
  front/src/main/app.jsx
  front/src/main/home.jsx
Owners: @DGEXSolutions/front-maintainers

new card for the rolling stock editor in homepage
  front/public/locales/fr/home/home.json
  front/src/applications/rollingStock/Home.tsx
  front/src/assets/pictures/home/rolling-stock.svg
  front/src/main/app.jsx
  front/src/main/home.jsx
  front/tests/home-page-model.tsx
Owners: @DGEXSolutions/front-maintainers

modif home.json -> 'Editeur (en construction)'
  front/public/locales/fr/home/home.json
Owners: @DGEXSolutions/front-maintainers

rename rollingStock to rollingStockEditor
  front/src/applications/rollingStockEditor/Home.tsx
  front/src/assets/pictures/home/rollingstockeditor.svg
  front/src/main/app.jsx
  front/src/main/home.jsx
Owners: @DGEXSolutions/front-maintainers

new svg for the rolling stock editor
  front/public/locales/fr/home/home.json
  front/src/applications/rollingStock/Home.tsx
  front/src/assets/pictures/home/rolling-stock.svg
  front/src/assets/pictures/home/rs_editor.svg
  front/src/main/home.jsx
  front/tests/home-page-model.tsx
Owners: @DGEXSolutions/front-maintainers

Update Home.tsx
  front/src/applications/rollingStockEditor/Home.tsx
Owners: @DGEXSolutions/front-maintainers

new card for the rolling stock editor in homepage
  front/public/locales/fr/home/home.json
  front/src/applications/rollingStock/Home.tsx
  front/src/assets/pictures/home/rolling-stock.svg
  front/src/main/app.jsx
  front/src/main/home.jsx
  front/tests/home-page-model.tsx
Owners: @DGEXSolutions/front-maintainers

new svg for the rolling stock editor
  front/public/locales/fr/home/home.json
  front/src/applications/rollingStock/Home.tsx
  front/src/assets/pictures/home/rolling-stock.svg
  front/src/assets/pictures/home/rs_editor.svg
  front/src/main/home.jsx
  front/tests/home-page-model.tsx
Owners: @DGEXSolutions/front-maintainers

editoast: add fixture small_infra
  editoast/src/fixtures.rs
  editoast/src/tests/small_infra/pathfinding_core_response.json
  editoast/src/tests/small_infra/pathfinding_post_payload.json
  editoast/src/tests/small_infra/small_infra.json
  editoast/src/views/mod.rs
  editoast/src/views/pathfinding/mod.rs
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
Owners: @DGEXSolutions/editoast-maintainers

editoast: add core module & POST/PUT /pathfinding
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/client/mod.rs
  editoast/src/core/mod.rs
  editoast/src/core/pathfinding.rs
  editoast/src/main.rs
  editoast/src/models/pathfinding.rs
  editoast/src/schema/utils/geometry.rs
  editoast/src/schema/utils/mod.rs
  editoast/src/tests/pathfinding_core_response.json
  editoast/src/tests/pathfinding_post_payload.json
  editoast/src/views/mod.rs
  editoast/src/views/pathfinding/catenaries.rs
  editoast/src/views/pathfinding/mod.rs
  editoast/src/views/rolling_stocks.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add more /pathfinding unit tests + utils
  editoast/src/fixtures.rs
  editoast/src/models/pathfinding.rs
  editoast/src/tests/pathfinding_payload.json
  editoast/src/views/mod.rs
  editoast/src/views/pathfinding/catenaries.rs
  editoast/src/views/pathfinding/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: improve CoreClient mocking API
  editoast/src/core/http_client.rs
  editoast/src/core/mocking.rs
  editoast/src/core/mod.rs
  editoast/src/core/pathfinding.rs
  editoast/src/main.rs
  editoast/src/views/mod.rs
  editoast/src/views/pathfinding/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add fixture small_infra
  editoast/src/fixtures.rs
  editoast/src/tests/small_infra/pathfinding_core_response.json
  editoast/src/tests/small_infra/pathfinding_post_payload.json
  editoast/src/tests/small_infra/small_infra.json
  editoast/src/views/mod.rs
  editoast/src/views/pathfinding/mod.rs
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
Owners: @DGEXSolutions/editoast-maintainers

editoast: add core module & POST/PUT /pathfinding
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/client/mod.rs
  editoast/src/core/mod.rs
  editoast/src/core/pathfinding.rs
  editoast/src/main.rs
  editoast/src/models/pathfinding.rs
  editoast/src/schema/utils/geometry.rs
  editoast/src/schema/utils/mod.rs
  editoast/src/tests/pathfinding_core_response.json
  editoast/src/tests/pathfinding_post_payload.json
  editoast/src/views/mod.rs
  editoast/src/views/pathfinding/catenaries.rs
  editoast/src/views/pathfinding/mod.rs
  editoast/src/views/rolling_stocks.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add fixture small_infra
  editoast/src/fixtures.rs
  editoast/src/tests/small_infra/pathfinding_core_response.json
  editoast/src/tests/small_infra/pathfinding_post_payload.json
  editoast/src/tests/small_infra/small_infra.json
  editoast/src/views/mod.rs
  editoast/src/views/pathfinding/mod.rs
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
Owners: @DGEXSolutions/editoast-maintainers

editoast: add more /pathfinding unit tests + utils
  editoast/src/fixtures.rs
  editoast/src/models/pathfinding.rs
  editoast/src/tests/pathfinding_payload.json
  editoast/src/views/mod.rs
  editoast/src/views/pathfinding/catenaries.rs
  editoast/src/views/pathfinding/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add more /pathfinding unit tests + utils
  editoast/src/fixtures.rs
  editoast/src/models/pathfinding.rs
  editoast/src/tests/pathfinding_payload.json
  editoast/src/views/mod.rs
  editoast/src/views/pathfinding/catenaries.rs
  editoast/src/views/pathfinding/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: add core module & POST/PUT /pathfinding
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/client/mod.rs
  editoast/src/core/mod.rs
  editoast/src/core/pathfinding.rs
  editoast/src/main.rs
  editoast/src/models/pathfinding.rs
  editoast/src/schema/utils/geometry.rs
  editoast/src/schema/utils/mod.rs
  editoast/src/tests/pathfinding_core_response.json
  editoast/src/tests/pathfinding_post_payload.json
  editoast/src/views/mod.rs
  editoast/src/views/pathfinding/catenaries.rs
  editoast/src/views/pathfinding/mod.rs
  editoast/src/views/rolling_stocks.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: improve CoreClient mocking API
  editoast/src/core/http_client.rs
  editoast/src/core/mocking.rs
  editoast/src/core/mod.rs
  editoast/src/core/pathfinding.rs
  editoast/src/main.rs
  editoast/src/views/mod.rs
  editoast/src/views/pathfinding/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: improve CoreClient mocking API
  editoast/src/core/http_client.rs
  editoast/src/core/mocking.rs
  editoast/src/core/mod.rs
  editoast/src/core/pathfinding.rs
  editoast/src/main.rs
  editoast/src/views/mod.rs
  editoast/src/views/pathfinding/mod.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: osm_to_railjson ignores ways that are not relevant
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: osm_to_railjson ignores ways that are not relevant
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: osm_to_railjson ignores ways that are not relevant
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
Owners: @DGEXSolutions/editoast-maintainers

front: editor: remove depency cycle
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/nav.tsx
  front/src/applications/editor/tools/list.ts
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/routeEdition/components/Endpoints.tsx
  front/src/applications/editor/tools/selection/tool.tsx
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/applications/editor/tools/types.ts
Owners: @DGEXSolutions/front-maintainers

front: editor: remove dependencies cycles
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/context.ts
  front/src/applications/editor/nav.tsx
  front/src/applications/editor/tools/commonToolState.ts
  front/src/applications/editor/tools/editorContextTypes.ts
  front/src/applications/editor/tools/list.ts
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/pointEdition/tool-factory.ts
  front/src/applications/editor/tools/pointEdition/types.ts
  front/src/applications/editor/tools/routeEdition/components.tsx
  front/src/applications/editor/tools/routeEdition/components/EditRouteMetadata.tsx
  front/src/applications/editor/tools/routeEdition/components/EditRoutePath.tsx
  front/src/applications/editor/tools/routeEdition/components/Endpoints.tsx
  front/src/applications/editor/tools/routeEdition/components/WayPointInput.tsx
  front/src/applications/editor/tools/routeEdition/tool.ts
  front/src/applications/editor/tools/routeEdition/types.ts
  front/src/applications/editor/tools/routeEdition/utils.ts
  front/src/applications/editor/tools/selection/components.tsx
  front/src/applications/editor/tools/selection/tool.tsx
  front/src/applications/editor/tools/selection/types.ts
  front/src/applications/editor/tools/speedSectionEdition/components.tsx
  front/src/applications/editor/tools/speedSectionEdition/components/EditLPVSection.tsx
  front/src/applications/editor/tools/speedSectionEdition/tool.ts
  front/src/applications/editor/tools/speedSectionEdition/types.ts
  front/src/applications/editor/tools/speedSectionEdition/utils.ts
  front/src/applications/editor/tools/switchEdition/components.tsx
  front/src/applications/editor/tools/switchEdition/tool.ts
  front/src/applications/editor/tools/switchEdition/types.ts
  front/src/applications/editor/tools/switchProps.ts
  front/src/applications/editor/tools/toolTypes.ts
  front/src/applications/editor/tools/tools.ts
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/applications/editor/tools/trackEdition/tool.ts
  front/src/applications/editor/tools/trackEdition/types.ts
  front/src/applications/editor/tools/types.ts
Owners: @DGEXSolutions/front-maintainers

front: editor: remove dependencies cycles
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/context.ts
  front/src/applications/editor/nav.tsx
  front/src/applications/editor/tools/commonToolState.ts
  front/src/applications/editor/tools/editorContextTypes.ts
  front/src/applications/editor/tools/list.ts
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/pointEdition/tool-factory.ts
  front/src/applications/editor/tools/pointEdition/types.ts
  front/src/applications/editor/tools/routeEdition/components.tsx
  front/src/applications/editor/tools/routeEdition/components/EditRouteMetadata.tsx
  front/src/applications/editor/tools/routeEdition/components/EditRoutePath.tsx
  front/src/applications/editor/tools/routeEdition/components/Endpoints.tsx
  front/src/applications/editor/tools/routeEdition/components/WayPointInput.tsx
  front/src/applications/editor/tools/routeEdition/tool.ts
  front/src/applications/editor/tools/routeEdition/types.ts
  front/src/applications/editor/tools/routeEdition/utils.ts
  front/src/applications/editor/tools/selection/components.tsx
  front/src/applications/editor/tools/selection/tool.tsx
  front/src/applications/editor/tools/selection/types.ts
  front/src/applications/editor/tools/speedSectionEdition/components.tsx
  front/src/applications/editor/tools/speedSectionEdition/components/EditLPVSection.tsx
  front/src/applications/editor/tools/speedSectionEdition/tool.ts
  front/src/applications/editor/tools/speedSectionEdition/types.ts
  front/src/applications/editor/tools/speedSectionEdition/utils.ts
  front/src/applications/editor/tools/switchEdition/components.tsx
  front/src/applications/editor/tools/switchEdition/tool.ts
  front/src/applications/editor/tools/switchEdition/types.ts
  front/src/applications/editor/tools/switchProps.ts
  front/src/applications/editor/tools/toolTypes.ts
  front/src/applications/editor/tools/tools.ts
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/applications/editor/tools/trackEdition/tool.ts
  front/src/applications/editor/tools/trackEdition/types.ts
  front/src/applications/editor/tools/types.ts
Owners: @DGEXSolutions/front-maintainers

front: editor: remove dependencies cycles
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/context.ts
  front/src/applications/editor/nav.tsx
  front/src/applications/editor/tools/commonToolState.ts
  front/src/applications/editor/tools/editorContextTypes.ts
  front/src/applications/editor/tools/list.ts
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/pointEdition/tool-factory.ts
  front/src/applications/editor/tools/pointEdition/types.ts
  front/src/applications/editor/tools/routeEdition/components.tsx
  front/src/applications/editor/tools/routeEdition/components/EditRouteMetadata.tsx
  front/src/applications/editor/tools/routeEdition/components/EditRoutePath.tsx
  front/src/applications/editor/tools/routeEdition/components/Endpoints.tsx
  front/src/applications/editor/tools/routeEdition/components/WayPointInput.tsx
  front/src/applications/editor/tools/routeEdition/tool.ts
  front/src/applications/editor/tools/routeEdition/types.ts
  front/src/applications/editor/tools/routeEdition/utils.ts
  front/src/applications/editor/tools/selection/components.tsx
  front/src/applications/editor/tools/selection/tool.tsx
  front/src/applications/editor/tools/selection/types.ts
  front/src/applications/editor/tools/speedSectionEdition/components.tsx
  front/src/applications/editor/tools/speedSectionEdition/components/EditLPVSection.tsx
  front/src/applications/editor/tools/speedSectionEdition/tool.ts
  front/src/applications/editor/tools/speedSectionEdition/types.ts
  front/src/applications/editor/tools/speedSectionEdition/utils.ts
  front/src/applications/editor/tools/switchEdition/components.tsx
  front/src/applications/editor/tools/switchEdition/tool.ts
  front/src/applications/editor/tools/switchEdition/types.ts
  front/src/applications/editor/tools/switchProps.ts
  front/src/applications/editor/tools/toolTypes.ts
  front/src/applications/editor/tools/tools.ts
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/applications/editor/tools/trackEdition/tool.ts
  front/src/applications/editor/tools/trackEdition/types.ts
  front/src/applications/editor/tools/types.ts
Owners: @DGEXSolutions/front-maintainers

front: editor: remove depency cycle
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/nav.tsx
  front/src/applications/editor/tools/list.ts
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/routeEdition/components/Endpoints.tsx
  front/src/applications/editor/tools/selection/tool.tsx
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/applications/editor/tools/types.ts
Owners: @DGEXSolutions/front-maintainers

front: editor: remove depency cycle
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/nav.tsx
  front/src/applications/editor/tools/list.ts
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/routeEdition/components/Endpoints.tsx
  front/src/applications/editor/tools/selection/tool.tsx
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/applications/editor/tools/types.ts
Owners: @DGEXSolutions/front-maintainers

editoast: remove println from test
  editoast/src/views/scenario.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: use log crate instead of println
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
  editoast/src/main.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: use log crate instead of println
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
  editoast/src/main.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: use log crate instead of println
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/converters/osm_to_railjson.rs
  editoast/src/converters/utils.rs
  editoast/src/main.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: remove println from test
  editoast/src/views/scenario.rs
Owners: @DGEXSolutions/editoast-maintainers

editoast: remove println from test
  editoast/src/views/scenario.rs
Owners: @DGEXSolutions/editoast-maintainers

actions: disable storybook build
  .github/workflows/front.yml
Owners: @flomonster, @multun

actions: disable storybook build
  .github/workflows/front.yml
Owners: @flomonster, @multun

actions: disable storybook build
  .github/workflows/front.yml
Owners: @flomonster, @multun

front: adapt to the new layer get angle directly
  front/src/applications/editor/tools/pointEdition/tool-factory.ts
  front/src/common/Map/Layers/geoSignalsLayers.ts
Owners: @DGEXSolutions/front-maintainers
