Repository OpenRailAssociation/osrd, pull requests merged in 2022-11, with the labels that each got.

#2248 editoast: split generated errors in different functions
  editoast/src/generated_data/error/buffer_stops.rs
  editoast/src/generated_data/error/detectors.rs
  editoast/src/generated_data/error/operational_points.rs
  editoast/src/generated_data/error/routes.rs
  editoast/src/generated_data/error/signals.rs
  editoast/src/generated_data/error/speed_sections.rs
  editoast/src/generated_data/error/switch_types.rs
  editoast/src/generated_data/error/switches.rs
  editoast/src/generated_data/error/track_section_links.rs
  editoast/src/generated_data/error/track_sections.rs
  editoast/src/schema/mod.rs
Labels: area:editoast

#2375 front: bugfix on snapped cursor #2365
  front/package.json
  front/src/applications/osrd/views/OSRDConfig/Map.tsx
  front/yarn.lock
Labels: area:front

#2425 Lots of little improvements & bugfixes
  front/src/applications/osrd/components/DriverTrainSchedule/DriverTrainScheduleHelpers.js
  front/src/applications/osrd/components/DriverTrainSchedule/DriverTrainScheduleModal.js
  front/src/applications/osrd/osrd.scss
  front/src/applications/osrd/views/OSRDConfig/Itinerary.js
  front/src/applications/osrd/views/OSRDSimulation/DriverTrainSchedule.js
  front/src/applications/osrd/views/OSRDSimulation/OSRDSimulation.tsx
  front/src/applications/osrd/views/OSRDSimulation/TimeTable.js
  front/src/applications/stdcm/views/OSRDStdcmResults.js
  front/src/common/BootstrapSNCF/ModalSNCF/ModalBodySNCF.js
Labels: area:front

#2432 front: rollingstock: lazy loading of imgs
  front/package.json
  front/src/applications/osrd/components/RollingStock/RollingStock2Img.js
  front/yarn.lock
Labels: area:front

#2431 core: make speed limit tags single values
  api/osrd_infra/views/train_schedule/standalone_simulation.py
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSStandaloneTrainSchedule.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/schedule/RJSTrainSchedule.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/graph/STDCMEdgeBuilder.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/graph/STDCMGraph.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/graph/STDCMPathfinding.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/graph/STDCMUtils.java
  core/src/main/java/fr/sncf/osrd/cli/StandaloneSimulationCommand.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/MRSP.java
  core/src/main/java/fr/sncf/osrd/infra/api/tracks/undirected/SpeedLimits.java
  core/src/main/java/fr/sncf/osrd/railjson/parser/RJSStandaloneTrainScheduleParser.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/java/fr/sncf/osrd/train/StandaloneTrainSchedule.java
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  core/src/test/java/fr/sncf/osrd/envelope/MRSPEnvelopeBuilderTest.java
  core/src/test/java/fr/sncf/osrd/envelope_sim/MaxSpeedEnvelopeTest.java
  core/src/test/java/fr/sncf/osrd/infra/tracks/directed/DirectedRJSParsingTests.java
  core/src/test/java/fr/sncf/osrd/infra/tracks/undirected/SpeedLimitsTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/FullSTDCMTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMHelpers.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMPathfindingTests.java
Labels: area:core
