Repository OpenRailAssociation/osrd, pull requests merged in 2022-12, with the labels that each got.

#2487 core: rename sim to sim-interlocking
  core/build.gradle
  core/kt-osrd-sim-interlocking/build.gradle
  core/kt-osrd-sim-interlocking/src/main/kotlin/fr/sncf/osrd/sim/interlocking/InterlockingSim.kt
  core/kt-osrd-sim-interlocking/src/main/kotlin/fr/sncf/osrd/sim/interlocking/impl/Location.kt
  core/kt-osrd-sim-interlocking/src/main/kotlin/fr/sncf/osrd/sim/interlocking/impl/MovableElements.kt
  core/kt-osrd-sim-interlocking/src/main/kotlin/fr/sncf/osrd/sim/interlocking/impl/Reservation.kt
  core/kt-osrd-sim-interlocking/src/main/kotlin/fr/sncf/osrd/sim/interlocking/impl/Routing.kt
  core/kt-osrd-sim-interlocking/src/test/kotlin/fr/sncf/osrd/sim/TestLocation.kt
  core/kt-osrd-sim-interlocking/src/test/kotlin/fr/sncf/osrd/sim/TestMovableElement.kt
  core/kt-osrd-sim-interlocking/src/test/kotlin/fr/sncf/osrd/sim/TestReservation.kt
  core/kt-osrd-sim-interlocking/src/test/kotlin/fr/sncf/osrd/sim/TestRouting.kt
  core/settings.gradle
Labels: kind:enhancement, area:signaling, area:simulation

#2508 editoast: fix clippy format string lint
  editoast/src/views/pagination.rs
Labels: kind:bug, area:editoast

#2574 editoast : add an endpoint to update the infra name
  editoast/openapi.yaml
  editoast/src/infra.rs
  editoast/src/views/infra/mod.rs
Labels: area:editoast

#2596 Front: Adn/add grid margin
  front/public/locales/fr/allowances.json
  front/src/applications/osrd/components/Simulation/Allowances/Allowances.js
  front/src/applications/osrd/components/Simulation/Allowances/StandardAllowanceDefault.js
  front/src/applications/osrd/components/Simulation/Allowances/consts.js
  front/src/applications/osrd/components/Simulation/Allowances/withOSRDData.tsx
  front/src/applications/osrd/components/Simulation/Allowances/withOSRDStdcmParams.tsx
  front/src/applications/osrd/consts.ts
  front/src/applications/osrd/views/OSRDConfig/OSRDConfig.js
  front/src/applications/osrd/views/OSRDSimulation/OSRDSimulation.tsx
  front/src/applications/stdcm/formatStcmConf.ts
  front/src/common/BootstrapSNCF/InputGroupSNCF.js
  front/src/reducers/osrdconf/index.ts
  front/src/utils/helpers.js
Labels: area:front
