Repository OpenRailAssociation/osrd, pull requests merged in 2023-02, with the labels that each got.

#3035 chartos: front: editoast: Drop `chartos`
  .github/dependabot.yml
  .github/workflows/chartos.yml
  .github/workflows/docker-build-push.yml
  .github/workflows/integration_tests.yml
  chartos/.gitignore
  chartos/Dockerfile
  chartos/README.md
  chartos/chartos.yml
  chartos/chartos/__init__.py
  chartos/chartos/app.py
  chartos/chartos/config.py
  chartos/chartos/dbinit.py
  chartos/chartos/layer_cache.py
  chartos/chartos/make_app.py
  chartos/chartos/psql.py
  chartos/chartos/redis.py
  chartos/chartos/settings.py
  chartos/chartos/utils/__init__.py
  chartos/chartos/utils/async_process.py
  chartos/chartos/utils/peekable_iterator.py
  chartos/chartos/utils/value_dependable.py
  chartos/chartos/views.py
  chartos/openapi.yaml
  chartos/poetry.lock
  chartos/pyproject.toml
  chartos/tests/__init__.py
  chartos/tests/conftest.py
  chartos/tests/test_data.py
  chartos/tests/test_tiles.py
  docker-compose-mac.yml
  docker-compose.yml
  editoast/src/infra.rs
  editoast/src/infra_cache/mod.rs
  editoast/src/main.rs
  editoast/src/map/bounding_box.rs
  editoast/src/map/layer_cache.rs
  editoast/src/map/map_layers.rs
  editoast/src/map/mod.rs
  editoast/src/map/redis_utils.rs
  editoast/src/schema/track_section.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/layers/info.rs
  editoast/src/views/layers/layer.rs
  editoast/src/views/layers/mvt_utils.rs
  front/package.json
  front/src/common/ReleaseInformations/ReleaseInformations.js
Labels: area:chartos

#3083 core: switch to gradle java toolchain
  core/build.gradle
  core/kt-fast-collections-annotations/build.gradle
  core/kt-fast-collections-generator/build.gradle
  core/kt-fast-collections/build.gradle
  core/kt-osrd-signaling/build.gradle
  core/kt-osrd-sim-infra/build.gradle
  core/kt-osrd-sim-interlocking/build.gradle
  core/kt-osrd-sncf-signaling/build.gradle
  core/kt-osrd-utils/build.gradle
  core/osrd-railjson/build.gradle
Labels: kind:bug, area:core

#3137 editoast: remove `/layers/info`
  editoast/openapi.yaml
  editoast/src/map/layers.rs
  editoast/src/map/mod.rs
  editoast/src/map/redis_utils.rs
  editoast/src/views/layers/info.rs
  editoast/src/views/layers/layer.rs
  editoast/src/views/layers/mod.rs
Labels: area:editoast

#3065 editoast: Add tests for mvt tile creation
  editoast/src/views/layers/mvt_utils.rs
Labels: area:editoast

#3194 api: Bring back `TileBBox` sql function
  api/osrd_infra/migrations/0009_tile_bbox.py
Labels: area:api

#3203 editoast: Setup sentry
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/client/mod.rs
  editoast/src/main.rs
Labels: area:editoast

#3214 front: Limit layers to be searched for SnappedMarker
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Map.tsx
Labels: kind:bug, area:front

#3264 editoast: use buildkit cache to do incremental builds
  editoast/Dockerfile
Labels: kind:enhancement, area:editoast

#3337 editoast: Use `cache_duration` when setting values in redis
  editoast/src/map/redis_utils.rs
  editoast/src/views/layers/mod.rs
Labels: area:editoast

#3338 front: Hide `Cantons` switch in map setting
  front/src/common/Map/Settings/MapSettingsLayers.jsx
Labels: area:front

#3316 front: implements new tabs
  front/src/common/Map/Search/MapSearch.jsx
  front/src/common/Tabs.tsx
  front/src/styles/scss/_overrideBootstrapSNCF.scss
Labels: area:front
