Repository OpenRailAssociation/osrd, pull requests merged in 2023-11, with the labels that each got.

#5551 editoast: fix stdcm types
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMRequest.java
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  editoast/src/core/stdcm.rs
  editoast/src/tests/small_infra/stdcm/test_1/stdcm_post_payload.json
  editoast/src/views/stdcm/mod.rs
  front/src/common/api/osrdEditoastApi.ts
  tests/tests/test_stdcm.py
Labels: area:editoast

#5527 front: reorga scss of project, study and scenario components
  front/src/applications/editor/tools/rangeEdition/speedSection/PslSignCard.tsx
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/applications/operationalStudies/views/Study.tsx
  front/src/modules/modules.scss
  front/src/modules/project/components/ProjectCard.tsx
  front/src/modules/project/components/ProjectCardEmpty.tsx
  front/src/modules/project/styles/_addOrEditProjectModal.scss
  front/src/modules/project/styles/_projectCard.scss
  front/src/modules/project/styles/_projectSelectionToolbar.scss
  front/src/modules/project/styles/project.scss
  front/src/modules/scenario/components/ScenarioCard.tsx
  front/src/modules/scenario/components/ScenarioCardEmpty.tsx
  front/src/modules/scenario/styles/_addOrEditScenarioModal.scss
  front/src/modules/scenario/styles/_scenarioCard.scss
  front/src/modules/scenario/styles/_scenarioLoaderMessage.scss
  front/src/modules/scenario/styles/scenario.scss
  front/src/modules/study/components/StudyCard.tsx
  front/src/modules/study/components/StudyCardEmpty.tsx
  front/src/modules/study/styles/_addOrEditStudyModal.scss
  front/src/modules/study/styles/_studyCard.scss
  front/src/modules/study/styles/study.scss
  front/src/stories/storybook.css
  front/src/styles/scss/applications/_operationalStudies.scss
  front/src/styles/scss/applications/operationalStudies/_home.scss
  front/src/styles/scss/applications/operationalStudies/_project.scss
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
  front/src/styles/scss/applications/operationalStudies/_study.scss
  front/src/styles/scss/common/_components.scss
  front/src/styles/scss/common/components/_infraLoadingState.scss
  front/tests/pages/scenario-page-model.ts
Labels: area:front, kind:refacto-task

#5637 editoast: study with missing dates are valid
  editoast/src/models/projects.rs
  editoast/src/models/study.rs
  editoast/src/views/study.rs
Labels: kind:bug, area:editoast

#5607 front: rework layer activation
  front/public/locales/en/map-settings.json
  front/public/locales/en/translation.json
  front/public/locales/fr/map-settings.json
  front/public/locales/fr/translation.json
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/components/LayersModal.tsx
  front/src/applications/editor/nav.tsx
  front/src/applications/editor/tools/rangeEdition/catenary/CatenaryEditionLayers.tsx
  front/src/applications/editor/tools/rangeEdition/speedSection/SpeedSectionEditionLayers.tsx
Labels: kind:bug, area:front, module:infra-editor

#5692 front: editor: fix route tool selection
  front/src/applications/editor/tools/routeEdition/components/Endpoints.tsx
  front/src/applications/editor/tools/routeEdition/components/WayPointInput.tsx
Labels: kind:bug, area:front, module:infra-editor

#5647 front: add placeholders in rolling stock editor form
  front/public/locales/en/rollingstock.json
  front/public/locales/fr/rollingstock.json
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorForm.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorFormHelpers.tsx
  front/src/modules/rollingStock/consts.ts
  front/src/modules/rollingStock/helpers/utils.ts
  front/src/styles/scss/applications/rollingStockEditor/_rollingStockForm.scss
Labels: area:front

#5554 front: force apply space occupation rect on eco
  front/src/modules/simulationResult/components/SpaceTimeChart/drawTrain.ts
Labels: area:front, module:operational-studies

#5744 front: fix ApiError import
  front/src/common/ErrorBoundary.tsx
Labels: kind:bug, area:front, severity:critical

#5727 front: operationnalstudies: fix error not display for train update
  front/public/locales/en/operationalStudies/manageTrainSchedule.json
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/modules/trainschedule/components/ManageTrainSchedule/SubmitConfUpdateTrainSchedules.tsx
Labels: area:front

#5581 front: fix slopes editor form validation
  front/src/applications/editor/components/EditorForm.tsx
  front/src/applications/editor/components/LinearMetadata/FormComponent.tsx
  front/src/applications/editor/components/LinearMetadata/tooltip.tsx
  front/src/applications/editor/tools/trackEdition/utils.ts
  front/src/common/IntervalsDataViz/IntervalItem.tsx
  front/src/common/IntervalsDataViz/data.ts
  front/src/common/IntervalsDataViz/dataviz.tsx
  front/src/common/IntervalsDataViz/style.scss
  front/src/types/editor.ts
Labels: kind:bug, area:front, module:infra-editor

#5726 front: editor: improve buffer stops and detectors visibility
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/tools/routeEdition/components.tsx
  front/src/applications/editor/tools/routeEdition/tool.ts
  front/src/common/Map/Layers/Detectors.tsx
Labels: kind:bug, area:front, module:infra-editor

#5753 front: fix miniscroll on tags and refacto chips style
  front/src/common/BootstrapSNCF/ChipsSNCF.tsx
  front/src/modules/study/styles/_studyCard.scss
  front/src/styles/scss/_overrideBootstrapSNCF.scss
Labels: area:front

#5662 front: sort curves in rs editor
  front/src/applications/editor/tools/routeEdition/components.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorCurves.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/__tests__/RollingStockEditorCurves.spec.ts
  front/src/modules/rollingStock/helpers/utils.ts
Labels: area:front, module:rollingstocks-editor

#5629 front: upload picture error notification
  front/public/locales/en/operationalStudies/project.json
  front/public/locales/fr/operationalStudies/project.json
  front/src/applications/operationalStudies/components/Project/PictureUploader.tsx
  front/src/modules/project/components/AddOrEditProjectModal.tsx
Labels: kind:bug, area:front

#5678 front: Add minzoom = 5 for all editoast layers that missed a minZoom
  front/src/common/Map/Layers/Detectors.tsx
  front/src/common/Map/Layers/OperationalPoints.tsx
  front/src/common/Map/Layers/Switches.tsx
  front/src/common/Map/Layers/geographiclayers.ts
Labels: kind:enhancement, area:front

#5812 front: map: add switch button for smooth-travel on map
  front/public/locales/en/map-settings.json
  front/public/locales/fr/map-settings.json
  front/src/common/Map/Search/MapSearch.tsx
  front/src/common/Map/Settings/MapSettingsBackgroundSwitches.tsx
  front/src/reducers/map/index.ts
  front/src/reducers/map/selectors.ts
Labels: area:front, module:carto

#5829 front: editor: small ui improvements on infra error list
  front/src/applications/editor/Editor.scss
  front/src/applications/editor/components/InfraErrors/InfraErrorsList.tsx
Labels: difficulty:good first issue, area:front, kind:design

#5820 editoast: migrate /auto_fixes to use utoipa
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  editoast/src/schema/mod.rs
  editoast/src/schema/operation/mod.rs
  editoast/src/views/infra/auto_fixes.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/mod.rs
  front/src/common/api/osrdEditoastApi.ts
Labels: area:editoast

#5900 front: attributions: add missing mgltraffic attribution
  front/src/common/ReleaseInformations/LicenseAttributions.tsx
Labels: area:front

#5902 front: stdcm: disable possibility of negative values in allowances
  front/src/modules/stdcmAllowances/components/StdcmAllowances.tsx
Labels: area:front, module:stdcm

#5901 front: oprationnalstudies: adds label maxlength, maxwidth and elipsis
  front/src/modules/project/styles/_projectCard.scss
  front/src/modules/scenario/styles/_scenarioCard.scss
  front/src/modules/study/styles/_studyCard.scss
Labels: area:front, module:operational-studies

#5914 front:fix selected projection displayed ops
  front/src/modules/simulationResult/components/SpaceTimeChart/d3Helpers.ts
Labels: area:front

#5925 front: operationalstudies: fix conflicts not displayed with two trains same departure
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/SubmitConfAddTrainSchedule.tsx
  front/src/modules/trainschedule/components/Timetable/Timetable.tsx
  front/src/modules/trainschedule/components/Timetable/TimetableManageTrainSchedule.tsx
Labels: area:front, module:operational-studies
