Repository OpenRailAssociation/osrd, pull requests merged in 2023-01, with the labels that each got.

#2747 Remove typo in `core` and `editoast` openapi description
  api/openapi.yaml
  core/openapi.yaml
  editoast/openapi.yaml
Labels: area:core, area:editoast

#2833 editoast: Remove dead code in `postgres_config.rs`
  editoast/src/client/postgres_config.rs
Labels: area:editoast

#2834 editoast: wrong link in `README.md`
  editoast/README.md
Labels: area:editoast

#2824 editoast: Implement `get_tiles_to_invalidate()`
  editoast/src/chartos/layer_cache.rs
  editoast/src/chartos/mod.rs
Labels: area:editoast

#2828 editoast: Add redis connection
  .github/workflows/editoast.yml
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/client/mod.rs
  editoast/src/client/redis_config.rs
  editoast/src/db_connection.rs
  editoast/src/main.rs
  editoast/src/views/mod.rs
Labels: area:editoast

#2881 editoast: add redis TLS feature
  editoast/Cargo.lock
  editoast/Cargo.toml
Labels: area:editoast

#2832 editoast: Parse and expose `chartos.yml`
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/map_layers.yml
  editoast/openapi.yaml
  editoast/src/chartos/map_layers.rs
  editoast/src/chartos/mod.rs
  editoast/src/main.rs
  editoast/src/views/layers/info.rs
  editoast/src/views/layers/mod.rs
  editoast/src/views/mod.rs
Labels: area:editoast

#2917 editoast: Fix openapi `/layers/info/`
  editoast/openapi.yaml
Labels: area:editoast

#2912 editoast: Add `mvt_view_metadata()` route to editoast
  editoast/README.md
  editoast/map_layers.yml
  editoast/openapi.yaml
  editoast/src/chartos/map_layers.rs
  editoast/src/chartos/mod.rs
  editoast/src/client/mod.rs
  editoast/src/main.rs
  editoast/src/views/layers/layer.rs
  editoast/src/views/layers/mod.rs
Labels: area:editoast

#2953 Editoast: Invalidate cache without chartos
  .github/workflows/editoast.yml
  docker-compose-mac.yml
  docker-compose.yml
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/chartos/layer_cache.rs
  editoast/src/chartos/mod.rs
  editoast/src/chartos/redis_utils.rs
  editoast/src/client/chartos_config.rs
  editoast/src/client/mod.rs
  editoast/src/main.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/mod.rs
Labels: area:editoast

#3000 core: fix generated ArrayList not updating their capacity
  core/kt-fast-collections-generator/src/main/kotlin/collections/ArrayList.kt
Labels: kind:bug, area:core
