Repository OpenRailAssociation/osrd, pull requests merged in 2023-12, with the labels that each got.

#5909 Add infra error corrector :magic_wand:
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/applications/editor/Editor.scss
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/components/InfraErrors/InfraErrorCorrector.tsx
  front/src/applications/editor/components/InfraErrors/InfraErrorCorrectorModal.tsx
  front/src/applications/editor/components/InfraErrors/InfraErrorMapControl.tsx
  front/src/applications/editor/tools/types.ts
  front/src/assets/pictures/magic_wand.svg
  front/src/common/BootstrapSNCF/ModalSNCF/ConfirmModal.tsx
  front/src/reducers/editor/index.ts
Labels: area:front, module:infra-editor

#5966 front: operationnalstudies: fix tags display in project-study-scenario cards
  front/src/modules/project/components/ProjectCard.tsx
  front/src/modules/project/styles/_projectCard.scss
  front/src/modules/scenario/components/ScenarioCard.tsx
  front/src/modules/scenario/styles/_scenarioCard.scss
  front/src/modules/study/components/StudyCard.tsx
  front/src/modules/study/styles/_studyCard.scss
Labels: area:front, module:operational-studies

#5961 front: operationalstudies: fix scenario and study card names wrong display when too long
  front/src/modules/scenario/components/ScenarioCard.tsx
  front/src/modules/scenario/styles/_scenarioCard.scss
  front/src/modules/study/components/StudyCard.tsx
  front/src/modules/study/styles/_studyCard.scss
Labels: area:front, module:operational-studies

#5987 .github: ensure editoast tests are not run in parallel (for now)
  .github/workflows/build.yml
Labels: area:ci

#5974 editoast: fix latest nightly warnings
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/generated_data/signal.rs
  editoast/src/main.rs
  editoast/src/models/mod.rs
  editoast/src/schema/mod.rs
  editoast/src/views/pagination.rs
Labels: area:editoast

#5979 front: rollingstockeditor: set default mode to thermal when adding this mode to an electric rs
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorCurves.tsx
Labels: area:front, module:rollingstocks-editor

#5992 Temporarily remove timeline, fix filter bug, fix signals pk
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/applications/operationalStudies/views/Study.tsx
  front/src/common/Map/Layers/KPLabel.ts
  front/src/main/home.jsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Allowances/Allowances.tsx
Labels: area:front

#6098 README: update port to match gateway
  README.md
Labels: kind:documentation, area:gateway

#6099 front: fix project, study and scenario modal
  front/src/modules/project/styles/_addOrEditProjectModal.scss
  front/src/modules/scenario/styles/_addOrEditScenarioModal.scss
  front/src/modules/study/styles/_addOrEditStudyModal.scss
Labels: kind:bug, area:front, module:operational-studies

#6145 Add editoast ci code to operational point search
  editoast/migrations/2023-12-18-145922_search_op_rename_table/down.sql
  editoast/migrations/2023-12-18-145922_search_op_rename_table/up.sql
  editoast/migrations/2023-12-19-122428_search_op_ci_code/down.sql
  editoast/migrations/2023-12-19-122428_search_op_ci_code/up.sql
  editoast/openapi.yaml
  editoast/src/tables.rs
  editoast/src/views/search/objects.rs
  editoast/src/views/search/search_object.rs
  front/src/common/api/osrdEditoastApi.ts
Labels: area:editoast

#6162 Adapt editoast testing fixture for model v2
  editoast/src/fixtures.rs
  editoast/src/models/documents.rs
  editoast/src/models/mod.rs
  editoast/src/models/projects.rs
  editoast/src/models/rolling_stock/rolling_stock_livery.rs
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/views/documents.rs
  editoast/src/views/pathfinding/electrical_profiles.rs
Labels: area:editoast

#6176 front: fix KP for OP + overlapping rules for CH
  front/src/common/Map/Layers/KPLabel.ts
  front/src/common/Map/Layers/OperationalPoints.tsx
Labels: area:front

#6189 front: remove not necessary api call for scenario/study
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/applications/operationalStudies/views/Study.tsx
Labels: area:front

#6230 python: fix railjson_generator bug (simulation_builder)
  python/railjson_generator/railjson_generator/simulation_builder.py
Labels: kind:bug, area:railjson, severity:minor, component:railjson_generator, python
