Repository OpenRailAssociation/osrd, pull requests merged in 2023-07, with the labels that each got.

#4497 front: driverTrainSchedul: simple refacto & base OR eco switch
  front/public/locales/en/operationalStudies/drivertrainschedule.json
  front/public/locales/fr/operationalStudies/drivertrainschedule.json
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainSchedule.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleContent.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleHeader.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleHelpers.ts
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleStop.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleStopList.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleTypes.tsx
Labels: area:front

#4530 front: only fetch simulation results if train_schedule_summaries is not empty
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleModal.jsx
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
Labels: area:front

#4535 front: editor - fix speed limit by tag edition
  front/src/applications/editor/tools/rangeEdition/speedSection/SpeedSectionMetadataForm.tsx
Labels: area:front, module:infra-editor

#4636 editoast: Add ROOT_PATH support
  editoast/src/client/mod.rs
  editoast/src/main.rs
Labels: area:editoast

#4645 editoast: remove .cargo/config.toml
  .cargo/config.toml
Labels: area:editoast

#4652 core: kt-infra: migrate pathfinding constraints
  core/config/checkstyle/checkstyle.xml
  core/config/spotbugs/exclude.xml
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/Path.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/PathImpl.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeMapImpl.kt
  core/kt-osrd-utils/src/test/kotlin/fr/sncf/osrd/utils/TestDistanceRangeMap.kt
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingRoutesEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/ConstraintCombiner.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/ElectrificationConstraints.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/LegacyElectrificationConstraints.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/LegacyLoadingGaugeConstraints.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/LoadingGaugeConstraints.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/constraints/PathfindingUtils.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/constraints/ElectrificationConstraintsTest.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/constraints/LegacyElectrificationConstraintsTest.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/constraints/LoadingGaugeConstraintsTest.java
Labels: area:core, component:pathfinding

#4671 editoast: Add support for redis cluster
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/client/redis_config.rs
  editoast/src/main.rs
  editoast/src/map/mod.rs
  editoast/src/map/redis_utils.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/layers/mod.rs
  editoast/src/views/mod.rs
Labels: area:editoast

#4621 front: intervals editor, fix bugs
  front/public/locales/en/common/common.json
  front/public/locales/fr/common/common.json
  front/src/common/IntervalsDataViz/data.ts
  front/src/common/IntervalsDataViz/dataviz.tsx
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/common/IntervalsEditor/IntervalsEditorCommonForm.tsx
  front/src/common/IntervalsEditor/IntervalsEditorMarginForm.tsx
  front/src/common/IntervalsEditor/IntervalsEditorSelectForm.tsx
  front/src/common/IntervalsEditor/IntervalsEditorToolButtons.tsx
  front/src/common/IntervalsEditor/ZoomButtons.tsx
  front/src/common/IntervalsEditor/types.ts
  front/src/stories/IntervalsEditor.stories.tsx
Labels: area:front

#3168 Propagating the "transient error" functionality to electrical profile sets
  core/osrd-reporting/src/main/java/fr/sncf/osrd/reporting/exceptions/ErrorType.java
  core/osrd-reporting/src/main/java/fr/sncf/osrd/reporting/exceptions/OSRDError.java
  core/src/main/java/fr/sncf/osrd/api/ElectricalProfileSetManager.java
  core/src/test/java/fr/sncf/osrd/api/ApiTest.java
  core/src/test/java/fr/sncf/osrd/api/ElectricalProfileSetManagerTest.java
Labels: area:core, kind:feature-task

#4695 core: kt-infra: migrate MRSP
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/Path.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/PathImpl.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/units/Speed.kt
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/LegacyMRSP.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/MRSP.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMSimulations.java
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
  core/src/main/kotlin/fr/sncf/osrd/utils/JavaInteroperabilityTools.kt
  core/src/test/java/fr/sncf/osrd/DriverBehaviourTest.java
  core/src/test/java/fr/sncf/osrd/envelope_sim_infra/LegacyMRSPTest.java
  core/src/test/java/fr/sncf/osrd/envelope_sim_infra/MRSPTest.java
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/PathTests.kt
Labels: area:core, module:stdcm

#4710 core: fix spacing requirements for the first zone after a signal
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
Labels: kind:bug, severity:major
