Repository OpenRailAssociation/osrd, pull requests merged in 2023-03, with the labels that each got.

#3371 front: fix typo on the editor
  front/public/locales/fr/translation.json
Labels: area:front

#3369 front: remove useless requests in Scenario page
  front/src/applications/operationalStudies/views/Scenario.jsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
Labels: area:front

#3331 front: fix-bug: set default standard allowance type to percentage instead of time
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/allowancesConsts.jsx
  front/src/applications/stdcm/formatStcmConf.ts
Labels: area:front

#3326 api: Split `TrainSchedule` input and output
  python/api/osrd_infra/admin.py
  python/api/osrd_infra/migrations/0012_simulationoutput_trainschedule_and_more.py
  python/api/osrd_infra/models/__init__.py
  python/api/osrd_infra/models/simulation_output.py
  python/api/osrd_infra/models/train_schedule.py
  python/api/osrd_infra/serializers.py
  python/api/osrd_infra/tests/test_stdcm.py
  python/api/osrd_infra/views/stdcm.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation.py
  python/api/osrd_infra/views/train_schedule/standalone_simulation_report.py
  python/api/osrd_infra/views/train_schedule/train_schedule.py
  tests/tests/stdcm/empty_timetable.py
Labels: area:api

#3313 front: linter - enforce no-console rule + auto-fix
  front/.eslintrc
  front/src/applications/customget/components/drawText.jsx
  front/src/applications/customget/components/enableInteractivity.jsx
  front/src/applications/editor/components/LinearMetadata/data.test.ts
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleModal.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleStationSelector.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleTrainsList.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/ModalPathJSONDetail.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SpeedLimitByTagSelector.jsx
  front/src/applications/operationalStudies/components/Scenario/AddOrEditScenarioModal.tsx
  front/src/applications/operationalStudies/components/Scenario/Timetable.jsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/Allowances.jsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/MarecoMultiRange.jsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/StandardAllowanceDefault.jsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/withOSRDData.tsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/withOSRDStdcmParams.tsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/enableInteractivity.jsx
  front/src/applications/operationalStudies/components/SimulationResults/simulationResultsHelpers.jsx
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
  front/src/applications/operationalStudies/views/ImportTrainSchedule.tsx
  front/src/applications/operationalStudies/views/Study.jsx
  front/src/applications/referenceMap/Map.tsx
  front/src/applications/stdcm/getStdcmTimetable.jsx
  front/src/applications/stdcm/views/StdcmRequestModal.jsx
  front/src/common/ErrorBoundaries/ErrorBoundary.jsx
  front/src/common/InfraSelector/InfraSelector.jsx
  front/src/common/InfraSelector/InfraSelectorEditionActionsBar.jsx
  front/src/common/InfraSelector/InfraSelectorEditionActionsBarDelete.jsx
  front/src/common/InfraSelector/InfraSelectorModal.tsx
  front/src/common/InfraSelector/InfraSelectorModalBodyEdition.jsx
  front/src/common/Map/Search/MapSearchSignal.jsx
  front/src/common/Map/Search/MapSearchSignalBox.jsx
  front/src/common/Map/Search/MapSearchStation.jsx
  front/src/common/Map/Settings/MapSettingsSpeedLimits.jsx
  front/src/common/RollingStockSelector/RollingStock2Img.jsx
  front/src/common/RollingStockSelector/RollingStockCardDetail.jsx
  front/src/common/RollingStockSelector/RollingStockModal.jsx
  front/src/common/RollingStockSelector/RollingStockSelector.jsx
  front/src/common/ScenarioExplorator/ScenarioExploratorModal.tsx
  front/src/index.tsx
  front/src/reducers/osrdsimulation/simulation.js
  front/src/reducers/profile.js
  front/src/utils/helpers.js
  front/src/utils/reducerHelpers.js
Labels: area:front

#3400 front: fix infra selector in editor
  front/src/applications/editor/components/InfraSelectionModal.tsx
  front/src/applications/editor/nav.ts
  front/src/common/InfraSelector/InfraSelector.jsx
  front/src/common/InfraSelector/InfraSelectorModal.tsx
Labels: area:front

#3413 front: fix modal close on route change
  front/src/common/BootstrapSNCF/ModalSNCF/ModalProvider.jsx
Labels: area:front, severity:minor

#3415 front: fix history update behaviour on map move
  front/src/applications/referenceMap/Map.tsx
  front/src/reducers/map/index.ts
Labels: area:front, severity:critical

#3423 front: fix: Énergie consommée typo
  front/public/locales/fr/drivertrainschedule.json
Labels: kind:bug, area:front

#3429 front: GEV: fix reset function in GEV
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
Labels: area:front

#3125 Vcs/electrical profile endpoint
  editoast/openapi.yaml
  editoast/src/client/mod.rs
  editoast/src/main.rs
  editoast/src/schema/electrical_profiles.rs
  editoast/src/views/electrical_profiles.rs
  editoast/src/views/mod.rs
Labels: area:editoast

#3462 front: tests: fix RTK config and add integration test
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
  front/src/config/openapi-middleware-config.ts
  tests/tests/test_rtk_sync.py
Labels: area:front

#3508 front: Fix creation and update project with image
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
Labels: area:front

#3518 front: linter - decrease number authorized errors
  front/package.json
  front/scripts/generate-types.sh
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/Allowances.jsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/StandardAllowanceDefault.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/SpaceTimeChart.jsx
  front/src/common/api/osrdEditoastApi.ts
  front/vite.config.ts
Labels: area:front

#3535 api: Fix column with `Integer` type instead of `BigInt`
  python/api/osrd_infra/migrations/0017_migrate_integer_reference_to_bigint.py
  python/api/osrd_infra/migrations/__init__.py
Labels: area:api

#3512 api: Remove unused `timetable` endpoints
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/openapi.yaml
  python/api/osrd_infra/views/timetable.py
Labels: area:api

#3556 front: fix generated file with rtk
  front/src/common/api/osrdEditoastApi.ts
Labels: area:front

#3519 editoast: migrate endpoint GET rolling_stock/{id}/livery/{id}
  editoast/openapi.yaml
  editoast/src/documents.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/rolling_stock.rs
  editoast/src/schema/rolling_stock_image.rs
  editoast/src/schema/rolling_stock_livery.rs
  editoast/src/tables.rs
  editoast/src/tests/example_rolling_stock_image_1.gif
  editoast/src/tests/example_rolling_stock_image_2.gif
  editoast/src/views/light_rolling_stocks.rs
  editoast/src/views/rolling_stocks.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/openapi.yaml
  python/api/osrd_infra/migrations/0018_alter_rollingstocklivery_compound_image.py
  python/api/osrd_infra/models/rolling_stock.py
Labels: area:editoast

#3557 front: add settings for VITE warnings & errors overlay
  front/.env.local.defaults
  front/vite.config.ts
Labels: area:front

#3541 Adn/separate stdcm store
  front/src/applications/operationalStudies/Home.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleModal.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/AddTrainLabels.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/AddTrainSchedule.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Vias.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayVias.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/ModalPathJSONDetail.jsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderItinerary.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderItineraryMarkers.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/ManageTrainScheduleMap/RenderMapTrainMarker.jsx
  front/src/applications/operationalStudies/components/Scenario/Timetable.jsx
  front/src/applications/operationalStudies/components/Scenario/getTimetable.jsx
  front/src/applications/operationalStudies/components/SimulationResults/Allowances/withOSRDStdcmParams.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/Scenario.jsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/applications/stdcm/formatStcmConf.ts
  front/src/applications/stdcm/views/OSRDSTDCM.jsx
  front/src/applications/stdcm/views/StdcmRequestModal.jsx
  front/src/common/Map/Layers/BufferStops.tsx
  front/src/common/Map/Layers/Catenaries.tsx
  front/src/common/Map/Layers/GeoJSONs.tsx
  front/src/common/Map/Layers/OperationalPoints.tsx
  front/src/common/Map/Layers/Routes.tsx
  front/src/common/Map/Layers/Signals.tsx
  front/src/common/Map/Layers/SpeedLimits.tsx
  front/src/common/Map/Layers/Switches.tsx
  front/src/common/Map/Layers/TracksGeographic.tsx
  front/src/common/Map/Layers/TracksSchematic.tsx
  front/src/common/Map/Layers/extensions/SNCF/SNCF_LPV.tsx
  front/src/common/Map/Layers/extensions/SNCF/SNCF_LPV_PANELS.tsx
  front/src/common/Map/Search/MapSearchStation.jsx
  front/src/common/Map/Settings/MapSettingsSpeedLimits.jsx
  front/src/common/ScenarioExplorator/ScenarioExplorator.tsx
  front/src/reducers/__tests__/osrdconf.spec.ts
  front/src/reducers/editor.ts
  front/src/reducers/index.ts
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdconf/selectors.ts
Labels: area:front

#3539 front : display power notchs info in rolling stocks modal
  front/public/locales/fr/rollingstock.json
  front/src/common/RollingStockSelector/RollingStockCardDetail.jsx
Labels: area:front

#3616 front: GEV - fix bug when resize the chart
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
Labels: kind:bug, area:front

#3626 front: bug: Fix overlap map
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Labels: area:front

#3635 front: stdcm - GEV overflows on GET
  front/src/applications/stdcm/views/OSRDStdcmResults.jsx
Labels: kind:bug, area:front

#3648 front: bugfix on chipsncf & trainlabel (use new selectors)
  front/src/applications/operationalStudies/components/ManageTrainSchedule/TrainLabels.jsx
  front/src/common/BootstrapSNCF/ChipsSNCF.jsx
Labels: area:front

#3668 front: GET - fix coordinated cursors
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/SpaceTimeChart.jsx
Labels: area:front

#3700 core: Remove `python_interactive_client/`
  core/src/python_interactive_client/osrd_interactive.py
  core/src/python_interactive_client/test.py
Labels: area:core

#3671 front: clean GEV
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/SpeedSpaceChart.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/withOSRDData.jsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/applications/stdcm/views/OSRDStdcmResults.jsx
  front/src/stories/SpeedSpaceChart.stories.tsx
Labels: area:front

#3690 tests: Remove `setup_dummy_db`
  python/api/osrd_infra/management/commands/setup_dummy_db.py
  tests/conftest.py
  tests/tests/test_scenario.py
  tests/tests/test_simulation.py
  tests/tests/test_stdcm.py
  tests/tests/test_train_schedule.py
  tests/tests/utils/simulation.py
  tests/tests/utils/stdcm.py
Labels: area:tests

#3726 editoast: Setup `rstest` and add and use `fast_rolling_stock` fixture
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/fixtures.rs
  editoast/src/generated_data/error/buffer_stops.rs
  editoast/src/generated_data/error/track_sections.rs
  editoast/src/main.rs
  editoast/src/models/mod.rs
  editoast/src/models/rolling_stock_models/rolling_stock.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/rolling_stock_image.rs
  editoast/src/schema/rolling_stock_livery.rs
  editoast/src/schema/rolling_stock_schema/rolling_stock.rs
  editoast/src/views/light_rolling_stocks.rs
  editoast/src/views/rolling_stocks.rs
Labels: area:editoast

#3672 tests: Make e2e tests call the backend
  .github/workflows/integration_tests.yml
  front/playwright.config.ts
  front/src/common/RollingStockSelector/RollingStockCard.jsx
  front/tests/assets/common/rollingStock.json
  front/tests/assets/operationStudies/project.json
  front/tests/assets/operationStudies/scenario.json
  front/tests/assets/operationStudies/study.json
  front/tests/assets/operationStudies/timetable.json
  front/tests/operational-studies.spec.ts
  front/tests/stdcm-page.spec.ts
  tests/conftest.py
  tests/tests/test_e2e.py
  tests/tests/test_scenario.py
  tests/tests/test_simulation.py
  tests/tests/test_stdcm.py
  tests/tests/test_timetable.py
  tests/tests/test_with_fuzzer.py
  tests/tests/utils/timetable.py
Labels: area:front, area:tests
