Repository OpenRailAssociation/osrd, pull requests merged in 2023-10, with the labels that each got.

#5174 front: remove unused languages from i18n config
  front/src/i18n.ts
Labels: area:front

#5164 front: add loader when deleting an infra
  front/public/locales/en/infraManagement.json
  front/src/common/InfraSelector/InfraSelector.scss
  front/src/common/InfraSelector/InfraSelectorEditionActionsBarDelete.tsx
  front/src/common/InfraSelector/InfraSelectorEditionItem.tsx
Labels: area:front

#5105 front: convert helpers.js to ts
  front/src/applications/referenceMap/PopupInfosCustom.jsx
  front/src/common/BootstrapSNCF/FormSNCF/DebouncedNumberInputSNCF.tsx
  front/src/common/Map/WarpedMap/WarpedMap.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Itinerary/DisplayVias.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/TrainSettings.tsx
  front/src/reducers/map/index.ts
  front/src/utils/helpers.js
  front/src/utils/helpers.ts
Labels: area:front, kind:refacto-task

#4992 front: stdcm: convert remaining js files to ts
  front/package.json
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/stdcm/Home.tsx
  front/src/applications/stdcm/consts.ts
  front/src/applications/stdcm/fakeSimulation.jsx
  front/src/applications/stdcm/formatStcmConf.ts
  front/src/applications/stdcm/types.ts
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/applications/stdcm/views/OSRDSTDCM.tsx
  front/src/applications/stdcm/views/StdcmRequestModal.tsx
Labels: area:front, kind:refacto-task

#5214 front: infra is displayed on the warped map
  front/src/common/Map/WarpedMap/DataLoader.tsx
  front/src/common/Map/WarpedMap/WarpedMap.tsx
Labels: area:front

#5227 front: migrate chartHelpers files to ts
  front/src/applications/operationalStudies/consts.ts
  front/src/modules/simulationResult/components/ChartHelpers/drawCurve.jsx
  front/src/modules/simulationResult/components/ChartHelpers/drawCurve.ts
  front/src/modules/simulationResult/components/ChartHelpers/drawElectricalProfile.jsx
  front/src/modules/simulationResult/components/ChartHelpers/drawElectricalProfile.ts
  front/src/modules/simulationResult/components/ChartHelpers/drawHelpers.ts
  front/src/modules/simulationResult/components/ChartHelpers/drawPowerRestriction.ts
  front/src/modules/simulationResult/components/ChartHelpers/svgDefs.ts
  front/src/modules/simulationResult/components/SpaceCurvesSlopes.tsx
  front/src/modules/simulationResult/components/SpeedSpaceChart/d3Helpers.ts
  front/src/utils/types.ts
  front/yarn.lock
Labels: area:front

#5271 front: fix cursor position on space time chart on mouse move
  front/src/modules/simulationResult/components/ChartHelpers/enableInteractivity.jsx
  front/src/modules/simulationResult/components/SpaceTimeChart/SpaceTimeChart.tsx
  front/src/modules/simulationResult/components/SpeedSpaceChart/SpeedSpaceChart.tsx
  front/src/modules/trainschedule/components/Timetable/Timetable.tsx
Labels: area:front

#5241 core: separate chunk path from PathProperties
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/PathProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/PathPropertiesImpl.kt
  core/src/main/java/fr/sncf/osrd/api/SignalProjectionEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/utils/PathPropUtils.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/java/fr/sncf/osrd/stdcm/STDCMResult.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMPostProcessing.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMUtils.java
  core/src/test/java/fr/sncf/osrd/Helpers.java
  core/src/test/java/fr/sncf/osrd/api/pathfinding/PathfindingResultConverterTest.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/ConflictDetectionTest.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractorTests.java
  core/src/test/java/fr/sncf/osrd/stdcm/STDCMHelpers.java
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/PathPropertiesTests.kt
Labels: area:core

#5284 core: stdcm: memoize simulateBlock
  core/src/main/java/fr/sncf/osrd/stdcm/graph/BlockSimulationParameters.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMEdgeBuilder.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMGraph.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMSimulations.java
  core/src/main/java/fr/sncf/osrd/stdcm/preprocessing/implementation/BlockAvailabilityLegacyAdapter.java
Labels: area:core, module:stdcm

#5393 tests: avoid failing if fast_rolling_stock already exists
  tests/conftest.py
  tests/fuzzer/fuzzer.py
Labels: kind:tests, area:integration-tests, python

#5416 tests: look up infra by name in the fuzzer
  tests/fuzzer/fuzzer.py
Labels: kind:tests, area:integration-tests, python

#5415 front: fix trash button in rollingstock editor
  front/src/common/SelectorSNCF.tsx
  front/src/styles/scss/applications/rollingStockEditor/_rollingStockForm.scss
Labels: area:front, module:rollingstocks-editor

#5418 front: fix double hovering in rollingstock editor
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorCurves.tsx
Labels: area:front, module:rollingstocks-editor

#5467 editoast: update README.md (issues with rust nightly)
  editoast/README.md
Labels: kind:documentation, area:editoast

#5465 core: use arePositionsEqual and areSpeedsEqual throughout core
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPath.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/IntegrationStep.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/allowances/mareco_impl/AcceleratingSlopeCoast.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/pipelines/MaxSpeedEnvelope.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/AllowanceTests.java
  core/src/main/java/fr/sncf/osrd/api/pathfinding/PathfindingBlocksEndpoint.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/directed/TrackRangeView.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/AllowanceManager.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMSimulations.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMStandardAllowance.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/STDCMUtils.java
  core/src/main/java/fr/sncf/osrd/stdcm/preprocessing/implementation/BlockAvailabilityLegacyAdapter.java
  core/src/test/java/fr/sncf/osrd/stdcm/StopTests.java
Labels: area:core

#5437 python: update osrd_schemas (pydantic deprecation warning)
  python/osrd_schemas/osrd_schemas/infra.py
  tests/poetry.lock
Labels: kind:enhancement, area:railjson, area:integration-tests, python

#5481 front: fix when no curves are selected in rolling stock curve component
  front/src/modules/rollingStock/components/RollingStockCurve.tsx
Labels: area:front
