Repository OpenRailAssociation/osrd, pull requests merged in 2023-06, with the labels that each got.

#4152 list of all RS with edit/duplicate/delete buttons
  front/src/applications/rollingStockEditor/Home.tsx
  front/src/applications/rollingStockEditor/RollingStockEditor.tsx
  front/src/applications/rollingStockEditor/RollingStockEditorButtons.tsx
  front/src/applications/rollingStockEditor/RollingStockEditorForm.tsx
  front/src/common/RollingStockSelector/RollingStockCard.jsx
  front/src/main/home.jsx
Labels: area:front, kind:feature-task, module:rollingstocks-editor

#4036 input added to specify a maximum running time
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/stdcm/STDCMRequest.java
  core/src/test/java/fr/sncf/osrd/api/STDCMEndpointTest.java
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/RunningTime.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Itinerary/DisplayItinerary/index.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/stdcm/formatStcmConf.ts
  front/src/common/Pathfinding/Pathfinding.tsx
  front/src/common/api/osrdMiddlewareApi.ts
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdconf/selectors.ts
  front/src/styles/main.css
  front/src/styles/scss/applications/_stdcm.scss
  python/api/openapi.yaml
  python/api/osrd_infra/serializers.py
  python/api/osrd_infra/views/stdcm.py
  tests/fuzzer/fuzzer.py
  tests/tests/regression_tests_data/envelope_sim_path_out_of_range.json
  tests/tests/regression_tests_data/stdcm_envelope_discontinuity.json
  tests/tests/regression_tests_data/stdcm_track_discontinuity.json
  tests/tests/regression_tests_data/stdcm_zero_time_delta.json
Labels: kind:enhancement, area:front, kind:feature-task, module:stdcm

#4131 front: Test E2E Rollingstock selector
  editoast/src/tests/example_rolling_stock_1.json
  front/README.md
  front/playwright.config.ts
  front/tests/assets/operationStudies/test_variables.ts
  front/tests/common-page-model.ts
  front/tests/home-page-model.ts
  front/tests/home-page.spec.ts
  front/tests/operational-studies.spec.ts
  front/tests/rollingstock-modal-model.ts
  front/tests/stdcm-page.spec.ts
  python/railjson_generator/pyproject.toml
  python/railjson_generator/railjson_generator/examples/rolling_stocks/fast_rolling_stock.json
  python/railjson_generator/railjson_generator/schema/infra/speed_section.py
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
  tests/conftest.py
  tests/poetry.lock
  tests/tests/test_e2e.py
  tests/tests/test_rolling_stock.py
Labels: area:front, kind:tests

#4243 front: remove "maximum update depth exceeded" warning in SpeedLimitByTagSelector
  front/src/common/SpeedLimitByTagSelector/SpeedLimitByTagSelector.tsx
Labels: area:front

#4267 test: Load infra using editoast endpoint
  tests/conftest.py
Labels: kind:enabler-task, area:integration-tests

#4330 editoast: conflicts: update openapi
  editoast/openapi.yaml
  front/src/common/api/osrdEditoastApi.ts
Labels: kind:bug, severity:minor, area:editoast

#4332 editoast: fix the renaming of modes_and_profiles to electrification_conditions
  editoast/src/core/simulation.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tables.rs
  editoast/src/views/train_schedule/mod.rs
  editoast/src/views/train_schedule/simulation_report.rs
Labels: kind:bug, area:editoast, severity:critical

#4328 front: add new bootstrap version and new breakpoints hd, hdp, fhd
  front/package.json
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/yarn.lock
Labels: area:front

#4365 core: refactor electrification conditions
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPath.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/electrification/Electrification.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/electrification/Electrified.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/electrification/NonElectrified.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_utils/RangeMapUtils.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/AllowanceTests.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/EnvelopeMaintainSpeedTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPathTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/MaxEffortEnvelopeTest.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_utils/RangeMapUtilsTest.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPathBuilder.java
  core/src/main/java/fr/sncf/osrd/envelope_sim_infra/EnvelopeTrainPath.java
  core/src/main/java/fr/sncf/osrd/external_generated_inputs/ElectricalProfileMapping.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/result/ElectrificationConditionsRange.java
  core/src/main/java/fr/sncf/osrd/stdcm/graph/EnvelopeSimContextBuilder.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
  core/src/test/java/fr/sncf/osrd/external_generated_inputs/ElectricalProfileMappingTest.java
  core/src/test/java/fr/sncf/osrd/train/TestRollingStock.java
Labels: area:core, kind:enabler-task

#4231 front: migrate SpeedSpaceSettings to ts
  front/package.json
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceSettings/SpeedSpaceSettings.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceSettings/SpeedSpaceSettings.tsx
  front/src/reducers/osrdsimulation/index.ts
  front/src/reducers/osrdsimulation/types.ts
  front/vite.config.ts
Labels: area:front, kind:refacto-task

#4403 editoast: fix infra import order to cache (search) signals correctly
  editoast/src/main.rs
  editoast/src/models/infra.rs
Labels: area:editoast

#4346 remove 'missing prop' error in withOSRDData.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/withOSRDData.jsx
Labels: area:front

#4450 examples + core: add and use a fully electric rolling stock
  core/src/test/java/fr/sncf/osrd/Helpers.java
  core/src/test/java/fr/sncf/osrd/api/STDCMEndpointTest.java
  core/src/test/java/fr/sncf/osrd/api/StandaloneSimulationTest.java
  core/src/test/java/fr/sncf/osrd/stdcm/FullSTDCMTests.java
  python/railjson_generator/railjson_generator/examples/rolling_stocks/electric_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/fast_rolling_stock.json
Labels: area:core

#4406 editoast: add search criteria "ch" for operational points
  editoast/openapi.yaml
  editoast/search.yml
  front/src/common/api/osrdEditoastApi.ts
  python/api/osrd_infra/migrations/0036_search_op_add_ch.py
Labels: area:editoast

#4426 editoast: use fixtures in tests where possible
  .github/workflows/editoast.yml
  editoast/README.md
  editoast/src/fixtures.rs
  editoast/src/models/projects.rs
  editoast/src/models/scenario.rs
  editoast/src/models/study.rs
  editoast/src/models/train_schedule.rs
  editoast/src/tests/train_schedule.json
  editoast/src/views/documents.rs
  editoast/src/views/electrical_profiles.rs
  editoast/src/views/infra/attached.rs
  editoast/src/views/infra/errors.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/objects.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/projects.rs
  editoast/src/views/scenario.rs
  editoast/src/views/study.rs
Labels: area:editoast, kind:enabler-task
