Repository OpenRailAssociation/osrd, pull requests merged in 2023-05, with the labels that each got.

#3919 editoast: migrate endpoint PATCH rolling_stock/{id}
  editoast/openapi.yaml
  editoast/src/fixtures.rs
  editoast/src/main.rs
  editoast/src/models/projects.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/tests/example_rolling_stock_2.json
  editoast/src/tests/example_rolling_stock_3.json
  editoast/src/views/rolling_stocks.rs
  front/src/common/api/osrdEditoastApi.ts
Labels: area:editoast

#4044 editoast: add delete endpoint to rollingstock api
  editoast/openapi.yaml
  editoast/src/views/rolling_stocks.rs
  front/src/common/api/osrdEditoastApi.ts
Labels: component:rollingstock, kind:feature-task, area:editoast, module:rollingstocks-editor

#4085 tests: front: Add readme and doc for e2e tests
  front/README.md
Labels: area:front, area:integration-tests

#4038 editoast: provide a dummy /timetable/{id}/conflicts endpoint
  editoast/src/views/timetable.rs
Labels: area:editoast, kind:enabler-task

#4126 front: editor: remove dependencies cycles
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/context.ts
  front/src/applications/editor/nav.tsx
  front/src/applications/editor/tools/commonToolState.ts
  front/src/applications/editor/tools/editorContextTypes.ts
  front/src/applications/editor/tools/list.ts
  front/src/applications/editor/tools/pointEdition/components.tsx
  front/src/applications/editor/tools/pointEdition/tool-factory.ts
  front/src/applications/editor/tools/pointEdition/types.ts
  front/src/applications/editor/tools/routeEdition/components.tsx
  front/src/applications/editor/tools/routeEdition/components/EditRouteMetadata.tsx
  front/src/applications/editor/tools/routeEdition/components/EditRoutePath.tsx
  front/src/applications/editor/tools/routeEdition/components/Endpoints.tsx
  front/src/applications/editor/tools/routeEdition/components/WayPointInput.tsx
  front/src/applications/editor/tools/routeEdition/tool.ts
  front/src/applications/editor/tools/routeEdition/types.ts
  front/src/applications/editor/tools/routeEdition/utils.ts
  front/src/applications/editor/tools/selection/components.tsx
  front/src/applications/editor/tools/selection/tool.tsx
  front/src/applications/editor/tools/selection/types.ts
  front/src/applications/editor/tools/speedSectionEdition/components.tsx
  front/src/applications/editor/tools/speedSectionEdition/components/EditLPVSection.tsx
  front/src/applications/editor/tools/speedSectionEdition/tool.ts
  front/src/applications/editor/tools/speedSectionEdition/types.ts
  front/src/applications/editor/tools/speedSectionEdition/utils.ts
  front/src/applications/editor/tools/switchEdition/components.tsx
  front/src/applications/editor/tools/switchEdition/tool.ts
  front/src/applications/editor/tools/switchEdition/types.ts
  front/src/applications/editor/tools/switchProps.ts
  front/src/applications/editor/tools/toolTypes.ts
  front/src/applications/editor/tools/tools.ts
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/applications/editor/tools/trackEdition/tool.ts
  front/src/applications/editor/tools/trackEdition/types.ts
  front/src/applications/editor/tools/types.ts
Labels: area:front, module:infra-editor, kind:refacto-task

#3811 api: osrd_schemas: update rolling stock json schema for qualesi parameters
  editoast/README.md
  editoast/openapi.yaml
  editoast/src/fixtures.rs
  editoast/src/models/rolling_stock/light_rolling_stock.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/schema/rolling_stock/light_rolling_stock.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/tables.rs
  editoast/src/tests/example_rolling_stock_1.json
  editoast/src/tests/example_rolling_stock_2.json
  editoast/src/tests/example_rolling_stock_2_energy_sources.json
  editoast/src/tests/example_rolling_stock_3.json
  editoast/src/views/rolling_stocks.rs
  front/src/common/api/osrdEditoastApi.ts
  front/src/common/api/osrdMiddlewareApi.ts
  python/api/openapi.yaml
  python/api/osrd_infra/migrations/0028_rollingstock_energy_sources.py
  python/api/osrd_infra/models/rolling_stock.py
  python/api/poetry.lock
  python/osrd_schemas/osrd_schemas/rolling_stock.py
  python/osrd_schemas/pyproject.toml
  python/railjson_generator/poetry.lock
  python/railjson_generator/railjson_generator/examples/rolling_stocks/fast_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/fast_rolling_stock_high_gamma.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/short_fast_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/short_slow_rolling_stock.json
  python/railjson_generator/railjson_generator/examples/rolling_stocks/slow_rolling_stock.json
  scripts/generate-infra.sh
  tests/poetry.lock
  tests/tests/__init__.py
Labels: area:api

#4144 railjson: api: osrd_schema: add DeadSection data model
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSInfra.java
  editoast/src/models/infra.rs
  editoast/src/tests/small_infra/small_infra.json
  python/api/openapi.yaml
  python/api/osrd_infra/migrations/0029_railjson_3_2_2.py
  python/api/osrd_infra/models/infra.py
  python/osrd_schemas/osrd_schemas/infra.py
  python/railjson_generator/README.md
  python/railjson_generator/railjson_generator/infra_builder.py
  python/railjson_generator/railjson_generator/schema/infra/dead_section.py
  python/railjson_generator/railjson_generator/schema/infra/infra.py
  python/railjson_generator/railjson_generator/scripts/examples/small_infra.py
  tests/poetry.lock
Labels: area:railjson, area:api

#4136 editoast: fix infra update
  editoast/src/models/infra.rs
  editoast/src/schema/railjson.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/pathfinding/mod.rs
Labels: area:editoast, module:infra-editor

#4200 front: fix rollingStock modal
  front/src/common/RollingStockSelector/RollingStockModal.tsx
Labels: area:front

#4103 editoast: fix URL typo in README
  front/README.md
Labels: kind:documentation, area:editoast

#4165 front: refacto: use RTK in AddOrEditScenario
  editoast/openapi.yaml
  front/public/locales/en/operationalStudies/scenario.json
  front/public/locales/fr/operationalStudies/scenario.json
  front/src/applications/operationalStudies/components/Scenario/AddOrEditScenarioModal.tsx
  front/src/common/api/osrdEditoastApi.ts
Labels: area:front, kind:refacto-task

#4229 Docker: add backend URL for editoast service
  docker-compose.yml
Labels: area:editoast

#4183 editoast: add dead section schema and update railjson import
  editoast/src/generated_data/error/mod.rs
  editoast/src/generated_data/error/speed_sections.rs
  editoast/src/generated_data/error/sql/dead_sections_insert_errors.sql
  editoast/src/infra_cache/mod.rs
  editoast/src/main.rs
  editoast/src/map/bounding_box.rs
  editoast/src/models/infra.rs
  editoast/src/schema/dead_section.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/operation/create.rs
  editoast/src/schema/railjson.rs
  editoast/src/tables.rs
  editoast/src/tests/small_infra/small_infra.json
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/layers/mod.rs
Labels: area:editoast
