Repository OpenRailAssociation/osrd, pull requests merged in 2023-04, with the labels that each got.

#3770 front: tests: Add a `yarn e2e-tests` and display playwright outputs
  .github/workflows/integration_tests.yml
  front/package.json
Labels: area:front, area:tests

#3802 core: fix zone occupancy computation on train with stops
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/EnvelopeTimeInterpolate.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/EnvelopeStopWrapper.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
Labels: kind:bug, area:core

#3804 core: make the zone after a train path be clear
  core/src/main/java/fr/sncf/osrd/standalone_sim/SignalProjection.kt
Labels: kind:enhancement, area:core, area:signaling

#3799 [front] Fix #3751 - Adding style for DropdownSNCF
  front/src/common/BootstrapSNCF/DropdownSNCF.tsx
  front/src/styles/scss/_overrideBootstrapSNCF.scss
Labels: area:front

#3769 Adn/condensed speed limit
  front/src/applications/operationalStudies/components/ManageTrainSchedule/SpeedLimitByTagSelector.jsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/stdcm/views/OSRDCStdcmConfig.tsx
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.jsx
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.scss
  front/src/common/SpeedLimitByTagSelector/SpeedLimitByTagSelector.scss
  front/src/common/SpeedLimitByTagSelector/SpeedLimitByTagSelector.tsx
  front/src/stories/SpeedLimitByTag.stories.tsx
  front/src/styles/main.css
  front/src/styles/main.css.map
Labels: area:front

#3707 front: map search: Search into signals
  front/public/locales/en/map-search.json
  front/public/locales/fr/map-search.json
  front/src/common/BootstrapSNCF/InputSNCF.tsx
  front/src/common/BootstrapSNCF/MultiSelectSNCF.tsx
  front/src/common/Map/Map.scss
  front/src/common/Map/MapKey.scss
  front/src/common/Map/Search/MapSearch.jsx
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/common/Map/Search/MapSearchSignal.jsx
  front/src/common/Map/Search/MapSearchSignal.tsx
  front/src/common/Map/Search/MapSearchStation.jsx
  front/src/common/Map/Search/SignalCard.tsx
  front/src/common/Map/Search/searchTypes.ts
  front/src/common/Map/const.ts
  front/src/common/Map/utils.ts
  front/src/reducers/map/index.ts
Labels: area:front

#3894 front: fix PTO import with stop
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleConfig.tsx
Labels: area:front

#3905 front: Fix Map Search Signal Icons
  front/public/pictures/signals/A.svg
  front/public/pictures/signals/BANDEJAUNE.svg
  front/public/pictures/signals/CARRE.svg
  front/public/pictures/signals/CV.svg
  front/public/pictures/signals/D.svg
  front/public/pictures/signals/REP_TGV.svg
  front/public/pictures/signals/S.svg
  front/src/assets/pictures/signalicons/A.svg
  front/src/assets/pictures/signalicons/BANDEJAUNE.svg
  front/src/assets/pictures/signalicons/CARRE.svg
  front/src/assets/pictures/signalicons/CV.svg
  front/src/assets/pictures/signalicons/D.svg
  front/src/assets/pictures/signalicons/REP_TGV.svg
  front/src/assets/pictures/signalicons/S.svg
  front/src/common/Map/Search/SignalCard.tsx
Labels: area:front

#3910 editoast: change clap attribute to arg and command
  editoast/src/client/mod.rs
  editoast/src/client/postgres_config.rs
  editoast/src/client/redis_config.rs
Labels: area:editoast

#3892 editoast: migrate endpoint to create a rolling_stock livery
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/openapi.yaml
  editoast/src/models/mod.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/models/rolling_stock/rolling_stock_image.rs
  editoast/src/models/rolling_stock/rolling_stock_livery.rs
  editoast/src/tables.rs
  editoast/src/views/rolling_stocks.rs
  front/src/common/api/osrdEditoastApi.ts
  python/api/openapi.yaml
Labels: area:editoast

#3820 front: use Editoast endpoint for light_rolling_stock
  front/public/locales/fr/rollingstock.json
  front/src/applications/operationalStudies/views/ImportTrainSchedule.tsx
  front/src/common/RollingStockSelector/RollingStockModal.jsx
Labels: area:front

#3951 front: bug-fix: Fix header in slot information
  front/src/styles/scss/applications/operationalStudies/components/_driverTrainSchedule.scss
Labels: area:front

#3976 front: Fix input time table import
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/SpaceTimeChart.jsx
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
Labels: area:front

#3948 front: Migrate InfraSelectorModalBodyEdition from js to ts
  front/src/common/InfraSelector/InfraSelectorModal.tsx
  front/src/common/InfraSelector/InfraSelectorModalBodyEdition.tsx
  front/src/common/InfraSelector/InfraSelectorModalBodyStandard.jsx
Labels: area:front

#3969 front: use reusable getDocument function
  front/public/locales/fr/operationalStudies/project.json
  front/src/applications/operationalStudies/components/Home/ProjectCard.tsx
  front/src/applications/operationalStudies/components/Project/AddOrEditProjectModal.tsx
  front/src/applications/operationalStudies/views/Project.tsx
  front/src/common/ScenarioExplorator/ScenarioExploratorProject2Image.tsx
  front/src/common/api/documentApi.ts
  front/src/common/consts.ts
Labels: area:front

#3979 front: energy consumption is displayed even after drag&drop on GET
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/ChartHelpers.ts
  front/src/reducers/osrdsimulation/types.ts
Labels: area:front

#3983 front: avoid multiple timetable train card re-renders
  front/src/applications/operationalStudies/components/Scenario/Timetable.tsx
Labels: area:front

#3971 front: migrate DriverTrainSchedule files to ts
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainSchedule.jsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainSchedule.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleContent.tsx
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleHelpers.tsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/reducers/osrdsimulation/types.ts
Labels: area:front
