Repository OpenRailAssociation/osrd, pull requests merged in 2023-08, with the labels that each got.

#4716 osrd-schemas: fix infra version type hint
  python/osrd_schemas/osrd_schemas/infra.py
Labels: kind:enhancement

#4701 front: migrate graph helpers to ts (and remove keyValues)
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawArea.jsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawArea.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawGuideLines.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawPoints.jsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawRect.jsx
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawRect.ts
  front/src/applications/operationalStudies/components/SimulationResults/ChartHelpers/drawText.ts
  front/src/applications/operationalStudies/components/SimulationResults/SpaceCurvesSlopes.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/drawTrain.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/d3Helpers.jsx
  front/src/applications/operationalStudies/components/SimulationResults/SpeedSpaceChart/prepareData.ts
Labels: area:front

#4762 editoast: clippy fixes
  editoast/src/generated_data/error/catenaries.rs
  editoast/src/generated_data/error/speed_sections.rs
  editoast/src/models/timetable.rs
  editoast/src/schema/railjson.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/pathfinding/catenaries.rs
  editoast/src/views/pathfinding/mod.rs
  editoast/src/views/timetable.rs
Labels: area:editoast

#4782 front: infra-editor: bug: switch types are updated when changing infra
  front/src/applications/editor/Editor.tsx
Labels: area:front

#4760 front: intervals editor, display PRs and allow snapping
  front/src/applications/editor/components/LinearMetadata/FormComponent.tsx
  front/src/applications/editor/components/LinearMetadata/tooltip.tsx
  front/src/common/IntervalsDataViz/IntervalItem.tsx
  front/src/common/IntervalsDataViz/data.test.ts
  front/src/common/IntervalsDataViz/data.ts
  front/src/common/IntervalsDataViz/dataviz.tsx
  front/src/common/IntervalsDataViz/style.scss
  front/src/common/IntervalsDataViz/types.ts
  front/src/common/IntervalsDataViz/utils.ts
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/common/IntervalsEditor/IntervalsEditorTooltip.tsx
  front/src/common/IntervalsEditor/types.ts
  front/src/common/IntervalsEditor/utils.ts
  front/src/stories/IntervalsEditor.stories.tsx
Labels: area:front

#4789 front: editor: only display track sections by default on the map
  front/src/reducers/editor.ts
Labels: area:front

#4791 front: fix double scroll on rolling stock selector
  front/src/common/BootstrapSNCF/ModalSNCF/ModalBodySNCF.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/style.scss
  front/src/common/RollingStockSelector/RollingStockModal.tsx
  front/src/styles/scss/common/components/_rollingStock.scss
Labels: area:front

#4793 front: intervals editor, fix the scale
  front/src/common/IntervalsDataViz/Scales.tsx
  front/src/common/IntervalsDataViz/dataviz.tsx
  front/src/common/IntervalsDataViz/style.scss
  front/src/common/IntervalsDataViz/utils.ts
Labels: area:front

#4795 front: rolling-stock-editor: fix small bugs
  front/src/applications/rollingStockEditor/components/RollingStockEditorCurves.tsx
  front/src/applications/rollingStockEditor/components/RollingStockEditorFormHelpers.tsx
  front/src/applications/rollingStockEditor/consts.ts
  front/src/common/BootstrapSNCF/InputGroupSNCF.scss
Labels: area:front

#4590 editoast_derive: add Search derive macro
  editoast/editoast_derive/Cargo.lock
  editoast/editoast_derive/Cargo.toml
  editoast/editoast_derive/src/lib.rs
  editoast/editoast_derive/src/search.rs
  editoast/search.yml
  editoast/src/main.rs
  editoast/src/views/search/config.rs
  editoast/src/views/search/mod.rs
  editoast/src/views/search/objects.rs
  editoast/src/views/search/search_object.rs
Labels: area:editoast

#4838 front: remove custom GET
  front/README.md
  front/public/locales/de/home/home.json
  front/public/locales/en/customget.json
  front/public/locales/en/home/home.json
  front/public/locales/en/translation.json
  front/public/locales/es/home/home.json
  front/public/locales/fr/customget.json
  front/public/locales/fr/home/home.json
  front/public/locales/fr/translation.json
  front/public/locales/it/home/home.json
  front/public/locales/jp/home/home.json
  front/public/locales/ru/home/home.json
  front/public/locales/uk/home/home.json
  front/src/applications/customget/Home.jsx
  front/src/applications/customget/Home.scss
  front/src/applications/customget/components/ChartHelpers.jsx
  front/src/applications/customget/components/ChartModal.jsx
  front/src/applications/customget/components/ChartModal.scss
  front/src/applications/customget/components/SpaceTimeChart/createChart.jsx
  front/src/applications/customget/components/SpaceTimeChart/createTrain.jsx
  front/src/applications/customget/components/SpaceTimeChart/drawTrain.jsx
  front/src/applications/customget/components/consts.jsx
  front/src/applications/customget/components/convertData.jsx
  front/src/applications/customget/components/defineChart.jsx
  front/src/applications/customget/components/drawCurve.jsx
  front/src/applications/customget/components/drawGuideLines.jsx
  front/src/applications/customget/components/drawText.jsx
  front/src/applications/customget/components/enableInteractivity.jsx
  front/src/applications/customget/components/svgDefs.jsx
  front/src/applications/customget/testdata/manal_results_get.json
  front/src/applications/customget/views/CustomGET.jsx
  front/src/applications/customget/views/CustomGET.scss
  front/src/applications/customget/views/DeprecatedSpaceTimeChart.jsx
  front/src/applications/customget/views/TimeButtons.jsx
  front/src/applications/customget/views/TimeTable.jsx
  front/src/applications/customget/views/TrainDetails.jsx
  front/src/applications/customget/views/TrainList.jsx
  front/src/applications/operationalStudies/components/ImportTrainSchedule/ImportTrainScheduleConfig.tsx
  front/src/assets/pictures/home/customget.svg
  front/src/common/InfraSelector/InfraSelectorModalBodyEdition.tsx
  front/src/common/uploadFileModal.jsx
  front/src/main/app.jsx
  front/src/main/home.jsx
  front/tests/pages/home-page-model.ts
Labels: area:front

#4870 front: fix several bugs on power restrictions selector
  front/public/locales/en/operationalStudies/manageTrainSchedule.json
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionsSelector.tsx
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/common/IntervalsDataViz/dataviz.tsx
  front/src/reducers/osrdconf/index.ts
  front/src/reducers/osrdconf/selectors.ts
Labels: area:front

#4878 front: test e2e, increase the test timeout to 2 min
  front/tests/005-operational-studies.spec.ts
  front/tests/008-allowances.spec.ts
  front/tests/009-stdcm-between-two-trains.spec.ts
  front/tests/assets/utils.ts
Labels: area:front

#4851 Add comfort lvls and create selectors in rs editor
  front/public/locales/en/rollingstock.json
  front/public/locales/fr/rollingstock.json
  front/src/applications/rollingStockEditor/components/RollingStockEditorCurves.tsx
  front/src/applications/rollingStockEditor/consts.ts
  front/src/common/RollingStockSelector/RollingStockCardDetail.tsx
  front/src/common/RollingStockSelector/RollingStockCurves.tsx
  front/src/common/SelectorSNCF.tsx
  front/src/reducers/index.ts
  front/src/reducers/rollingstockEditor/index.ts
  front/src/reducers/rollingstockEditor/selectors.ts
  front/src/styles/scss/applications/rollingStockEditor/_rollingStockForm.scss
  front/src/styles/scss/common/components/_selectorSNCF.scss
Labels: area:front, module:rollingstocks-editor
