Repository OpenRailAssociation/osrd, pull requests merged in 2023-09, with the labels that each got.

#4968 front: intervals editor, display additionnal read-only data
  front/src/applications/operationalStudies/components/ManageTrainSchedule/PowerRestrictionsSelector.tsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/common/IntervalsDataViz/dataviz.tsx
  front/src/common/IntervalsDataViz/style.scss
  front/src/common/IntervalsEditor/IntervalsEditor.tsx
  front/src/common/IntervalsEditor/types.ts
  front/src/stories/IntervalsEditor.stories.tsx
Labels: area:front

#4978 front: migration of bootstrap component to typescript
  front/src/applications/editor/tools/rangeEdition/catenary/CatenaryMetadataForm.tsx
  front/src/applications/editor/tools/rangeEdition/speedSection/LpvPanelCard.tsx
  front/src/applications/operationalStudies/components/Study/AddOrEditStudyModal.tsx
  front/src/applications/stdcm/components/OldAllowances/EmptyLine.tsx
  front/src/applications/stdcm/components/OldAllowances/StandardAllowanceDefault.tsx
  front/src/common/BootstrapSNCF/AlertSNCF.jsx
  front/src/common/BootstrapSNCF/CardSNCF/CardSNCF.jsx
  front/src/common/BootstrapSNCF/CardSNCF/CardSNCF.tsx
  front/src/common/BootstrapSNCF/CheckboxRadioSNCF.tsx
  front/src/common/BootstrapSNCF/ListGroupSNCF/ListGroup.jsx
  front/src/common/BootstrapSNCF/ListGroupSNCF/ListGroupItem.jsx
  front/src/common/BootstrapSNCF/ListGroupSNCF/ListItem.jsx
  front/src/common/BootstrapSNCF/MastNavItemSNCF.jsx
  front/src/common/BootstrapSNCF/MastNavSNCF.jsx
  front/src/common/BootstrapSNCF/PaginationSNCF.jsx
  front/src/common/BootstrapSNCF/ProgressSNCF.jsx
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.tsx
  front/src/common/BootstrapSNCF/SelectSNCF.jsx
  front/src/common/BootstrapSNCF/SelectSNCF.tsx
  front/src/common/BootstrapSNCF/SideBarSNCF.jsx
  front/src/common/FloatingBar/FloatingBar.jsx
  front/src/common/IntervalsEditor/IntervalsEditorMarginForm.tsx
  front/src/common/IntervalsEditor/IntervalsEditorSelectForm.tsx
  front/src/common/Map/Settings/MapSettingsSpeedLimits.tsx
  front/src/common/SpeedLimitByTagSelector/SpeedLimitByTagSelector.tsx
  front/src/modules/rollingStock/components/rollingStockEditor/RollingStockEditorFormHelpers.tsx
  front/src/modules/scenario/components/AddOrEditScenarioModal.tsx
Labels: area:front

#5009 front: intervals editor - fix 2 bugs
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.tsx
  front/src/common/IntervalsDataViz/dataviz.tsx
Labels: area:front

#5015 front: remove main.css
  front/src/stories/SpaceTimeChart.stories.tsx
  front/src/stories/SpeedSpaceChart.stories.tsx
  front/src/styles/main.css
Labels: area:front

#5016 front: editor, remove direction field on range in catenary form
  front/src/applications/editor/tools/rangeEdition/components.tsx
Labels: area:front, module:infra-editor

#5014 front: disable elevation on map by default
  front/src/applications/editor/Map.tsx
  front/src/applications/operationalStudies/components/ManageTrainSchedule/Map.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SimulationResultsMap.tsx
  front/src/applications/referenceMap/Map.tsx
  front/src/reducers/index.ts
  front/src/reducers/map/index.ts
  front/src/reducers/map/selectors.ts
Labels: area:front

#5072 front: rs editor: fix power restriction selection and fix ui
  front/src/applications/rollingStockEditor/views/RollingStockEditor.tsx
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.tsx
  front/src/modules/rollingStock/components/rollingStockEditor/AddRollingstockParam.tsx
  front/src/modules/rollingStock/components/rollingStockEditor/RollingStockEditorCurves.tsx
  front/src/styles/scss/applications/rollingStockEditor/_rollingStockForm.scss
Labels: area:front, module:rollingstocks-editor

#5095 editoast: use std::io::IsTerminal instead of atty
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/main.rs
Labels: area:editoast

#5103 front: fix several white screens bugs
  front/src/applications/operationalStudies/components/SimulationResults/DriverTrainSchedule/DriverTrainScheduleStopList.tsx
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/drawTrain.ts
  front/src/applications/operationalStudies/components/SimulationResults/TimeLine/TimeLine.jsx
Labels: area:front

#5121 front: rollingstockeditor: add basePowerClass in payload for post and patch
  front/src/modules/rollingStock/consts.ts
  front/src/modules/rollingStock/helpers/utils.ts
Labels: kind:bug, component:rollingstock, area:front

#5120 front: stdcm: modify stdcm allowances settings to display the trains on get
  front/src/applications/operationalStudies/components/SimulationResults/SpaceTimeChart/withOSRDData.tsx
  front/src/applications/stdcm/views/OSRDStdcmResults.tsx
Labels: area:front

#5130 front: space curve slope chart is always displayed
  front/src/applications/operationalStudies/components/SimulationResults/SpaceCurvesSlopes.jsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
Labels: area:front

#5138 front: display loader when loading rolling stocks
  front/src/applications/rollingStockEditor/views/RollingStockEditor.tsx
  front/src/modules/rollingStock/components/RollingStockSelector/RollingStockEmpty.tsx
  front/src/modules/rollingStock/components/RollingStockSelector/RollingStockModal.tsx
  front/src/modules/rollingStock/components/RollingStockSelector/index.ts
Labels: area:front

#5002 openapi+front: correct project types
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  front/src/applications/operationalStudies/Home.tsx
  front/src/common/api/osrdEditoastApi.ts
  front/src/modules/project/components/AddOrEditProjectModal.tsx
  front/src/modules/project/components/ProjectCard.tsx
  front/src/modules/project/components/ProjectSelectionToolbar.tsx
Labels: area:front
