Repository OpenRailAssociation/osrd, pull requests merged in 2024-01, with the labels that each got.

#6305 Fix editoast's latest clippy warnings
  editoast/src/schema/railjson.rs
  editoast/src/views/infra/objects.rs
  editoast/src/views/infra/pathfinding.rs
Labels: area:editoast

#6249 editoast: use serial_test
  .github/workflows/build.yml
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/README.md
  editoast/src/generated_data/mod.rs
  editoast/src/schema/buffer_stop.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/pathfinding/electrical_profiles.rs
Labels: area:editoast

#6301 Add utoipa annotations for /infra/{infra_id}/line/{code}/bbox
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  editoast/src/map/bounding_box.rs
  editoast/src/map/mod.rs
  editoast/src/views/infra/auto_fixes/mod.rs
  editoast/src/views/infra/lines.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/mod.rs
  editoast/src/views/openapi.rs
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/common/api/osrdEditoastApi.ts
Labels: area:editoast

#6304 Add utoipa annotation for /infra/{id}/attached/{id}
  editoast/openapi.yaml
  editoast/openapi_legacy.yaml
  editoast/src/schema/mod.rs
  editoast/src/views/infra/attached.rs
  editoast/src/views/infra/mod.rs
  front/src/applications/editor/tools/trackEdition/components.tsx
  front/src/common/api/osrdEditoastApi.ts
Labels: area:front, area:editoast

#6363 front: separate stdcm and operationnal studies
  front/public/locales/en/operationalStudies/manageTrainSchedule.json
  front/public/locales/en/stdcm.json
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/public/locales/fr/stdcm.json
  front/src/applications/operationalStudies/consts.ts
  front/src/applications/stdcm/components/RunningTime.tsx
  front/src/applications/stdcm/consts.ts
  front/src/applications/stdcm/formatStdcmConf.ts
  front/src/applications/stdcm/views/OSRDStdcmConfig.tsx
  front/src/applications/stdcm/views/OSRDStdcmResults.tsx
  front/src/applications/stdcm/views/StdcmRequestModal.tsx
  front/src/common/osrdContext.tsx
  front/src/main/app.jsx
  front/src/main/consts.ts
  front/src/modules/infra/components/InfraSelector/InfraSelectorModalBodyStandard.tsx
  front/src/modules/stdcmAllowances/allowancesConsts.ts
  front/src/modules/stdcmAllowances/components/StdcmAllowances.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Itinerary/DisplayItinerary/Origin.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/formatConf.ts
  front/src/reducers/index.ts
  front/src/reducers/osrdconf/consts.ts
  front/src/reducers/osrdconf/operationalStudiesConf/index.ts
  front/src/reducers/osrdconf/operationalStudiesConf/selectors.ts
  front/src/reducers/osrdconf/osrdConfCommon/__tests__/commonConfBuilder.ts
  front/src/reducers/osrdconf/osrdConfCommon/__tests__/utils.ts
  front/src/reducers/osrdconf/osrdConfCommon/index.ts
  front/src/reducers/osrdconf/osrdConfCommon/selectors.ts
  front/src/reducers/osrdconf/stdcmConf/index.ts
  front/src/reducers/osrdconf/stdcmConf/selectors.ts
  front/src/reducers/osrdconf/stdcmConf/stdcmConfReducers.spec.ts
Labels: area:front, kind:refacto-task

#6006 fix line display when zoomout in maps and refacto zoomToFeature function
  front/src/common/Map/Search/MapSearchLine.tsx
  front/src/common/Map/WarpedMap/core/helpers.ts
  front/src/modules/simulationResult/components/SimulationResultsMap.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Itinerary/Itinerary.tsx
Labels: area:front
