Repository OpenRailAssociation/osrd, pull requests merged in 2024-11, with the labels that each got.

#9646 docker: fix FromAsCasing warning in dockerfiles
  front/docker/Dockerfile.devel
  front/docker/Dockerfile.nginx
  gateway/Dockerfile
  osrdyne/Dockerfile
Labels: area:gateway, area:osrdyne

#9576 core: disable colors when the output isn't compatible
  core/build.gradle
  core/gradle/libs.versions.toml
  core/src/main/resources/logback.xml
Labels: area:core

#9666 editoast: fix all units about rolling resistance
  editoast/editoast_schemas/src/rolling_stock.rs
  editoast/editoast_schemas/src/rolling_stock/rolling_resistance.rs
  editoast/editoast_schemas/src/rolling_stock/towed_rolling_stock.rs
  editoast/openapi.yaml
  editoast/src/core/simulation.rs
  editoast/src/models/fixtures.rs
  editoast/src/models/towed_rolling_stock.rs
  editoast/src/views/rolling_stock/towed.rs
  editoast/src/views/timetable/stdcm.rs
  front/src/common/api/generatedEditoastApi.ts
Labels: kind:bug, component:rollingstock, area:editoast, module:stdcm, severity:critical, rust

#9554 front, scripts: add playwright container for e2e tests
  flake.nix
  front/.dockerignore
  front/README.md
  front/docker/Dockerfile.playwright
  scripts/run-front-playwright-container.sh
Labels: area:front

#9509 editoast: refactoring STDCM handler
  editoast/openapi.yaml
  editoast/src/core/conflict_detection.rs
  editoast/src/core/simulation.rs
  editoast/src/core/stdcm.rs
  editoast/src/models/work_schedules.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/stdcm/failure_handler.rs
  editoast/src/views/timetable/stdcm/request.rs
  front/src/common/api/generatedEditoastApi.ts
Labels: area:editoast

#9784 front: switch oazapfts fork to osrd-project repository
  front/package.json
  front/yarn.lock
Labels: area:front

#9740 misc: add jetbrain folder .idea to gitignore
  .gitignore
  core/.gitignore
Labels: area:core

#9789 Rename header to skip authorization
  core/src/main/java/fr/sncf/osrd/cli/ApiServerCommand.java
  core/src/main/java/fr/sncf/osrd/cli/WorkerCommand.kt
  editoast/src/views/mod.rs
  gateway/gateway.toml
Labels: area:gateway

#9799 front: use clean oazapfts master branch
  front/yarn.lock
Labels: area:front

#9797 ci: label pr based on changes in subfolders too
  .github/labeler.yml
Labels: area:ci

#9808 github: ask for train-schedule export in bugs
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: area:ci

#9777 display total length and running time in simulation tabs
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/applications/stdcm/components/StdcmResults/StdcmSimulationNavigator.tsx
  front/src/styles/scss/_variables.scss
  front/src/styles/scss/applications/stdcm/_results.scss
  front/src/utils/date.ts
Labels: area:front

#9827 Add unique constraint on group name
  editoast/migrations/2024-11-22-151624_group-name-unique/down.sql
  editoast/migrations/2024-11-22-151624_group-name-unique/up.sql
Labels: area:editoast

#9813 front: drop parseDateTime()
  front/src/utils/__tests__/date.spec.ts
  front/src/utils/date.ts
Labels: area:front

#9814 front: fix typing of TrainScheduleImportConfig.{from,to}
  front/src/applications/operationalStudies/types.ts
  front/src/common/StationCard.tsx
  front/src/common/api/graouApi.ts
  front/src/modules/trainschedule/components/ImportTrainSchedule/ImportTrainScheduleConfig.tsx
  front/src/modules/trainschedule/components/ImportTrainSchedule/ImportTrainScheduleStationSelector.tsx
Labels: area:front

#9741 ci: use microsoft playwright image in e2e tests
  .github/workflows/build.yml
  docker/Dockerfile.playwright-ci
Labels: area:ci

#9815 front: drop isUTC argument in dateTimeFormatting()
  front/src/applications/stdcm/utils/formatStdcmConf.ts
  front/src/utils/date.ts
Labels: area:front

#9824 core: add compatibility for G1 train gauge with FR3.3 track gauge
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSLoadingGaugeType.java
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/PathPropertiesTests.kt
Labels: area:core

#9817 front: simplify timestampToHHMMSS()
  front/src/utils/date.ts
Labels: area:front

#9825 core: avoid recomputing unnecessary coastings, which sometimes crashed
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/allowances/mareco_impl/CoastingGenerator.java
Labels: area:core

#9381 editoast: update temporary speed limit groups import endpoint
  editoast/editoast_models/src/tables.rs
  editoast/migrations/2024-11-06-175550_add_temporary_speed_limit_group_to_stdcm_search_environment/down.sql
  editoast/migrations/2024-11-06-175550_add_temporary_speed_limit_group_to_stdcm_search_environment/up.sql
  editoast/openapi.yaml
  editoast/src/infra_cache/graph.rs
  editoast/src/models/fixtures.rs
  editoast/src/models/stdcm_search_environment.rs
  editoast/src/views/infra/delimited_area.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/stdcm_search_environment.rs
  editoast/src/views/temporary_speed_limits.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  front/src/applications/stdcm/hooks/useStdcmEnv.tsx
  front/src/applications/stdcm/utils/formatStdcmConf.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/reducers/osrdconf/stdcmConf/index.ts
  front/src/reducers/osrdconf/types.ts
Labels: area:front, area:editoast

#9819 dependabot: use area:ci instead of area:actions
  .github/dependabot.yml
Labels: area:ci

#9739 front: fix row deletion in timestop input table
  front/src/modules/timesStops/TimesStopsInput.tsx
  front/src/modules/timesStops/helpers/__tests__/utils.spec.ts
  front/src/modules/timesStops/helpers/utils.ts
Labels: area:front

#9826 front: fix train edition setup
  front/src/applications/operationalStudies/helpers/formatTrainScheduleSummaries.ts
  front/src/applications/operationalStudies/hooks/useSetupItineraryForTrainUpdate.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/adjustConfWithTrainToModify.ts
  front/src/modules/trainschedule/components/Timetable/TimetableTrainCard.tsx
  front/src/modules/trainschedule/components/Timetable/types.ts
  front/src/modules/trainschedule/helpers/computeBasePathSteps.ts
  front/src/reducers/osrdconf/operationalStudiesConf/index.ts
  front/src/reducers/osrdconf/operationalStudiesConf/simulationConfReducers.spec.ts
Labels: area:front

#9820 core, dependabot: group kotlin and ksp updates
  .github/dependabot.yml
Labels: area:ci

#9836 front: bump ui from 0.0.53 to 0.0.55
  front/package.json
  front/yarn.lock
Labels: area:front

#9785 editoast: work-schedules: add endpoints for easier edition and viewing
  editoast/openapi.yaml
  editoast/src/models/work_schedules.rs
  editoast/src/views/operational_studies.rs
  editoast/src/views/work_schedules.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  front/src/common/api/generatedEditoastApi.ts
Labels: area:front, area:editoast

#9840 tests: add stdcm test generator for imported timetables
  tests/fuzzer/fuzzer_stdcm_single_timetable.py
Labels: area:integration-tests

#9839 front: wrong simulation sheet spacing
  front/src/styles/scss/applications/operationalStudies/_simulationresults.scss
Labels: area:front

#9613 github: add e2e tests maintainers
  .github/CODEOWNERS
Labels: area:ci

#9796 front: fix stdcm rolling stock image display
  front/src/applications/stdcm/components/StdcmForm/StdcmCard.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmConsist.tsx
  front/src/styles/scss/applications/stdcm/_home.scss
Labels: area:front

#9863 front: drop trainsDurationsIntervals
  front/src/modules/trainschedule/components/Timetable/Timetable.tsx
  front/src/utils/numbers.ts
Labels: area:front

#9642 front: refacto useOutputData
  front/src/applications/operationalStudies/helpers/formatTrainScheduleSummaries.ts
  front/src/applications/operationalStudies/hooks/useScenarioData.ts
  front/src/applications/operationalStudies/types.ts
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/modules/timesStops/TimesStopsOutput.tsx
  front/src/modules/timesStops/helpers/__tests__/arrivalTime.spec.ts
  front/src/modules/timesStops/helpers/__tests__/computeMargins.json
  front/src/modules/timesStops/helpers/__tests__/computeMargins.spec.ts
  front/src/modules/timesStops/helpers/__tests__/scheduleData.spec.ts
  front/src/modules/timesStops/helpers/arrivalTime.ts
  front/src/modules/timesStops/helpers/computeMargins.ts
  front/src/modules/timesStops/helpers/scheduleData.ts
  front/src/modules/timesStops/helpers/utils.ts
  front/src/modules/timesStops/hooks/useOutputTableData.ts
  front/src/modules/timesStops/types.ts
  front/src/modules/trainschedule/components/Timetable/types.ts
  front/src/utils/__tests__/timeManipulation.spec.ts
  front/src/utils/date.ts
  front/src/utils/timeManipulation.ts
  front/tests/assets/operationStudies/simulationSettings/allSettings.json
  front/tests/assets/operationStudies/simulationSettings/codeCompo/codeCompoOFF.json
  front/tests/assets/operationStudies/simulationSettings/codeCompo/codeCompoON.json
  front/tests/assets/operationStudies/simulationSettings/electricalProfiles/electricalProfileOFF.json
  front/tests/assets/operationStudies/simulationSettings/electricalProfiles/electricalProfileON.json
  front/tests/assets/operationStudies/simulationSettings/margin/linearMargin.json
  front/tests/assets/operationStudies/simulationSettings/margin/marecoMargin.json
  front/tests/assets/operationStudies/timesAndStops/expectedOutputsCellsData.json
Labels: area:front

#9877 front: fix flaky test 012 and 006
  front/tests/012-op-simulation-settings-tab.spec.ts
  front/tests/pages/op-output-table-page-model.ts
  front/tests/pages/stdcm-page-model.ts
Labels: area:front

#9875 front: fix rs image blinking when changing in stdcm
  front/src/modules/rollingStock/components/RollingStock2Img.tsx
  front/src/modules/rollingStock/components/RollingStockSelector/useStoreDataForRollingStockSelector.ts
Labels: area:front

#9868 front: resizable GET
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/applications/stdcm/components/StdcmResults/StdcmDebugResults.tsx
  front/src/common/ResizableSection.tsx
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
  front/src/modules/simulationResult/components/SpeedSpaceChart/SpeedSpaceChartContainer.tsx
  front/src/styles/scss/common/_components.scss
  front/src/styles/scss/common/components/_resizableSection.scss
Labels: area:front, module:stdcm

#9659 core: add a new updateMap() function to DistanceRangeMap
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeMap.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeMapImpl.kt
  core/kt-osrd-utils/src/test/kotlin/fr/sncf/osrd/utils/TestDistanceRangeMap.kt
  core/src/main/kotlin/fr/sncf/osrd/envelope_sim_infra/EnvelopeTrainPath.kt
  core/src/main/kotlin/fr/sncf/osrd/utils/EnvelopeTrainPathUtils.kt
Labels: area:core

#9878 front: remove rolling stock custom hook where unnecessary
  front/src/modules/pathfinding/components/Pathfinding/Pathfinding.tsx
  front/src/modules/pathfinding/components/Pathfinding/TypeAndPath.tsx
Labels: area:front

#9870 front: display electrical profile set name in scenario
  front/public/locales/en/operationalStudies/scenario.json
  front/public/locales/fr/operationalStudies/scenario.json
  front/src/applications/operationalStudies/components/Scenario/ScenarioDescription.tsx
Labels: area:front

#9837 core: update stdcm with temporary speed limits
  core/kt-osrd-rjs-parser/src/main/kotlin/fr/sncf/osrd/RawInfraRJSParser.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/PathProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/RawSignalingInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackInfra.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/PathPropertiesImpl.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/TemporarySpeedLimitManager.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/utils/PathPropertiesView.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DistanceRangeMap.kt
  core/kt-osrd-utils/src/test/kotlin/fr/sncf/osrd/utils/TestDistanceRangeMap.kt
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/common/RJSTemporarySpeedLimit.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/pathfinding/PathfindingBlocksEndpointV2.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/stdcm/STDCMEndpointV2.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/stdcm/STDCMRequestV2.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/PathPropUtils.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/envelope_sim_infra/MRSP.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulation.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/STDCMHeuristic.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/BacktrackingManager.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/EngineeringAllowanceManager.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdgeBuilder.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMGraph.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPostProcessing.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMSimulations.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorer.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorerWithEnvelope.kt
  core/src/main/kotlin/fr/sncf/osrd/utils/CachedBlockMRSPBuilder.kt
  core/src/test/java/fr/sncf/osrd/DriverBehaviourTest.kt
  core/src/test/java/fr/sncf/osrd/standalone_sim/ConflictDetectionTest.java
  core/src/test/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractorTests.java
  core/src/test/kotlin/fr/sncf/osrd/envelope_sim_infra/MRSPTest.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/PathPropertiesTests.kt
  core/src/test/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulationTest.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/BacktrackingTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/DepartureTimeShiftTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/EngineeringAllowanceTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMHelpers.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMPathfindingBuilder.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/TemporarySpeedLimitTests.kt
  core/src/test/kotlin/fr/sncf/osrd/utils/DummyInfra.kt
Labels: area:core

#9832 front: harmonize timesstops component name in scenario
  front/src/modules/timesStops/TimesStops.tsx
  front/src/modules/timesStops/TimesStopsOutput.tsx
  front/src/modules/timesStops/hooks/useOutputTableData.ts
  front/src/modules/timesStops/hooks/useTimesStopsColumns.tsx
  front/src/modules/timesStops/types.ts
  front/tests/011-op-times-and-stops-tab.spec.ts
  front/tests/012-op-simulation-settings-tab.spec.ts
  front/tests/pages/op-output-table-page-model.ts
  front/tests/pages/op-timetable-page-model.ts
Labels: area:front

#9879 front: make rs label shorter
  front/src/applications/stdcm/components/StdcmForm/StdcmConsist.tsx
Labels: area:front

#9866 schemas, railjson_generator: comply to PEP 621
  python/osrd_schemas/.python-version
  python/osrd_schemas/pyproject.toml
  python/railjson_generator/.python-version
  python/railjson_generator/pyproject.toml
Labels: area:railjson

#9897 ci: disable cache for release
  .github/workflows/release.yml
Labels: area:ci

#9874 core: stdcm: fix post-processing when arrival time is set
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMNode.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPostProcessing.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/FullSTDCMTests.kt
Labels: area:core
