Repository OpenRailAssociation/osrd, pull requests merged in 2024-02, with the labels that each got.

#6524 core: fix gauge loading from railjson
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSTrackSection.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/trackranges/RJSLoadingGaugeLimit.java
  core/src/main/java/fr/sncf/osrd/infra/implementation/tracks/undirected/UndirectedInfraBuilder.java
  core/src/main/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapter.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/constraints/LoadingGaugeConstraintsTest.kt
  python/railjson_generator/railjson_generator/schema/infra/range_elements.py
  python/railjson_generator/railjson_generator/schema/infra/track_section.py
  tests/data/infras/circle_infra/infra.json
  tests/data/infras/example_script/infra.json
  tests/data/infras/one_line/infra.json
  tests/data/infras/small_infra/infra.json
  tests/data/infras/three_trains/infra.json
  tests/data/infras/tiny_infra/infra.json
  tests/infra-scripts/small_infra.py
Labels: kind:bug

#6466 Adding `OperationalPointIdLocation` as location for POST `/timetable/{id}`
  editoast/openapi.yaml
  editoast/src/models/infra_objects/operational_point.rs
  editoast/src/views/timetable/import.rs
  front/src/common/api/osrdEditoastApi.ts
Labels: area:editoast

#6404 Refine allowance tolerances
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/allowances/AbstractAllowanceWithRanges.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/AllowanceRangesTests.java
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/AllowanceTests.java
  core/src/test/kotlin/fr/sncf/osrd/stdcm/StandardAllowanceTests.kt
Labels: area:core, kind:refacto-task

#6572 front: fix overlap while searching by trigram with elipsis
  front/src/common/Pathfinding/TypeAndPath.tsx
  front/src/styles/scss/common/components/_typeAndPath.scss
Labels: kind:bug, area:front

#6535 front: operationalstudies: support returns to line in prodject-study-scenario description
  front/public/locales/en/operationalStudies/project.json
  front/public/locales/en/operationalStudies/scenario.json
  front/public/locales/en/operationalStudies/study.json
  front/public/locales/fr/operationalStudies/project.json
  front/public/locales/fr/operationalStudies/scenario.json
  front/public/locales/fr/operationalStudies/study.json
  front/src/modules/project/components/AddOrEditProjectModal.tsx
  front/src/modules/project/styles/_projectCard.scss
  front/src/modules/scenario/components/AddOrEditScenarioModal.tsx
  front/src/modules/scenario/styles/_scenarioCard.scss
  front/src/modules/study/components/AddOrEditStudyModal.tsx
  front/src/modules/study/styles/_studyCard.scss
  front/src/styles/scss/applications/operationalStudies/_project.scss
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
  front/src/styles/scss/applications/operationalStudies/_study.scss
Labels: kind:bug, area:front, module:operational-studies

#6597 front: operationalstudies: focus added on the name input when modal opens
  front/src/common/Map/Search/MapSearchStation.tsx
  front/src/modules/project/components/AddOrEditProjectModal.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/PowerRestrictionGridModal.tsx
  front/src/modules/scenario/components/AddOrEditScenarioModal.tsx
  front/src/modules/study/components/AddOrEditStudyModal.tsx
  front/src/utils/hooks/useModalFocusTrap.ts
Labels: kind:enhancement, area:front

#6630 Fix the minimum zoom level for detectors at 8
  front/src/common/Map/Layers/Detectors.tsx
Labels: kind:enhancement, area:front

#6648 gateway: config open telemetry propagator
  docker/gateway.dev.simple.toml
  gateway/README.md
  gateway/gateway.toml
  gateway/src/config.rs
Labels: area:gateway

#6696 front: limit op search to 100 results
  front/public/locales/en/map-search.json
  front/public/locales/fr/map-search.json
  front/src/common/Map/Search/MapSearchStation.tsx
Labels: area:front

#6699 Configure tracing to output on stderr for editoast
  editoast/src/main.rs
Labels: kind:bug, area:editoast

#6723 Fix rolling stock filter with reference and subserie in timetable
  front/src/modules/trainschedule/components/Timetable/Timetable.tsx
Labels: area:front
