Repository OpenRailAssociation/osrd, pull requests merged in 2024-10, with the labels that each got.

#9148 front: remove the space curves slopes chart
  front/package.json
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/modules/simulationResult/components/ChartHelpers/ChartHelpers.ts
  front/src/modules/simulationResult/components/ChartHelpers/__tests__/ChartHelpers.spec.ts
  front/src/modules/simulationResult/components/ChartHelpers/defineChart.ts
  front/src/modules/simulationResult/components/ChartHelpers/drawArea.ts
  front/src/modules/simulationResult/components/ChartHelpers/drawCurve.ts
  front/src/modules/simulationResult/components/ChartHelpers/drawGuideLines.ts
  front/src/modules/simulationResult/components/ChartHelpers/enableInteractivity.tsx
  front/src/modules/simulationResult/components/ChartHelpers/getScaleDomainFromValues.ts
  front/src/modules/simulationResult/components/ChartHelpers/svgDefs.ts
  front/src/modules/simulationResult/components/SpaceCurvesSlopes/SpaceCurvesSlopes.tsx
  front/src/modules/simulationResult/components/SpaceCurvesSlopes/utils.ts
  front/src/modules/simulationResult/components/SpeedSpaceChart/helpers.ts
  front/src/modules/simulationResult/components/SpeedSpaceChart/types.ts
  front/src/modules/simulationResult/styles/_spaceCurvesSlopes.scss
  front/src/modules/simulationResult/styles/simulationResult.scss
  front/src/modules/simulationResult/types.ts
  front/src/reducers/simulationResults/types.ts
  front/src/utils/date.ts
  front/src/utils/types.ts
  front/tests/pages/op-timetable-page-model.ts
  front/yarn.lock
Labels: area:front

#9167 front: upgrade sass
  front/src/modules/conflict/styles/_conflictList.scss
  front/src/styles/scss/_body.scss
  front/src/styles/scss/_variables.scss
  front/src/styles/scss/applications/rollingStockEditor/_rollingStockForm.scss
  front/vite.config.mts
  front/yarn.lock
Labels: area:front

#9186 front: drop sass-loader dependency
  front/package.json
  front/yarn.lock
Labels: area:front

#9141 front: integration manchette with spacetimechart using new hook from …
  front/package.json
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/applications/stdcm/hooks/useStdcmResults.ts
  front/src/applications/stdcm/views/StdcmResultsV2.tsx
  front/src/applications/stdcmV2/components/StdcmResults/StdcmResults.tsx
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
  front/src/modules/simulationResult/components/SpaceTimeChart/useGetProjectedTrainOperationalPoints.ts
  front/src/styles/scss/_uiSpaceTimeChart.scss
  front/src/styles/scss/_variables.scss
  front/src/styles/scss/common/_components.scss
  front/src/styles/scss/common/components/_manchetteWithSpaceTimeChart.scss
  front/src/styles/styles.scss
  front/yarn.lock
Labels: area:front

#9170 osrdyne, gateway, editoast: switch docker images to alpine
  .github/workflows/build.yml
  editoast/Dockerfile
  gateway/Dockerfile
  osrdyne/Cargo.lock
  osrdyne/Cargo.toml
  osrdyne/Dockerfile
Labels: area:editoast, area:gateway, area:osrdyne

#9203 editoast: fix the openapi on lock/unlock rolling stock
  editoast/openapi.yaml
  editoast/src/views/rolling_stock.rs
  front/src/common/api/generatedEditoastApi.ts
Labels: area:editoast

#9147 front: nuke storybook
  .github/dependabot.yml
  docker/docker-compose.storybook.yml
  front/.gitignore
  front/.storybook/main.js
  front/.storybook/preview-head.html
  front/.storybook/preview.js
  front/README.md
  front/docker/Dockerfile.storybook
  front/package.json
  front/src/stories/IntervalsEditor.stories.tsx
  front/src/stories/Introduction.stories.mdx
  front/src/stories/RollingStockSelector.stories.tsx
  front/src/stories/SpeedLimitByTag.stories.tsx
  front/src/stories/assets/code-brackets.svg
  front/src/stories/assets/colors.svg
  front/src/stories/assets/comments.svg
  front/src/stories/assets/direction.svg
  front/src/stories/assets/flow.svg
  front/src/stories/assets/logo-osrd-color-white.svg
  front/src/stories/assets/plugin.svg
  front/src/stories/assets/repo.svg
  front/src/stories/assets/stackalt.svg
  front/src/stories/storybook.css
  front/src/stories/storybook.css.map
  front/yarn.lock
Labels: area:front, area:ci

#9209 editoast: remove redundant prefix in the error's name
  editoast/openapi.yaml
  editoast/src/views/rolling_stock.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  front/src/common/api/generatedEditoastApi.ts
Labels: area:editoast

#9217 Replace editoast chashmap with dashmap
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/infra_cache/mod.rs
  editoast/src/main.rs
  editoast/src/views/test_app.rs
Labels: area:editoast

#9210 front: drop @vitest/coverage-c8
  front/package.json
  front/yarn.lock
Labels: area:front

#8210 editoast: add instrumentation in diesel-async connections
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/editoast_derive/src/model/codegen/count_impl.rs
  editoast/editoast_models/Cargo.toml
  editoast/editoast_models/src/db_connection_pool.rs
  editoast/editoast_models/src/db_connection_pool/tracing_instrumentation.rs
Labels: area:editoast

#9264 front: import test functions from vitest in every test file
  front/src/applications/editor/tools/pointEdition/__tests__/utils.spec.ts
  front/src/applications/editor/tools/rangeEdition/__tests__/utils.spec.ts
  front/src/applications/editor/tools/routeEdition/utils.test.ts
  front/src/applications/operationalStudies/__tests__/upsertMapWaypointsInOperationalPoints.spec.ts
  front/src/applications/operationalStudies/__tests__/utils.spec.ts
  front/src/applications/operationalStudies/hooks/__tests__/useSetupItineraryForTrainUpdate.spec.ts
  front/src/applications/stdcm/utils/__tests__/simulationReportSheet.spec.ts
  front/src/common/IntervalsDataViz/data.test.ts
  front/src/modules/pathfinding/components/Pathfinding/__tests__/Pathfinding.spec.ts
  front/src/modules/pathfinding/helpers/__tests__/getPathVoltages.spec.ts
  front/src/modules/powerRestriction/helpers/__tests__/createPathStep.spec.ts
  front/src/modules/powerRestriction/helpers/__tests__/formatPowerRestrionRangesWithHandle.spec.ts
  front/src/modules/powerRestriction/helpers/__tests__/powerRestrictionWarnings.spec.ts
  front/src/modules/rollingStock/components/RollingStockEditor/__tests__/RollingStockEditorCurves.spec.ts
  front/src/modules/rollingStock/components/RollingStockEditor/__tests__/RollingStockEditorForm.spec.ts
  front/src/modules/rollingStock/components/RollingStockSelector/__tests__/RollingStockModal.spec.ts
  front/src/modules/rollingStock/helpers/__tests__/electric.spec.ts
  front/src/modules/rollingStock/helpers/__tests__/powerRestrictions.spec.ts
  front/src/modules/rollingStock/helpers/__tests__/utils.spec.ts
  front/src/modules/rollingStock/hooks/__tests__/useFilterRollingStock.test.tsx
  front/src/modules/scenario/helpers/__tests__/scenario.spec.ts
  front/src/modules/simulationResult/components/ChartHelpers/__tests__/ChartHelpers.spec.ts
  front/src/modules/simulationResult/components/SimulationResultsMap/__tests__/helpers.spec.ts
  front/src/modules/simulationResult/components/SpeedSpaceChart/__tests__/helpers.spec.ts
  front/src/modules/timesStops/helpers/__tests__/arrivalTime.spec.ts
  front/src/modules/timesStops/helpers/__tests__/computeMargins.spec.ts
  front/src/modules/trainschedule/components/DriverTrainSchedule/__tests__/utils.spec.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/__tests__/formatSchedule.spec.ts
  front/src/reducers/editor/__tests__/editorReducer.spec.ts
  front/src/reducers/main/mainReducer.spec.ts
  front/src/reducers/map/mapReducer.spec.ts
  front/src/reducers/mapViewer/__tests__/mapViewerReducer.spec.ts
  front/src/reducers/osrdconf/__tests__/helpers.spec.ts
  front/src/reducers/osrdconf/operationalStudiesConf/simulationConfReducers.spec.ts
  front/src/reducers/osrdconf/osrdConfCommon/__tests__/utils.ts
  front/src/reducers/osrdconf/stdcmConf/stdcmConfReducers.spec.ts
  front/src/reducers/simulationResults/simulationResultsReducer.spec.ts
  front/src/reducers/user/userReducer.spec.ts
  front/src/utils/__tests__/array.spec.ts
  front/src/utils/__tests__/batch.spec.ts
  front/src/utils/__tests__/constants.spec.ts
  front/src/utils/__tests__/date.spec.ts
  front/src/utils/__tests__/geometry.test.ts
  front/src/utils/__tests__/numbers.spec.ts
  front/src/utils/__tests__/physics.spec.ts
  front/src/utils/__tests__/strings.spec.ts
  front/src/utils/__tests__/timeManipulation.spec.ts
  front/vite.config.mts
Labels: area:front

#9212 front: drop @faker-js/faker
  front/package.json
  front/yarn.lock
Labels: area:front

#9279 front: upgrade minor dependencies
  front/yarn.lock
Labels: area:front

#9178 editoast: add train_schedule object to search endpoint
  editoast/editoast_schemas/src/train_schedule/train_schedule_options.rs
  editoast/openapi.yaml
  editoast/src/views/search.rs
  front/src/common/api/generatedEditoastApi.ts
Labels: area:editoast

#9317 editoast: use pooling for amqp
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/openapi.yaml
  editoast/src/core/mq_client.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
Labels: area:editoast

#9274 Rename redis to valkey
  .github/workflows/build.yml
  docker-compose.yml
  docker/docker-compose.host.yml
  docker/docker-compose.pr-tests.yml
  editoast/README.md
  editoast/openapi.yaml
  editoast/src/client/mod.rs
  editoast/src/client/valkey_config.rs
  editoast/src/error.rs
  editoast/src/main.rs
  editoast/src/map/mod.rs
  editoast/src/valkey_utils.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/layers.rs
  editoast/src/views/mod.rs
  editoast/src/views/path/pathfinding.rs
  editoast/src/views/path/properties.rs
  editoast/src/views/test_app.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/train_schedule.rs
  editoast/src/views/train_schedule/projection.rs
  front/README.md
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  scripts/cleanup-db.sh
  scripts/pr-infra-compose.sh
Labels: area:front, area:editoast

#9106 editoast: stdcm simulation convoy parameters
  editoast/openapi.yaml
  editoast/src/core/simulation.rs
  editoast/src/views/rolling_stock.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/train_schedule.rs
  front/public/locales/en/operationalStudies/manageTrainSchedule.json
  front/public/locales/en/stdcm.json
  front/public/locales/fr/operationalStudies/manageTrainSchedule.json
  front/public/locales/fr/stdcm.json
  front/src/applications/stdcm/utils/formatStdcmConfV2.ts
  front/src/applications/stdcmV2/components/StdcmConsist.tsx
  front/src/applications/stdcmV2/hooks/useStdcmConsist.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/reducers/osrdconf/stdcmConf/index.ts
  front/src/reducers/osrdconf/stdcmConf/selectors.ts
  front/src/reducers/osrdconf/stdcmConf/stdcmConfReducers.spec.ts
  front/src/reducers/osrdconf/types.ts
  front/src/styles/scss/applications/stdcmV2/_card.scss
  front/src/utils/physics.ts
Labels: area:editoast, module:stdcm

#9382 osrdyne: refresh worker on version changes
  osrdyne/Cargo.lock
  osrdyne/Cargo.toml
  osrdyne/src/api.rs
  osrdyne/src/drivers.rs
  osrdyne/src/drivers/docker.rs
  osrdyne/src/drivers/kubernetes.rs
  osrdyne/src/drivers/kubernetes/keda.rs
  osrdyne/src/drivers/noop.rs
  osrdyne/src/drivers/process_compose.rs
  osrdyne/src/drivers/worker_driver.rs
  osrdyne/src/pool.rs
Labels: area:osrdyne

#9390 tests: add "locked" property to mocked rolling-stock
  tests/data/rolling_stocks/electric_rolling_stock.json
  tests/data/rolling_stocks/fast_rolling_stock.json
  tests/data/rolling_stocks/fast_rolling_stock_high_gamma.json
  tests/data/rolling_stocks/short_fast_rolling_stock.json
  tests/data/rolling_stocks/short_slow_rolling_stock.json
  tests/data/rolling_stocks/slow_rolling_stock.json
Labels: component:rollingstock, severity:minor, module:rollingstocks-editor, kind:technical-enhancement

#9404 core, editoast: pass the signaling system in signal updates
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/project_signals/SignalProjectionResponse.kt
  core/src/main/kotlin/fr/sncf/osrd/signal_projection/SignalProjectionV2.kt
  editoast/openapi.yaml
  editoast/src/core/signal_projection.rs
  front/src/common/api/generatedEditoastApi.ts
Labels: area:editoast

#9393 editoast: add 'core' connectivity to the healthcheck
  editoast/openapi.yaml
  editoast/src/client/mod.rs
  editoast/src/core/mod.rs
  editoast/src/core/mq_client.rs
  editoast/src/main.rs
  editoast/src/views/mod.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
Labels: area:editoast

#9327 editoast: return conflicts list when STDCM request fails
  editoast/openapi.yaml
  editoast/src/core/conflict_detection.rs
  editoast/src/core/simulation.rs
  editoast/src/core/stdcm.rs
  editoast/src/views/timetable/stdcm.rs
  front/src/common/api/generatedEditoastApi.ts
  tests/tests/test_stdcm.py
Labels: area:editoast

#9448 front: bump osrd-ui to 52
  front/package.json
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
  front/yarn.lock
Labels: area:front

#9440 orsdyne: add telemetry support
  docker-compose.yml
  docker/docker-compose.host.yml
  docker/docker-compose.pr-tests.yml
  osrdyne/Cargo.lock
  osrdyne/Cargo.toml
  osrdyne/src/api.rs
  osrdyne/src/config.rs
  osrdyne/src/drivers/docker.rs
  osrdyne/src/drivers/kubernetes.rs
  osrdyne/src/drivers/noop.rs
  osrdyne/src/drivers/process_compose.rs
  osrdyne/src/main.rs
  osrdyne/src/pool.rs
  osrdyne/src/queue_controller.rs
  osrdyne/src/status_tracker.rs
  osrdyne/src/target_tracker.rs
  osrdyne/src/target_tracker/actor.rs
  osrdyne/src/watch_logger.rs
Labels: area:osrdyne

#9464 Use standard oidc crate
  gateway/Cargo.lock
  gateway/Cargo.toml
Labels: area:gateway

#9465 editoast: add 'label' to towed rolling stock
  editoast/editoast_models/src/tables.rs
  editoast/editoast_schemas/src/rolling_stock/towed_rolling_stock.rs
  editoast/migrations/2024-10-24-143158_add-towed-rolling-stock-field-description/down.sql
  editoast/migrations/2024-10-24-143158_add-towed-rolling-stock-field-description/up.sql
  editoast/openapi.yaml
  editoast/src/models/towed_rolling_stock.rs
  editoast/src/views/rolling_stock/towed.rs
  front/src/common/api/generatedEditoastApi.ts
  python/osrd_schemas/osrd_schemas/rolling_stock.py
Labels: area:editoast

#9478 editoast: remove always-on directive
  editoast/Dockerfile
  editoast/src/main.rs
Labels: area:editoast

#9517 stdcm: show consist params in simulation raport
  front/src/applications/stdcm/components/StdcmResults/SimulationReportSheet.tsx
  front/src/applications/stdcm/components/StdcmResults/StdcmResults.tsx
  front/src/applications/stdcm/components/StdcmResults/StdcmResultsTable.tsx
  front/src/applications/stdcm/hooks/useStdcmForm.ts
  front/src/applications/stdcm/types.ts
  front/src/applications/stdcm/views/StdcmView.tsx
  front/src/reducers/osrdconf/stdcmConf/index.ts
Labels: module:stdcm

#9383 stdcm: towed rolling stock parameter
  editoast/editoast_schemas/src/rolling_stock.rs
  editoast/editoast_schemas/src/rolling_stock/gamma.rs
  editoast/editoast_schemas/src/rolling_stock/rolling_resistance.rs
  editoast/editoast_schemas/src/rolling_stock/towed_rolling_stock.rs
  editoast/openapi.yaml
  editoast/src/core/simulation.rs
  editoast/src/core/stdcm.rs
  editoast/src/models/fixtures.rs
  editoast/src/models/towed_rolling_stock.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/train_schedule.rs
  front/public/locales/en/errors.json
  front/public/locales/en/stdcm.json
  front/public/locales/fr/errors.json
  front/public/locales/fr/stdcm.json
  front/src/applications/stdcm/components/StdcmForm/StdcmConsist.tsx
  front/src/applications/stdcm/components/StdcmResults/SimulationReportSheet.tsx
  front/src/applications/stdcm/hooks/useStdcmForm.ts
  front/src/applications/stdcm/hooks/useStdcmTowedRollingStock.ts
  front/src/applications/stdcm/types.ts
  front/src/applications/stdcm/utils/formatStdcmConf.ts
  front/src/applications/stdcm/views/StdcmView.tsx
  front/src/common/api/generatedEditoastApi.ts
  front/src/modules/towedRollingStock/hooks/useFilterTowedRollingStock.ts
  front/src/reducers/osrdconf/stdcmConf/index.ts
  front/src/reducers/osrdconf/stdcmConf/selectors.ts
  front/src/reducers/osrdconf/stdcmConf/stdcmConfReducers.spec.ts
  front/src/reducers/osrdconf/types.ts
  front/src/styles/scss/applications/stdcm/_card.scss
Labels: area:editoast, module:stdcm
