Repository OpenRailAssociation/osrd, pull requests merged in 2024-09, with the labels that each got.

#8748 front: osrd recognizes secondary code as BV, 00, or an empty string if no secondary code is provided by the user in macroscopic mode.
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
  front/src/applications/operationalStudies/views/Scenario.tsx
Labels: area:front, module:operational-studies

#8825 editoast: osm_to_railjson: add a readme example for Germany
  editoast/osm_to_railjson/README.md
Labels: kind:documentation

#8831 core: fix distance_range_map.to_range_map
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulation.kt
  core/src/test/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulationTest.kt
Labels: kind:bug, severity:major

#8786 core, editoast: add work schedules to v2 conflict detection endpoint
  core/src/main/java/fr/sncf/osrd/api/ConflictDetectionEndpoint.java
  core/src/main/java/fr/sncf/osrd/cli/ApiServerCommand.java
  core/src/main/java/fr/sncf/osrd/cli/WorkerCommand.kt
  core/src/main/java/fr/sncf/osrd/conflicts/Conflicts.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/CommonSchemas.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/RequirementsParser.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/conflicts/ConflictDetectionEndpointV2.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/conflicts/ConflictDetectionRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/conflicts/ConflictDetectionResponse.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/stdcm/STDCMEndpointV2.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/stdcm/STDCMRequestV2.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/preprocessing/implementation/BlockAvailability.kt
  core/src/test/java/fr/sncf/osrd/standalone_sim/ConflictDetectionTest.java
  core/src/test/kotlin/fr/sncf/osrd/stdcm/FullSTDCMTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/preprocessing/BlockAvailabilityTests.kt
  editoast/openapi.yaml
  editoast/src/core/conflict_detection.rs
  editoast/src/core/stdcm.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/stdcm.rs
  front/src/common/api/generatedEditoastApi.ts
Labels: area:core, area:editoast
