Repository OpenRailAssociation/osrd, pull requests merged in 2024-03, with the labels that each got.

#6757 Add a download button to get a trainschedule result as csv
  front/src/modules/trainschedule/components/DriverTrainSchedule/DriverTrainScheduleHeader.tsx
  front/src/modules/trainschedule/components/DriverTrainSchedule/driverTrainScheduleExportCSV.ts
Labels: area:front

#6779 core: improve handling of node groups with multiple connections
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/RawInfraAdapterTest.kt
Labels: kind:bug, area:core, severity:minor

#6381 editoast: rolling stock model v2
  editoast/migrations/2024-02-05-140856_rolling_stock_power_restrictions_not_null/down.sql
  editoast/migrations/2024-02-05-140856_rolling_stock_power_restrictions_not_null/up.sql
  editoast/openapi.yaml
  editoast/src/core/stdcm.rs
  editoast/src/fixtures.rs
  editoast/src/main.rs
  editoast/src/models/mod.rs
  editoast/src/models/rolling_stock/light_rolling_stock.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/modelsv2/mod.rs
  editoast/src/modelsv2/rolling_stock_model.rs
  editoast/src/schema/rolling_stock/light_rolling_stock.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/tables.rs
  editoast/src/views/light_rolling_stocks.rs
  editoast/src/views/pathfinding/mod.rs
  editoast/src/views/rolling_stocks/mod.rs
  editoast/src/views/rolling_stocks/rolling_stock_form.rs
  editoast/src/views/single_simulation.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/import.rs
  editoast/src/views/train_schedule/mod.rs
  editoast/src/views/train_schedule/simulation_report.rs
  front/src/common/api/osrdEditoastApi.ts
Labels: area:editoast

#6777 front: common: scss reorganize in common folder
  front/src/common/BootstrapSNCF/CardSNCF/CardSNCF.tsx
  front/src/common/BootstrapSNCF/CheckboxRadioSNCF.tsx
  front/src/common/BootstrapSNCF/InputGroupSNCF.tsx
  front/src/common/BootstrapSNCF/ModalSNCF/ModalStyle.scss
  front/src/common/BootstrapSNCF/ModalSNCF/index.ts
  front/src/common/BootstrapSNCF/OptionsSNCF.tsx
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.tsx
  front/src/common/BootstrapSNCF/SwitchSNCF/SwitchSNCF.tsx
  front/src/common/DotsLoader/DotsLoader.tsx
  front/src/common/Grid/Grid.tsx
  front/src/common/IntervalsDataViz/dataviz.tsx
  front/src/common/Loaders/Loader.tsx
  front/src/common/Map/MapKey.tsx
  front/src/common/Map/WarpedMap/SimulationWarpedMap.tsx
  front/src/common/Notifications/Notifications.tsx
  front/src/common/SpeedLimitByTagSelector/SpeedLimitByTagSelector.tsx
  front/src/common/common.scss
  front/src/styles/styles.scss
Labels: area:front

#6840 front: rollingstockeditor: adding rolling stock even if database is empty
  front/src/modules/rollingStock/components/RollingStockEditor/CurveParamSelectors.tsx
Labels: kind:bug, area:front, module:rollingstocks-editor

#6911 front: update IGN layers to new endpoints
  front/src/common/Map/Layers/IGN_BD_ORTHO.tsx
  front/src/common/Map/Layers/IGN_CADASTRE.tsx
  front/src/common/Map/Layers/IGN_SCAN25.tsx
Labels: difficulty:good first issue, area:front

#6962 front: search: ops: display CI but search in UIC
  front/src/common/Map/Search/MapSearchOperationalPoint.tsx
Labels: kind:bug, difficulty:good first issue

#6957 front: fix yarn generate-types and add ci fail check
  editoast/openapi.yaml
  editoast/src/views/v2/timetable.rs
  editoast/src/views/v2/train_schedule.rs
  front/scripts/generate-types.sh
  front/src/common/api/osrdEditoastApi.ts
Labels: area:ci

#6970 front: add time in hh:mm:ss format for trainschedule export, less decimals for values
  front/src/modules/trainschedule/components/DriverTrainSchedule/driverTrainScheduleExportCSV.ts
  front/src/utils/date.ts
Labels: area:front
