Repository OpenRailAssociation/osrd, pull requests merged in 2024-04, with the labels that each got.

#7072 editoast: add editoast_schemas empty lib
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/editoast_schemas/Cargo.toml
  editoast/editoast_schemas/src/lib.rs
Labels: area:editoast, kind:refacto-task

#7076 editoast: move rolling stock gamma to schemas
  editoast/editoast_schemas/src/lib.rs
  editoast/editoast_schemas/src/rolling_stock/gamma.rs
  editoast/editoast_schemas/src/rolling_stock/mod.rs
  editoast/src/modelsv2/light_rolling_stock.rs
  editoast/src/modelsv2/rolling_stock_model.rs
  editoast/src/schema/rolling_stock/mod.rs
Labels: area:editoast, kind:refacto-task

#7087 editoast: move rs effort curves to schemas
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/editoast_schemas/Cargo.toml
  editoast/editoast_schemas/src/rolling_stock/effort_curves.rs
  editoast/editoast_schemas/src/rolling_stock/mod.rs
  editoast/src/core/simulation.rs
  editoast/src/core/stdcm.rs
  editoast/src/models/train_schedule.rs
  editoast/src/modelsv2/rolling_stock_model.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/views/single_simulation.rs
  editoast/src/views/stdcm/mod.rs
  editoast/src/views/timetable/import.rs
  editoast/src/views/train_schedule/mod.rs
Labels: area:editoast, kind:refacto-task

#7100 editoast: move rolling_resistance to schemas
  editoast/editoast_schemas/src/rolling_stock/mod.rs
  editoast/editoast_schemas/src/rolling_stock/rolling_resistance.rs
  editoast/src/modelsv2/light_rolling_stock.rs
  editoast/src/modelsv2/rolling_stock_model.rs
  editoast/src/schema/rolling_stock/mod.rs
Labels: area:editoast, kind:refacto-task

#7099 editoast: move energy source to schemas
  editoast/editoast_schemas/src/rolling_stock/energy_source.rs
  editoast/editoast_schemas/src/rolling_stock/mod.rs
  editoast/src/modelsv2/light_rolling_stock.rs
  editoast/src/modelsv2/rolling_stock_model.rs
  editoast/src/schema/rolling_stock/mod.rs
Labels: area:editoast, kind:refacto-task

#7114 editoast: define structs schemas! in editoast_schemas
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/editoast_schemas/Cargo.toml
  editoast/editoast_schemas/src/rolling_stock/mod.rs
  editoast/src/schema/rolling_stock/mod.rs
Labels: area:ci, kind:refacto-task

#7108 editoast: move supported signaling systems to schemas
  editoast/editoast_schemas/src/rolling_stock/mod.rs
  editoast/editoast_schemas/src/rolling_stock/supported_signaling_systems.rs
  editoast/src/models/rolling_stock/mod.rs
  editoast/src/modelsv2/light_rolling_stock.rs
  editoast/src/modelsv2/rolling_stock_model.rs
  editoast/src/schema/rolling_stock/light_rolling_stock.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/views/rolling_stocks/mod.rs
Labels: area:ci, kind:refacto-task

#7109 editoast: move rolling stock metadata
  editoast/editoast_schemas/src/rolling_stock/mod.rs
  editoast/editoast_schemas/src/rolling_stock/rolling_stock_metadata.rs
  editoast/src/modelsv2/light_rolling_stock.rs
  editoast/src/modelsv2/rolling_stock_model.rs
  editoast/src/schema/rolling_stock/mod.rs
  editoast/src/views/rolling_stocks/rolling_stock_form.rs
Labels: area:ci, kind:refacto-task

#7129 core: stdcm: remove envelopes in stdcm edges
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/BacktrackingManager.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/EngineeringAllowanceManager.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdge.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdgeBuilder.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPostProcessing.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMSimulations.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMUtils.kt
Labels: area:core, module:stdcm

#7147 front: trainschedule: add electrification ranges to csv export
  front/src/modules/trainschedule/components/DriverTrainSchedule/driverTrainScheduleExportCSV.ts
Labels: area:front

#7169 front: link speed limit to route id for ralen 30 60
  front/src/applications/editor/tools/rangeEdition/components/RangeEditionLeftPanel.tsx
  front/src/applications/editor/tools/rangeEdition/types.ts
Labels: difficulty:good first issue, area:front

#7163 front: pathfinding: fix missing commits in pr #6768
  front/src/common/Pathfinding/TypeAndPath.tsx
  front/src/modules/trainschedule/styles/ManageTrainSchedule/_itinerary.scss
  front/src/styles/scss/common/components/_typeAndPath.scss
  front/src/utils/inputManipulation.ts
Labels: area:front

#7264 front: fix missing platforms
  front/src/common/Map/Layers/Platforms.tsx
Labels: area:front

#7177 editoast: move train schedule base to schemas
  editoast/Cargo.lock
  editoast/editoast_schemas/Cargo.toml
  editoast/editoast_schemas/src/tests/train_schedule_simple.json
  editoast/editoast_schemas/src/train_schedule.rs
  editoast/editoast_schemas/src/train_schedule/train_schedule_base.rs
  editoast/src/fixtures.rs
  editoast/src/main.rs
  editoast/src/schema/mod.rs
  editoast/src/schema/v2/mod.rs
  editoast/src/views/v2/train_schedule.rs
Labels: area:editoast, kind:refacto-task

#7203 front: operationalstudies: choose v2 scenario when v2 switch is activated
  front/src/common/UserSettings.tsx
  front/src/modules/scenario/components/ScenarioExplorer/ScenarioExplorer.tsx
  front/src/modules/scenario/components/ScenarioExplorer/ScenarioExplorerModal.tsx
Labels: area:front, module:operational-studies

#7162 Cnh/intregate UI core from npm
  front/package.json
  front/src/applications/editor/components/LayersModal.tsx
  front/src/applications/operationalStudies/views/ScenarioV1.tsx
  front/src/applications/operationalStudies/views/v2/ScenarioV2.tsx
  front/src/common/Map/Settings/MapSettingsBackgroundSwitches.tsx
  front/src/common/Map/Settings/MapSettingsLayers.tsx
  front/src/common/Pathfinding/Pathfinding.tsx
  front/src/modules/scenario/components/ScenarioCard.tsx
  front/src/modules/study/components/StudyCard.tsx
  front/src/modules/trainschedule/components/Timetable/TimetableTrainCard.tsx
  front/src/modules/trainschedule/components/TimetableV2/TimetableTrainCardV2.tsx
  front/src/styles/scss/_uiCoreIntegration.scss
  front/src/styles/styles.scss
  front/yarn.lock
Labels: area:front
