Repository OpenRailAssociation/osrd, pull requests merged in 2024-07, with the labels that each got.

#8084 Fix records query for mvt tile generation
  editoast/src/modelsv2/layers/geo_json_and_data.rs
  editoast/src/views/layers.rs
Labels: kind:bug, area:editoast

#8206 front:fix manchette multiple path management
  front/src/applications/operationalStudies/views/v2/SimulationResultsV2.tsx
  front/src/applications/operationalStudies/views/v2/getSimulationResultsV2.ts
  front/src/applications/stdcm/views/StdcmResultsV2.tsx
  front/src/modules/simulationResult/components/SpaceTimeChart/formatSpaceTimeData.ts
  front/src/modules/simulationResult/components/SpaceTimeChart/useGetProjectedTrainOperationalPoints.ts
Labels: area:front

#8258 core: fix node relative time diff calculation
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdge.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMNode.kt
Labels: area:core, module:stdcm

#8260 core: delay departure time in stdcm to make the train pass closer to first planned step arrival time
  core/src/main/kotlin/fr/sncf/osrd/stdcm/STDCMStep.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMNode.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPostProcessing.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMPathfindingTests.kt
Labels: area:core, module:stdcm
