Repository OpenRailAssociation/osrd, pull requests merged in 2024-05, with the labels that each got.

#7355 core: fix osrd error deserialisation due to missing unit and kotlin adapters
  core/kt-osrd-utils/build.gradle
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/DiscreteEventSimulation.kt
  core/osrd-reporting/build.gradle
  core/osrd-reporting/src/main/java/fr/sncf/osrd/reporting/exceptions/OSRDError.java
Labels: area:core

#7508 editoast: refactor projects tests
  editoast/src/modelsv2/fixtures.rs
  editoast/src/modelsv2/mod.rs
  editoast/src/modelsv2/projects.rs
  editoast/src/views/pagination.rs
  editoast/src/views/projects.rs
Labels: area:editoast, area:integration-tests, kind:refacto-task

#7528 editoast: refactor study tests
  editoast/src/modelsv2/fixtures.rs
  editoast/src/modelsv2/study.rs
  editoast/src/views/study.rs
Labels: area:editoast, kind:tests, kind:refacto-task
