Repository OpenRailAssociation/osrd, pull requests merged in 2024-12, with the labels that each got.

#9913 front: update e2e study date check
  front/tests/003-study-management.spec.ts
  front/tests/utils/index.ts
Labels: area:front

#9871 front: fix map marker offset
  front/src/modules/simulationResult/components/SimulationResultsMap/RenderItinerary.tsx
Labels: area:front

#9905 front: fix linked path button clickable if retained simulation
  front/src/applications/stdcm/components/StdcmForm/StdcmLinkedPathSearch.tsx
Labels: area:front

#9903 core: stdcm: fix test for engineering allowance possibility
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/EngineeringAllowanceManager.kt
Labels: area:core

#9798 front: update btn map in scenario page and convert rem to px in css map file
  front/src/common/Map/Buttons/ButtonMapKey.tsx
  front/src/common/Map/Buttons/ButtonMapSearch.tsx
  front/src/common/Map/Buttons/ButtonMapSettings.tsx
  front/src/common/Map/Buttons/ButtonResetViewport.tsx
  front/src/common/Map/Buttons/ButtonZoomIn.tsx
  front/src/common/Map/Buttons/ButtonZoomOut.tsx
  front/src/common/Map/Buttons/MapButton.tsx
  front/src/common/Map/Buttons/MapButtons.tsx
  front/src/modules/simulationResult/components/SimulationResultsMap/SimulationResultsMap.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Map.tsx
  front/src/styles/scss/_variables.scss
  front/src/styles/scss/common/map/_map.scss
Labels: area:front

#9911 core: amend ertms braking simulator interface
  core/src/main/kotlin/fr/sncf/osrd/ertms/etcs/ETCSBrakingSimulator.kt
Labels: area:core

#9923 core: envelope-sim: migrate pipelines to kt
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimContext.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/pipelines/MaxEffortEnvelope.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/pipelines/MaxSpeedEnvelope.java
  core/envelope-sim/src/main/kotlin/fr/sncf/osrd/envelope_sim/EnvelopeSimContext.kt
  core/envelope-sim/src/main/kotlin/fr/sncf/osrd/envelope_sim/pipelines/MaxEffortEnvelope.kt
  core/envelope-sim/src/main/kotlin/fr/sncf/osrd/envelope_sim/pipelines/MaxSpeedEnvelope.kt
Labels: area:core

#9929 core: etcs: move files to envelope_sim module
  core/envelope-sim/build.gradle
  core/envelope-sim/src/main/kotlin/fr/sncf/osrd/envelope_sim/etcs/ETCSBrakingSimulator.kt
Labels: area:core

#9930 editoast: pluralize PaginationQueryParams
  editoast/src/views/infra/errors.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/pagination.rs
  editoast/src/views/projects.rs
  editoast/src/views/rolling_stock/light.rs
  editoast/src/views/rolling_stock/towed.rs
  editoast/src/views/scenario.rs
  editoast/src/views/search.rs
  editoast/src/views/study.rs
  editoast/src/views/work_schedules.rs
Labels: area:editoast

#9937 core: use physics path in etcs braking simulator
  core/envelope-sim/src/main/kotlin/fr/sncf/osrd/envelope_sim/etcs/ETCSBrakingSimulator.kt
Labels: area:core

#9910 fron: lmr consist prefill mass length max speed
  front/src/applications/stdcm/components/StdcmForm/StdcmConsist.tsx
  front/src/applications/stdcm/hooks/useStdcmConsist.ts
  front/src/applications/stdcm/hooks/useStdcmTowedRollingStock.ts
  front/src/utils/physics.ts
Labels: area:front, module:stdcm

#9169 front: switch from yarn to npm
  .github/workflows/build.yml
  flake.nix
  front/.gitignore
  front/README.md
  front/docker/Dockerfile.devel
  front/docker/Dockerfile.nginx
  front/docker/Dockerfile.playwright
  front/index.html
  front/package-lock.json
  front/package.json
  front/scripts/generate-types.sh
  front/yarn.lock
  osrdyne/configuration_templates/process-compose.yaml
  scripts/run-front-playwright-container.sh
  scripts/sync-openapi.sh
  tests/README.md
Labels: area:front, area:ci, area:integration-tests, area:osrdyne

#9933 front: use Date instead of a string in times and stops helpers
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/modules/timesStops/TimesStopsInput.tsx
  front/src/modules/timesStops/helpers/__tests__/utils.spec.ts
  front/src/modules/timesStops/helpers/utils.ts
Labels: area:front

#9943 front: bump nge version to 2.9.11
  front/package-lock.json
  front/package.json
Labels: area:front

#9912 front: fix simulation sheet and csv button style
  front/src/modules/simulationResult/SimulationResultExport/SimulationResultsExport.tsx
  front/src/styles/scss/applications/operationalStudies/_simulationresults.scss
Labels: area:front

#9894 Make stdcm path buttons clickable across the entire element
  front/src/applications/stdcm/components/StdcmForm/StdcmDefaultCard.tsx
  front/src/styles/scss/applications/stdcm/_card.scss
  front/src/styles/scss/applications/stdcm/_home.scss
  front/src/styles/scss/applications/stdcm/_linkedPath.scss
  front/tests/pages/stdcm-page-model.ts
Labels: area:front

#9939 front: fix lazy loading for rolling stock images
  front/src/common/api/documentApi.ts
  front/src/modules/rollingStock/components/RollingStock2Img.tsx
Labels: area:front

#8633 front: drop PathStep.ch
  front/src/applications/operationalStudies/hooks/__tests__/useSetupItineraryForTrainUpdate.spec.ts
  front/src/applications/operationalStudies/hooks/useSetupItineraryForTrainUpdate.ts
  front/src/applications/stdcm/components/StdcmForm/StdcmOperationalPoint.tsx
  front/src/applications/stdcm/components/StdcmResults/SimulationReportSheet.tsx
  front/src/applications/stdcm/components/StdcmResults/StdcmResultsTable.tsx
  front/src/modules/pathfinding/components/Itinerary/DisplayItinerary/Vias.tsx
  front/src/modules/pathfinding/components/Pathfinding/TypeAndPath.tsx
  front/src/modules/pathfinding/helpers/getStepLocation.ts
  front/src/modules/pathfinding/hooks/usePathfinding.ts
  front/src/modules/pathfinding/utils.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/__tests__/formatSchedule.spec.ts
  front/src/modules/trainschedule/helpers/computeBasePathSteps.ts
  front/src/reducers/osrdconf/helpers.ts
  front/src/reducers/osrdconf/osrdConfCommon/__tests__/utils.ts
  front/src/reducers/osrdconf/types.ts
Labels: area:front

#9792 front: display timetable in macro mode, add styles for macro container
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
  front/src/styles/scss/applications/operationalStudies/_nge.scss
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Labels: area:front, component:nge

#9654 editoast: lmr towed max speed
  editoast/editoast_models/src/tables.rs
  editoast/editoast_schemas/src/rolling_stock/towed_rolling_stock.rs
  editoast/migrations/2024-12-03-144258_towed-rolling-stock-add-field-max-speed/down.sql
  editoast/migrations/2024-12-03-144258_towed-rolling-stock-add-field-max-speed/up.sql
  editoast/openapi.yaml
  editoast/src/core/simulation.rs
  editoast/src/models/fixtures.rs
  editoast/src/models/towed_rolling_stock.rs
  editoast/src/views/rolling_stock/towed.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/stdcm/request.rs
  front/src/applications/stdcm/hooks/useStdcmConsist.ts
  front/src/common/api/generatedEditoastApi.ts
Labels: kind:bug, area:front, area:editoast, module:stdcm

#9960 front: fix simulation results width on wide screen
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Labels: area:front

#9958 front: fix speedspacechart resize behavior
  front/src/modules/simulationResult/components/SpeedSpaceChart/SpeedSpaceChartContainer.tsx
Labels: area:front

#9973 front: fix lmr max speed prefill
  front/src/applications/stdcm/hooks/useStdcmConsist.ts
Labels: kind:bug, area:front

#9876 editoast: consist compute gamma
  editoast/src/core/simulation.rs
  editoast/src/models/fixtures.rs
Labels: area:editoast, module:stdcm

#9873 editoast: log stdcm requests
  editoast/editoast_models/src/tables.rs
  editoast/migrations/2024-11-21-145205_create_stdcm_logs/down.sql
  editoast/migrations/2024-11-21-145205_create_stdcm_logs/up.sql
  editoast/openapi.yaml
  editoast/src/core/conflict_detection.rs
  editoast/src/core/mod.rs
  editoast/src/core/simulation.rs
  editoast/src/core/stdcm.rs
  editoast/src/models/mod.rs
  editoast/src/models/stdcm_log.rs
  editoast/src/views/timetable/stdcm.rs
Labels: area:editoast

#9904 front: match the width and spacing of the results table to the mockup
  front/src/applications/stdcm/components/StdcmResults/StdcmResultsTable.tsx
  front/src/styles/scss/applications/stdcm/_home.scss
  front/src/styles/scss/applications/stdcm/_results.scss
Labels: area:front

#9976 schemas: allow extensions to be specified but None
  front/src/reducers/osrdconf/infra_schema.json
  python/osrd_schemas/osrd_schemas/infra.py
  python/osrd_schemas/pyproject.toml
Labels: area:railjson, area:front

#9725 front: handle stops in viriato imports
  front/src/modules/trainschedule/components/ImportTrainSchedule/ImportTrainScheduleConfig.tsx
Labels: area:front

#9971 core: pathfinding: filter out paths with repeated tracks during exploration
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/AppendOnlySet.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorer.kt
  core/src/test/kotlin/fr/sncf/osrd/utils/DummyInfra.kt
Labels: area:core

#9775 editoast: add field weight to op
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSInfra.java
  editoast/editoast_schemas/src/infra/operational_point.rs
  editoast/editoast_schemas/src/infra/railjson.rs
  editoast/openapi.yaml
  editoast/osm_to_railjson/src/utils.rs
  front/src/common/api/generatedEditoastApi.ts
  front/src/reducers/osrdconf/infra_schema.json
  front/tests/assets/infra/infra.json
  python/osrd_schemas/osrd_schemas/infra.py
  python/railjson_generator/pyproject.toml
  python/railjson_generator/railjson_generator/schema/infra/infra.py
  python/railjson_generator/railjson_generator/schema/infra/operational_point.py
  tests/data/infras/circle_infra/infra.json
  tests/data/infras/example_script/infra.json
  tests/data/infras/nested_switches/infra.json
  tests/data/infras/one_line/infra.json
  tests/data/infras/overlapping_routes/infra.json
  tests/data/infras/small_infra/infra.json
  tests/data/infras/three_trains/infra.json
  tests/data/infras/tiny_infra/infra.json
Labels: area:railjson, area:core, area:front, area:editoast, area:integration-tests

#9977 front: set default tolerances in the store
  front/src/applications/stdcm/components/StdcmForm/StdcmDestination.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmOrigin.tsx
  front/src/applications/stdcm/consts.ts
  front/src/reducers/osrdconf/stdcmConf/index.ts
Labels: area:front

#9986 Fix accents support in `x-remote-user-name`
  editoast/src/views/mod.rs
Labels: area:editoast

#9956 editoast: fix projection endpoint
  editoast/src/views/train_schedule.rs
  editoast/src/views/train_schedule/projection.rs
Labels: area:editoast

#9968 Bump ui from 0.0.55 to 0.0.56
  front/package-lock.json
  front/package.json
  front/tests/pages/stdcm-page-model.ts
Labels: area:front

#9816 front: edit timetable trains in macro mode
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/AddTrainScheduleButton.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/TimetableManageTrainSchedule.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/hooks/useUpdateTrainSchedule.ts
  front/src/modules/trainschedule/components/Timetable/Timetable.tsx
  front/src/modules/trainschedule/components/Timetable/TimetableTrainCard.tsx
Labels: area:front, component:nge

#9916 front: change imported train schedules number of step color
  front/src/modules/trainschedule/components/ImportTrainSchedule/ImportTrainScheduleTrainDetail.tsx
  front/src/modules/trainschedule/styles/ImportTrainSchedule/_importTrainScheduleTrainsList.scss
Labels: area:front

#10013 Follow-up: Fix accents support in `x-remote-user-name`
  editoast/src/views/mod.rs
Labels: area:editoast

#10018 front: remove high speed train from stdcm
  front/src/assets/rollingStock/freightRollingStocks.ts
Labels: area:front

#9984 front: lmr: reduce grid margins from 35s to 15s
  front/src/applications/stdcm/components/StdcmForm/StdcmConfig.tsx
  front/tests/assets/stdcm/stdcmAllStops.json
Labels: area:front

#10019 front: revert tolerances! in StdcmOrigin and StdcmDestination
  front/src/applications/stdcm/components/StdcmForm/StdcmDestination.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmOrigin.tsx
Labels: area:front

#9932 front: fix constraint distribution state in simulation settings
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/reducers/osrdconf/operationalStudiesConf/index.ts
Labels: area:front

#10021 python: bump osrd-schemas version
  python/osrd_schemas/pyproject.toml
  python/railjson_generator/poetry.lock
  python/railjson_generator/pyproject.toml
Labels: area:railjson

#9983 front: add lmr help module
  front/public/locales/en/stdcm-help-section.json
  front/public/locales/fr/stdcm-help-section.json
  front/scripts/i18n-checker.ts
  front/src/applications/stdcm/components/StdcmHeader.tsx
  front/src/applications/stdcm/components/StdcmHelpModule/HelpSection.tsx
  front/src/applications/stdcm/components/StdcmHelpModule/SectionContentManager.tsx
  front/src/applications/stdcm/components/StdcmHelpModule/StdcmHelpModule.tsx
  front/src/applications/stdcm/components/StdcmHelpModule/types.ts
  front/src/applications/stdcm/views/StdcmView.tsx
  front/src/styles/scss/applications/_stdcm.scss
  front/src/styles/scss/applications/stdcm/_header.scss
  front/src/styles/scss/applications/stdcm/_helpModule.scss
  front/src/styles/scss/applications/stdcm/_home.scss
Labels: area:front

#10002 github: only group patch upgrades
  .github/dependabot.yml
Labels: area:ci

#10078 front: deactivate marker check for e2e tests
  front/tests/006-stdcm.spec.ts
  front/tests/010-op-route-tab.spec.ts
Labels: area:front

#9571 front: stdcm: linked train search improvements
  front/src/applications/stdcm/components/StdcmForm/StdcmLinkedPathSearch.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmOpSchedule.tsx
  front/src/applications/stdcm/hooks/useLinkedPathSearch.ts
  front/src/applications/stdcm/utils/computeOpSchedules.ts
  front/src/utils/__tests__/date.spec.ts
  front/src/utils/date.ts
  front/tests/pages/stdcm-page-model.ts
Labels: area:front

#10082 Revert "front: deactivate marker check for e2e tests"
  front/tests/006-stdcm.spec.ts
  front/tests/010-op-route-tab.spec.ts
Labels: area:front

#10088 schemas: towed rolling stock max speed
  python/osrd_schemas/osrd_schemas/rolling_stock.py
  python/osrd_schemas/pyproject.toml
Labels: area:railjson

#10080 front: update top positon of compass in map buttons
  front/src/styles/scss/common/map/_map.scss
Labels: area:front

#9950 editoast: reduce logging level to trace for some verbose events
  editoast/editoast_models/src/db_connection_pool/tracing_instrumentation.rs
  editoast/src/core/mod.rs
Labels: area:editoast

#10094 front: use the absolute value in useOutputData for lateness
  front/src/modules/timesStops/hooks/useOutputTableData.ts
Labels: area:front

#9869 front: fix margin around scenario simulation results scrollbar
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
  front/tests/012-op-simulation-settings-tab.spec.ts-snapshots/SpeedSpaceChart-AllSettingsEnabled-chromium-linux.png
  front/tests/012-op-simulation-settings-tab.spec.ts-snapshots/SpeedSpaceChart-AllSettingsEnabled-firefox-linux.png
  front/tests/012-op-simulation-settings-tab.spec.ts-snapshots/SpeedSpaceChart-ElectricalProfileActivated-chromium-linux.png
  front/tests/012-op-simulation-settings-tab.spec.ts-snapshots/SpeedSpaceChart-ElectricalProfileActivated-firefox-linux.png
  front/tests/012-op-simulation-settings-tab.spec.ts-snapshots/SpeedSpaceChart-ElectricalProfileDisabled-chromium-linux.png
  front/tests/012-op-simulation-settings-tab.spec.ts-snapshots/SpeedSpaceChart-ElectricalProfileDisabled-firefox-linux.png
  front/tests/012-op-simulation-settings-tab.spec.ts-snapshots/SpeedSpaceChart-LinearMargin-chromium-linux.png
  front/tests/012-op-simulation-settings-tab.spec.ts-snapshots/SpeedSpaceChart-LinearMargin-firefox-linux.png
  front/tests/012-op-simulation-settings-tab.spec.ts-snapshots/SpeedSpaceChart-MarecoMargin-chromium-linux.png
  front/tests/012-op-simulation-settings-tab.spec.ts-snapshots/SpeedSpaceChart-MarecoMargin-firefox-linux.png
  front/tests/012-op-simulation-settings-tab.spec.ts-snapshots/SpeedSpaceChart-SpeedLimitTagActivated-chromium-linux.png
  front/tests/012-op-simulation-settings-tab.spec.ts-snapshots/SpeedSpaceChart-SpeedLimitTagActivated-firefox-linux.png
  front/tests/012-op-simulation-settings-tab.spec.ts-snapshots/SpeedSpaceChart-SpeedLimitTagDisabled-chromium-linux.png
  front/tests/012-op-simulation-settings-tab.spec.ts-snapshots/SpeedSpaceChart-SpeedLimitTagDisabled-firefox-linux.png
Labels: area:front

#10085 front: bump import-meta-env
  front/package-lock.json
  front/package.json
Labels: area:front

#9953 STDCM: linked path search adjustments
  front/src/applications/stdcm/components/StdcmForm/StdcmLinkedPathSearch.tsx
  front/src/applications/stdcm/hooks/useLinkedPathSearch.ts
  front/src/applications/stdcm/hooks/useStdcmEnv.tsx
  front/src/styles/scss/applications/stdcm/_linkedPath.scss
Labels: area:front

#10110 editoast: use 'const' syntax from 'tracing' for opentelemetry semantic convention
  editoast/editoast_models/src/db_connection_pool/tracing_instrumentation.rs
Labels: area:editoast

#9567 front: stdcm linked path enhancement
  front/public/locales/en/stdcm.json
  front/public/locales/fr/stdcm.json
  front/src/applications/stdcm/components/StdcmForm/StdcmConfig.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmLinkedPathSearch.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmLinkedTrainResults.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmLinkedTrainSearch.tsx
  front/src/applications/stdcm/components/StdcmResults/SimulationReportSheet.tsx
  front/src/applications/stdcm/components/StdcmResults/StdcmResults.tsx
  front/src/applications/stdcm/hooks/useLinkedTrainSearch.ts
  front/src/applications/stdcm/hooks/useStdcmForm.ts
  front/src/applications/stdcm/types.ts
  front/src/reducers/osrdconf/stdcmConf/index.ts
  front/src/reducers/osrdconf/stdcmConf/selectors.ts
  front/src/reducers/osrdconf/types.ts
  front/src/styles/scss/applications/_stdcm.scss
  front/src/styles/scss/applications/stdcm/_card.scss
  front/src/styles/scss/applications/stdcm/_linkedTrain.scss
Labels: area:front

#10090 front: fix manchette scroll overflow
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
Labels: area:front

#10125 front: fix stop time hours display + fix stop time center
  front/src/applications/stdcm/components/StdcmResults/StdcmResultsTable.tsx
  front/src/applications/stdcm/utils/__tests__/simulationReportSheet.spec.ts
  front/src/applications/stdcm/utils/formatSimulationReportSheet.ts
  front/src/styles/scss/applications/stdcm/_results.scss
Labels: area:front

#10026 Increase default healthcheck timeout
  editoast/src/client/runserver.rs
Labels: area:editoast

#10089 front: stop hardcoding navbar height in scenario
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Labels: area:front

#10096 front: fix typo in classname
  front/src/modules/trainschedule/components/ImportTrainSchedule/ImportTrainScheduleTrainDetail.tsx
Labels: area:front

#10129 editoast: add tracing for ping operations
  editoast/src/core/mod.rs
  editoast/src/core/mq_client.rs
  editoast/src/valkey_utils.rs
Labels: area:editoast

#10035 front: display simulation results only if a train is selected or get data is ready
  front/src/applications/operationalStudies/views/SimulationResults.tsx
Labels: area:front

#10024 front: animate new intermediate op in stdcm
  front/src/applications/stdcm/components/StdcmForm/StdcmVias.tsx
  front/src/styles/scss/applications/stdcm/_home.scss
  front/tests/006-stdcm.spec.ts
  front/tests/pages/stdcm-page-model.ts
Labels: area:front

#10126 core: stdcm: limit the loop where we look for possible delays
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/DelayManager.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdgeBuilder.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPathfinding.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/TimeData.kt
Labels: area:core

#10113 editoast: 'AxumOtelLayer' act as 'INFO' level
  editoast/Cargo.toml
Labels: area:editoast

#10087 front: replace casts with assertions
  front/.eslintrc
  front/src/applications/editor/tools/rangeEdition/components/RangeEditionLeftPanel.tsx
  front/src/applications/editor/tools/rangeEdition/utils.ts
  front/src/applications/editor/tools/routeEdition/utils.ts
  front/src/applications/editor/tools/switchEdition/components/SwitchEditionLayers.tsx
  front/src/applications/operationalStudies/utils.ts
  front/src/common/Map/WarpedMap/SimulationWarpedMap.tsx
  front/src/common/Map/WarpedMap/core/helpers.ts
  front/src/common/Map/WarpedMap/core/quadtree.ts
  front/src/common/Selector/Selector.tsx
  front/src/index.tsx
  front/src/modules/rollingStock/helpers/utils.ts
  front/src/modules/simulationResult/SimulationResultExport/SimulationResultsExport.tsx
  front/src/modules/simulationResult/components/ChartHelpers/ChartHelpers.ts
  front/src/modules/study/components/AddOrEditStudyModal.tsx
  front/src/test-data/geojson.ts
  front/src/utils/timeManipulation.ts
Labels: area:front

#10128 core: stdcm: remove duplicate block check
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdgeBuilder.kt
Labels: area:core

#10158 front: drop StdcmResultsOperationalPoint.departureTime
  front/src/applications/stdcm/types.ts
  front/src/applications/stdcm/utils/formatSimulationReportSheet.ts
Labels: area:front

#10160 editoast: bump osm4routing to avoid two compilations of protobuf
  editoast/Cargo.lock
  editoast/osm_to_railjson/Cargo.toml
Labels: area:editoast

#10025 front: add towed rolling stock e2e test
  front/src/assets/rollingStock/freightRollingStocks.ts
  front/tests/006-stdcm.spec.ts
  front/tests/assets/stdcm/towedRollingStock/towedRollingStock.json
  front/tests/assets/stdcm/towedRollingStock/towedRollingStockTableResult.json
  front/tests/global-setup.ts
  front/tests/global-teardown.ts
  front/tests/pages/stdcm-page-model.ts
  front/tests/test-logger.ts
  front/tests/utils/api-setup.ts
  front/tests/utils/index.ts
  front/tests/utils/setup-utils.ts
  front/tests/utils/teardown-utils.ts
Labels: area:front

#10134 front: fix power restrictions reset when editing a train
  front/src/modules/pathfinding/hooks/usePathfinding.ts
Labels: area:front

#10166 front: drop SuggestedOP.departure
  front/src/modules/trainschedule/components/ManageTrainSchedule/types.ts
Labels: area:front

#10191 editoast: rename `Unauthenticated` to `Unauthorized`, `Unauthorized` to `Forbidden`
  editoast/openapi.yaml
  editoast/src/views/authz.rs
  editoast/src/views/documents.rs
  editoast/src/views/electrical_profiles.rs
  editoast/src/views/infra/attached.rs
  editoast/src/views/infra/auto_fixes/mod.rs
  editoast/src/views/infra/delimited_area.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/errors.rs
  editoast/src/views/infra/lines.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/objects.rs
  editoast/src/views/infra/pathfinding.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/infra/routes.rs
  editoast/src/views/layers.rs
  editoast/src/views/mod.rs
  editoast/src/views/path/pathfinding.rs
  editoast/src/views/projects.rs
  editoast/src/views/rolling_stock.rs
  editoast/src/views/rolling_stock/light.rs
  editoast/src/views/rolling_stock/towed.rs
  editoast/src/views/scenario.rs
  editoast/src/views/scenario/macro_nodes.rs
  editoast/src/views/search.rs
  editoast/src/views/speed_limit_tags.rs
  editoast/src/views/sprites.rs
  editoast/src/views/stdcm_search_environment.rs
  editoast/src/views/study.rs
  editoast/src/views/temporary_speed_limits.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/train_schedule.rs
  editoast/src/views/train_schedule/projection.rs
  editoast/src/views/work_schedules.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
Labels: area:front, area:editoast

#10122 editoast: setup tracing with opentelemetry for `TestApp`
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/editoast_common/Cargo.toml
  editoast/editoast_common/src/lib.rs
  editoast/editoast_common/src/tracing.rs
  editoast/src/client/telemetry_config.rs
  editoast/src/main.rs
  editoast/src/views/test_app.rs
Labels: area:editoast

#10195 front: drop ViaStopDurationSelector
  front/src/modules/pathfinding/components/Itinerary/DisplayItinerary/ViaStopDurationSelector.tsx
  front/src/modules/pathfinding/components/Itinerary/DisplayItinerary/Vias.tsx
  front/src/modules/pathfinding/components/Itinerary/Itinerary.tsx
  front/src/reducers/osrdconf/osrdConfCommon/__tests__/utils.ts
  front/src/reducers/osrdconf/osrdConfCommon/index.ts
Labels: area:front
