Repository OpenRailAssociation/osrd, pull requests merged in 2025-02, with the labels that each got.

#10617 front: remove react-beautiful-dnd
  front/package-lock.json
  front/package.json
  front/src/modules/pathfinding/components/Itinerary/DisplayItinerary/Vias.tsx
  front/src/utils/__tests__/array.spec.ts
  front/src/utils/array.ts
Labels: area:front

#10527 Compress editoast cached data
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/valkey_utils.rs
  editoast/src/views/path/pathfinding.rs
  editoast/src/views/train_schedule.rs
Labels: area:editoast

#10319 front: reorganize infra object layers
  front/src/applications/editor/Map.tsx
  front/src/applications/editor/components/EntitySumUp.tsx
  front/src/applications/editor/tools/pointEdition/components/PointEditionLayers.tsx
  front/src/applications/editor/tools/rangeEdition/electrification/ElectrificationEditionLayers.tsx
  front/src/applications/editor/tools/rangeEdition/speedSection/SpeedSectionEditionLayers.tsx
  front/src/applications/editor/tools/routeEdition/components/RouteEditionLayers.tsx
  front/src/applications/editor/tools/selection/components/SelectionLayers.tsx
  front/src/applications/editor/tools/switchEdition/components/SwitchEditionLayers.tsx
  front/src/applications/editor/tools/trackEdition/components/TrackEditionLayers.tsx
  front/src/applications/editor/tools/trackSplit/components/TrackSplitLayers.tsx
  front/src/common/Map/Layers/InfraObjectLayers/BufferStops.tsx
  front/src/common/Map/Layers/InfraObjectLayers/Detectors.tsx
  front/src/common/Map/Layers/InfraObjectLayers/Electrifications.tsx
  front/src/common/Map/Layers/InfraObjectLayers/GeoJSONs.tsx
  front/src/common/Map/Layers/InfraObjectLayers/InfraObjectLayers.tsx
  front/src/common/Map/Layers/InfraObjectLayers/OperationalPoints.tsx
  front/src/common/Map/Layers/InfraObjectLayers/Routes.tsx
  front/src/common/Map/Layers/InfraObjectLayers/Signals.tsx
  front/src/common/Map/Layers/InfraObjectLayers/SpeedLimits.tsx
  front/src/common/Map/Layers/InfraObjectLayers/Switches.tsx
  front/src/common/Map/Layers/InfraObjectLayers/TracksGeographic.tsx
  front/src/common/Map/Layers/InfraObjectLayers/extensions/SNCF/NeutralSectionSigns.tsx
  front/src/common/Map/Layers/InfraObjectLayers/extensions/SNCF/NeutralSections.tsx
  front/src/common/Map/Layers/InfraObjectLayers/extensions/SNCF/PSL.tsx
  front/src/common/Map/Layers/InfraObjectLayers/extensions/SNCF/PSLSigns.tsx
  front/src/common/Map/Layers/InfraObjectLayers/geoSignalsLayers.ts
  front/src/common/Map/Layers/InfraObjectLayers/getKPLabelLayerProps.ts
  front/src/common/Map/Layers/InfraObjectLayers/index.ts
  front/src/common/Map/WarpedMap/DataLoader.tsx
  front/src/common/Map/WarpedMap/WarpedMap.tsx
Labels: area:front

#10558 front: bump nge version to 2.9.21
  front/package-lock.json
  front/package.json
Labels: area:front

#10448 front: fix macro trainruns frequencies
  front/src/applications/operationalStudies/components/MacroEditor/consts.ts
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
  front/src/applications/operationalStudies/components/MacroEditor/osrdToNge.ts
  front/src/applications/operationalStudies/components/MacroEditor/utils.ts
Labels: area:front

#10471 Handle both invalid trigrams and uics as invalid op
  front/src/applications/operationalStudies/hooks/useSetupItineraryForTrainUpdate.ts
  front/src/modules/pathfinding/hooks/usePathfinding.ts
Labels: area:front

#10499 front: fix path step not updated in debug mode
  front/src/applications/stdcm/components/StdcmForm/StdcmConfig.tsx
  front/src/applications/stdcm/views/StdcmView.tsx
Labels: area:front

#10105 front: drop pathfinding error message bubble
  front/src/modules/pathfinding/hooks/usePathfinding.ts
Labels: area:front

#10661 core: stdcm: fallback to linear allowance after impossible sim error
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/PostProcessingSimulation.kt
Labels: area:core

#10674 core: stdcm: reduce visited margin
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMGraph.kt
Labels: area:core

#10625 front: spacetimechart: fix drag behaviour when draging train to the left
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
Labels: area:front

#10657 tests: add infra to test stdcm takeover setups
  tests/data/infras/takeover/infra.json
  tests/infra-scripts/takeover.py
Labels: area:integration-tests

#10622 core: stdcm: add a stop at the end to avoid signal propagation
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/stdcm/STDCMEndpointV2.kt
Labels: area:core

#10153 core: stdcm: add comment to clarify earliest conflict operation
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/TimeData.kt
Labels: area:core

#10597 front: fix markers display
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/stdcm/utils/index.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/ManageTrainScheduleMap/AddPathStepPopup.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/ManageTrainScheduleMap/ItineraryMarkers.tsx
Labels: area:front

#10438 front: fix opstudies itinary reversal dysfunctioning when times and margin where set
  front/src/modules/pathfinding/components/Itinerary/Itinerary.tsx
  front/src/modules/pathfinding/helpers/__tests__/reversePathSteps.spec.ts
  front/src/modules/pathfinding/helpers/reversePathSteps.ts
Labels: area:front

#10394 front: fix selected track display
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/stdcm/utils/index.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/ManageTrainScheduleMap/ItineraryMarkers.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Map.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/NewMap.tsx
Labels: area:front

#10693 ci: rename e2e test artifact
  .github/workflows/build.yml
Labels: area:ci

#10703 Add tls feature to redis
  editoast/Cargo.lock
  editoast/Cargo.toml
Labels: area:editoast

#10699 front: simplify rolling stock form type
  front/src/modules/rollingStock/helpers/utils.ts
  front/src/modules/rollingStock/types.ts
Labels: area:front

#10672 front: fix electrical profile display in speedspacechart
  front/src/modules/simulationResult/components/SpeedSpaceChart/__tests__/helpers.spec.ts
  front/src/modules/simulationResult/components/SpeedSpaceChart/consts.ts
  front/tests/012-op-simulation-settings-tab.spec.ts-snapshots/SpeedSpaceChart-AllSettingsEnabled-chromium-linux.png
  front/tests/012-op-simulation-settings-tab.spec.ts-snapshots/SpeedSpaceChart-AllSettingsEnabled-firefox-linux.png
  front/tests/012-op-simulation-settings-tab.spec.ts-snapshots/SpeedSpaceChart-ElectricalProfileActivated-chromium-linux.png
  front/tests/012-op-simulation-settings-tab.spec.ts-snapshots/SpeedSpaceChart-ElectricalProfileActivated-firefox-linux.png
Labels: area:front

#10716 editoast: update `modified` field of `infra` upon modification
  editoast/src/infra_cache/operation/mod.rs
  editoast/src/models/infra.rs
  editoast/src/models/railjson.rs
  editoast/src/views/infra/edition.rs
Labels: kind:bug, area:editoast

#10715 front: bump nge fork version
  front/package-lock.json
  front/package.json
Labels: area:front, component:nge

#10681 core: editoast: add flag to ignore infra speed limits
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/standalone_sim/SimulationEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/standalone_sim/SimulationRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/envelope_sim_infra/MRSP.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulation.kt
  core/src/test/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulationTest.kt
  editoast/editoast_schemas/src/train_schedule/train_schedule_options.rs
  editoast/openapi.yaml
  front/src/common/api/generatedEditoastApi.ts
  python/osrd_schemas/osrd_schemas/train_schedule.py
Labels: area:railjson, area:core, area:front, area:editoast

#10718 front: don't use front/tests/ to write PDF files
  front/tests/013-stdcm-simulation-sheet.spec.ts
  front/tests/014-stdcm-linked-train.spec.ts
  front/tests/pages/stdcm-page-model.ts
Labels: area:front

#10734 ci: add gateway front to uploaded artifacts
  .github/workflows/build.yml
Labels: area:ci

#10732 dev: resilient gateway build for dev front
  docker/docker-compose.front.yml
  docker/docker-compose.host-front.yml
  gateway/Dockerfile
Labels: area:gateway

#9987 lmr: putting ma100 as default value in the speedlimittag selector
  front/src/applications/stdcm/components/StdcmForm/StdcmConsist.tsx
  front/src/applications/stdcm/consts.ts
  front/src/applications/stdcm/types.ts
  front/src/common/SpeedLimitByTagSelector/SpeedLimitByTagSelector.tsx
  front/src/common/SpeedLimitByTagSelector/useStoreDataForSpeedLimitByTagSelector.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/SimulationSettings.tsx
  front/tests/006-stdcm.spec.ts
  front/tests/013-stdcm-simulation-sheet.spec.ts
  front/tests/014-stdcm-linked-train.spec.ts
  front/tests/assets/simulation-sheet-const.ts
  front/tests/assets/stdcm-const.ts
  front/tests/assets/stdcm/stdcmAllStops.json
  front/tests/assets/stdcm/stdcmWithAllVia.json
  front/tests/assets/stdcm/stdcmWithoutAllVia.json
  front/tests/pages/stdcm-page-model.ts
Labels: area:front

#10729 front: fix some trigrams are not recognized
  front/src/common/Map/Search/useSearchOperationalPoint.tsx
Labels: area:front

#10489 timetable performance
  front/package-lock.json
  front/package.json
  front/src/modules/trainschedule/components/Timetable/Timetable.tsx
Labels: area:front

#10738 core: add error on zero length simulations
  core/osrd-reporting/src/main/java/fr/sncf/osrd/reporting/exceptions/ErrorType.java
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulation.kt
Labels: area:core

#10727 editoast: cli: print infra object errors on import
  editoast/src/client/infra_commands.rs
  editoast/src/models/infra/errors.rs
Labels: area:editoast

#10528 core: in LoA case, add maintain curve to indication curve before finding intersection with overlay envelope
  core/envelope-sim/src/main/kotlin/fr/sncf/osrd/envelope_sim/etcs/ETCSBrakingCurves.kt
Labels: area:core

#10764 front: fix stdcm pilot phase
  front/public/locales/en/stdcm.json
  front/public/locales/fr/stdcm.json
Labels: area:front

#10763 core: support electrification overlaps
  core/kt-osrd-rjs-parser/src/main/kotlin/fr/sncf/osrd/RawInfraRJSParser.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/PathProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/TrackProperties.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/PathPropertiesImpl.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraBuilder.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/impl/RawInfraImpl.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/utils/PathPropertiesView.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/path_properties/PathPropResponseConverter.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/pathfinding/IncompatibleConstraintsPostProcessing.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/constraints/ElectrificationConstraints.kt
  core/src/main/kotlin/fr/sncf/osrd/utils/EnvelopeTrainPathUtils.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/PathPropertiesTests.kt
  core/src/test/kotlin/fr/sncf/osrd/utils/DummyInfra.kt
Labels: area:core

#10765 Pin redis version to deadpool-redis
  editoast/Cargo.lock
  editoast/Cargo.toml
Labels: area:editoast

#10447 front: LMR: fix length, mass and speed reset
  front/public/locales/en/stdcm.json
  front/public/locales/fr/stdcm.json
  front/src/applications/stdcm/components/StdcmForm/StdcmConsist.tsx
  front/src/applications/stdcm/hooks/useConsistFieldStatus.ts
  front/src/applications/stdcm/hooks/useStdcmConsist.ts
  front/src/applications/stdcm/utils/calculateConsistMaxSpeed.ts
  front/src/styles/scss/applications/stdcm/_card.scss
Labels: area:front

#10774 front: fix undefined markerInfo.op in ItineraryMarkers
  front/src/modules/trainschedule/components/ManageTrainSchedule/ManageTrainScheduleMap/ItineraryMarkers.tsx
Labels: area:front

#10706 front: fix cached power restrictions on GEV
  front/src/modules/simulationResult/components/SpeedSpaceChart/useSpeedSpaceChart.ts
Labels: area:front

#10775 front: de-duplicate extractMarkerInformation()
  front/src/modules/trainschedule/components/ManageTrainSchedule/ManageTrainScheduleMap/ItineraryMarkers.tsx
Labels: area:front

#10773 front: remove @vitejs/plugin-react
  front/package-lock.json
  front/package.json
Labels: area:front

#10771 front: remove blueprint map style
  front/src/applications/editor/tools/pointEdition/components/PointEditionLayers.tsx
  front/src/applications/editor/tools/rangeEdition/electrification/ElectrificationEditionLayers.tsx
  front/src/applications/editor/tools/rangeEdition/speedSection/SpeedSectionEditionLayers.tsx
  front/src/assets/mapstyles/OSMBluePrintStyle.json
  front/src/assets/pictures/mapbuttons/mapstyle-blueprint.jpg
  front/src/common/Map/Consts/colors.ts
  front/src/common/Map/Layers/InfraObjectLayers/GeoJSONs.tsx
  front/src/common/Map/Layers/InfraObjectLayers/Signals.tsx
  front/src/common/Map/Layers/InfraObjectLayers/extensions/SNCF/NeutralSectionSigns.tsx
  front/src/common/Map/Layers/InfraObjectLayers/extensions/SNCF/PSLSigns.tsx
  front/src/common/Map/Layers/OSM.tsx
  front/src/common/Map/Layers/types.ts
  front/src/common/Map/Settings/MapSettingsBackgroundSwitches.tsx
  front/src/common/Map/Settings/MapSettingsMapStyle.tsx
  front/src/reducers/map/index.ts
Labels: area:front

#10564 core: bump carrotsearch to 0.10.0
  core/gradle/libs.versions.toml
  core/osrd-geom/src/main/java/fr/sncf/osrd/geom/LineString.java
Labels: area:core

#10726 front: move markers computation in simulation results map
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/common/Map/components/MapMarkers.tsx
  front/src/modules/simulationResult/components/SimulationResultsMap/RenderItinerary.tsx
  front/src/modules/simulationResult/components/SimulationResultsMap/SimulationResultsMap.tsx
Labels: area:front

#10769 tests: add ETCS LoA (slowdown) tests on speed-space chart
  tests/tests/test_train_schedule.py
Labels: area:integration-tests

#10779 Add missing CH codes on the DPY-MAS axis
  front/src/assets/operationStudies/DPYToMASOperationalPoints.ts
Labels: area:front

#10685 editoast: adapt conflicts endpoint to paced trains
  core/src/main/java/fr/sncf/osrd/api/ConflictDetectionEndpoint.java
  core/src/main/java/fr/sncf/osrd/conflicts/Conflicts.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/conflicts/ConflictDetectionEndpointV2.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/conflicts/ConflictDetectionResponse.kt
  editoast/openapi.yaml
  editoast/src/core/conflict_detection.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/stdcm/failure_handler.rs
  front/src/applications/stdcm/utils/formatConflicts.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/modules/conflict/components/ConflictsList.tsx
  front/src/modules/conflict/utils.ts
  front/src/modules/trainschedule/components/Timetable/Timetable.tsx
  tests/tests/test_stdcm.py
Labels: area:core, area:front, area:editoast, area:integration-tests

#10785 core: stdcm: handle engineering allowances at low speed
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope/EnvelopeOverlayTest.java
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/EngineeringAllowanceManager.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/EngineeringAllowanceTests.kt
Labels: area:core

#10740 front: stdcm - show consist tooltip on focus out only
  front/src/applications/stdcm/components/StdcmForm/StdcmConfig.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmConsist.tsx
  front/src/applications/stdcm/hooks/useConsistFieldStatus.ts
  front/src/applications/stdcm/types.ts
Labels: area:front

#10786 front: update ui to 0.0.66
  front/package-lock.json
  front/package.json
  front/src/styles/scss/_uiCoreIntegration.scss
Labels: area:front

#10679 change trainid format
  front/src/applications/operationalStudies/__tests__/sampleData.ts
  front/src/applications/operationalStudies/components/MacroEditor/MacroEditorState.ts
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
  front/src/applications/operationalStudies/components/MacroEditor/osrdToNge.ts
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
  front/src/applications/operationalStudies/helpers/formatTrainScheduleSummaries.ts
  front/src/applications/operationalStudies/helpers/upsertNewProjectedTrains.ts
  front/src/applications/operationalStudies/hooks/useAutoUpdateProjection.ts
  front/src/applications/operationalStudies/hooks/useLazyLoadTrains.ts
  front/src/applications/operationalStudies/hooks/usePathProjection.ts
  front/src/applications/operationalStudies/hooks/useScenarioData.ts
  front/src/applications/operationalStudies/hooks/useScenarioQueryParams.ts
  front/src/applications/operationalStudies/hooks/useSetupItineraryForTrainUpdate.ts
  front/src/applications/operationalStudies/hooks/useSimulationResults.ts
  front/src/applications/operationalStudies/types.ts
  front/src/applications/operationalStudies/utils.ts
  front/src/applications/operationalStudies/views/ImportTrainSchedule.tsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/applications/stdcm/components/StdcmResults/StdcmDebugResults.tsx
  front/src/applications/stdcm/hooks/useProjectedTrainsForStdcm.ts
  front/src/applications/stdcm/hooks/useStdcm.ts
  front/src/applications/stdcm/hooks/useStdcmResults.ts
  front/src/applications/stdcm/utils/formatStdcmIntoSpaceTimeData.ts
  front/src/modules/conflict/utils.ts
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/utils.ts
  front/src/modules/simulationResult/components/SpaceTimeChart/useGetProjectedTrainOperationalPoints.ts
  front/src/modules/simulationResult/components/SpaceTimeChart/useLazyProjectTrains.ts
  front/src/modules/simulationResult/types.ts
  front/src/modules/trainschedule/components/ImportTrainSchedule/ImportTrainScheduleTrainsList.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/AddTrainScheduleButton.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/TimetableManageTrainSchedule.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/hooks/useUpdateTrainSchedule.ts
  front/src/modules/trainschedule/components/Timetable/Timetable.tsx
  front/src/modules/trainschedule/components/Timetable/TimetableToolbar.tsx
  front/src/modules/trainschedule/components/Timetable/TimetableTrainCard.tsx
  front/src/modules/trainschedule/components/Timetable/types.ts
  front/src/reducers/osrdconf/operationalStudiesConf/__tests__/operationalStudiesConfReducer.spec.ts
  front/src/reducers/osrdconf/types.ts
  front/src/reducers/simulationResults/index.ts
  front/src/reducers/simulationResults/simulationResultsReducer.spec.ts
  front/src/reducers/simulationResults/types.ts
  front/src/utils/__tests__/batch.spec.ts
  front/src/utils/__tests__/trainId.spec.ts
  front/src/utils/batch.ts
  front/src/utils/trainId.ts
Labels: area:front

#10624 front: fix track selection after timestops changes
  front/src/reducers/osrdconf/helpers.ts
Labels: area:front

#10332 editoast: add consist params validation
  editoast/openapi.yaml
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/stdcm/request.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
Labels: area:front, area:editoast

#10801 core: extend use of osrdErrorType.isRecoverable
  core/src/main/java/fr/sncf/osrd/cli/WorkerCommand.kt
Labels: area:core

#10803 front: no longer display destination on single step path
  front/src/modules/pathfinding/components/Itinerary/DisplayItinerary/Destination.tsx
Labels: area:front

#10809 front: fix some /dist imports from ui-spacetimechart
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
Labels: area:front

#10796 Fix list of operational points filtered for stdcm
  front/src/assets/operationStudies/DPYToMASOperationalPoints.ts
  front/src/common/Map/Search/useSearchOperationalPoint.tsx
Labels: area:front

#10792 editoast: migrations: add missing indexes on foreign keys
  editoast/migrations/2025-02-13-090913_add_missing_fkey_index/down.sql
  editoast/migrations/2025-02-13-090913_add_missing_fkey_index/up.sql
Labels: area:editoast

#10628 front: map: use only Roboto not OpenSans
  front/src/assets/mapstyles/OSMDarkStyle.json
Labels: area:front

#10811 front: fix map markers react warning for duplicate keys
  front/src/common/Map/components/MapMarkers.tsx
Labels: area:front

#10497 Fix incorrect input saving when switching simulations during a running calculation
  front/src/applications/stdcm/components/StdcmForm/StdcmConfig.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmDestination.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmOperationalPoint.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmOrigin.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmVias.tsx
  front/src/applications/stdcm/components/StdcmResults/StdcmResults.tsx
  front/src/applications/stdcm/components/StdcmResults/StdcmSimulationNavigator.tsx
  front/src/applications/stdcm/types.ts
  front/src/applications/stdcm/views/StdcmView.tsx
  front/src/reducers/osrdconf/stdcmConf/index.ts
  front/src/reducers/osrdconf/stdcmConf/selectors.ts
  front/src/reducers/osrdconf/stdcmConf/stdcmConfReducers.spec.ts
  front/src/styles/scss/applications/stdcm/_home.scss
Labels: area:front

#10802 ci: update 'redis' and 'deadpool-redis' in the same dependabot's group
  .github/dependabot.yml
Labels: area:ci

#10824 Fix sprite generation directory
  editoast/.gitignore
  editoast/assets/sprites/generate-atlas.sh
Labels: area:editoast

#10828 No auth for sprites
  editoast/src/views/sprites.rs
Labels: area:editoast

#10830 front: stop heating the room when selecting a train
  front/src/modules/simulationResult/SimulationResultExport/SimulationResultsExport.tsx
Labels: area:front

#10808 front: use Map instead of Record for train summaries/projections
  front/src/applications/operationalStudies/helpers/formatTrainScheduleSummaries.ts
  front/src/applications/operationalStudies/helpers/upsertNewProjectedTrains.ts
  front/src/applications/operationalStudies/hooks/useLazyLoadTrains.ts
  front/src/applications/operationalStudies/hooks/useScenarioData.ts
  front/src/modules/simulationResult/components/SpaceTimeChart/useLazyProjectTrains.ts
Labels: area:front

#10831 editoast: fix comments and reformat 'Cargo.toml'
  editoast/Cargo.toml
Labels: area:editoast

#10832 front: use constants for sprites/fonts url
  front/src/common/Map/Layers/blankStyle.ts
  front/src/common/Map/const.ts
Labels: area:front

#10825 front: fix unnecessary type casting in upsert path step
  front/src/reducers/osrdconf/helpers.ts
Labels: area:front

#10770 front: fix itinerary marker not always defined
  front/src/modules/trainschedule/components/ManageTrainSchedule/ManageTrainScheduleMap/ItineraryMarkers.tsx
Labels: area:front

#10849 core: stdcm: avoid infinite loop in logger edge case
  core/src/main/kotlin/fr/sncf/osrd/stdcm/ProgressLogger.kt
Labels: area:core

#10844 front: encapsulate locators in e2e tests
  front/tests/009-rollingstock-editor.spec.ts
  front/tests/pages/common-page-model.ts
  front/tests/pages/home-page-model.ts
  front/tests/pages/op-input-table-page-model.ts
  front/tests/pages/op-output-table-page-model.ts
  front/tests/pages/op-route-page-model.ts
  front/tests/pages/op-simulation-results-page-model.ts
  front/tests/pages/op-simulation-settings-page-model.ts
  front/tests/pages/op-timetable-page-model.ts
  front/tests/pages/operational-studies-page-model.ts
  front/tests/pages/project-page-model.ts
  front/tests/pages/rollingstock-editor-page-model.ts
  front/tests/pages/rollingstock-selector-page-model.ts
  front/tests/pages/scenario-page-model.ts
  front/tests/pages/stdcm-linked-train-page-model.ts
  front/tests/pages/stdcm-page-model.ts
  front/tests/pages/study-page-model.ts
Labels: area:front

#10851 core: stdcm: fix initialization of fixed time points in postproc
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/PostProcessingSimulation.kt
Labels: area:core

#10835 docker: use cache mount for npm install
  .github/workflows/build.yml
  front/docker/Dockerfile.playwright
  gateway/Dockerfile
Labels: area:front, area:ci, area:gateway

#10852 front: move the deployment settings in high level context
  front/.gitignore
  front/src/applications/stdcm/components/StdcmHeader.tsx
  front/src/applications/stdcm/components/StdcmResults/SimulationReportSheet.tsx
  front/src/applications/stdcm/components/StdcmResults/StdcmResults.tsx
  front/src/applications/stdcm/types.ts
  front/src/common/BootstrapSNCF/NavBarSNCF.tsx
  front/src/common/ReleaseInformations/ReleaseInformations.tsx
  front/src/main/app.tsx
  front/src/main/home.tsx
  front/src/styles/scss/_body.scss
  front/src/styles/scss/common/components/_releaseInformations.scss
  front/src/utils/hooks/useDeploymentSettings.tsx
Labels: area:front

#10848 editoast: fix glyph generation on docker on mac-arm
  editoast/Dockerfile
Labels: area:editoast

#10864 editoast: update enums to use `SCREAMING_SNAKE_CASE` for consistency
  editoast/editoast_schemas/src/infra/endpoint.rs
  editoast/editoast_schemas/src/infra/side.rs
  editoast/src/models/work_schedules.rs
Labels: area:editoast

#10847 editoast: stdcm_log: store requests that cause core errors
  editoast/migrations/2025-02-18-122020_stdcm_log_allow_error_response/down.sql
  editoast/migrations/2025-02-18-122020_stdcm_log_allow_error_response/up.sql
  editoast/openapi.yaml
  editoast/src/models/stdcm_log.rs
  editoast/src/views/timetable/stdcm.rs
  front/src/common/api/generatedEditoastApi.ts
Labels: area:front, area:editoast

#10867 core: stdcm: precise comment on engineering allowance model
  core/src/main/kotlin/fr/sncf/osrd/graph/Pathfinding.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdge.kt
Labels: kind:documentation, area:core, module:stdcm

#10850 editoast: stdcm improve validation messages
  editoast/openapi.yaml
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/stdcm/request.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
Labels: area:front, area:editoast

#10737 front: ensure e2e simulation table rows are loaded
  front/tests/pages/stdcm-page-model.ts
Labels: area:front

#10865 front: fix resizable space time chart in stdcm debug results
  front/src/applications/stdcm/components/StdcmResults/StdcmDebugResults.tsx
  front/src/styles/scss/applications/stdcm/_results.scss
Labels: area:front

#10655 editoast: adapt timetable endpoint and delete post endpoint
  editoast/openapi.yaml
  editoast/src/views/timetable.rs
  editoast/src/views/train_schedule.rs
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
  front/src/applications/operationalStudies/hooks/useScenario.ts
  front/src/applications/operationalStudies/hooks/useScenarioData.ts
  front/src/applications/operationalStudies/views/Scenario.tsx
  front/src/applications/stdcm/hooks/useProjectedTrainsForStdcm.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/common/api/osrdEditoastApi.ts
  front/src/modules/scenario/components/ScenarioExplorer/ScenarioExplorer.tsx
  front/src/modules/trainschedule/components/ImportTrainSchedule/ImportTrainScheduleTrainsList.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/AddTrainScheduleButton.tsx
  front/src/modules/trainschedule/components/Timetable/TimetableTrainCard.tsx
  front/tests/utils/trainSchedule.ts
  tests/conftest.py
  tests/fuzzer/fuzzer.py
  tests/tests/test_regressions.py
  tests/tests/test_stdcm.py
  tests/tests/test_timetable.py
  tests/tests/test_train_schedule.py
Labels: area:front, area:editoast, area:integration-tests

#10860 front: fix clear ci input does not clear ch input in map op search
  front/src/common/Map/Search/useSearchOperationalPoint.tsx
Labels: area:front

#10889 editoast: fix gitignore sprites globbing
  editoast/.gitignore
Labels: area:editoast

#10890 editoast: add rustfmt.toml to .gitignore
  editoast/.gitignore
Labels: area:editoast

#10871 front: collapse sidebar when infra load
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Labels: area:front

#10900 front: simplify translation types in e2e tests
  front/tests/001-home-page.spec.ts
  front/tests/003-study-management.spec.ts
  front/tests/011-op-times-and-stops-tab.spec.ts
  front/tests/012-op-simulation-settings-tab.spec.ts
  front/tests/assets/simulation-sheet-const.ts
  front/tests/pages/op-input-table-page-model.ts
  front/tests/pages/op-output-table-page-model.ts
  front/tests/pages/op-route-page-model.ts
  front/tests/pages/op-timetable-page-model.ts
  front/tests/utils/types.ts
Labels: area:front

#10859 front: take into account new flag for using speed limits
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/checkCurrentConfig.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/formatTrainSchedulePayload.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/types.ts
  front/src/reducers/index.ts
  front/src/reducers/osrdconf/operationalStudiesConf/index.ts
Labels: area:front

#10816 editoast: rename etcs signal to stop marker
  editoast/assets/sprites/ETCS_LEVEL2/STOP MARKER.svg
  editoast/signal_sprites.yml
Labels: area:editoast

#10766 front: fix rounded hours
  front/src/modules/trainschedule/components/Timetable/TrainScheduleItem.tsx
  front/tests/012-op-simulation-settings-tab.spec.ts
Labels: area:front

#10908 tests: fix slow rolling stock invalid category
  tests/data/rolling_stocks/slow_rolling_stock.json
Labels: area:integration-tests

#10897 front: handle adding destination via map to single path step train
  front/src/modules/trainschedule/components/ManageTrainSchedule/ManageTrainScheduleMap/setPointIti.ts
Labels: area:front

#10947 front: fix useEffet warning in useScenarioData
  front/src/applications/operationalStudies/hooks/useScenarioData.ts
Labels: area:front

#10866 editoast: add enabled window for stdcm search env table
  editoast/editoast_models/src/tables.rs
  editoast/migrations/2025-02-19-173042_adapt_search_environment_adding_enabled_window/down.sql
  editoast/migrations/2025-02-19-173042_adapt_search_environment_adding_enabled_window/up.sql
  editoast/openapi.yaml
  editoast/src/client/stdcm_search_env_commands.rs
  editoast/src/models/stdcm_search_environment.rs
  editoast/src/views/stdcm_search_environment.rs
  front/src/common/api/generatedEditoastApi.ts
  front/tests/utils/setup-utils.ts
Labels: area:front, area:editoast

#10918 front: fix type for macro nodes full name
  front/src/applications/operationalStudies/components/MacroEditor/osrdToNge.ts
  front/src/applications/operationalStudies/components/MacroEditor/utils.ts
Labels: area:front

#10963 front: fix results display when entering a scenario
  front/src/modules/simulationResult/components/SpeedSpaceChart/useSpeedSpaceChart.ts
Labels: area:front

#10902 front: fix number of steps color in import train schedule
  front/src/modules/trainschedule/components/ImportTrainSchedule/ImportTrainScheduleTrainDetail.tsx
Labels: area:front

#10967 front: bump osrd-ui from 0.0.66 to 0.0.67
  front/package-lock.json
  front/package.json
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
  front/src/styles/scss/_uiCoreIntegration.scss
  front/src/styles/scss/applications/stdcm/_card.scss
Labels: area:front

#10910 adjust E2E tests on the CI based on the browser
  .github/workflows/build.yml
Labels: area:ci

#10842 Create paced trains model and add post and delete endpoints
  editoast/editoast_models/src/tables.rs
  editoast/editoast_schemas/src/lib.rs
  editoast/editoast_schemas/src/paced_train.rs
  editoast/migrations/2025-02-13-115126_create_paced_trains/down.sql
  editoast/migrations/2025-02-13-115126_create_paced_trains/up.sql
  editoast/openapi.yaml
  editoast/src/models/fixtures.rs
  editoast/src/models/mod.rs
  editoast/src/models/paced_train.rs
  editoast/src/views/mod.rs
  editoast/src/views/paced_train.rs
  editoast/src/views/timetable.rs
  editoast/src/views/train_schedule.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  front/src/common/api/generatedEditoastApi.ts
Labels: area:front, area:editoast

#10954 front: fix checkbox spacing in timetable items
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Labels: area:front

#10968 front: cut down ESLint watch list
  front/package.json
  front/vite.config.ts
Labels: area:front

#10916 front: use Duration for OsrdStdcmConfState grid margins
  front/src/applications/stdcm/utils/formatStdcmConf.ts
  front/src/modules/stdcmAllowances/components/StdcmAllowances.tsx
  front/src/reducers/osrdconf/stdcmConf/index.ts
  front/src/reducers/osrdconf/stdcmConf/stdcmConfReducers.spec.ts
  front/src/reducers/osrdconf/types.ts
Labels: area:front

#10861 permissions: add mocked endpoints
  front/src/common/api/mock/mockData.ts
  front/src/common/api/mock/mockEditoastApi.ts
Labels: area:front
