Repository OpenRailAssociation/osrd, pull requests merged in 2025-01, with the labels that each got.

#10141 front: change time tolerance from 1s to 2s
  front/src/modules/timesStops/consts.ts
  front/tests/008-train-schedule.spec.ts
Labels: area:front

#10030 editoast: better sql query to split a track section
  editoast/src/models/infra/sql/get_split_track_section_with_data.sql
Labels: area:editoast

#10194 front: create train settings reducer
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/stdcm/utils/formatStdcmConf.ts
  front/src/modules/rollingStock/components/RollingStockCard/RollingStockCardButtons.tsx
  front/src/modules/rollingStock/components/RollingStockSelector/useStoreDataForRollingStockSelector.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/ConstraintDistributionSwitch.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/ElectricalProfiles.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/TrainAddingSettings.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/TrainSettings.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/hooks/useUpdateTrainSchedule.ts
  front/src/reducers/index.ts
  front/src/reducers/osrdconf/operationalStudiesConf/__tests__/operationalStudiesConfReducer.spec.ts
  front/src/reducers/osrdconf/operationalStudiesConf/__tests__/trainSettingsReducer.ts
  front/src/reducers/osrdconf/operationalStudiesConf/index.ts
  front/src/reducers/osrdconf/operationalStudiesConf/selectors.ts
  front/src/reducers/osrdconf/operationalStudiesConf/trainSettingsReducer.ts
  front/src/reducers/osrdconf/osrdConfCommon/__tests__/utils.ts
  front/src/reducers/osrdconf/osrdConfCommon/index.ts
  front/src/reducers/osrdconf/osrdConfCommon/selectors.ts
  front/src/reducers/osrdconf/types.ts
Labels: area:front

#10216 editoast: unused dependency toml_edit
  editoast/Cargo.lock
  editoast/editoast_authz/Cargo.toml
Labels: area:editoast

#10084 front: update typescript-eslint
  front/.eslintrc
  front/package-lock.json
  front/package.json
  front/src/applications/editor/components/EntitySumUp.tsx
  front/src/applications/editor/components/LinearMetadata/FormComponent.tsx
  front/src/applications/editor/tools/routeEdition/components/RouteEditionLeftPanel.tsx
  front/src/applications/editor/tools/selection/tool.tsx
  front/src/applications/editor/tools/switchEdition/utils.ts
  front/src/applications/rollingStockEditor/views/RollingStockEditor.tsx
  front/src/common/Map/Layers/blankStyle.ts
  front/src/common/Map/Search/useSearchOperationalPoint.tsx
  front/src/common/api/graouApi.ts
  front/src/modules/infra/components/InfraSelector/InfraSelectorModalBodyEdition.tsx
  front/src/modules/simulationResult/components/SimulationResultsMap/TrainHoverPosition.tsx
  front/src/modules/trainschedule/components/ImportTrainSchedule/ImportTrainScheduleConfig.tsx
  front/src/modules/trainschedule/components/ImportTrainSchedule/ImportTrainScheduleTrainsList.tsx
  front/src/reducers/mapViewer/index.ts
Labels: area:front

#10170 front: drop TimesStopsRow.isWaypoint
  front/src/modules/timesStops/TimesStops.tsx
  front/src/modules/timesStops/helpers/utils.ts
  front/src/modules/timesStops/hooks/useOutputTableData.ts
  front/src/modules/timesStops/types.ts
Labels: area:front

#10224 front: display rs name instead of rs reference in StdcmReportSheet
  front/src/applications/stdcm/components/StdcmResults/SimulationReportSheet.tsx
Labels: area:front

#10032 front: setting power restrictions don't remove pathSteps
  front/src/modules/powerRestriction/helpers/createPathStep.ts
  front/src/reducers/osrdconf/operationalStudiesConf/utils.ts
  front/src/reducers/osrdconf/types.ts
Labels: area:front

#10238 ci: bump python version
  .github/workflows/build.yml
Labels: area:ci

#10226 front: drop unused package overrides
  front/package.json
Labels: area:front

#10225 github: group osrd-ui dependabot upgrades
  .github/dependabot.yml
Labels: area:ci

#10143 core: sim: add speed limit anticipation back
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulation.kt
  core/src/test/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulationTest.kt
  front/tests/assets/operationStudies/simulationSettings/allSettings.json
  front/tests/assets/operationStudies/simulationSettings/codeCompo/codeCompoOFF.json
  front/tests/assets/operationStudies/simulationSettings/codeCompo/codeCompoON.json
  front/tests/assets/operationStudies/simulationSettings/electricalProfiles/electricalProfileOFF.json
  front/tests/assets/operationStudies/simulationSettings/electricalProfiles/electricalProfileON.json
  front/tests/assets/operationStudies/simulationSettings/margin/linearMargin.json
  front/tests/assets/operationStudies/simulationSettings/margin/marecoMargin.json
  front/tests/assets/operationStudies/timesAndStops/expectedOutputsCellsData.json
Labels: area:core, area:front

#10154 front: fix train selection in the anterior or posterior train list
  front/src/applications/stdcm/types.ts
  front/src/applications/stdcm/utils/computeOpSchedules.ts
  front/src/reducers/osrdconf/stdcmConf/index.ts
Labels: area:front

#10223 front: reset stdcm state when hitting "new query" button
  front/src/applications/stdcm/hooks/useStdcm.ts
  front/src/applications/stdcm/views/StdcmView.tsx
Labels: area:front

#10155 Remove "DSDM" from the download simulation sheet message
  front/public/locales/en/stdcm.json
  front/public/locales/fr/stdcm.json
Labels: area:front

#10241 front: disable get the simulation button when infra is not loaded
  front/src/applications/stdcm/components/StdcmForm/StdcmConfig.tsx
Labels: area:front

#10237 front: remove map feature from simulation report sheet
  front/src/applications/stdcm/components/StdcmResults/SimulationReportSheet.tsx
  front/src/applications/stdcm/components/StdcmResults/SimulationReportStyleSheet.ts
  front/src/applications/stdcm/components/StdcmResults/StdcmResults.tsx
  front/src/applications/stdcm/types.ts
  front/src/applications/stdcm/utils/formatSimulationReportSheet.ts
Labels: area:front

#10264 front: display duration time only for requested pathsteps
  front/src/applications/stdcm/components/StdcmResults/StdcmResults.tsx
  front/src/applications/stdcm/utils/formatSimulationReportSheet.ts
Labels: area:front

#10165 front: fix sass deprecation warnings
  front/src/common/IntervalsDataViz/style.scss
  front/src/styles/scss/_uiCoreIntegration.scss
  front/src/styles/scss/_uiManchette.scss
  front/src/styles/scss/_uiSpaceTimeChart.scss
  front/src/styles/scss/_uiSpeedSpaceChart.scss
  front/src/styles/scss/applications/_operationalStudies.scss
  front/src/styles/scss/applications/_stdcm.scss
  front/src/styles/scss/applications/editor/_editor.scss
  front/src/styles/scss/common/_common.scss
  front/src/styles/scss/common/_components.scss
  front/src/styles/scss/common/_rc-slider.scss
  front/src/styles/scss/common/map/_map.scss
  front/src/styles/styles.scss
Labels: area:front

#10172 Fix operational point search performance issues
  editoast/editoast_derive/src/search.rs
  editoast/editoast_derive/src/snapshots/editoast_derive__search__tests__search_construction.snap
  editoast/editoast_search/src/lib.rs
  editoast/editoast_search/src/search_object.rs
  editoast/src/views/search.rs
Labels: area:editoast

#10272 front: center text on stdcm error
  front/src/styles/scss/applications/stdcm/_home.scss
Labels: area:front

#10284 front: fix "rolling stock" spelling in English translations
  front/public/locales/en/operationalStudies/scenario.json
  front/public/locales/en/rollingstock.json
Labels: area:front

#10130 front: add a second button in lmr for new request with prefill form
  front/public/locales/en/stdcm.json
  front/public/locales/fr/stdcm.json
  front/src/applications/stdcm/components/StdcmForm/StdcmConfig.tsx
  front/src/applications/stdcm/components/StdcmResults/StdcmResults.tsx
  front/src/applications/stdcm/views/StdcmView.tsx
  front/src/styles/scss/applications/stdcm/_results.scss
  front/tests/pages/stdcm-page-model.ts
Labels: area:front

#10287 front: fix some issues in stdcm consist errors tooltips
  front/src/applications/stdcm/components/StdcmForm/StdcmConfig.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmConsist.tsx
Labels: area:front

#10265 front: stdcm: display the application date in the chosen language
  front/src/applications/stdcm/components/StdcmResults/SimulationReportSheet.tsx
Labels: area:front

#10227 Filter TowedRollingStocks to include only allowed values
  front/src/applications/stdcm/components/StdcmForm/StdcmConfig.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmConsist.tsx
  front/src/assets/rollingStock/freightRollingStocks.ts
  front/src/modules/rollingStock/hooks/useFilterRollingStock.ts
  front/src/modules/towedRollingStock/hooks/useFilterTowedRollingStock.ts
  front/tests/assets/stdcm/towedRollingStock/towedRollingStock.json
Labels: area:front

#10268 front: enhance viewport computation function
  front/src/common/Map/WarpedMap/core/helpers.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/Map.tsx
Labels: area:front

#10291 front: fix stdcm cards display
  front/src/styles/scss/applications/stdcm/_card.scss
Labels: area:front

#10242 front: fix missing await statements for asynchronous calls
  front/.eslintrc
  front/tests/004-scenario-management.spec.ts
  front/tests/pages/op-simulation-settings-page-model.ts
  front/tests/pages/op-timetable-page-model.ts
  front/tests/pages/operational-studies-page-model.ts
Labels: area:front

#10001 Clean up and enhance simulation report sheet
  front/public/locales/en/stdcm-simulation-report-sheet.json
  front/public/locales/fr/stdcm-simulation-report-sheet.json
  front/src/applications/stdcm/components/StdcmResults/SimulationReportSheet.tsx
  front/src/applications/stdcm/components/StdcmResults/SimulationReportStyleSheet.ts
  front/src/applications/stdcm/hooks/useStdcmResults.ts
  front/src/applications/stdcm/types.ts
  front/src/applications/stdcm/utils/formatSimulationReportSheet.ts
  front/src/modules/pathfinding/utils.ts
  front/src/reducers/osrdconf/stdcmConf/index.ts
Labels: area:front

#10274 front: fix scroll in stdcm result table
  front/src/styles/scss/applications/stdcm/_results.scss
Labels: area:front

#10280 front: Initialize the new version of the Map.
  front/src/applications/stdcm/components/StdcmForm/StdcmConfig.tsx
  front/src/applications/stdcm/components/StdcmResults/StdcmResults.tsx
  front/src/common/Map/Buttons/MapButtons.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/NewMap.tsx
  front/tests/pages/stdcm-page-model.ts
Labels: area:front

#10277 fix invalid op time stdcm
  front/src/applications/stdcm/hooks/useStdcm.ts
Labels: area:front

#10288 front: avoid unecessary path finding call in stdcm
  front/src/applications/stdcm/components/StdcmForm/StdcmConfig.tsx
  front/src/applications/stdcm/hooks/useStaticPathfinding.ts
Labels: area:front

#10275 editoast: add weight field to operational points path_properties
  core/kt-osrd-rjs-parser/src/main/kotlin/fr/sncf/osrd/RawInfraRJSParser.kt
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/infra/RJSOperationalPoint.java
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/path_properties/PathPropResponse.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/path_properties/PathPropResponseConverter.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathPropEndpointTest.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingTest.kt
  core/src/test/kotlin/fr/sncf/osrd/sim_infra_adapter/PathPropertiesTests.kt
  editoast/openapi.yaml
  editoast/src/core/path_properties.rs
  front/src/applications/operationalStudies/__tests__/sampleData.ts
  front/src/applications/operationalStudies/__tests__/upsertMapWaypointsInOperationalPoints.spec.ts
  front/src/applications/operationalStudies/helpers/upsertMapWaypointsInOperationalPoints.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/modules/simulationResult/components/SpeedSpaceChart/__tests__/helpers.spec.ts
Labels: area:core, area:front, area:editoast

#10286 front: stdcm - new query should clear the hour field
  front/src/applications/stdcm/components/StdcmForm/StdcmOpSchedule.tsx
Labels: area:front

#9907 Slider
  front/package-lock.json
  front/package.json
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
  front/src/modules/simulationResult/styles/manchetteWithSpaceTimeChart.scss
  front/src/styles/scss/common/components/_manchetteWithSpaceTimeChart.scss
Labels: area:front

#10304 front: fix stdcm style on simulation results
  front/src/styles/scss/applications/stdcm/_results.scss
Labels: area:front

#10313 front: fix stdcm consist unwanted warning
  front/src/applications/stdcm/utils/consistValidation.ts
Labels: area:front

#10312 core: fix max speed in concatenated envelopes
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/EnvelopeConcat.java
Labels: area:core

#10290 front: bump ui from 0.0.59 to 0.0.61 except ui core
  front/package-lock.json
  front/package.json
  front/src/modules/simulationResult/components/SpeedSpaceChart/__tests__/helpers.spec.ts
  front/src/modules/simulationResult/components/SpeedSpaceChart/helpers.ts
Labels: area:front

#10308 Fix table headers to start with lowercase letters for consistency
  front/public/locales/en/stdcm-simulation-report-sheet.json
  front/public/locales/fr/stdcm-simulation-report-sheet.json
Labels: area:front

#10324 front: fix stdcm add via scroll
  front/src/applications/stdcm/components/StdcmForm/StdcmVias.tsx
Labels: area:front

#10341 python: fix missing flake8-formatter-junit-xml dependency
  python/osrd_schemas/poetry.lock
  python/osrd_schemas/pyproject.toml
  python/railjson_generator/poetry.lock
  python/railjson_generator/pyproject.toml
Labels: area:railjson

#10333 core: add cli command to re-run payloads
  core/src/main/java/fr/sncf/osrd/App.java
  core/src/main/java/fr/sncf/osrd/cli/ReproduceRequest.java
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/stdcm/STDCMEndpointV2.kt
Labels: area:core

#10342 python: fix maximum Python version
  python/osrd_schemas/poetry.lock
  python/osrd_schemas/pyproject.toml
  python/railjson_generator/poetry.lock
  python/railjson_generator/pyproject.toml
Labels: area:railjson

#10328 editoast: fix clippy lints in nightly
  editoast/editoast_osrdyne_client/src/lib.rs
  editoast/editoast_schemas/src/train_schedule/train_schedule_base.rs
  editoast/src/models/prelude/update.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/lines.rs
  editoast/src/views/infra/pathfinding.rs
  editoast/src/views/train_schedule/projection.rs
Labels: area:editoast

#10379 front: remove unused class in stdcm results
  front/src/styles/scss/applications/stdcm/_results.scss
Labels: area:front

#10370 front: decrease the electrification layer order priority to avoid masking path in map
  front/src/config/layerOrder.ts
Labels: area:front

#10340 schemas: provide a default value for ETCS brake parameters
  python/osrd_schemas/osrd_schemas/rolling_stock.py
Labels: area:railjson

#10380 core: stdcm: fix Offset<Path> conversion when route has previous blocks
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/PostProcessingSimulation.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdge.kt
Labels: area:core

#10347 editoast: filter train schedules for LMR
  editoast/src/models/timetable.rs
  editoast/src/models/train_schedule.rs
  editoast/src/views/timetable/stdcm.rs
Labels: area:editoast

#10387 front: fix selectableSlot in useLinkedTrainSearch
  front/src/applications/stdcm/hooks/useLinkedTrainSearch.ts
Labels: area:front

#10014 core: implement etcs braking simulator for EOAs
  core/envelope-sim/build.gradle
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope/EnvelopePhysics.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPath.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/PhysicsPath.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/PhysicsRollingStock.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegrator.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/overlays/EnvelopeDeceleration.java
  core/envelope-sim/src/main/kotlin/fr/sncf/osrd/envelope_sim/etcs/Constants.kt
  core/envelope-sim/src/main/kotlin/fr/sncf/osrd/envelope_sim/etcs/ETCSBrakingCurves.kt
  core/envelope-sim/src/main/kotlin/fr/sncf/osrd/envelope_sim/etcs/ETCSBrakingSimulator.kt
  core/envelope-sim/src/main/kotlin/fr/sncf/osrd/envelope_sim/pipelines/MaxSpeedEnvelope.kt
  core/envelope-sim/src/test/java/fr/sncf/osrd/envelope_sim/TrainPhysicsIntegratorTest.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/FlatPath.java
  core/envelope-sim/src/testFixtures/java/fr/sncf/osrd/envelope_sim/SimpleRollingStock.java
  core/osrd-geom/build.gradle
  core/osrd-railjson/build.gradle
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSEtcsBrakeParams.java
  core/src/main/java/fr/sncf/osrd/standalone_sim/StandaloneSim.java
  core/src/main/java/fr/sncf/osrd/train/RollingStock.java
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/StandaloneSimulation.kt
Labels: area:core

#10345 core: aggregate errors that happen too often during infra loading
  core/kt-osrd-rjs-parser/src/main/kotlin/fr/sncf/osrd/RawInfraRJSParser.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/BlockBuilder.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/SignalingSimulatorImpl.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/LogAggregator.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/RequirementsParser.kt
Labels: area:core

#10344 editoast: add weight documentation
  editoast/openapi.yaml
  editoast/src/core/path_properties.rs
Labels: area:editoast

#10302 Change name for interne deployment
  front/src/applications/editor/Home.tsx
  front/src/applications/operationalStudies/Home.tsx
  front/src/applications/referenceMap/Home.tsx
  front/src/applications/rollingStockEditor/Home.tsx
  front/src/applications/stdcm/components/StdcmHeader.tsx
  front/src/applications/stdcm/components/StdcmResults/SimulationReportSheet.tsx
  front/src/applications/stdcm/components/StdcmResults/SimulationReportStyleSheet.ts
  front/src/applications/stdcm/components/StdcmResults/StdcmResults.tsx
  front/src/common/BootstrapSNCF/NavBarSNCF.tsx
  front/src/common/ReleaseInformations/ReleaseInformations.tsx
  front/src/main/home.tsx
  front/src/styles/scss/_body.scss
  front/src/styles/scss/applications/stdcm/_header.scss
  front/src/utils/hooks/useDeploymentSettings.ts
  front/src/utils/logo.ts
  front/tests/pages/stdcm-page-model.ts
Labels: area:front

#10407 front: display the stdcm user help for all users
  front/src/applications/stdcm/components/StdcmHeader.tsx
Labels: area:front

#10413 front: fix stdcm consist warning
  front/src/applications/stdcm/utils/consistValidation.ts
Labels: area:front

#10386 core: stdcm: increase max length to test for engineering allowances
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/EngineeringAllowanceManager.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/PostProcessingSimulation.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdge.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdgeBuilder.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/preprocessing/STDCMHeuristicTests.kt
Labels: area:core

#10320 Fix git describe version injected to the frontend
  docker-compose.yml
  front/.env.example
  front/docker/Dockerfile.devel
  front/docker/Dockerfile.nginx
  front/package-lock.json
  front/package.json
  front/scripts/start-dev.sh
  front/src/common/ReleaseInformations/ReleaseInformations.tsx
  front/src/main/app.tsx
  front/src/store/index.ts
  front/src/vite-env.d.ts
  front/vite.config.mts
Labels: area:front

#10346 front: fix update coordinates when change ch code
  front/src/applications/stdcm/components/StdcmForm/StdcmOperationalPoint.tsx
Labels: area:front

#10422 editoast, front: allow providing etcs_brake_params to rolling-stock web api
  editoast/openapi.yaml
  editoast/src/views/rolling_stock/form.rs
  front/src/common/api/generatedEditoastApi.ts
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorForm.tsx
Labels: area:front, area:editoast

#10215 editoast: extract osm_to_railjson in separate binary
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/osm_to_railjson/Cargo.toml
  editoast/osm_to_railjson/README.md
  editoast/osm_to_railjson/src/main.rs
  editoast/src/client/mod.rs
  editoast/src/main.rs
Labels: area:editoast

#10212 editoast: endpoints to retrieve stdcm payloads
  editoast/editoast_authz/src/authorizer.rs
  editoast/editoast_common/src/tracing.rs
  editoast/editoast_models/src/tables.rs
  editoast/editoast_schemas/src/train_schedule/margins.rs
  editoast/migrations/2025-01-07-163822_index_stdcm_log_trace_id/down.sql
  editoast/migrations/2025-01-07-163822_index_stdcm_log_trace_id/up.sql
  editoast/migrations/2025-01-14-154647_make_stdcm_log_trace_id_nullable/down.sql
  editoast/migrations/2025-01-14-154647_make_stdcm_log_trace_id_nullable/up.sql
  editoast/openapi.yaml
  editoast/src/client/runserver.rs
  editoast/src/core/conflict_detection.rs
  editoast/src/core/simulation.rs
  editoast/src/core/stdcm.rs
  editoast/src/main.rs
  editoast/src/models/stdcm_log.rs
  editoast/src/views/mod.rs
  editoast/src/views/stdcm_logs.rs
  editoast/src/views/test_app.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/stdcm/request.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  front/src/common/api/generatedEditoastApi.ts
Labels: area:front, area:editoast

#10193 front: add stdcm simulation sheet e2e test
  front/package-lock.json
  front/package.json
  front/src/assets/rollingStock/freightRollingStocks.ts
  front/tests/005-operational-studies.spec.ts
  front/tests/006-stdcm.spec.ts
  front/tests/013-stdcm-simulation-sheet.spec.ts
  front/tests/assets/project-const.ts
  front/tests/assets/rollingStock/dual-mode_rolling_stock.json
  front/tests/assets/rollingStock/improbable_rolling_stock.json
  front/tests/assets/simulation-sheet-const.ts
  front/tests/assets/trainSchedule/train_schedules.json
  front/tests/pages/stdcm-page-model.ts
  front/tests/utils/date.ts
  front/tests/utils/setup-utils.ts
  front/tests/utils/simulationSheet.ts
  front/tests/utils/types.ts
Labels: area:front

#10376 misc: add new environments for issue reporting
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: area:ci

#10429 core: stdcm: use the right limit when shifting departure time
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPostProcessing.kt
Labels: area:core

#10282 lmr: add messages during pathfinding and when its done
  front/public/locales/en/stdcm.json
  front/public/locales/fr/stdcm.json
  front/src/applications/stdcm/components/StdcmForm/StdcmConfig.tsx
  front/src/applications/stdcm/hooks/useStaticPathfinding.ts
  front/src/styles/scss/_variables.scss
  front/src/styles/scss/applications/stdcm/_home.scss
Labels: area:front

#10334 front: fix displayed op on manchette
  front/src/applications/operationalStudies/__tests__/upsertMapWaypointsInOperationalPoints.spec.ts
  front/src/applications/operationalStudies/helpers/upsertMapWaypointsInOperationalPoints.ts
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
  front/src/modules/simulationResult/components/SpaceTimeChart/useGetProjectedTrainOperationalPoints.ts
Labels: area:front

#10444 front: repair npm start
  front/package.json
Labels: area:front

#10440 core: clean up etcs braking simulator
  core/envelope-sim/src/main/kotlin/fr/sncf/osrd/envelope_sim/etcs/ETCSBrakingCurves.kt
Labels: area:core

#10453 editoast: stdcm: stop awaiting the log entry creation
  editoast/src/views/timetable/stdcm.rs
Labels: area:editoast

#10474 front: revert part of #10371
  front/package-lock.json
  front/package.json
  front/src/modules/trainschedule/components/Timetable/Timetable.tsx
Labels: area:front

#10434 front: add version parameter to translations load path
  front/src/i18n.ts
Labels: area:front

#10426 core: add warning on route ending on non route delimiting signal in block generation
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/SignalDriver.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/BlockBuilder.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/MockSigSystemManager.kt
  core/kt-osrd-signaling/src/main/kotlin/fr/sncf/osrd/signaling/impl/SigSystemManagerImpl.kt
  core/kt-osrd-sim-infra/src/main/kotlin/fr/sncf/osrd/sim_infra/api/LoadedSignalingInfra.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bal/BAL.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/bapr/BAPR.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/etcs_level2/ETCS_LEVEL2.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/tvm300/TVM300.kt
  core/kt-osrd-sncf-signaling/src/main/kotlin/fr/sncf/osrd/signaling/tvm430/TVM430.kt
Labels: area:core

#10478 front: remove webkit from e2e tests
  front/playwright.config.ts
  front/tests/009-rollingstock-editor.spec.ts
  front/tests/012-op-simulation-settings-tab.spec.ts
Labels: area:front

#10435 front: migrate to i18next-http-backend
  front/package-lock.json
  front/package.json
  front/src/i18n.ts
Labels: area:front

#10482 core: stdcm: add some telemetry spans
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/RequirementsParser.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/stdcm/STDCMEndpointV2.kt
Labels: area:core

#10483 editoast: fix cropped work schedule times
  editoast/src/core/conflict_detection.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/stdcm/failure_handler.rs
  editoast/src/views/timetable/stdcm/request.rs
  tests/tests/test_stdcm.py
Labels: area:editoast, area:integration-tests

#10393 front: fix projected train icon when ellipsis
  front/src/modules/trainschedule/components/Timetable/TimetableTrainCard.tsx
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Labels: area:front

#10405 front: fix project image display in project page
  front/src/styles/scss/applications/operationalStudies/_project.scss
Labels: area:front

#10488 core: stdcm: add fixed time points at start+end of engineering allowances
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/EngineeringAllowanceManager.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/PostProcessingSimulation.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdge.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdgeBuilder.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/preprocessing/STDCMHeuristicTests.kt
Labels: area:core

#10323 front: fix ch suggestions update
  front/src/applications/stdcm/components/StdcmForm/StdcmOperationalPoint.tsx
  front/src/reducers/osrdconf/stdcmConf/index.ts
Labels: area:front

#10486 front: fix negative duration at trainrun creation in macro mode
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
Labels: area:front

#10498 core: fix typo in initFixedPoints, with unit test
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/PostProcessingSimulation.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/EngineeringAllowanceTests.kt
Labels: area:core

#10500 editoast: optimize batch simulation for stdcm
  editoast/src/core/pathfinding.rs
  editoast/src/views/path/pathfinding.rs
  editoast/src/views/train_schedule.rs
Labels: area:editoast

#10445 front: lmr fix intermediate op id collision
  front/src/applications/stdcm/components/StdcmForm/StdcmOperationalPoint.tsx
  front/src/reducers/osrdconf/helpers.ts
  front/src/reducers/osrdconf/operationalStudiesConf/__tests__/operationalStudiesConfReducer.spec.ts
  front/src/reducers/osrdconf/stdcmConf/index.ts
  front/tests/pages/stdcm-page-model.ts
Labels: area:front, module:stdcm

#10506 core: stdcm: account for previous margins when checking for new ones
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/EngineeringAllowanceManager.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/PostProcessingSimulation.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdge.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMEdgeBuilder.kt
Labels: area:core

#10512 core: pathfinding: fix pathfinding class to handle overlapping points
  core/src/main/kotlin/fr/sncf/osrd/graph/Pathfinding.kt
  core/src/test/java/fr/sncf/osrd/utils/graph/PathfindingTests.kt
Labels: area:core

#10521 core: stdcm: explicitely output route path
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/Extensions.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/stdcm/STDCMEndpointV2.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/STDCMResult.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPostProcessing.kt
  core/src/test/kotlin/fr/sncf/osrd/utils/Helpers.kt
Labels: area:core

#10510 editoast: fix group name constraint rollback
  editoast/migrations/2024-11-22-151624_group-name-unique/down.sql
Labels: area:editoast

#10441 Add rolling stock, effort curve documentation
  editoast/editoast_schemas/src/rolling_stock/effort_curves.rs
  editoast/openapi.yaml
  front/src/common/api/generatedEditoastApi.ts
Labels: area:front, area:editoast

#10509 editoast: rename and invert authorization flag for consistency
  editoast/editoast_authz/src/builtin_role.rs
  editoast/src/client/runserver.rs
  editoast/src/views/mod.rs
  editoast/src/views/test_app.rs
Labels: area:editoast, kind:refacto-task

#10533 core: pathfinding: fix missing waypoints in edge cases
  core/src/main/kotlin/fr/sncf/osrd/graph/Pathfinding.kt
Labels: area:core

#10556 editoast: fix some nightly clippy warnings
  editoast/editoast_osrdyne_client/src/lib.rs
  editoast/src/models/timetable.rs
Labels: area:editoast

#10522 core: improve tools to log and reproduce requests
  core/src/main/java/fr/sncf/osrd/cli/ReproduceRequest.java
  core/src/main/java/fr/sncf/osrd/cli/ReproduceRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/pathfinding/PathfindingBlocksEndpointV2.kt
  core/src/main/kotlin/fr/sncf/osrd/api/api_v2/standalone_sim/SimulationEndpoint.kt
Labels: area:core
