Repository OpenRailAssociation/osrd, pull requests merged in 2025-03, with the labels that each got.

#10978 editoast: integrate `MqClientError` into `CoreError`
  editoast/openapi.yaml
  editoast/src/core/mod.rs
  editoast/src/core/mq_client.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
Labels: area:front, area:editoast

#10992 front: rethrow fatal errors in E2E tests
  front/tests/global-teardown.ts
  front/tests/utils/api-utils.ts
  front/tests/utils/setup-utils.ts
Labels: area:front

#10987 front: fix icon change when locking an infra
  front/src/modules/infra/useInfra.ts
Labels: area:front

#10990 front: fix MacroEditorState.getPathKeys() when missing secondary code
  front/src/applications/operationalStudies/components/MacroEditor/MacroEditorState.ts
Labels: area:front

#10985 core: fix typing issues around path fragment stop offsets
  core/src/main/java/fr/sncf/osrd/conflicts/IncrementalPath.kt
  core/src/main/java/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractor.kt
  core/src/main/kotlin/fr/sncf/osrd/standalone_sim/ScheduleMetadataExtractorV2.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorer.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorerTests.kt
Labels: area:core

#10894 editoast: get paced train endpoint
  editoast/openapi.yaml
  editoast/src/views/paced_train.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
Labels: area:front, area:editoast

#11025 editoast: do not explicitely depend on 'redis'
  .github/dependabot.yml
  editoast/Cargo.toml
Labels: area:editoast, area:ci

#11029 editoast: fix Cargo.lock following dependency update
  editoast/Cargo.lock
Labels: area:editoast

#10964 editoast: get timetable paced trains endpoint
  editoast/openapi.yaml
  editoast/src/models/paced_train.rs
  editoast/src/views/timetable.rs
  front/src/common/api/generatedEditoastApi.ts
Labels: area:front, area:editoast

#11028 editoast: remove 'async_trait'
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/editoast_derive/src/model/codegen/count_impl.rs
  editoast/editoast_derive/src/model/codegen/exists_impl.rs
  editoast/editoast_derive/src/model/codegen/list_impl.rs
  editoast/editoast_derive/src/model/codegen/retrieve_batch_impl.rs
  editoast/editoast_derive/src/model/codegen/retrieve_impl.rs
  editoast/editoast_derive/src/model/codegen/update_batch_impl.rs
  editoast/editoast_derive/src/model/codegen/update_impl.rs
  editoast/editoast_derive/src/snapshots/editoast_derive__model__tests__construction.snap
  editoast/editoast_derive/src/snapshots/editoast_derive__model__tests__single_pk_model.snap
  editoast/editoast_models/src/db_connection_pool.rs
  editoast/editoast_schemas/src/rolling_stock/etcs_brake_params.rs
  editoast/editoast_schemas/src/train_schedule/schedule_item.rs
  editoast/openapi.yaml
  editoast/src/core/mod.rs
  editoast/src/generated_data/buffer_stop.rs
  editoast/src/generated_data/detector.rs
  editoast/src/generated_data/electrification.rs
  editoast/src/generated_data/error/mod.rs
  editoast/src/generated_data/mod.rs
  editoast/src/generated_data/neutral_section.rs
  editoast/src/generated_data/neutral_sign.rs
  editoast/src/generated_data/operational_point.rs
  editoast/src/generated_data/psl_sign.rs
  editoast/src/generated_data/signal.rs
  editoast/src/generated_data/speed_section.rs
  editoast/src/generated_data/switch.rs
  editoast/src/generated_data/track_section.rs
  editoast/src/models/prelude/list.rs
  editoast/src/models/prelude/retrieve.rs
  editoast/src/models/prelude/update.rs
  editoast/src/models/timetable.rs
  editoast/src/views/pagination.rs
  editoast/src/views/rolling_stock/light.rs
  editoast/src/views/timetable/stdcm/request.rs
Labels: area:editoast

#10961 editoast: doc: advertize migration with locked schema
  docker-compose.yml
  docker/docker-compose.pr-tests.yml
  editoast/README.md
  editoast/src/client/search_commands.rs
  scripts/cleanup-db.sh
Labels: kind:documentation, area:editoast

#11034 front: fix index incrementation for stdcm simulation
  front/src/applications/stdcm/components/StdcmResults/StdcmSimulationNavigator.tsx
  front/tests/pages/stdcm/simulation-results-page.ts
Labels: area:front

#10977 front: create occurrence item
  front/src/modules/trainschedule/components/Timetable/PacedTrain/OccurrenceItem.tsx
  front/src/modules/trainschedule/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/modules/trainschedule/components/Timetable/PacedTrain/hooks/useOccurrences.spec.ts
  front/src/modules/trainschedule/components/Timetable/PacedTrain/hooks/useOccurrences.tsx
  front/src/modules/trainschedule/components/Timetable/Timetable.tsx
  front/src/modules/trainschedule/components/Timetable/types.ts
  front/src/styles/scss/_variables.scss
  front/src/styles/scss/applications/operationalStudies/_pacedTrain.scss
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Labels: area:front

#11043 editoast: openfga port is none if value is 80 or 443
  editoast/src/views/mod.rs
Labels: kind:bug, area:editoast, severity:critical

#10962 front: reorder and redefine map layer groups
  front/src/common/Map/DefaultBaseMap.tsx
  front/src/common/Map/Layers/InfraObjectLayers/InfraObjectLayers.tsx
  front/src/common/Map/Layers/InfraObjectLayers/SpeedLimits.tsx
  front/src/common/Map/Layers/InfraObjectLayers/extensions/SNCF/PSL.tsx
  front/src/common/Map/WarpedMap/WarpedMap.tsx
  front/src/config/layerOrder.ts
  front/src/modules/simulationResult/components/SimulationResultsMap/SimulationResultsMap.tsx
  front/src/modules/simulationResult/components/SimulationResultsMap/VirtualLayers.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/Map.tsx
Labels: area:front

#11046 front: fix new rolling stock categories not reseting
  front/src/modules/rollingStock/helpers/utils.ts
Labels: area:front

#11059 editoast: move 'simulation_response' one module up
  editoast/src/views/mod.rs
  editoast/src/views/paced_train.rs
  editoast/src/views/train_schedule.rs
Labels: area:editoast

#11064 editoast: add 'NoopSpanExporter' to avoid dependencies
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/src/views/test_app.rs
Labels: area:editoast

#11065 editoast: remove dead code from `TestApp`
  editoast/src/views/test_app.rs
Labels: area:editoast

#11066 editoast: add comment explaining `#[allow(dead_code)]` usage
  editoast/src/core/mq_client.rs
Labels: area:editoast

#11022 editoast: PacedTrain: add simulation summary and simulation endpoints
  editoast/openapi.yaml
  editoast/src/models/paced_train.rs
  editoast/src/views/mod.rs
  editoast/src/views/paced_train.rs
  editoast/src/views/train_schedule.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  front/src/common/api/generatedEditoastApi.ts
  front/src/config/openapi-editoast-config.cts
Labels: area:front, area:editoast

#11055 Stop using valkey for tests
  .github/workflows/build.yml
  editoast/src/views/test_app.rs
Labels: area:editoast, area:ci

#10402 core: add ETCS SVL logic to ETCS braking simulator
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/EnvelopeSimPath.java
  core/envelope-sim/src/main/java/fr/sncf/osrd/envelope_sim/PhysicsRollingStock.java
  core/envelope-sim/src/main/kotlin/fr/sncf/osrd/envelope_sim/etcs/Constants.kt
  core/envelope-sim/src/main/kotlin/fr/sncf/osrd/envelope_sim/etcs/ETCSBrakingCurves.kt
  tests/tests/test_train_schedule.py
Labels: area:core, area:integration-tests

#11032 editoast: add an endpoint to list infra objects
  editoast/openapi.yaml
  editoast/src/models/infra/object_queryable.rs
  editoast/src/views/infra/objects.rs
  front/src/common/api/generatedEditoastApi.ts
Labels: area:front, area:editoast

#10783 front: get rid of repetitive imports
  front/src/applications/editor/components/LayersModal.tsx
  front/src/applications/editor/tools/rangeEdition/components/EyeToggle.tsx
  front/src/applications/editor/tools/rangeEdition/components/RouteList.tsx
  front/src/applications/operationalStudies/components/NGE/index.ts
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmConsist.tsx
  front/src/applications/stdcm/components/StdcmHelpModule/index.ts
  front/src/applications/stdcm/views/StdcmView.tsx
  front/src/common/BootstrapSNCF/CardSNCF/CardSNCF.tsx
  front/src/common/BootstrapSNCF/CardSNCF/index.ts
  front/src/common/BootstrapSNCF/HelpModalSNCF.tsx
  front/src/common/BootstrapSNCF/NavBarSNCF.tsx
  front/src/common/BootstrapSNCF/SwitchSNCF/index.ts
  front/src/common/DotsLoader/DotsLoader.tsx
  front/src/common/DotsLoader/index.ts
  front/src/common/Grid/index.ts
  front/src/common/IntervalsEditor/index.ts
  front/src/common/Map/Settings/MapSettingsBackgroundSwitches.tsx
  front/src/common/Map/Settings/MapSettingsLayers.tsx
  front/src/common/Map/Settings/MapSettingsSpeedLimits.tsx
  front/src/common/Map/WarpedMap/SimulationWarpedMap.tsx
  front/src/common/Map/WarpedMap/index.ts
  front/src/common/ReleaseInformations/index.ts
  front/src/common/SpeedLimitByTagSelector/index.ts
  front/src/common/UserSettings.tsx
  front/src/main/home.tsx
  front/src/modules/pathfinding/components/Itinerary/Itinerary.tsx
  front/src/modules/pathfinding/components/Itinerary/index.ts
  front/src/modules/pathfinding/components/Pathfinding/index.ts
  front/src/modules/powerRestriction/components/PowerRestrictionsSelector.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/CurveParamSelectors.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/PowerRestrictionGridModal.tsx
  front/src/modules/rollingStock/components/RollingStockSelector/RollingStockModal.tsx
  front/src/modules/simulationResult/components/SimulationResultsMap/SimulationResultsMap.tsx
  front/src/modules/simulationResult/components/SimulationResultsMap/index.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/ElectricalProfiles.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/SimulationSettings.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/TimetableManageTrainSchedule.tsx
  front/src/modules/trainschedule/components/Timetable/index.ts
Labels: area:front

#11017 Add initial German language set
  front/public/locales/de/common/common.json
  front/public/locales/de/common/itemTypes.json
  front/public/locales/de/common/scenarioExplorer.json
  front/public/locales/de/common/typeAndPath.json
  front/public/locales/de/home/home.json
  front/public/locales/de/home/navbar.json
  front/public/locales/de/infraManagement.json
  front/src/i18n.ts
Labels: area:front

#11101 editoast: do not ensure latest model when authorization disabled
  editoast/src/views/mod.rs
Labels: area:editoast

#11107 core: stdcm: fix offset type inconsistency
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMSimulations.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMUtils.kt
Labels: area:core

#11103 front: go back to tiles from osm.osrd.fr
  front/src/common/Map/const.ts
Labels: area:front

#11044 front: remove grid margins
  front/src/reducers/osrdconf/stdcmConf/index.ts
Labels: area:front

#11110 front: filter overtake operational points
  front/src/applications/stdcm/components/StdcmForm/StdcmOperationalPoint.tsx
Labels: area:front

#11118 core: fix adjusted permitted speed position calculation
  core/envelope-sim/src/main/kotlin/fr/sncf/osrd/envelope_sim/etcs/ETCSBrakingCurves.kt
Labels: area:core

#11112 editoast: adapt ScenarioResponse to add paced trains
  editoast/openapi.yaml
  editoast/src/models/scenario.rs
  editoast/src/models/timetable.rs
  editoast/src/views/scenario.rs
  editoast/src/views/timetable.rs
  front/src/common/api/generatedEditoastApi.ts
  tests/tests/test_scenario.py
Labels: area:front, area:editoast, area:integration-tests

#11129 dependabot: enable for osrdyne
  .github/dependabot.yml
Labels: area:ci

#11116 front: bump osrd-ui to 0.0.68
  front/package-lock.json
  front/package.json
  front/src/applications/operationalStudies/types.ts
  front/src/modules/powerRestriction/helpers/__tests__/sampleData.ts
  front/src/modules/powerRestriction/helpers/formatPowerRestrictionRangesWithHandled.ts
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/utils.ts
  front/src/modules/simulationResult/components/SpeedSpaceChart/SpeedSpaceChartContainer.tsx
  front/src/modules/simulationResult/components/SpeedSpaceChart/__tests__/helpers.spec.ts
  front/src/modules/simulationResult/components/SpeedSpaceChart/helpers.ts
  front/src/modules/simulationResult/components/SpeedSpaceChart/useSpeedSpaceChart.ts
  front/src/modules/simulationResult/types.ts
  front/src/styles/scss/_uiManchette.scss
  front/src/styles/scss/_uiSpaceTimeChart.scss
  front/src/styles/scss/_uiSpeedSpaceChart.scss
Labels: area:front

#11168 editoast: remove unused code
  editoast/openapi.yaml
  editoast/src/core/mod.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
Labels: area:front, area:editoast

#11073 front: fix language list
  front/src/common/ChangeLanguageModal.tsx
  front/src/i18n.ts
Labels: area:front

#11070 core: replace homemade bloom filter with guava's
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/AppendOnlyMap.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/AppendOnlySet.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/BloomFilter.kt
  core/src/main/java/fr/sncf/osrd/cli/ReproduceRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorer.kt
Labels: area:core

#11111 front: add German translations for operational studies
  front/public/locales/de/operationalStudies/allowances.json
  front/public/locales/de/operationalStudies/drivertrainschedule.json
  front/public/locales/de/operationalStudies/home.json
  front/public/locales/de/operationalStudies/importTrainSchedule.json
  front/public/locales/de/operationalStudies/manageTrainSchedule.json
Labels: area:front

#11187 gateway: add path blocking
  gateway/Cargo.lock
  gateway/Cargo.toml
  gateway/actix_proxy/Cargo.toml
  gateway/actix_proxy/src/lib.rs
  gateway/src/config.rs
  gateway/src/config_parser.rs
Labels: area:gateway

#11203 front: support no infra edit override
  front/src/common/BootstrapSNCF/NavBarSNCF.tsx
  front/src/modules/infra/components/InfraSelector/InfraSelectorModal.tsx
  front/src/utils/hooks/useDeploymentSettings.tsx
Labels: area:front

#11119 editoast: paced train project path
  editoast/openapi.yaml
  editoast/src/models/fixtures.rs
  editoast/src/views/paced_train.rs
  editoast/src/views/projection.rs
  editoast/src/views/train_schedule.rs
Labels: area:editoast

#11209 front: remove internal names and assumptions about the names of imported files
  front/src/applications/stdcm/components/StdcmHeader.tsx
  front/src/applications/stdcm/components/StdcmResults/SimulationReportSheet.tsx
  front/src/applications/stdcm/components/StdcmResults/SimulationReportStyleSheet.ts
  front/src/common/BootstrapSNCF/NavBarSNCF.tsx
  front/src/common/ReleaseInformations/ReleaseInformations.tsx
  front/src/utils/hooks/useDeploymentSettings.tsx
Labels: area:front

#10562 core: update README
  core/README.md
Labels: area:core

#11226 editoast: adding endpoint for searching users
  editoast/editoast_models/src/tables.rs
  editoast/migrations/2025-03-21-153132_search-user/down.sql
  editoast/migrations/2025-03-21-153132_search-user/up.sql
  editoast/openapi.yaml
  editoast/src/views/search.rs
  front/src/common/api/generatedEditoastApi.ts
Labels: area:front, area:editoast

#11208 front: fix itinerary warning and timestops display
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/modules/timesStops/TimesStopsInput.tsx
Labels: area:front

#11233 front: use enum for StdcmResultsOperationalPoint.stopType
  front/src/applications/stdcm/types.ts
  front/src/applications/stdcm/utils/formatSimulationReportSheet.ts
Labels: area:front

#11224 front: add loader for macro editor
  front/public/locales/en/operationalStudies/scenario.json
  front/public/locales/fr/operationalStudies/scenario.json
  front/src/applications/operationalStudies/components/NGE/NGE.tsx
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
Labels: area:front

#11126 front: fix display invalid reason in train schedule item
  front/src/modules/trainschedule/components/Timetable/TrainScheduleItem.tsx
  front/src/styles/scss/applications/operationalStudies/_pacedTrain.scss
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Labels: area:front

#11222 front: fix vitest coverage race with vite-plugin-checker
  .github/workflows/build.yml
  front/vite.config.ts
Labels: area:front, area:ci

#11215 Fix gateway mock provider
  docker/gateway.dev.front.toml
  docker/gateway.dev.host-front.toml
  docker/gateway.dev.host.toml
  docker/gateway.pr-tests.simple.toml
  gateway/README.md
  gateway/actix_auth/src/auth_context.rs
  gateway/actix_auth/src/providers/bearer.rs
  gateway/actix_auth/src/providers/mock.rs
  gateway/actix_auth/src/providers/mod.rs
  gateway/gateway.bundled.toml
  gateway/gateway.toml
  gateway/src/config.rs
  gateway/src/config_parser.rs
Labels: area:gateway

#11234 front: map: switch to pmtiles for OSM and terrain
  front/src/common/Map/const.ts
Labels: area:front

#11244 core: unpin gradle minor release
  core/Dockerfile
Labels: area:core

#10945 editoast: update paced train endpoint
  editoast/editoast_schemas/src/paced_train.rs
  editoast/editoast_schemas/src/primitives/duration.rs
  editoast/editoast_schemas/src/train_schedule/distribution.rs
  editoast/editoast_schemas/src/train_schedule/margins.rs
  editoast/editoast_schemas/src/train_schedule/path_item.rs
  editoast/editoast_schemas/src/train_schedule/power_restriction_item.rs
  editoast/editoast_schemas/src/train_schedule/schedule_item.rs
  editoast/editoast_schemas/src/train_schedule/train_schedule_base.rs
  editoast/editoast_schemas/src/train_schedule/train_schedule_options.rs
  editoast/openapi.yaml
  editoast/src/models/fixtures.rs
  editoast/src/models/mod.rs
  editoast/src/models/paced_train.rs
  editoast/src/models/tags.rs
  editoast/src/views/paced_train.rs
  editoast/src/views/timetable.rs
  front/src/applications/operationalStudies/helpers/formatTimetableItemSummaries.ts
  front/src/applications/operationalStudies/hooks/useScenarioData.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/common/api/osrdEditoastApi.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/AddTrainScheduleButton.tsx
  front/src/modules/trainschedule/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/reducers/osrdconf/types.ts
  front/src/utils/trainId.ts
  front/tests/008-timetable-item.spec.ts
  front/tests/utils/paced-train.ts
Labels: area:front, area:editoast

#11266 Fix possible race condition of OpenFGA model upload
  editoast/editoast_authz/src/lib.rs
Labels: area:editoast

#11169 Add editoast impersonate authn
  editoast/editoast_authz/src/authorizer.rs
  editoast/editoast_authz/src/lib.rs
  editoast/editoast_authz/src/regulator.rs
  editoast/editoast_authz/src/subject.rs
  editoast/openapi.yaml
  editoast/src/models/auth_driver.rs
  editoast/src/views/mod.rs
  editoast/src/views/test_app.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
Labels: area:front, area:editoast

#11205 editoast: railjson: loosen the railjson version check for persisting
  editoast/editoast_schemas/src/infra.rs
  editoast/editoast_schemas/src/infra/railjson.rs
  editoast/src/models/railjson.rs
Labels: area:editoast

#11248 Fix missing "Hide PR" button in Manchette by restoring waypoint click handler
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
Labels: area:front

#11041 editoast: refactor core error
  editoast/src/core/mocking.rs
  editoast/src/core/mod.rs
  editoast/src/core/mq_client.rs
  editoast/src/error.rs
  editoast/src/views/mod.rs
  editoast/src/views/paced_train.rs
  editoast/src/views/path/pathfinding.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/train_schedule.rs
Labels: area:editoast

#11221 Correct Loader Font, Clear Alternative Simulation Info, and Cancel Alternative Results
  front/src/applications/stdcm/components/StdcmResults/StdcmResults.tsx
  front/src/applications/stdcm/hooks/useStdcm.ts
  front/src/applications/stdcm/views/StdcmView.tsx
  front/src/styles/scss/applications/stdcm/_loader.scss
Labels: area:front

#11274 Bump fga cli in dockerfile
  editoast/Dockerfile
Labels: area:editoast

#11252 editoast: avoid unnecessary join on user search
  editoast/src/views/search.rs
Labels: area:editoast

#11216 tests: add integration tests for paced trains
  tests/conftest.py
  tests/tests/test_paced_train.py
  tests/tests/test_timetable.py
Labels: area:integration-tests

#11281 front: fix typo for selected train
  front/public/locales/en/operationalStudies/scenario.json
  front/public/locales/fr/operationalStudies/scenario.json
Labels: area:front

#11288 Revert "editoast: avoid unnecessary join on user search"
  editoast/src/views/search.rs
Labels: area:editoast

#11273 operational studies: remove importtrainscheduledetail and its use to uniforme imported trains displays
  front/src/applications/operationalStudies/views/ImportTrainSchedule.tsx
  front/src/modules/trainschedule/components/ImportTrainSchedule/ImportTrainScheduleTrainDetail.tsx
  front/src/modules/trainschedule/components/ImportTrainSchedule/ImportTrainScheduleTrainsList.tsx
  front/src/modules/trainschedule/components/ImportTrainSchedule/index.ts
  front/src/modules/trainschedule/styles/ImportTrainSchedule/_importTrainScheduleTrainsList.scss
Labels: kind:enhancement, area:front

#10004 front: handle uncaught exceptions for e2e tests
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
  front/src/applications/operationalStudies/utils.ts
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmCard.tsx
  front/src/applications/stdcm/components/StdcmForm/StdcmVias.tsx
  front/src/applications/stdcm/components/StdcmForm/StopDurationInput.tsx
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
  front/src/modules/simulationResult/components/SpeedSpaceChart/SpeedSpaceChartContainer.tsx
  front/tests/002-project-management.spec.ts
  front/tests/008-timetable-item.spec.ts
  front/tests/014-stdcm-linked-train.spec.ts
  front/tests/016-timetable-multiselection.spec.ts
  front/tests/assets/constants/timeout-const.ts
  front/tests/logging-fixture.ts
  front/tests/pages/home-page.ts
  front/tests/pages/operational-studies/scenario-timetable-section.ts
  front/tests/pages/operational-studies/simulation-results-page.ts
  front/tests/pages/stdcm/consist-section.ts
  front/tests/pages/stdcm/via-section.ts
Labels: area:front

#11296 osrdyne: bump dependencies
  osrdyne/Cargo.lock
  osrdyne/Cargo.toml
  osrdyne/src/config.rs
  osrdyne/src/main.rs
Labels: area:osrdyne

#11293 railjson_generator: remove outdated 'pytype' annotations
  python/railjson_generator/README.md
  python/railjson_generator/railjson_generator/schema/infra/neutral_section.py
  python/railjson_generator/railjson_generator/schema/infra/signal.py
  python/railjson_generator/railjson_generator/schema/infra/speed_section.py
  python/railjson_generator/railjson_generator/schema/infra/switch.py
  python/railjson_generator/railjson_generator/schema/infra/track_section.py
  python/railjson_generator/railjson_generator/schema/infra/waypoint.py
  python/railjson_generator/railjson_generator/schema/simulation/train_schedule.py
Labels: area:railjson
