Repository OpenRailAssociation/osrd, pull requests merged in 2025-04, with the labels that each got.

#11321 front: fix scroll down when button is clicked
  front/src/applications/stdcm/components/StdcmWarningBox.tsx
Labels: area:front

#11235 front: fix timetable train and paced train count displayed
  front/public/locales/en/operationalStudies/scenario.json
  front/public/locales/fr/operationalStudies/scenario.json
  front/src/modules/trainschedule/components/Timetable/TimetableToolbar.tsx
Labels: area:front

#10949 front: fix operational points names display in itinerary
  front/src/applications/operationalStudies/components/MacroEditor/osrdToNge.ts
  front/src/modules/operationalPoint/helpers/buildOpSearchQuery.ts
  front/src/modules/pathfinding/hooks/usePathfinding.ts
Labels: area:front

#11339 editoast: rename TrainScheduleResult to TrainScheduleResponse
  editoast/openapi.yaml
  editoast/src/client/timetables_commands.rs
  editoast/src/views/timetable.rs
  editoast/src/views/train_schedule.rs
  front/src/applications/operationalStudies/__tests__/sampleData.ts
  front/src/applications/operationalStudies/components/MacroEditor/MacroEditorState.ts
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
  front/src/applications/operationalStudies/hooks/useScenarioData.ts
  front/src/applications/stdcm/hooks/useProjectedTrainsForStdcm.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/common/api/osrdEditoastApi.ts
  front/src/modules/scenario/helpers/__tests__/scenario.spec.ts
  front/src/modules/scenario/helpers/utils.ts
  front/src/modules/trainschedule/components/ImportTimetableItem/ImportTimetableItemTrainsList.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/AddTrainScheduleButton.tsx
  front/src/modules/trainschedule/components/Timetable/TrainScheduleItem.tsx
  front/src/modules/trainschedule/components/Timetable/types.ts
  front/src/reducers/osrdconf/types.ts
  front/tests/utils/train-schedule.ts
Labels: area:front, area:editoast

#11301 front: fix panning over a train path.
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
Labels: area:front

#11346 front: fix scenario train count not taking into account paced trains
  front/src/modules/scenario/components/ScenarioCard.tsx
Labels: area:front

#11199 front: add remaining operational service keys for German
  front/public/locales/de/operationalStudies/drivertrainschedule.json
  front/public/locales/de/operationalStudies/project.json
  front/public/locales/de/operationalStudies/scenario.json
  front/public/locales/de/operationalStudies/study.json
Labels: area:front

#11220 front: fix cross midnight trains in viriato import
  front/src/modules/trainschedule/components/ImportTimetableItem/ImportTimetableItemConfig.tsx
  front/src/modules/trainschedule/components/ImportTimetableItem/helpers/buildStepsFromOcp.ts
  front/src/modules/trainschedule/components/ImportTimetableItem/helpers/importTimetableItem.spec.ts
Labels: area:front

#11383 Fix import railjson version check
  editoast/openapi.yaml
  editoast/src/views/infra/railjson.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
Labels: area:front, area:editoast

#11406 front: update stdcm notification title
  front/public/locales/en/stdcm.json
  front/public/locales/fr/stdcm.json
Labels: area:front

#11400 front: fix rounding times for timetable items cards
  front/src/modules/trainschedule/components/Timetable/PacedTrain/OccurrenceItem.tsx
  front/src/modules/trainschedule/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/modules/trainschedule/components/Timetable/TrainScheduleItem.tsx
  front/src/modules/trainschedule/components/Timetable/utils.ts
  front/tests/assets/constants/operational-studies-const.ts
Labels: area:front

#11394 front: use customized name for STDCM in "Help us" message
  front/public/locales/en/stdcm.json
  front/public/locales/fr/stdcm.json
  front/src/applications/stdcm/components/StdcmResults/StdcmUpgrade.tsx
Labels: area:front

#11332 railjson_generator: import infra scripts as modules
  python/railjson_generator/pyproject.toml
  python/railjson_generator/railjson_generator/__init__.py
  python/railjson_generator/railjson_generator/__main__.py
  python/railjson_generator/railjson_generator/infra_builder.py
  python/railjson_generator/railjson_generator/schema/infra/neutral_section.py
  python/railjson_generator/railjson_generator/schema/infra/signal.py
  python/railjson_generator/railjson_generator/schema/infra/speed_section.py
  python/railjson_generator/railjson_generator/schema/infra/switch.py
  python/railjson_generator/railjson_generator/schema/infra/track_section.py
  python/railjson_generator/railjson_generator/schema/infra/waypoint.py
  tests/data/infras/circle_infra/external_generated_inputs.json
  tests/data/infras/example_script/external_generated_inputs.json
  tests/data/infras/nested_switches/external_generated_inputs.json
  tests/data/infras/one_line/external_generated_inputs.json
  tests/data/infras/overlapping_routes/external_generated_inputs.json
  tests/data/infras/takeover/external_generated_inputs.json
  tests/data/infras/three_trains/external_generated_inputs.json
  tests/data/infras/tiny_infra/external_generated_inputs.json
  tests/infra-scripts/circle_infra.py
  tests/infra-scripts/etcs_infra.py
  tests/infra-scripts/example_script.py
  tests/infra-scripts/nested_switches.py
  tests/infra-scripts/one_line.py
  tests/infra-scripts/overlapping_routes.py
  tests/infra-scripts/small_infra.py
  tests/infra-scripts/small_infra_creator/__init__.py
  tests/infra-scripts/takeover.py
  tests/infra-scripts/three_trains.py
  tests/infra-scripts/tiny_infra.py
Labels: area:railjson, area:integration-tests

#11131 Enable permissions on infra
  front/public/locales/en/common/common.json
  front/public/locales/en/infraManagement.json
  front/public/locales/en/translation.json
  front/public/locales/fr/common/common.json
  front/public/locales/fr/infraManagement.json
  front/public/locales/fr/translation.json
  front/src/applications/editor/Editor.tsx
  front/src/applications/editor/components/InfraErrors/InfraErrorCorrector.tsx
  front/src/applications/editor/tools/pointEdition/tool-factory.tsx
  front/src/applications/editor/tools/rangeEdition/tool-factory.tsx
  front/src/applications/editor/tools/routeEdition/tool.tsx
  front/src/applications/editor/tools/selection/tool.tsx
  front/src/applications/editor/tools/switchEdition/tool.tsx
  front/src/applications/editor/tools/trackEdition/tool.tsx
  front/src/applications/editor/tools/trackSplit/tool.tsx
  front/src/applications/editor/types.ts
  front/src/common/BootstrapSNCF/ModalSNCF/ModalProvider.tsx
  front/src/common/api/mock/mockData.ts
  front/src/common/api/mock/mockEditoastApi.ts
  front/src/common/authorization/components/PermissionBasedContent.tsx
  front/src/common/authorization/hooks/useCheckPrivileges.ts
  front/src/common/authorization/hooks/useProtectedAction.ts
  front/src/common/authorization/hooks/useResourcesGrants.ts
  front/src/common/authorization/hooks/useUserPermissionsCheck.ts
  front/src/common/authorization/utils/checkPrivileges.ts
  front/src/modules/infra/components/InfraSelector/InfraSelectorEditionActionsBar.tsx
  front/src/modules/infra/components/InfraSelector/InfraSelectorEditionActionsBarDelete.tsx
  front/src/modules/infra/components/InfraSelector/InfraSelectorEditionItem.tsx
  front/src/modules/infra/components/InfraSelector/InfraSelectorGrantsManager.tsx
  front/src/modules/infra/components/InfraSelector/InfraSelectorModal.tsx
  front/src/modules/infra/components/InfraSelector/InfraSelectorModalBodyStandard.tsx
  front/src/modules/infra/consts.ts
  front/src/modules/infra/styles/_infraSelector.scss
  front/src/modules/infra/type.ts
  front/src/modules/infra/utils/generateGrantSelectProps.ts
  front/src/modules/timesStops/styles/_timesStopsDatasheet.scss
  front/src/reducers/infra/generateGrantSelectProps.spec.ts
  front/src/styles/scss/_variables.scss
  front/src/styles/scss/applications/editor/_editor.scss
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
  front/src/styles/scss/applications/operationalStudies/_waypointsPanel.scss
  front/src/styles/scss/common/components/_manchetteWithSpaceTimeChart.scss
Labels: area:front

#11354 front: use Duration in StdcmPathStep.stopFor
  front/src/applications/stdcm/components/StdcmForm/StdcmVias.tsx
  front/src/applications/stdcm/components/StdcmForm/StopDurationInput.tsx
  front/src/applications/stdcm/utils/formatStdcmConf.ts
  front/src/reducers/osrdconf/stdcmConf/stdcmConfReducers.spec.ts
  front/src/reducers/osrdconf/types.ts
Labels: area:front

#11307 front: use matchPathStepAndOp() in formatOperationalPoints()
  front/src/modules/simulationResult/SimulationResultExport/utils.ts
Labels: area:front

#11330 front: use formatEditoastTrainIdToOccurrenceId() in useOccurrences()
  front/src/modules/trainschedule/components/Timetable/PacedTrain/hooks/useOccurrences.tsx
Labels: area:front

#11305 core: write down some stdcm debugging tips
  core/stdcm_debugging_tips.md
Labels: area:core

#11404 core, editoast: rename v2 endpoints
  core/src/main/java/fr/sncf/osrd/cli/WorkerCommand.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathPropEndpointTest.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingTest.kt
  editoast/src/core/conflict_detection.rs
  editoast/src/core/path_properties.rs
  editoast/src/core/pathfinding.rs
  editoast/src/core/signal_projection.rs
  editoast/src/core/simulation.rs
  editoast/src/core/stdcm.rs
  editoast/src/views/mod.rs
  editoast/src/views/paced_train.rs
  editoast/src/views/path/pathfinding.rs
  editoast/src/views/stdcm_logs.rs
  editoast/src/views/timetable/stdcm.rs
Labels: area:core, area:editoast

#11423 editoast, front: rename tsv2 errors
  editoast/openapi.yaml
  editoast/src/views/timetable/stdcm.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
Labels: area:front, area:editoast

#11302 core: tools: reproduce requests using railjson infra file
  core/src/main/java/fr/sncf/osrd/api/InfraManager.java
  core/src/main/java/fr/sncf/osrd/api/InfraProvider.java
  core/src/main/java/fr/sncf/osrd/cli/ReproduceRequest.kt
  core/src/main/java/fr/sncf/osrd/cli/ValidateInfra.java
  core/src/main/kotlin/fr/sncf/osrd/api/conflicts/ConflictDetectionEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/path_properties/PathPropEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/PathfindingBlocksEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/project_signals/SignalProjectionEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/standalone_sim/SimulationEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
Labels: area:core

#11386 LMR: Canceling a simulation for alternative solutions doesn't display the results of the simulation
  front/src/applications/stdcm/components/StdcmResults/StdcmResults.tsx
  front/src/applications/stdcm/hooks/useStdcm.ts
  front/src/applications/stdcm/views/StdcmView.tsx
Labels: area:front

#11426 editoast: remove unused variant from `core::stdcm::Response`
  editoast/src/core/stdcm.rs
  editoast/src/views/timetable/stdcm.rs
Labels: area:editoast

#11480 Remove physics maintainers from codeowners
  .github/CODEOWNERS
Labels: area:ci

#11398 front: bump nge version to 2.9.23
  front/package-lock.json
  front/package.json
Labels: area:front

#11258 editoast: rename paced train fields
  editoast/editoast_models/src/tables.rs
  editoast/editoast_schemas/src/paced_train.rs
  editoast/migrations/2025-03-26-090235_rename_paced_train_fields/down.sql
  editoast/migrations/2025-03-26-090235_rename_paced_train_fields/up.sql
  editoast/openapi.yaml
  editoast/src/models/fixtures.rs
  editoast/src/models/paced_train.rs
  editoast/src/views/paced_train.rs
  editoast/src/views/path/projection.rs
  editoast/src/views/timetable.rs
  front/src/applications/operationalStudies/hooks/useSimulationResults.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/modules/simulationResult/helpers/formatTimetableItemSummaries.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/formatTimetableItemPayload.ts
  front/src/modules/trainschedule/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/modules/trainschedule/components/Timetable/PacedTrain/hooks/useOccurrences.tsx
  front/src/modules/trainschedule/components/Timetable/types.ts
  front/src/modules/trainschedule/helpers/__tests__/pacedTrain.spec.ts
  front/src/modules/trainschedule/helpers/pacedTrain.ts
  front/src/reducers/osrdconf/operationalStudiesConf/__tests__/operationalStudiesConfReducer.spec.ts
  front/src/reducers/osrdconf/operationalStudiesConf/index.ts
  front/tests/assets/paced-train/paced_trains.json
  tests/conftest.py
  tests/tests/test_timetable.py
Labels: area:front, area:editoast, area:integration-tests

#11486 editoast: update `pathfinding` to handle `OsrdError` from `core` service
  editoast/src/core/mod.rs
  editoast/src/core/pathfinding.rs
  editoast/src/error.rs
  editoast/src/views/path/pathfinding.rs
Labels: area:editoast

#11353 front: synchronize scenario page across windows
  front/src/applications/operationalStudies/hooks/useScenarioData.ts
Labels: area:front

#11424 core: stdcm: restore full stdcm tests
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSLoadState.java
  core/osrd-railjson/src/main/java/fr/sncf/osrd/railjson/schema/rollingstock/RJSRollingStock.java
  core/src/test/java/fr/sncf/osrd/train/TestTrains.java
  core/src/test/kotlin/fr/sncf/osrd/stdcm/FullSTDCMTests.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMHelpers.kt
  core/src/test/kotlin/fr/sncf/osrd/utils/Helpers.kt
Labels: area:core

#11437 front: refactoring conditions in rs editor jsx
  front/src/applications/rollingStockEditor/views/RollingStockEditor.tsx
Labels: area:front

#11484 front: bump osrd-ui to 0.0.73
  front/package-lock.json
  front/package.json
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/utils.ts
  front/src/utils/trainId.ts
Labels: area:front

#11514 front: fix track count display in speed limit editor
  front/src/applications/editor/tools/rangeEdition/components/TrackRangeList.tsx
Labels: area:front

#11540 editoast: add `primary_category` and `other_categories` in light rolling stock endpoints
  editoast/openapi.yaml
  editoast/src/views/rolling_stock/light.rs
  front/src/common/api/generatedEditoastApi.ts
Labels: area:front, area:editoast

#11544 core: pathfinding: add some telemetry trace spans
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/PathfindingBlocksEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/pathfinding/Pathfinding.kt
Labels: area:core

#11355 editoast: refacto conflict endpoint
  editoast/src/core/conflict_detection.rs
  editoast/src/models/paced_train.rs
  editoast/src/views/timetable.rs
Labels: area:editoast

#11541 front: add translation for unknown step in simulation tables
  front/public/locales/en/stdcm-simulation-report-sheet.json
  front/public/locales/fr/stdcm-simulation-report-sheet.json
  front/src/applications/stdcm/components/StdcmResults/SimulationReportSheet.tsx
  front/src/applications/stdcm/components/StdcmResults/StdcmResultsTable.tsx
  front/src/modules/simulationResult/SimulationResultExport/SimulationReportSheetScenario.tsx
Labels: area:front

#11539 core: reproduce-request: exclude infra loading from time measurement
  core/src/main/java/fr/sncf/osrd/cli/ReproduceRequest.kt
Labels: area:core

#11513 front: fix disabled speed tag select in infra editor
  front/src/applications/editor/components/LayersModal.tsx
Labels: area:front

#11511 core, editoast: migrate infra versions from string to integers
  core/src/main/java/fr/sncf/osrd/api/InfraLoadEndpoint.java
  core/src/main/java/fr/sncf/osrd/api/InfraManager.java
  core/src/main/java/fr/sncf/osrd/api/InfraProvider.java
  core/src/main/java/fr/sncf/osrd/cli/ReproduceRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/api/conflicts/ConflictDetectionRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/api/path_properties/PathPropRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/PathfindingBlockRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/api/project_signals/SignalProjectionRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/api/standalone_sim/SimulationRequest.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMRequest.kt
  core/src/test/java/fr/sncf/osrd/api/InfraLoadingTest.java
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathPropEndpointTest.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingSignalingTest.kt
  core/src/test/kotlin/fr/sncf/osrd/pathfinding/PathfindingTest.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/FullSTDCMTests.kt
  editoast/editoast_models/src/tables.rs
  editoast/migrations/2025-04-18-101338_infra_version_to_integer/down.sql
  editoast/migrations/2025-04-18-101338_infra_version_to_integer/up.sql
  editoast/openapi.yaml
  editoast/src/core/conflict_detection.rs
  editoast/src/core/infra_loading.rs
  editoast/src/core/path_properties.rs
  editoast/src/core/pathfinding.rs
  editoast/src/core/signal_projection.rs
  editoast/src/core/simulation.rs
  editoast/src/core/stdcm.rs
  editoast/src/models/infra.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/path.rs
  editoast/src/views/path/pathfinding.rs
  editoast/src/views/path/properties.rs
  editoast/src/views/projection.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/stdcm/failure_handler.rs
  editoast/src/views/train_schedule.rs
  front/src/common/api/generatedEditoastApi.ts
  front/src/modules/infra/components/InfraSelector/InfraSelectorModalBodyStandard.tsx
Labels: area:core, area:front, area:editoast

#11560 core: telemetry: log payload file in span data
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/PathfindingBlocksEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/standalone_sim/SimulationEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
Labels: area:core

#11556 editoast: add `category` in `TrainSchedule` and `PacedTrain`
  editoast/editoast_models/src/tables.rs
  editoast/editoast_schemas/src/train_schedule.rs
  editoast/migrations/2025-04-22-114821_add_category_to_train_schedule_and_paced_train/down.sql
  editoast/migrations/2025-04-22-114821_add_category_to_train_schedule_and_paced_train/up.sql
  editoast/openapi.yaml
  editoast/src/models/paced_train.rs
  editoast/src/models/timetable/sql/get_train_schedules_in_time_window.sql
  editoast/src/models/train_schedule.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/train_schedule.rs
  front/src/common/api/generatedEditoastApi.ts
Labels: area:front, area:editoast

#11323 front: prevent creation of trains with names that makes train unusable
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorFormHelpers.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/TrainSettings.tsx
Labels: area:front

#11407 Merge of the /infra/{infra_id}/speed_limit_tags and /speed_limit_tags endpoints
  editoast/openapi.yaml
  editoast/src/generated_data/speed_limit_tags_config.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/mod.rs
  editoast/src/views/speed_limit_tags.rs
  editoast/src/views/test_app.rs
  front/src/applications/editor/components/LayersModal.tsx
  front/src/applications/editor/tools/rangeEdition/components/RangeEditionLeftPanel.tsx
  front/src/applications/stdcm/components/StdcmLayersModal.tsx
  front/src/common/Map/Settings/MapSettingsSpeedLimits.tsx
  front/src/common/SpeedLimitByTagSelector/useStoreDataForSpeedLimitByTagSelector.ts
  front/src/common/api/generatedEditoastApi.ts
Labels: area:front, area:editoast

#11515 front: fix linebreak before required field star in rs editor
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorFormHelpers.tsx
Labels: area:front

#11232 front, nge: update macro mode to handle paced trains
  front/public/locales/de/operationalStudies/scenario.json
  front/public/locales/en/operationalStudies/scenario.json
  front/public/locales/fr/operationalStudies/scenario.json
  front/src/applications/operationalStudies/components/MacroEditor/MacroEditorState.ts
  front/src/applications/operationalStudies/components/MacroEditor/consts.ts
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
  front/src/applications/operationalStudies/components/MacroEditor/osrdToNge.ts
  front/src/applications/operationalStudies/components/MacroEditor/utils.ts
  front/src/applications/operationalStudies/components/NGE/types.ts
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/TimetableManageTrainSchedule.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/hooks/useUpdateTimetableItem.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/hooks/useUpdateTimtetableItem.ts
  front/src/modules/trainschedule/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/modules/trainschedule/helpers/updateTimetableItemHelpers.ts
  front/tests/005-operational-studies.spec.ts
Labels: area:front

#11587 front: fix select blocking scrolling in front
  front/src/common/BootstrapSNCF/SelectImprovedSNCF.tsx
Labels: area:front

#11512 front: fix psl panels speed rounding in infra editor
  front/src/applications/editor/tools/rangeEdition/speedSection/EditPSLSection.tsx
Labels: area:front

#11593 front: fix broken stop duration display in stdcm sheet
  front/src/applications/stdcm/components/StdcmResults/SimulationReportSheet.tsx
Labels: area:front

#11592 editoast: pass `osrd_version` to simulation hash function
  editoast/src/core/simulation.rs
  editoast/src/views/timetable/simulation.rs
Labels: area:editoast

#11357 front: occupancy blocks: add blinking color
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
Labels: area:front

#11614 editoast: do not implement Default for Simulation Response
  editoast/src/core/simulation.rs
  editoast/src/views/timetable/simulation.rs
Labels: area:editoast

#11589 front: bump react-pdf-renderer v4.3.0
  front/package-lock.json
  front/package.json
  front/src/applications/stdcm/components/StdcmResults/SimulationReportStyleSheet.ts
Labels: area:front

#11578 editoast: rename `RollingStockCategory` to `TrainCategory`
  editoast/editoast_models/src/rolling_stock.rs
  editoast/editoast_models/src/rolling_stock/train_category.rs
  editoast/editoast_models/src/tables.rs
  editoast/editoast_schemas/src/rolling_stock.rs
  editoast/editoast_schemas/src/rolling_stock/train_category.rs
  editoast/editoast_schemas/src/train_schedule.rs
  editoast/migrations/2025-04-24-135143_rename_rolling_stock_category_to_train_category/down.sql
  editoast/migrations/2025-04-24-135143_rename_rolling_stock_category_to_train_category/up.sql
  editoast/openapi.yaml
  editoast/src/models/fixtures.rs
  editoast/src/models/paced_train.rs
  editoast/src/models/rolling_stock_model.rs
  editoast/src/models/train_schedule.rs
  editoast/src/views/rolling_stock.rs
  editoast/src/views/rolling_stock/form.rs
  editoast/src/views/rolling_stock/light.rs
  front/src/common/api/generatedEditoastApi.ts
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorFormHelpers.tsx
  front/src/modules/rollingStock/consts.ts
  front/src/modules/rollingStock/types.ts
  front/tests/pages/rolling-stock/rolling-stock-editor-page.ts
  python/osrd_schemas/osrd_schemas/rolling_stock.py
Labels: area:railjson, area:front, area:editoast

#11594 front: display 0 duration stops as stops in stdcm sim report
  front/src/applications/stdcm/utils/__tests__/simulationReportSheet.spec.ts
  front/src/applications/stdcm/utils/formatSimulationReportSheet.ts
Labels: area:front

#11558 front: fix paced train occurrences inverted names
  front/src/modules/trainschedule/components/Timetable/PacedTrain/OccurrenceItem.tsx
  front/src/styles/scss/applications/operationalStudies/_pacedTrain.scss
Labels: area:front

#11479 front: turn STDCM feedback button into a link
  front/src/applications/stdcm/components/StdcmResults/StdcmFeedback.tsx
  front/tests/pages/stdcm/simulation-results-page.ts
Labels: area:front

#11552 front: update lmr help section for consist
  front/public/locales/en/stdcm-help-section.json
  front/public/locales/fr/stdcm-help-section.json
Labels: area:front

#11623 front: drop ms2min()
  front/src/modules/trainschedule/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/utils/timeManipulation.ts
Labels: area:front

#11567 front: fix infra json file input not accepting same file twice in chrome
  front/src/modules/infra/components/InfraSelector/InfraSelectorModalBodyEdition.tsx
Labels: area:front

#11634 editoast: resolve `doc_overindented_list_items` warning
  editoast/editoast_derive/src/lib.rs
  editoast/editoast_search/src/searchast.rs
  editoast/fga/src/lib.rs
  editoast/src/models/prelude/update.rs
  editoast/src/views/search.rs
Labels: area:editoast

#11197 editoast: authz api with openfga
  docker-compose.yml
  editoast/editoast_authz/src/authorizer.rs
  editoast/editoast_authz/src/lib.rs
  editoast/editoast_authz/src/model.rs
  editoast/editoast_authz/src/regulator.rs
  editoast/openapi.yaml
  editoast/src/models/auth_driver.rs
  editoast/src/views/authz.rs
  editoast/src/views/test_app.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  front/src/common/api/generatedEditoastApi.ts
  front/src/utils/hooks/useAuth.ts
Labels: area:front, area:editoast
