Repository OpenRailAssociation/osrd, pull requests merged in 2025-06, with the labels that each got.

#11784 front: fix successfulImport_one fr translation value
  front/public/locales/fr/operational-studies.json
Labels: area:front

#11691 fix infra selection area
  front/src/common/authorization/_grantsManager.scss
  front/src/common/authorization/components/GrantsManager.tsx
  front/src/common/authorization/components/GrantsManagerSubjects.tsx
  front/src/modules/infra/components/InfraSelector/InfraSelectorModalBodyStandard.tsx
  front/src/modules/infra/styles/_infraSelector.scss
Labels: area:front

#11810 front: remove no longer needed check in stdcm debug results
  front/src/applications/stdcm/components/StdcmResults/StdcmDebugResults.tsx
Labels: area:front

#12003 core: fix keepBrakingCurveUnderOverlay() crash when overlay is smaller
  core/envelope-sim/src/main/kotlin/fr/sncf/osrd/envelope_sim/etcs/ETCSBrakingCurves.kt
Labels: area:core

#11961 editoast: make `RollingStock` model error more precise
  editoast/src/models/rolling_stock.rs
  editoast/src/views/rolling_stock.rs
Labels: area:editoast

#12017 core: stdcm: fix heuristic initialization on first node
  core/src/main/kotlin/fr/sncf/osrd/stdcm/STDCMHeuristic.kt
Labels: area:core

#11997 front: remove explicit waits in e2e tests
  front/src/applications/stdcm/components/StdcmForm/StdcmVias.tsx
  front/src/modules/scenario/components/AddOrEditScenarioModal.tsx
  front/tests/004-scenario-management.spec.ts
  front/tests/009-op-simulation-settings-tab.spec.ts
  front/tests/pages/operational-studies/operational-studies-page.ts
  front/tests/pages/operational-studies/scenario-page.ts
  front/tests/pages/operational-studies/scenario-timetable-section.ts
  front/tests/pages/stdcm/via-section.ts
  front/tests/utils/scroll-helper.ts
Labels: area:front

#12005 front: highlight all occurrences a paced train when hovering one of them
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/utils.ts
Labels: area:front

#12032 front: add disabled to the button to prevent projection
  front/src/modules/trainschedule/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/modules/trainschedule/components/Timetable/TimetableItemActions.tsx
  front/src/modules/trainschedule/components/Timetable/TrainScheduleItem.tsx
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Labels: kind:bug, area:front, module:operational-studies

#12068 Fix skip serializing none for paced train exceptions
  editoast/editoast_schemas/src/paced_train.rs
Labels: area:editoast

#12020 Fix report sheet style for loading gauge title
  front/src/applications/stdcm/components/StdcmResults/SimulationReportSheet.tsx
Labels: area:front

#12081 front: refacto of onconfirm props in confirmmodal
  front/src/common/BootstrapSNCF/ModalSNCF/ConfirmModal.tsx
  front/src/modules/project/components/AddOrEditProjectModal.tsx
  front/src/modules/scenario/components/AddOrEditScenarioModal.tsx
  front/src/modules/study/components/AddOrEditStudyModal.tsx
Labels: area:front

#11970 python, tests, front: bump pydantic from 2.6 to 2.7 to support python 3.13
  front/src/reducers/osrdconf/infra_schema.json
  python/osrd_schemas/pyproject.toml
  python/osrd_schemas/uv.lock
  python/railjson_generator/uv.lock
  tests/uv.lock
Labels: area:railjson, area:front, area:integration-tests, kind:api-change

#12084 front: re-introduce margin reset in ngeToOsrd
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
Labels: area:front

#11765 editoast: add `infra/{id}/match_operational_points` endpoint
  editoast/openapi.yaml
  editoast/src/views/infra/mod.rs
  editoast/src/views/path/path_item_cache.rs
  front/src/common/api/generatedEditoastApi.ts
Labels: area:front, area:editoast, kind:api-change

#12070 front: delete all exceptions
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/formatTimetableItemPayload.ts
  front/src/modules/trainschedule/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/modules/trainschedule/components/Timetable/TimetableItemActions.tsx
  front/src/styles/scss/applications/operationalStudies/_pacedTrain.scss
Labels: area:front

#12075 front: preserve valid op names when coordinate calculation fails for invalid points
  front/src/modules/pathfinding/hooks/usePathfinding.ts
Labels: area:front

#12108 front: add reset a single occurrence action
  front/src/modules/trainschedule/components/Timetable/PacedTrain/OccurrenceItem.tsx
  front/src/modules/trainschedule/components/Timetable/PacedTrain/hooks/useOccurrenceActions.ts
Labels: area:front

#12112 front: fix macro labels
  front/src/applications/operationalStudies/components/MacroEditor/osrdToNge.ts
Labels: area:front

#11917 front: add import/export rolling stocks button
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorForm.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockInformationPanel.tsx
Labels: area:front

#12120 core: stdcm: fix error when result has duplicate blocks
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/Extensions.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMUtils.kt
Labels: area:core

#12079 front: display the user privilege instead of the grant
  front/src/common/authorization/components/GrantsManager.tsx
  front/src/modules/infra/components/InfraSelector/InfraSelectorModalBodyStandard.tsx
Labels: area:front

#11994 front: accept railjson file imports
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/modules/infra/components/InfraSelector/InfraSelectorModalBodyEdition.tsx
  front/src/modules/infra/styles/_infraSelector.scss
Labels: area:front

#11583 editoast: create track occupancy endpoint
  editoast/editoast_schemas/src/primitives/duration.rs
  editoast/openapi.yaml
  editoast/src/tests/track_occupancy/example_pathfinding_track_occupancy.json
  editoast/src/tests/track_occupancy/example_simulation_track_occupancy.json
  editoast/src/tests/track_occupancy/simple_train_schedule.json
  editoast/src/views/path/path_item_cache.rs
  editoast/src/views/projection.rs
  editoast/src/views/timetable/train_schedule.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
  front/src/common/api/generatedEditoastApi.ts
Labels: area:front, area:editoast, kind:api-change

#12034 ui: bump storybook to 9.0.5
  front/package-lock.json
  front/ui/storybook/.storybook/main.ts
  front/ui/storybook/.storybook/preview.ts
  front/ui/storybook/package.json
  front/ui/storybook/stories/ui-charts/manchette/Manchette.stories.tsx
  front/ui/storybook/stories/ui-charts/manchette/ManchetteSplit.stories.tsx
  front/ui/storybook/stories/ui-charts/manchetteWithSpaceTimeChart/base-with-waypoint-menu.stories.tsx
  front/ui/storybook/stories/ui-charts/manchetteWithSpaceTimeChart/base.stories.tsx
  front/ui/storybook/stories/ui-charts/manchetteWithSpaceTimeChart/rectangle-zoom.stories.tsx
  front/ui/storybook/stories/ui-charts/manchetteWithSpaceTimeChart/simple.stories.tsx
  front/ui/storybook/stories/ui-charts/manchetteWithSpaceTimeChart/split.stories.tsx
  front/ui/storybook/stories/ui-charts/manchetteWithSpaceTimeChart/styles/rectangle-zoom.css
  front/ui/storybook/stories/ui-charts/manchetteWithSpaceTimeChart/track-occupancy.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/additional-data.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/base-rendering.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/custom-styles.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/horizontal-zoom.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/layers.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/measuring.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/options.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/paths-interactions.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/performances.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/quadrilateral.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/rectangle-zoom.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/scroll-navigation.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/split.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/stage-interactions.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/styles/rectangle-zoom.css
  front/ui/storybook/stories/ui-charts/spaceTimeChart/tooltip.stories.tsx
  front/ui/storybook/stories/ui-charts/spaceTimeChart/work-schedules.stories.tsx
  front/ui/storybook/stories/ui-charts/speedSpaceChart/SpeedSpaceChart.stories.tsx
  front/ui/storybook/stories/ui-charts/trackOccupancyDiagram/rendering.stories.tsx
  front/ui/storybook/stories/ui-core/Button.stories.tsx
  front/ui/storybook/stories/ui-core/Checkbox.stories.tsx
  front/ui/storybook/stories/ui-core/CheckboxTree.stories.tsx
  front/ui/storybook/stories/ui-core/ComboBox.stories.tsx
  front/ui/storybook/stories/ui-core/ComboBoxCustom.stories.tsx
  front/ui/storybook/stories/ui-core/DatePicker.stories.tsx
  front/ui/storybook/stories/ui-core/Input.stories.tsx
  front/ui/storybook/stories/ui-core/PasswordInput.stories.tsx
  front/ui/storybook/stories/ui-core/RadioButton.stories.tsx
  front/ui/storybook/stories/ui-core/RadioGroup.stories.tsx
  front/ui/storybook/stories/ui-core/Select.stories.tsx
  front/ui/storybook/stories/ui-core/Slider.stories.tsx
  front/ui/storybook/stories/ui-core/TextArea.stories.tsx
  front/ui/storybook/stories/ui-core/TimePicker.stories.tsx
  front/ui/storybook/stories/ui-core/TokenInput.stories.tsx
  front/ui/storybook/stories/ui-core/TolerancePicker.stories.tsx
  front/ui/storybook/stories/ui-icons/Icons.stories.tsx
  front/ui/storybook/stories/ui-warped-map/Algorithms.stories.ts
  front/ui/storybook/stories/ui-warped-map/Algorithms.tsx
  front/ui/storybook/stories/ui-warped-map/SampleMap.stories.ts
Labels: area:front

#12131 editoast: implement ToSchema for PositiveDuration
  editoast/editoast_schemas/src/paced_train.rs
  editoast/editoast_schemas/src/primitives/duration.rs
  editoast/editoast_schemas/src/train_schedule/schedule_item.rs
  editoast/openapi.yaml
  front/src/common/api/generatedEditoastApi.ts
Labels: area:front, area:editoast, kind:api-change

#12138 editoast: build conflict core request only from simulation
  editoast/src/views/timetable.rs
Labels: area:editoast

#12145 editoast: make 'build_train_requirements' take only references
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/stdcm/failure_handler.rs
Labels: area:editoast

#11951 front: fix combobox suggestion lists width to match the mockup
  front/src/styles/scss/applications/stdcm/_card.scss
  front/ui/ui-core/src/styles/inputs/comboBox.css
Labels: area:front

#12091 editoast: fix and extend path properties tests
  editoast/core_client/src/path_properties.rs
  editoast/editoast_common/src/geometry.rs
  editoast/editoast_schemas/src/infra.rs
  editoast/editoast_schemas/src/infra/operational_point.rs
  editoast/src/views/path/properties.rs
Labels: area:editoast

#12076 front: add scenario page synchronization e2e test
  front/src/applications/operationalStudies/views/Study.tsx
  front/src/common/ErrorBoundary.tsx
  front/src/modules/project/components/DeleteItemsModal.tsx
  front/src/modules/scenario/components/ScenarioCard.tsx
  front/tests/017-paced-train-manegement.spec.ts
  front/tests/019-scenario-page-synchronization.spec.ts
  front/tests/pages/common-page.ts
  front/tests/pages/operational-studies/operational-studies-page.ts
  front/tests/pages/operational-studies/paced-train-section.ts
  front/tests/pages/operational-studies/scenario-timetable-section.ts
  front/tests/pages/operational-studies/study-page.ts
Labels: area:front

#12199 front: fix occurrence name width (backport)
  front/src/modules/trainschedule/components/Timetable/PacedTrain/OccurrenceItem.tsx
  front/src/styles/scss/applications/operationalStudies/_pacedTrain.scss
Labels: area:front

#12195 ui: update org in package.json repository URL
  front/ui/ui-charts/package.json
  front/ui/ui-core/package.json
  front/ui/ui-icons/package.json
  front/ui/ui-warped-map/package.json
Labels: area:front

#12136 added exceptions e2e
  front/src/common/OSRDMenu.tsx
  front/src/modules/rollingStock/components/RollingStock2Img.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/PacedTrainSettings/AddedOccurences.tsx
  front/src/modules/trainschedule/components/Timetable/PacedTrain/OccurrenceIndicator.tsx
  front/src/modules/trainschedule/components/Timetable/PacedTrain/OccurrenceItem.tsx
  front/src/modules/trainschedule/styles/ManageTrainSchedule/_pacedTrainsSettings.scss
  front/src/utils/duration.ts
  front/tests/017-paced-train-manegement.spec.ts
  front/tests/020-paced-train-exceptions.spec.ts
  front/tests/pages/operational-studies/operational-studies-page.ts
  front/tests/pages/operational-studies/paced-train-section.ts
  front/tests/pages/operational-studies/scenario-timetable-section.ts
  front/tests/utils/paced-train.ts
  front/tests/utils/types.ts
Labels: area:front

#12210 front: make the manage train form fill up the whole screen
  front/src/styles/scss/applications/operationalStudies/_scenarioV2.scss
Labels: area:front

#12189 editoast: paced train path and simulation tests with exceptions
  editoast/src/views/timetable/paced_train.rs
  tests/tests/test_paced_train.py
Labels: area:editoast, area:integration-tests

#12220 front: prioritize macro nodes stored in DB when deduplicating
  front/src/applications/operationalStudies/components/MacroEditor/MacroEditorState.ts
Labels: area:front

#12205 front: drop react-id-generator
  front/package-lock.json
  front/package.json
  front/src/applications/editor/tools/rangeEdition/speedSection/SpeedSectionMetadataForm.tsx
  front/src/applications/stdcm/hooks/useStdcm.ts
  front/src/modules/pathfinding/components/Pathfinding/TypeAndPath.tsx
  front/src/modules/powerRestriction/helpers/createPathStep.ts
  front/src/modules/trainschedule/components/ImportTimetableItem/generateTrainSchedulesPayloads.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/ManageTrainScheduleMap/AddPathStepPopup.tsx
Labels: area:front

#12246 front : fix prettier 3.6.0
  front/package-lock.json
  front/src/applications/editor/components/EntityError.tsx
Labels: area:front

#12105 editoast: extract `compute_path_properties_batch` for reuse
  editoast/src/views/path/properties.rs
Labels: area:editoast

#12219 front: update dpy to mas OP list (backport)
  front/src/assets/operationStudies/DPYToMASOperationalPoints.ts
  front/src/assets/operationStudies/stdcmPerimeterOperationalPoints.ts
  front/src/common/Map/Search/useSearchOperationalPoint.tsx
Labels: area:front

#12218 front: update dpy to mas OP list
  front/src/assets/operationStudies/DPYToMASOperationalPoints.ts
  front/src/assets/operationStudies/stdcmPerimeterOperationalPoints.ts
  front/src/common/Map/Search/useSearchOperationalPoint.tsx
Labels: area:front

#12259 front: fix scenario loader position
  front/src/styles/scss/applications/operationalStudies/_scenarioContentV2.scss
  front/src/styles/scss/applications/operationalStudies/_scenarioV2.scss
Labels: area:front

#12248 front: prioritize macro nodes stored in DB when deduplicating (backport)
  front/src/applications/operationalStudies/components/MacroEditor/MacroEditorState.ts
Labels: area:front

#12258 front: allow non-admin to select GB - backport
  front/src/applications/stdcm/components/StdcmForm/StdcmConsist.tsx
Labels: area:front

#12201 front: modify lmr page header
  front/public/locales/en/stdcm.json
  front/public/locales/fr/stdcm.json
  front/src/applications/stdcm/components/StdcmHeader.tsx
  front/src/styles/scss/applications/stdcm/_header.scss
Labels: area:front

#12257 front: allow non-admin to select GB
  front/src/applications/stdcm/components/StdcmForm/StdcmConsist.tsx
Labels: area:front

#12254 front: modify lmr page header (backport)
  front/public/locales/en/stdcm.json
  front/public/locales/fr/stdcm.json
  front/src/applications/stdcm/components/StdcmHeader.tsx
  front/src/styles/scss/applications/stdcm/_header.scss
Labels: area:front

#11945 editoast: paced train exceptions conflicts implementation
  editoast/editoast_schemas/src/paced_train.rs
  editoast/src/models/fixtures.rs
  editoast/src/models/paced_train.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/paced_train.rs
  tests/tests/test_timetable.py
Labels: area:editoast, area:integration-tests

#12271 editoast: bump mvt to fix missing segments
  editoast/Cargo.lock
  editoast/Cargo.toml
Labels: area:editoast

#12221 front: implement user settings dropdown
  front/src/applications/operationalStudies/v2/components/ScenarioHeader.tsx
  front/src/common/BootstrapSNCF/NavBarSNCF.tsx
  front/src/common/UserActionsDropdown.tsx
Labels: area:front

#12247 front: fix strict mode violation for toast notifiaction
  front/tests/008-op-times-and-stops-tab.spec.ts
  front/tests/009-op-simulation-settings-tab.spec.ts
  front/tests/pages/common-page.ts
Labels: area:front

#12255 front: wait for the rolling stock loader to disappear
  front/src/common/Loaders/Loader.tsx
  front/src/modules/rollingStock/components/RollingStockCard/RollingStockCard.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockInformationPanel.tsx
  front/tests/005-rolling-stock-editor.spec.ts
  front/tests/006-op-rolling-stock-tab.spec.ts
  front/tests/pages/common-page.ts
  front/tests/pages/rolling-stock/rolling-stock-editor-page.ts
  front/tests/pages/rolling-stock/rolling-stock-selector.ts
Labels: area:front

#12269 front: fully display the type of a study
  front/src/modules/study/styles/_studyCard.scss
Labels: area:front

#12106 ui-core: enhance calculate position of the modal
  front/ui/ui-core/src/hooks/useModalPosition.tsx
Labels: area:front

#12278 core: stdcm: consider infinite allowance time in visited nodes
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/visited_node_tracking/VisitedNodes.kt
Labels: area:core

#12291 front: fix firefox rendering issue for toast notif
  front/tests/pages/common-page.ts
Labels: area:front

#12286 front: fix conflicts projection
  front/src/modules/simulationResult/components/SpaceTimeChart/useProjectedConflicts.ts
Labels: area:front
