Repository OpenRailAssociation/osrd, pull requests merged in 2025-07, with the labels that each got.

#12298 front: fix cat mismatch warning appearing globally
  front/public/locales/en/operational-studies.json
  front/public/locales/en/translation.json
  front/public/locales/fr/operational-studies.json
  front/public/locales/fr/translation.json
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/common/Tabs.tsx
Labels: area:front

#12343 editoast: etcs endpoint ps and gui curves cannot be null
  editoast/core_client/src/etcs_braking_curves.rs
  editoast/openapi.yaml
  front/src/common/api/generatedEditoastApi.ts
Labels: area:front, area:editoast, kind:api-change

#11954 python: osrd-schemas: make the extensions' field optional
  python/osrd_schemas/osrd_schemas/infra.py
  python/osrd_schemas/osrd_schemas/infra_editor.py
  python/osrd_schemas/pyproject.toml
  python/osrd_schemas/uv.lock
  python/railjson_generator/pyproject.toml
  python/railjson_generator/uv.lock
  tests/uv.lock
Labels: area:railjson, area:integration-tests

#11898 front: enhance interval and time window selection in xml import
  front/src/modules/trainschedule/components/ImportTimetableItem/helpers/__tests__/importTimetableItem.spec.ts
  front/src/modules/trainschedule/components/ImportTimetableItem/helpers/parseXML.ts
Labels: area:front

#11850 front: add confirmation pop-up for deleting elements in operational s…
  front/src/modules/project/components/AddOrEditProjectModal.tsx
  front/src/modules/project/components/DeleteItemsModal.tsx
  front/src/modules/scenario/components/AddOrEditScenarioModal.tsx
  front/src/modules/study/components/AddOrEditStudyModal.tsx
  front/tests/pages/operational-studies/project-page.ts
  front/tests/pages/operational-studies/scenario-page.ts
  front/tests/pages/operational-studies/study-page.ts
Labels: area:front

#12094 front: take into account the refacto of conflicts
  front/src/modules/conflict/utils.ts
Labels: area:front

#12302 front: fix track step names in input table
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/src/applications/operationalStudies/__tests__/upsertMapWaypointsInOperationalPoints.spec.ts
  front/src/applications/operationalStudies/helpers/upsertMapWaypointsInOperationalPoints.ts
  front/src/applications/operationalStudies/hooks/useManageTrainScheduleContext.tsx
  front/src/modules/pathfinding/utils.ts
  front/src/modules/timesStops/helpers/utils.ts
Labels: area:front

#12133 front: category select options overlaping with the arrow
  front/src/styles/scss/applications/operationalStudies/_manageTimetableItem.scss
Labels: area:front

#12282 front: fix the warning message block to stop moving
  front/src/styles/scss/applications/stdcm/_home.scss
Labels: area:front

#12421 core: make pathfinding deterministic when solutions have same cost
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/PathfindingBlocksEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/pathfinding/Pathfinding.kt
Labels: area:core

#12263 front: e2e, handle added exception
  front/tests/018-train-edition.spec.ts
  front/tests/020-paced-train-exceptions.spec.ts
  front/tests/assets/constants/operational-studies-const.ts
  front/tests/assets/constants/timetable-items-count.ts
  front/tests/assets/paced-train/const.ts
  front/tests/assets/paced-train/paced_trains.json
  front/tests/pages/operational-studies/operational-studies-page.ts
  front/tests/pages/operational-studies/paced-train-section.ts
  front/tests/utils/types.ts
Labels: area:front

#12451 editoast: fix secondary_code ignored in match_operational_points
  editoast/src/views/infra/mod.rs
Labels: area:editoast

#12453 editoast: rename train category to train main category
  editoast/editoast_models/src/rolling_stock.rs
  editoast/editoast_models/src/rolling_stock/train_category.rs
  editoast/editoast_models/src/tables.rs
  editoast/editoast_schemas/src/fixtures.rs
  editoast/editoast_schemas/src/paced_train.rs
  editoast/editoast_schemas/src/rolling_stock.rs
  editoast/editoast_schemas/src/rolling_stock/sub_category.rs
  editoast/editoast_schemas/src/rolling_stock/train_main_category.rs
  editoast/editoast_schemas/src/train_schedule.rs
  editoast/migrations/2025-07-15-104535_rename_train_category_to_train_main_category/down.sql
  editoast/migrations/2025-07-15-104535_rename_train_category_to_train_main_category/up.sql
  editoast/openapi.yaml
  editoast/src/models/fixtures.rs
  editoast/src/models/paced_train.rs
  editoast/src/models/rolling_stock.rs
  editoast/src/models/train_schedule.rs
  editoast/src/views/rolling_stock.rs
  editoast/src/views/rolling_stock/form.rs
  editoast/src/views/rolling_stock/light.rs
  front/src/applications/operationalStudies/components/MacroEditor/consts.ts
  front/src/applications/operationalStudies/components/MacroEditor/utils.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorFormHelpers.tsx
  front/src/modules/rollingStock/consts.ts
  front/src/modules/rollingStock/hooks/useCategoryOptions.ts
  front/src/modules/rollingStock/types.ts
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/utils.ts
  front/src/modules/simulationResult/consts.ts
  front/src/modules/timetableItem/components/ManageTimetableItem/helpers/__tests__/formatTimetableItemPayload.spec.ts
  front/src/modules/timetableItem/components/Timetable/FilterPanel.tsx
  front/src/modules/timetableItem/components/Timetable/PacedTrain/OccurrenceIndicator.tsx
  front/src/modules/timetableItem/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/modules/timetableItem/components/Timetable/RoundTrips/RoundTripsModalCard.tsx
  front/src/modules/timetableItem/components/Timetable/TrainScheduleItem.tsx
  front/src/modules/timetableItem/components/Timetable/consts.ts
  front/src/modules/timetableItem/components/Timetable/types.ts
  front/src/reducers/osrdconf/types.ts
  front/tests/pages/rolling-stock/rolling-stock-editor-page.ts
  python/osrd_schemas/osrd_schemas/rolling_stock.py
Labels: area:railjson, area:front, area:editoast, kind:api-change

#12141 front: add playwright container in the stack without build
  docker/docker-compose.playwright.yml
  front/README.md
  front/docker/Dockerfile.playwright
  front/docker/playwright-entrypoint.sh
  osrd-compose
  scripts/run-front-playwright-container.sh
Labels: area:front

#12511 front: don't display 0 instead of the SpeedSpaceChart
  front/src/modules/simulationResult/components/SpeedSpaceChart/SpeedSpaceChartContainer.tsx
Labels: area:front

#12519 core: stdcm: drop raw request requirements before running the search
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMRequest.kt
Labels: area:core

#12515 front: expand .dockerignore
  front/.dockerignore
Labels: area:front

#12523 Change the uic type from i64 to u32
  editoast/editoast_schemas/src/infra/operational_point.rs
  editoast/openapi.yaml
  editoast/osm_to_railjson/src/utils.rs
  editoast/src/models/infra_objects.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/path/path_item_cache.rs
  editoast/src/views/timetable/train_schedule.rs
Labels: area:editoast, kind:api-change

#12517 front: improve simulation settings panel style
  front/src/modules/timetableItem/components/ManageTimetableItem/ConstraintDistributionSwitch.tsx
  front/src/modules/timetableItem/components/ManageTimetableItem/ElectricalProfiles.tsx
  front/src/modules/timetableItem/components/ManageTimetableItem/SimulationSettings.tsx
  front/src/styles/scss/applications/operationalStudies/_manageTimetableItem.scss
Labels: area:front

#12513 front: search for op w trigram starting w query too
  front/src/applications/stdcm/components/StdcmForm/StdcmOperationalPoint.tsx
  front/src/common/Map/Search/MapSearchOperationalPoint.tsx
  front/src/common/Map/Search/useSearchOperationalPoint.tsx
Labels: area:front

#12109 front: handle round trip trainruns for nge import
  front/src/applications/operationalStudies/components/MacroEditor/__tests__/outOfOrderSourceTarget-output.json
  front/src/applications/operationalStudies/components/MacroEditor/consts.ts
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
Labels: area:front, module:operational-studies, component:nge

#12553 core: fix warning about nullable java type used as non-nullable in kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/visited_node_tracking/VisitedRange.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/visited_node_tracking/VisitedRangeMap.kt
Labels: area:core

#12554 front: fix parsing of datetime-local input
  front/src/utils/__tests__/date.spec.ts
  front/src/utils/date.ts
Labels: area:front

#12556 front: drop version field from package.json
  front/package-lock.json
  front/package.json
  front/src/index.tsx
Labels: area:front

#12559 editoast: subcategory fix fake pagination stats
  editoast/src/views/sub_categories.rs
Labels: area:editoast

#12197 front: stdcm page scrolls only when simulation is successful
  front/src/applications/stdcm/components/StdcmWarningBox.tsx
  front/src/applications/stdcm/views/StdcmView.tsx
Labels: area:front

#12004 Ui-core: Underline current date instead of first available in date picker
  front/ui/ui-core/src/components/inputs/datePicker/Calendar.tsx
  front/ui/ui-core/src/components/inputs/datePicker/__tests__/useCalendar.spec.ts
  front/ui/ui-core/src/components/inputs/datePicker/useCalendar.ts
  front/ui/ui-core/src/styles/inputs/datePicker.css
Labels: area:front

#12207 front: improve default node position in NGE
  front/src/applications/operationalStudies/components/MacroEditor/osrdToNge.ts
Labels: area:front

#12477 editoast: return geo coords in /match_operational_points
  editoast/editoast_common/src/geometry.rs
  editoast/openapi.yaml
  editoast/src/generated_data/mod.rs
  editoast/src/generated_data/operational_point.rs
  editoast/src/views/infra/mod.rs
  front/src/common/api/generatedEditoastApi.ts
Labels: area:front, area:editoast, kind:api-change

#12434 front: refactor train names in paced train json for readability
  front/tests/015-train-timetable.spec.ts
  front/tests/assets/constants/operational-studies-const.ts
  front/tests/assets/constants/timetable-items-count.ts
  front/tests/assets/paced-train/paced_trains.json
Labels: area:front

#12600 front: fix occurences edition when no exception in paced train
  front/src/modules/timetableItem/components/Timetable/PacedTrain/hooks/useOccurrenceActions.ts
  front/src/modules/timetableItem/helpers/pacedTrain.ts
Labels: area:front

#12574 ui-charts: remove proportional-linear button outline
  front/ui/ui-charts/src/manchette/styles/manchette.css
Labels: area:front

#12426 front: add siph import
  front/src/modules/timetableItem/components/ImportTimetableItem/helpers/parseXML.ts
Labels: area:front

#12539 front: adding impersonate function in auth hook
  front/src/applications/operationalStudies/components/ScenarioHeader.tsx
  front/src/applications/stdcm/components/StdcmHeader.tsx
  front/src/common/BootstrapSNCF/NavBarSNCF.tsx
  front/src/common/UserActionsDropdown.tsx
  front/src/common/UserSettings.tsx
  front/src/common/authorization/hooks/useAuthz.tsx
  front/src/utils/hooks/useAuth.ts
Labels: area:front

#12407 editoast: create wrappers to handle zadd and zrangebyscore in valkey_utils
  editoast/src/valkey_utils.rs
Labels: area:editoast

#12538 core, editoast: specify if etcs signal braking curve is for a spacing or a routing conflict
  core/src/main/kotlin/fr/sncf/osrd/api/etcs/ETCSBrakingCurvesEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/etcs/ETCSBrakingCurvesResponse.kt
  editoast/core_client/src/etcs_braking_curves.rs
  editoast/openapi.yaml
  front/src/common/api/generatedEditoastApi.ts
  tests/tests/test_train_schedule.py
Labels: area:core, area:front, area:editoast, area:integration-tests, kind:api-change

#12611 front: unify selection styles for valid and invalid trains
  front/src/styles/scss/applications/operationalStudies/_pacedTrain.scss
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Labels: area:front

#12612 front: modify navbar style
  front/src/common/BootstrapSNCF/NavBarSNCF.tsx
  front/src/styles/scss/_body.scss
Labels: area:front

#12591 editoast: add no_similar_train test case
  editoast/src/views/timetable/similar_trains.rs
Labels: area:editoast

#12617 wrap output table into boardWrapper
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/modules/timesStops/styles/_timesStopsDatasheet.scss
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
  front/src/styles/scss/applications/operationalStudies/_simulationresults.scss
Labels: area:front

#12596 front: rolling-stock-editor: hide description text in presentation card
  front/src/modules/rollingStock/components/RollingStockSelector/RollingStockHelpers.tsx
  front/src/modules/rollingStock/styles/_rollingStockCard.scss
Labels: area:front

#12636 edioast: enhance mocking stub handling
  editoast/core_client/src/mocking.rs
  editoast/src/views/mod.rs
Labels: area:editoast

#12492 editoast: subcategory category enum
  editoast/editoast_models/src/rolling_stock.rs
  editoast/editoast_models/src/rolling_stock/train_main_category.rs
  editoast/editoast_schemas/src/paced_train.rs
  editoast/editoast_schemas/src/rolling_stock.rs
  editoast/editoast_schemas/src/rolling_stock/sub_category.rs
  editoast/editoast_schemas/src/rolling_stock/train_category.rs
  editoast/editoast_schemas/src/rolling_stock/train_main_category.rs
  editoast/editoast_schemas/src/train_schedule.rs
  editoast/openapi.yaml
  editoast/src/models/paced_train.rs
  editoast/src/models/rolling_stock.rs
  editoast/src/models/train_schedule.rs
  editoast/src/views/sub_categories.rs
  editoast/src/views/timetable/train_schedule.rs
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
  front/src/applications/operationalStudies/components/MacroEditor/osrdToNge.ts
  front/src/applications/operationalStudies/views/ManageTimetableItem.tsx
  front/src/common/api/generatedEditoastApi.ts
  front/src/modules/rollingStock/components/RollingStockSelector/RollingStockSelector.tsx
  front/src/modules/rollingStock/helpers/utils.ts
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/utils.ts
  front/src/modules/timetableItem/components/ManageTimetableItem/TrainSettings.tsx
  front/src/modules/timetableItem/components/ManageTimetableItem/helpers/__tests__/formatTimetableItemPayload.spec.ts
  front/src/modules/timetableItem/components/Timetable/PacedTrain/OccurrenceIndicator.tsx
  front/src/modules/timetableItem/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/modules/timetableItem/components/Timetable/RoundTrips/RoundTripsModalCard.tsx
  front/src/modules/timetableItem/components/Timetable/TrainScheduleItem.tsx
  front/src/modules/timetableItem/components/Timetable/types.ts
  front/src/modules/timetableItem/components/Timetable/useFilterTimetableItems.ts
  front/src/reducers/osrdconf/operationalStudiesConf/__tests__/trainSettingsReducer.ts
  front/src/reducers/osrdconf/types.ts
  front/tests/assets/paced-train/paced_trains.json
  python/osrd_schemas/pyproject.toml
  python/osrd_schemas/uv.lock
Labels: area:railjson, area:front, area:editoast, kind:api-change
