Repository OpenRailAssociation/osrd, pull requests merged in 2025-09, with the labels that each got.

#12988 editoast: simplify similar train response schema
  editoast/openapi.yaml
  editoast/src/views/timetable/similar_trains.rs
  front/src/common/api/generatedEditoastApi.ts
Labels: area:front, area:editoast, kind:api-change

#13012 front: using the correct class for train times
  front/src/styles/scss/applications/operationalStudies/_pacedTrain.scss
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Labels: area:front

#13072 front: error fast duplicate train staging
  front/src/applications/operationalStudies/hooks/useScenarioData.ts
Labels: area:front

#13092 editoast: consolidate DbConnectionPoolV2 references to single instances
  editoast/src/client/electrical_profiles_commands.rs
  editoast/src/client/import_rolling_stock.rs
  editoast/src/client/timetables_commands.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/path/pathfinding.rs
  editoast/src/views/path/properties.rs
  editoast/src/views/timetable/paced_train.rs
  editoast/src/views/timetable/similar_trains.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/train_schedule.rs
Labels: area:editoast

#13100 front: fix naming of some categories and short names
  front/public/locales/fr/operational-studies.json
Labels: area:front, module:operational-studies

#13119 front: delete defunct op map layers
  front/src/applications/operationalStudies/views/Scenario/components/ManageTimetableItem/ManageTimetableItemMap/ManageTimetableItemMap.tsx
Labels: area:front

#13082 Fix handle pan
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/SpaceTimeChartWrapper.tsx
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/helpers/configureHandlePan.ts
Labels: area:front

#13153 front: fix round trip modal crashing on older browsers
  front/src/applications/operationalStudies/views/Scenario/components/RoundTrips/RoundTripsModal.tsx
Labels: area:front

#12490 ui: enhance spaceTimeChart graduations
  front/ui/storybook/stories/ui-charts/manchetteWithSpaceTimeChart/base-with-waypoint-menu.stories.tsx
  front/ui/ui-charts/src/manchette/components/Manchette.tsx
  front/ui/ui-charts/src/manchette/components/ManchetteWithSpaceTimeChart.tsx
  front/ui/ui-charts/src/manchette/consts.ts
  front/ui/ui-charts/src/manchette/hooks/useManchetteWithSpaceTimeChart.tsx
  front/ui/ui-charts/src/spaceTimeChart/components/TimeCaptions.tsx
  front/ui/ui-charts/src/spaceTimeChart/components/TimeGraduations.tsx
  front/ui/ui-charts/src/spaceTimeChart/utils/colors.ts
Labels: area:front

#13041 front: rolling stock editor: fix scaling of mass dependent fields
  front/src/applications/rollingStockEditor/components/ParametersForm.tsx
Labels: area:front

#13194 front: allow to hide/display intermediate waypoints in output table
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/src/applications/operationalStudies/views/Scenario/components/SimulationResults/SimulationResults.tsx
  front/src/modules/timesStops/hooks/useOutputTableData.ts
  front/src/reducers/simulationResults/index.ts
  front/src/reducers/simulationResults/selectors.ts
  front/src/reducers/simulationResults/types.ts
Labels: area:front

#13188 editoast: fix some dependencies' version
  editoast/Cargo.lock
  editoast/Cargo.toml
Labels: area:editoast

#13309 front: fix package lock out of sync
  front/package-lock.json
Labels: area:front

#13316 osrdyne: bump kube and schemars
  osrdyne/Cargo.lock
  osrdyne/Cargo.toml
Labels: area:osrdyne

#13246 front: fix left column width inconsistency with rolling stock
  front/src/applications/operationalStudies/views/Scenario/components/ScenarioContent.tsx
Labels: area:front

#13201 ui-charts: use pixelated image rendering for picking canvas
  front/ui/ui-charts/src/spaceTimeChart/hooks/useCanvas.ts
Labels: area:front

#13342 front: fix out-of-sync package-lock.json once again
  front/package-lock.json
Labels: area:front

#13329 front: delete obsolete e2e infra
  front/tests/assets/infrastructure/infra.json
Labels: area:front

#13322 front: fix open round trip modal
  front/src/applications/operationalStudies/hooks/useTimetableItemsWithPathOps.ts
Labels: area:front

#13056 editoast: fix track range openapi conflict
  editoast/core_client/src/pathfinding.rs
  editoast/core_client/src/stdcm.rs
  editoast/openapi.yaml
  editoast/schemas/src/infra/track_range.rs
  editoast/src/views/path.rs
  editoast/src/views/path/projection.rs
  editoast/src/views/path/properties.rs
  editoast/src/views/projection.rs
  editoast/src/views/timetable/occupancy_blocks.rs
  editoast/src/views/work_schedules.rs
  front/src/common/api/generatedEditoastApi.ts
  front/src/modules/pathfinding/helpers/__tests__/findTrackSectionOffset.spec.ts
  front/src/modules/pathfinding/helpers/__tests__/getTrackLengthCumulativeSums.spec.ts
  front/src/modules/pathfinding/helpers/findTrackSectionOffset.ts
  front/src/modules/pathfinding/helpers/getPointOnPathCoordinates.ts
  front/src/modules/pathfinding/helpers/getTrackLengthCumulativeSums.ts
Labels: area:front, area:editoast, kind:api-change

#13178 front: modify the TrainOpProjectionLazyLoader settings
  front/src/applications/operationalStudies/helpers/TrainOpProjectionLazyLoader.ts
  front/src/modules/simulationResult/components/SpaceTimeChartWrapper/useLazyProjectTrains.ts
Labels: area:front

#13383 Adapt core and editoast infra load endpoint
  core/src/main/java/fr/sncf/osrd/api/WorkerLoadEndpoint.java
  core/src/main/java/fr/sncf/osrd/cli/WorkerCommand.kt
  core/src/test/java/fr/sncf/osrd/api/WorkerLoadingTest.java
  editoast/core_client/src/lib.rs
  editoast/core_client/src/worker_load.rs
  editoast/src/views/worker_load.rs
Labels: area:core, area:editoast

#13388 editoast: fix miss cache count for log
  editoast/src/views/path/pathfinding.rs
  editoast/src/views/timetable/simulation.rs
Labels: area:editoast

#13392 Translations of `Translations` component updated
  front/public/locales/es/translation.json
Labels: area:front

#13394 Translations of `STDCM` component updated
  front/public/locales/es/stdcm.json
Labels: area:front

#13401 editoast: core_client: remove `reqwest` dependency
  editoast/Cargo.lock
  editoast/core_client/Cargo.toml
  editoast/core_client/src/lib.rs
  editoast/core_client/src/mocking.rs
Labels: area:editoast

#13380 railway-manager-interface: add optional gateway config to the charts
  chart/templates/gateway/configmap.yaml
  chart/values.yaml
Labels: area:chart

#13409 editoast: cache: make `cache::Config` an enum
  editoast/cache/src/client.rs
  editoast/src/client/healthcheck.rs
  editoast/src/client/infra_commands.rs
  editoast/src/client/runserver.rs
  editoast/src/client/valkey_config.rs
  editoast/src/views/mod.rs
  editoast/src/views/test_app.rs
Labels: area:editoast

#13436 core: worker: log errors caught in request processing
  core/src/main/java/fr/sncf/osrd/cli/WorkerCommand.kt
Labels: area:core

#13446 Translations of `Infra Editor` component updated
  front/public/locales/pl/infraEditor.json
Labels: area:front

#13447 Translations of `STDCM Help Section` component updated
  front/public/locales/pl/stdcm-help-section.json
Labels: area:front

#13448 Translations of `Translations` component updated
  front/public/locales/pl/translation.json
Labels: area:front

#13450 Translations of `STDCM` component updated
  front/public/locales/pl/stdcm.json
Labels: area:front

#13442 editoast: new table macro_note for nge
  editoast/database/src/tables.rs
  editoast/migrations/2025-09-26-142346-0000_create_macro_note/down.sql
  editoast/migrations/2025-09-26-142346-0000_create_macro_note/up.sql
Labels: area:editoast

#13432 front: fix osm city layer on map
  front/src/common/Map/theme/OSMStyle.ts
Labels: area:front

#13475 Translations of `Errors` component updated
  front/public/locales/pl/errors.json
Labels: area:front

#13477 Translations of `Translations` component updated
  front/public/locales/pl/translation.json
Labels: area:front

#13476 Translations of `STDCM` component updated
  front/public/locales/pl/stdcm.json
Labels: area:front
