Repository OpenRailAssociation/osrd, pull requests merged in 2025-08, with the labels that each got.

#12655 Add timetable param load
  editoast/core_client/src/infra_loading.rs
  editoast/openapi.yaml
  editoast/src/views/infra/mod.rs
  front/src/common/api/generatedEditoastApi.ts
Labels: area:front, area:editoast, kind:api-change

#12315 Translations of `Errors` component updated
  front/public/locales/es/errors.json
Labels: area:front

#12694 scripts: disable SC2329 in check-commit-titles.sh
  .github/scripts/check-commit-titles.sh
Labels: area:ci

#12704 editoast: fga: use fga type alias in function signature
  editoast/fga/src/lib.rs
Labels: area:editoast

#12447 front: fix flaky e2e tests
  front/tests/pages/operational-studies/scenario-timetable-section.ts
Labels: area:front

#12691 Translations of `STDCM Help Section` component updated
  front/public/locales/es/stdcm-help-section.json
Labels: area:front

#12692 Translations of `Infra Editor` component updated
  front/public/locales/fr/infraEditor.json
Labels: area:front

#12601 Add round trips database tables
  editoast/editoast_models/src/tables.rs
  editoast/migrations/2025-07-24-085435_add-round-trips/down.sql
  editoast/migrations/2025-07-24-085435_add-round-trips/up.sql
Labels: area:editoast

#12646 front: add linecode to the track occupancy diagram
  front/src/modules/simulationResult/components/SpaceTimeChart/useTrackOccupancy.ts
Labels: area:front

#12645 front: move rollingStock helpers to appropriate folders
  front/src/modules/rollingStock/components/RollingStockCard/RollingStockCardDetail.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/CurveParamSelectors.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/MetadataForm.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/OnboardSystemEquipmentForm.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/ParametersForm.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorCurves.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorForm.tsx
  front/src/modules/rollingStock/components/RollingStockEditor/helpers/__tests__/curves.spec.ts
  front/src/modules/rollingStock/components/RollingStockEditor/helpers/__tests__/electricalValues.spec.ts
  front/src/modules/rollingStock/components/RollingStockEditor/helpers/__tests__/isRollingStockFormValid.spec.ts
  front/src/modules/rollingStock/components/RollingStockEditor/helpers/__tests__/units.spec.ts
  front/src/modules/rollingStock/components/RollingStockEditor/helpers/curves.ts
  front/src/modules/rollingStock/components/RollingStockEditor/helpers/defaultValues.ts
  front/src/modules/rollingStock/components/RollingStockEditor/helpers/electricalValues.ts
  front/src/modules/rollingStock/components/RollingStockEditor/helpers/isRollingStockFormValid.ts
  front/src/modules/rollingStock/components/RollingStockEditor/helpers/powerRestrictions.ts
  front/src/modules/rollingStock/components/RollingStockEditor/helpers/units.ts
  front/src/modules/rollingStock/components/RollingStockEditor/helpers/utils.ts
  front/src/modules/rollingStock/consts.ts
  front/src/modules/rollingStock/helpers/__tests__/convertUnits.spec.ts
  front/src/modules/rollingStock/helpers/__tests__/electric.spec.ts
  front/src/modules/rollingStock/helpers/__tests__/utils.spec.ts
  front/src/modules/rollingStock/helpers/convertUnits.ts
  front/src/modules/rollingStock/helpers/utils.ts
Labels: area:front

#12721 editoast: fix `mismatched_lifetime_syntaxes` warning on nightly
  editoast/src/views/test_app.rs
Labels: area:editoast

#12709 Ensure simulation results and LMR map are displayed side by side
  front/src/styles/scss/applications/operationalStudies/_simulationresults.scss
Labels: area:front

#12719 editoast, gateway, osrdyne: move cargo home
  editoast/Dockerfile
  gateway/Dockerfile
  osrdyne/Dockerfile
Labels: area:editoast, area:gateway, area:osrdyne

#12703 editoast: handle missing similar trains
  editoast/openapi.yaml
  editoast/src/views/timetable/similar_trains.rs
  editoast/src/views/timetable/similar_trains/graph.rs
  front/src/common/api/generatedEditoastApi.ts
Labels: area:front, area:editoast, kind:api-change

#12439 editoast: subcategory implementation
  editoast/database/src/tables.rs
  editoast/migrations/2025-08-05-090303_sub_categories/down.sql
  editoast/migrations/2025-08-05-090303_sub_categories/up.sql
  editoast/openapi.yaml
  editoast/src/models/fixtures.rs
  editoast/src/models/mod.rs
  editoast/src/models/paced_train.rs
  editoast/src/models/sub_category.rs
  editoast/src/models/timetable/sql/get_train_schedules_in_time_window.sql
  editoast/src/models/train_schedule.rs
  editoast/src/views/sub_categories.rs
  editoast/src/views/timetable/paced_train.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/train_schedule.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
Labels: area:front, area:editoast, kind:api-change

#12760 Translations of `STDCM Help Section` component updated
  front/public/locales/pt/stdcm-help-section.json
Labels: area:front

#12759 Translations of `STDCM` component updated
  front/public/locales/pt/stdcm.json
Labels: area:front

#12757 Translations of `Errors` component updated
  front/public/locales/pt/errors.json
Labels: area:front

#12745 editoast: replace name by schedule id in similar trains
  editoast/openapi.yaml
  editoast/src/views/timetable/similar_trains.rs
  editoast/src/views/timetable/similar_trains/graph.rs
  editoast/src/views/timetable/similar_trains/past_train.rs
  front/src/common/api/generatedEditoastApi.ts
Labels: area:front, area:editoast, kind:api-change

#12766 editoast: add `similar_train` doc
  editoast/src/views/timetable/similar_trains.rs
Labels: area:editoast

#12773 gateway: make /srv the working dir in all envs
  gateway/Dockerfile
Labels: area:gateway

#12788 front: refacto uselazyprojecttrains hook
  front/src/applications/operationalStudies/hooks/usePathProjection.ts
  front/src/applications/operationalStudies/hooks/useScenarioData.ts
  front/src/modules/simulationResult/components/SpaceTimeChart/useLazyProjectTrains.ts
Labels: area:front

#12767 editoast: authz: factorize privilege check Regulator functions
  editoast/authz/src/authorizer.rs
  editoast/authz/src/model.rs
  editoast/authz/src/regulator.rs
  editoast/src/views/authz.rs
  editoast/src/views/infra/attached.rs
  editoast/src/views/infra/auto_fixes/mod.rs
  editoast/src/views/infra/delimited_area.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/errors.rs
  editoast/src/views/infra/lines.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/objects.rs
  editoast/src/views/infra/pathfinding.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/infra/routes.rs
  editoast/src/views/path/pathfinding.rs
  editoast/src/views/path/properties.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/paced_train.rs
  editoast/src/views/timetable/similar_trains.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/train_schedule.rs
Labels: area:editoast

#12792 Add node memory limit option to avoid OOM
  front/docker/Dockerfile.devel
Labels: area:front

#12786 Fix space time chart not refreshing when switching to paced train projection
  front/src/applications/operationalStudies/hooks/usePathProjection.ts
Labels: area:front

#12807 editoast: fix category error on train schedule update
  editoast/src/models/paced_train.rs
  editoast/src/models/train_schedule.rs
  editoast/src/views/timetable/train_schedule.rs
Labels: area:editoast

#12825 Load infra cache from railjson
  editoast/src/generated_data/error/buffer_stops.rs
  editoast/src/generated_data/error/detectors.rs
  editoast/src/generated_data/error/electrifications.rs
  editoast/src/generated_data/error/mod.rs
  editoast/src/generated_data/error/operational_points.rs
  editoast/src/generated_data/error/routes.rs
  editoast/src/generated_data/error/signals.rs
  editoast/src/generated_data/error/speed_sections.rs
  editoast/src/generated_data/error/switches.rs
  editoast/src/generated_data/error/track_sections.rs
  editoast/src/infra_cache/mod.rs
  editoast/src/views/infra/auto_fixes/mod.rs
  editoast/src/views/infra/railjson.rs
Labels: area:editoast

#12819 front: fix items order when pairing items in roundtrips modal
  front/src/modules/timetableItem/components/Timetable/RoundTrips/TodoColumn.tsx
Labels: area:front

#12827 front: fix stops in roundtrips modal
  front/src/modules/timetableItem/components/Timetable/RoundTrips/utils.ts
Labels: area:front

#12785 editoast: ignore disabled occurrences in conflict detection
  editoast/src/models/paced_train.rs
Labels: area:editoast

#12829 front: fix bg color for no category
  front/src/modules/timetableItem/components/Timetable/PacedTrain/OccurrenceIndicator.tsx
  front/src/modules/timetableItem/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/modules/timetableItem/components/Timetable/utils.ts
Labels: area:front

#12809 Fix incorrect “too fast” warnings and existence of flame icon
  front/src/applications/operationalStudies/utils.ts
Labels: area:front

#12852 Add a filter to the ui website deployment
  .github/workflows/osrd-ui-website.yml
Labels: area:ci

#12838 Fix train list order after updating a servicev
  front/src/applications/operationalStudies/hooks/useScenarioData.ts
Labels: area:front

#12880 ci: make the retry regex more permissive
  .github/workflows/build.yml
Labels: area:ci

#12764 front: handle subcategory in nge
  front/src/applications/operationalStudies/components/MacroEditor/consts.ts
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
  front/src/applications/operationalStudies/components/MacroEditor/osrdToNge.ts
  front/src/applications/operationalStudies/components/MacroEditor/utils.ts
Labels: area:front

#12875 front: fix train list column width change in occurrence edit mode
  front/src/modules/timetableItem/components/ManageTimetableItem/TimetableManageItem.tsx
  front/src/styles/scss/applications/operationalStudies/_scenarioV2.scss
Labels: area:front

#12889 editoast: handle None category on train schedule update
  editoast/src/models/paced_train.rs
  editoast/src/models/train_schedule.rs
  editoast/src/views/timetable/train_schedule.rs
Labels: area:editoast

#12883 core: add constraints for stdcm steps
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMPostProcessing.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMUtils.kt
  core/src/test/kotlin/fr/sncf/osrd/stdcm/STDCMPathfindingTests.kt
Labels: area:core

#12917 github: skip osrd-ui-website workflow when missing secret
  .github/workflows/osrd-ui-website.yml
Labels: area:ci

#12249 front: displays the space-time chart when turning a train into a serv…
  front/src/modules/timetableItem/components/ManageTimetableItem/hooks/useUpdateTimetableItem.ts
Labels: area:front

#12937 editoast: fix similar train stops
  editoast/src/views/timetable/similar_trains.rs
Labels: area:editoast

#12912 front: drop buildOpSearchQuery()
  front/src/modules/operationalPoint/helpers/buildOpSearchQuery.ts
  front/src/modules/pathfinding/hooks/usePathfinding.ts
Labels: area:front

#12905 ui-charts: simplify rectangular zoom
  front/ui/ui-charts/src/manchette/hooks/useManchetteWithSpaceTimeChart.tsx
Labels: area:front

#12909 front: allow pacedtrains and trainschedules with subcategories to be imported and exported
  front/src/applications/operationalStudies/views/Scenario/components/ImportTimetableItem/ImportTimetableItemTrainsList.tsx
Labels: area:front

#12966 front: rename all the dead sections into neutral sections
  front/public/locales/en/translation.json
  front/src/applications/editor/Map.tsx
  front/src/common/Map/Layers/InfraObjectLayers/InfraObjectLayers.tsx
  front/src/config/layerOrder.ts
Labels: area:front
