Repository OpenRailAssociation/osrd, pull requests merged in 2025-05, with the labels that each got.

#11645 front: bump the nivo group in /front with 2 updates
  front/package-lock.json
  front/package.json
  front/src/modules/rollingStock/components/RollingStockCurve.tsx
Labels: area:front

#11633 front: refacto occurrence types for exceptions
  front/src/applications/operationalStudies/hooks/useAutoUpdateProjection.ts
  front/src/modules/trainschedule/components/Timetable/types.ts
  front/src/reducers/osrdconf/operationalStudiesConf/__tests__/operationalStudiesConfReducer.spec.ts
  front/src/reducers/osrdconf/types.ts
  front/src/utils/__tests__/batch.spec.ts
  front/src/utils/__tests__/trainId.spec.ts
  front/src/utils/trainId.ts
Labels: area:front

#11328 front: avoid blinking with example DTO when launching NGE
  front/src/applications/operationalStudies/components/NGE/NGE.tsx
  front/src/applications/operationalStudies/components/NGE/consts.ts
Labels: area:front

#11649 editoast: replace `StandardCoreError` with `RawError`
  editoast/src/core/mod.rs
  editoast/src/error.rs
Labels: area:editoast

#11265 front: allow the use of paced train path for projection and display occurences
  front/src/applications/operationalStudies/helpers/upsertNewProjectedTrains.ts
  front/src/applications/operationalStudies/hooks/useAutoUpdateProjection.ts
  front/src/applications/operationalStudies/hooks/usePathProjection.ts
  front/src/applications/operationalStudies/hooks/useScenarioData.ts
  front/src/applications/operationalStudies/hooks/useScenarioQueryParams.ts
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/applications/stdcm/components/StdcmResults/StdcmDebugResults.tsx
  front/src/applications/stdcm/hooks/useProjectedTrainsForStdcm.ts
  front/src/applications/stdcm/utils/formatStdcmIntoSpaceTimeData.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/config/openapi-editoast-config.cts
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/utils.ts
  front/src/modules/simulationResult/components/SpaceTimeChart/useGetProjectedTrainOperationalPoints.ts
  front/src/modules/simulationResult/components/SpaceTimeChart/useLazyProjectTrains.ts
  front/src/modules/simulationResult/consts.ts
  front/src/modules/simulationResult/types.ts
  front/src/modules/trainschedule/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/modules/trainschedule/components/Timetable/Timetable.tsx
  front/src/modules/trainschedule/components/Timetable/TrainScheduleItem.tsx
  front/src/utils/__tests__/trainId.spec.ts
  front/src/utils/trainId.ts
Labels: area:front

#11632 core: stop filtering duplicate tracks during exploration
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/AppendOnlySet.kt
  core/kt-osrd-utils/src/main/kotlin/fr/sncf/osrd/utils/BloomFilter.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/IncompatibleConstraintsPostProcessing.kt
  core/src/main/kotlin/fr/sncf/osrd/api/pathfinding/PathfindingBlocksEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/api/stdcm/STDCMEndpoint.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/infra_exploration/InfraExplorer.kt
Labels: area:core

#11292 schemas, railjson-generator, tests: replace 'poetry' with 'uv' 🚀
  .github/dependabot.yml
  .github/workflows/build.yml
  .taplo.toml
  python/osrd_schemas/.gitignore
  python/osrd_schemas/README.md
  python/osrd_schemas/justfile
  python/osrd_schemas/osrd_schemas/generated.py
  python/osrd_schemas/poetry.lock
  python/osrd_schemas/uv.lock
  python/railjson_generator/.gitignore
  python/railjson_generator/README.md
  python/railjson_generator/justfile
  python/railjson_generator/poetry.lock
  python/railjson_generator/pyproject.toml
  python/railjson_generator/uv.lock
  tests/README.md
  tests/fuzzer/fuzzer_stdcm_single_timetable.py
  tests/infra-scripts/README.md
  tests/poetry.lock
  tests/pyproject.toml
  tests/uv.lock
Labels: area:railjson, area:ci, area:integration-tests

#11684 osrd_schemas, railjson_generator, tests: update 'uv.lock'
  python/osrd_schemas/uv.lock
  python/railjson_generator/uv.lock
  tests/uv.lock
Labels: area:railjson, area:integration-tests

#11629 osrd_schemas, railjson_generator: add gitignore for build files
  python/osrd_schemas/.gitignore
  python/railjson_generator/.gitignore
Labels: area:railjson

#11664 editoast: use const generics to declare maximum and default page size
  editoast/openapi.yaml
  editoast/src/views/authz.rs
  editoast/src/views/infra/errors.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/pagination.rs
  editoast/src/views/project.rs
  editoast/src/views/rolling_stock/light.rs
  editoast/src/views/rolling_stock/towed.rs
  editoast/src/views/scenario.rs
  editoast/src/views/scenario/macro_nodes.rs
  editoast/src/views/search.rs
  editoast/src/views/stdcm_logs.rs
  editoast/src/views/study.rs
  editoast/src/views/timetable.rs
  editoast/src/views/work_schedules.rs
  front/public/locales/en/errors.json
  front/public/locales/fr/errors.json
Labels: area:front, area:editoast

#11695 osrd_schemas, railjson_generator: add 'ruff check fix' to justfile
  python/osrd_schemas/justfile
  python/railjson_generator/justfile
Labels: area:railjson

#11699 editoast: fix `/authz/me/grants` for admins
  editoast/editoast_authz/src/regulator.rs
Labels: area:editoast

#11698 editoast: get rid of InternalError in PgAuthDriver error type
  editoast/src/models/auth_driver.rs
Labels: area:editoast

#11700 osrd_schemas, railjson_generator: update 'uv.lock'
  python/osrd_schemas/uv.lock
  python/railjson_generator/uv.lock
Labels: area:railjson

#11703 front: add 'npm run generate-types' into readme
  front/README.md
Labels: area:front

#11690 front: fix some missing translations
  front/public/locales/en/rollingstock.json
  front/public/locales/fr/rollingstock.json
  front/src/modules/study/components/StudyCard.tsx
Labels: area:front

#11707 front: update persistConfig to use whitelist instead of blacklist
  front/src/reducers/index.ts
Labels: area:front

#11551 front: add occurrence menu
  front/public/locales/en/operationalStudies/scenario.json
  front/public/locales/fr/operationalStudies/scenario.json
  front/src/modules/trainschedule/components/Timetable/PacedTrain/OccurrenceItem.tsx
  front/src/styles/scss/applications/operationalStudies/_pacedTrain.scss
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
  front/src/styles/scss/common/components/_osrdMenu.scss
Labels: area:front

#11713 front: rename type TimetableItemWithTimetableId -> TimetableItem
  front/src/applications/operationalStudies/components/MacroEditor/MacroEditorState.ts
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
  front/src/applications/operationalStudies/components/MacroEditor/utils.ts
  front/src/applications/operationalStudies/components/Scenario/ScenarioContent.tsx
  front/src/applications/operationalStudies/helpers/upsertNewProjectedTrains.ts
  front/src/applications/operationalStudies/hooks/useLazySimulateTrains.ts
  front/src/applications/operationalStudies/hooks/useScenarioData.ts
  front/src/applications/operationalStudies/types.ts
  front/src/applications/operationalStudies/utils.ts
  front/src/applications/operationalStudies/views/ImportTimetableItem.tsx
  front/src/applications/stdcm/hooks/useStdcm.ts
  front/src/applications/stdcm/utils/stdcmComputeChartData.ts
  front/src/modules/powerRestriction/helpers/formatPowerRestrictionRangesWithHandled.ts
  front/src/modules/simulationResult/SimulationResultExport/SimulationResultsExport.tsx
  front/src/modules/simulationResult/SimulationResultExport/exportTrainCSV.ts
  front/src/modules/simulationResult/SimulationResultExport/utils.ts
  front/src/modules/simulationResult/components/SpaceTimeChart/useGetProjectedTrainOperationalPoints.ts
  front/src/modules/simulationResult/components/SpaceTimeChart/useLazyProjectTrains.ts
  front/src/modules/simulationResult/components/SpeedSpaceChart/useSpeedSpaceChart.ts
  front/src/modules/simulationResult/helpers/formatTimetableItemSummaries.ts
  front/src/modules/simulationResult/hooks/useFormattedOperationalPoints.ts
  front/src/modules/simulationResult/types.ts
  front/src/modules/timesStops/TimesStopsOutput.tsx
  front/src/modules/timesStops/helpers/__tests__/computeMargins.spec.ts
  front/src/modules/timesStops/helpers/computeMargins.ts
  front/src/modules/timesStops/hooks/useOutputTableData.ts
  front/src/modules/trainschedule/components/ImportTimetableItem/ImportTimetableItemTrainsList.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/AddTrainScheduleButton.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/TimetableManageTrainSchedule.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/hooks/useUpdateTimetableItem.ts
  front/src/modules/trainschedule/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/modules/trainschedule/components/Timetable/Timetable.tsx
  front/src/modules/trainschedule/components/Timetable/TimetableToolbar.tsx
  front/src/modules/trainschedule/helpers/updateTimetableItemHelpers.ts
  front/src/reducers/osrdconf/types.ts
  front/src/utils/trainId.ts
Labels: area:front

#10222 front: clean allowanceValue type and related code
  front/src/applications/stdcm/types.ts
  front/src/modules/stdcmAllowances/allowancesConsts.ts
  front/src/modules/stdcmAllowances/components/StdcmAllowances.tsx
  front/src/reducers/osrdconf/stdcmConf/index.ts
  front/src/reducers/osrdconf/stdcmConf/stdcmConfReducers.spec.ts
  front/src/reducers/osrdconf/types.ts
Labels: area:front

#11714 editoast: move `Version` struct to `editoast_common`
  editoast/editoast_common/src/lib.rs
  editoast/src/core/version.rs
  editoast/src/views/mod.rs
Labels: area:editoast

#11662 front: drop formatDateForInput() and getEarliestDate()
  front/src/modules/study/components/AddOrEditStudyModal.tsx
  front/src/utils/date.ts
Labels: area:front

#11621 front: use Duration for StdcmResultsOperationalPoint.duration
  front/src/applications/stdcm/components/StdcmResults/SimulationReportSheet.tsx
  front/src/applications/stdcm/components/StdcmResults/StdcmResultsTable.tsx
  front/src/applications/stdcm/types.ts
  front/src/applications/stdcm/utils/__tests__/simulationReportSheet.spec.ts
  front/src/applications/stdcm/utils/formatSimulationReportSheet.ts
Labels: area:front

#11689 front: paced-trains list icons
  front/src/modules/trainschedule/components/Timetable/PacedTrain/OccurrenceIndicator.tsx
  front/src/styles/scss/_variables.scss
  front/src/styles/scss/applications/operationalStudies/_pacedTrain.scss
Labels: area:front

#11751 front: drop serializeDateTimeWithoutYear()
  front/src/utils/__tests__/date.spec.ts
  front/src/utils/date.ts
Labels: area:front

#11628 tests: add justfile
  tests/justfile
Labels: area:integration-tests

#11627 front: implement new scenario header
  front/src/applications/operationalStudies/v2/components/ScenarioHeader.tsx
  front/src/applications/operationalStudies/views/ScenarioV2.tsx
  front/src/main/app.tsx
  front/src/styles/scss/applications/_operationalStudies.scss
  front/src/styles/scss/applications/operationalStudies/_scenarioV2.scss
Labels: area:front

#11769 chart: init with current helm chart
  .github/CODEOWNERS
  .github/labeler.yml
  .github/workflows/helm-pr.yml
  .github/workflows/helm-publish.yml
  chart/.helmignore
  chart/Chart.yaml
  chart/README.md
  chart/templates/_helpers.tpl
  chart/templates/editoast/autoscaler.yaml
  chart/templates/editoast/deployment.yaml
  chart/templates/editoast/init_script.yaml
  chart/templates/editoast/migration_job.yaml
  chart/templates/editoast/service.yaml
  chart/templates/gateway/configmap.yaml
  chart/templates/gateway/deployment.yaml
  chart/templates/gateway/ingress.yaml
  chart/templates/gateway/service.yaml
  chart/templates/images/deployment.yaml
  chart/templates/images/service.yaml
  chart/templates/openfga/deployment.yaml
  chart/templates/openfga/service.yaml
  chart/templates/osrdyne/configmap.yaml
  chart/templates/osrdyne/deployment.yaml
  chart/templates/osrdyne/rbac.yaml
  chart/templates/osrdyne/service.yaml
  chart/templates/stateful_editoast/deployment.yaml
  chart/templates/stateful_editoast/service.yaml
  chart/values.yaml
Labels: area:ci

#11651 front: map: adapt pathproperties type
  front/src/applications/operationalStudies/types.ts
  front/src/applications/operationalStudies/views/ManageTrainSchedule.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/ManageTrainScheduleMap/AddPathStepPopup.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/ManageTrainScheduleMap/setPointIti.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/Map.tsx
  front/src/reducers/osrdconf/helpers.ts
Labels: area:front

#11722 editoast: rename RollingStockSeparatedImageModel to RollingStockImage
  editoast/src/models/mod.rs
  editoast/src/models/rolling_stock_image.rs
  editoast/src/views/rolling_stock.rs
Labels: area:editoast

#11770 front: take Duration in formatTrainDuration()
  front/src/modules/trainschedule/components/Timetable/PacedTrain/OccurrenceItem.tsx
  front/src/modules/trainschedule/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/modules/trainschedule/components/Timetable/TrainScheduleItem.tsx
  front/src/modules/trainschedule/components/Timetable/utils.ts
Labels: area:front

#11773 chart: better gateway routing on stateful editoast
  chart/templates/gateway/configmap.yaml
Labels: area:chart

#11729 front: update occurrences path color when an occurrence is selected
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/utils.ts
  front/src/modules/simulationResult/consts.ts
Labels: area:front

#11757 editoast: adapt delete infra/infra_id endpoint to stop using infracache
  editoast/src/views/infra/mod.rs
Labels: area:editoast

#11638 Allow selecting and editing train category, and filtering trains by category in the list
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/src/modules/rollingStock/components/RollingStockEditor/RollingStockEditorFormHelpers.tsx
  front/src/modules/rollingStock/hooks/useCategoryOptions.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/TrainSettings.tsx
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/formatTimetableItemPayload.ts
  front/src/modules/trainschedule/components/Timetable/FilterPanel.tsx
  front/src/modules/trainschedule/components/Timetable/types.ts
  front/src/modules/trainschedule/components/Timetable/useFilterTimetableItems.ts
  front/src/reducers/osrdconf/operationalStudiesConf/__tests__/trainSettingsReducer.ts
  front/src/reducers/osrdconf/operationalStudiesConf/index.ts
  front/src/reducers/osrdconf/operationalStudiesConf/selectors.ts
  front/src/reducers/osrdconf/operationalStudiesConf/trainSettingsReducer.ts
  front/src/reducers/osrdconf/types.ts
  front/src/styles/scss/applications/operationalStudies/_managetrainschedule.scss
Labels: area:front

#11382 front: add user search in the grant manager and refactor for generic usage
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/scripts/i18n-checker.ts
  front/src/common/api/mock/mockData.ts
  front/src/common/api/mock/mockEditoastApi.ts
  front/src/common/authorization/_grantsManager.scss
  front/src/common/authorization/components/GrantsManager.tsx
  front/src/common/authorization/components/GrantsManagerSubjects.tsx
  front/src/common/authorization/consts.ts
  front/src/common/authorization/hooks/useCheckPrivileges.ts
  front/src/common/authorization/hooks/useResourcesGrants.ts
  front/src/common/authorization/hooks/useSubjectsResourceGrants.ts
  front/src/common/authorization/hooks/useUserResourcesGrants.ts
  front/src/common/authorization/utils/checkPrivileges.ts
  front/src/common/authorization/utils/generateGrantSelectProps.ts
  front/src/common/common.scss
  front/src/common/useSearchUsers.ts
  front/src/modules/infra/components/InfraSelector/InfraSelectorGrantsManager.tsx
  front/src/modules/infra/components/InfraSelector/InfraSelectorModalBodyStandard.tsx
  front/src/modules/infra/consts.ts
  front/src/modules/infra/styles/_infraSelector.scss
  front/src/modules/infra/type.ts
  front/src/modules/infra/utils/generateGrantSelectProps.ts
  front/src/reducers/infra/generateGrantSelectProps.spec.ts
Labels: area:front

#11787 chart: remove an endpoint from stateful editoast
  chart/templates/gateway/configmap.yaml
Labels: area:chart

#11781 front: translation: fix i18next interpolation
  front/public/locales/en/operational-studies.json
  front/public/locales/en/stdcm.json
  front/public/locales/en/translation.json
  front/public/locales/fr/operational-studies.json
  front/public/locales/fr/stdcm.json
  front/public/locales/fr/translation.json
  front/src/applications/editor/components/InfraErrors/InfraErrorCorrectorModal.tsx
Labels: area:front

#11656 front: fix input box outline
  front/src/styles/scss/_overrideBootstrapSNCF.scss
Labels: area:front

#11759 core: stdcm: consider nodes as visited when less steps
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMGraph.kt
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/VisitedNodes.kt
Labels: area:core

#11796 editoast: add `cotegory` in `PacedTrain` changeset
  editoast/src/models/paced_train.rs
Labels: area:editoast

#11764 editoast: add mock response for similar schedules endpoint
  editoast/openapi.yaml
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/similar_schedules.rs
  front/src/common/api/generatedEditoastApi.ts
Labels: area:front, area:editoast

#11795 github actions: chart generation on staging branches
  .github/workflows/chart-build.yml
  .github/workflows/chart-publish.yml
Labels: area:ci

#11653 front: fix translations in op studies
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/src/modules/trainschedule/components/Timetable/TimetableToolbar.tsx
Labels: area:front

#11780 Front: Drag occurrences in GET
  front/src/applications/operationalStudies/hooks/useScenarioData.ts
  front/src/applications/operationalStudies/views/SimulationResults.tsx
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
Labels: area:front

#11557 editoast: paced train exceptions field
  editoast/editoast_models/src/tables.rs
  editoast/editoast_schemas/src/paced_train.rs
  editoast/migrations/2025-04-24-081446_paced_train_exceptions/down.sql
  editoast/migrations/2025-04-24-081446_paced_train_exceptions/up.sql
  editoast/openapi.yaml
  editoast/src/models/fixtures.rs
  editoast/src/models/paced_train.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/paced_train.rs
  front/src/applications/operationalStudies/components/MacroEditor/ngeToOsrd.ts
  front/src/applications/operationalStudies/hooks/useSimulationResults.ts
  front/src/common/api/generatedEditoastApi.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/formatTimetableItemPayload.ts
Labels: area:front, area:editoast

#11797 front: reset searchResults only when needed
  front/src/applications/stdcm/components/StdcmForm/StdcmOperationalPoint.tsx
Labels: area:front

#11811 front: add line break to about section css
  front/src/styles/scss/common/components/_releaseInformations.scss
Labels: area:front

#11812 gateway: fix proxying of responses without a body
  gateway/actix_proxy/src/lib.rs
Labels: area:gateway

#11819 editoat: move `TrackRange` `FromStr` to `DirectionalTrackRange`
  editoast/Cargo.toml
  editoast/editoast_schemas/Cargo.toml
  editoast/editoast_schemas/src/infra/directional_track_range.rs
  editoast/editoast_schemas/src/lib.rs
  editoast/src/core/pathfinding.rs
  editoast/src/views/path/projection.rs
  editoast/src/views/projection.rs
Labels: area:editoast

#11775 ui-core: make dates outside currently displayed month selectable
  front/ui/ui-core/src/components/inputs/datePicker/useCalendar.ts
  front/ui/ui-core/src/styles/inputs/datePicker.css
Labels: area:front

#11808 front: ensure uniform spacing between homepage cards
  front/src/main/home.tsx
Labels: area:front

#11581 ci: show openAPI diff
  .github/labeler.yml
  .github/workflows/interface-change.yml
Labels: area:ci, kind:api-change

#11547 front: import missions from xml file
  front/src/applications/operationalStudies/views/ImportTimetableItem.tsx
  front/src/modules/trainschedule/components/ImportTimetableItem/ImportTimetableItemConfig.tsx
  front/src/modules/trainschedule/components/ImportTimetableItem/ImportTimetableItemTrainsList.tsx
  front/src/modules/trainschedule/components/ImportTimetableItem/generateTrainSchedulesPayloads.ts
  front/src/modules/trainschedule/components/ImportTimetableItem/helpers/__tests__/importTimetableItem.spec.ts
  front/src/modules/trainschedule/components/ImportTimetableItem/helpers/buildStepsFromOcp.ts
  front/src/modules/trainschedule/components/ImportTimetableItem/helpers/findMostFrequentXmlSchedule.ts
  front/src/modules/trainschedule/components/ImportTimetableItem/helpers/importTimetableItem.spec.ts
  front/src/modules/trainschedule/components/ManageTrainSchedule/helpers/handleParseFiles.ts
Labels: area:front

#11856 editoast: paced train exceptions sim summary response
  editoast/openapi.yaml
  editoast/src/views/timetable/paced_train.rs
  front/src/applications/operationalStudies/helpers/TrainSimulationLazyLoader.ts
  front/src/common/api/generatedEditoastApi.ts
Labels: area:front, area:editoast, kind:api-change

#11877 front: when removing a timetable item, remove also its projection
  front/src/applications/operationalStudies/hooks/useScenarioData.ts
Labels: area:front

#11881 ops: alpine uses 'apk', not 'apt-get'
  front/docker/Dockerfile.devel
Labels: area:front

#11251 editoast: manage authorization on infras
  .github/workflows/build.yml
  docker-compose.yml
  editoast/editoast_authz/src/authorizer.rs
  editoast/editoast_authz/src/lib.rs
  editoast/editoast_authz/src/regulator.rs
  editoast/src/client/runserver.rs
  editoast/src/views/authz.rs
  editoast/src/views/infra/attached.rs
  editoast/src/views/infra/auto_fixes/mod.rs
  editoast/src/views/infra/delimited_area.rs
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/errors.rs
  editoast/src/views/infra/lines.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/infra/objects.rs
  editoast/src/views/infra/pathfinding.rs
  editoast/src/views/infra/railjson.rs
  editoast/src/views/infra/routes.rs
  editoast/src/views/mod.rs
  editoast/src/views/path/pathfinding.rs
  editoast/src/views/path/properties.rs
  editoast/src/views/stdcm_logs.rs
  editoast/src/views/test_app.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/paced_train.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/train_schedule.rs
  gateway/gateway.bundled.toml
Labels: area:editoast, area:ci, area:gateway

#11883 ops: remove useless dependency
  front/docker/Dockerfile.devel
Labels: area:front

#11892 ci: fix chart publish on release
  .github/workflows/chart-publish.yml
Labels: area:ci

#11847 front: fix and simplify imported train count translations
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/scripts/i18n-checker.ts
  front/src/modules/trainschedule/components/ImportTimetableItem/ImportTimetableItemTrainsList.tsx
Labels: area:front

#11890 ui-charts: fixes issue with repeated waypoints
  front/ui/ui-charts/src/manchette/hooks/useManchetteWithSpaceTimeChart.tsx
Labels: area:front

#11893 ops: add '.gitattributes' under DevOps responsability
  .github/CODEOWNERS
Labels: area:ci

#11865 tests: separate tests and comment them
  tests/tests/test_timetable.py
Labels: area:integration-tests

#11858 Move horizontal zoom slider above GET
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
  front/src/styles/scss/common/components/_manchetteWithSpaceTimeChart.scss
Labels: area:front

#11909 front: fix speed limit translation in map settings after trsltn files merge
  front/src/common/Map/Settings/MapSettingsSpeedLimits.tsx
Labels: area:front

#11913 editoast: make fga client read/write tuple limit configurable
  editoast/editoast_authz/src/lib.rs
  editoast/fga/src/client.rs
  editoast/fga/src/client/queries.rs
  editoast/fga/src/doctest_setup.rs
  editoast/fga/src/lib.rs
  editoast/src/client/openfga_config.rs
  editoast/src/views/mod.rs
  editoast/src/views/test_app.rs
Labels: area:editoast

#11932 editoast: simplify lifetime management required by `fga` users
  editoast/fga/src/client.rs
  editoast/fga/src/lib.rs
  editoast/fga/src/model.rs
Labels: area:editoast

#11916 front: check en as well as fr in i18n api error script
  front/scripts/i18n-api-errors.ts
Labels: area:front

#11833 front: fix stdcm debug spacetimechart errors
  front/src/modules/simulationResult/components/ManchetteWithSpaceTimeChart/ManchetteWithSpaceTimeChart.tsx
Labels: area:front

#11732 front: unmock authz api on infra modal management
  front/public/locales/en/translation.json
  front/public/locales/fr/translation.json
  front/src/applications/editor/Editor.tsx
  front/src/applications/operationalStudies/components/AddNewCard.tsx
  front/src/common/Loaders/Loader.tsx
  front/src/common/Loaders/index.ts
  front/src/common/api/mock/mockData.ts
  front/src/common/api/mock/mockEditoastApi.ts
  front/src/common/authorization/_grantsManager.scss
  front/src/common/authorization/components/GrantManagerAddSubjectForm.tsx
  front/src/common/authorization/components/GrantsManager.tsx
  front/src/common/authorization/components/GrantsManagerSubject.tsx
  front/src/common/authorization/components/GrantsManagerSubjects.tsx
  front/src/common/authorization/components/ProtectedRoute.tsx
  front/src/common/authorization/consts.ts
  front/src/common/authorization/hooks/useAllowedUserRoles.ts
  front/src/common/authorization/hooks/useAuthz.tsx
  front/src/common/authorization/hooks/useCheckPrivileges.ts
  front/src/common/authorization/hooks/useCheckUserPrivileges.ts
  front/src/common/authorization/hooks/useCheckUserRole.ts
  front/src/common/authorization/hooks/useProtectedAction.ts
  front/src/common/authorization/hooks/useResourceListUser.tsx
  front/src/common/authorization/hooks/useSubjectsResourceGrants.ts
  front/src/common/authorization/hooks/useUserResourcesGrants.ts
  front/src/common/authorization/hooks/useUserRoleCheck.ts
  front/src/common/authorization/types.ts
  front/src/common/authorization/utils/checkPrivileges.ts
  front/src/common/authorization/utils/generateGrantSelectProps.ts
  front/src/common/types.ts
  front/src/common/useSearchUsers.ts
  front/src/modules/infra/components/InfraSelector/InfraSelectorEditionActionsBar.tsx
  front/src/modules/infra/components/InfraSelector/InfraSelectorEditionItem.tsx
  front/src/modules/infra/components/InfraSelector/InfraSelectorModalBodyEdition.tsx
  front/src/modules/infra/components/InfraSelector/InfraSelectorModalBodyStandard.tsx
  front/src/modules/infra/styles/_infraSelector.scss
  front/src/reducers/infra/generateGrantSelectProps.spec.ts
  front/src/reducers/user/index.ts
  front/src/reducers/user/userReducer.spec.ts
  front/src/reducers/user/userSelectors.ts
  front/src/utils/hooks/useAuth.ts
Labels: area:front

#11335 front: remove setTimeOut from trainSettings
  front/src/modules/trainschedule/components/ManageTrainSchedule/TrainSettings.tsx
Labels: area:front
