Repository OpenRailAssociation/osrd, pull requests merged in 2025-10, with the labels that each got.

#13418 editoast: add missing service deps to README.md
  editoast/README.md
Labels: kind:documentation, area:editoast

#13493 front: temporarily skip space-time diagram snapshot e2e test
  front/tests/021-get-manchette.spec.ts
Labels: area:front

#13495 Translations of `STDCM` component updated
  front/public/locales/de/stdcm.json
Labels: area:front

#13509 editoast: rename `valkey` to `valkey_client`
  editoast/src/views/infra/edition.rs
  editoast/src/views/infra/mod.rs
  editoast/src/views/layers.rs
  editoast/src/views/mod.rs
  editoast/src/views/path/pathfinding.rs
  editoast/src/views/path/properties.rs
  editoast/src/views/test_app.rs
  editoast/src/views/timetable.rs
  editoast/src/views/timetable/paced_train.rs
  editoast/src/views/timetable/similar_trains.rs
  editoast/src/views/timetable/stdcm.rs
  editoast/src/views/timetable/train_schedule.rs
Labels: area:editoast

#13451 front: add handle and enlarge reticular
  front/src/applications/operationalStudies/views/Scenario/components/ScenarioContent.tsx
  front/src/applications/operationalStudies/views/Scenario/components/SimulationResults/SimulationResults.tsx
Labels: area:front

#13523 front: fix paced interval comparison in round trip modal
  front/src/applications/operationalStudies/utils.ts
Labels: area:front

#13517 front: add loader during infra creation
  front/src/modules/infra/components/InfraSelector/InfraSelectorModalBodyEdition.tsx
Labels: area:front

#13508 core: stdcm: properly add rs length to mrsp
  core/src/main/kotlin/fr/sncf/osrd/stdcm/graph/STDCMSimulations.kt
Labels: area:core

#13519 core: stdcm: add telemetry events to progress logger
  core/src/main/kotlin/fr/sncf/osrd/stdcm/ProgressLogger.kt
Labels: area:core

#13532 front: space out the delete button on scenario
  front/src/styles/scss/applications/operationalStudies/_scenario.scss
Labels: kind:enhancement, area:front, from:users

#12752 front: operational studies only display selected train conflicts
  front/public/locales/de/operational-studies.json
  front/public/locales/en/operational-studies.json
  front/public/locales/fr/operational-studies.json
  front/src/applications/operationalStudies/views/Scenario/components/ScenarioContent.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/OccurrenceItem.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/PacedTrain/PacedTrainItem.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/Timetable.tsx
  front/src/applications/operationalStudies/views/Scenario/components/Timetable/TrainScheduleItem.tsx
  front/src/modules/conflict/__tests__/sampleData.ts
  front/src/modules/conflict/__tests__/utils.spec.ts
  front/src/modules/conflict/components/ConflictCard.tsx
  front/src/modules/conflict/components/Conflicts.tsx
  front/src/modules/conflict/components/ConflictsList.tsx
  front/src/modules/conflict/components/ConflictsToolbar.tsx
  front/src/modules/conflict/hooks/useConflictsFilter.ts
  front/src/modules/conflict/styles/_conflicts.scss
  front/src/modules/conflict/styles/_conflictsToolbar.scss
  front/src/modules/conflict/styles/conflict.scss
  front/src/modules/conflict/types.ts
  front/src/modules/conflict/utils.ts
  front/src/styles/scss/common/components/_osrdTooltip.scss
Labels: area:front, module:operational-studies

#13541 front: prevent 3d layer toggled on without osm
  front/src/common/Map/Settings/MapSettingsBackgroundSwitches.tsx
Labels: area:front

#13587 editoast: new endpoint to update a note for nge
  editoast/openapi.yaml
  editoast/src/views/mod.rs
  editoast/src/views/scenario/macro_notes.rs
  front/src/common/api/generatedEditoastApi.ts
Labels: area:front, area:editoast, kind:api-change

#13590 editoast: sync Cargo.lock
  editoast/Cargo.lock
Labels: area:editoast

#13580 editoast: add core payload to stdcm errors
  editoast/src/views/timetable/stdcm.rs
Labels: area:editoast

#13591 editoast: cache: new `Mock` client using `redis-test`
  editoast/Cargo.lock
  editoast/Cargo.toml
  editoast/cache/Cargo.toml
  editoast/cache/src/client.rs
  editoast/cache/src/connection.rs
  editoast/cache/src/lib.rs
Labels: area:editoast

#13594 front: fix mass conversion
  front/src/modules/SimulationReportSheet/SimulationReportSheet.tsx
Labels: area:front
